Repository ansible-collections/community.general, pull requests merged in 2020-09, with the labels that each got.

#845 Reduce ignored sanity tests in cloud/misc modules
  plugins/modules/cloud/misc/cloud_init_data_facts.py
  plugins/modules/cloud/misc/helm.py
  plugins/modules/cloud/misc/ovirt.py
  plugins/modules/cloud/misc/proxmox.py
  plugins/modules/cloud/misc/proxmox_kvm.py
  plugins/modules/cloud/misc/proxmox_template.py
  plugins/modules/cloud/misc/rhevm.py
  plugins/modules/cloud/misc/serverless.py
  plugins/modules/cloud/misc/terraform.py
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.9.txt
Labels: affects_2.10, bug, cloud, community_review, module, needs_triage, plugins, tests

#763 Fix for error trying to install cask with '@' in the name
  changelogs/fragments/homebrew-cask-at-symbol-fix.yaml
  plugins/modules/packaging/os/homebrew_cask.py
Labels: affects_2.10, bug, community_review, module, new_contributor, os, packaging, plugins, small_patch

#783 gem: Fix get_installed_versions: correctly parse "default" version.
  changelogs/fragments/783-fix-gem-installed-versions.yaml
  plugins/modules/packaging/language/gem.py
Labels: affects_2.10, bug, community_review, language, module, new_contributor, packaging, plugins, small_patch, stale_ci

#802 Specify device for Pushover notification
  changelogs/fragments/802-pushover-device-parameter.yml
  plugins/modules/notification/pushover.py
Labels: affects_2.10, community_review, feature, module, new_contributor, notification, plugins

#741 Scaleway Database Backup : Create new module
  plugins/modules/cloud/scaleway/scaleway_database_backup.py
  plugins/modules/scaleway_database_backup.py
  tests/integration/targets/scaleway_database_backup/aliases
  tests/integration/targets/scaleway_database_backup/defaults/main.yml
  tests/integration/targets/scaleway_database_backup/tasks/main.yml
Labels: affects_2.10, cloud, community_review, integration, module, module_utils, new_module, new_plugin, plugins, tests

#811 proxmox_kvm: fix idempotency issue with state=absent
  changelogs/fragments/811-proxmox-kvm-state-absent.yml
  plugins/modules/cloud/misc/proxmox_kvm.py
Labels: affects_2.10, bug, cloud, community_review, module, new_contributor, plugins

#849 proxmox_kvm: recognize force=yes with state=absent
  changelogs/fragments/849-proxmox-kvm-state-absent-force.yml
  plugins/modules/cloud/misc/proxmox_kvm.py
Labels: affects_2.10, cloud, community_review, feature, module, plugins

#863 Slack: moves to \S+ check instead of \w+-\w+
  changelogs/fragments/892-slack-token-validation.yml
  plugins/modules/notification/slack.py
Labels: affects_2.10, bug, community_review, module, new_contributor, notification, plugins, small_patch

#869 postgresql_user: add a note explaining how to work with SCRAM-SHA passwords
  plugins/modules/database/postgresql/postgresql_user.py
Labels: affects_2.10, community_review, database, docs, module, needs_triage, owner_pr, plugins, postgresql, small_patch

#871 BOTMETA.yml: add a new team member to team_virt
  .github/BOTMETA.yml
Labels: affects_2.10, community_review, feature, gitlab, needs_triage, small_patch

#843 add message_id (ts) option to slack module to allow editing messages
  changelogs/fragments/843-update-slack-messages.yml
  plugins/modules/notification/slack.py
Labels: affects_2.10, community_review, feature, has_issue, module, new_contributor, notification, plugins

#831 proxmox_kvm: new function wait_for_task()
  changelogs/fragments/831-proxmox-kvm-wait.yml
  plugins/modules/cloud/misc/proxmox_kvm.py
Labels: affects_2.10, bug, cloud, community_review, module, owner_pr, plugins

#873 interfaces_file: re.escape() old value
  changelogs/fragments/777-interfaces_file-re-escape.yml
  plugins/modules/system/interfaces_file.py
Labels: affects_2.10, bug, community_review, has_issue, module, new_contributor, plugins, small_patch, system

#858 postgresql_privs: allow lowercased PUBLIC role
  changelogs/fragments/858-postgresql_privs_should_allow_public_role_lowercased.yml
  plugins/modules/database/postgresql/postgresql_privs.py
  tests/integration/targets/postgresql_privs/tasks/postgresql_privs_initial.yml
Labels: affects_2.10, bug, community_review, database, has_issue, integration, module, needs_triage, plugins, postgresql, tests

#825 redfish_command: allow setting the BootSourceOverrideEnabled property
  changelogs/fragments/825-bootsource-override-option.yaml
  plugins/module_utils/redfish_utils.py
  plugins/modules/remote_management/redfish/redfish_command.py
Labels: affects_2.10, community_review, module, module_utils, new_contributor, plugins, remote_management

#877 Fix failing integration tests
  tests/integration/targets/setup_epel/tasks/main.yml
Labels: affects_2.10, bug, community_review, integration, needs_triage, small_patch, tests

#880 [stable-1] interfaces_file: re.escape() old value
  changelogs/fragments/777-interfaces_file-re-escape.yml
  plugins/modules/system/interfaces_file.py
Labels: affects_2.10, bug, community_review, module, needs_triage, plugins, small_patch, system

#872 postgresql_user: improve documentation
  plugins/modules/database/postgresql/postgresql_user.py
Labels: affects_2.10, community_review, database, docs, module, needs_triage, owner_pr, plugins, postgresql

#887 Rollback if nothing changed
  changelogs/fragments/887-rollback-if-nothing-changed.yml
  plugins/modules/database/postgresql/postgresql_privs.py
Labels: affects_2.10, bug, community_review, database, module, new_contributor, plugins, postgresql, small_patch

#844 add a custom module for managing group membership in gitlab
  plugins/modules/gitlab_group_members.py
  plugins/modules/source_control/gitlab/gitlab_group_members.py
  tests/integration/targets/gitlab_group_members/aliases
  tests/integration/targets/gitlab_group_members/tasks/main.yml
  tests/integration/targets/gitlab_group_members/vars/main.yml
Labels: affects_2.10, bug, community_review, gitlab, integration, module, new_contributor, new_module, new_plugin, plugins, source_control, tests

#892 Fix CI (problem with cffi)
  tests/integration/targets/setup_docker/meta/main.yml
  tests/integration/targets/setup_openssl/meta/main.yml
  tests/integration/targets/setup_openssl/tasks/main.yml
  tests/utils/constraints.txt
Labels: affects_2.10, bug, community_review, integration, needs_triage, tests

#881 Fix various sanity errors in plugins
  meta/runtime.yml
  plugins/become/pfexec.py
  plugins/callback/counter_enabled.py
  plugins/callback/mail.py
  plugins/inventory/gitlab_runners.py
  plugins/lookup/chef_databag.py
  plugins/lookup/consul_kv.py
  plugins/lookup/credstash.py
  plugins/lookup/cyberarkpassword.py
  plugins/lookup/dig.py
  plugins/lookup/dsv.py
  plugins/lookup/etcd3.py
  plugins/lookup/filetree.py
  plugins/lookup/gcp_storage_file.py
  plugins/lookup/hashi_vault.py
  plugins/lookup/hiera.py
  plugins/lookup/keyring.py
  plugins/lookup/lastpass.py
  plugins/lookup/lmdb_kv.py
  plugins/lookup/nios.py
  plugins/lookup/nios_next_ip.py
  plugins/lookup/nios_next_network.py
  plugins/lookup/onepassword.py
  plugins/lookup/onepassword_raw.py
  plugins/lookup/passwordstore.py
  plugins/lookup/redis.py
  plugins/lookup/shelvefile.py
  plugins/lookup/tss.py
Labels: affects_2.10, backport-stable-1, become, bug, callback, community_review, inventory, lookup, needs_triage, plugins

#897 [lookup_plugin/hashi_vault] add missing 'mount_point' param for approle
  changelogs/fragments/897-lookup-plugin-hashivault-add-approle-mount-point.yaml
  plugins/lookup/hashi_vault.py
Labels: affects_2.10, bug, community_review, lookup, needs_triage, new_contributor, plugins, small_patch

#929 Support use of VAULT_NAMESPACE env var
  changelogs/fragments/929-vault-namespace-support.yml
  plugins/lookup/hashi_vault.py
Labels: affects_2.10, bug, community_review, lookup, needs_triage, new_contributor, plugins, small_patch

#902 hashi_vault - Change token_path env var loading precedence
  changelogs/fragments/902-hashi_vault-token-path.yml
  plugins/lookup/hashi_vault.py
Labels: affects_2.10, bug, community_review, lookup, needs_triage, plugins

#939 zypper_repository: Proper failure when python-xml is missing
  changelogs/fragments/939-zypper_repository_proper_failure_on_missing_python-xml.yml
  plugins/modules/packaging/os/zypper_repository.py
Labels: affects_2.10, bug, community_review, module, os, packaging, plugins, traceback

#786 Create gitlab_group_variable.py
  plugins/modules/gitlab_group_variable.py
  plugins/modules/source_control/gitlab/gitlab_group_variable.py
  tests/integration/targets/gitlab_group_variable/aliases
  tests/integration/targets/gitlab_group_variable/tasks/main.yml
Labels: affects_2.10, community_review, gitlab, integration, module, new_contributor, new_module, new_plugin, plugins, source_control, tests

#943 Remove amenonsen from maintainer lists
  .github/BOTMETA.yml
Labels: affects_2.10, bug, community_review, needs_triage

#903 Support same reset actions on Managers as on Systems
  changelogs/fragments/903-enhance-redfish-manager-reset-actions.yml
  plugins/module_utils/redfish_utils.py
  plugins/modules/remote_management/redfish/redfish_command.py
Labels: affects_2.10, feature, module, module_utils, owner_pr, plugins, remote_management, shipit

#946 Add new members to gitlab team
  .github/BOTMETA.yml
Labels: affects_2.10, community_review, docs, needs_triage, small_patch

#934 proxmox_kvm: code cleanup
  changelogs/fragments/943-proxmox-kvm-code-cleanup.yml
  plugins/modules/cloud/misc/proxmox_kvm.py
Labels: affects_2.10, bug, cloud, community_review, module, owner_pr, performance, plugins

#941 postgresql_privs: add usage_on_types option
  changelogs/fragments/941-postgresql_privs_usage_on_types_option.yml
  plugins/modules/database/postgresql/postgresql_privs.py
  tests/integration/targets/postgresql_privs/tasks/postgresql_privs_general.yml
Labels: affects_2.10, bug, community_review, database, has_issue, integration, module, needs_triage, plugins, postgresql, tests

#957 Fix docker test setup
  tests/integration/targets/setup_docker/tasks/Fedora.yml
  tests/integration/targets/setup_docker/tasks/RedHat-7.yml
  tests/integration/targets/setup_docker/tasks/RedHat-8.yml
  tests/integration/targets/setup_docker/vars/RedHat-8.yml
Labels: affects_2.10, backport-stable-1, bug, community_review, integration, needs_triage, tests

#900 [aerospike_migrations] - handle exception for unstable-cluster
  changelogs/fragments/900-aerospike-migration-handle-unstable-cluster.yaml
  plugins/modules/database/aerospike/aerospike_migrations.py
Labels: affects_2.10, bug, community_review, database, module, needs_triage, new_contributor, plugins

#956 [PR #934 backport][stable-1] proxmox_kvm: code cleanup
  changelogs/fragments/943-proxmox-kvm-code-cleanup.yml
  plugins/modules/cloud/misc/proxmox_kvm.py
Labels: affects_2.10, cloud, module, needs_info, needs_template, owner_pr, plugins

#899 launchd: fix for user-level services
  changelogs/fragments/899_launchd_user_service.yml
  plugins/modules/system/launchd.py
Labels: affects_2.10, bug, check-before-release, community_review, module, new_contributor, plugins, small_patch, system

#945 Use platform.system for Darwin comparisons
  changelogs/fragments/945-darwin-timezone-py3.yaml
  plugins/modules/system/timezone.py
Labels: affects_2.10, bug, check-before-release, community_review, module, plugins, python3, small_patch, system

#981 🤖 Add initial Patchback config
  .github/patchback.yml
Labels: affects_2.10, community_review, needs_triage

#979 docker_container: fix idempotency problem with empty published_ports list
  changelogs/fragments/979-docker_container-published_ports-empty-idempotency.yml
  plugins/modules/cloud/docker/docker_container.py
  tests/integration/targets/docker_container/tasks/tests/options.yml
Labels: affects_2.10, bug, cloud, community_review, docker, has_issue, integration, module, needs_triage, plugins, tests

#976 PostgreSQL team: add a new maintainer
  .github/BOTMETA.yml
Labels: affects_2.10, community_review, docs, needs_triage, small_patch

#966 Improve plugin sanity
  plugins/cache/memcached.py
  plugins/cache/redis.py
  plugins/callback/actionable.py
  plugins/callback/cgroup_memory_recap.py
  plugins/callback/context_demo.py
  plugins/callback/counter_enabled.py
  plugins/callback/diy.py
  plugins/callback/full_skip.py
  plugins/callback/hipchat.py
  plugins/callback/jabber.py
  plugins/callback/log_plays.py
  plugins/callback/logdna.py
  plugins/callback/logentries.py
  plugins/callback/logstash.py
  plugins/callback/null.py
  plugins/callback/say.py
  plugins/callback/selective.py
  plugins/callback/slack.py
  plugins/callback/splunk.py
  plugins/callback/stderr.py
  plugins/callback/syslog_json.py
  plugins/callback/unixy.py
  plugins/callback/yaml.py
  plugins/connection/chroot.py
  plugins/connection/docker.py
  plugins/connection/iocage.py
  plugins/connection/lxc.py
  plugins/connection/lxd.py
  plugins/connection/oc.py
  plugins/inventory/cobbler.py
  plugins/inventory/nmap.py
  plugins/inventory/virtualbox.py
  plugins/lookup/cartesian.py
  plugins/lookup/chef_databag.py
  plugins/lookup/consul_kv.py
  plugins/lookup/credstash.py
  plugins/lookup/cyberarkpassword.py
  plugins/lookup/etcd.py
  plugins/lookup/etcd3.py
  plugins/lookup/flattened.py
  plugins/lookup/gcp_storage_file.py
  plugins/lookup/hashi_vault.py
  plugins/lookup/keyring.py
  plugins/lookup/lastpass.py
  plugins/lookup/manifold.py
  plugins/lookup/nios.py
  plugins/lookup/nios_next_ip.py
  plugins/lookup/nios_next_network.py
  plugins/lookup/passwordstore.py
  plugins/lookup/redis.py
  plugins/lookup/shelvefile.py
Labels: affects_2.10, bug, community_review, needs_rebase, needs_revision, needs_triage

#936 Fix zfs snapshot handling on root zvols
  changelogs/fragments/zfs-root-snapshot.yml
  plugins/modules/storage/zfs/zfs.py
Labels: affects_2.10, backport-1, bug, check-before-release, community_review, module, new_contributor, plugins, small_patch, stale_ci, storage

#594 parted: proper fix for change of partition label case
  changelogs/fragments/522-parted_change_label.yml
  plugins/modules/system/parted.py
  tests/unit/plugins/modules/system/test_parted.py
Labels: affects_2.10, backport-1, bug, check-before-release, community_review, module, plugins, system, tests

#967 use FQCN when calling a module from action plugin
  changelogs/fragments/967-use-fqcn-when-calling-a-module-from-action-plugin.yml
  plugins/action/system/iptables_state.py
Labels: action, affects_2.10, backport-1, bug, community_review, integration, plugins, system, tests

#820 Nagios: added 'acknowledge' and 'schedule_forced_svc_check' action
  changelogs/fragments/820_nagios_added_acknowledge_and_servicecheck.yml
  plugins/modules/monitoring/nagios.py
Labels: affects_2.10, backport-1, check-before-release, community_review, feature, module, monitoring, new_contributor, plugins

#699 Fix changes detection for django_manage createcachetable
  changelogs/fragments/699-django_manage-createcachetable-fix-idempotence.yml
  plugins/modules/web_infrastructure/django_manage.py
Labels: affects_2.10, backport-1, bug, check-before-release, community_review, module, new_contributor, plugins, stale_ci, web_infrastructure

#974 django_manage module: add new maintainers
  .github/BOTMETA.yml
Labels: affects_2.10, community_review, docs, needs_triage, small_patch

#1000 postgresql modules: fix BOTMETA.yml
  .github/BOTMETA.yml
Labels: affects_2.10, backport-1, community_review, docs, needs_triage

#998 nagios: force an active service check for all services of a particular host or for the host itself
  changelogs/fragments/998-nagios-added_forced_check_for_all_services_or_host.yml
  plugins/modules/monitoring/nagios.py
Labels: affects_2.10, community_review, feature, module, monitoring, new_contributor, plugins

#951 ipa_user: Add userauthtype param
  changelogs/fragments/951-ipa_user-add-userauthtype-param.yaml
  plugins/modules/identity/ipa/ipa_user.py
Labels: affects_2.10, backport-1, community_review, feature, identity, module, new_contributor, plugins

#996 postgresql_privs: fix the module mistakes a procedure for a function
  changelogs/fragments/996-postgresql_privs_fix_function_handling.yml
  plugins/modules/database/postgresql/postgresql_privs.py
  tests/integration/targets/postgresql_privs/tasks/postgresql_privs_general.yml
Labels: affects_2.10, bug, community_review, database, has_issue, integration, module, plugins, postgresql, tests

#992 nmcli: set C locale when executing nmcli
  changelogs/fragments/992-nmcli-locale.yml
  plugins/modules/net_tools/nmcli.py
Labels: affects_2.10, backport-1, bug, community_review, module, needs_triage, net_tools, plugins, small_patch

#799 pkgutil: add update all, check-mode, squashing and examples
  changelogs/fragments/pkgutil-check-mode-etc.yaml
  plugins/modules/packaging/os/pkgutil.py
  tests/integration/targets/pkgutil/aliases
  tests/integration/targets/pkgutil/tasks/main.yml
Labels: affects_2.10, backport-1, community_review, feature, integration, module, os, packaging, plugins, tests

#1010 Fix failing FreeBSD CI
  tests/integration/targets/inventory_kubevirt/runme.sh
Labels: WIP, affects_2.10, backport-1, bug, integration, needs_triage, tests

#856 Add inventory plugin for Stackpath Edge Compute
  plugins/inventory/stackpath_compute.py
  tests/unit/plugins/inventory/test_stackpath_compute.py
Labels: affects_2.10, backport-1, community_review, inventory, needs_triage, new_contributor, new_plugin, plugins, tests

#1019 Update BOTMETA.yml
  .github/BOTMETA.yml
Labels: affects_2.10, backport-1, community_review, docs, needs_triage
