Repository ansible-collections/community.general, pull requests merged in 2020-11, with the labels that each got.

#1203 Remove 'authors' from BOTMETA.yml
  .github/BOTMETA.yml
Labels: affects_2.10, backport-1, community_review, docs, needs_triage

#1219 postgresql_user: fix documentation formatting
  plugins/modules/database/postgresql/postgresql_user.py
Labels: affects_2.10, backport-1, community_review, database, docs, module, needs_triage, owner_pr, plugins, postgresql, small_patch

#1221 Fix callback_log_plays tests for current devel branch of ansible-base
  tests/integration/targets/callback_log_plays/runme.sh
Labels: affects_2.10, backport-1, bug, community_review, integration, needs_triage, small_patch, tests

#1223 Remove redundant aliases from NIOS modules
  changelogs/fragments/1223-nios-remove-redundant-aliases.yml
  plugins/modules/net_tools/nios/nios_fixed_address.py
  plugins/modules/net_tools/nios/nios_host_record.py
  plugins/modules/net_tools/nios/nios_zone.py
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
Labels: affects_2.10, backport-1, bug, community_review, module, net_tools, new_contributor, plugins, tests

#1212 Enabling validation-modules for system modules
  plugins/modules/system/aix_filesystem.py
  plugins/modules/system/aix_inittab.py
  plugins/modules/system/aix_lvg.py
  plugins/modules/system/aix_lvol.py
  plugins/modules/system/awall.py
  plugins/modules/system/dconf.py
  plugins/modules/system/gconftool2.py
  plugins/modules/system/interfaces_file.py
  plugins/modules/system/java_keystore.py
  plugins/modules/system/kernel_blacklist.py
  plugins/modules/system/lbu.py
  plugins/modules/system/locale_gen.py
  plugins/modules/system/lvg.py
  plugins/modules/system/lvol.py
  plugins/modules/system/mksysb.py
  plugins/modules/system/modprobe.py
  plugins/modules/system/nosh.py
  plugins/modules/system/open_iscsi.py
  plugins/modules/system/openwrt_init.py
  plugins/modules/system/pam_limits.py
  plugins/modules/system/pamd.py
  plugins/modules/system/parted.py
  plugins/modules/system/puppet.py
  plugins/modules/system/python_requirements_info.py
  plugins/modules/system/sefcontext.py
  plugins/modules/system/selogin.py
  plugins/modules/system/seport.py
  plugins/modules/system/solaris_zone.py
  plugins/modules/system/syspatch.py
  plugins/modules/system/vdo.py
  plugins/modules/system/xfconf.py
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.9.txt
Labels: affects_2.10, backport-1, community_review, docs, module, plugins, system, tests

#1046 proxmox_template download appliance templates
  changelogs/fragments/proxmox_template-appliance-download.yml
  plugins/modules/cloud/misc/proxmox_template.py
Labels: affects_2.10, backport-1, check-before-release, cloud, community_review, feature, module, new_contributor, plugins

#1229 Tidy up validate-modules ignores for notification modules
  plugins/modules/notification/bearychat.py
  plugins/modules/notification/campfire.py
  plugins/modules/notification/catapult.py
  plugins/modules/notification/flowdock.py
  plugins/modules/notification/grove.py
  plugins/modules/notification/hipchat.py
  plugins/modules/notification/irc.py
  plugins/modules/notification/jabber.py
  plugins/modules/notification/logentries_msg.py
  plugins/modules/notification/mail.py
  plugins/modules/notification/matrix.py
  plugins/modules/notification/mattermost.py
  plugins/modules/notification/mqtt.py
  plugins/modules/notification/nexmo.py
  plugins/modules/notification/office_365_connector_card.py
  plugins/modules/notification/pushbullet.py
  plugins/modules/notification/pushover.py
  plugins/modules/notification/rocketchat.py
  plugins/modules/notification/say.py
  plugins/modules/notification/sendgrid.py
  plugins/modules/notification/slack.py
  plugins/modules/notification/syslogger.py
  plugins/modules/notification/telegram.py
  plugins/modules/notification/twilio.py
  plugins/modules/notification/typetalk.py
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.9.txt
Labels: affects_2.10, backport-1, community_review, docs, module, needs_triage, notification, plugins, tests

#1234 Clarify COLLECTIONS_PATH value when using clone
  README.md
Labels: affects_2.10, backport-1, community_review, docs, needs_triage, new_contributor

#1126 InfluxDB_database: Make the path argument conditional on the InfluxDB version
  changelogs/fragments/1126-influxdb-conditional-path-argument.yml
  plugins/doc_fragments/influxdb.py
  plugins/module_utils/influxdb.py
  plugins/modules/database/influxdb/influxdb_database.py
Labels: affects_2.10, bug, community_review, database, docs_fragments, module, module_utils, new_contributor, plugins, stale_ci

#1205 [PR #850/d6f5029 backport][stable-1] proxmox, proxmox_kvm: Deprecate hard-coded defaults
  changelogs/fragments/850-proxmox_kvm-remove_hard_coded_defaults.yml
  plugins/modules/cloud/misc/proxmox.py
  plugins/modules/cloud/misc/proxmox_kvm.py
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.9.txt
Labels: affects_2.10, bug, check-before-release, cloud, community_review, module, plugins, tests

#1139 odbc: adding parameter to disable auto-commit (#1137)
  changelogs/fragments/odbc.yml
  plugins/modules/database/misc/odbc.py
Labels: affects_2.10, backport-1, bug, community_review, database, module, owner_pr, plugins

#1242 Tidy up validate-modules ignores for rackspace modules
  plugins/doc_fragments/rackspace.py
  plugins/modules/cloud/rackspace/rax.py
  plugins/modules/cloud/rackspace/rax_cbs.py
  plugins/modules/cloud/rackspace/rax_cbs_attachments.py
  plugins/modules/cloud/rackspace/rax_cdb.py
  plugins/modules/cloud/rackspace/rax_cdb_database.py
  plugins/modules/cloud/rackspace/rax_cdb_user.py
  plugins/modules/cloud/rackspace/rax_clb.py
  plugins/modules/cloud/rackspace/rax_clb_nodes.py
  plugins/modules/cloud/rackspace/rax_clb_ssl.py
  plugins/modules/cloud/rackspace/rax_dns.py
  plugins/modules/cloud/rackspace/rax_dns_record.py
  plugins/modules/cloud/rackspace/rax_facts.py
  plugins/modules/cloud/rackspace/rax_files.py
  plugins/modules/cloud/rackspace/rax_files_objects.py
  plugins/modules/cloud/rackspace/rax_identity.py
  plugins/modules/cloud/rackspace/rax_keypair.py
  plugins/modules/cloud/rackspace/rax_meta.py
  plugins/modules/cloud/rackspace/rax_mon_alarm.py
  plugins/modules/cloud/rackspace/rax_mon_check.py
  plugins/modules/cloud/rackspace/rax_mon_entity.py
  plugins/modules/cloud/rackspace/rax_mon_notification.py
  plugins/modules/cloud/rackspace/rax_mon_notification_plan.py
  plugins/modules/cloud/rackspace/rax_network.py
  plugins/modules/cloud/rackspace/rax_queue.py
  plugins/modules/cloud/rackspace/rax_scaling_group.py
  plugins/modules/cloud/rackspace/rax_scaling_policy.py
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.9.txt
Labels: affects_2.10, backport-1, cloud, community_review, docs, docs_fragments, module, needs_triage, plugins, tests

#216 lxc_container: fix the type of the 'container_config' parameter
  changelogs/fragments/216-fix-lxc-container-container_config-parameter.yaml
  plugins/modules/cloud/lxc/lxc_container.py
Labels: affects_1, backport-1, bug, community_review, module, new_contributor, pr_day

#1244 Changed parameter name, added aliases for compatibility.
  changelogs/fragments/1244-renamed-parameter.yaml
  plugins/modules/web_infrastructure/django_manage.py
Labels: affects_2.10, backport-1, community_review, feature, module, needs_triage, owner_pr, plugins, web_infrastructure

#229 Fix idempotent issue when using lvol with %VG or %PVS size options and VG is fully allocated
  changelogs/fragments/229_lvol_percentage_fix.yml
  plugins/modules/system/lvol.py
Labels: affects_1, backport-1, bug, check-before-release, community_review, has_issue, module, new_contributor, pr_day, small_patch

#1249 Add a warning when ansible_key label is not found on a secret. (#31)
  changelogs/fragments/community.docker-31-docker-secret.yml
  plugins/modules/cloud/docker/docker_secret.py
Labels: affects_2.10, backport-1, bug, cloud, community_review, docker, module, needs_triage, owner_pr, plugins, small_patch

#1252 BOTMETA.yml: add a maintainer for syslog_json
  .github/BOTMETA.yml
Labels: affects_2.10, backport-1, community_review, docs, needs_triage, small_patch

#1254 BOTMETA.yml: add a new maintainer of parted module
  .github/BOTMETA.yml
Labels: affects_2.10, backport-1, community_review, docs, small_patch

#1196 added description parameter to create request
  changelogs/fragments/1196-use_description-in-gitlab-group-creation.yml
  plugins/modules/source_control/gitlab/gitlab_group.py
  tests/integration/targets/gitlab_group/tasks/main.yml
  tests/unit/plugins/modules/source_control/gitlab/test_gitlab_group.py
Labels: affects_2.10, backport-1, bug, community_review, gitlab, integration, module, plugins, source_control, tests, unit

#1265 Tidy up validate-modules ignores for cloud/google modules
  plugins/modules/cloud/google/gc_storage.py
  plugins/modules/cloud/google/gcdns_record.py
  plugins/modules/cloud/google/gcdns_zone.py
  plugins/modules/cloud/google/gce.py
  plugins/modules/cloud/google/gce_eip.py
  plugins/modules/cloud/google/gce_img.py
  plugins/modules/cloud/google/gce_instance_template.py
  plugins/modules/cloud/google/gce_labels.py
  plugins/modules/cloud/google/gce_lb.py
  plugins/modules/cloud/google/gce_mig.py
  plugins/modules/cloud/google/gce_net.py
  plugins/modules/cloud/google/gce_pd.py
  plugins/modules/cloud/google/gce_snapshot.py
  plugins/modules/cloud/google/gce_tag.py
  plugins/modules/cloud/google/gcp_backend_service.py
  plugins/modules/cloud/google/gcp_forwarding_rule.py
  plugins/modules/cloud/google/gcp_healthcheck.py
  plugins/modules/cloud/google/gcp_target_proxy.py
  plugins/modules/cloud/google/gcp_url_map.py
  plugins/modules/cloud/google/gcpubsub.py
  plugins/modules/cloud/google/gcpubsub_info.py
  plugins/modules/cloud/google/gcspanner.py
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.9.txt
Labels: affects_2.10, backport-1, cloud, community_review, docs, gce, module, plugins, tests

#1268 Tidy up validate-modules ignores for cloud/scaleway modules
  plugins/modules/cloud/scaleway/scaleway_compute.py
  plugins/modules/cloud/scaleway/scaleway_image_facts.py
  plugins/modules/cloud/scaleway/scaleway_image_info.py
  plugins/modules/cloud/scaleway/scaleway_ip.py
  plugins/modules/cloud/scaleway/scaleway_ip_facts.py
  plugins/modules/cloud/scaleway/scaleway_ip_info.py
  plugins/modules/cloud/scaleway/scaleway_lb.py
  plugins/modules/cloud/scaleway/scaleway_security_group.py
  plugins/modules/cloud/scaleway/scaleway_security_group_facts.py
  plugins/modules/cloud/scaleway/scaleway_security_group_info.py
  plugins/modules/cloud/scaleway/scaleway_security_group_rule.py
  plugins/modules/cloud/scaleway/scaleway_server_facts.py
  plugins/modules/cloud/scaleway/scaleway_server_info.py
  plugins/modules/cloud/scaleway/scaleway_snapshot_facts.py
  plugins/modules/cloud/scaleway/scaleway_snapshot_info.py
  plugins/modules/cloud/scaleway/scaleway_sshkey.py
  plugins/modules/cloud/scaleway/scaleway_user_data.py
  plugins/modules/cloud/scaleway/scaleway_volume.py
  plugins/modules/cloud/scaleway/scaleway_volume_facts.py
  plugins/modules/cloud/scaleway/scaleway_volume_info.py
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.9.txt
Labels: affects_2.10, backport-1, cloud, community_review, docs, module, needs_triage, plugins, tests

#1272 Tidy up validate-modules ignores for remote_management/manageiq modules
  plugins/doc_fragments/manageiq.py
  plugins/modules/remote_management/manageiq/manageiq_alert_profiles.py
  plugins/modules/remote_management/manageiq/manageiq_alerts.py
  plugins/modules/remote_management/manageiq/manageiq_group.py
  plugins/modules/remote_management/manageiq/manageiq_policies.py
  plugins/modules/remote_management/manageiq/manageiq_provider.py
  plugins/modules/remote_management/manageiq/manageiq_tags.py
  plugins/modules/remote_management/manageiq/manageiq_tenant.py
  plugins/modules/remote_management/manageiq/manageiq_user.py
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.9.txt
Labels: affects_2.10, community_review, docs, docs_fragments, module, needs_triage, plugins, remote_management, tests

#1276 BOTMETA.yml: add a new maintainer of filesystem module
  .github/BOTMETA.yml
Labels: affects_2.10, backport-1, community_review, docs, small_patch

#965 Add OpenBSD pkg_add(1) snapshot support
  changelogs/fragments/openbsd_pkg.yml
  plugins/modules/packaging/os/openbsd_pkg.py
Labels: affects_2.10, backport-1, bug, module, new_contributor, os, packaging, plugins, shipit

#1269 Adds a module for sending PagerDuty change events.
  plugins/modules/monitoring/pagerduty_change.py
  plugins/modules/pagerduty_change.py
  tests/unit/plugins/modules/monitoring/test_pagerduty_change.py
Labels: affects_2.10, backport-1, community_review, module, monitoring, needs_triage, new_contributor, new_module, new_plugin, tests, unit

#1270 Add support for StackScripts to Linode v4 module
  changelogs/fragments/1270-linode-v4-stackscript-support.yaml
  plugins/modules/cloud/linode/linode_v4.py
Labels: affects_2.10, automerge, backport-1, cloud, feature, module, new_contributor, owner_pr, plugins, shipit

#1287 BOTMETA.yml: add a maintainer of pagerduty_change module
  .github/BOTMETA.yml
Labels: affects_2.10, backport-1, community_review, docs, needs_triage, small_patch

#1289 Tidy up validate-modules ignores for packaging modules
  plugins/modules/packaging/language/bower.py
  plugins/modules/packaging/language/bundler.py
  plugins/modules/packaging/language/composer.py
  plugins/modules/packaging/language/cpanm.py
  plugins/modules/packaging/language/easy_install.py
  plugins/modules/packaging/language/gem.py
  plugins/modules/packaging/language/maven_artifact.py
  plugins/modules/packaging/language/pear.py
  plugins/modules/packaging/language/yarn.py
  plugins/modules/packaging/os/apk.py
  plugins/modules/packaging/os/apt_rpm.py
  plugins/modules/packaging/os/macports.py
  plugins/modules/packaging/os/openbsd_pkg.py
  plugins/modules/packaging/os/opkg.py
  plugins/modules/packaging/os/pacman.py
  plugins/modules/packaging/os/pkg5.py
  plugins/modules/packaging/os/rhn_channel.py
  plugins/modules/packaging/os/slackpkg.py
  plugins/modules/packaging/os/urpmi.py
  plugins/modules/packaging/os/xbps.py
  plugins/modules/packaging/os/zypper.py
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.9.txt
Labels: affects_2.10, backport-1, community_review, docs, language, module, needs_maintainer, os, packaging, plugins, tests

#1294 Fix zypper tests
  tests/integration/targets/zypper/tasks/zypper.yml
Labels: affects_2.10, backport-1, community_review, integration, needs_triage, os, packaging, plugins, small_patch, tests

#1296 Fix iso_extract tests on OpenSuSE
  tests/integration/targets/iso_extract/vars/Suse.yml
Labels: affects_2.10, backport-1, community_review, files, integration, needs_triage, plugins, tests

#1258 proxmox_kvm: pool parameter not supported by qemu/<vmid>/config API endpoint
  changelogs/fragments/1258-proxmox_kvm-ignore-pool-on-update.yaml
  plugins/modules/cloud/misc/proxmox_kvm.py
Labels: affects_2.10, backport-1, bug, cloud, community_review, module, new_contributor, plugins

#805 Add docker build output to task result
  changelogs/fragments/805-docker_image-build-output.yml
  plugins/modules/cloud/docker/docker_image.py
  tests/integration/targets/docker_image/tasks/tests/docker_image.yml
Labels: affects_2.10, backport-1, cloud, docker, feature, integration, module, new_contributor, plugins, tests

#1213 Add support for HashiCorp Vault JWT auth
  changelogs/fragments/1213-hashi_vault-jwt-auth-support.yaml
  plugins/lookup/hashi_vault.py
  tests/integration/targets/lookup_hashi_vault/lookup_hashi_vault/files/jwt_private.pem
  tests/integration/targets/lookup_hashi_vault/lookup_hashi_vault/files/jwt_public.pem
  tests/integration/targets/lookup_hashi_vault/lookup_hashi_vault/files/token.jwt
  tests/integration/targets/lookup_hashi_vault/lookup_hashi_vault/files/token_invalid.jwt
  tests/integration/targets/lookup_hashi_vault/lookup_hashi_vault/tasks/approle_setup.yml
  tests/integration/targets/lookup_hashi_vault/lookup_hashi_vault/tasks/jwt_setup.yml
  tests/integration/targets/lookup_hashi_vault/lookup_hashi_vault/tasks/jwt_test.yml
  tests/integration/targets/lookup_hashi_vault/lookup_hashi_vault/tasks/main.yml
  tests/integration/targets/lookup_hashi_vault/playbooks/install_dependencies.yml
Labels: affects_2.10, backport-1, community_review, feature, has_issue, integration, lookup, new_contributor, plugins, tests

#1301 Add hetzner_failover_ip* tests
  tests/unit/plugins/modules/net_tools/test_hetzner_failover_ip.py
  tests/unit/plugins/modules/net_tools/test_hetzner_failover_ip_info.py
Labels: affects_2.10, backport-1, community_review, has_issue, module, needs_maintainer, new_plugin, tests, unit

#1305 Xfconf tests
  changelogs/fragments/1305-added-xfconf-tests.yaml
  plugins/modules/system/xfconf.py
  tests/unit/plugins/modules/system/test_xfconf.py
Labels: affects_2.10, backport-1, bug, module, needs_maintainer, needs_revision, new_plugin, plugins, system, tests, unit

#1138 Fix hashi_vault lookup approle authentication
  changelogs/fragments/1138-hashi_vault_fix_approle_authentication_without_secret_id.yml
  plugins/lookup/hashi_vault.py
  tests/integration/targets/lookup_hashi_vault/lookup_hashi_vault/tasks/approle_secret_id_less_setup.yml
  tests/integration/targets/lookup_hashi_vault/lookup_hashi_vault/tasks/approle_secret_id_less_test.yml
  tests/integration/targets/lookup_hashi_vault/lookup_hashi_vault/tasks/main.yml
Labels: affects_2.10, backport-1, bug, community_review, integration, lookup, new_contributor, plugins, tests

#1206 proxmox*: add support for API tokens
  changelogs/fragments/1206-proxmox-api-token.yml
  plugins/modules/cloud/misc/proxmox.py
  plugins/modules/cloud/misc/proxmox_kvm.py
  plugins/modules/cloud/misc/proxmox_template.py
Labels: affects_2.10, backport-1, cloud, community_review, feature, module, owner_pr, plugins, stale_ci

#713 maven_artifact: Adjust path for time stamped SNAPSHOT versions
  changelogs/fragments/713-maven-timestamp-snapshot.yml
  plugins/modules/packaging/language/maven_artifact.py
Labels: affects_2.10, backport-1, bug, check-before-release, community_review, language, module, new_contributor, packaging, plugins

#1243 [pkgng] present the 'ignore_osver' option to pkg
  changelogs/fragments/1243-pkgng-present-ignoreosver.yaml
  plugins/modules/packaging/os/pkgng.py
Labels: affects_2.10, backport-1, check-before-release, community_review, feature, module, new_contributor, os, packaging, plugins

#1083 archive: remove path folder itself when remove paramater is true
  changelogs/fragments/1083-archive-remove-path-folder.yml
  plugins/modules/files/archive.py
  tests/integration/targets/archive/tasks/main.yml
  tests/integration/targets/archive/tasks/remove.yml
Labels: affects_2.10, breaking_change, bug, community_review, files, has_issue, integration, module, plugins, tests

#1246 Add --non-interactive argurment to Flatpak
  changelogs/fragments/1246-flatpak-use-non-interactive-argument.yaml
  plugins/modules/packaging/os/flatpak.py
Labels: affects_2.10, backport-1, bug, check-before-release, community_review, module, new_contributor, os, packaging, plugins

#1330 BOTMETA.yml - setting aix modules for team_aix
  .github/BOTMETA.yml
Labels: affects_2.10, backport-1, community_review, docs, needs_triage

#1322 Adding module_utils/module_helper.py + big revamp in xfconf.py to use it
  .github/BOTMETA.yml
  changelogs/fragments/1322-module_helper_and_xfconf.yaml
  plugins/module_utils/module_helper.py
  plugins/modules/system/xfconf.py
  tests/unit/plugins/module_utils/test_module_helper.py
  tests/unit/plugins/modules/system/test_xfconf.py
Labels: affects_2.10, backport-1, community_review, feature, has_issue, module, module_utils, needs_maintainer, new_plugin, plugins, system, tests, unit

#1341 Change bugfixes to breaking_changes in 1083 changelog
  changelogs/fragments/1083-archive-remove-path-folder.yml
Labels: affects_2.10, breaking_change, bug, community_review, needs_triage, owner_pr

#1303 [WIP] [stable-1] Add information on docker module migration
  changelogs/fragments/docker-migration.yml
Labels: WIP, affects_2.10, docs, has_issue, needs_triage, owner_pr

#1339 ipa: Update non-secret fields matching '*pass*' with no_log=False
  changelogs/fragments/1339-ip-no_log-nonsecret.yml
  plugins/modules/identity/ipa/ipa_host.py
  plugins/modules/identity/ipa/ipa_user.py
Labels: affects_2.10, backport-1, bug, community_review, identity, module, needs_triage, plugins, small_patch

#773 Add ability to resize existing partition
  changelogs/fragments/773-resize-partition.yml
  plugins/modules/system/parted.py
  tests/unit/plugins/modules/system/test_parted.py
Labels: affects_2.10, backport-1, check-before-release, community_review, feature, module, needs_maintainer, new_contributor, plugins, system, tests, unit

#1256 feat(pkgin): add support for installation of full versioned package names
  changelogs/fragments/1256-feat-pkgin-add-full-version-package-name.yml
  plugins/modules/packaging/os/pkgin.py
  tests/unit/plugins/modules/packaging/os/test_pkgin.py
Labels: affects_2.10, backport-1, check-before-release, community_review, feature, module, needs_maintainer, new_plugin, os, packaging, plugins, tests, unit

#1351 Tidy up validate-modules ignores for modules: web_infrastructure/sophos_utm
  plugins/modules/web_infrastructure/sophos_utm/utm_aaa_group.py
  plugins/modules/web_infrastructure/sophos_utm/utm_aaa_group_info.py
  plugins/modules/web_infrastructure/sophos_utm/utm_ca_host_key_cert.py
  plugins/modules/web_infrastructure/sophos_utm/utm_ca_host_key_cert_info.py
  plugins/modules/web_infrastructure/sophos_utm/utm_dns_host.py
  plugins/modules/web_infrastructure/sophos_utm/utm_network_interface_address.py
  plugins/modules/web_infrastructure/sophos_utm/utm_network_interface_address_info.py
  plugins/modules/web_infrastructure/sophos_utm/utm_proxy_auth_profile.py
  plugins/modules/web_infrastructure/sophos_utm/utm_proxy_exception.py
  plugins/modules/web_infrastructure/sophos_utm/utm_proxy_frontend.py
  plugins/modules/web_infrastructure/sophos_utm/utm_proxy_frontend_info.py
  plugins/modules/web_infrastructure/sophos_utm/utm_proxy_location.py
  plugins/modules/web_infrastructure/sophos_utm/utm_proxy_location_info.py
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.9.txt
Labels: affects_2.10, backport-1, community_review, docs, module, needs_triage, plugins, tests, web_infrastructure

#788 [2.10] Fix omapi_host on python3
  changelogs/fragments/788-fix_omapi_host_on_python3.yaml
  plugins/modules/net_tools/omapi_host.py
Labels: affects_2.10, backport-1, bug, community_review, module, net_tools, new_contributor, plugins, python3

#1354 Tidy up validate-modules ignores for some cloud/ modules
  plugins/doc_fragments/dimensiondata.py
  plugins/modules/cloud/atomic/atomic_container.py
  plugins/modules/cloud/dimensiondata/dimensiondata_network.py
  plugins/modules/cloud/dimensiondata/dimensiondata_vlan.py
  plugins/modules/cloud/docker/docker_stack.py
  plugins/modules/cloud/heroku/heroku_collaborator.py
  plugins/modules/cloud/huawei/hwc_ecs_instance.py
  plugins/modules/cloud/huawei/hwc_vpc_port.py
  plugins/modules/cloud/huawei/hwc_vpc_subnet.py
  plugins/modules/cloud/linode/linode.py
  plugins/modules/cloud/linode/linode_v4.py
  plugins/modules/cloud/memset/memset_dns_reload.py
  plugins/modules/cloud/memset/memset_memstore_info.py
  plugins/modules/cloud/memset/memset_server_info.py
  plugins/modules/cloud/memset/memset_zone.py
  plugins/modules/cloud/memset/memset_zone_domain.py
  plugins/modules/cloud/memset/memset_zone_record.py
  plugins/modules/cloud/misc/proxmox_kvm.py
  plugins/modules/cloud/misc/proxmox_template.py
  plugins/modules/cloud/misc/terraform.py
  plugins/modules/cloud/oracle/oci_vcn.py
  plugins/modules/cloud/ovh/ovh_ip_failover.py
  plugins/modules/cloud/ovh/ovh_ip_loadbalancing_backend.py
  plugins/modules/cloud/pubnub/pubnub_blocks.py
  plugins/modules/cloud/softlayer/sl_vm.py
  plugins/modules/cloud/xenserver/xenserver_guest_info.py
  plugins/modules/cloud/xenserver/xenserver_guest_powerstate.py
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.9.txt
Labels: affects_2.10, backport-1, cloud, community_review, docker, docs, docs_fragments, module, plugins, tests

#1343 Fix boolean defaults.
  plugins/doc_fragments/influxdb.py
  plugins/doc_fragments/ovirt_facts.py
  plugins/modules/cloud/docker/docker_volume.py
  plugins/modules/cloud/google/gc_storage.py
  plugins/modules/cloud/google/gce.py
  plugins/modules/cloud/google/gce_pd.py
  plugins/modules/cloud/memset/memset_zone_record.py
  plugins/modules/cloud/ovirt/ovirt_vm_facts.py
  plugins/modules/cloud/rackspace/rax_clb.py
  plugins/modules/cloud/rackspace/rax_files.py
  plugins/modules/cloud/rackspace/rax_mon_alarm.py
  plugins/modules/cloud/rackspace/rax_mon_check.py
  plugins/modules/clustering/consul/consul_kv.py
  plugins/modules/database/influxdb/influxdb_retention_policy.py
  plugins/modules/database/postgresql/postgresql_set.py
  plugins/modules/identity/ipa/ipa_host.py
  plugins/modules/net_tools/haproxy.py
  plugins/modules/packaging/os/pkgutil.py
  plugins/modules/packaging/os/redhat_subscription.py
  plugins/modules/packaging/os/svr4pkg.py
  plugins/modules/packaging/os/swupd.py
  plugins/modules/storage/glusterfs/gluster_peer.py
  plugins/modules/storage/glusterfs/gluster_volume.py
  plugins/modules/storage/netapp/na_cdot_license.py
  plugins/modules/system/java_cert.py
  plugins/modules/system/open_iscsi.py
  plugins/modules/system/puppet.py
  plugins/modules/system/svc.py
  plugins/modules/system/ufw.py
  plugins/modules/system/vdo.py
  plugins/modules/web_infrastructure/django_manage.py
Labels: affects_2.10, backport-1, bug, cloud, clustering, community_review, database, docker, docs_fragments, gce, identity, module, net_tools, os, packaging, plugins, postgresql, storage, system, web_infrastructure

#1344 [WIP] [stable-1] Add information on hetzner robot content migration
  changelogs/fragments/hetzner-migration.yml
Labels: WIP, affects_2.10, docs, has_issue, needs_triage, owner_pr

#1346 Remove deprecated redirects for 2.0.0
  changelogs/fragments/remove-deprecated-redirects.yml
  meta/runtime.yml
Labels: affects_2.10, breaking_change, bug, community_review

#1363 BOTMETA.yml: add a new maintainer for omapi_host module
  .github/BOTMETA.yml
Labels: affects_2.10, backport-1, community_review, docs, small_patch

#1347 Remove deprecated modules and plugins.
  .github/BOTMETA.yml
  changelogs/fragments/remove-deprecated-modules.yml
  meta/runtime.yml
  plugins/callback/actionable.py
  plugins/callback/full_skip.py
  plugins/callback/stderr.py
  plugins/modules/foreman.py
  plugins/modules/github_hooks.py
  plugins/modules/katello.py
  plugins/modules/na_cdot_aggregate.py
  plugins/modules/na_cdot_license.py
  plugins/modules/na_cdot_lun.py
  plugins/modules/na_cdot_qtree.py
  plugins/modules/na_cdot_svm.py
  plugins/modules/na_cdot_user.py
  plugins/modules/na_cdot_user_role.py
  plugins/modules/na_cdot_volume.py
  plugins/modules/remote_management/foreman/foreman.py
  plugins/modules/remote_management/foreman/katello.py
  plugins/modules/sf_account_manager.py
  plugins/modules/sf_check_connections.py
  plugins/modules/sf_snapshot_schedule_manager.py
  plugins/modules/sf_volume_access_group_manager.py
  plugins/modules/sf_volume_manager.py
  plugins/modules/source_control/github/github_hooks.py
  plugins/modules/storage/netapp/na_cdot_aggregate.py
  plugins/modules/storage/netapp/na_cdot_license.py
  plugins/modules/storage/netapp/na_cdot_lun.py
  plugins/modules/storage/netapp/na_cdot_qtree.py
  plugins/modules/storage/netapp/na_cdot_svm.py
  plugins/modules/storage/netapp/na_cdot_user.py
  plugins/modules/storage/netapp/na_cdot_user_role.py
  plugins/modules/storage/netapp/na_cdot_volume.py
  plugins/modules/storage/netapp/sf_account_manager.py
  plugins/modules/storage/netapp/sf_check_connections.py
  plugins/modules/storage/netapp/sf_snapshot_schedule_manager.py
  plugins/modules/storage/netapp/sf_volume_access_group_manager.py
  plugins/modules/storage/netapp/sf_volume_manager.py
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.9.txt
Labels: affects_2.10, breaking_change, bug, callback, community_review, docs_fragments, module, module_utils, plugins, remote_management, source_control, storage, tests

#768 Added Arguments for Facter module
  changelogs/fragments/768-facter.yml
  plugins/modules/system/facter.py
Labels: affects_2.10, backport-1, check-before-release, community_review, feature, module, new_contributor, plugins, system

#1357 Tidy up validate-modules ignores for modules: cloud/oneandone
  plugins/modules/cloud/oneandone/oneandone_firewall_policy.py
  plugins/modules/cloud/oneandone/oneandone_load_balancer.py
  plugins/modules/cloud/oneandone/oneandone_monitoring_policy.py
  plugins/modules/cloud/oneandone/oneandone_private_network.py
  plugins/modules/cloud/oneandone/oneandone_public_ip.py
  plugins/modules/cloud/oneandone/oneandone_server.py
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.9.txt
Labels: affects_2.10, backport-1, cloud, community_review, docs, module, needs_triage, plugins, tests

#1365 Tidy up validate-modules ignores for modules: cloud/centurylink (rebased)
  plugins/modules/cloud/centurylink/clc_aa_policy.py
  plugins/modules/cloud/centurylink/clc_alert_policy.py
  plugins/modules/cloud/centurylink/clc_blueprint_package.py
  plugins/modules/cloud/centurylink/clc_firewall_policy.py
  plugins/modules/cloud/centurylink/clc_group.py
  plugins/modules/cloud/centurylink/clc_loadbalancer.py
  plugins/modules/cloud/centurylink/clc_modify_server.py
  plugins/modules/cloud/centurylink/clc_publicip.py
  plugins/modules/cloud/centurylink/clc_server.py
  plugins/modules/cloud/centurylink/clc_server_snapshot.py
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.9.txt
Labels: affects_2.10, backport-1, cloud, community_review, docs, module, plugins, tests

#1350 Tidy up validate-modules ignores for monitoring modules
  plugins/modules/monitoring/bigpanda.py
  plugins/modules/monitoring/circonus_annotation.py
  plugins/modules/monitoring/datadog/datadog_event.py
  plugins/modules/monitoring/datadog/datadog_monitor.py
  plugins/modules/monitoring/honeybadger_deployment.py
  plugins/modules/monitoring/icinga2_feature.py
  plugins/modules/monitoring/icinga2_host.py
  plugins/modules/monitoring/librato_annotation.py
  plugins/modules/monitoring/logentries.py
  plugins/modules/monitoring/logstash_plugin.py
  plugins/modules/monitoring/newrelic_deployment.py
  plugins/modules/monitoring/pagerduty.py
  plugins/modules/monitoring/pagerduty_alert.py
  plugins/modules/monitoring/pingdom.py
  plugins/modules/monitoring/rollbar_deployment.py
  plugins/modules/monitoring/sensu/sensu_check.py
  plugins/modules/monitoring/sensu/sensu_client.py
  plugins/modules/monitoring/sensu/sensu_handler.py
  plugins/modules/monitoring/sensu/sensu_silence.py
  plugins/modules/monitoring/sensu/sensu_subscription.py
  plugins/modules/monitoring/spectrum_device.py
  plugins/modules/monitoring/stackdriver.py
  plugins/modules/monitoring/statusio_maintenance.py
  plugins/modules/monitoring/uptimerobot.py
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.9.txt
Labels: affects_2.10, backport-1, community_review, docs, module, monitoring, needs_maintainer, plugins, tests

#1264 Add filter dict_kv
  changelogs/fragments/1264-dict_kv-new-filter.yaml
  plugins/filter/dict_kv.py
  tests/integration/targets/filter_dict_kv/aliases
  tests/integration/targets/filter_dict_kv/tasks/main.yml
Labels: affects_2.10, backport-1, check-before-release, community_review, feature, integration, needs_triage, new_contributor, new_plugin, tests

#1361 BOTMETA.yml: add a new maintainer of dict_kv plugin
  .github/BOTMETA.yml
Labels: affects_2.10, backport-1, check-before-release, community_review, docs, small_patch

#1373 [stable-1] Tidy up validate-modules ignores for modules: cloud/centurylink (rebased)
  plugins/modules/cloud/centurylink/clc_aa_policy.py
  plugins/modules/cloud/centurylink/clc_alert_policy.py
  plugins/modules/cloud/centurylink/clc_blueprint_package.py
  plugins/modules/cloud/centurylink/clc_firewall_policy.py
  plugins/modules/cloud/centurylink/clc_group.py
  plugins/modules/cloud/centurylink/clc_loadbalancer.py
  plugins/modules/cloud/centurylink/clc_modify_server.py
  plugins/modules/cloud/centurylink/clc_publicip.py
  plugins/modules/cloud/centurylink/clc_server.py
  plugins/modules/cloud/centurylink/clc_server_snapshot.py
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.9.txt
Labels: affects_2.10, cloud, community_review, docs, module, needs_triage, plugins, tests

#1368 Remove hetzner content
  .github/BOTMETA.yml
  changelogs/fragments/hetzner-migration-removal.yml
  meta/runtime.yml
  plugins/doc_fragments/hetzner.py
  plugins/module_utils/hetzner.py
  plugins/modules/hetzner_failover_ip.py
  plugins/modules/hetzner_failover_ip_info.py
  plugins/modules/hetzner_firewall.py
  plugins/modules/hetzner_firewall_info.py
  plugins/modules/net_tools/hetzner_failover_ip.py
  plugins/modules/net_tools/hetzner_failover_ip_info.py
  plugins/modules/net_tools/hetzner_firewall.py
  plugins/modules/net_tools/hetzner_firewall_info.py
  tests/unit/plugins/module_utils/test_hetzner.py
  tests/unit/plugins/modules/net_tools/test_hetzner_failover_ip.py
  tests/unit/plugins/modules/net_tools/test_hetzner_failover_ip_info.py
  tests/unit/plugins/modules/net_tools/test_hetzner_firewall.py
  tests/unit/plugins/modules/net_tools/test_hetzner_firewall_info.py
Labels: affects_2.10, community_review, docs_fragments, has_issue, module, module_utils, needs_maintainer, needs_triage, net_tools, plugins, tests, unit

#1370 Remove deprecated google modules
  changelogs/fragments/remove-deprecated-modules-2.yml
  meta/runtime.yml
  plugins/modules/cloud/google/gcdns_record.py
  plugins/modules/cloud/google/gcdns_zone.py
  plugins/modules/cloud/google/gce.py
  plugins/modules/cloud/google/gcp_backend_service.py
  plugins/modules/cloud/google/gcp_forwarding_rule.py
  plugins/modules/cloud/google/gcp_healthcheck.py
  plugins/modules/cloud/google/gcp_target_proxy.py
  plugins/modules/cloud/google/gcp_url_map.py
  plugins/modules/cloud/google/gcspanner.py
  plugins/modules/gcdns_record.py
  plugins/modules/gcdns_zone.py
  plugins/modules/gce.py
  plugins/modules/gcp_backend_service.py
  plugins/modules/gcp_forwarding_rule.py
  plugins/modules/gcp_healthcheck.py
  plugins/modules/gcp_target_proxy.py
  plugins/modules/gcp_url_map.py
  plugins/modules/gcspanner.py
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.9.txt
  tests/unit/plugins/modules/cloud/google/test_gcp_forwarding_rule.py
  tests/unit/plugins/modules/cloud/google/test_gcp_url_map.py
Labels: affects_2.10, cloud, community_review, gce, module, needs_maintainer, needs_triage, plugins, tests, unit

#1156 Added umask option to passwordstore lookup plugin.
  changelogs/fragments/lookup-passwordstore-umask.yml
  plugins/lookup/passwordstore.py
Labels: affects_2.10, backport-1, community_review, feature, lookup, needs_triage, new_contributor, plugins

#1039 archive: Fix paramater types
  changelogs/fragments/1039-archive-fix-paramater-types.yaml
  plugins/modules/files/archive.py
  tests/integration/targets/archive/tasks/main.yml
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.9.txt
Labels: affects_2.10, backport-1, bug, community_review, files, integration, module, plugins, tests

#1331 proxmox: create a common base
  changelogs/fragments/1331-proxmox-info-modules.yml
  plugins/doc_fragments/proxmox.py
  plugins/module_utils/proxmox.py
  plugins/modules/cloud/misc/proxmox_domain_info.py
  plugins/modules/cloud/misc/proxmox_group_info.py
  plugins/modules/cloud/misc/proxmox_user_info.py
  plugins/modules/proxmox_domain_info.py
  plugins/modules/proxmox_group_info.py
  plugins/modules/proxmox_user_info.py
  tests/integration/targets/proxmox/aliases
  tests/integration/targets/proxmox/tasks/main.yml
Labels: affects_2.10, backport-1, cloud, community_review, docs_fragments, feature, integration, module, module_utils, new_module, new_plugin, plugins, tests

#797 Add Cloud Init variables for Proxmox_KVM module
  changelogs/fragments/797-proxmox-kvm-cloud-init.yaml
  plugins/modules/cloud/misc/proxmox_kvm.py
Labels: affects_2.10, backport-1, check-before-release, cloud, feature, has_issue, module, needs_revision, new_contributor, plugins

#1338 Datadog: Mark notification_message as no_log
  changelogs/fragments/1338-datadog-mark-notification_message-no_log.yml
  plugins/modules/monitoring/datadog/datadog_monitor.py
Labels: affects_2.10, backport-1, bug, check-before-release, community_review, module, monitoring, new_contributor, plugins, small_patch

#1381 Improve docker and hetzner removal announcement fragments
  changelogs/fragments/docker-migration.yml
  changelogs/fragments/hetzner-migration.yml
Labels: affects_2.10, community_review, docs, needs_triage, owner_pr

#1382 Improve docker, hetzner and postgresql migration
  changelogs/fragments/1048-postgresql_privs_add_procedure_type.yml
  changelogs/fragments/1059-postgresql_privs_fix_failings_when_using_roles_with_hyphen.yml
  changelogs/fragments/1078-postgresql_ext_fix_version_selection_when_version_is_latest.yml
  changelogs/fragments/1091-postgresql_info_add_in_recovery_ret_val.yml
  changelogs/fragments/1099-postgresql_ext_fix_failing_when_version_cannot_be_compared.yml
  changelogs/fragments/1118-docker_login-config-store.yml
  changelogs/fragments/1119-docker_container-device-reqests.yml
  changelogs/fragments/1124-pg_hba-dictkey_bugfix.yaml
  changelogs/fragments/547-start-service-condition.yaml
  changelogs/fragments/564-docker_container_use_config_macaddress_by_default.yaml
  changelogs/fragments/642-docker_container-python-2.yml
  changelogs/fragments/646-docker_swarm-remove-advertise_addr-from-join-requirement.yaml
  changelogs/fragments/651-fix-postgresql_set-warning.yaml
  changelogs/fragments/653-postgresql_query_add_search_path_param.yml
  changelogs/fragments/656-name-with-hyphen.yml
  changelogs/fragments/776-postgresql_set_allow_empty_string.yaml
  changelogs/fragments/796-postgresql_privs-grant-option-bug.yaml
  changelogs/fragments/805-docker_image-build-output.yml
  changelogs/fragments/858-postgresql_privs_should_allow_public_role_lowercased.yml
  changelogs/fragments/886-postgresql_query_add_ret_vals.yml
  changelogs/fragments/887-rollback-if-nothing-changed.yml
  changelogs/fragments/941-postgresql_privs_usage_on_types_option.yml
  changelogs/fragments/979-docker_container-published_ports-empty-idempotency.yml
  changelogs/fragments/996-postgresql_privs_fix_function_handling.yml
  changelogs/fragments/community.docker-31-docker-secret.yml
  changelogs/fragments/docker-migration-removal.yml
  changelogs/fragments/hetzner-migration-removal.yml
  changelogs/fragments/postgresql-migration-removal.yml
Labels: affects_2.10, breaking_change, community_review, docs, owner_pr

#1386 BOTMETA.yml: Add a new maintainer of parted module
  .github/BOTMETA.yml
Labels: affects_2.10, backport-1, community_review, docs, small_patch

#1387 Tidy up validate-modules ignores for modules: cloud/profitbricks
  plugins/modules/cloud/profitbricks/profitbricks.py
  plugins/modules/cloud/profitbricks/profitbricks_datacenter.py
  plugins/modules/cloud/profitbricks/profitbricks_nic.py
  plugins/modules/cloud/profitbricks/profitbricks_volume.py
  plugins/modules/cloud/profitbricks/profitbricks_volume_attachments.py
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.9.txt
Labels: affects_2.10, backport-1, cloud, community_review, docs, module, plugins, tests

#1391 BOTMETA.yml: Add a new maintainer of pkgin module
  .github/BOTMETA.yml
Labels: affects_2.10, backport-1, community_review, docs, small_patch

#1362 BOTMETA.yml: add a new maintainer of facter module
  .github/BOTMETA.yml
Labels: affects_2.10, backport-1, community_review, docs, small_patch

#1308 Fix macports package present/active detection
  changelogs/fragments/1307-macports-fix-status-check.yml
  plugins/modules/packaging/os/macports.py
  tests/unit/plugins/modules/packaging/os/test_macports.py
  tests/unit/plugins/modules/packaging/os/test_redhat_subscription.py
Labels: affects_2.10, backport-1, bug, check-before-release, community_review, module, needs_maintainer, new_contributor, new_plugin, os, packaging, plugins, stale_ci, tests, unit

#891 adding fix for packet_net.py
  changelogs/fragments/891-packet_net-fix-not-subscriptable.yaml
  scripts/inventory/packet_net.py
Labels: affects_2.10, backport-1, bug, check-before-release, community_review, needs_triage, new_contributor, python3, traceback

#1383 Apache2 module: Add another shib module identifier
  changelogs/fragments/1383-apache2-module-amend-shib-workaround.yaml
  plugins/modules/web_infrastructure/apache2_module.py
Labels: affects_2.10, backport-1, bug, community_review, module, new_contributor, plugins, small_patch, web_infrastructure

#1389 Tidy up validate-modules nonexistent-parameter-documented
  plugins/modules/cloud/spotinst/spotinst_aws_elastigroup.py
  plugins/modules/cloud/univention/udm_share.py
  plugins/modules/net_tools/nios/nios_host_record.py
  plugins/modules/storage/zfs/zfs_facts.py
  plugins/modules/storage/zfs/zpool_facts.py
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.9.txt
Labels: affects_2.10, backport-1, cloud, docs, module, needs_revision, net_tools, plugins, storage, tests

#1398 [stable-1] Fix docker tests
  tests/integration/targets/docker_container/tasks/tests/comparisons.yml
  tests/integration/targets/docker_container/tasks/tests/compatibility.yml
  tests/integration/targets/docker_container/tasks/tests/image-ids.yml
  tests/integration/targets/docker_container/tasks/tests/mounts-volumes.yml
  tests/integration/targets/docker_container/tasks/tests/network.yml
  tests/integration/targets/docker_container/tasks/tests/options.yml
  tests/integration/targets/docker_container/tasks/tests/ports.yml
  tests/integration/targets/docker_container/tasks/tests/regression-45700-dont-parse-on-absent.yml
  tests/integration/targets/docker_container/tasks/tests/start-stop.yml
  tests/integration/targets/docker_container_info/tasks/main.yml
  tests/integration/targets/docker_host_info/tasks/test_host_info.yml
  tests/integration/targets/docker_image/files/Dockerfile
  tests/integration/targets/docker_image/files/StagedDockerfile
  tests/integration/targets/docker_image/tasks/test.yml
  tests/integration/targets/docker_image/tasks/tests/basic.yml
  tests/integration/targets/docker_image/tasks/tests/docker_image.yml
  tests/integration/targets/docker_image/tasks/tests/old-options.yml
  tests/integration/targets/docker_image/tasks/tests/options.yml
  tests/integration/targets/docker_image/templates/Dockerfile
  tests/integration/targets/docker_image/templates/EtcHostsDockerfile
  tests/integration/targets/docker_image/templates/MyDockerfile
  tests/integration/targets/docker_image/templates/StagedDockerfile
  tests/integration/targets/docker_image_info/tasks/main.yml
  tests/integration/targets/docker_network/tasks/tests/basic.yml
  tests/integration/targets/docker_prune/tasks/main.yml
  tests/integration/targets/docker_stack/tasks/test_stack.yml
  tests/integration/targets/docker_stack/templates/stack_compose_base.yml
  tests/integration/targets/docker_stack/templates/stack_compose_overrides.yml
  tests/integration/targets/docker_stack/vars/main.yml
  tests/integration/targets/docker_stack_info/tasks/test_stack_info.yml
  tests/integration/targets/docker_stack_info/templates/stack_compose_base.yml
  tests/integration/targets/docker_stack_info/templates/stack_compose_overrides.yml
  tests/integration/targets/docker_stack_info/vars/main.yml
  tests/integration/targets/docker_stack_task_info/tasks/test_stack_task_info.yml
  tests/integration/targets/docker_stack_task_info/templates/stack_compose_base.yml
  tests/integration/targets/docker_stack_task_info/templates/stack_compose_overrides.yml
  tests/integration/targets/docker_stack_task_info/vars/main.yml
  tests/integration/targets/docker_swarm_service/tasks/tests/configs.yml
  tests/integration/targets/docker_swarm_service/tasks/tests/logging.yml
  tests/integration/targets/docker_swarm_service/tasks/tests/misc.yml
  tests/integration/targets/docker_swarm_service/tasks/tests/mounts.yml
  tests/integration/targets/docker_swarm_service/tasks/tests/networks.yml
  tests/integration/targets/docker_swarm_service/tasks/tests/options.yml
  tests/integration/targets/docker_swarm_service/tasks/tests/placement.yml
  tests/integration/targets/docker_swarm_service/tasks/tests/resources.yml
  tests/integration/targets/docker_swarm_service/tasks/tests/restart_config.yml
  tests/integration/targets/docker_swarm_service/tasks/tests/rollback_config.yml
  tests/integration/targets/docker_swarm_service/tasks/tests/secrets.yml
  tests/integration/targets/docker_swarm_service/tasks/tests/update_config.yml
  tests/integration/targets/docker_swarm_service/vars/main.yml
  tests/integration/targets/docker_swarm_service_info/tasks/test_docker_swarm_service_info.yml
  tests/integration/targets/setup_docker/vars/main.yml
  tests/integration/targets/setup_docker_registry/tasks/setup-frontend.yml
  tests/integration/targets/setup_docker_registry/tasks/setup.yml
  tests/integration/targets/setup_docker_registry/vars/main.yml
Labels: affects_2.10, community_review, needs_rebase, needs_revision, needs_triage

#1025 a new module pagerduty_user
  plugins/modules/monitoring/pagerduty_user.py
  plugins/modules/pagerduty_user.py
  tests/integration/targets/pagerduty_user/aliases
  tests/integration/targets/pagerduty_user/tasks/main.yml
  tests/integration/targets/pagerduty_user/vars/main.yml
Labels: affects_2.10, backport-1, bug, community_review, integration, module, monitoring, needs_triage, new_module, new_plugin, tests

#1402 BOTMETA.yml: add a maintainer for pagerduty_user module
  .github/BOTMETA.yml
Labels: affects_2.10, backport-1, community_review, docs, needs_triage, small_patch

#1369 Bump version to 2.0.0
  changelogs/fragments/deprecation-removals.yml
  galaxy.yml
  plugins/action/system/iptables_state.py
  plugins/cache/memcached.py
  plugins/cache/redis.py
  plugins/modules/files/xml.py
  tests/integration/targets/xml/tasks/test-get-element-content.yml
  tests/unit/plugins/cache/test_memcached.py
  tests/unit/plugins/cache/test_redis.py
Labels: action, affects_2.10, breaking_change, bug, community_review, files, integration, module, needs_triage, plugins, tests, unit

#1399 Tidy up validate-modules:doc-elements-mismatch
  changelogs/fragments/1399-fixed-wrong-elements-type.yaml
  plugins/modules/cloud/xenserver/xenserver_guest.py
  plugins/modules/identity/ipa/ipa_hbacrule.py
  plugins/modules/identity/keycloak/keycloak_client.py
  plugins/modules/identity/keycloak/keycloak_clienttemplate.py
  plugins/modules/net_tools/nios/nios_fixed_address.py
  plugins/modules/net_tools/nios/nios_host_record.py
  plugins/modules/net_tools/nios/nios_member.py
  plugins/modules/net_tools/nios/nios_network.py
  plugins/modules/net_tools/nios/nios_nsgroup.py
  plugins/modules/net_tools/nios/nios_zone.py
  plugins/modules/remote_management/redfish/redfish_config.py
  plugins/modules/source_control/github/github_webhook.py
  plugins/modules/web_infrastructure/sophos_utm/utm_proxy_exception.py
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
Labels: affects_2.10, backport-1, cloud, community_review, docs, identity, module, net_tools, plugins, remote_management, source_control, tests, web_infrastructure

#1409 Tidy up validate-modules:doc-choices-do-not-match-spec II: The Rebase
  plugins/modules/cloud/lxc/lxc_container.py
  plugins/modules/cloud/smartos/vmadm.py
  plugins/modules/cloud/spotinst/spotinst_aws_elastigroup.py
  plugins/modules/cloud/univention/udm_dns_record.py
  plugins/modules/cloud/univention/udm_dns_zone.py
  plugins/modules/cloud/univention/udm_share.py
  plugins/modules/cloud/univention/udm_user.py
  plugins/modules/clustering/etcd3.py
  plugins/modules/clustering/znode.py
  plugins/modules/remote_management/hpilo/hpilo_boot.py
  plugins/modules/remote_management/ipmi/ipmi_boot.py
  plugins/modules/remote_management/ipmi/ipmi_power.py
  plugins/modules/remote_management/manageiq/manageiq_provider.py
  plugins/modules/remote_management/stacki/stacki_host.py
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.9.txt
Labels: affects_2.10, backport-1, cloud, clustering, community_review, docs, module, plugins, remote_management, tests

#1416 [stable-1] Tidy up validate-modules:doc-choices-do-not-match-spec II: The Rebase
  plugins/modules/cloud/lxc/lxc_container.py
  plugins/modules/cloud/smartos/vmadm.py
  plugins/modules/cloud/spotinst/spotinst_aws_elastigroup.py
  plugins/modules/cloud/univention/udm_dns_record.py
  plugins/modules/cloud/univention/udm_dns_zone.py
  plugins/modules/cloud/univention/udm_share.py
  plugins/modules/cloud/univention/udm_user.py
  plugins/modules/clustering/etcd3.py
  plugins/modules/clustering/znode.py
  plugins/modules/remote_management/hpilo/hpilo_boot.py
  plugins/modules/remote_management/ipmi/ipmi_boot.py
  plugins/modules/remote_management/ipmi/ipmi_power.py
  plugins/modules/remote_management/manageiq/manageiq_provider.py
  plugins/modules/remote_management/stacki/stacki_host.py
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.9.txt
Labels: affects_2.10, cloud, clustering, community_review, docs, module, needs_triage, plugins, remote_management, tests

#1415 Tidy up validate-modules:doc-required-mismatch
  changelogs/fragments/1415-valmod_req_mismatch.yml
  plugins/doc_fragments/nios.py
  plugins/doc_fragments/online.py
  plugins/modules/cloud/ovirt/ovirt_scheduling_policy_facts.py
  plugins/modules/cloud/packet/packet_ip_subnet.py
  plugins/modules/cloud/packet/packet_volume_attachment.py
  plugins/modules/cloud/smartos/vmadm.py
  plugins/modules/cloud/spotinst/spotinst_aws_elastigroup.py
  plugins/modules/clustering/consul/consul_acl.py
  plugins/modules/clustering/consul/consul_kv.py
  plugins/modules/clustering/pacemaker_cluster.py
  plugins/modules/database/misc/redis.py
  plugins/modules/database/mssql/mssql_db.py
  plugins/modules/database/vertica/vertica_configuration.py
  plugins/modules/files/xml.py
  plugins/modules/net_tools/dnsmadeeasy.py
  plugins/modules/net_tools/ldap/ldap_passwd.py
  plugins/modules/net_tools/nios/nios_a_record.py
  plugins/modules/net_tools/nios/nios_aaaa_record.py
  plugins/modules/net_tools/nios/nios_cname_record.py
  plugins/modules/net_tools/nios/nios_dns_view.py
  plugins/modules/net_tools/nios/nios_fixed_address.py
  plugins/modules/net_tools/nios/nios_host_record.py
  plugins/modules/net_tools/nios/nios_member.py
  plugins/modules/net_tools/nios/nios_mx_record.py
  plugins/modules/net_tools/nios/nios_naptr_record.py
  plugins/modules/net_tools/nios/nios_ptr_record.py
  plugins/modules/net_tools/nios/nios_srv_record.py
  plugins/modules/net_tools/nios/nios_txt_record.py
  plugins/modules/net_tools/nios/nios_zone.py
  plugins/modules/remote_management/cobbler/cobbler_sync.py
  plugins/modules/remote_management/cobbler/cobbler_system.py
  plugins/modules/remote_management/manageiq/manageiq_provider.py
  plugins/modules/remote_management/oneview/oneview_fc_network.py
  plugins/modules/source_control/gitlab/gitlab_deploy_key.py
  plugins/modules/source_control/gitlab/gitlab_hook.py
  plugins/modules/source_control/gitlab/gitlab_runner.py
  plugins/modules/source_control/hg.py
  plugins/modules/storage/glusterfs/gluster_peer.py
  plugins/modules/storage/ibm/ibm_sa_domain.py
  plugins/modules/storage/ibm/ibm_sa_host.py
  plugins/modules/storage/ibm/ibm_sa_host_ports.py
  plugins/modules/storage/ibm/ibm_sa_pool.py
  plugins/modules/storage/ibm/ibm_sa_vol.py
  plugins/modules/storage/ibm/ibm_sa_vol_map.py
  plugins/modules/storage/zfs/zfs_delegate_admin.py
  plugins/modules/system/aix_devices.py
  plugins/modules/system/osx_defaults.py
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.9.txt
Labels: affects_2.10, backport-1, cloud, clustering, community_review, database, docs, docs_fragments, files, gitlab, module, needs_rebase, needs_revision, needs_triage, net_tools, plugins, remote_management, source_control, storage, system, tests

#1417 [stable-1] Tidy up validate-modules:doc-required-mismatch
  changelogs/fragments/1415-valmod_req_mismatch.yml
  plugins/doc_fragments/nios.py
  plugins/doc_fragments/online.py
  plugins/modules/cloud/ovirt/ovirt_scheduling_policy_facts.py
  plugins/modules/cloud/packet/packet_ip_subnet.py
  plugins/modules/cloud/packet/packet_volume_attachment.py
  plugins/modules/cloud/smartos/vmadm.py
  plugins/modules/cloud/spotinst/spotinst_aws_elastigroup.py
  plugins/modules/clustering/consul/consul_acl.py
  plugins/modules/clustering/consul/consul_kv.py
  plugins/modules/clustering/pacemaker_cluster.py
  plugins/modules/database/misc/redis.py
  plugins/modules/database/mssql/mssql_db.py
  plugins/modules/database/vertica/vertica_configuration.py
  plugins/modules/files/xml.py
  plugins/modules/net_tools/dnsmadeeasy.py
  plugins/modules/net_tools/ldap/ldap_passwd.py
  plugins/modules/net_tools/nios/nios_a_record.py
  plugins/modules/net_tools/nios/nios_aaaa_record.py
  plugins/modules/net_tools/nios/nios_cname_record.py
  plugins/modules/net_tools/nios/nios_dns_view.py
  plugins/modules/net_tools/nios/nios_fixed_address.py
  plugins/modules/net_tools/nios/nios_host_record.py
  plugins/modules/net_tools/nios/nios_member.py
  plugins/modules/net_tools/nios/nios_mx_record.py
  plugins/modules/net_tools/nios/nios_naptr_record.py
  plugins/modules/net_tools/nios/nios_ptr_record.py
  plugins/modules/net_tools/nios/nios_srv_record.py
  plugins/modules/net_tools/nios/nios_txt_record.py
  plugins/modules/net_tools/nios/nios_zone.py
  plugins/modules/remote_management/cobbler/cobbler_sync.py
  plugins/modules/remote_management/cobbler/cobbler_system.py
  plugins/modules/remote_management/manageiq/manageiq_provider.py
  plugins/modules/remote_management/oneview/oneview_fc_network.py
  plugins/modules/source_control/gitlab/gitlab_deploy_key.py
  plugins/modules/source_control/gitlab/gitlab_hook.py
  plugins/modules/source_control/gitlab/gitlab_runner.py
  plugins/modules/source_control/hg.py
  plugins/modules/storage/glusterfs/gluster_peer.py
  plugins/modules/storage/ibm/ibm_sa_domain.py
  plugins/modules/storage/ibm/ibm_sa_host.py
  plugins/modules/storage/ibm/ibm_sa_host_ports.py
  plugins/modules/storage/ibm/ibm_sa_pool.py
  plugins/modules/storage/ibm/ibm_sa_vol.py
  plugins/modules/storage/ibm/ibm_sa_vol_map.py
  plugins/modules/storage/zfs/zfs_delegate_admin.py
  plugins/modules/system/aix_devices.py
  plugins/modules/system/osx_defaults.py
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.9.txt
Labels: affects_2.10, community_review, docs, needs_rebase, needs_revision, needs_triage
