Repository ansible-collections/community.general, pull requests merged in 2020-07, with the labels that each got.

#601 Improve README
  README.md
Labels: affects_2.10, community_review, docs, needs_triage

#598 postgresql CI tests: fix timeouts
  tests/integration/targets/postgresql_slot/tasks/postgresql_slot_initial.yml
  tests/integration/targets/postgresql_user_obj_stat_info/tasks/postgresql_user_obj_stat_info.yml
  tests/integration/targets/setup_postgresql_db/tasks/main.yml
Labels: WIP, affects_2.10, bug, community_review, database, integration, needs_triage, plugins, postgresql, tests

#296 Run tests with Ansible 2.9 as well
  README.md
  changelogs/fragments/296-ansible-2.9.yml
  shippable.yml
  tests/sanity/ignore-2.9.txt
  tests/utils/shippable/shippable.sh
Labels: bug, community_review, tests

#608 Fix documentation mistakes for docker_swarm_info and docker_swarm_service
  plugins/modules/cloud/docker/docker_swarm_info.py
  plugins/modules/cloud/docker/docker_swarm_service.py
Labels: affects_2.10, cloud, community_review, docker, docs, module, needs_triage, owner_pr, plugins

#615 Fix bug in digital_ocean_tag_info module
  changelogs/fragments/615-digital-ocean-tag-info-bugfix.yml
  plugins/modules/cloud/digital_ocean/digital_ocean_tag_info.py
Labels: affects_2.10, bug, cloud, community_review, digital_ocean, module, needs_triage, new_contributor, plugins

#618 mysql_user: add missed privileges
  changelogs/fragments/618-mysql_user_add_missed_privileges.yml
  plugins/modules/database/mysql/mysql_user.py
Labels: affects_2.10, bug, community_review, database, has_issue, module, mysql, needs_triage, owner_pr, plugins

#609 mysql_user: fix overriding user passowrd to the same
  changelogs/fragments/609-mysql_user_fix_overriding_password_to_the_same.yml
  plugins/modules/database/mysql/mysql_user.py
  tests/integration/targets/mysql_user/tasks/user_password_update_test.yml
Labels: affects_2.10, bug, community_review, database, has_issue, integration, module, mysql, needs_triage, plugins, tests

#628 postgres modules: fix CI timeouts
  tests/integration/targets/postgresql_slot/tasks/postgresql_slot_initial.yml
  tests/integration/targets/postgresql_user_obj_stat_info/tasks/postgresql_user_obj_stat_info.yml
Labels: affects_2.10, bug, community_review, database, integration, needs_triage, plugins, postgresql, small_patch, tests

#624 migrating ProxySQL to community.proxysql
  .github/BOTMETA.yml
  changelogs/fragments/proxysql.yml
  meta/runtime.yml
  plugins/doc_fragments/proxysql.py
  plugins/modules/database/proxysql/proxysql_backend_servers.py
  plugins/modules/database/proxysql/proxysql_global_variables.py
  plugins/modules/database/proxysql/proxysql_manage_config.py
  plugins/modules/database/proxysql/proxysql_mysql_users.py
  plugins/modules/database/proxysql/proxysql_query_rules.py
  plugins/modules/database/proxysql/proxysql_replication_hostgroups.py
  plugins/modules/database/proxysql/proxysql_scheduler.py
  plugins/modules/proxysql_backend_servers.py
  plugins/modules/proxysql_global_variables.py
  plugins/modules/proxysql_manage_config.py
  plugins/modules/proxysql_mysql_users.py
  plugins/modules/proxysql_query_rules.py
  plugins/modules/proxysql_replication_hostgroups.py
  plugins/modules/proxysql_scheduler.py
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.9.txt
Labels: affects_2.10, bug, community_review, database, docs_fragments, module, mysql, new_contributor, plugins, tests

#569 pkgng: Add support for upgrading all installed packages
  changelogs/fragments/569-pkgng-add-upgrade-action.yaml
  plugins/modules/packaging/os/pkgng.py
Labels: affects_2.10, community_review, feature, has_issue, module, needs_triage, os, packaging, plugins

#607 Remove old infini modules to prepare for collection implementation
  changelogs/fragments/infinidat-removal.yml
  meta/runtime.yml
  plugins/doc_fragments/infinibox.py
  plugins/module_utils/infinibox.py
  plugins/modules/infini_export.py
  plugins/modules/infini_export_client.py
  plugins/modules/infini_fs.py
  plugins/modules/infini_host.py
  plugins/modules/infini_pool.py
  plugins/modules/infini_vol.py
  plugins/modules/storage/infinidat/infini_export.py
  plugins/modules/storage/infinidat/infini_export_client.py
  plugins/modules/storage/infinidat/infini_fs.py
  plugins/modules/storage/infinidat/infini_host.py
  plugins/modules/storage/infinidat/infini_pool.py
  plugins/modules/storage/infinidat/infini_vol.py
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.9.txt
Labels: affects_2.10, bug, docs_fragments, module, module_utils, needs_rebase, needs_revision, new_contributor, plugins, storage, tests

#629 selective: mark task failed correctly
  changelogs/fragments/63767_selective.yml
  plugins/callback/selective.py
Labels: affects_2.10, bug, callback, community_review, has_issue, needs_triage, plugins, small_patch

#91 Add the Thycotic Secret Server lookup plugin.
  plugins/lookup/tss.py
  tests/unit/plugins/lookup/test_tss.py
Labels: community_review, lookup, new_contributor, new_plugin, pr_day, tests

#90 Add Thycotic DevOps Secrets Vault lookup plugin
  plugins/lookup/dsv.py
  tests/unit/plugins/lookup/test_dsv.py
Labels: community_review, lookup, new_contributor, new_plugin, pr_day, tests

#643 postgresql modules: fix examples to use FQCN
  plugins/modules/database/postgresql/postgresql_copy.py
  plugins/modules/database/postgresql/postgresql_db.py
  plugins/modules/database/postgresql/postgresql_ext.py
  plugins/modules/database/postgresql/postgresql_idx.py
  plugins/modules/database/postgresql/postgresql_info.py
  plugins/modules/database/postgresql/postgresql_lang.py
  plugins/modules/database/postgresql/postgresql_membership.py
  plugins/modules/database/postgresql/postgresql_owner.py
  plugins/modules/database/postgresql/postgresql_pg_hba.py
  plugins/modules/database/postgresql/postgresql_ping.py
  plugins/modules/database/postgresql/postgresql_privs.py
  plugins/modules/database/postgresql/postgresql_publication.py
  plugins/modules/database/postgresql/postgresql_query.py
  plugins/modules/database/postgresql/postgresql_schema.py
  plugins/modules/database/postgresql/postgresql_sequence.py
  plugins/modules/database/postgresql/postgresql_set.py
  plugins/modules/database/postgresql/postgresql_slot.py
  plugins/modules/database/postgresql/postgresql_subscription.py
  plugins/modules/database/postgresql/postgresql_table.py
  plugins/modules/database/postgresql/postgresql_tablespace.py
  plugins/modules/database/postgresql/postgresql_user.py
  plugins/modules/database/postgresql/postgresql_user_obj_stat_info.py
Labels: affects_2.10, community_review, database, docs, module, needs_triage, owner_pr, plugins, postgresql

#642 docker_container: make sure to_text() and to_native() are used instead of str()
  changelogs/fragments/642-docker_container-python-2.yml
  plugins/modules/cloud/docker/docker_container.py
Labels: affects_2.10, bug, cloud, community_review, docker, has_issue, module, owner_pr, plugins

#636 gitlab_project: add support for merge_method on projects
  changelogs/fragments/66813_gitlab_project.yml
  plugins/modules/source_control/gitlab/gitlab_project.py
  tests/unit/plugins/modules/source_control/gitlab/gitlab.py
  tests/unit/plugins/modules/source_control/gitlab/test_gitlab_project.py
Labels: affects_2.10, bug, community_review, gitlab, module, needs_triage, plugins, source_control, tests

#651 Update: only "warn" when restart is required
  changelogs/fragments/651-fix-postgresql_set-warning.yaml
  plugins/modules/database/postgresql/postgresql_set.py
Labels: affects_2.10, bug, community_review, database, module, new_contributor, plugins, postgresql

#611 gitlab_runners inventory plugin: runtime en var and list default behavior
  changelogs/fragments/611-gitlab-runners-env-vars-intput-and-default-item-limit.yaml
  plugins/inventory/gitlab_runners.py
Labels: affects_2.10, bug, community_review, has_issue, inventory, needs_triage, new_contributor, plugins

#660 Test of using FQCN for some builtin plugins
  tests/integration/targets/connection/test_connection.yml
  tests/integration/targets/postgresql_slot/tasks/postgresql_slot_initial.yml
  tests/integration/targets/postgresql_user/tasks/postgresql_user_initial.yml
  tests/integration/targets/setup_redis_replication/tasks/setup_redis_cluster.yml
  tests/integration/targets/supervisorctl/tasks/start_supervisord.yml
Labels: affects_2.10, community_review, database, docs, integration, plugins, postgresql, tests, web_infrastructure

#661 modules: fix examples to use FQCN for builtin plugins
  plugins/lookup/hashi_vault.py
  plugins/lookup/lmdb_kv.py
  plugins/lookup/nios.py
  plugins/lookup/nios_next_ip.py
  plugins/lookup/nios_next_network.py
  plugins/lookup/passwordstore.py
  plugins/modules/cloud/docker/docker_compose.py
  plugins/modules/cloud/docker/docker_image_info.py
  plugins/modules/cloud/google/gce.py
  plugins/modules/cloud/opennebula/one_vm.py
  plugins/modules/cloud/packet/packet_device.py
  plugins/modules/cloud/rackspace/rax_facts.py
  plugins/modules/database/postgresql/postgresql_query.py
  plugins/modules/remote_management/redfish/idrac_redfish_info.py
  plugins/modules/web_infrastructure/apache2_mod_proxy.py
  plugins/modules/web_infrastructure/jenkins_plugin.py
  plugins/modules/web_infrastructure/jenkins_script.py
Labels: affects_2.10, cloud, community_review, database, docker, docs, gce, lookup, module, needs_triage, plugins, postgresql, remote_management, web_infrastructure

#659 modules: fix names with hyphens (#656)
  changelogs/fragments/656-name-with-hyphen.yml
  plugins/modules/database/postgresql/postgresql_privs.py
  tests/integration/targets/postgresql_privs/defaults/main.yml
  tests/integration/targets/postgresql_privs/tasks/postgresql_privs_general.yml
Labels: affects_2.10, bug, community_review, database, integration, module, new_contributor, plugins, postgresql, tests

#623 migrate firewalld to ansible.posix
  .github/BOTMETA.yml
  changelogs/fragments/firewalld_migration.yml
  meta/runtime.yml
  plugins/module_utils/firewalld.py
  plugins/modules/firewalld.py
  plugins/modules/system/firewalld.py
  tests/integration/targets/firewalld/aliases
  tests/integration/targets/firewalld/meta/main.yml
  tests/integration/targets/firewalld/tasks/main.yml
  tests/integration/targets/firewalld/tasks/port_test_cases.yml
  tests/integration/targets/firewalld/tasks/run_all_tests.yml
  tests/integration/targets/firewalld/tasks/service_test_cases.yml
  tests/integration/targets/firewalld/tasks/source_test_cases.yml
  tests/integration/targets/firewalld/tasks/zone_target_test_cases.yml
Labels: affects_2.10, community_review, feature, has_issue, integration, module, module_utils, plugins, system, tests

#612 Add check for rundeck_acl_policy name
  changelogs/fragments/add_argument_check_for_rundeck.yaml
  plugins/modules/web_infrastructure/rundeck_acl_policy.py
Labels: affects_2.10, community_review, feature, module, new_contributor, plugins, small_patch, web_infrastructure

#606 Adding ODBC module
  plugins/modules/database/misc/odbc.py
  plugins/modules/odbc.py
  tests/integration/targets/odbc/aliases
  tests/integration/targets/odbc/defaults/main.yml
  tests/integration/targets/odbc/meta/main.yml
  tests/integration/targets/odbc/tasks/install_pyodbc.yml
  tests/integration/targets/odbc/tasks/main.yml
  tests/integration/targets/odbc/tasks/negative_tests.yml
  tests/integration/targets/odbc/tasks/no_pyodbc.yml
Labels: affects_2.10, community_review, database, integration, module, needs_triage, new_contributor, new_module, new_plugin, tests

#650 pacman: Treat .zst package names as files
  changelogs/fragments/650_pacman_support_zst_package_files.yaml
  plugins/modules/packaging/os/pacman.py
Labels: affects_2.10, bug, community_review, module, new_contributor, os, packaging, plugins, small_patch

#670 Prevent CI failure with older pip versions
  tests/integration/targets/pids/tasks/main.yml
Labels: affects_2.10, bug, community_review, integration, needs_triage, plugins, small_patch, system, tests

#653 postgresql_query: add search_path parameter
  changelogs/fragments/653-postgresql_query_add_search_path_param.yml
  plugins/modules/database/postgresql/postgresql_query.py
  tests/integration/targets/postgresql_query/tasks/postgresql_query_initial.yml
Labels: affects_2.10, community_review, database, feature, has_issue, integration, module, plugins, postgresql, tests

#613 Handle 'No more variables left in this MIB View ' in snmp_facts
  changelogs/fragments/613-snmp_facts-EndOfMibView.yml
  plugins/modules/net_tools/snmp_facts.py
Labels: affects_2.10, bug, community_review, has_issue, module, net_tools, new_contributor, plugins, small_patch

#627 Add cobbler inventory plugin
  plugins/inventory/cobbler.py
  tests/unit/plugins/inventory/test_cobbler.py
Labels: affects_2.10, community_review, feature, has_issue, inventory, needs_triage, new_contributor, new_plugin, plugins, tests

#305 launchd: new module to control launchd services on macOS hosts
  plugins/modules/launchd.py
  plugins/modules/system/launchd.py
  tests/integration/targets/launchd/aliases
  tests/integration/targets/launchd/files/ansible_test_service.py
  tests/integration/targets/launchd/meta/main.yml
  tests/integration/targets/launchd/tasks/main.yml
  tests/integration/targets/launchd/tasks/setup.yml
  tests/integration/targets/launchd/tasks/teardown.yml
  tests/integration/targets/launchd/tasks/test.yml
  tests/integration/targets/launchd/tasks/tests/test_reload.yml
  tests/integration/targets/launchd/tasks/tests/test_restart.yml
  tests/integration/targets/launchd/tasks/tests/test_runatload.yml
  tests/integration/targets/launchd/tasks/tests/test_start_stop.yml
  tests/integration/targets/launchd/tasks/tests/test_unknown.yml
  tests/integration/targets/launchd/tasks/tests/test_unload.yml
  tests/integration/targets/launchd/templates/launchd.test.service.plist.j2
  tests/integration/targets/launchd/templates/modified.launchd.test.service.plist.j2
  tests/integration/targets/launchd/vars/main.yml
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.9.txt
Labels: community_review, integration, module, new_contributor, new_module, new_plugin, tests

#474 yarn: Fix handling of empty outdated & scoped packages
  changelogs/fragments/474-yarn_fix-outdated-fix-list.yml
  plugins/modules/packaging/language/yarn.py
  tests/integration/targets/yarn/templates/package.j2
Labels: bug, community_review, integration, module, new_contributor, stale_ci, tests, traceback

#681 Add missing symlink, sort meta/runtime.yml entries
  meta/runtime.yml
  plugins/modules/gcpubsub_facts.py
Labels: affects_2.10, bug, community_review, module, needs_triage, new_module, new_plugin

#687 Fix decoding of response payloads for python 3.5
  changelogs/fragments/687-fix-redfish-payload-decode-python35.yml
  plugins/module_utils/redfish_utils.py
Labels: affects_2.10, bug, module_utils, owner_pr, plugins, python3, shipit, small_patch

#691 remove jose-delarosa - new job
  .github/BOTMETA.yml
Labels: affects_2.10, community_review, needs_triage, small_patch

#693 big revamp on xfconf, adding array values
  changelogs/fragments/693-big-revamp-on-xfconf-adding-array-values.yml
  plugins/modules/system/xfconf.py
Labels: affects_2.10, community_review, feature, module, needs_triage, new_contributor, plugins, system

#677 Shameless recommit of changes in jesstruck/ansible:jenkins_plugins_sha1
  changelogs/fragments/677-jenkins_plugins_sha1.yaml
  plugins/modules/web_infrastructure/jenkins_plugin.py
Labels: affects_2.10, bug, community_review, module, new_contributor, plugins, web_infrastructure

#694 Update dependencies
  galaxy.yml
  tests/utils/shippable/shippable.sh
Labels: affects_2.10, bug, community_review, needs_triage, small_patch, tests

#311 jira: log error messages in "errors" key
  changelogs/fragments/311-jira-error-handling.yaml
  plugins/modules/web_infrastructure/jira.py
Labels: bug, module, needs_revision, new_contributor, web_infrastructure

#696 Added uint type to xfconf module
  changelogs/fragments/xfconf_add_uint_type.yml
  plugins/modules/system/xfconf.py
Labels: affects_2.10, community_review, feature, module, needs_triage, new_contributor, plugins, small_patch, system

#599 archive: exclude_path documentation
  plugins/modules/files/archive.py
Labels: affects_2.10, community_review, docs, files, module, needs_triage, plugins, small_patch

#704 doas: properly set the default values
  changelogs/fragments/704-doas-set-correct-default-values.yml
  plugins/become/doas.py
Labels: affects_2.10, become, bug, needs_revision, needs_triage, plugins

#703 Add porting guide entries from Ansible-base porting guide
  changelogs/fragments/porting-guide-2.yml
Labels: affects_2.10, community_review, docs, needs_triage, owner_pr

#576 New docker_stack_module with tests
  plugins/modules/cloud/docker/docker_stack_info.py
  plugins/modules/docker_stack_info.py
  tests/integration/targets/docker_stack_info/aliases
  tests/integration/targets/docker_stack_info/files/stack_compose_base.yml
  tests/integration/targets/docker_stack_info/files/stack_compose_overrides.yml
  tests/integration/targets/docker_stack_info/meta/main.yml
  tests/integration/targets/docker_stack_info/tasks/main.yml
  tests/integration/targets/docker_stack_info/tasks/test_stack_info.yml
  tests/integration/targets/docker_stack_info/vars/main.yml
Labels: affects_2.10, cloud, community_review, docker, integration, module, needs_triage, new_module, new_plugin, plugins, tests

#708 Fix more become plugins
  changelogs/fragments/704-doas-set-correct-default-values.yml
  changelogs/fragments/708-set-correct-default-values.yml
  plugins/become/dzdo.py
  plugins/become/ksu.py
  plugins/become/pbrun.py
  tests/unit/plugins/become/test_doas.py
  tests/unit/plugins/become/test_dzdo.py
  tests/unit/plugins/become/test_ksu.py
  tests/unit/plugins/become/test_pbrun.py
  tests/unit/plugins/become/test_pfexec.py
Labels: affects_2.10, become, bug, community_review, needs_triage, plugins, tests

#702 slack: support for blocks
  changelogs/fragments/702-slack-support-for-blocks.yaml
  plugins/modules/notification/slack.py
  tests/unit/plugins/modules/notification/test_slack.py
Labels: affects_2.10, community_review, feature, module, new_contributor, notification, plugins, tests

#707 jira: cast individual error messages to strings
  changelogs/fragments/707-jira-error-handling.yaml
  plugins/modules/web_infrastructure/jira.py
Labels: affects_2.10, bug, community_review, module, needs_triage, plugins, small_patch, web_infrastructure

#689 haproxy: Enable/disable health and agent checks
  changelogs/fragments/689-haproxy_agent_and_health.yml
  plugins/modules/net_tools/haproxy.py
Labels: affects_2.10, community_review, feature, module, net_tools, new_contributor, plugins

#712 nmcli: fix package name
  plugins/modules/net_tools/nmcli.py
Labels: affects_2.10, community_review, docs, module, needs_triage, net_tools, plugins, small_patch

#711 module lxd_container - added target parameter for cluster deployments
  changelogs/fragments/711-lxd-target.yml
  plugins/modules/cloud/lxd/lxd_container.py
Labels: affects_2.10, cloud, community_review, feature, module, new_contributor, plugins

#610 add ini config to logstash callback
  changelogs/fragments/610_logstash_callback_add_ini_config.yml
  plugins/callback/logstash.py
Labels: affects_2.10, callback, feature, needs_revision, needs_triage, new_contributor, plugins

#587 sanity: Fix sanity check for modules
  plugins/modules/cloud/atomic/atomic_container.py
  plugins/modules/cloud/atomic/atomic_host.py
  plugins/modules/cloud/atomic/atomic_image.py
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.9.txt
Labels: affects_2.10, bug, cloud, module, needs_revision, needs_triage, plugins, stale_ci, tests

#718 Fix jboss test (wildfly didn't start because of some permission problems)
  tests/integration/targets/setup_wildfly_server/tasks/main.yml
Labels: affects_2.10, bug, community_review, integration, needs_triage, small_patch, tests
