Repository ansible-collections/community.general, pull requests merged in 2020-08, with the labels that each got.

#728 filetree: Update example and documentation for plugin
  plugins/lookup/dig.py
  plugins/lookup/filetree.py
Labels: affects_2.10, community_review, docs, lookup, plugins

#732 New Docker Stack Task Info Module with Tests
  plugins/modules/cloud/docker/docker_stack_task_info.py
  plugins/modules/docker_stack_task_info.py
  tests/integration/targets/docker_stack_task_info/aliases
  tests/integration/targets/docker_stack_task_info/files/stack_compose_base.yml
  tests/integration/targets/docker_stack_task_info/files/stack_compose_overrides.yml
  tests/integration/targets/docker_stack_task_info/meta/main.yml
  tests/integration/targets/docker_stack_task_info/tasks/main.yml
  tests/integration/targets/docker_stack_task_info/tasks/test_stack_task_info.yml
  tests/integration/targets/docker_stack_task_info/vars/main.yml
Labels: affects_2.10, cloud, community_review, docker, integration, module, new_module, new_plugin, plugins, tests

#742 bot: remove from team
  .github/BOTMETA.yml
Labels: affects_2.10, needs_info, needs_template, needs_triage, new_contributor, small_patch

#740 lookup: Fix minor typos
  plugins/lookup/consul_kv.py
  plugins/lookup/cyberarkpassword.py
  plugins/lookup/etcd3.py
  plugins/lookup/gcp_storage_file.py
Labels: affects_2.10, community_review, docs, lookup, needs_triage, plugins

#738 ipa module utils: BUGFIX ipa modules Cookie problem with Loadbalanced IPA and Python3 (…
  changelogs/fragments/738-ipa-python3.yml
  plugins/module_utils/ipa.py
Labels: affects_2.10, bug, community_review, has_issue, module_utils, needs_triage, new_contributor, plugins, python3, small_patch

#722 Fix plugins (names, constants, FQCNs in examples)
  changelogs/fragments/722-plugins.yml
  plugins/callback/logentries.py
  plugins/callback/splunk.py
  plugins/callback/sumologic.py
  plugins/connection/oc.py
  plugins/inventory/cobbler.py
  plugins/inventory/docker_machine.py
  plugins/inventory/docker_swarm.py
  plugins/inventory/gitlab_runners.py
  plugins/inventory/kubevirt.py
  plugins/inventory/linode.py
  plugins/inventory/nmap.py
  plugins/inventory/online.py
  plugins/inventory/scaleway.py
  plugins/inventory/virtualbox.py
  plugins/lookup/cartesian.py
  plugins/lookup/chef_databag.py
  plugins/lookup/consul_kv.py
  plugins/lookup/credstash.py
  plugins/lookup/cyberarkpassword.py
  plugins/lookup/dig.py
  plugins/lookup/dnstxt.py
  plugins/lookup/etcd.py
  plugins/lookup/etcd3.py
  plugins/lookup/filetree.py
  plugins/lookup/flattened.py
  plugins/lookup/gcp_storage_file.py
  plugins/lookup/hiera.py
  plugins/lookup/keyring.py
  plugins/lookup/lastpass.py
  plugins/lookup/lmdb_kv.py
  plugins/lookup/manifold.py
  plugins/lookup/nios.py
  plugins/lookup/nios_next_ip.py
  plugins/lookup/nios_next_network.py
  plugins/lookup/onepassword.py
  plugins/lookup/onepassword_raw.py
  plugins/lookup/passwordstore.py
  plugins/lookup/redis.py
  plugins/lookup/shelvefile.py
Labels: affects_2.10, bug, callback, cloud, community_review, connection, docker, inventory, lookup, needs_triage, plugins

#743 dsv: Use correct dict usage
  changelogs/fragments/dsv_fix.yml
  plugins/lookup/dsv.py
Labels: affects_2.10, community_review, docs, lookup, needs_triage, plugins, small_patch

#747 Scaleway: Fix api_token documentation
  plugins/doc_fragments/scaleway.py
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
Labels: affects_2.10, cloud, community_review, docs, module_utils, needs_triage, new_contributor, plugins, tests

#750 JC plugin
  changelogs/fragments/750-jc-new-filter.yaml
  plugins/filter/jc.py
  tests/integration/targets/filter_jc/aliases
  tests/integration/targets/filter_jc/runme.sh
  tests/integration/targets/filter_jc/runme.yml
  tests/integration/targets/filter_jc/tasks/main.yml
Labels: affects_2.10, community_review, needs_triage, new_contributor, new_plugin

#764 Try to fix docker tests
  tests/integration/targets/setup_docker/defaults/main.yml
  tests/integration/targets/setup_docker/handlers/main.yml
  tests/integration/targets/setup_docker/tasks/main.yml
Labels: affects_2.10, bug, community_review, integration, needs_triage, tests

#765 Fix docker_stack_task_info tests
  tests/integration/targets/docker_stack_task_info/tasks/test_stack_task_info.yml
Labels: affects_2.10, bug, cloud, community_review, docker, integration, needs_triage, plugins, small_patch, tests

#744 Update xfconf.py: make locale-independent
  changelogs/fragments/744-xfconf_make_locale-independent.yml
  plugins/modules/system/xfconf.py
Labels: affects_2.10, community_review, feature, module, new_contributor, plugins, system

#700 New module: shutdown
  plugins/action/shutdown.py
  plugins/action/system/shutdown.py
  plugins/modules/shutdown.py
  plugins/modules/system/shutdown.py
  tests/integration/targets/shutdown/aliases
  tests/integration/targets/shutdown/tasks/main.yml
Labels: action, affects_2.10, community_review, feature, integration, module, new_module, new_plugin, plugins, system, tests

#769 Fix MacOS shutdown integration test
  tests/integration/targets/shutdown/tasks/main.yml
Labels: affects_2.10, bug, community_review, integration, needs_triage, plugins, small_patch, system, tests

#776 postgresql_set: allow to pass an empty string as a value
  changelogs/fragments/776-postgresql_set_allow_empty_string.yaml
  plugins/modules/database/postgresql/postgresql_set.py
  tests/integration/targets/postgresql_set/tasks/main.yml
  tests/integration/targets/postgresql_set/tasks/postgresql_set_initial.yml
Labels: affects_2.10, bug, community_review, database, integration, module, needs_triage, plugins, postgresql, tests

#271 New module: iptables_state
  plugins/action/__init__.py
  plugins/action/iptables_state.py
  plugins/action/system/iptables_state.py
  plugins/modules/iptables_state.py
  plugins/modules/system/iptables_state.py
  tests/integration/targets/iptables_state/aliases
  tests/integration/targets/iptables_state/meta/main.yml
  tests/integration/targets/iptables_state/tasks/main.yml
  tests/integration/targets/iptables_state/tasks/tests/00-basic.yml
  tests/integration/targets/iptables_state/tasks/tests/01-tables.yml
  tests/integration/targets/iptables_state/tasks/tests/10-rollback.yml
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.9.txt
Labels: action, affects_1, community_review, has_issue, integration, module, new_module, new_plugin, tests

#774 Fix galaxy.yml
  changelogs/fragments/galaxy-yml.yml
  galaxy.yml
Labels: affects_2.10, bug, community_review, needs_triage, small_patch

#784 [stable-1] postgresql_set: allow to pass an empty string as a value (#776)
  changelogs/fragments/776-postgresql_set_allow_empty_string.yaml
  plugins/modules/database/postgresql/postgresql_set.py
  tests/integration/targets/postgresql_set/tasks/main.yml
  tests/integration/targets/postgresql_set/tasks/postgresql_set_initial.yml
Labels: affects_2.10, bug, community_review, database, integration, module, needs_triage, plugins, postgresql, tests

#341 Module: Adding OpenBSD sysupgrade support
  plugins/modules/system/sysupgrade.py
  plugins/modules/sysupgrade.py
  tests/unit/plugins/modules/system/test_sysupgrade.py
Labels: affects_1, has_issue, module, needs_revision, new_contributor, new_module, new_plugin, tests

#789 pkg5: wrap 'to modify' package list
  changelogs/fragments/789-pkg5-wrap-to-modify-package-list.yaml
  plugins/modules/packaging/os/pkg5.py
Labels: affects_2.10, community_review, module, new_contributor, os, owner_pr, packaging, plugins, python3, small_patch

#832 Disable notifications for jose-delarosa
  .github/BOTMETA.yml
Labels: affects_2.10, community_review, needs_triage, small_patch

#839 Disable hg tests: these use bitbucket.org, which dropped mercurial support on 2020-08-26
  tests/integration/targets/hg/aliases
Labels: affects_2.10, bug, community_review, integration, needs_triage, plugins, small_patch, source_control, tests

#841 Fix diy callback tests
  tests/integration/targets/callback_diy/tasks/main.yml
Labels: affects_2.10, bug, community_review, integration, needs_triage, tests

#842 Fix lmdb lookup tests
  tests/integration/targets/lookup_lmdb_kv/dependencies.yml
Labels: affects_2.10, bug, community_review, integration, needs_triage, small_patch, tests
