Repository ansible-collections/community.general, pull requests merged in 2020-04, with the labels that each got.

#102 Migrate apt_repo to community.general
  plugins/modules/apt_repo.py
  plugins/modules/packaging/os/apt_repo.py
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.9.txt
Labels: packaging

#112 homebrew: Honor update_homebrew value
  changelogs/fragments/56650-homebrew-update_brew.yml
  plugins/modules/packaging/os/homebrew.py
  tests/integration/targets/homebrew/tasks/main.yml
Labels: packaging

#146 mysql_info: added spaces to CI tests
  tests/integration/targets/mysql_info/tasks/main.yml
Labels: affects_2.10, bug, community_review, database, mysql, needs_triage, plugins, stale_ci

#147 Update testing
  shippable.yml
  tests/integration/targets/setup_docker/tasks/Debian.yml
  tests/integration/targets/setup_docker/tasks/Fedora.yml
  tests/integration/targets/setup_docker/tasks/RedHat-7.yml
  tests/integration/targets/setup_docker/tasks/RedHat-8.yml
  tests/integration/targets/setup_docker/tasks/Suse.yml
  tests/integration/targets/setup_docker/tasks/main.yml
  tests/sanity/requirements.txt
Labels: WIP, affects_2.10, bug, needs_triage, stale_ci

#95 Xbps various changes
  plugins/modules/packaging/os/xbps.py
Labels: affects_2.10, bug, community_review, module, new_contributor, packaging, plugins, stale_ci

#114 Fix command line construction in the puppet module
  changelogs/fragments/114-puppet-commandline-construction.yml
  plugins/modules/system/puppet.py
Labels: bug, core_review, module, plugins, stale_ci

#140 Move gcp_kms_filters to google.cloud collection
  .github/BOTMETA.yml
  plugins/filter/gcp_kms_filters.py
Labels: bug, needs_revision, needs_triage, plugins, stale_ci

#136 mysql_info: Add parameter for __collect method
  changelogs/fragments/mysql_info_add_parameter.yml
  plugins/modules/database/mysql/mysql_info.py
Labels: affects_2.10, community_review, database, feature, module, mysql, new_contributor, plugins, stale_ci

#142 mysql_user: add resource_limits parameter
  changelogs/fragments/142-mysql_user_add_resource_limit_parameter.yml
  plugins/modules/database/mysql/mysql_user.py
  tests/integration/targets/mysql_user/tasks/main.yml
  tests/integration/targets/mysql_user/tasks/resource_limits.yml
Labels: affects_2.10, community_review, database, feature, has_issue, module, mysql, plugins, stale_ci

#116 postgresql_user: add trust_input parameter
  changelogs/fragments/116-postgresql_user_add_trust_input_parameter.yml
  plugins/module_utils/database.py
  plugins/modules/database/postgresql/postgresql_user.py
  tests/integration/targets/postgresql_user/defaults/main.yml
  tests/integration/targets/postgresql_user/tasks/postgresql_user_general.yml
  tests/unit/plugins/module_utils/test_database.py
Labels: community_review, database, feature, integration, module, plugins, postgresql, tests

#108 Update alicloud.py, ali_instance and alicloud_ecs to support more params.
  changelogs/fragments/alicloud_params_add.yml
  plugins/doc_fragments/alicloud.py
  plugins/module_utils/alicloud_ecs.py
  plugins/modules/cloud/alicloud/ali_instance.py
  plugins/modules/cloud/alicloud/ali_instance_info.py
  tests/sanity/ignore-2.10.txt
Labels: docs, module, needs_revision, new_contributor, plugins, stale_ci

#83 Fix warning message in dense callback plugin
  changelogs/fragments/83-dense-callback-warning.yml
  plugins/callback/dense.py
Labels: bug, callback, needs_revision, new_contributor, plugins, stale_ci

#158 postgresql_membership: add trust_input parameter
  changelogs/fragments/158-postgresql_membership_add_trust_input_parameter.yml
  plugins/modules/database/postgresql/postgresql_membership.py
  tests/integration/targets/postgresql_membership/defaults/main.yml
  tests/integration/targets/postgresql_membership/tasks/postgresql_membership_initial.yml
Labels: database, postgresql

#179 postgresql_user: add session_role parameter to check
  plugins/modules/database/postgresql/postgresql_user.py
Labels: database, postgresql

#126 Added ldap_search module for searching in LDAP servers
  plugins/modules/ldap_search.py
  plugins/modules/net_tools/ldap/ldap_search.py
  tests/integration/targets/ldap_search/aliases
  tests/integration/targets/ldap_search/meta/main.yml
  tests/integration/targets/ldap_search/tasks/main.yml
  tests/integration/targets/ldap_search/tasks/run-test.yml
  tests/integration/targets/ldap_search/tasks/tests/basic.yml
  tests/integration/targets/setup_openldap/files/initial_config.ldif
  tests/integration/targets/setup_openldap/files/rootpw_cnconfig.ldif
  tests/integration/targets/setup_openldap/meta/main.yml
  tests/integration/targets/setup_openldap/tasks/main.yml
  tests/integration/targets/setup_openldap/vars/Debian.yml
  tests/integration/targets/setup_openldap/vars/Ubuntu.yml
Labels: affects_2.10, integration, module, needs_revision, net_tools, new_contributor, new_module, new_plugin, plugins, python3, tests

#123 Slack: Add bot/user token support, correct thread_ts support
  changelogs/fragments/123-slack-add_bot_token_support_thread_id.yml
  plugins/modules/notification/slack.py
  tests/unit/plugins/modules/notification/test_slack.py
Labels: affects_2.10, feature, module, new_contributor, plugins, shipit, tests

#177 postgresql_privs: add trust_input parameter
  changelogs/fragments/177-postgresql_privs_add_trust_input_parameter.yml
  plugins/module_utils/database.py
  plugins/modules/database/postgresql/postgresql_privs.py
  tests/integration/targets/postgresql_privs/defaults/main.yml
  tests/integration/targets/postgresql_privs/tasks/postgresql_privs_general.yml
  tests/integration/targets/postgresql_privs/tasks/postgresql_privs_session_role.yml
Labels: affects_2.10, database, feature, integration, module, plugins, postgresql, shipit, tests

#184 postgresql_db: add trust_input parameter
  plugins/modules/database/postgresql/postgresql_db.py
  tests/integration/targets/postgresql_db/defaults/main.yml
  tests/integration/targets/postgresql_db/tasks/state_dump_restore.yml
Labels: affects_2.10, community_review, database, feature, integration, module, plugins, postgresql, tests

#205 jira: Fix incompatible pathname2url import (#204)
  plugins/modules/web_infrastructure/jira.py
Labels: affects_2.10, bug, community_review, module, new_contributor, plugins, python3

#151 mysql_db: add use_shell parameter to prevent Broken pipe errors
  changelogs/fragments/151-mysql_db_add_use_shell_parameter.yml
  plugins/modules/database/mysql/mysql_db.py
  tests/integration/targets/mysql_db/tasks/state_dump_import.yml
Labels: affects_2.10, bug, community_review, database, feature, has_issue, integration, module, mysql, plugins, tests

#100 postgresql_user: add scram-sha-256 password support
  changelogs/fragments/100-postgresql_user_scram_sha_256_support.yml
  plugins/module_utils/saslprep.py
  plugins/modules/database/postgresql/postgresql_user.py
  tests/integration/targets/postgresql_user/tasks/test_password.yml
  tests/unit/module_utils/test_saslprep.py
Labels: affects_2.10, database, feature, integration, module, new_plugin, postgresql, shipit, tests

#171 Add small unit test framework for testing fetch_url() based modules
  tests/requirements.yml
  tests/unit/plugins/modules/net_tools/test_hetzner_firewall.py
  tests/unit/plugins/modules/net_tools/test_hetzner_firewall_info.py
  tests/utils/shippable/shippable.sh
Labels: affects_2.10, community_review, feature, module, tests

#220 mysql_user: improve check_implicit_admin parameter's documentation
  plugins/modules/database/mysql/mysql_user.py
Labels: affects_2.10, community_review, database, docs, has_issue, module, mysql, needs_triage, owner_pr, plugins

#212 Add option to choose a specific make executable
  changelogs/fragments/212-make-path-option.yml
  plugins/modules/system/make.py
Labels: affects_2.10, bug, community_review, module, new_contributor, plugins, system

#223 fix "TypeError: Object of type map is not JSON serializable"
  changelogs/fragments/223-manageiq_provider-fix-serialization.yml
  plugins/modules/remote_management/manageiq/manageiq_provider.py
Labels: affects_2.10, bug, community_review, module, new_contributor, plugins, python3, remote_management

#231 Reenable consul test, fix issues with a hack
  tests/integration/targets/consul/aliases
  tests/utils/shippable/shippable.sh
Labels: affects_2.10, bug, clustering, community_review, integration, needs_triage, plugins, tests

#127 add etcd3 lookup plugin
  plugins/lookup/etcd3.py
  tests/integration/targets/lookup_etcd3/aliases
  tests/integration/targets/lookup_etcd3/defaults/main.yml
  tests/integration/targets/lookup_etcd3/dependencies.yml
  tests/integration/targets/lookup_etcd3/meta/main.yml
  tests/integration/targets/lookup_etcd3/runme.sh
  tests/integration/targets/lookup_etcd3/tasks/main.yml
  tests/integration/targets/lookup_etcd3/tasks/tests.yml
  tests/integration/targets/lookup_etcd3/test_lookup_etcd3.yml
  tests/integration/targets/setup_etcd3/defaults/main.yml
  tests/integration/targets/setup_etcd3/meta/main.yml
  tests/integration/targets/setup_etcd3/tasks/main.yml
  tests/integration/targets/setup_etcd3/vars/RedHat-7.yml
  tests/integration/targets/setup_etcd3/vars/Suse-py3.yml
  tests/integration/targets/setup_etcd3/vars/Suse.yml
  tests/integration/targets/setup_etcd3/vars/default.yml
  tests/unit/plugins/lookup/test_etcd3.py
Labels: affects_2.10, integration, lookup, merge_commit, needs_rebase, needs_revision, new_contributor, new_plugin, plugins, tests

#221 parted: support fs_type
  changelogs/fragments/221-parted-fs_type-parameter.yml
  plugins/modules/system/parted.py
  tests/unit/plugins/modules/system/test_parted.py
Labels: affects_2.10, community_review, feature, module, plugins, system, tests

#239 fix broken etcd3 module integration test
  tests/integration/targets/etcd3/aliases
  tests/integration/targets/etcd3/defaults/main.yml
  tests/integration/targets/etcd3/meta/main.yml
  tests/integration/targets/etcd3/tasks/main.yml
  tests/integration/targets/etcd3/tasks/run_tests.yml
  tests/integration/targets/etcd3/vars/RedHat-py3.yml
  tests/integration/targets/etcd3/vars/RedHat.yml
  tests/integration/targets/etcd3/vars/Suse.yml
  tests/integration/targets/etcd3/vars/Ubuntu-16-py3.yml
  tests/integration/targets/etcd3/vars/Ubuntu-16.yml
  tests/integration/targets/etcd3/vars/default.yml
Labels: affects_2.10, bug, clustering, community_review, integration, plugins, tests

#198 postgresql_owner: add trust_input parameter
  changelogs/fragments/198-postgresql_owner_add_trust_input_parameter.yml
  plugins/modules/database/postgresql/postgresql_owner.py
  tests/integration/targets/postgresql_owner/defaults/main.yml
  tests/integration/targets/postgresql_owner/tasks/postgresql_owner_initial.yml
Labels: affects_2.10, community_review, database, feature, has_issue, integration, module, plugins, postgresql, tests

#23 hashi_vault refresh - Add AWS login methods, bugfixes, cleanup
  changelogs/fragments/23-hashi-vault-lookup-refresh.yaml
  plugins/lookup/hashi_vault.py
  tests/integration/targets/lookup_hashi_vault/lookup_hashi_vault/defaults/main.yml
  tests/integration/targets/lookup_hashi_vault/lookup_hashi_vault/tasks/main.yml
  tests/integration/targets/lookup_hashi_vault/lookup_hashi_vault/tasks/token_test.yml
Labels: affects_2.10, backport, feature, has_issue, integration, lookup, needs_revision, new_contributor, plugins, tests

#248 proxmox: fix examples formatting
  plugins/modules/cloud/misc/proxmox.py
Labels: affects_2.10, cloud, community_review, docs, module, needs_triage, plugins

#246 postgresql_owner: fix CI test formatting, return some disappeared comments to place
  tests/integration/targets/postgresql_owner/tasks/postgresql_owner_initial.yml
Labels: affects_2.10, community_review, database, docs, integration, needs_triage, plugins, postgresql, tests

#243 cloudflare_dns: fix KeyError
  changelogs/fragments/243-cloudflare_dns_fix_keyerror.yml
  plugins/modules/net_tools/cloudflare_dns.py
Labels: affects_2.10, bug, has_issue, module, needs_revision, net_tools, new_contributor, plugins

#258 xml: fix tests (bad boolean)
  tests/integration/targets/xml/tasks/test-children-elements-xml.yml
Labels: affects_2.10, bug, community_review, files, integration, needs_triage, plugins, small_patch, tests

#257 Update CI from RHEL 8.1 to 8.2.
  shippable.yml
Labels: affects_2.10, feature, needs_revision, needs_triage
