Repository ansible-collections/community.general, pull requests merged in 2020-06, with the labels that each got.

#428 Mysql db unsafe passwd
  changelogs/fragments/428-mysql_db_add_unsafe_login_password_param.yml
  plugins/modules/database/mysql/mysql_db.py
  tests/integration/targets/mysql_db/tasks/state_dump_import.yml
Labels: affects_2.10, community_review, database, feature, has_issue, integration, module, mysql, needs_triage, plugins, tests

#445 scaleway: Fix case mismatch causing key lookup failure
  changelogs/fragments/444-scaleway_fix_http_header_casing.yml
  plugins/module_utils/scaleway.py
Labels: affects_2.10, bug, cloud, community_review, needs_triage, new_contributor, plugins, small_patch

#397 files: add a new module iso_create
  plugins/modules/files/iso_create.py
  plugins/modules/iso_create.py
  tests/integration/targets/iso_create/aliases
  tests/integration/targets/iso_create/files/test1.cfg
  tests/integration/targets/iso_create/files/test_dir/test2.cfg
  tests/integration/targets/iso_create/meta/main.yml
  tests/integration/targets/iso_create/tasks/main.yml
  tests/integration/targets/iso_create/tasks/prepare_dest_dir.yml
Labels: affects_2.10, files, has_issue, integration, module, needs_revision, needs_triage, new_module, new_plugin, tests

#394 terraform module: Added backend_config_file and multiple variables_file
  changelogs/fragments/394-terraform-add-config_file.yml
  plugins/modules/cloud/misc/terraform.py
Labels: affects_2.10, cloud, community_review, feature, module, needs_triage, new_contributor, plugins

#382 Added 'extra_install_args' module option to allow extra upgrade/install specific zypper arguments
  changelogs/fragments/382-install_upgrade_specific_args.yaml
  plugins/modules/packaging/os/zypper.py
  tests/integration/targets/zypper/tasks/zypper.yml
  tests/integration/targets/zypper/templates/duplicate.spec.j2
Labels: affects_2.10, bug, community_review, has_issue, integration, module, new_contributor, os, packaging, plugins, tests

#374 Add sops lookup plugin
  plugins/lookup/sops.py
  plugins/module_utils/sops.py
  tests/integration/targets/lookup_sops/aliases
  tests/integration/targets/lookup_sops/files/.sops.yaml
  tests/integration/targets/lookup_sops/files/simple.sops.yaml
  tests/integration/targets/lookup_sops/files/wrong.yaml
  tests/integration/targets/lookup_sops/meta/main.yml
  tests/integration/targets/lookup_sops/tasks/main.yml
  tests/integration/targets/setup_sops/meta/main.yml
  tests/integration/targets/setup_sops/tasks/main.yml
  tests/integration/targets/setup_sops/tasks/ubuntu.yml
Labels: affects_2.10, community_review, feature, integration, lookup, needs_triage, new_contributor, new_plugin, plugins, tests

#471 Fix modules/packaging/os/pkg5 authors/maintainers in BOTMETA.yml
  .github/BOTMETA.yml
Labels: affects_2.10, bug, community_review, has_issue, needs_triage, new_contributor, small_patch

#483 Temporarily fix gitlab_runner tests by restricting python-gitlab version
  tests/unit/requirements.txt
Labels: affects_2.10, bug, community_review, has_issue, needs_triage, small_patch, tests

#468 mysql_db: add restrict_config_file parameter
  changelogs/fragments/468-mysql_db_add_restrict_config_file_param.yml
  plugins/modules/database/mysql/mysql_db.py
  tests/integration/targets/mysql_db/tasks/state_dump_import.yml
Labels: affects_2.10, community_review, database, feature, has_issue, integration, module, mysql, needs_triage, plugins, tests

#476 Add 'init' option for docker_swarm_service.
  changelogs/fragments/476-docker_swarm_service_add_init_option.yml
  plugins/modules/cloud/docker/docker_swarm_service.py
  tests/integration/targets/docker_swarm_service/tasks/tests/options.yml
  tests/integration/targets/docker_swarm_service/vars/main.yml
Labels: affects_2.10, cloud, community_review, docker, feature, integration, module, needs_triage, new_contributor, plugins, tests

#457 cisco_spark -> cisco_webex rename and message option fix
  plugins/modules/cisco_spark.py
  plugins/modules/cisco_webex.py
  plugins/modules/notification/cisco_spark.py
  plugins/modules/notification/cisco_webex.py
  tests/sanity/ignore-2.10.txt
Labels: affects_2.10, bug, module, needs_revision, new_contributor, new_module, new_plugin, notification, plugins, tests

#487 Fix CI
  tests/integration/targets/firewalld/aliases
  tests/integration/targets/setup_mysql8/tasks/setup_mysql8.yml
  tests/integration/targets/setup_mysql_replication/tasks/setup_mysql_cluster.yml
  tests/sanity/ignore-2.10.txt
Labels: affects_2.10, bug, community_review, has_issue, integration, needs_triage, plugins, system, tests

#486 mysql_db: add check_implicit_admin parameter
  changelogs/fragments/486-mysql_db_add_check_implicit_admin_parameter.yml
  plugins/modules/database/mysql/mysql_db.py
  tests/integration/targets/mysql_db/tasks/state_dump_import.yml
Labels: affects_2.10, community_review, database, feature, has_issue, integration, module, mysql, needs_triage, plugins, tests

#496 Fix README Badge urls
  README.md
Labels: affects_2.10, bug, community_review, needs_triage, small_patch

#454 slackpkg: fix name matching in package installation (#450)
  changelogs/fragments/450-slackpkg-package-matching.yml
  plugins/modules/packaging/os/slackpkg.py
Labels: affects_2.10, bug, community_review, has_issue, module, os, packaging, plugins

#458 rshm_repository: reduce execution time when changed == False
  changelogs/fragments/458-rshm_repository-reduce_execution_time_when_changed_is_false.yml
  plugins/modules/packaging/os/rhsm_repository.py
Labels: affects_2.10, bug, module, needs_revision, needs_triage, os, owner_pr, packaging, plugins, small_patch

#444 scaleway_compute: When removing node, wait for transition
  changelogs/fragments/444-scaleway-improve_removal_handling.yml
  plugins/modules/cloud/scaleway/scaleway_compute.py
Labels: affects_2.10, bug, cloud, community_review, module, plugins

#494 add Redfish VirtualMediaInsert and VirtualMediaEject commands
  changelogs/fragments/494-add-redfish-virtual-media-commands.yml
  plugins/module_utils/redfish_utils.py
  plugins/modules/remote_management/redfish/redfish_command.py
Labels: affects_2.10, feature, module, owner_pr, plugins, remote_management, shipit

#461 Do domain resolution for portal
  changelogs/fragments/461-resolve-domain-for-iscsi-portal.yml
  plugins/modules/system/open_iscsi.py
Labels: affects_2.10, bug, community_review, module, new_contributor, plugins, system

#503 Fix CI
  plugins/modules/system/nosh.py
  tests/sanity/ignore-2.10.txt
Labels: affects_2.10, bug, community_review, module, needs_triage, plugins, system, tests

#509 Update unit test requirements
  tests/unit/requirements.txt
Labels: affects_2.10, bug, community_review, needs_triage, tests

#510 Remove changelog fragment lint sanity test
  tests/sanity/extra/changelog.json
  tests/sanity/extra/changelog.py
Labels: affects_2.10, bug, community_review, needs_triage, tests

#490 mysql_user: fix cursor-related host_all arguments conversion string formatting error
  changelogs/fragments/490-mysql_user_fix_cursor_errors.yml
  plugins/modules/database/mysql/mysql_user.py
Labels: affects_2.10, bug, community_review, database, has_issue, module, mysql, needs_triage, owner_pr, plugins

#477 nmcli: Typecast parameter values to string as required
  changelogs/fragments/58115_nmcli.yml
  plugins/modules/net_tools/nmcli.py
  tests/unit/plugins/modules/net_tools/test_nmcli.py
Labels: affects_2.10, bug, community_review, has_issue, module, needs_triage, net_tools, plugins, tests

#515 nmcli: Fix documentation example
  plugins/modules/net_tools/nmcli.py
Labels: affects_2.10, community_review, docs, module, needs_triage, net_tools, plugins

#432 Added DIY callback plugin
  plugins/callback/diy.py
  tests/integration/targets/callback_diy/aliases
  tests/integration/targets/callback_diy/handlers/main.yml
  tests/integration/targets/callback_diy/inventory.yml
  tests/integration/targets/callback_diy/tasks/main.yml
Labels: affects_2.10, callback, community_review, feature, has_issue, integration, needs_triage, new_contributor, new_plugin, plugins, tests

#511 cloudflare_dns: Be more verbose on unexpected failure.
  changelogs/fragments/511-cloudflare_dns-verbose-failure.yml
  plugins/modules/net_tools/cloudflare_dns.py
Labels: affects_2.10, bug, community_review, module, net_tools, new_contributor, plugins, small_patch

#512 Porting guide
  changelogs/fragments/porting-guide.yml
Labels: affects_2.10, community_review, docs, needs_triage, owner_pr

#518 Remove sops lookup
  plugins/lookup/sops.py
  plugins/module_utils/sops.py
  tests/integration/targets/lookup_sops/aliases
  tests/integration/targets/lookup_sops/files/.sops.yaml
  tests/integration/targets/lookup_sops/files/simple.sops.yaml
  tests/integration/targets/lookup_sops/files/wrong.yaml
  tests/integration/targets/lookup_sops/meta/main.yml
  tests/integration/targets/lookup_sops/tasks/main.yml
  tests/integration/targets/setup_sops/meta/main.yml
  tests/integration/targets/setup_sops/tasks/main.yml
  tests/integration/targets/setup_sops/tasks/ubuntu.yml
Labels: affects_2.10, bug, community_review, integration, lookup, needs_triage, plugins, tests

#517 cloudscale migrated to cloudscale_ch.cloud
  .github/BOTMETA.yml
  plugins/doc_fragments/cloudscale.py
  plugins/inventory/cloudscale.py
  plugins/module_utils/cloudscale.py
  plugins/modules/cloud/cloudscale/cloudscale_floating_ip.py
  plugins/modules/cloud/cloudscale/cloudscale_server.py
  plugins/modules/cloud/cloudscale/cloudscale_server_group.py
  plugins/modules/cloud/cloudscale/cloudscale_volume.py
  plugins/modules/cloudscale_floating_ip.py
  plugins/modules/cloudscale_server.py
  plugins/modules/cloudscale_server_group.py
  plugins/modules/cloudscale_volume.py
  tests/integration/targets/cloudscale_common/aliases
  tests/integration/targets/cloudscale_common/defaults/main.yml
  tests/integration/targets/cloudscale_common/tasks/cleanup_floating_ips.yml
  tests/integration/targets/cloudscale_common/tasks/cleanup_server_groups.yml
  tests/integration/targets/cloudscale_common/tasks/cleanup_servers.yml
  tests/integration/targets/cloudscale_common/tasks/cleanup_volumes.yml
  tests/integration/targets/cloudscale_common/tasks/main.yml
  tests/integration/targets/cloudscale_floating_ip/aliases
  tests/integration/targets/cloudscale_floating_ip/meta/main.yml
  tests/integration/targets/cloudscale_floating_ip/tasks/floating_ip.yml
  tests/integration/targets/cloudscale_floating_ip/tasks/main.yml
  tests/integration/targets/cloudscale_floating_ip/tasks/unassigned.yml
  tests/integration/targets/cloudscale_server/aliases
  tests/integration/targets/cloudscale_server/defaults/main.yml
  tests/integration/targets/cloudscale_server/meta/main.yml
  tests/integration/targets/cloudscale_server/tasks/failures.yml
  tests/integration/targets/cloudscale_server/tasks/main.yml
  tests/integration/targets/cloudscale_server/tasks/tests.yml
  tests/integration/targets/cloudscale_server_group/aliases
  tests/integration/targets/cloudscale_server_group/meta/main.yml
  tests/integration/targets/cloudscale_server_group/tasks/failures.yml
  tests/integration/targets/cloudscale_server_group/tasks/main.yml
  tests/integration/targets/cloudscale_server_group/tasks/tests.yml
  tests/integration/targets/cloudscale_volume/aliases
  tests/integration/targets/cloudscale_volume/meta/main.yml
  tests/integration/targets/cloudscale_volume/tasks/cleanup.yml
  tests/integration/targets/cloudscale_volume/tasks/failures.yml
  tests/integration/targets/cloudscale_volume/tasks/main.yml
  tests/integration/targets/cloudscale_volume/tasks/setup.yml
  tests/integration/targets/cloudscale_volume/tasks/tests.yml
  tests/integration/targets/inventory_cloudscale/aliases
  tests/integration/targets/inventory_cloudscale/filter_plugins/group_name.py
  tests/integration/targets/inventory_cloudscale/inventory-private.yml
  tests/integration/targets/inventory_cloudscale/inventory-public.yml
  tests/integration/targets/inventory_cloudscale/inventory-uuid.yml
  tests/integration/targets/inventory_cloudscale/playbooks/change-inventory-config.yml
  tests/integration/targets/inventory_cloudscale/playbooks/cleanup.yml
  tests/integration/targets/inventory_cloudscale/playbooks/common-asserts.yml
  tests/integration/targets/inventory_cloudscale/playbooks/setup.yml
  tests/integration/targets/inventory_cloudscale/playbooks/test-inventory.yml
  tests/integration/targets/inventory_cloudscale/runme.sh
  tests/sanity/ignore-2.10.txt
Labels: community_review, feature, needs_rebase, needs_revision

#519 dedicated collection for exoscale.com related plugins
  .github/BOTMETA.yml
  plugins/doc_fragments/exoscale.py
  plugins/module_utils/exoscale.py
  plugins/modules/exo_dns_domain.py
  plugins/modules/exo_dns_record.py
  plugins/modules/net_tools/exoscale/exo_dns_domain.py
  plugins/modules/net_tools/exoscale/exo_dns_record.py
Labels: community_review, feature, module

#523 Prepare for devel version bump
  tests/sanity/ignore-2.11.txt
Labels: affects_2.10, bug, community_review, needs_triage, tests

#521 Adjust removal versions
  changelogs/fragments/124-airbrake_deployments-api_v4_for_deploy_notices.yml
  changelogs/fragments/202-jenkins_plugin-fix-import.yml
  changelogs/fragments/63419-docker_container-defaults.yml
  changelogs/fragments/63420-docker_container-trust_image_content.yml
  changelogs/fragments/63467-docker-stack-return-fix.yml
  changelogs/fragments/64635-docker_container-network_mode.yml
  changelogs/fragments/66837-zabbix-proxy-interface.yml
  changelogs/fragments/clc_aa_policy-remove-unused-wait-parameter.yaml
  plugins/lookup/hashi_vault.py
  plugins/modules/cloud/smartos/vmadm.py
  plugins/modules/database/mysql/mysql_replication.py
  plugins/modules/database/postgresql/postgresql_pg_hba.py
  plugins/modules/database/postgresql/postgresql_privs.py
  plugins/modules/files/archive.py
  plugins/modules/monitoring/airbrake_deployment.py
  plugins/modules/monitoring/bigpanda.py
  plugins/modules/monitoring/datadog/datadog_monitor.py
  plugins/modules/net_tools/ldap/ldap_attr.py
  plugins/modules/packaging/os/pulp_repo.py
  plugins/modules/source_control/gitlab/gitlab_user.py
  plugins/modules/system/java_keystore.py
Labels: affects_2.10, cloud, community_review, database, docs, files, gitlab, lookup, module, monitoring, mysql, needs_triage, net_tools, os, packaging, plugins, postgresql, source_control, system

#524 [WIP] Prepare for stable-2.10 branching of ansible-base
  shippable.yml
  tests/utils/shippable/shippable.sh
Labels: WIP, affects_2.10, bug, needs_triage, tests

#525 parted: update label parameter documentation, add warning
  plugins/modules/system/parted.py
Labels: affects_2.10, community_review, docs, module, needs_triage, plugins, small_patch, system

#505 slackpkg: fix matching some special cases in package names.
  changelogs/fragments/505-slackpkg_fix_matching_some_special_cases_in_package_names.yml
  plugins/modules/packaging/os/slackpkg.py
Labels: bug, community_review, module, small_patch

#528 modules: improve documentation
  plugins/modules/cloud/digital_ocean/digital_ocean_tag.py
  plugins/modules/database/postgresql/postgresql_privs.py
  plugins/modules/notification/slack.py
Labels: affects_2.10, cloud, community_review, database, digital_ocean, docs, module, needs_triage, notification, owner_pr, plugins, postgresql

#530 Pear - Add prompt parameter on pear module that allows to specify one or more prompts
  changelogs/fragments/29253-pear_add_prompts_parameter.yml
  plugins/modules/packaging/language/pear.py
Labels: affects_2.10, bug, community_review, language, module, needs_triage, packaging, plugins

#153 Return correct values when running yarn in check mode
  changelogs/fragments/153-yarn_fix_checkmode-ec61975fc65df7f0.yaml
  plugins/modules/packaging/language/yarn.py
  tests/integration/targets/yarn/tasks/run.yml
Labels: bug, community_review, has_issue, integration, module, stale_ci, tests

#169 apt_rpm: support installing a list of packages (Fixes #143)
  changelogs/fragments/apt_rpm_typefix.yml
  plugins/modules/packaging/os/apt_rpm.py
Labels: bug, community_review, module, new_contributor, pr_day

#241 Fix the behavior of ipa modules in case IPA_HOST is empty
  changelogs/fragments/241-fix-ipa-modules-when-ipa_host-empty.yml
  plugins/module_utils/ipa.py
Labels: bug, community_review, new_contributor, pr_day, small_patch, stale_ci

#513 mysql_db: add config_overrides_defaults parameter
  changelogs/fragments/513-mysql_db_config_overrides_defaults.yml
  plugins/module_utils/mysql.py
  plugins/modules/database/mysql/mysql_db.py
  tests/integration/targets/mysql_db/tasks/config_overrides_defaults.yml
  tests/integration/targets/mysql_db/tasks/main.yml
Labels: community_review, database, feature, has_issue, integration, module, mysql, tests

#533 CI tests: fix setup_postgresql_db
  tests/integration/targets/setup_postgresql_db/tasks/main.yml
  tests/integration/targets/setup_postgresql_db/tasks/ssl.yml
Labels: affects_2.10, bug, community_review, integration, needs_triage, tests

#531 Add Ansible 2.10 runs for CI
  shippable.yml
Labels: affects_2.10, community_review, feature, needs_triage

#405 parted option align: undefined to maintain parted 1.8.3 compatibility
  changelogs/fragments/405-parted_align_undefined.yml
  plugins/modules/system/parted.py
Labels: bug, community_review, module

#537 hashi_vault: Handle equal sign in secret name value
  changelogs/fragments/55658_hashi_vault.yml
  plugins/lookup/hashi_vault.py
  tests/integration/targets/lookup_hashi_vault/lookup_hashi_vault/tasks/main.yml
  tests/integration/targets/lookup_hashi_vault/lookup_hashi_vault/tasks/token_test.yml
Labels: affects_2.10, bug, community_review, has_issue, integration, lookup, needs_triage, plugins, tests

#542 Remove andreaso from cloudflare_dns maintainership
  .github/BOTMETA.yml
Labels: affects_2.10, needs_info, needs_template, needs_triage, small_patch

#475 digital_ocean_droplet: Add new vpc_uuid option
  changelogs/fragments/475-digital_ocean_droplet-add-vpcuuid.yaml
  plugins/modules/cloud/digital_ocean/digital_ocean_droplet.py
Labels: community_review, feature, module, new_contributor

#499 fix and enable firewalld tests
  tests/integration/targets/firewalld/aliases
Labels: bug, community_review, has_issue, integration, small_patch, tests

#526 firewalld: add zone target set
  changelogs/fragments/firewalld_zone_target.yml
  plugins/modules/system/firewalld.py
  tests/integration/targets/firewalld/tasks/run_all_tests.yml
  tests/integration/targets/firewalld/tasks/zone_target_test_cases.yml
Labels: affects_2.10, community_review, feature, has_issue, integration, module, plugins, system, tests

#549 Fix docker_container tests
  tests/integration/targets/docker_container/filter_plugins/ipaddr_tools.py
  tests/integration/targets/docker_container/tasks/main.yml
  tests/integration/targets/docker_container/tasks/tests/network.yml
Labels: affects_2.10, bug, cloud, community_review, docker, integration, needs_triage, new_plugin, plugins, tests

#551 Enable flatmapping for changelog generator
  changelogs/config.yaml
Labels: affects_2.10, bug, community_review, needs_triage, small_patch

#554 collection: Change default='no's and 'yes's to default=False and default=True
  plugins/modules/packaging/os/apk.py
  plugins/modules/packaging/os/pkgin.py
  plugins/modules/packaging/os/portinstall.py
  plugins/modules/packaging/os/zypper.py
  plugins/modules/packaging/os/zypper_repository.py
Labels: affects_2.10, bug, community_review, module, needs_triage, new_contributor, os, packaging, plugins

#556 collection: Change default='no's and 'yes's to default=False and default=True
  plugins/modules/cloud/digital_ocean/digital_ocean.py
  plugins/modules/cloud/google/gc_storage.py
  plugins/modules/cloud/misc/proxmox.py
  plugins/modules/cloud/misc/proxmox_kvm.py
  plugins/modules/cloud/misc/proxmox_template.py
  plugins/modules/database/misc/riak.py
  plugins/modules/database/postgresql/postgresql_user.py
  plugins/modules/monitoring/airbrake_deployment.py
  plugins/modules/monitoring/bigpanda.py
  plugins/modules/monitoring/datadog/datadog_event.py
  plugins/modules/monitoring/honeybadger_deployment.py
  plugins/modules/monitoring/newrelic_deployment.py
  plugins/modules/monitoring/pagerduty.py
  plugins/modules/monitoring/rollbar_deployment.py
  plugins/modules/monitoring/spectrum_device.py
  plugins/modules/net_tools/dnsmadeeasy.py
  plugins/modules/notification/bearychat.py
  plugins/modules/notification/flowdock.py
  plugins/modules/notification/grove.py
  plugins/modules/notification/hipchat.py
  plugins/modules/notification/mattermost.py
  plugins/modules/notification/rocketchat.py
  plugins/modules/notification/slack.py
  plugins/modules/packaging/language/bower.py
  plugins/modules/packaging/language/easy_install.py
  plugins/modules/packaging/language/npm.py
  plugins/modules/packaging/language/yarn.py
  plugins/modules/source_control/bzr.py
  plugins/modules/source_control/github/github_hooks.py
  plugins/modules/storage/infinidat/infini_export_client.py
  plugins/modules/web_infrastructure/django_manage.py
  plugins/modules/web_infrastructure/htpasswd.py
Labels: affects_2.10, bug, cloud, community_review, database, digital_ocean, gce, language, module, monitoring, net_tools, notification, packaging, plugins, postgresql, source_control, storage, web_infrastructure

#567 aix_filesystem - fix module_util pathing issue for ansible 2.9
  changelogs/fragments/aix_filesystem-module_util-routing-issue.yml
  galaxy.yml
  plugins/modules/system/aix_filesystem.py
Labels: affects_2.10, bug, community_review, module, plugins, small_patch, system

#129 parted: Allow passing negative numbers to specify partition boundary relative to disk end
  changelogs/fragments/parted_negative_numbers.yml
  plugins/modules/system/parted.py
  tests/unit/plugins/modules/system/test_parted.py
Labels: bug, community_review, has_issue, module, pr_day, tests

#303 Fix for lookup/consul_kv environment varibles handling
  changelogs/fragments/303-consul_kv-fix-env-variables-handling.yaml
  plugins/lookup/consul_kv.py
Labels: bug, community_review, lookup, new_contributor

#548 apk: Add no-cache option
  changelogs/fragments/548_apk.yml
  plugins/modules/packaging/os/apk.py
Labels: affects_2.10, community_review, feature, has_issue, module, os, packaging, plugins

#137 filesystem.py: fix xfs growfs
  changelogs/fragments/33979-xfs_growfs.yml
  plugins/modules/system/filesystem.py
Labels: bug, community_review, module, pr_day

#541 Deprecate logicmonitor and logicmonitor_facts
  .github/BOTMETA.yml
  changelogs/fragments/logicmonitor-removal.yml
  meta/runtime.yml
  plugins/modules/logicmonitor.py
  plugins/modules/logicmonitor_facts.py
  plugins/modules/monitoring/logicmonitor.py
  plugins/modules/monitoring/logicmonitor_facts.py
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.9.txt
Labels: affects_2.10, bug, community_review, has_issue, module, monitoring, needs_triage, plugins, tests

#560 pkgng: Add stdout and stderr to response object
  changelogs/fragments/560-pkgng-add-stdout-and-stderr.yaml
  plugins/modules/packaging/os/pkgng.py
Labels: affects_2.10, community_review, feature, module, new_contributor, os, packaging, plugins

#577 Point to correct location in kubernetes plugin import
  plugins/connection/oc.py
Labels: affects_2.10, bug, community_review, connection, needs_triage, plugins, small_patch, traceback

#580 mysql modules: fix seealso section
  plugins/modules/database/mysql/mysql_db.py
  plugins/modules/database/mysql/mysql_info.py
  plugins/modules/database/mysql/mysql_replication.py
  plugins/modules/database/mysql/mysql_user.py
  plugins/modules/database/mysql/mysql_variables.py
  plugins/modules/database/postgresql/postgresql_db.py
  plugins/modules/database/postgresql/postgresql_idx.py
  plugins/modules/database/postgresql/postgresql_info.py
  plugins/modules/database/postgresql/postgresql_membership.py
  plugins/modules/database/postgresql/postgresql_owner.py
  plugins/modules/database/postgresql/postgresql_ping.py
  plugins/modules/database/postgresql/postgresql_privs.py
  plugins/modules/database/postgresql/postgresql_query.py
  plugins/modules/database/postgresql/postgresql_sequence.py
  plugins/modules/database/postgresql/postgresql_set.py
  plugins/modules/database/postgresql/postgresql_subscription.py
  plugins/modules/database/postgresql/postgresql_table.py
  plugins/modules/database/postgresql/postgresql_user.py
  plugins/modules/database/postgresql/postgresql_user_obj_stat_info.py
Labels: affects_2.10, community_review, database, docs, module, mysql, owner_pr, plugins, postgresql

#581 modules: fix seealso sections
  plugins/lookup/etcd3.py
  plugins/modules/database/misc/redis.py
  plugins/modules/database/misc/redis_info.py
  plugins/modules/net_tools/hetzner_failover_ip.py
  plugins/modules/net_tools/hetzner_failover_ip_info.py
  plugins/modules/net_tools/hetzner_firewall.py
  plugins/modules/net_tools/hetzner_firewall_info.py
  plugins/modules/system/lvg.py
Labels: affects_2.10, community_review, database, docs, lookup, module, needs_triage, net_tools, plugins, system

#547 docker_compose: dont start the service if parameter stopped is true
  changelogs/fragments/547-start-service-condition.yaml
  plugins/modules/cloud/docker/docker_compose.py
Labels: affects_2.10, bug, cloud, community_review, docker, module, new_contributor, plugins, small_patch

#585 Fix typo in fatpak tests: state=preset → state=present
  tests/integration/targets/flatpak/tasks/test.yml
  tests/integration/targets/flatpak_remote/tasks/test.yml
Labels: affects_2.10, community_review, integration, needs_triage, tests

#568 Reduce ignored packaging sanity tests
  changelogs/fragments/568_packaging.yml
  plugins/modules/packaging/os/apk.py
  plugins/modules/packaging/os/apt_repo.py
  plugins/modules/packaging/os/apt_rpm.py
  plugins/modules/packaging/os/homebrew.py
  plugins/modules/packaging/os/installp.py
  plugins/modules/packaging/os/layman.py
  plugins/modules/packaging/os/macports.py
  plugins/modules/packaging/os/openbsd_pkg.py
  plugins/modules/packaging/os/opkg.py
  plugins/modules/packaging/os/pacman.py
  plugins/modules/packaging/os/pkg5.py
  plugins/modules/packaging/os/pkg5_publisher.py
  plugins/modules/packaging/os/pkgin.py
  plugins/modules/packaging/os/pkgng.py
  plugins/modules/packaging/os/pkgutil.py
  plugins/modules/packaging/os/portage.py
  plugins/modules/packaging/os/portinstall.py
  plugins/modules/packaging/os/pulp_repo.py
  plugins/modules/packaging/os/redhat_subscription.py
  plugins/modules/packaging/os/rhn_channel.py
  plugins/modules/packaging/os/rhn_register.py
  plugins/modules/packaging/os/rhsm_release.py
  plugins/modules/packaging/os/rhsm_repository.py
  plugins/modules/packaging/os/slackpkg.py
  plugins/modules/packaging/os/snap.py
  plugins/modules/packaging/os/sorcery.py
  plugins/modules/packaging/os/svr4pkg.py
  plugins/modules/packaging/os/swdepot.py
  plugins/modules/packaging/os/swupd.py
  plugins/modules/packaging/os/urpmi.py
  plugins/modules/packaging/os/xbps.py
  plugins/modules/packaging/os/zypper.py
  plugins/modules/packaging/os/zypper_repository.py
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
Labels: affects_2.10, community_review, feature, module, os, packaging, plugins, tests

#583 airbrake_deployment: Add version param
  changelogs/fragments/airbrake_deployment_add_version.yml
  plugins/modules/monitoring/airbrake_deployment.py
Labels: affects_2.10, community_review, feature, module, monitoring, needs_triage, plugins

#536 kubevirt: Add aliases 'interface_name' for 'network_name'
  changelogs/fragments/55903_kubevirt.yml
  plugins/inventory/kubevirt.py
Labels: affects_2.10, community_review, docs, inventory, needs_triage, plugins, small_patch

#442 [log_plays] Add playbook, task name and action
  changelogs/fragments/442-log_plays-add_playbook_task_name_and_action.yml
  plugins/callback/log_plays.py
Labels: callback, community_review, feature, new_contributor

#596 [splunk] Add an option to not fail when the certificate is not valid
  changelogs/fragments/596-splunk-add-option-to-not-validate-cert.yaml
  plugins/callback/splunk.py
Labels: affects_2.10, callback, feature, needs_revision, needs_triage, new_contributor, plugins

#564 use Config MacAddress by default instead of Networks
  changelogs/fragments/564-docker_container_use_config_macaddress_by_default.yaml
  plugins/modules/cloud/docker/docker_container.py
Labels: affects_2.10, bug, cloud, community_review, docker, module, new_contributor, plugins, small_patch

#562 nmcli: add idempotent support for any kinds of connections
  changelogs/fragments/562-nmcli-fix-idempotency.yaml
  plugins/modules/net_tools/nmcli.py
  tests/unit/plugins/modules/net_tools/test_nmcli.py
Labels: affects_2.10, bug, community_review, has_issue, module, net_tools, new_contributor, plugins, tests

#570 conjur_variable: redirecting to correct collection
  changelogs/fragments/cyberarkconjur-removal.yml
  meta/runtime.yml
  plugins/lookup/conjur_variable.py
  tests/unit/plugins/lookup/test_conjur_variable.py
Labels: affects_2.10, bug, community_review, lookup, plugins, tests

#589 postgresql_db: document when pg_restore is used
  plugins/modules/database/postgresql/postgresql_db.py
Labels: affects_2.10, community_review, database, docs, module, plugins, postgresql

#602 docs: misc fixes for typos
  plugins/modules/cloud/packet/packet_device.py
  plugins/modules/cloud/packet/packet_ip_subnet.py
  plugins/modules/cloud/packet/packet_sshkey.py
  plugins/modules/cloud/packet/packet_volume.py
  plugins/modules/cloud/packet/packet_volume_attachment.py
Labels: affects_2.10, cloud, community_review, docs, module, needs_triage, plugins

#603 postgresql_idx: add CI tests
  tests/integration/targets/postgresql_idx/tasks/postgresql_idx_initial.yml
Labels: affects_2.10, bug, community_review, database, integration, needs_triage, plugins, postgresql, tests
