Repository ansible-collections/community.general, pull requests merged in 2020-05, with the labels that each got.

#259 postgresql_schema: add trust_input parameter
  changelogs/fragments/259-postgresql_schema_add_trust_input_parameter.yml
  plugins/modules/database/postgresql/postgresql_schema.py
  tests/integration/targets/postgresql_schema/defaults/main.yml
  tests/integration/targets/postgresql_schema/tasks/postgresql_schema_initial.yml
Labels: affects_2.10, community_review, database, feature, integration, module, needs_triage, plugins, postgresql, tests

#240 postgresql_tablespace: add trust_input parameter
  changelogs/fragments/240-postgresql_tablespace_add_trust_input_parameter.yml
  plugins/modules/database/postgresql/postgresql_tablespace.py
  tests/integration/targets/postgresql_tablespace/defaults/main.yml
  tests/integration/targets/postgresql_tablespace/tasks/postgresql_tablespace_initial.yml
Labels: affects_2.10, community_review, database, feature, integration, module, needs_triage, plugins, postgresql, tests

#260 Improve sanity test run for users
  tests/sanity/ignore-2.10.txt
  tests/utils/shippable/sanity.sh
  tests/utils/shippable/shippable.sh
Labels: affects_2.10, bug, community_review, needs_triage, tests

#262 postgresql_info: fix invalid 'sample' value
  plugins/modules/database/postgresql/postgresql_info.py
Labels: affects_2.10, community_review, database, docs, module, needs_triage, plugins, postgresql, small_patch

#270 Document argument types for flatpak and flatpak_remote
  plugins/modules/packaging/os/flatpak.py
  plugins/modules/packaging/os/flatpak_remote.py
  tests/sanity/ignore-2.10.txt
Labels: affects_2.10, community_review, docs, module, needs_triage, os, packaging, plugins, tests

#278 zfs_delegate_admin: add diff,hold,release to list of permissions
  changelogs/fragments/278-zfs_delegate_admin_add_diff_hold_release.yml
  plugins/modules/storage/zfs/zfs_delegate_admin.py
Labels: affects_2.10, bug, community_review, module, needs_triage, new_contributor, plugins, storage

#284 zfs_delegate_admin: fix example
  plugins/modules/storage/zfs/zfs_delegate_admin.py
Labels: affects_2.10, community_review, docs, module, needs_triage, plugins, small_patch, storage

#282 Add optional input check to postgresql_ext
  changelogs/fragments/282-postgresql_ext_add_trust_input.yml
  plugins/modules/database/postgresql/postgresql_ext.py
  tests/integration/targets/postgresql_ext/tasks/postgresql_ext_initial.yml
  tests/integration/targets/postgresql_ext/tasks/postgresql_ext_session_role.yml
  tests/integration/targets/postgresql_ext/tasks/postgresql_ext_version_opt.yml
Labels: affects_2.10, community_review, database, feature, integration, module, plugins, postgresql, tests

#281 java_keystore: fix doc format
  plugins/modules/system/java_keystore.py
Labels: affects_2.10, community_review, docs, module, needs_triage, plugins, system

#264 postgresql_idx: add trust_input parameter
  changelogs/fragments/264-postgresql_idx_add_trust_input_parameter.yml
  plugins/modules/database/postgresql/postgresql_idx.py
  tests/integration/targets/postgresql_idx/tasks/postgresql_idx_initial.yml
Labels: affects_2.10, community_review, database, feature, has_issue, integration, module, needs_triage, plugins, postgresql, tests

#280 postgresql_subscription: add trust_input and session_role parameters
  changelogs/fragments/280-postgresql_subscription_add_trust_input_session_role.yml
  plugins/modules/database/postgresql/postgresql_subscription.py
  tests/integration/targets/postgresql_subscription/tasks/postgresql_subscription_initial.yml
Labels: affects_2.10, community_review, database, feature, has_issue, integration, module, needs_triage, plugins, postgresql, tests

#279 postgresql_publication: add trust_input and session_role parameters
  changelogs/fragments/279-postgresql_publication_add_trust_input_session_role.yml
  plugins/modules/database/postgresql/postgresql_publication.py
  tests/integration/targets/postgresql_publication/tasks/postgresql_publication_initial.yml
Labels: affects_2.10, community_review, database, feature, has_issue, integration, module, needs_triage, plugins, postgresql, tests

#272 postgresql_lang: add trust_input parameter
  changelogs/fragments/272-postgresql_lang_add_trust_input_parameter.yml
  plugins/modules/database/postgresql/postgresql_lang.py
  tests/integration/targets/postgresql_lang/tasks/postgresql_lang_add_owner_param.yml
Labels: affects_2.10, community_review, database, feature, has_issue, integration, module, needs_triage, plugins, postgresql, tests

#285 mysql_user: add invoke lambda privilege support
  changelogs/fragments/285-mysql_user_invoke_lambda_support.yml
  plugins/modules/database/mysql/mysql_user.py
Labels: affects_2.10, bug, community_review, database, has_issue, module, mysql, needs_triage, owner_pr, plugins, small_patch

#277 datadog_monitor: adds missing 'log alert' type to supported types
  changelogs/fragments/277-datadog_monitor-adds-missing-log-alert-type.yml
  plugins/modules/monitoring/datadog/datadog_monitor.py
Labels: affects_2.10, bug, module, monitoring, needs_revision, needs_triage, new_contributor, plugins, small_patch

#288 Update documentation for example of redis connection string
  plugins/cache/redis.py
Labels: affects_2.10, docs, needs_revision, needs_triage, new_contributor

#287 move jsonfile cache plugin back to ansible-base
  plugins/cache/jsonfile.py
Labels: affects_2.10, feature, needs_revision, needs_triage

#295 postgresql_sequence: add trust_input option
  changelogs/fragments/295-postgresql_sequence_add_trust_input.yml
  plugins/modules/database/postgresql/postgresql_sequence.py
  tests/integration/targets/postgresql_sequence/tasks/postgresql_sequence_initial.yml
Labels: affects_2.10, community_review, database, feature, integration, module, needs_triage, plugins, postgresql, tests

#294 postgresql_query: add trust_input parameter
  changelogs/fragments/294-postgresql_query_add_trust_input_parameter.yml
  plugins/modules/database/postgresql/postgresql_query.py
  tests/integration/targets/postgresql_query/tasks/postgresql_query_initial.yml
Labels: affects_2.10, community_review, database, feature, has_issue, integration, module, needs_triage, plugins, postgresql, tests

#195 Tidyup deprecations
  .github/BOTMETA.yml
  meta/routing.yml
  tests/sanity/ignore-2.10.txt
Labels: affects_2.10, bucket4, bug, cloud, has_issue, needs_revision, needs_triage, tests

#298 Add trust_input option to postgresql_slot module
  changelogs/fragments/298-postgresql_slot_add_trust_input.yml
  plugins/modules/database/postgresql/postgresql_slot.py
  tests/integration/targets/postgresql_slot/tasks/postgresql_slot_initial.yml
Labels: affects_2.10, community_review, database, feature, integration, module, needs_triage, plugins, postgresql, tests

#301 Updated listen_ports_facts documentation
  changelogs/fragments/listen_ports_facts_doc.yml
  plugins/modules/system/listen_ports_facts.py
Labels: affects_2.10, community_review, docs, module, needs_triage, plugins, system

#306 Improve Ansible 2.9 compatibility
  changelogs/fragments/306-ansible-2.9-compatibility.yml
  plugins/modules/files/archive.py
  plugins/modules/packaging/language/maven_artifact.py
  plugins/modules/system/java_keystore.py
  tests/sanity/ignore-2.9.txt
Labels: affects_2.10, bug, community_review, files, language, module, needs_triage, packaging, plugins, system, tests

#309 postgresql modules: improve trust_input parameter's documentation, improve CI tests
  plugins/modules/database/postgresql/postgresql_db.py
  plugins/modules/database/postgresql/postgresql_ext.py
  plugins/modules/database/postgresql/postgresql_idx.py
  plugins/modules/database/postgresql/postgresql_lang.py
  plugins/modules/database/postgresql/postgresql_membership.py
  plugins/modules/database/postgresql/postgresql_owner.py
  plugins/modules/database/postgresql/postgresql_privs.py
  plugins/modules/database/postgresql/postgresql_publication.py
  plugins/modules/database/postgresql/postgresql_schema.py
  plugins/modules/database/postgresql/postgresql_sequence.py
  plugins/modules/database/postgresql/postgresql_subscription.py
  plugins/modules/database/postgresql/postgresql_tablespace.py
  plugins/modules/database/postgresql/postgresql_user.py
  tests/integration/targets/postgresql_privs/tasks/postgresql_privs_general.yml
  tests/integration/targets/postgresql_privs/tasks/postgresql_privs_initial.yml
  tests/integration/targets/postgresql_publication/tasks/postgresql_publication_initial.yml
  tests/integration/targets/postgresql_subscription/tasks/postgresql_subscription_initial.yml
  tests/integration/targets/postgresql_user/tasks/postgresql_user_general.yml
  tests/integration/targets/postgresql_user/tasks/postgresql_user_initial.yml
Labels: affects_2.10, community_review, database, docs, integration, module, needs_triage, plugins, postgresql, tests

#274 flatpak: Change use of Popen to module.run_command()
  changelogs/fragments/274-flatpak-run-command.yaml
  plugins/modules/packaging/os/flatpak.py
  plugins/modules/packaging/os/flatpak_remote.py
  tests/sanity/ignore-2.10.txt
Labels: affects_2.10, bug, community_review, module, os, packaging, plugins, tests

#307 postgresql_table: add the trust_input parameter
  changelogs/fragments/307-postgresql_table_add_trust_input_parameter.yml
  plugins/modules/database/postgresql/postgresql_table.py
  tests/integration/targets/postgresql_table/tasks/postgresql_table_initial.yml
Labels: affects_2.10, community_review, database, feature, has_issue, integration, module, needs_triage, plugins, postgresql, tests

#308 postgresql_info: add the trust_input parameter
  changelogs/fragments/308-postgresql_info_add_trust_input_parameter.yml
  plugins/modules/database/postgresql/postgresql_info.py
  tests/integration/targets/postgresql_info/tasks/postgresql_info_initial.yml
Labels: affects_2.10, community_review, database, feature, has_issue, integration, module, needs_triage, plugins, postgresql, tests

#314 Update tests/unit/requirements.txt for maven_artifact
  tests/unit/requirements.txt
Labels: affects_2.10, bug, community_review, needs_triage, small_patch, tests

#316 Fix udm_dns_record example, fixing #315
  plugins/modules/cloud/univention/udm_dns_record.py
Labels: affects_2.10, bug, cloud, community_review, module, new_contributor, plugins, small_patch

#300 Fixes for ipa_group and ipa_user to show that uidnumber/gidnumber nee…
  plugins/modules/identity/ipa/ipa_group.py
  plugins/modules/identity/ipa/ipa_user.py
Labels: affects_2.10, community_review, docs, module, needs_triage, plugins, small_patch

#269 flatpak: Build commands as lists instead of strings
  changelogs/fragments/269-flatpak-command-list.yaml
  plugins/modules/packaging/os/flatpak.py
  plugins/modules/packaging/os/flatpak_remote.py
Labels: affects_2.10, bug, community_review, module, os, packaging, plugins

#310 Add trust_input to postgresql_user_obj_stat_info
  changelogs/fragments/310-postgresql_user_obj_stat_info_add_trust_input.yml
  plugins/modules/database/postgresql/postgresql_user_obj_stat_info.py
  tests/integration/targets/postgresql_user_obj_stat_info/tasks/postgresql_user_obj_stat_info.yml
Labels: affects_2.10, community_review, database, feature, has_issue, integration, module, needs_triage, plugins, postgresql, tests

#323 Disable etcd3 tests for now
  tests/integration/targets/etcd3/aliases
  tests/integration/targets/lookup_etcd3/aliases
Labels: affects_2.10, bug, clustering, community_review, integration, needs_triage, plugins, small_patch, tests

#291 Refactor postgresql modules
  changelogs/fragments/291-postgresql_refactor_modules.yml
  plugins/modules/database/postgresql/postgresql_ext.py
  plugins/modules/database/postgresql/postgresql_idx.py
  plugins/modules/database/postgresql/postgresql_user_obj_stat_info.py
Labels: affects_2.10, bug, community_review, database, module, owner_pr, plugins, postgresql

#313 postgresql_copy: add trust_input parameter
  changelogs/fragments/313-postgresql_copy_add_trust_input_session_role.yml
  plugins/modules/database/postgresql/postgresql_copy.py
  tests/integration/targets/postgresql_copy/tasks/postgresql_copy_initial.yml
Labels: affects_2.10, community_review, database, feature, has_issue, integration, module, needs_triage, plugins, postgresql, tests

#312 postgresql_ping: add session_role and trust_input parameters
  changelogs/fragments/312-postgresql_ping_add_trust_input_session_role.yml
  plugins/modules/database/postgresql/postgresql_ping.py
  tests/integration/targets/postgresql_ping/tasks/postgresql_ping_initial.yml
Labels: affects_2.10, community_review, database, feature, has_issue, integration, module, needs_triage, plugins, postgresql, tests

#302 postgresql_set: add trust_input parameter
  changelogs/fragments/302-postgresql_set_add_trust_input_parameter.yml
  plugins/modules/database/postgresql/postgresql_set.py
  tests/integration/targets/postgresql_set/tasks/postgresql_set_initial.yml
Labels: affects_2.10, community_review, database, feature, has_issue, integration, module, needs_triage, plugins, postgresql, tests

#321 BOTMETA: ignore joshuaconner for docker_container module
  .github/BOTMETA.yml
Labels: affects_2.10, community_review, docs, needs_triage, new_contributor, small_patch

#286 Add info command to redis module
  plugins/modules/database/misc/redis.py
  plugins/modules/database/misc/redis_info.py
  plugins/modules/redis_info.py
  tests/integration/targets/redis_info/aliases
  tests/integration/targets/redis_info/defaults/main.yml
  tests/integration/targets/redis_info/meta/main.yml
  tests/integration/targets/redis_info/tasks/main.yml
  tests/integration/targets/setup_redis_replication/defaults/main.yml
  tests/integration/targets/setup_redis_replication/handlers/main.yml
  tests/integration/targets/setup_redis_replication/meta/main.yml
  tests/integration/targets/setup_redis_replication/tasks/main.yml
  tests/integration/targets/setup_redis_replication/tasks/setup_redis_cluster.yml
  tests/unit/plugins/modules/database/__init__.py
  tests/unit/plugins/modules/database/misc/__init__.py
  tests/unit/plugins/modules/database/misc/test_redis_info.py
Labels: affects_2.10, community_review, database, feature, integration, module, new_contributor, new_module, new_plugin, plugins, tests

#329 Disable AIX in CI
  shippable.yml
Labels: affects_2.10, bug, community_review, needs_triage

#242 Remove tomaszkiewicz from ansibullbot notifications
  .github/BOTMETA.yml
Labels: affects_2.10, community_review, needs_triage, new_contributor, small_patch

#326 pacman: Improve package state detection speed
  changelogs/fragments/326-pacman_improve_package_state_detection_speed.yml
  plugins/modules/packaging/os/pacman.py
Labels: affects_2.10, bug, community_review, module, os, packaging, performance, plugins

#318 linode inventory plugin: fix parsing of access_token
  changelogs/fragments/318-linode-inventory-access_token-fix.yaml
  plugins/inventory/linode.py
Labels: affects_2.10, bug, cloud, community_review, has_issue, needs_triage, new_contributor, plugins, small_patch

#337 Ignore invalid deprecation version numbers
  tests/sanity/ignore-2.10.txt
Labels: affects_2.10, bug, community_review, has_issue, needs_triage, tests

#340 syslogger: new parameter 'ident'
  changelogs/fragments/319-syslogger.yml
  plugins/modules/notification/syslogger.py
Labels: affects_2.10, bug, community_review, has_issue, module, needs_triage, notification, plugins

#334 Fix Ansible documentation in part of example formatting. Part 3.
  plugins/modules/cloud/packet/packet_volume.py
  plugins/modules/cloud/packet/packet_volume_attachment.py
  plugins/modules/cloud/profitbricks/profitbricks.py
  plugins/modules/cloud/profitbricks/profitbricks_datacenter.py
  plugins/modules/cloud/profitbricks/profitbricks_nic.py
  plugins/modules/cloud/profitbricks/profitbricks_volume.py
  plugins/modules/cloud/profitbricks/profitbricks_volume_attachments.py
  plugins/modules/cloud/rackspace/rax_clb_nodes.py
  plugins/modules/cloud/scaleway/scaleway_ip.py
  plugins/modules/cloud/scaleway/scaleway_security_group.py
  plugins/modules/cloud/scaleway/scaleway_volume.py
  plugins/modules/cloud/smartos/smartos_image_info.py
  plugins/modules/cloud/spotinst/spotinst_aws_elastigroup.py
  plugins/modules/cloud/univention/udm_dns_record.py
  plugins/modules/cloud/univention/udm_dns_zone.py
  plugins/modules/cloud/univention/udm_group.py
  plugins/modules/cloud/univention/udm_share.py
  plugins/modules/cloud/univention/udm_user.py
  plugins/modules/cloud/webfaction/webfaction_site.py
  plugins/modules/clustering/znode.py
  plugins/modules/identity/opendj/opendj_backendprop.py
  plugins/modules/monitoring/airbrake_deployment.py
  plugins/modules/monitoring/bigpanda.py
  plugins/modules/monitoring/circonus_annotation.py
  plugins/modules/monitoring/datadog/datadog_event.py
  plugins/modules/monitoring/datadog/datadog_monitor.py
  plugins/modules/monitoring/honeybadger_deployment.py
  plugins/modules/monitoring/librato_annotation.py
  plugins/modules/monitoring/logentries.py
  plugins/modules/monitoring/monit.py
  plugins/modules/monitoring/nagios.py
  plugins/modules/monitoring/newrelic_deployment.py
  plugins/modules/monitoring/pagerduty.py
  plugins/modules/monitoring/pagerduty_alert.py
  plugins/modules/monitoring/pingdom.py
  plugins/modules/monitoring/stackdriver.py
  plugins/modules/monitoring/uptimerobot.py
  plugins/modules/notification/campfire.py
  plugins/modules/notification/flowdock.py
  plugins/modules/notification/grove.py
  plugins/modules/notification/hipchat.py
  plugins/modules/notification/irc.py
  plugins/modules/notification/jabber.py
  plugins/modules/notification/logentries_msg.py
  plugins/modules/notification/mqtt.py
  plugins/modules/notification/pushbullet.py
  plugins/modules/notification/pushover.py
  plugins/modules/notification/say.py
  plugins/modules/notification/sendgrid.py
  plugins/modules/notification/twilio.py
  plugins/modules/notification/typetalk.py
  plugins/modules/packaging/language/bundler.py
  plugins/modules/packaging/language/composer.py
  plugins/modules/packaging/language/cpanm.py
  plugins/modules/packaging/language/easy_install.py
  plugins/modules/packaging/language/gem.py
  plugins/modules/packaging/language/maven_artifact.py
  plugins/modules/packaging/language/pear.py
Labels: affects_2.10, community_review, docs, needs_rebase, needs_revision, needs_triage

#333 Fix Ansible documentation in part of example formatting. Part 2
  plugins/modules/packaging/os/apk.py
  plugins/modules/packaging/os/homebrew_tap.py
  plugins/modules/packaging/os/layman.py
  plugins/modules/packaging/os/opkg.py
  plugins/modules/packaging/os/pkg5_publisher.py
  plugins/modules/packaging/os/pkgin.py
  plugins/modules/packaging/os/pkgutil.py
  plugins/modules/packaging/os/portage.py
  plugins/modules/packaging/os/portinstall.py
  plugins/modules/packaging/os/rhn_channel.py
  plugins/modules/packaging/os/slackpkg.py
  plugins/modules/packaging/os/sorcery.py
  plugins/modules/packaging/os/svr4pkg.py
  plugins/modules/packaging/os/swdepot.py
  plugins/modules/remote_management/hpilo/hpilo_info.py
  plugins/modules/remote_management/ipmi/ipmi_boot.py
  plugins/modules/remote_management/ipmi/ipmi_power.py
  plugins/modules/source_control/bzr.py
  plugins/modules/source_control/git_config.py
  plugins/modules/source_control/github/github_deploy_key.py
  plugins/modules/source_control/github/github_hooks.py
  plugins/modules/storage/hpe3par/ss_3par_cpg.py
  plugins/modules/system/openwrt_init.py
  plugins/modules/system/osx_defaults.py
  plugins/modules/web_infrastructure/apache2_mod_proxy.py
  plugins/modules/web_infrastructure/apache2_module.py
  plugins/modules/web_infrastructure/django_manage.py
  plugins/modules/web_infrastructure/htpasswd.py
  plugins/modules/web_infrastructure/supervisorctl.py
  plugins/modules/web_infrastructure/taiga_issue.py
Labels: affects_2.10, community_review, docs, github, module, needs_triage, os, packaging, plugins, remote_management, source_control, storage, system

#343 Fix linting errors
  plugins/modules/monitoring/sensu/sensu_silence.py
  scripts/inventory/azure_rm.py
Labels: affects_2.10, bug, community_review, module, monitoring, needs_triage, plugins, small_patch

#327 Add Fedora 32 to CI; drop Fedora 30 which is soon EOL
  shippable.yml
  tests/integration/targets/setup_docker/tasks/Fedora.yml
  tests/integration/targets/timezone/tasks/main.yml
Labels: affects_2.10, community_review, feature, integration, needs_triage, plugins, system, tests

#124 Use api v4 for airbrake deploy notices
  changelogs/fragments/124-airbrake_deployments-api_v4_for_deploy_notices.yml
  plugins/modules/monitoring/airbrake_deployment.py
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.9.txt
Labels: affects_2.10, bug, module, monitoring, needs_revision, needs_triage, new_contributor, plugins, tests

#245 add description and hookscript parameters to proxmox LXC container
  changelogs/fragments/245-proxmox.yml
  plugins/modules/cloud/misc/proxmox.py
Labels: affects_2.10, cloud, community_review, feature, module, new_contributor, plugins, stale_ci

#347 filter: add new time convert filter
  plugins/filter/time.py
  tests/integration/targets/filter_to_time_unit/aliases
  tests/integration/targets/filter_to_time_unit/tasks/main.yml
Labels: affects_2.10, community_review, feature, integration, needs_triage, new_plugin, tests

#115 Deprecated Helm module
  changelogs/fragments/115-deprecated-helm-module.yaml
  meta/routing.yml
  plugins/modules/cloud/misc/helm.py
Labels: affects_2.10, ansible-2.10-plan, bucket6, cloud, docs, module, needs_revision, new_contributor, plugins, small_patch

#352 Add extra sanity tests and changelog config
  changelogs/.gitignore
  changelogs/config.yaml
  shippable.yml
  tests/sanity/extra/changelog.json
  tests/sanity/extra/changelog.py
  tests/sanity/extra/no-unwanted-files.json
  tests/sanity/extra/no-unwanted-files.py
  tests/utils/shippable/sanity.sh
  tests/utils/shippable/shippable.sh
Labels: affects_2.10, community_review, feature, needs_triage, tests

#353 Un-remove wrongly removed ovirt modules and adjust deprecation to Ansible 2.14
  galaxy.yml
  plugins/doc_fragments/ovirt_facts.py
  plugins/module_utils/_ovirt.py
  plugins/modules/cloud/misc/ovirt.py
  plugins/modules/cloud/ovirt/ovirt_affinity_label_facts.py
  plugins/modules/cloud/ovirt/ovirt_api_facts.py
  plugins/modules/cloud/ovirt/ovirt_cluster_facts.py
  plugins/modules/cloud/ovirt/ovirt_datacenter_facts.py
  plugins/modules/cloud/ovirt/ovirt_disk_facts.py
  plugins/modules/cloud/ovirt/ovirt_event_facts.py
  plugins/modules/cloud/ovirt/ovirt_external_provider_facts.py
  plugins/modules/cloud/ovirt/ovirt_group_facts.py
  plugins/modules/cloud/ovirt/ovirt_host_facts.py
  plugins/modules/cloud/ovirt/ovirt_host_storage_facts.py
  plugins/modules/cloud/ovirt/ovirt_network_facts.py
  plugins/modules/cloud/ovirt/ovirt_nic_facts.py
  plugins/modules/cloud/ovirt/ovirt_permission_facts.py
  plugins/modules/cloud/ovirt/ovirt_quota_facts.py
  plugins/modules/cloud/ovirt/ovirt_scheduling_policy_facts.py
  plugins/modules/cloud/ovirt/ovirt_snapshot_facts.py
  plugins/modules/cloud/ovirt/ovirt_storage_domain_facts.py
  plugins/modules/cloud/ovirt/ovirt_storage_template_facts.py
  plugins/modules/cloud/ovirt/ovirt_storage_vm_facts.py
  plugins/modules/cloud/ovirt/ovirt_tag_facts.py
  plugins/modules/cloud/ovirt/ovirt_template_facts.py
  plugins/modules/cloud/ovirt/ovirt_user_facts.py
  plugins/modules/cloud/ovirt/ovirt_vm_facts.py
  plugins/modules/cloud/ovirt/ovirt_vmpool_facts.py
  tests/sanity/ignore-2.10.txt
  tests/utils/shippable/shippable.sh
Labels: affects_2.10, bug, cloud, community_review, has_issue, module, needs_triage, new_plugin, plugins, tests

#363 Remove smoketest traces
  tests/utils/shippable/aws.sh
  tests/utils/shippable/azure.sh
  tests/utils/shippable/cloud.sh
  tests/utils/shippable/hcloud.sh
Labels: affects_2.10, bug, community_review, needs_triage, tests

#364 Move google.cloud unit test to google.cloud
  tests/unit/plugins/module_utils/gcp/test_gcp_utils.py
Labels: affects_2.10, bug, community_review, needs_triage, tests

#365 Move unit test to right place
  tests/unit/plugins/module_utils/test_saslprep.py
Labels: affects_2.10, bug, community_review, needs_triage, new_plugin, tests

#359 Time filter improvements
  changelogs/fragments/filter-time.yml
  plugins/filter/time.py
  tests/integration/targets/filter_time/aliases
  tests/integration/targets/filter_time/tasks/main.yml
Labels: affects_2.10, community_review, feature, integration, needs_triage, tests

#370 google.cloud unit test: Forgot to update ignore.txt
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.9.txt
Labels: affects_2.10, bug, community_review, needs_triage, small_patch, tests

#372 gcp_storage_file: error gracefully when google.cloud is not there
  changelogs/fragments/372-gcp_storage_file-gracefully.yml
  plugins/lookup/gcp_storage_file.py
Labels: affects_2.10, bug, community_review, has_issue, lookup, needs_triage, plugins

#377 Fix the environment variable
  plugins/connection/oc.py
Labels: affects_2.10, bug, community_review, connection, plugins, small_patch

#379 Env var case
  changelogs/fragments/fix-oc-conn-plugin-envvar.yml
Labels: affects_2.10, community_review, connection, docs, needs_triage, owner_pr, plugins

#366 Don't die when docker CLI doesn't want to work with docker daemon
  tests/integration/targets/docker_config/tasks/test_docker_config.yml
  tests/integration/targets/docker_container_info/tasks/main.yml
  tests/integration/targets/docker_login/tasks/tests/docker_login.yml
  tests/integration/targets/docker_network_info/tasks/main.yml
  tests/integration/targets/docker_node/tasks/main.yml
  tests/integration/targets/docker_secret/tasks/test_secrets.yml
  tests/integration/targets/docker_volume_info/tasks/main.yml
  tests/integration/targets/setup_docker/tasks/main.yml
  tests/integration/targets/setup_docker/vars/RedHat-8.yml
  tests/integration/targets/setup_docker_registry/handlers/cleanup.yml
  tests/integration/targets/setup_docker_registry/tasks/setup.yml
Labels: affects_2.10, bug, cloud, community_review, docker, integration, needs_triage, plugins, tests

#368 time_filter: improve hints in error message
  plugins/filter/time.py
Labels: affects_2.10, community_review, feature, needs_triage

#383 [tests] trivial correction to openldap integration tests
  tests/integration/targets/setup_openldap/tasks/main.yml
Labels: affects_2.10, bug, community_review, integration, needs_triage, small_patch, tests

#387 postgresql_db: add an example
  plugins/modules/database/postgresql/postgresql_db.py
Labels: affects_2.10, community_review, database, docs, has_issue, module, needs_triage, owner_pr, plugins, postgresql

#388 Fix the docs for dig and nios.
  plugins/lookup/dig.py
  plugins/lookup/nios.py
Labels: affects_2.10, bug, community_review, lookup, needs_triage, plugins

#391 inventory_docker_swarm test - Remove exit code from trap
  tests/integration/targets/inventory_docker_swarm/runme.sh
Labels: affects_2.10, bug, community_review, integration, needs_triage, small_patch, tests

#395 intersight_info has been moved to cisco.intersight: remove cisco.intersight dependency
  galaxy.yml
  plugins/modules/intersight_info.py
  plugins/modules/remote_management/intersight/intersight_info.py
  tests/requirements.yml
  tests/sanity/ignore-2.10.txt
  tests/utils/shippable/shippable.sh
Labels: affects_2.10, bug, community_review, module, needs_triage, plugins, remote_management, tests

#396 Remove more remains of intersight_info
  .github/BOTMETA.yml
  changelogs/fragments/65372-misc-context-manager.yml
  tests/integration/targets/intersight_info/aliases
  tests/integration/targets/intersight_info/tasks/main.yml
Labels: affects_2.10, bug, community_review, integration, needs_triage, tests

#403 Fix NetworkManager-libnm typo in nmcli.py documentation.
  plugins/modules/net_tools/nmcli.py
Labels: affects_2.10, bug, community_review, module, needs_triage, net_tools, new_contributor, plugins, small_patch

#247 parted: consider current partition state even in check_mode
  changelogs/fragments/183-parted_check_mode.yml
  plugins/modules/system/parted.py
  tests/unit/plugins/modules/system/test_parted.py
Labels: affects_2.10, bug, module, needs_revision, new_contributor, plugins, system, tests

#408 Bug/syslog json exception
  changelogs/fragments/407-syslogjson-callback-exception.yml
  plugins/callback/syslog_json.py
Labels: affects_2.10, bug, callback, community_review, has_issue, needs_triage, new_contributor, plugins, small_patch

#276 java_keystore: Added support for private key pass phrase
  changelogs/fragments/276-java_keystore-private_key_passphrase.yaml
  plugins/modules/system/java_keystore.py
  tests/unit/plugins/modules/system/test_java_keystore.py
Labels: affects_2.10, bug, community_review, module, new_contributor, plugins, system, tests

#181 gitlab_project_variable: added support for variable_type
  changelogs/fragments/gitlab-project-variable-variable-type.yml
  plugins/modules/source_control/gitlab/gitlab_project_variable.py
  tests/integration/targets/gitlab_project_variable/tasks/main.yml
Labels: affects_2.10, feature, gitlab, integration, module, new_contributor, plugins, shipit, source_control, tests

#406 parted: fix return value documentation
  plugins/modules/system/parted.py
Labels: affects_2.10, community_review, docs, module, needs_triage, plugins, system

#412 Add validity check for [Driver][IPAddress] else use docker-machine ip command.
  changelogs/fragments/412-docker-machine-add-ip-fallback.yaml
  plugins/inventory/docker_machine.py
Labels: affects_2.10, bug, cloud, community_review, docker, plugins

#415 Adjust to merged routing PR in ansible/ansible
  meta/runtime.yml
Labels: affects_2.10, bug, community_review, needs_triage

#416 ansibulled -> antsibull.
  tests/sanity/extra/changelog.json
  tests/sanity/extra/changelog.py
Labels: affects_2.10, bug, community_review, needs_triage, small_patch, tests

#420 Use pypi antsibull package
  tests/sanity/extra/changelog.json
Labels: affects_2.10, bug, community_review, needs_triage, small_patch, tests

#421 Fix OSX CI hack which is no longer necessary
  tests/utils/shippable/shippable.sh
Labels: affects_2.10, bug, community_review, needs_triage, tests

#429 Re-enable xfs_quota test
  tests/integration/targets/xfs_quota/aliases
Labels: affects_2.10, bug, community_review, integration, needs_triage, plugins, small_patch, system, tests

#426 docker_host_info: Do not say you delete what you don't
  plugins/modules/cloud/docker/docker_host_info.py
Labels: affects_2.10, cloud, community_review, docker, docs, module, new_contributor, plugins

#430 Support action groups
  meta/action_groups.yml
  meta/runtime.yml
Labels: affects_2.10, bug, community_review, needs_triage

#389 datadog_monitor: kwargs for _update_monitor used message vs notification_message
  changelogs/fragments/389-datadog_monitor-corrects-deprecated-message-param.yml
  plugins/modules/monitoring/datadog/datadog_monitor.py
Labels: affects_2.10, bug, community_review, module, monitoring, plugins, small_patch

#227 Update sesu.py: use defined prompt
  changelogs/fragments/227-sesu-use-defined-prompt.yaml
  plugins/become/sesu.py
Labels: affects_2.10, bug, community_review, needs_triage, new_contributor, plugins, small_patch

#431 Adjust to stricter ansible-test sanity tests
  tests/sanity/ignore-2.10.txt
Labels: WIP, affects_2.10, bug, needs_triage, tests

#433 Update dependency versions in galaxy.yml
  galaxy.yml
Labels: affects_2.10, bug, community_review, needs_ci, needs_triage, small_patch, stale_ci

#418 Add tags parameter to packet_device
  changelogs/fragments/418-add-tags-parameter-to-packet-device.yaml
  plugins/modules/cloud/packet/packet_device.py
Labels: affects_2.10, cloud, community_review, feature, module, new_contributor, plugins

#422 LVG: add new parameter pvresize
  changelogs/fragments/442-add-new-parameter-pvresize.yaml
  plugins/modules/system/lvg.py
  tests/integration/targets/lvg/tasks/main.yml
  tests/integration/targets/lvg/tasks/test_pvresize.yml
Labels: affects_2.10, feature, integration, module, needs_revision, new_contributor, plugins, system, tests

#435 antsibull-changelog moved to its own repo
  tests/sanity/extra/changelog.json
Labels: affects_2.10, bug, community_review, needs_triage, small_patch, tests

#410 redis cache - add support for TLS/encryption in transit
  changelogs/fragments/410-redis_cache-add_tls_support.yaml
  plugins/cache/redis.py
Labels: affects_2.10, community_review, feature, needs_triage
