Repository ansible-collections/community.general, pull requests merged in 2021-05, with the labels that each got.

#2392 Remove resmo as composer maintainer
  .github/BOTMETA.yml
Labels: affects_2.10, backport-2, backport-3, community_review, docs, small_patch

#2396 influxdb_retention_policy: fix duration parsing to support INF values
  changelogs/fragments/2284-influxdb_retention_policy-fix_duration_parsing.yml
  plugins/modules/database/influxdb/influxdb_retention_policy.py
Labels: affects_2.10, backport-2, backport-3, bug, community_review, database, module, needs_triage, plugins

#2348 composer: always use --no-interaction option
  changelogs/fragments/2348-composer-no-interaction-option-discovery-to-avoid-hang.yaml
  plugins/modules/packaging/language/composer.py
Labels: affects_2.10, backport-2, backport-3, bug, check-before-release, community_review, has_issue, language, module, new_contributor, packaging, plugins, python3, small_patch

#2404 Add ansible-test config file
  tests/config.yml
Labels: affects_2.10, backport-2, backport-3, community_review, tests

#2290 BOTMETA.yml: terraform - add a new maintainer
  .github/BOTMETA.yml
Labels: affects_2.10, backport-2, backport-3, community_review, docs, small_patch, stale_ci

#2375 Fix #2373 - TypeError: a bytes-like object is required, not 'str'
  changelogs/fragments/2373-svr4pkg-fix-typeerror.yml
  plugins/modules/packaging/os/svr4pkg.py
Labels: affects_2.10, backport-2, backport-3, bug, check-before-release, community_review, module, new_contributor, os, packaging, plugins, small_patch

#2407 puppet - replace stdout with console in logdest option
  changelogs/fragments/2407-puppet-change_stdout_to_console.yaml
  plugins/modules/system/puppet.py
Labels: affects_2.10, backport-2, backport-3, bug, check-before-release, community_review, module, plugins, system

#2409 nmcli: Add 'slave-type bridge' to nmcli command if type is bridge-slave
  changelogs/fragments/2409-nmcli_add_slave-type_bridge_to_nmcli_command_if_type_is_bridge-slave.yml
  plugins/modules/net_tools/nmcli.py
  tests/unit/plugins/modules/net_tools/test_nmcli.py
Labels: affects_2.10, backport-2, backport-3, bug, community_review, module, needs_maintainer, net_tools, new_contributor, plugins, small_patch, tests, unit

#2416 nmcli: Compare MAC addresses case insensitively
  changelogs/fragments/2416-nmcli_compare_mac_addresses_case_insensitively.yml
  plugins/modules/net_tools/nmcli.py
  tests/unit/plugins/modules/net_tools/test_nmcli.py
Labels: affects_2.10, backport-2, backport-3, bug, check-before-release, community_review, module, needs_maintainer, net_tools, new_contributor, plugins, tests, unit

#2371 📝 Document nested node addition with "_" in xml module
  plugins/modules/files/xml.py
Labels: affects_2.10, backport-2, backport-3, check-before-release, community_review, docs, files, module, new_contributor, plugins

#2414 Make plugins pass validation
  plugins/become/sudosu.py
  plugins/callback/loganalytics.py
  plugins/inventory/lxd.py
Labels: affects_2.10, backport-2, backport-3, become, callback, community_review, docs, inventory, plugins

#2430 linode_v4 - fixed error message
  changelogs/fragments/2430-linodev4-error-message.yml
  plugins/modules/cloud/linode/linode_v4.py
Labels: affects_2.10, backport-2, backport-3, bug, cloud, community_review, module, needs_triage, plugins, small_patch

#2434 [stable-2] Make plugins pass validation
  plugins/become/sudosu.py
  plugins/callback/loganalytics.py
Labels: affects_2.10, become, callback, community_review, docs, needs_triage, plugins, small_patch

#2330 Clean up test entries from sysrc tests
  tests/integration/targets/sysrc/aliases
  tests/integration/targets/sysrc/tasks/main.yml
  tests/integration/targets/sysrc/tasks/setup-testjail.yml
Labels: affects_2.10, backport-2, backport-3, bug, check-before-release, community_review, integration, plugins, system, tests

#2369 lvol - bug fix - Convert units to lowercase when using LVS or VGS command
  changelogs/fragments/2369-lvol_size_bug_fixes.yml
  plugins/modules/system/lvol.py
Labels: affects_2.10, backport-3, bug, check-before-release, community_review, has_issue, module, owner_pr, plugins, system

#2440 Remove shippable config
  shippable.yml
Labels: affects_2.10, backport-1, backport-2, backport-3, community_review, needs_ci, stale_ci

#2445 [stable-1] Remove shippable config
  shippable.yml
Labels: affects_2.10, community_review, needs_ci, needs_triage, stale_ci

#2435 OpenNebula one_vm.py: Fix missing keys
  changelogs/fragments/2435-one_vm-fix_missing_keys.yml
  plugins/modules/cloud/opennebula/one_vm.py
Labels: affects_2.10, backport-2, backport-3, bug, cloud, community_review, has_issue, module, needs_ci, new_contributor, owner_pr, plugins, stale_ci

#2451 Add more plugin authors to BOTMETA
  .github/BOTMETA.yml
Labels: affects_2.10, backport-3, community_review, docs, needs_ci, small_patch, stale_ci

#2441 Remove vendored ipaddress module
  changelogs/fragments/ipaddress.yml
  plugins/inventory/lxd.py
  plugins/module_utils/compat/__init__.py
  plugins/module_utils/compat/ipaddress.py
  plugins/modules/cloud/scaleway/scaleway_security_group_rule.py
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.12.txt
  tests/sanity/ignore-2.9.txt
Labels: affects_2.10, breaking_change, bug, cloud, community_review, inventory, module, module_utils, needs_ci, plugins, stale_ci, tests

#2462 Small Documentation Example Of Cask Leveraging
  plugins/modules/packaging/os/homebrew.py
Labels: affects_2.10, backport-2, backport-3, community_review, docs, module, needs_ci, new_contributor, os, packaging, plugins, stale_ci

#2448 fix stackpath_compute validate_config
  changelogs/fragments/2448-stackpath_compute-fix.yml
  plugins/inventory/stackpath_compute.py
Labels: affects_2.10, backport-2, backport-3, bug, check-before-release, community_review, inventory, needs_ci, needs_triage, new_contributor, plugins, small_patch, stale_ci

#2476 Clarify Windows (non-)support
  README.md
Labels: affects_2.10, backport-1, backport-2, backport-3, community_review, docs, needs_ci, small_patch, stale_ci

#2454 Avoid incorrectly marking zfs tasks as changed
  changelogs/fragments/2454-detect_zfs_changed.yml
  plugins/modules/storage/zfs/zfs.py
Labels: affects_2.10, backport-2, backport-3, bug, check-before-release, community_review, module, needs_ci, plugins, stale_ci, storage

#2486 Run unit tests also with Python 3.10
  .azure-pipelines/azure-pipelines.yml
Labels: affects_2.10, backport-2, backport-3, community_review, needs_ci, python3, small_patch, stale_ci

#2164 Add dependent lookup plugin
  plugins/lookup/dependent.py
  tests/integration/targets/lookup_dependent/aliases
  tests/integration/targets/lookup_dependent/tasks/main.yml
  tests/unit/plugins/lookup/test_dependent.py
Labels: affects_2.10, backport-3, check-before-release, community_review, integration, lookup, new_plugin, plugins, tests, unit

#2428 [stable-3] Revert reverted changes for 3.1.0
  changelogs/fragments/2355-spotinst_aws_elastigroup-list-elements.yml
  plugins/modules/cloud/spotinst/spotinst_aws_elastigroup.py
Labels: affects_2.10, check-before-release, cloud, community_review, feature, module, needs_triage, plugins

#2334 modified redfish_config and idrac_redfish_config to skip incorrect attributes
  changelogs/fragments/2334-redfish_config-skip-incorrect-attributes.yml
  plugins/module_utils/redfish_utils.py
  plugins/modules/remote_management/redfish/idrac_redfish_config.py
  plugins/modules/remote_management/redfish/redfish_config.py
Labels: affects_2.10, backport-3, check-before-release, community_review, feature, module, module_utils, new_contributor, plugins, remote_management

#2417 nmcli: Remove dead code, 'options' never contains keys from 'param_alias'
  changelogs/fragments/2417-nmcli_remove_dead_code.yml
  plugins/modules/net_tools/nmcli.py
Labels: affects_2.10, backport-3, bug, check-before-release, community_review, module, needs_ci, net_tools, plugins, stale_ci

#2385 influxdb_retention_policy - add state argument to module spec (#2383)
  changelogs/fragments/2383-influxdb_retention_policy-add-state-option.yml
  plugins/modules/database/influxdb/influxdb_retention_policy.py
Labels: affects_2.10, backport-3, community_review, database, feature, module, needs_ci, plugins, stale_ci

#2410 linode - docs/validation changes + minor refactorings
  changelogs/fragments/2410-linode-improvements.yml
  plugins/modules/cloud/linode/linode.py
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.12.txt
  tests/sanity/ignore-2.9.txt
Labels: affects_2.10, backport-3, cloud, community_review, docs, module, needs_ci, plugins, stale_ci, tests

#2449 Add proxmox_nic module
  plugins/modules/cloud/misc/proxmox_nic.py
  plugins/modules/proxmox_nic.py
  tests/integration/targets/proxmox/tasks/main.yml
Labels: affects_2.10, backport-3, check-before-release, cloud, community_review, integration, module, needs_ci, new_contributor, new_module, new_plugin, plugins, stale_ci, tests

#2323 Add groupby_as_dict filter
  changelogs/fragments/2323-groupby_as_dict-filter.yml
  plugins/filter/groupby.py
  tests/integration/targets/filter_groupby/aliases
  tests/integration/targets/filter_groupby/tasks/main.yml
  tests/integration/targets/filter_groupby/vars/main.yml
Labels: affects_2.10, backport-3, check-before-release, community_review, has_issue, integration, needs_ci, needs_triage, new_plugin, plugins, stale_ci, tests

#2458 Deprecate nios content
  changelogs/fragments/nios-deprecation.yml
  meta/runtime.yml
  plugins/lookup/nios.py
  plugins/lookup/nios_next_ip.py
  plugins/lookup/nios_next_network.py
  plugins/modules/net_tools/nios/nios_a_record.py
  plugins/modules/net_tools/nios/nios_aaaa_record.py
  plugins/modules/net_tools/nios/nios_cname_record.py
  plugins/modules/net_tools/nios/nios_dns_view.py
  plugins/modules/net_tools/nios/nios_fixed_address.py
  plugins/modules/net_tools/nios/nios_host_record.py
  plugins/modules/net_tools/nios/nios_member.py
  plugins/modules/net_tools/nios/nios_mx_record.py
  plugins/modules/net_tools/nios/nios_naptr_record.py
  plugins/modules/net_tools/nios/nios_network.py
  plugins/modules/net_tools/nios/nios_network_view.py
  plugins/modules/net_tools/nios/nios_nsgroup.py
  plugins/modules/net_tools/nios/nios_ptr_record.py
  plugins/modules/net_tools/nios/nios_srv_record.py
  plugins/modules/net_tools/nios/nios_txt_record.py
  plugins/modules/net_tools/nios/nios_zone.py
  tests/sanity/ignore-2.9.txt
Labels: affects_2.10, backport-3, bug, check-before-release, community_review, has_issue, lookup, module, needs_ci, needs_triage, net_tools, plugins, stale_ci, tests

#2450 gitlab_user: add expires_at option
  changelogs/fragments/2450-gitlab_user-add_expires_at_option.yaml
  plugins/modules/source_control/gitlab/gitlab_user.py
  tests/integration/targets/gitlab_user/defaults/main.yml
  tests/integration/targets/gitlab_user/tasks/main.yml
  tests/integration/targets/gitlab_user/tasks/sshkey.yml
  tests/unit/plugins/modules/source_control/gitlab/test_gitlab_user.py
Labels: affects_2.10, backport-3, check-before-release, community_review, feature, gitlab, integration, module, needs_ci, needs_maintainer, plugins, source_control, stale_ci, tests, unit

#2505 proxmox_nic: set mtu on interface even if it's not virtio
  plugins/modules/cloud/misc/proxmox_nic.py
Labels: affects_2.10, backport-3, bug, check-before-release, cloud, community_review, module, needs_ci, plugins, small_patch, stale_ci

#2479 random_pet: Random pet name generator
  plugins/lookup/random_pet.py
  tests/integration/targets/lookup_random_pet/aliases
  tests/integration/targets/lookup_random_pet/dependencies.yml
  tests/integration/targets/lookup_random_pet/runme.sh
  tests/integration/targets/lookup_random_pet/test.yml
Labels: affects_2.10, backport-3, bug, check-before-release, community_review, integration, lookup, needs_ci, needs_triage, new_plugin, plugins, stale_ci, tests

#2485 java_keystore: New ssl_backend option for cryptography
  changelogs/fragments/2485-java_keystore-ssl_backend-parameter.yml
  plugins/modules/system/java_keystore.py
  tests/integration/targets/java_keystore/tasks/main.yml
  tests/integration/targets/java_keystore/tasks/tests.yml
  tests/unit/plugins/modules/system/test_java_keystore.py
Labels: affects_2.10, backport-3, check-before-release, community_review, feature, integration, module, needs_ci, needs_maintainer, plugins, stale_ci, system, tests, unit

#2520 Cleanup connections plugins
  changelogs/fragments/2520-connection-refactors.yml
  plugins/connection/chroot.py
  plugins/connection/funcd.py
  plugins/connection/iocage.py
  plugins/connection/jail.py
  plugins/connection/lxc.py
  plugins/connection/qubes.py
  plugins/connection/saltstack.py
  plugins/connection/zone.py
Labels: affects_2.10, backport-3, community_review, connection, feature, needs_ci, needs_triage, plugins, stale_ci

#2495 1085 updating the hcl whitelist to include all supported options
  changelogs/fragments/1085-consul-acl-hcl-whitelist-update.yml
  plugins/modules/clustering/consul/consul_acl.py
Labels: affects_2.10, backport-2, backport-3, bug, clustering, community_review, has_issue, module, needs_ci, new_contributor, plugins, stale_ci

#2499 Update influxdb_user.py Fixed Multiple No Privileges
  changelogs/fragments/2499-influxdb_user-fix-multiple-no-privileges.yml
  plugins/modules/database/influxdb/influxdb_user.py
Labels: affects_2.10, backport-2, backport-3, bug, community_review, database, module, needs_ci, new_contributor, plugins, stale_ci

#2518 nmap fix error when cache is disabled
  changelogs/fragments/2518-nmap-fix-cache-disabled.yml
  plugins/inventory/nmap.py
Labels: affects_2.10, backport-2, backport-3, bug, community_review, inventory, needs_ci, needs_triage, plugins, small_patch, stale_ci

#2533 Fix yum_versionlock tests
  tests/integration/targets/yum_versionlock/tasks/main.yml
Labels: backport-1, backport-2, backport-3

#2536 yum_versionlock: disable fedora34 integration test
  tests/integration/targets/yum_versionlock/tasks/main.yml
Labels: affects_2.10, backport-2, backport-3, community_review, integration, needs_ci, needs_triage, os, packaging, plugins, stale_ci, tests

#2500 Add option 'missing' to passwordstore lookup
  changelogs/fragments/2500-passwordstore-add_option_ignore_missing.yml
  plugins/lookup/passwordstore.py
  tests/integration/targets/lookup_passwordstore/tasks/tests.yml
Labels: affects_2.10, backport-3, check-before-release, community_review, feature, integration, lookup, needs_ci, needs_triage, new_contributor, plugins, stale_ci, tests

#2411 snap - revamp + implementing enabled/disabled states
  changelogs/fragments/2411-snap-revamp-enabled-disabled-states.yml
  plugins/modules/packaging/os/snap.py
Labels: affects_2.10, backport-3, check-before-release, community_review, feature, module, os, packaging, plugins

#2540 zfs_delegate_admin: drop choices from permissions
  changelogs/fragments/2540-zfs-delegate-choices.yml
  plugins/modules/storage/zfs/zfs_delegate_admin.py
Labels: affects_2.10, backport-3, bug, community_review, module, needs_ci, plugins, stale_ci, storage

#2526 java_keystore: pass in secret to keytool via stdin
  changelogs/fragments/2526-java_keystore-password-via-stdin.yml
  plugins/modules/system/java_keystore.py
  tests/unit/plugins/modules/system/test_java_keystore.py
Labels: affects_2.10, backport-3, check-before-release, community_review, feature, module, needs_ci, needs_maintainer, plugins, stale_ci, system, tests, unit

#2514 ModuleHelper - better mechanism for customizing "changed" behaviour
  changelogs/fragments/2514-mh-improved-changed.yml
  plugins/module_utils/mh/base.py
Labels: affects_2.10, backport-3, community_review, feature, module_utils, needs_ci, needs_triage, plugins, stale_ci

#2368 influxdb_user: allow creation of first user with auth enabled (#2364)
  changelogs/fragments/2364-influxdb_user-first_user.yml
  plugins/modules/database/influxdb/influxdb_user.py
Labels: affects_2.10, backport-2, backport-3, bug, community_review, database, module, plugins

#2517 ModuleHelper - cmd params now taken from self.vars instead of self.module.params
  changelogs/fragments/2517-cmd-params-from-vars.yml
  plugins/module_utils/mh/mixins/cmd.py
  plugins/modules/system/xfconf.py
Labels: affects_2.10, backport-3, check-before-release, community_review, feature, module, module_utils, needs_ci, plugins, stale_ci, system

#2472 filesystem: revamp module
  changelogs/fragments/2472_filesystem_module_revamp.yml
  plugins/modules/system/filesystem.py
  tests/integration/targets/filesystem/defaults/main.yml
  tests/integration/targets/filesystem/tasks/create_device.yml
  tests/integration/targets/filesystem/tasks/create_fs.yml
  tests/integration/targets/filesystem/tasks/main.yml
  tests/integration/targets/filesystem/tasks/overwrite_another_fs.yml
  tests/integration/targets/filesystem/tasks/remove_fs.yml
  tests/integration/targets/filesystem/tasks/setup.yml
Labels: affects_2.10, backport-3, check-before-release, community_review, feature, integration, module, needs_ci, plugins, stale_ci, system, tests

#2525 iptables_state: fix per-table initialization command
  changelogs/fragments/2525-iptables_state-fix-initialization-command.yml
  plugins/action/system/iptables_state.py
  plugins/modules/system/iptables_state.py
Labels: action, affects_2.10, backport-2, backport-3, bug, check-before-release, community_review, module, needs_ci, plugins, stale_ci, system

#2524 pacman: add 'executable' option to use an alternative pacman binary
  changelogs/fragments/2524-pacman_add_bin_option.yml
  plugins/modules/packaging/os/pacman.py
Labels: affects_2.10, backport-3, check-before-release, community_review, feature, module, needs_ci, new_contributor, os, packaging, plugins, stale_ci

#2559 nuage - removed supporting code for testing
  tests/integration/targets/prepare_nuage_tests/tasks/main.yml
Labels: affects_2.10, backport-1, backport-2, backport-3, community_review, docs, integration, needs_ci, needs_triage, stale_ci, tests

#2564 ModuleHelper: CmdMixin custom function for processing cmd results
  changelogs/fragments/2564-mh-cmd-process-output.yml
  plugins/module_utils/mh/mixins/cmd.py
Labels: affects_2.10, backport-3, check-before-release, community_review, feature, module_utils, needs_ci, plugins, stale_ci

#2556 Add comment_visibility parameter for comment operation for jira module
  changelogs/fragments/2556-add-comment_visibility-parameter-for-comment-operation-of-jira-module.yml
  plugins/modules/web_infrastructure/jira.py
Labels: affects_2.10, backport-3, check-before-release, community_review, feature, module, needs_ci, plugins, stale_ci, web_infrastructure

#2570 Add missing author name
  plugins/inventory/stackpath_compute.py
Labels: affects_2.10, backport-1, backport-2, backport-3, community_review, docs, inventory, needs_ci, needs_triage, plugins, small_patch, stale_ci

#2560 java_cert - fix incorrect certificate alias on pkcs12 import
  changelogs/fragments/2560-java_cert-pkcs12-alias-bugfix.yml
  plugins/modules/system/java_cert.py
  tests/integration/targets/java_cert/tasks/state_change.yml
Labels: affects_2.10, backport-2, backport-3, bug, community_review, integration, module, needs_ci, plugins, stale_ci, system, tests

#2461 ovir4 inventory script
  changelogs/fragments/2461-ovirt4-fix-configparser.yml
  scripts/inventory/ovirt4.py
Labels: affects_2.10, backport-2, backport-3, bug, check-before-release, community_review, needs_ci, needs_triage, stale_ci

#2578 ini_file - opening file as utf-8-sig
  changelogs/fragments/2578-ini-file-utf8-bom.yml
  plugins/modules/files/ini_file.py
  tests/integration/targets/ini_file/tasks/main.yml
Labels: affects_2.10, backport-3, check-before-release, community_review, feature, files, integration, module, needs_ci, plugins, stale_ci, tests

#2571 rhsm_release: Fix the issue that rhsm_release module considers 8, 7Client and 7Workstation as invalid releases
  changelogs/fragments/2571-rhsm_release-fix-release_matcher.yaml
  plugins/modules/packaging/os/rhsm_release.py
  tests/unit/plugins/modules/packaging/os/test_rhsm_release.py
Labels: affects_2.10, backport-2, backport-3, bug, check-before-release, community_review, module, needs_ci, needs_maintainer, new_contributor, os, packaging, plugins, stale_ci, tests, unit

#2590 [netcup_dns] Use str() to get exception message
  changelogs/fragments/2590-netcup_dns-exception-no-message-attr.yml
  plugins/modules/net_tools/netcup_dns.py
Labels: affects_2.10, backport-2, backport-3, bug, check-before-release, community_review, module, needs_ci, net_tools, new_contributor, plugins, python3, small_patch, stale_ci, traceback

#2607 json_query, no more 'unkown type' errors
  changelogs/fragments/json_query_more_types.yml
  plugins/filter/json_query.py
Labels: affects_2.10, backport-2, backport-3, bug, check-before-release, community_review, needs_ci, plugins, small_patch, stale_ci

#2511 jenkins_plugin: HTTP Error 405: Method Not Allowed on disable/enable plugin #2510
  changelogs/fragments/2510-jenkins_plugin_use_post_method.yml
  plugins/modules/web_infrastructure/jenkins_plugin.py
Labels: affects_2.10, backport-2, backport-3, bug, check-before-release, community_review, module, needs_ci, new_contributor, plugins, small_patch, stale_ci, web_infrastructure

#2599 ini_file - added note in documentation for utf-8 bom
  plugins/modules/files/ini_file.py
Labels: affects_2.10, backport-3, community_review, docs, files, module, needs_ci, plugins, small_patch, stale_ci

#2579 redis cache - better parsing of connection uri
  changelogs/fragments/2579-redis-cache-ipv6.yml
  plugins/cache/redis.py
  tests/unit/plugins/cache/test_redis.py
Labels: affects_2.10, backport-2, backport-3, bug, community_review, needs_ci, needs_triage, plugins, stale_ci, tests, unit

#2602 Add CONTRIBUTING.md
  CONTRIBUTING.md
  README.md
Labels: affects_2.10, backport-1, backport-2, backport-3, check-before-release, community_review, docs, needs_ci, needs_triage, stale_ci

#2629 Use become test framework for sudosu tests
  tests/unit/plugins/become/test_sudosu.py
Labels: affects_2.10, backport-2, backport-3, bug, community_review, needs_ci, stale_ci, tests, unit

#2615 Add one-liner lookup example
  plugins/lookup/tss.py
Labels: affects_2.10, backport-2, backport-3, check-before-release, community_review, docs, lookup, needs_ci, new_contributor, plugins, stale_ci

#2614 influxdb_user: Fix bug introduced by PR 2499
  changelogs/fragments/2614-influxdb_user-fix-issue-introduced-in-PR#2499.yml
  plugins/modules/database/influxdb/influxdb_user.py
Labels: affects_2.10, backport-2, backport-3, bug, check-before-release, community_review, database, has_issue, module, needs_ci, plugins, small_patch, stale_ci

#2641 Temporarily disable iptables_state tests
  tests/integration/targets/iptables_state/aliases
Labels: affects_2.10, backport-2, backport-3, community_review, has_issue, integration, needs_ci, plugins, small_patch, stale_ci, system, tests

#2604 iptables_state: fix a regression in initialization_from_null_state()
  plugins/modules/system/iptables_state.py
Labels: affects_2.10, backport-2, backport-3, bug, check-before-release, community_review, module, needs_ci, owner_pr, plugins, stale_ci, system

#2623 Add module hana_query to make SAP HANA administration easier.
  plugins/modules/database/saphana/hana_query.py
  plugins/modules/hana_query.py
  tests/unit/plugins/modules/database/saphana/__init__.py
  tests/unit/plugins/modules/database/saphana/test_hana_query.py
Labels: affects_2.10, backport-3, check-before-release, community_review, database, module, needs_ci, needs_triage, new_module, new_plugin, plugins, stale_ci, tests, unit

#2647 hana_query module: add a maintainer
  .github/BOTMETA.yml
Labels: affects_2.10, backport-3, community_review, docs, needs_ci, small_patch, stale_ci

#2632 meta/runtime.yml and __init__.py cleanup
  changelogs/fragments/2632-cleanup.yml
  meta/runtime.yml
  plugins/action/__init__.py
  plugins/become/__init__.py
  plugins/cache/__init__.py
  plugins/callback/__init__.py
  plugins/connection/__init__.py
  plugins/doc_fragments/__init__.py
  plugins/filter/__init__.py
  plugins/inventory/__init__.py
  plugins/lookup/__init__.py
  plugins/module_utils/__init__.py
  plugins/module_utils/identity/__init__.py
  plugins/module_utils/identity/keycloak/__init__.py
  plugins/module_utils/mh/__init__.py
  plugins/module_utils/mh/mixins/__init__.py
  plugins/module_utils/net_tools/__init__.py
  plugins/module_utils/net_tools/nios/__init__.py
  plugins/module_utils/net_tools/pritunl/__init__.py
  plugins/module_utils/oracle/__init__.py
  plugins/module_utils/remote_management/__init__.py
  plugins/module_utils/remote_management/lxca/__init__.py
  plugins/module_utils/source_control/__init__.py
  plugins/module_utils/storage/__init__.py
  plugins/module_utils/storage/emc/__init__.py
  plugins/module_utils/storage/hpe3par/__init__.py
  plugins/modules/__init__.py
  plugins/modules/net_tools/pritunl/__init__.py
Labels: action, affects_2.10, backport-3, become, bug, callback, community_review, connection, docs_fragments, inventory, lookup, module, module_utils, needs_ci, needs_maintainer, needs_triage, net_tools, plugins, stale_ci

#2573 Terraform overwrite init
  changelogs/fragments/2573-terraform-overwrite-init.yml
  plugins/modules/cloud/misc/terraform.py
Labels: affects_2.10, backport-3, bug, check-before-release, cloud, community_review, module, needs_ci, plugins, stale_ci

#2644 xml: Add an example for absent
  plugins/modules/files/xml.py
Labels: affects_2.10, backport-2, backport-3, check-before-release, community_review, docs, files, module, needs_ci, plugins, stale_ci

#2603 HAproxy - Fix drain example with correct wait_interval value
  plugins/modules/net_tools/haproxy.py
Labels: affects_2.10, backport-2, backport-3, check-before-release, community_review, docs, module, needs_ci, net_tools, new_contributor, plugins, small_patch, stale_ci

#2572 random_string: a new lookup plugin
  plugins/lookup/random_string.py
  tests/integration/targets/lookup_random_string/aliases
  tests/integration/targets/lookup_random_string/runme.sh
  tests/integration/targets/lookup_random_string/test.yml
Labels: affects_2.10, backport-3, bug, community_review, has_issue, integration, lookup, needs_ci, needs_triage, new_plugin, plugins, stale_ci, tests

#2557 minor refactors on plugins/modules/cloud/misc
  changelogs/fragments/2557-cloud-misc-refactor.yml
  plugins/modules/cloud/misc/cloud_init_data_facts.py
  plugins/modules/cloud/misc/proxmox_group_info.py
  plugins/modules/cloud/misc/proxmox_kvm.py
  plugins/modules/cloud/misc/rhevm.py
  plugins/modules/cloud/misc/serverless.py
  plugins/modules/cloud/misc/terraform.py
Labels: affects_2.10, backport-3, cloud, community_review, feature, module, needs_ci, needs_maintainer, plugins, stale_ci

#2663 Add extra docs tests
  tests/sanity/extra/extra-docs.json
  tests/sanity/extra/extra-docs.py
Labels: affects_2.10, backport-2, backport-3, community_review, needs_ci, stale_ci, tests

#2666 Stop mentioning Freenode. We're on Libera.chat.
  README.md
Labels: affects_2.10, backport-1, backport-2, backport-3, community_review, docs, needs_ci, small_patch, stale_ci

#2650 composer: add composer_executable
  changelogs/fragments/2650-composer-add_composer_executable.yml
  plugins/modules/packaging/language/composer.py
Labels: affects_2.10, backport-3, check-before-release, community_review, feature, language, module, needs_ci, packaging, plugins, stale_ci

#2648 proxmox_kvm - Fixed vmid result when VM with name exists
  changelogs/fragments/2648-proxmox_kvm-fix-vmid-return-value.yml
  plugins/modules/cloud/misc/proxmox_kvm.py
Labels: affects_2.10, backport-2, backport-3, bug, check-before-release, cloud, community_review, has_issue, module, needs_ci, owner_pr, plugins, small_patch, stale_ci

#2671 iptables_state: fix broken query of `async_status` result
  changelogs/fragments/2671-fix-broken-query-of-async_status-result.yml
  plugins/action/system/iptables_state.py
  tests/integration/targets/iptables_state/aliases
Labels: action, affects_2.10, backport-2, backport-3, bug, community_review, integration, needs_ci, needs_triage, plugins, small_patch, stale_ci, system, tests

#2677 Fixed sanity checks for cloud/online/ modules
  plugins/modules/cloud/online/online_server_info.py
  plugins/modules/cloud/online/online_user_info.py
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.12.txt
  tests/sanity/ignore-2.9.txt
Labels: backport-2, backport-3

#2616 archive - Adding exclusion_patterns option
  changelogs/fragments/2616-archive-exclusion_patterns-option.yml
  plugins/modules/files/archive.py
  tests/integration/targets/archive/tasks/main.yml
Labels: affects_2.10, backport-3, check-before-release, community_review, feature, files, integration, module, needs_ci, plugins, stale_ci, tests
