Repository ansible-collections/community.general, pull requests merged in 2021-11, with the labels that each got.

#3647 pipx: minor refactor
  changelogs/fragments/3634-pipx-improve-changed.yaml
  plugins/modules/packaging/language/pipx.py
Labels: feature, module, plugins, packaging, language

#3655 fix modules' output by using publish_cmd
  changelogs/fragments/3655-use-publish_cmd.yaml
  plugins/modules/packaging/language/ansible_galaxy_install.py
  plugins/modules/packaging/language/pipx.py
  plugins/modules/packaging/os/snap_alias.py
Labels: bug, module, plugins, os, packaging, language

#3628 Add test plugin which allows to query whether a module or action plugin is available
  .github/BOTMETA.yml
  changelogs/fragments/a_module-test.yml
  docs/docsite/extra-docs.yml
  docs/docsite/rst/test_guide.rst
  plugins/test/a_module.py
  tests/integration/targets/test_a_module/aliases
  tests/integration/targets/test_a_module/collections/ansible_collections/testns/testcoll/galaxy.yml
  tests/integration/targets/test_a_module/collections/ansible_collections/testns/testcoll/plugins/modules/collection_module.py
  tests/integration/targets/test_a_module/library/local_module.py
  tests/integration/targets/test_a_module/runme.sh
  tests/integration/targets/test_a_module/runme.yml
Labels: tests, integration, has_issue, new_plugin, plugins, check-before-release

#3633 Add collection_version lookup
  .github/BOTMETA.yml
  plugins/lookup/collection_version.py
  tests/integration/targets/lookup_collection_version/aliases
  tests/integration/targets/lookup_collection_version/collections/ansible_collections/testns/testcoll/galaxy.yml
  tests/integration/targets/lookup_collection_version/collections/ansible_collections/testns/testcoll/plugins/modules/collection_module.py
  tests/integration/targets/lookup_collection_version/collections/ansible_collections/testns/testcoll_mf/FILES.json
  tests/integration/targets/lookup_collection_version/collections/ansible_collections/testns/testcoll_mf/MANIFEST.json
  tests/integration/targets/lookup_collection_version/collections/ansible_collections/testns/testcoll_mf/README.md
  tests/integration/targets/lookup_collection_version/collections/ansible_collections/testns/testcoll_mf/plugins/modules/collection_module.py
  tests/integration/targets/lookup_collection_version/collections/ansible_collections/testns/testcoll_nothing/plugins/modules/collection_module.py
  tests/integration/targets/lookup_collection_version/collections/ansible_collections/testns/testcoll_nv/galaxy.yml
  tests/integration/targets/lookup_collection_version/collections/ansible_collections/testns/testcoll_nv/plugins/modules/collection_module.py
  tests/integration/targets/lookup_collection_version/library/local_module.py
  tests/integration/targets/lookup_collection_version/runme.sh
  tests/integration/targets/lookup_collection_version/runme.yml
Labels: lookup, tests, integration, has_issue, new_plugin, plugins, check-before-release

#3657 Revert "Temporarily disable yaml callback tests. (#3651)"
  tests/integration/targets/callback_yaml/aliases
Labels: tests, integration, small_patch, backport-3

#3659 Fix urpmi typo in changelog
  CHANGELOG.rst
  changelogs/changelog.yaml
Labels: small_patch, docs, backport-2, backport

#3660 a_module test: fix crash in case of tombstoning
  changelogs/fragments/3660-a_module-tombstone.yml
  plugins/test/a_module.py
  tests/integration/targets/test_a_module/runme.yml
Labels: bug, tests, integration, plugins, backport-4

#3675 Better handling of base64-encoded values in xattr module
  changelogs/fragments/3675-xattr-handle-base64-values.yml
  plugins/modules/files/xattr.py
Labels: bug, module, needs_revision, new_contributor, plugins, files, backport-2, backport-3, backport-4

#3674 Replace Fedora 33 with Fedora 35 for devel tests
  .azure-pipelines/azure-pipelines.yml
  tests/integration/targets/filesystem/tasks/main.yml
  tests/integration/targets/filesystem/tasks/setup.yml
Labels: needs_revision, tests, integration, backport-3, backport-4

#3562 Add pre-commit for linting commits
  .pre-commit-config.yaml
  CONTRIBUTING.md
Labels: docs

#3682 Fix docs issues.
  plugins/modules/clustering/consul/consul.py
Labels: module, small_patch, plugins, docs, clustering, backport-3, docs_only, backport-4

#3625 Fix dummy interface returning changed
  changelogs/fragments/3625-nmcli_false_changed_mtu_fix.yml
  plugins/modules/net_tools/nmcli.py
  tests/unit/plugins/modules/net_tools/test_nmcli.py
Labels: bug, module, tests, unit, new_contributor, plugins, net_tools, backport-3, backport-4

#3696 BOTMETA.yml: add new maintainer to gitlab team
  .github/BOTMETA.yml
Labels: bug, small_patch, backport-3, backport-4

#3713 Replace Bash codecov uploader by new Python codecov uploader
  .azure-pipelines/scripts/aggregate-coverage.sh
  .azure-pipelines/scripts/publish-codecov.py
  .azure-pipelines/scripts/publish-codecov.sh
  .azure-pipelines/scripts/report-coverage.sh
  .azure-pipelines/templates/coverage.yml
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.12.txt
  tests/sanity/ignore-2.13.txt
  tests/sanity/ignore-2.9.txt
Labels: tests, backport-1, backport-2, backport-3, backport-4

#3715 [stable-3] Replace Bash codecov uploader by new Python codecov uploader
  .azure-pipelines/scripts/aggregate-coverage.sh
  .azure-pipelines/scripts/publish-codecov.py
  .azure-pipelines/scripts/publish-codecov.sh
  .azure-pipelines/scripts/report-coverage.sh
  .azure-pipelines/templates/coverage.yml
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.12.txt
  tests/sanity/ignore-2.13.txt
  tests/sanity/ignore-2.9.txt
Labels: tests, backport

#3716 [stable-2] Replace Bash codecov uploader by new Python codecov uploader
  .azure-pipelines/scripts/aggregate-coverage.sh
  .azure-pipelines/scripts/publish-codecov.py
  .azure-pipelines/scripts/publish-codecov.sh
  .azure-pipelines/scripts/report-coverage.sh
  .azure-pipelines/templates/coverage.yml
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.12.txt
  tests/sanity/ignore-2.9.txt
Labels: tests, backport

#3717 [stable-1] Replace Bash codecov uploader by new Python codecov uploader
  .azure-pipelines/scripts/aggregate-coverage.sh
  .azure-pipelines/scripts/publish-codecov.py
  .azure-pipelines/scripts/publish-codecov.sh
  .azure-pipelines/scripts/report-coverage.sh
  .azure-pipelines/templates/coverage.yml
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.9.txt
Labels: tests, backport

#3632 redfish_config: Add support to configure Redfish Host Interface
  changelogs/fragments/3632-add-redfish-host-interface-config-support.yml
  plugins/module_utils/redfish_utils.py
  plugins/modules/remote_management/redfish/redfish_config.py
Labels: feature, module, has_issue, module_utils, plugins, remote_management, check-before-release, backport-4

#3681 Rework safety check on size arguments for when LV doesn't exist
  changelogs/fragments/3681-lvol-fix-create.yml
  plugins/modules/system/lvol.py
Labels: bug, module, plugins, system, backport-3, backport-4

#3711 redfish_command: example command has wrong arg
  plugins/modules/remote_management/redfish/redfish_command.py
Labels: bug, module, new_contributor, small_patch, plugins, remote_management, backport-3, docs_only, backport-4

#3667 Allow LDAP search to run in check mode
  changelogs/fragments/3667-ldap_search.yml
  plugins/modules/net_tools/ldap/ldap_search.py
Labels: feature, module, new_contributor, plugins, net_tools, backport-3, backport-4

#3709 Enable counter_enabled.py to support batch mode
  changelogs/fragments/3709-support-batch-mode.yml
  plugins/callback/counter_enabled.py
Labels: bug, needs_revision, callback, new_contributor, plugins, check-before-release, backport-3, backport-4

#3733 Restrict redis version in CI
  tests/integration/targets/setup_redis_replication/defaults/main.yml
  tests/integration/targets/setup_redis_replication/meta/main.yml
  tests/integration/targets/setup_redis_replication/tasks/setup_redis_cluster.yml
  tests/utils/constraints.txt
Labels: tests, unit, integration, backport-1, backport-2, backport-3, backport-4

#3723 [stable-4] Announce deprecation of support for Ansible 2.9 and ansible-base 2.10
  changelogs/fragments/deprecate-ansible-2.9-2.10.yml
Labels: has_issue, owner_pr, docs, backport

#3737 [stable-1] Restrict redis version in CI
  tests/integration/targets/setup_redis_replication/defaults/main.yml
  tests/integration/targets/setup_redis_replication/meta/main.yml
  tests/integration/targets/setup_redis_replication/tasks/setup_redis_cluster.yml
  tests/utils/constraints.txt
Labels: needs_revision, tests, unit, integration, backport

#3694 gitlab: clean up modules and utils
  changelogs/fragments/3694-gitlab-cleanup.yml
  plugins/module_utils/gitlab.py
  plugins/modules/source_control/gitlab/gitlab_deploy_key.py
  plugins/modules/source_control/gitlab/gitlab_group.py
  plugins/modules/source_control/gitlab/gitlab_group_members.py
  plugins/modules/source_control/gitlab/gitlab_group_variable.py
  plugins/modules/source_control/gitlab/gitlab_hook.py
  plugins/modules/source_control/gitlab/gitlab_project.py
  plugins/modules/source_control/gitlab/gitlab_project_members.py
  plugins/modules/source_control/gitlab/gitlab_project_variable.py
  plugins/modules/source_control/gitlab/gitlab_protected_branch.py
  plugins/modules/source_control/gitlab/gitlab_runner.py
  plugins/modules/source_control/gitlab/gitlab_user.py
  tests/unit/plugins/modules/source_control/gitlab/test_gitlab_deploy_key.py
  tests/unit/plugins/modules/source_control/gitlab/test_gitlab_group.py
  tests/unit/plugins/modules/source_control/gitlab/test_gitlab_hook.py
  tests/unit/plugins/modules/source_control/gitlab/test_gitlab_project.py
  tests/unit/plugins/modules/source_control/gitlab/test_gitlab_runner.py
  tests/unit/plugins/modules/source_control/gitlab/test_gitlab_user.py
Labels: bug, module, tests, unit, new_contributor, module_utils, plugins, gitlab, source_control, check-before-release, backport-4

#3693 Add GetHostInterfaces command to redfish_info
  changelogs/fragments/3693-add-redfish-host-interface-info-support.yml
  plugins/module_utils/redfish_utils.py
  plugins/modules/remote_management/redfish/redfish_info.py
Labels: feature, module, module_utils, plugins, remote_management, check-before-release, backport-4

#3708 listen_ports_facts: Added support for ss
  changelogs/fragments/3708-listen_ports_facts-add-ss-support.yml
  plugins/modules/system/listen_ports_facts.py
  tests/integration/targets/listen_ports_facts/tasks/main.yml
Labels: feature, module, tests, integration, plugins, system, check-before-release, backport-4

#3747 CI: Replace RHEL 8.4 by RHEL 8.5 for devel
  .azure-pipelines/azure-pipelines.yml
  tests/integration/targets/django_manage/aliases
Labels: needs_revision, tests, integration, backport-3, backport-4

#3753 Fix collection dependency installation in CI
  tests/utils/shippable/shippable.sh
Labels: tests, unit, small_patch, backport-2, backport-3, backport-4

#3738 change ip4 type to list of str
  changelogs/fragments/1088-nmcli_add_multiple_addresses_support.yml
  plugins/modules/net_tools/nmcli.py
  tests/unit/plugins/modules/net_tools/test_nmcli.py
Labels: feature, module, tests, unit, plugins, net_tools, check-before-release, backport-4

#3344 Xen orchestra inventory plugin
  .github/BOTMETA.yml
  plugins/inventory/xen_orchestra.py
  tests/unit/plugins/inventory/test_xen_orchestra.py
Labels: stale_ci, tests, unit, new_contributor, new_plugin, inventory, community_review, needs_triage, affects_2.10, plugins, backport-4

#3661 lxd_container: support lxd instance types
  changelogs/fragments/3661-lxd_container-add-vm-support.yml
  plugins/modules/cloud/lxd/lxd_container.py
Labels: feature, module, new_contributor, plugins, cloud, backport-4

#3762 xen_orchestra: replace usage of packaging.version with distutils.version.LooseVersion
  plugins/inventory/xen_orchestra.py
Labels: bug, inventory, small_patch, plugins

#2386 Bugfix: github_repo does not apply defaults on existing repos
  changelogs/fragments/2386-github_repo-fix-idempotency-issues.yml
  plugins/modules/source_control/github/github_repo.py
  tests/unit/plugins/modules/source_control/github/test_github_repo.py
Labels: bug, module, tests, unit, community_review, affects_2.10, plugins, source_control, breaking_change, backport-4

#3702 Support IPMI encryption key parameter in ipmi_boot
  changelogs/fragments/3702-ipmi-encryption-key.yml
  plugins/modules/remote_management/ipmi/ipmi_boot.py
  plugins/modules/remote_management/ipmi/ipmi_power.py
Labels: feature, module, plugins, remote_management, backport-4

#3405 RevBits PAM Secret Server Plugin
  .github/BOTMETA.yml
  plugins/lookup/revbitspss.py
  tests/unit/plugins/lookup/test_revbitspss.py
Labels: bug, lookup, tests, unit, new_contributor, new_plugin, plugins, check-before-release, backport-4

#3766 Xen orchestra inventory: Added groups, keyed_groups and compose support
  plugins/inventory/xen_orchestra.py
  tests/unit/plugins/inventory/test_xen_orchestra.py
Labels: feature, tests, unit, inventory, plugins, check-before-release, backport-4

#3765 extend open_iscsi to allow rescanning a session to discover new mapped LUN's #3763
  changelogs/fragments/3765-extend-open_iscsi-with-rescan.yml
  plugins/modules/system/open_iscsi.py
Labels: bug, feature, module, new_contributor, plugins, system, backport-4

#3758 pacman: add stdout and stderr as return parameters
  changelogs/fragments/3758-pacman-add-stdout-stderr.yml
  plugins/modules/packaging/os/pacman.py
Labels: feature, module, new_contributor, plugins, os, packaging, check-before-release, backport-4

#3726 terraform: ensuring command options are applied during build_plan
  changelogs/fragments/3726-terraform-missing-parameters-planned-fix.yml
  plugins/modules/cloud/misc/terraform.py
Labels: bug, module, new_contributor, plugins, cloud, check-before-release, backport-3, backport-4

#3780 Keycloak: add sssd provider for user federation
  changelogs/fragments/3780-add-keycloak-sssd-user-federation.yml
  plugins/modules/identity/keycloak/keycloak_user_federation.py
Labels: feature, module, has_issue, plugins, identity, backport-4

#3785 python_requirements_info - fail when version operator used without version
  changelogs/fragments/3785-python_requirements_info-versionless-op.yaml
  plugins/modules/system/python_requirements_info.py
  tests/integration/targets/python_requirements_info/tasks/main.yml
Labels: bug, module, tests, integration, plugins, system, check-before-release, backport-4

#3727 MH DeprecateAttrsMixin
  plugins/module_utils/mh/mixins/deprecate_attrs.py
  tests/integration/targets/module_helper/library/msimpleda.py
  tests/integration/targets/module_helper/tasks/main.yml
  tests/integration/targets/module_helper/tasks/msimpleda.yml
Labels: feature, tests, integration, module_utils, plugins, backport-4

#3784 Fixing ip address without mask bug
  changelogs/fragments/3768-nmcli_fix_changed_when_no_mask_set.yml
  plugins/modules/net_tools/nmcli.py
  tests/unit/plugins/modules/net_tools/test_nmcli.py
Labels: bug, module, tests, unit, plugins, net_tools, backport-3, backport-4

#3807 logentries - invoke run_command passing list
  changelogs/fragments/3807-logentries-run_command-list.yaml
  plugins/modules/monitoring/logentries.py
Labels: feature, module, plugins, monitoring, needs_maintainer, backport-4

#3805 iso_extract - invoke run_command passing list
  changelogs/fragments/3805-iso_extract-run_command-list.yaml
  plugins/modules/files/iso_extract.py
Labels: feature, module, plugins, files, backport-4

#3810 [PR #3784/aae3ae1a backport][stable-3] Fixing ip address without mask bug
  changelogs/fragments/3768-nmcli_fix_changed_when_no_mask_set.yml
  plugins/modules/net_tools/nmcli.py
  tests/unit/plugins/modules/net_tools/test_nmcli.py
Labels: bug, module, tests, unit, plugins, net_tools, backport

#3804 ansible_galaxy_install - minor documentation fix
  plugins/modules/packaging/language/ansible_galaxy_install.py
Labels: module, plugins, docs, packaging, language, backport-3, backport-4

#3792 Improve modules gitlab
  changelogs/3766-improve_gitlab_group_and_project.yml
  plugins/modules/source_control/gitlab/gitlab_group.py
  plugins/modules/source_control/gitlab/gitlab_project.py
Labels: feature, module, plugins, gitlab, source_control, backport-4

#3797 python_requirements_info - improvements
  changelogs/fragments/3797-python_requirements_info-improvements.yaml
  plugins/modules/system/python_requirements_info.py
  tests/integration/targets/python_requirements_info/tasks/main.yml
Labels: feature, module, tests, integration, plugins, system, check-before-release, backport-4

#3800 pipx - fixed --include-apps bug
  changelogs/fragments/3800-pipx-include-apps.yaml
  plugins/modules/packaging/language/pipx.py
  tests/integration/targets/pipx/tasks/main.yml
Labels: bug, module, tests, integration, plugins, packaging, language, backport-3, backport-4

#3801 ModuleHelper - deprecate attribute VarDict
  changelogs/fragments/3801-mh-deprecate-vardict-attr.yaml
  plugins/module_utils/mh/module_helper.py
  tests/integration/targets/module_helper/library/msimpleda.py
  tests/integration/targets/module_helper/library/mstate.py
  tests/integration/targets/module_helper/tasks/mstate.yml
Labels: feature, tests, integration, module_utils, plugins, backport-4

#3806 xattr - invoke run_command passing list
  changelogs/fragments/3806-xattr-run_command-list.yaml
  plugins/modules/files/xattr.py
Labels: feature, module, plugins, files, check-before-release, backport-4
