Repository ansible-collections/community.general, pull requests merged in 2021-07, with the labels that each got.

#2865 [backport][stable-2] archive - refactor and bugfix (#2816)
  changelogs/fragments/2816-archive-refactor.yml
  plugins/modules/files/archive.py
  tests/integration/targets/archive/files/sub/subfile.txt
  tests/integration/targets/archive/tasks/main.yml
  tests/integration/targets/archive/tasks/remove.yml
Labels: affects_2.10, bug, check-before-release, community_review, files, integration, module, needs_ci, plugins, stale_ci, tests

#2912 Fix snap module, and module helper behavior on rc != 0 in output
  changelogs/fragments/2912-snap-module-helper.yml
  plugins/module_utils/mh/base.py
  plugins/modules/packaging/os/snap.py
  tests/integration/targets/snap/aliases
  tests/integration/targets/snap/defaults/main.yml
  tests/integration/targets/snap/handlers/main.yml
  tests/integration/targets/snap/meta/main.yml
  tests/integration/targets/snap/tasks/Debian.yml
  tests/integration/targets/snap/tasks/Fedora.yml
  tests/integration/targets/snap/tasks/RedHat.yml
  tests/integration/targets/snap/tasks/default.yml
  tests/integration/targets/snap/tasks/main.yml
  tests/integration/targets/snap/tasks/nothing.yml
Labels: affects_2.10, backport-3, bug, community_review, has_issue, integration, module, module_utils, needs_ci, needs_triage, os, packaging, plugins, stale_ci, tests

#2920 Add integration test for classic snap
  tests/integration/targets/snap/tasks/main.yml
Labels: backport-3

#2923 archive - fix removal failures for nested files with tar archives
  changelogs/fragments/2923-archive-remove-bugfix.yml
  plugins/modules/files/archive.py
  tests/integration/targets/archive/tasks/remove.yml
Labels: affects_2.10, backport-2, backport-3, bug, check-before-release, community_review, files, integration, module, needs_ci, plugins, stale_ci, tests

#2924 npm - fix installing from package.json
  changelogs/fragments/2924-npm-fix-package-json.yml
  plugins/modules/packaging/language/npm.py
  tests/unit/plugins/modules/packaging/language/test_npm.py
Labels: affects_2.10, backport-2, backport-3, bug, check-before-release, community_review, language, module, needs_ci, needs_maintainer, packaging, plugins, stale_ci, tests, unit

#2918 snap - fixed param order
  changelogs/fragments/2918-snap-param-order.yml
  plugins/modules/packaging/os/snap.py
  tests/integration/targets/snap/tasks/default.yml
  tests/integration/targets/snap/tasks/main.yml
Labels: affects_2.10, backport-3, bug, community_review, integration, module, needs_ci, os, packaging, plugins, stale_ci, tests

#2935 lvol: honor check_mode on thinpool
  changelogs/fragments/2935-lvol-support_check_mode_thinpool.yml
  plugins/modules/system/lvol.py
Labels: affects_2.10, backport-2, backport-3, bug, check-before-release, community_review, has_issue, module, needs_ci, plugins, small_patch, stale_ci, system

#2936 pacman: fix changed status when ignorepkg has been defined
  changelogs/fragments/2936-pacman-fix_changed_status_when_ignorepkg_has_been_defined.yml
  plugins/modules/packaging/os/pacman.py
Labels: affects_2.10, backport-2, backport-3, bug, community_review, module, needs_ci, os, packaging, plugins, stale_ci

#2951 MH - dicts and lists change-tracking is fixed
  changelogs/fragments/2951-mh-vars-deepcopy.yml
  plugins/module_utils/mh/mixins/vars.py
  tests/unit/plugins/module_utils/test_module_helper.py
Labels: affects_2.10, backport-2, backport-3, bug, community_review, module_utils, needs_ci, needs_triage, plugins, stale_ci, tests, unit

#2948 jenkins_job_info: Remove necessities of password or token.
  changelogs/fragments/2948-jenkins_job_info-remove_necessities_on_password_or_token.yml
  plugins/modules/web_infrastructure/jenkins_job_info.py
Labels: affects_2.10, backport-3, check-before-release, community_review, feature, module, needs_ci, plugins, stale_ci, web_infrastructure

#2949 Add option to the keycloak_client module
  changelogs/fragments/2949-add_authentication-flow-binding_keycloak-client.yml
  plugins/modules/identity/keycloak/keycloak_client.py
  tests/unit/plugins/modules/identity/keycloak/test_keycloak_client.py
Labels: affects_2.10, backport-3, community_review, feature, identity, module, needs_ci, needs_maintainer, new_plugin, plugins, stale_ci, tests, unit

#2965 Update commit-rights.md
  commit-rights.md
Labels: affects_2.10, community_review, docs, needs_ci, needs_triage, small_patch, stale_ci

#2964 Update commit-rights.md
  commit-rights.md
Labels: affects_2.10, community_review, docs, needs_ci, needs_triage, small_patch, stale_ci

#2966 Update commit-rights.md
  commit-rights.md
Labels: affects_2.10, community_review, docs, needs_ci, needs_triage, small_patch, stale_ci

#2913 archive - adding dest_state return value and enhancing integration tests.
  changelogs/fragments/2913-archive-dest_state.yml
  plugins/modules/files/archive.py
  tests/integration/targets/archive/tasks/broken-link.yml
  tests/integration/targets/archive/tasks/main.yml
  tests/integration/targets/archive/tasks/remove.yml
  tests/integration/targets/archive/tests/broken-link.yml
  tests/integration/targets/archive/tests/core.yml
  tests/integration/targets/archive/tests/exclusions.yml
  tests/integration/targets/archive/tests/remove.yml
Labels: affects_2.10, backport-3, check-before-release, community_review, feature, files, has_issue, integration, module, needs_ci, plugins, stale_ci, tests

#2972 Added comments to the ignore files
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.12.txt
  tests/sanity/ignore-2.9.txt
Labels: affects_2.10, backport-3, community_review, docs, needs_ci, needs_triage, stale_ci, tests

#2960 launchd - fixed validation check
  changelogs/fragments/2960-launchd-validation-check.yaml
  plugins/modules/system/launchd.py
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.12.txt
  tests/sanity/ignore-2.9.txt
Labels: affects_2.10, backport-2, backport-3, bug, community_review, module, needs_ci, plugins, stale_ci, system, tests

#2955 rax_mon_notification_plan - fixed validation check
  changelogs/fragments/2955-rax_mon_notification_plan-added-elements-to-list-params.yaml
  plugins/modules/cloud/rackspace/rax_mon_notification_plan.py
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.12.txt
Labels: affects_2.10, backport-3, bug, check-before-release, cloud, community_review, module, needs_ci, plugins, stale_ci, tests

#2979 Temporarily disable passwordstore lookup tests on macOS and OSX
  tests/integration/targets/lookup_passwordstore/aliases
Labels: affects_2.10, backport-1, backport-2, backport-3, community_review, integration, needs_ci, small_patch, stale_ci, tests

#2902 filesystem: extend support for FreeBSD
  changelogs/fragments/2902-filesystem_extend_freebsd_support.yml
  plugins/modules/system/filesystem.py
  tests/integration/targets/filesystem/aliases
  tests/integration/targets/filesystem/defaults/main.yml
  tests/integration/targets/filesystem/tasks/create_device.yml
  tests/integration/targets/filesystem/tasks/create_fs.yml
  tests/integration/targets/filesystem/tasks/freebsd_setup.yml
  tests/integration/targets/filesystem/tasks/main.yml
  tests/integration/targets/filesystem/tasks/overwrite_another_fs.yml
  tests/integration/targets/filesystem/tasks/remove_fs.yml
Labels: affects_2.10, backport-3, community_review, feature, has_issue, integration, module, needs_ci, plugins, stale_ci, system, tests

#2967 proxmox inventory - fix parsing for offline nodes
  changelogs/fragments/2967-proxmox_inventory-offline-node-fix.yml
  plugins/inventory/proxmox.py
  tests/unit/plugins/inventory/test_proxmox.py
Labels: affects_2.10, backport-2, backport-3, bug, community_review, inventory, needs_ci, plugins, stale_ci, tests, unit

#2958 feat: support datadog_monitor composite type
  changelogs/fragments/2958-datadog_monitor_support_composites.yml
  plugins/modules/monitoring/datadog/datadog_monitor.py
Labels: affects_2.10, backport-3, community_review, feature, module, monitoring, needs_ci, new_contributor, plugins, python3, stale_ci

#2922 module_helper cmd - added feature flag to control whether CmdMixin adds rc, out and err t…
  changelogs/fragments/2922-mh-cmd-output-feature-flag.yml
  plugins/module_utils/mh/mixins/cmd.py
Labels: affects_2.10, backport-3, check-before-release, community_review, feature, module_utils, needs_ci, plugins, stale_ci

#2990 MH integration tests - added missing copyright notes
  tests/integration/targets/module_helper/tasks/main.yml
  tests/integration/targets/module_helper/tasks/mdepfail.yml
  tests/integration/targets/module_helper/tasks/msimple.yml
  tests/integration/targets/module_helper/tasks/mstate.yml
Labels: affects_2.10, backport-3, community_review, docs, integration, needs_ci, needs_triage, stale_ci, tests

#2992 feature request template - replace ansible-core with community.general
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: affects_2.10, community_review, feature, needs_ci, needs_triage, small_patch, stale_ci

#2963 Keycloak: Improve diff mode on keycloak_authentication module
  changelogs/fragments/2963-improve-diff-mode-on-keycloak_authentication.yml
  plugins/modules/identity/keycloak/keycloak_authentication.py
  tests/unit/plugins/modules/identity/keycloak/test_keycloak_authentication.py
Labels: affects_2.10, backport-3, check-before-release, community_review, feature, identity, module, needs_ci, needs_maintainer, plugins, stale_ci, tests, unit

#2901 [nmcli] add runner and runner-hwaddr-policy for network teaming
  changelogs/fragments/2901-nmcli_teaming.yml
  plugins/modules/net_tools/nmcli.py
  tests/unit/plugins/modules/net_tools/test_nmcli.py
Labels: affects_2.10, backport-3, bug, community_review, feature, module, needs_ci, needs_maintainer, net_tools, plugins, stale_ci, tests, unit

#3003 Update README.md
  README.md
Labels: affects_2.10, backport-2, backport-3, community_review, docs, needs_ci, needs_triage, small_patch, stale_ci

#2989 pamd - fixed single line issue
  changelogs/fragments/2989-pamd-single-line.yaml
  plugins/modules/system/pamd.py
  tests/integration/targets/pamd/aliases
  tests/integration/targets/pamd/tasks/main.yml
Labels: affects_2.10, backport-2, backport-3, bug, check-before-release, community_review, integration, module, needs_ci, plugins, stale_ci, system, tests

#3006 Redfish Bootoverride Disable behaves incorrectly
  changelogs/fragments/3006-redfish_command-bootoverride-argument-check.yaml
  plugins/module_utils/redfish_utils.py
Labels: affects_2.10, backport-2, backport-3, bug, check-before-release, community_review, module_utils, needs_ci, plugins, stale_ci

#3015 Enable tests
  tests/integration/targets/filter_groupby/aliases
  tests/integration/targets/filter_groupby/tasks/main.yml
  tests/integration/targets/module_helper/aliases
  tests/integration/targets/module_helper/tasks/mdepfail.yml
  tests/integration/targets/module_helper/tasks/msimple.yml
  tests/integration/targets/module_helper/tasks/mstate.yml
Labels: affects_2.10, backport-3, bug, community_review, integration, needs_ci, stale_ci, tests

#3019 Check targets
  tests/integration/targets/mqtt/aliases
  tests/sanity/extra/aliases.json
  tests/sanity/extra/aliases.py
Labels: affects_2.10, backport-1, backport-2, backport-3, community_review, integration, needs_ci, notification, plugins, stale_ci, tests

#2781 Added module for creating protected branches
  plugins/modules/gitlab_protected_branch.py
  plugins/modules/source_control/gitlab/gitlab_protected_branch.py
  tests/unit/plugins/modules/source_control/gitlab/gitlab.py
  tests/unit/plugins/modules/source_control/gitlab/test_gitlab_protected_branch.py
Labels: affects_2.10, backport-3, check-before-release, community_review, gitlab, module, needs_ci, new_contributor, new_module, new_plugin, plugins, source_control, stale_ci, tests, unit

#3028 snap: fix channel option
  changelogs/fragments/3028-snap-channel.yml
  plugins/modules/packaging/os/snap.py
Labels: affects_2.10, bug, community_review, module, needs_ci, needs_triage, os, packaging, plugins, small_patch, stale_ci

#2987 archive - staging idempotency fix
  changelogs/fragments/2987-archive-stage-idempotency-fix.yml
  plugins/modules/files/archive.py
  tests/integration/targets/archive/tasks/main.yml
  tests/integration/targets/archive/tests/core.yml
  tests/integration/targets/archive/tests/idempotency.yml
Labels: affects_2.10, backport-3, community_review, feature, files, integration, module, needs_ci, plugins, stale_ci, tests

#3002 Feature/gitlab project configuration
  changelogs/fragments/3001-enhance_gitlab_module.yml
  plugins/modules/source_control/gitlab/gitlab_project.py
Labels: affects_2.10, backport-3, community_review, feature, gitlab, module, needs_ci, new_contributor, plugins, source_control, stale_ci

#2930 Add Keycloak roles module
  plugins/module_utils/identity/keycloak/keycloak.py
  plugins/modules/identity/keycloak/keycloak_role.py
  plugins/modules/keycloak_role.py
  tests/integration/targets/keycloak_role/aliases
  tests/integration/targets/keycloak_role/tasks/main.yml
  tests/integration/targets/keycloak_role/vars/main.yml
  tests/unit/plugins/modules/identity/keycloak/test_keycloak_role.py
Labels: affects_2.10, backport-3, check-before-release, community_review, identity, integration, module, module_utils, needs_ci, new_contributor, new_module, new_plugin, plugins, stale_ci, tests, unit

#2905 Keycloak: add clientscope management
  plugins/module_utils/identity/keycloak/keycloak.py
  plugins/modules/identity/keycloak/keycloak_clientscope.py
  plugins/modules/keycloak_clientscope.py
  tests/unit/plugins/modules/identity/keycloak/test_keycloak_clientscope.py
Labels: affects_2.10, backport-3, community_review, identity, module, module_utils, needs_ci, new_module, new_plugin, plugins, stale_ci, tests, unit

#3039 github_repo: support GitHub on premise installations
  changelogs/fragments/3038-enhance_github_repo_api_url.yml
  plugins/modules/source_control/github/github_repo.py
  tests/unit/plugins/modules/source_control/github/test_github_repo.py
Labels: affects_2.10, backport-3, community_review, feature, module, needs_ci, needs_maintainer, plugins, source_control, stale_ci, tests, unit

#3044 Proxmox inventory: Added snapshots fact
  changelogs/fragments/3044-proxmox-inventory-snapshots.yml
  plugins/inventory/proxmox.py
  tests/unit/plugins/inventory/test_proxmox.py
Labels: affects_2.10, backport-3, community_review, feature, inventory, needs_ci, plugins, stale_ci, tests, unit

#3051 composer - missed module when created commments in ignore files
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.12.txt
  tests/sanity/ignore-2.9.txt
Labels: affects_2.10, backport-3, community_review, docs, needs_ci, needs_triage, stale_ci, tests

#3050 xfconf - fixed doc
  plugins/modules/system/xfconf.py
Labels: affects_2.10, backport-2, backport-3, community_review, docs, module, needs_ci

#3052 proxmox inventory plugin: Easy fix
  changelogs/fragments/3052_proxmox_inventory_plugin.yml
  plugins/inventory/proxmox.py
Labels: affects_2.10, backport-2, backport-3, bug, check-before-release, community_review, inventory, needs_ci, new_contributor, plugins, python3, small_patch, stale_ci

#3054 gitlab_group_members/gitlab_project_members - fix pagination issue
  changelogs/fragments/3041-fix_gitlab_group_members_gitlab_project_mambers.yml
  plugins/modules/source_control/gitlab/gitlab_group_members.py
  plugins/modules/source_control/gitlab/gitlab_project_members.py
Labels: affects_2.10, backport-2, backport-3, bug, check-before-release, community_review, gitlab, module, needs_ci, plugins, source_control, stale_ci

#3036 archive - fixing determination of archive root when root is '/'
  changelogs/fragments/3036-archive-root-path-fix.yml
  plugins/modules/files/archive.py
  tests/unit/plugins/modules/files/test_archive.py
Labels: affects_2.10, backport-2, backport-3, bug, community_review, files, module, needs_ci, needs_maintainer, new_plugin, performance, plugins, stale_ci, tests, unit

#3045 xfconf_info - new module
  plugins/modules/system/xfconf_info.py
  plugins/modules/xfconf_info.py
  tests/unit/plugins/modules/system/test_xfconf_info.py
Labels: affects_2.10, backport-3, community_review, module, needs_ci, needs_triage, new_module, new_plugin, plugins, stale_ci, system, tests, unit

#3065 [PR #3036/31189e96 backport][stable-2] archive - fixing determination of archive root when root is '/'
  changelogs/fragments/3036-archive-root-path-fix.yml
  plugins/modules/files/archive.py
  tests/unit/plugins/modules/files/test_archive.py
Labels: affects_2.10, bug, community_review, files, module, needs_ci, needs_maintainer, needs_triage, performance, plugins, stale_ci, tests, unit

#3064 Add BOTMETA extra sanity test
  .github/BOTMETA.yml
  tests/sanity/extra/botmeta.json
  tests/sanity/extra/botmeta.py
Labels: affects_2.10, backport-3, community_review, feature, needs_ci, needs_triage, stale_ci, tests

#3049 xfconf - deprecate get state in favour of the xfconf_info module
  changelogs/fragments/3049-xfconf-deprecate-get.yaml
  plugins/modules/system/xfconf.py
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.12.txt
Labels: affects_2.10, breaking_change, check-before-release, community_review, feature, module, needs_ci, plugins, stale_ci, system, tests

#3071 replace NBSP (non-blocking space) character with a regular SPACE char
  plugins/modules/monitoring/stackdriver.py
  tests/integration/targets/alternatives/tasks/main.yml
  tests/integration/targets/alternatives/tasks/setup_test.yml
  tests/integration/targets/alternatives/tasks/test.yml
  tests/integration/targets/alternatives/tasks/tests_set_priority.yml
  tests/integration/targets/filesystem/tasks/main.yml
  tests/integration/targets/filesystem/tasks/setup.yml
  tests/integration/targets/npm/tasks/no_bin_links.yml
  tests/integration/targets/npm/tasks/test.yml
  tests/integration/targets/setup_openldap/tasks/main.yml
  tests/integration/targets/setup_postgresql_db/tasks/main.yml
  tests/integration/targets/supervisorctl/tasks/install_Linux.yml
  tests/integration/targets/supervisorctl/tasks/main.yml
  tests/integration/targets/supervisorctl/tasks/start_supervisord.yml
  tests/integration/targets/supervisorctl/tasks/stop_supervisord.yml
  tests/integration/targets/supervisorctl/tasks/test.yml
  tests/integration/targets/supervisorctl/tasks/test_start.yml
  tests/integration/targets/supervisorctl/tasks/test_stop.yml
  tests/integration/targets/supervisorctl/templates/supervisord.conf
Labels: affects_2.10, backport-1, backport-2, backport-3, community_review, docs, integration, language, module, monitoring, needs_ci, needs_triage, packaging, plugins, stale_ci, system, tests, web_infrastructure

#3067 taiga_issue - bugfix + pythonification
  changelogs/fragments/3067-taiga-bugfix.yaml
  plugins/modules/web_infrastructure/taiga_issue.py
Labels: affects_2.10, backport-2, backport-3, bug, check-before-release, community_review, module, needs_ci, plugins, stale_ci, web_infrastructure

#3034 Succesful clone from proxmox_kvm should return new vm id, not id from cloned vm.
  changelogs/fragments/3034-promox-kvm-return-new-id.yaml
  plugins/modules/cloud/misc/proxmox_kvm.py
Labels: affects_2.10, backport-2, backport-3, bug, cloud, community_review, module, needs_ci, new_contributor, plugins, small_patch, stale_ci

#3080 java_cert: import certificate+key bundle from pkcs12
  changelogs/fragments/3080-java_cert-2460-import_private_key.yml
  plugins/modules/system/java_cert.py
  tests/integration/targets/java_cert/defaults/main.yml
  tests/integration/targets/java_cert/tasks/main.yml
  tests/integration/targets/java_cert/tasks/state_change.yml
Labels: affects_2.10, backport-2, backport-3, bug, community_review, integration, module, needs_ci, plugins, stale_ci, system, tests

#3069 Update BOTMETA, fix some plugin authors, improve BOTMETA extra sanity test
  .github/BOTMETA.yml
  plugins/become/doas.py
  plugins/become/dzdo.py
  plugins/become/ksu.py
  plugins/become/machinectl.py
  plugins/become/pbrun.py
  plugins/become/pfexec.py
  plugins/become/pmrun.py
  plugins/connection/funcd.py
  plugins/lookup/dependent.py
  tests/sanity/extra/botmeta.json
  tests/sanity/extra/botmeta.py
Labels: affects_2.10, become, community_review, connection, docs, lookup, needs_ci, needs_triage, plugins, stale_ci, tests

#3088 BOTMETA: enforce entries for new plugins/modules, add documentation for creating new plugins/modules
  .github/BOTMETA.yml
  CONTRIBUTING.md
  tests/sanity/extra/botmeta.py
Labels: affects_2.10, backport-3, community_review, docs, needs_ci, needs_triage, stale_ci, tests

#3084 added supports_check_mode=True to info/facts modules
  changelogs/fragments/3084-info-checkmode.yaml
  plugins/module_utils/oneview.py
  plugins/modules/cloud/alicloud/ali_instance_info.py
  plugins/modules/cloud/memset/memset_memstore_info.py
  plugins/modules/cloud/memset/memset_server_info.py
  plugins/modules/cloud/misc/xenserver_facts.py
  plugins/modules/cloud/rackspace/rax_facts.py
  plugins/modules/cloud/smartos/smartos_image_info.py
  plugins/modules/net_tools/snmp_facts.py
  plugins/modules/remote_management/oneview/oneview_datacenter_info.py
  plugins/modules/remote_management/oneview/oneview_enclosure_info.py
  plugins/modules/remote_management/oneview/oneview_ethernet_network_info.py
  plugins/modules/remote_management/oneview/oneview_fc_network_info.py
  plugins/modules/remote_management/oneview/oneview_fcoe_network_info.py
  plugins/modules/remote_management/oneview/oneview_logical_interconnect_group_info.py
  plugins/modules/remote_management/oneview/oneview_network_set_info.py
  plugins/modules/remote_management/oneview/oneview_san_manager_info.py
  plugins/modules/remote_management/redfish/idrac_redfish_info.py
  plugins/modules/remote_management/redfish/redfish_info.py
  plugins/modules/system/xfconf_info.py
  plugins/modules/web_infrastructure/sophos_utm/utm_aaa_group_info.py
  plugins/modules/web_infrastructure/sophos_utm/utm_ca_host_key_cert_info.py
  plugins/modules/web_infrastructure/sophos_utm/utm_network_interface_address_info.py
  plugins/modules/web_infrastructure/sophos_utm/utm_proxy_frontend_info.py
  plugins/modules/web_infrastructure/sophos_utm/utm_proxy_location_info.py
Labels: affects_2.10, backport-1, backport-2, backport-3, check-before-release, cloud, community_review, database, feature, module, module_utils, needs_ci, needs_maintainer, net_tools, plugins, remote_management, stale_ci, system, web_infrastructure

#3096 Actually enable BOTMETA sanity test to force new plugins/modules to have BOTMETA entry
  tests/sanity/extra/botmeta.py
Labels: affects_2.10, backport-3, community_review, needs_ci, stale_ci, tests

#3095 [stable-2] added supports_check_mode=True to info/facts modules
  changelogs/fragments/3084-info-checkmode.yaml
  plugins/module_utils/oneview.py
  plugins/modules/cloud/alicloud/ali_instance_info.py
  plugins/modules/cloud/memset/memset_memstore_info.py
  plugins/modules/cloud/memset/memset_server_info.py
  plugins/modules/cloud/misc/xenserver_facts.py
  plugins/modules/cloud/ovirt/ovirt_affinity_label_facts.py
  plugins/modules/cloud/ovirt/ovirt_api_facts.py
  plugins/modules/cloud/ovirt/ovirt_cluster_facts.py
  plugins/modules/cloud/ovirt/ovirt_datacenter_facts.py
  plugins/modules/cloud/ovirt/ovirt_disk_facts.py
  plugins/modules/cloud/ovirt/ovirt_event_facts.py
  plugins/modules/cloud/ovirt/ovirt_external_provider_facts.py
  plugins/modules/cloud/ovirt/ovirt_group_facts.py
  plugins/modules/cloud/ovirt/ovirt_host_facts.py
  plugins/modules/cloud/ovirt/ovirt_host_storage_facts.py
  plugins/modules/cloud/ovirt/ovirt_network_facts.py
  plugins/modules/cloud/ovirt/ovirt_nic_facts.py
  plugins/modules/cloud/ovirt/ovirt_permission_facts.py
  plugins/modules/cloud/ovirt/ovirt_quota_facts.py
  plugins/modules/cloud/ovirt/ovirt_scheduling_policy_facts.py
  plugins/modules/cloud/ovirt/ovirt_snapshot_facts.py
  plugins/modules/cloud/ovirt/ovirt_storage_domain_facts.py
  plugins/modules/cloud/ovirt/ovirt_storage_template_facts.py
  plugins/modules/cloud/ovirt/ovirt_storage_vm_facts.py
  plugins/modules/cloud/ovirt/ovirt_tag_facts.py
  plugins/modules/cloud/ovirt/ovirt_template_facts.py
  plugins/modules/cloud/ovirt/ovirt_user_facts.py
  plugins/modules/cloud/ovirt/ovirt_vm_facts.py
  plugins/modules/cloud/ovirt/ovirt_vmpool_facts.py
  plugins/modules/cloud/rackspace/rax_facts.py
  plugins/modules/cloud/smartos/smartos_image_info.py
  plugins/modules/net_tools/snmp_facts.py
  plugins/modules/remote_management/dellemc/ome_device_info.py
  plugins/modules/remote_management/oneview/oneview_datacenter_info.py
  plugins/modules/remote_management/oneview/oneview_enclosure_info.py
  plugins/modules/remote_management/oneview/oneview_ethernet_network_info.py
  plugins/modules/remote_management/oneview/oneview_fc_network_info.py
  plugins/modules/remote_management/oneview/oneview_fcoe_network_info.py
  plugins/modules/remote_management/oneview/oneview_logical_interconnect_group_info.py
  plugins/modules/remote_management/oneview/oneview_network_set_info.py
  plugins/modules/remote_management/oneview/oneview_san_manager_info.py
  plugins/modules/remote_management/redfish/idrac_redfish_info.py
  plugins/modules/remote_management/redfish/redfish_info.py
  plugins/modules/storage/glusterfs/gluster_heal_info.py
  plugins/modules/storage/purestorage/purefa_facts.py
  plugins/modules/web_infrastructure/sophos_utm/utm_aaa_group_info.py
  plugins/modules/web_infrastructure/sophos_utm/utm_ca_host_key_cert_info.py
  plugins/modules/web_infrastructure/sophos_utm/utm_network_interface_address_info.py
  plugins/modules/web_infrastructure/sophos_utm/utm_proxy_frontend_info.py
  plugins/modules/web_infrastructure/sophos_utm/utm_proxy_location_info.py
Labels: affects_2.10, bug, community_review, needs_backport_to_stable_1, needs_ci, needs_rebase, needs_revision

#3093 ejabberd_user - refactoring and simplification
  changelogs/fragments/3093-ejabberd_user-refactor.yaml
  plugins/modules/web_infrastructure/ejabberd_user.py
Labels: affects_2.10, backport-2, backport-3, bug, check-before-release, community_review, module, needs_ci, plugins, stale_ci, web_infrastructure

#3098 django_manage - using list instead of string in run_command()
  changelogs/fragments/3098-django_manage-cmd-list.yaml
  plugins/modules/web_infrastructure/django_manage.py
Labels: affects_2.10, backport-2, backport-3, bug, check-before-release, community_review, module, needs_ci, owner_pr, plugins, stale_ci, web_infrastructure

#3092 gunicorn - minor refactoring
  changelogs/fragments/3092-gunicorn-refactor.yaml
  plugins/modules/web_infrastructure/gunicorn.py
Labels: affects_2.10, backport-3, bug, community_review, module, needs_ci, plugins, stale_ci, web_infrastructure

#3101 [stable-1] added supports_check_mode=True to info/facts modules
  changelogs/fragments/3084-info-checkmode.yaml
  plugins/module_utils/oneview.py
  plugins/modules/cloud/alicloud/ali_instance_info.py
  plugins/modules/cloud/docker/docker_stack_info.py
  plugins/modules/cloud/docker/docker_stack_task_info.py
  plugins/modules/cloud/google/gcpubsub_info.py
  plugins/modules/cloud/memset/memset_memstore_info.py
  plugins/modules/cloud/memset/memset_server_info.py
  plugins/modules/cloud/misc/xenserver_facts.py
  plugins/modules/cloud/ovirt/ovirt_affinity_label_facts.py
  plugins/modules/cloud/ovirt/ovirt_api_facts.py
  plugins/modules/cloud/ovirt/ovirt_cluster_facts.py
  plugins/modules/cloud/ovirt/ovirt_datacenter_facts.py
  plugins/modules/cloud/ovirt/ovirt_disk_facts.py
  plugins/modules/cloud/ovirt/ovirt_event_facts.py
  plugins/modules/cloud/ovirt/ovirt_external_provider_facts.py
  plugins/modules/cloud/ovirt/ovirt_group_facts.py
  plugins/modules/cloud/ovirt/ovirt_host_facts.py
  plugins/modules/cloud/ovirt/ovirt_host_storage_facts.py
  plugins/modules/cloud/ovirt/ovirt_network_facts.py
  plugins/modules/cloud/ovirt/ovirt_nic_facts.py
  plugins/modules/cloud/ovirt/ovirt_permission_facts.py
  plugins/modules/cloud/ovirt/ovirt_quota_facts.py
  plugins/modules/cloud/ovirt/ovirt_scheduling_policy_facts.py
  plugins/modules/cloud/ovirt/ovirt_snapshot_facts.py
  plugins/modules/cloud/ovirt/ovirt_storage_domain_facts.py
  plugins/modules/cloud/ovirt/ovirt_storage_template_facts.py
  plugins/modules/cloud/ovirt/ovirt_storage_vm_facts.py
  plugins/modules/cloud/ovirt/ovirt_tag_facts.py
  plugins/modules/cloud/ovirt/ovirt_template_facts.py
  plugins/modules/cloud/ovirt/ovirt_user_facts.py
  plugins/modules/cloud/ovirt/ovirt_vm_facts.py
  plugins/modules/cloud/ovirt/ovirt_vmpool_facts.py
  plugins/modules/cloud/rackspace/rax_facts.py
  plugins/modules/cloud/smartos/smartos_image_info.py
  plugins/modules/net_tools/snmp_facts.py
  plugins/modules/remote_management/dellemc/ome_device_info.py
  plugins/modules/remote_management/oneview/oneview_datacenter_info.py
  plugins/modules/remote_management/oneview/oneview_enclosure_info.py
  plugins/modules/remote_management/oneview/oneview_ethernet_network_info.py
  plugins/modules/remote_management/oneview/oneview_fc_network_info.py
  plugins/modules/remote_management/oneview/oneview_fcoe_network_info.py
  plugins/modules/remote_management/oneview/oneview_logical_interconnect_group_info.py
  plugins/modules/remote_management/oneview/oneview_network_set_info.py
  plugins/modules/remote_management/oneview/oneview_san_manager_info.py
  plugins/modules/remote_management/redfish/idrac_redfish_info.py
  plugins/modules/remote_management/redfish/redfish_info.py
  plugins/modules/storage/glusterfs/gluster_heal_info.py
  plugins/modules/storage/purestorage/purefa_facts.py
  plugins/modules/web_infrastructure/sophos_utm/utm_aaa_group_info.py
  plugins/modules/web_infrastructure/sophos_utm/utm_ca_host_key_cert_info.py
  plugins/modules/web_infrastructure/sophos_utm/utm_network_interface_address_info.py
  plugins/modules/web_infrastructure/sophos_utm/utm_proxy_frontend_info.py
  plugins/modules/web_infrastructure/sophos_utm/utm_proxy_location_info.py
Labels: affects_2.10, bug, community_review, needs_ci, needs_rebase, needs_revision, needs_triage

#3104 deploy_helper - changed in-code condition to required_if
  changelogs/fragments/3104-deploy_helper-required_if.yaml
  plugins/modules/web_infrastructure/deploy_helper.py
Labels: affects_2.10, backport-2, backport-3, bug, community_review, module, needs_ci, needs_triage, plugins, stale_ci, web_infrastructure

#2933 ansible_galaxy_install - new module
  .github/BOTMETA.yml
  plugins/modules/ansible_galaxy_install.py
  plugins/modules/packaging/language/ansible_galaxy_install.py
  tests/integration/targets/ansible_galaxy_install/aliases
  tests/integration/targets/ansible_galaxy_install/files/test.yml
  tests/integration/targets/ansible_galaxy_install/tasks/main.yml
Labels: affects_2.10, backport-3, community_review, has_issue, integration, language, module, needs_ci, needs_triage, new_module, new_plugin, packaging, plugins, stale_ci, tests

#3114 removed extraneous dependency in integration test
  tests/integration/targets/apache2_module/meta/main.yml
  tests/integration/targets/archive/meta/main.yml
  tests/integration/targets/deploy_helper/meta/main.yml
  tests/integration/targets/flatpak/meta/main.yml
  tests/integration/targets/flatpak_remote/meta/main.yml
  tests/integration/targets/gem/meta/main.yml
  tests/integration/targets/hg/meta/main.yml
  tests/integration/targets/iso_create/meta/main.yml
  tests/integration/targets/iso_extract/meta/main.yml
  tests/integration/targets/launchd/meta/main.yml
  tests/integration/targets/locale_gen/meta/main.yml
  tests/integration/targets/zypper/meta/main.yml
  tests/integration/targets/zypper_repository/meta/main.yml
Labels: affects_2.10, backport-2, backport-3, bug, community_review, files, integration, language, needs_ci, os, packaging, plugins, source_control, stale_ci, system, tests, web_infrastructure

#2941 Keycloak: add client_rolemapping management
  .github/BOTMETA.yml
  plugins/module_utils/identity/keycloak/keycloak.py
  plugins/modules/identity/keycloak/keycloak_client_rolemapping.py
  plugins/modules/keycloak_client_rolemapping.py
  tests/unit/plugins/modules/identity/keycloak/test_keycloak_client_rolemapping.py
Labels: affects_2.10, backport-3, community_review, identity, module, module_utils, needs_ci, new_module, new_plugin, plugins, stale_ci, tests, unit

#3079 Feature: implement hpilo_info system power info
  changelogs/fragments/3079-report-power-state-hpilo.yaml
  plugins/modules/remote_management/hpilo/hpilo_info.py
Labels: affects_2.10, backport-3, check-before-release, community_review, feature, module, needs_ci, plugins, remote_management, stale_ci

#3120 github_issue - fixed RETURN doc
  plugins/modules/source_control/github/github_issue.py
Labels: affects_2.10, backport-2, backport-3, community_review, docs, module, needs_ci, needs_triage, plugins, small_patch, source_control, stale_ci

#3119 integration tests - remove prepare tests
  tests/integration/targets/prepare_tests/tasks/main.yml
Labels: affects_2.10, backport-3, bug, community_review, files, integration, language, needs_ci, needs_triage, os, packaging, plugins, source_control, stale_ci, system, tests, web_infrastructure
