Repository ansible-collections/community.general, pull requests merged in 2021-04, with the labels that each got.

#2142 apache2_mod_proxy - minor improvements/fixes
  changelogs/fragments/2142-apache2_mod_proxy-cleanup.yml
  plugins/modules/web_infrastructure/apache2_mod_proxy.py
Labels: affects_2.10, backport-2, bug, community_review, module, plugins, web_infrastructure

#2143 kibana_plugin: fixed remove call + run_command with list instead of str
  changelogs/fragments/2143-kibana_plugin-fixed-function-calls.yml
  plugins/modules/database/misc/kibana_plugin.py
Labels: affects_2.10, backport-1, backport-2, bug, community_review, database, module, plugins

#2144 using get_bin_path() on atomic modules
  changelogs/fragments/2144-atomic_get_bin_path.yml
  plugins/modules/cloud/atomic/atomic_container.py
  plugins/modules/cloud/atomic/atomic_host.py
  plugins/modules/cloud/atomic/atomic_image.py
Labels: affects_2.10, backport-1, backport-2, bug, cloud, community_review, module, plugins

#2077 [WIP] Committer guidelines
  commit-rights.md
Labels: WIP, affects_2.10, docs, needs_triage

#2154 [stable-1] kibana_plugin: fixed remove call + run_command with list instead of str
  changelogs/fragments/2143-kibana_plugin-fixed-function-calls.yml
  plugins/modules/database/misc/kibana_plugin.py
Labels: affects_2.10, bug, community_review, database, module, needs_triage, plugins

#2161 fixed calls to list.extend()
  changelogs/fragments/2161-pkgutil-list-extend.yml
  plugins/modules/packaging/os/pkgutil.py
Labels: affects_2.10, backport-1, backport-2, bug, check-before-release, module, needs_revision, os, packaging, plugins

#2160 rewritten as list literals
  changelogs/fragments/2160-list-literals.yml
  plugins/lookup/hiera.py
  plugins/module_utils/known_hosts.py
  plugins/modules/cloud/smartos/nictagadm.py
  plugins/modules/cloud/smartos/smartos_image_info.py
  plugins/modules/files/xattr.py
  plugins/modules/net_tools/ipwcli_dns.py
  plugins/modules/packaging/os/svr4pkg.py
  plugins/modules/storage/zfs/zfs_facts.py
  plugins/modules/storage/zfs/zpool_facts.py
  plugins/modules/system/beadm.py
Labels: affects_2.10, backport-1, backport-2, bug, cloud, community_review, files, lookup, module, module_utils, net_tools, os, packaging, plugins, storage, system

#2157 removed unreachable code
  changelogs/fragments/2157-unreachable-code.yml
  plugins/modules/cloud/misc/rhevm.py
  plugins/modules/cloud/ovh/ovh_ip_failover.py
  plugins/modules/source_control/bitbucket/bitbucket_pipeline_variable.py
Labels: affects_2.10, backport-1, backport-2, bug, cloud, community_review, module, needs_triage, plugins, source_control

#2163 java_keystore/fix 1667 improve temp files storage
  changelogs/fragments/2163-java_keystore_1667_improve_temp_files_storage.yml
  plugins/modules/system/java_keystore.py
  tests/unit/plugins/modules/system/test_java_keystore.py
Labels: affects_2.10, backport-1, backport-2, bug, community_review, module, needs_maintainer, plugins, system, tests, unit

#2162 ModuleHelper variables management
  changelogs/fragments/2162-modhelper-variables.yml
  plugins/module_utils/module_helper.py
  tests/integration/targets/module_helper/aliases
  tests/integration/targets/module_helper/library/mdepfail.py
  tests/integration/targets/module_helper/library/msimple.py
  tests/integration/targets/module_helper/library/mstate.py
  tests/integration/targets/module_helper/tasks/main.yml
  tests/integration/targets/module_helper/tasks/mdepfail.yml
  tests/integration/targets/module_helper/tasks/msimple.yml
  tests/integration/targets/module_helper/tasks/mstate.yml
  tests/unit/plugins/module_utils/test_module_helper.py
Labels: affects_2.10, backport-2, community_review, feature, integration, module_utils, plugins, tests, unit

#2177 replace inline clear password by environment variable
  changelogs/fragments/2177-java_keystore_1668_dont_expose_secrets_on_cmdline.yml
  plugins/modules/system/java_keystore.py
  tests/unit/plugins/modules/system/test_java_keystore.py
Labels: affects_2.10, backport-1, backport-2, bug, community_review, module, needs_maintainer, needs_triage, plugins, system, tests, unit

#2130 ansible/ansible's stable-2.11 branch has been created.
  .azure-pipelines/azure-pipelines.yml
  README.md
  shippable.yml
  tests/sanity/ignore-2.12.txt
Labels: affects_2.10, backport-2, needs_revision, needs_triage, tests

#2131 [stable-1] Replace devel tests with stable-2.11
  .azure-pipelines/azure-pipelines.yml
  README.md
  shippable.yml
Labels: affects_2.10, needs_revision, needs_triage

#2185 xfconf - state absent was not honoring check_mode
  changelogs/fragments/2185-xfconf-absent-check-mode.yml
  plugins/modules/system/xfconf.py
Labels: affects_2.10, backport-1, backport-2, bug, community_review, module, needs_triage, owner_pr, plugins, small_patch, system

#2188 Applying ModuleHelper variable mgmt to xfconf -> improvements on MH
  changelogs/fragments/2188-xfconf-modhelper-variables.yml
  plugins/module_utils/module_helper.py
  plugins/modules/system/xfconf.py
  tests/unit/plugins/module_utils/test_module_helper.py
Labels: affects_2.10, backport-2, community_review, feature, module, module_utils, plugins, system, tests, unit

#1978 jira - changing the logic for transition
  changelogs/fragments/1978-jira-transition-logic.yml
  plugins/modules/web_infrastructure/jira.py
  tests/integration/targets/jira/aliases
  tests/integration/targets/jira/tasks/main.yml
  tests/integration/targets/jira/vars/main.yml
Labels: affects_2.10, backport-1, backport-2, bug, check-before-release, community_review, has_issue, integration, module, plugins, tests, web_infrastructure

#2187 [stable-1] xfconf - state absent was not honoring check_mode (#2185)
  changelogs/fragments/2185-xfconf-absent-check-mode.yml
  plugins/modules/system/xfconf.py
Labels: affects_2.10, bug, community_review, module, owner_pr, plugins, small_patch, system

#2196 [stable-1] Restrict docker to < 5.0.0 for Python < 3.6
  tests/utils/constraints.txt
Labels: affects_2.10, bug, community_review, needs_triage, small_patch, tests, unit

#1993 Fix HAProxy draining
  changelogs/fragments/1993-haproxy-fix-draining.yml
  plugins/modules/net_tools/haproxy.py
Labels: affects_2.10, backport-1, backport-2, bug, community_review, module, net_tools, new_contributor, plugins

#2008 Update java_cert module
  changelogs/fragments/2008-update-java-cert-replace-cert-when-changed.yml
  plugins/modules/system/java_cert.py
  tests/integration/targets/java_cert/defaults/main.yml
  tests/integration/targets/java_cert/files/setupSSLServer.py
  tests/integration/targets/java_cert/meta/main.yml
  tests/integration/targets/java_cert/tasks/main.yml
  tests/integration/targets/java_cert/tasks/state_change.yml
Labels: affects_2.10, backport-2, community_review, has_issue, integration, module, new_contributor, plugins, system, tests

#2159 ipa_user sshpubkey can now support multi word comments in the key
  changelogs/fragments/2159-ipa-user-sshpubkey-multi-word-comments.yaml
  plugins/modules/identity/ipa/ipa_user.py
Labels: affects_2.10, backport-1, backport-2, bug, check-before-release, community_review, identity, module, new_contributor, plugins

#2174 Fix issue where multiselect field in userauthtype did not allow multiple values
  changelogs/fragments/2174-ipa-user-userauthtype-multiselect.yml
  plugins/modules/identity/ipa/ipa_user.py
Labels: affects_2.10, backport-2, bug, community_review, identity, module, new_contributor, plugins

#2172 Add path_join compatibility shim
  .github/BOTMETA.yml
  changelogs/fragments/path_join-shim-filter.yml
  meta/runtime.yml
  plugins/filter/path_join_shim.py
  tests/integration/targets/filter_path_join_shim/aliases
  tests/integration/targets/filter_path_join_shim/tasks/main.yml
Labels: affects_2.10, community_review, integration, needs_triage, new_plugin, tests

#2171 Add dict filter
  .github/BOTMETA.yml
  changelogs/fragments/dict-filter.yml
  plugins/filter/dict.py
  tests/integration/targets/filter_dict/aliases
  tests/integration/targets/filter_dict/tasks/main.yml
Labels: affects_2.10, community_review, integration, needs_triage, new_plugin, tests

#2203 module_helper - fixed decorator cause_changes
  changelogs/fragments/2203-modhelper-cause-changes-deco.yml
  plugins/module_utils/module_helper.py
  tests/unit/plugins/module_utils/test_module_helper.py
Labels: affects_2.10, backport-1, backport-2, bug, community_review, module_utils, needs_triage, plugins, tests, unit

#2209 [PR #2203/0cd0f0ea backport][stable-1] module_helper - fixed decorator cause_changes
  changelogs/fragments/2203-modhelper-cause-changes-deco.yml
  plugins/module_utils/module_helper.py
  tests/unit/plugins/module_utils/test_module_helper.py
Labels: affects_2.10, bug, community_review, module_utils, needs_triage, plugins, tests, unit

#2180 inventory/proxmox: added constructable and added keyed_groups, groups and compose
  changelogs/fragments/2162-proxmox-constructable.yml
  plugins/inventory/proxmox.py
Labels: affects_2.10, backport-2, check-before-release, community_review, docs_fragments, feature, inventory, needs_triage, new_contributor, plugins

#2204 Bugfix: PyGithub does not support explicit port in base_url
  changelogs/fragments/2204-github_repo-fix-baseurl_port.yml
  plugins/modules/source_control/github/github_repo.py
  tests/unit/plugins/modules/source_control/github/test_github_repo.py
Labels: affects_2.10, backport-1, backport-2, bug, community_review, module, needs_maintainer, needs_triage, plugins, source_control, tests, unit

#2116 Added fields to the ipa_config module
  changelogs/fragments/2116-add-fields-to-ipa-config-module.yml
  plugins/modules/identity/ipa/ipa_config.py
Labels: affects_2.10, backport-2, check-before-release, community_review, feature, identity, module, new_contributor, plugins

#2146 npm: Add no_bin_links option
  changelogs/fragments/2146-npm-add_no_bin_links_option.yaml
  plugins/modules/packaging/language/npm.py
  tests/integration/targets/npm/tasks/no_bin_links.yml
  tests/integration/targets/npm/tasks/run.yml
Labels: affects_2.10, backport-2, check-before-release, community_review, feature, integration, language, module, packaging, plugins, tests

#2122 Added modules ipa_otpconfig and ipa_otptoken
  plugins/module_utils/ipa.py
  plugins/modules/identity/ipa/ipa_otpconfig.py
  plugins/modules/identity/ipa/ipa_otptoken.py
  plugins/modules/ipa_otpconfig.py
  plugins/modules/ipa_otptoken.py
  tests/unit/plugins/modules/identity/ipa/test_ipa_otpconfig.py
  tests/unit/plugins/modules/identity/ipa/test_ipa_otptoken.py
Labels: affects_2.10, backport-2, community_review, identity, module, module_utils, new_contributor, new_module, new_plugin, plugins, tests, unit

#2214 Grant supershipit to new maintainers
  .github/BOTMETA.yml
Labels: affects_2.10, backport-1, backport-2, community_review, feature, needs_triage, small_patch

#2183 java_keystore: improve error handling and returned results
  changelogs/fragments/2183-java_keystore_improve_error_handling.yml
  plugins/modules/system/java_keystore.py
  tests/integration/targets/java_keystore/tasks/main.yml
  tests/unit/plugins/modules/system/test_java_keystore.py
Labels: affects_2.10, backport-1, backport-2, bug, community_review, integration, module, needs_maintainer, plugins, system, tests, unit

#2148 Proxmox_Inv: Adding agent network interaces fact
  changelogs/fragments/2148-proxmox-inventory-agent-interfaces.yml
  plugins/inventory/proxmox.py
  tests/unit/plugins/inventory/test_proxmox.py
Labels: affects_2.10, backport-2, check-before-release, community_review, feature, inventory, needs_triage, plugins, tests, unit

#1802 spectrum_model_attrs: Initial commit
  plugins/modules/monitoring/spectrum_model_attrs.py
  plugins/modules/spectrum_model_attrs.py
  tests/integration/targets/spectrum_model_attrs/aliases
  tests/integration/targets/spectrum_model_attrs/tasks/main.yml
Labels: affects_2.10, backport-2, check-before-release, community_review, integration, module, monitoring, needs_triage, new_contributor, new_module, new_plugin, tests

#2192 Add Jira attach operation
  changelogs/fragments/2192-add-jira-attach.yml
  plugins/modules/web_infrastructure/jira.py
Labels: affects_2.10, backport-2, check-before-release, community_review, feature, module, new_contributor, plugins, tests, web_infrastructure

#2236 jira - fixed isinstance error
  changelogs/fragments/2236-jira-isinstance.yml
  plugins/modules/web_infrastructure/jira.py
Labels: affects_2.10, backport-1, backport-2, bug, community_review, module, plugins, small_patch, web_infrastructure

#2233 Use nomad_job_info in nomad_job_info examples
  plugins/modules/clustering/nomad/nomad_job_info.py
Labels: affects_2.10, backport-1, backport-2, clustering, community_review, docs, module, plugins, small_patch

#2235 funcd connection plugin is now usable/loadable
  changelogs/fragments/allow_funcd_to_load.yml
  plugins/connection/funcd.py
Labels: affects_2.10, backport-1, backport-2, bug, community_review, connection, needs_triage, plugins, small_patch

#2243 xenserver_guest - fixed validations
  plugins/module_utils/xenserver.py
  plugins/modules/cloud/xenserver/xenserver_guest.py
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.12.txt
  tests/sanity/ignore-2.9.txt
Labels: affects_2.10, backport-1, backport-2, cloud, docs, module, module_utils, needs_revision, plugins, tests

#2251 Remove unnecessary required=False s in linode_v4 module
  plugins/modules/cloud/linode/linode_v4.py
Labels: affects_2.10, backport-1, backport-2, cloud, community_review, docs, module, plugins

#2245 Proxmox inv fix agent string parsing
  changelogs/fragments/2245-proxmox_fix_agent_string_handling.yml
  plugins/inventory/proxmox.py
  tests/unit/plugins/inventory/test_proxmox.py
Labels: affects_2.10, backport-1, backport-2, bug, community_review, inventory, needs_triage, plugins, tests, unit

#2223 nmcli: do not set IP configuration bond slaves
  changelogs/fragments/2223_nmcli_no_IP_config_on_slave.yaml
  plugins/modules/net_tools/nmcli.py
Labels: affects_2.10, check-before-release, module, needs_info, needs_template, net_tools, plugins, small_patch

#2230 java_keystore: add `certificate_path` and `private_key_path` options
  changelogs/fragments/2230-java_keystore-1669-ssl-input-files-by-path.yml
  plugins/modules/system/java_keystore.py
  tests/integration/targets/java_keystore/defaults/main.yml
  tests/integration/targets/java_keystore/tasks/main.yml
  tests/integration/targets/java_keystore/tasks/prepare.yml
  tests/integration/targets/java_keystore/tasks/tests.yml
Labels: affects_2.10, check-before-release, community_review, feature, integration, module, plugins, system, tests

#2256 CI pip constraints file: fix problems with pip2.6 included in CentOS 6
  tests/utils/constraints.txt
Labels: affects_2.10, backport-1, backport-2, bug, community_review, small_patch, tests, unit

#2244 New filter plugins: hashids_encode and hashids_decode
  changelogs/fragments/2244-hashids-filters.yml
  plugins/filter/hashids.py
  tests/integration/targets/filter_hashids/aliases
  tests/integration/targets/filter_hashids/runme.sh
  tests/integration/targets/filter_hashids/runme.yml
  tests/integration/targets/filter_hashids/tasks/main.yml
  tests/integration/targets/filter_hashids/vars/main.yml
Labels: affects_2.10, check-before-release, community_review, feature, integration, needs_triage, new_plugin, plugins, tests

#2246 Fix for Terraform 0.15
  changelogs/fragments/2246-terraform.yaml
  plugins/modules/cloud/misc/terraform.py
Labels: affects_2.10, backport-1, backport-2, bug, check-before-release, cloud, community_review, has_issue, module, new_contributor, plugins

#2249 linode_v4: add support for `private_ip` option.
  changelogs/fragments/2249-linode_v4-support-private_ip-option.yaml
  plugins/modules/cloud/linode/linode_v4.py
  tests/unit/plugins/modules/cloud/linode/test_linode_v4.py
Labels: affects_2.10, cloud, community_review, feature, module, needs_maintainer, new_contributor, plugins, tests, unit

#2257 Remove ldap_entry's params option completely
  changelogs/fragments/2257-ldap_entry-params.yml
  plugins/modules/net_tools/ldap/ldap_entry.py
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.12.txt
  tests/sanity/ignore-2.9.txt
Labels: affects_2.10, breaking_change, bug, community_review, module, net_tools, plugins, tests

#2218 cpanm - revamp module
  .github/BOTMETA.yml
  changelogs/fragments/2218-cpanm-revamp.yml
  plugins/modules/packaging/language/cpanm.py
  tests/integration/targets/cpanm/aliases
  tests/integration/targets/cpanm/meta/main.yml
  tests/integration/targets/cpanm/tasks/main.yml
  tests/unit/plugins/modules/packaging/language/test_cpanm.py
Labels: affects_2.10, check-before-release, community_review, docs, integration, language, module, needs_maintainer, new_plugin, packaging, plugins, tests, unit

#2220 nmcli: add wifi support
  changelogs/fragments/2220_nmcli_wifi_support.yaml
  plugins/modules/net_tools/nmcli.py
Labels: affects_2.10, check-before-release, community_review, module, net_tools, plugins

#2262 java_keystore: overwrite instead of fail when password or alias does not match
  changelogs/fragments/2262-java_keystore-passphrase.yml
  plugins/modules/system/java_keystore.py
  tests/integration/targets/java_keystore/tasks/tests.yml
  tests/unit/plugins/modules/system/test_java_keystore.py
Labels: affects_2.10, breaking_change, bug, community_review, has_issue, integration, module, needs_maintainer, needs_triage, plugins, system, tests, unit

#2232 new module: filesize - create or resize a file, given its size
  plugins/modules/files/filesize.py
  plugins/modules/filesize.py
  tests/integration/targets/filesize/aliases
  tests/integration/targets/filesize/defaults/main.yml
  tests/integration/targets/filesize/tasks/basics.yml
  tests/integration/targets/filesize/tasks/errors.yml
  tests/integration/targets/filesize/tasks/floats.yml
  tests/integration/targets/filesize/tasks/main.yml
  tests/integration/targets/filesize/tasks/sparse.yml
  tests/integration/targets/filesize/tasks/symlinks.yml
Labels: affects_2.10, community_review, files, integration, module, needs_triage, new_module, new_plugin, plugins, tests

#2264 filesize: add maintainer
  .github/BOTMETA.yml
Labels: affects_2.10, community_review, docs, needs_triage, small_patch

#2268 Fixed validations in a couple of modules
  changelogs/fragments/2268-validation-univetion.yml
  plugins/modules/cloud/univention/udm_dns_record.py
  plugins/modules/cloud/univention/udm_dns_zone.py
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.12.txt
  tests/sanity/ignore-2.9.txt
Labels: affects_2.10, bug, cloud, community_review, module, needs_triage, plugins, tests

#2274 BOTMETA.yml: monitoring/spectrum_model_attrs - add a maintainer
  .github/BOTMETA.yml
Labels: affects_2.10, backport-2, community_review, docs, needs_triage, small_patch

#2272 BOTMETA.yml: filter/from_csv - add a maintainer
  .github/BOTMETA.yml
Labels: affects_2.10, backport-2, community_review, docs, needs_triage, small_patch

#2271 BOTMETA: callback/loganalytics - add a maintainer
  .github/BOTMETA.yml
Labels: affects_2.10, backport-2, community_review, docs, needs_triage, small_patch

#2224 nmcli: manual overwrite MAC address for any devices
  changelogs/fragments/2224_nmcli_allow_MAC_overwrite.yaml
  plugins/modules/net_tools/nmcli.py
Labels: affects_2.10, check-before-release, community_review, module, net_tools, plugins

#2270 BOTMETA: hashids plugin - add a maintainer
  .github/BOTMETA.yml
Labels: affects_2.10, community_review, docs, needs_triage, small_patch

#2287 BOTMETA.yml: update team_gitlab
  .github/BOTMETA.yml
Labels: affects_2.10, backport-1, backport-2, community_review, docs, needs_triage, small_patch

#2288 BOTMETA.yml: java_cert - add a new maintainer
  .github/BOTMETA.yml
Labels: affects_2.10, backport-1, backport-2, community_review, docs, needs_triage, small_patch

#2291 BOTMETA.yml: inventory/proxmox - add a new maintainer
  .github/BOTMETA.yml
Labels: affects_2.10, backport-1, backport-2, community_review, docs, needs_triage, small_patch

#2292 BOTMETA.yml: expand team_opennebula
  .github/BOTMETA.yml
Labels: affects_2.10, backport-1, backport-2, community_review, docs, needs_triage, small_patch

#2250 Allow keycloak modules to take token as parameter for the auth.
  changelogs/fragments/2250-allow-keycloak-modules-to-take-token-as-param.yml
  plugins/doc_fragments/keycloak.py
  plugins/module_utils/identity/keycloak/keycloak.py
  plugins/modules/identity/keycloak/keycloak_client.py
  plugins/modules/identity/keycloak/keycloak_clienttemplate.py
  plugins/modules/identity/keycloak/keycloak_group.py
  tests/unit/plugins/module_utils/identity/keycloak/test_keycloak_connect.py
Labels: affects_2.10, check-before-release, community_review, docs_fragments, feature, identity, module, module_utils, new_contributor, plugins, tests, unit

#2300 [stable-1] BOTMETA.yml: update team_gitlab
  .github/BOTMETA.yml
Labels: affects_2.10, community_review, docs, needs_triage, small_patch

#2289 BOTMETA.yml: update team_ipa
  .github/BOTMETA.yml
Labels: affects_2.10, backport-1, backport-2, community_review, docs, needs_triage, small_patch

#2286 BOTMETA.yml: update team_virt
  .github/BOTMETA.yml
Labels: affects_2.10, backport-1, backport-2, community_review, docs, needs_triage, small_patch

#2304 Update BOTMETA.yml
  .github/BOTMETA.yml
Labels: affects_2.10, backport-1, backport-2, community_review, docs, needs_triage, small_patch

#2306 [stable-1] Backport of #2286 and #2304
  .github/BOTMETA.yml
Labels: affects_2.10, community_review, docs, needs_triage, small_patch

#2309 BOTMETA.yml: github/github_repo - add a new maintainer
  .github/BOTMETA.yml
Labels: affects_2.10, backport-1, backport-2, community_review, docs, small_patch

#2310 BOTMETA.yml: lxd/lxd_profile - add a new maintainer
  .github/BOTMETA.yml
Labels: affects_2.10, backport-1, backport-2, community_review, docs, needs_triage, small_patch

#2155 Keycloak: add realm management
  plugins/module_utils/identity/keycloak/keycloak.py
  plugins/modules/identity/keycloak/keycloak_realm.py
  plugins/modules/keycloak_realm.py
  tests/unit/plugins/modules/identity/keycloak/__init__.py
  tests/unit/plugins/modules/identity/keycloak/test_keycloak_realm.py
Labels: affects_2.10, community_review, identity, module, module_utils, new_contributor, new_module, new_plugin, plugins, tests, unit

#2280 pids module: Adding pattern and ignore_case options
  changelogs/fragments/2280-pids-new-pattern-option.yml
  plugins/modules/system/pids.py
  tests/integration/targets/pids/tasks/main.yml
Labels: affects_2.10, community_review, feature, integration, module, plugins, system, tests

#2307 Rename Aversiste → tleguern
  plugins/modules/cloud/misc/proxmox_domain_info.py
  plugins/modules/cloud/misc/proxmox_group_info.py
  plugins/modules/cloud/misc/proxmox_storage_info.py
  plugins/modules/cloud/misc/proxmox_user_info.py
Labels: affects_2.10, backport-1, backport-2, cloud, community_review, docs, module, needs_triage, plugins

#2317 [stable-1] Rename Aversiste → tleguern
  plugins/modules/cloud/misc/proxmox_domain_info.py
  plugins/modules/cloud/misc/proxmox_group_info.py
  plugins/modules/cloud/misc/proxmox_user_info.py
Labels: affects_2.10, cloud, community_review, docs, module, needs_triage, plugins

#2318 Temporarily disable sysrc tests since they fail often.
  tests/integration/targets/sysrc/aliases
Labels: affects_2.10, backport-2, community_review, has_issue, integration, plugins, small_patch, system, tests

#2285 `with_filetree:`: use `splitext` for compatibility with `template:`
  plugins/lookup/filetree.py
Labels: affects_2.10, backport-1, backport-2, community_review, docs, lookup, needs_triage, new_contributor, plugins

#2263 inventory/proxmox: Added some cases for unsupported network interface and multi-nic and unsupported guest error
  changelogs/fragments/2259-proxmox-multi-nic-and-unsupported.yml
  plugins/inventory/proxmox.py
  tests/unit/plugins/inventory/test_proxmox.py
Labels: affects_2.10, bug, has_issue, inventory, plugins, shipit, tests, unit

#2282 nmap: fix cache support
  changelogs/fragments/2282-nmap-fix-cache-support.yml
  plugins/inventory/nmap.py
Labels: affects_2.10, automerge, bug, check-before-release, inventory, new_contributor, plugins, shipit

#2308 Add plugin_paths parameter to terraform module.
  changelogs/fragments/2308-terraform-add-plugin_paths-parameter.yaml
  plugins/modules/cloud/misc/terraform.py
Labels: affects_2.10, automerge, check-before-release, cloud, feature, module, new_contributor, plugins, shipit

#2324 Replace FreeBSD 11.4 with 13.0 for devel testing
  .azure-pipelines/azure-pipelines.yml
Labels: affects_2.10, community_review, needs_triage, small_patch

#2331 BOTMETA.yml: haproxy - add a maintainer
  .github/BOTMETA.yml
Labels: affects_2.10, backport-1, backport-2, community_review, docs, needs_triage, small_patch

#2333 [stable-1] BOTMETA.yml: haproxy - add a maintainer
  .github/BOTMETA.yml
Labels: affects_2.10, community_review, docs, needs_triage, small_patch

#2329 convert string returned by plugin to unicode
  changelogs/fragments/2329-hiera-lookup-plugin-return-type.yaml
  plugins/lookup/hiera.py
Labels: affects_2.10, backport-1, backport-2, bug, check-before-release, community_review, lookup, new_contributor, plugins, python3, small_patch

#2342 Removes colin-nolan as Consul maintainer
  .github/BOTMETA.yml
Labels: backport-1, backport-2

#2349 jira - fixed base64 decode bug
  changelogs/fragments/2349-jira-bugfix-b64decode.yml
  plugins/modules/web_infrastructure/jira.py
Labels: backport-1, backport-2

#2340 jenkins_plugin: fix Python 2 compatibility issue
  changelogs/fragments/2340-jenkins_plugin-py2.yml
  plugins/modules/web_infrastructure/jenkins_plugin.py
Labels: affects_2.10, backport-1, backport-2, bug, check-before-release, community_review, module, needs_triage, plugins, small_patch, web_infrastructure

#2335 Fix incorrect URL_REALMS in keycloak.py
  plugins/module_utils/identity/keycloak/keycloak.py
Labels: affects_2.10, bug, community_review, identity, module_utils, plugins

#2284 influxdb_retention_policy: ensure duration parameters are idempotent (#2281)
  changelogs/fragments/2284-influxdb_retention_policy-idempotence.yml
  plugins/modules/database/influxdb/influxdb_retention_policy.py
Labels: affects_2.10, backport-1, backport-2, bug, community_review, database, module, new_contributor, plugins

#2267 lvol - extending volumes with '+' only work for percentages
  changelogs/fragments/2267-lvol_size_addition-subtraction_support.yaml
  plugins/modules/system/lvol.py
Labels: affects_2.10, community_review, feature, module, new_contributor, plugins, system

#2208 jira - module revamp -> moved code to class
  changelogs/fragments/2208-jira-revamp.yml
  plugins/modules/web_infrastructure/jira.py
  tests/integration/targets/jira/tasks/main.yml
Labels: affects_2.10, check-before-release, community_review, feature, has_issue, integration, module, plugins, tests, web_infrastructure

#2026 lxd: dynamic inventory
  plugins/inventory/lxd.py
  tests/unit/plugins/inventory/fixtures/lxd_inventory.atd
  tests/unit/plugins/inventory/test_lxd.py
Labels: affects_2.10, check-before-release, community_review, inventory, new_plugin, plugins, tests, unit

#2354 BOTMETA.yml: team_suse - add a maintainer
  .github/BOTMETA.yml
Labels: affects_2.10, backport-2, backport-3, community_review, docs, small_patch

#2355 spotinst_aws_elastigroup - fixed elements for many lists
  changelogs/fragments/2355-spotinst_aws_elastigroup-list-elements.yml
  plugins/modules/cloud/spotinst/spotinst_aws_elastigroup.py
Labels: affects_2.10, backport-3, bug, check-before-release, cloud, community_review, module, plugins

#2365 Adjust to devel's ansible-test
  tests/sanity/ignore-2.12.txt
Labels: affects_2.10, backport-2, backport-3, community_review, small_patch, tests

#2377 Use Ansible's codecov uploader
  .azure-pipelines/scripts/publish-codecov.sh
  tests/utils/shippable/shippable.sh
Labels: affects_2.10, backport-1, backport-2, backport-3, community_review, small_patch, tests, unit

#2381 ovirt modules: remove programming error which prevents modules to work with devel
  changelogs/fragments/ovirt-fixup.yml
  plugins/modules/cloud/misc/ovirt.py
  plugins/modules/cloud/ovirt/ovirt_affinity_label_facts.py
  plugins/modules/cloud/ovirt/ovirt_api_facts.py
  plugins/modules/cloud/ovirt/ovirt_cluster_facts.py
  plugins/modules/cloud/ovirt/ovirt_datacenter_facts.py
  plugins/modules/cloud/ovirt/ovirt_disk_facts.py
  plugins/modules/cloud/ovirt/ovirt_event_facts.py
  plugins/modules/cloud/ovirt/ovirt_external_provider_facts.py
  plugins/modules/cloud/ovirt/ovirt_group_facts.py
  plugins/modules/cloud/ovirt/ovirt_host_facts.py
  plugins/modules/cloud/ovirt/ovirt_host_storage_facts.py
  plugins/modules/cloud/ovirt/ovirt_network_facts.py
  plugins/modules/cloud/ovirt/ovirt_nic_facts.py
  plugins/modules/cloud/ovirt/ovirt_permission_facts.py
  plugins/modules/cloud/ovirt/ovirt_quota_facts.py
  plugins/modules/cloud/ovirt/ovirt_snapshot_facts.py
  plugins/modules/cloud/ovirt/ovirt_storage_domain_facts.py
  plugins/modules/cloud/ovirt/ovirt_storage_template_facts.py
  plugins/modules/cloud/ovirt/ovirt_storage_vm_facts.py
  plugins/modules/cloud/ovirt/ovirt_tag_facts.py
  plugins/modules/cloud/ovirt/ovirt_template_facts.py
  plugins/modules/cloud/ovirt/ovirt_user_facts.py
  plugins/modules/cloud/ovirt/ovirt_vm_facts.py
  plugins/modules/cloud/ovirt/ovirt_vmpool_facts.py
Labels: affects_2.10, backport-1, bug, cloud, community_review, module, new_module, new_plugin, plugins

#2387 CI: Spread nightly runs out
  .azure-pipelines/azure-pipelines.yml
Labels: affects_2.10, community_review, needs_triage

#2384 Add Fedora 34 to CI
  .azure-pipelines/azure-pipelines.yml
  tests/integration/targets/setup_postgresql_db/tasks/main.yml
Labels: affects_2.10, backport-2, backport-3, community_review, integration, needs_triage, tests
