Repository ansible-collections/community.general, pull requests merged in 2021-10, with the labels that each got.

#3487 devel dropped support for Python 2.6
  .azure-pipelines/azure-pipelines.yml
Labels: needs_revision, backport-3

#3485 Update redfish_info.py
  plugins/modules/remote_management/redfish/redfish_info.py
Labels: module, new_contributor, has_issue, plugins, docs, remote_management, backport-2, backport-3, docs_only

#3450 [opentelemetry] minor changes in the import, docs and exception
  changelogs/fragments/3450-callback_opentelemetry-exception_handling.yml
  plugins/callback/opentelemetry.py
Labels: bug, needs_revision, callback, plugins

#3478 yaml callback: prevent plugin from modifying PyYAML
  changelogs/fragments/3478-yaml-callback.yml
  plugins/callback/yaml.py
  tests/integration/targets/callback_yaml/tasks/main.yml
Labels: bug, needs_revision, callback, tests, integration, has_issue, plugins, backport-2, backport-3

#3501 Fix OSX 10.11 CI runs
  tests/integration/targets/archive/aliases
  tests/integration/targets/homebrew/tasks/main.yml
  tests/integration/targets/iso_extract/aliases
Labels: tests, integration, WIP, backport-1, backport-2, backport-3

#3226 Proxmox tasks module
  plugins/modules/cloud/misc/proxmox_tasks_info.py
  plugins/modules/proxmox_tasks_info.py
  tests/unit/plugins/modules/cloud/misc/test_proxmox_tasks_info.py
Labels: module, tests, unit, new_plugin, community_review, affects_2.10, plugins, cloud, backport-3

#3473 Fix: gitlab_deploy_key idempotency
  changelogs/fragments/3473-gitlab_deploy_key-fix_idempotency.yml
  plugins/modules/source_control/gitlab/gitlab_deploy_key.py
Labels: bug, module, plugins, gitlab, source_control, backport-2, backport-3

#3507 pipx - new module
  .github/BOTMETA.yml
  plugins/modules/packaging/language/pipx.py
  plugins/modules/pipx.py
  tests/integration/targets/pipx/aliases
  tests/integration/targets/pipx/tasks/main.yml
Labels: module, tests, integration, new_plugin, plugins, backport-3

#3611 pipx - fixed bug in state=inject
  changelogs/fragments/3611-pipx-fix-inject.yml
  plugins/modules/packaging/language/pipx.py
  tests/integration/targets/pipx/tasks/main.yml
Labels: bug, module, tests, integration, plugins, packaging, language, backport-3

#3601 gitlab_project: Add `initialize_with_readme` option
  plugins/modules/source_control/gitlab/gitlab_project.py
  tests/integration/targets/gitlab_project/tasks/main.yml
Labels: feature, module, needs_revision, tests, unit, integration, new_contributor, plugins, gitlab, source_control

#3602 gitlab_project_members: improve project name matching
  changelogs/fragments/3602-fix-gitlab_project_members-improve-search-method.yml
  plugins/modules/source_control/gitlab/gitlab_project_members.py
Labels: bug, module, new_contributor, plugins, gitlab, source_control, backport-2, backport-3

#3606 [Pacman Module] Allow for the pacman repository check to be skipped when it's not needed
  changelogs/fragments/3606-pacman-speed-up-check-if-package-is-installed.yml
  plugins/modules/packaging/os/pacman.py
Labels: bug, module, new_contributor, plugins, os, packaging

#3610 Bugfix keycloak client do not report changes when there is none
  changelogs/fragments/3610-fix-keycloak-client-diff-bugs-when-sorting.yml
  plugins/modules/identity/keycloak/keycloak_client.py
  tests/integration/targets/keycloak_client/README.md
  tests/integration/targets/keycloak_client/docker-compose.yml
  tests/integration/targets/keycloak_client/tasks/main.yml
  tests/integration/targets/keycloak_client/vars/main.yml
Labels: bug, module, tests, integration, plugins, identity, backport-2, backport-3

#3637 Fix CI
  tests/unit/plugins/modules/remote_management/oneview/hpe_test_utils.py
  tests/unit/plugins/modules/remote_management/oneview/test_oneview_ethernet_network.py
Labels: needs_revision, tests, unit, needs_ci, backport-1, backport-2, backport-3

#3624 provide more fitting description for runner timeout
  plugins/modules/source_control/gitlab/gitlab_runner.py
Labels: module, new_contributor, small_patch, plugins, docs, gitlab, source_control, backport-2, backport-3, docs_only

#3598 add the possibility to restart all supervisorctl programs and groups
  changelogs/fragments/3551-supervisor-all.yml
  plugins/modules/web_infrastructure/supervisorctl.py
Labels: feature, module, plugins, web_infrastructure

#3626 opennebula: fix error message when renaming an image
  changelogs/fragments/3626-fix-one_image-error.yml
  plugins/modules/cloud/opennebula/one_image.py
Labels: bug, module, traceback, plugins, cloud, backport-3

#3642 snap_alias - new module
  .github/BOTMETA.yml
  plugins/modules/packaging/os/snap.py
  plugins/modules/packaging/os/snap_alias.py
  plugins/modules/snap_alias.py
  tests/integration/targets/snap_alias/aliases
  tests/integration/targets/snap_alias/defaults/main.yml
  tests/integration/targets/snap_alias/handlers/main.yml
  tests/integration/targets/snap_alias/meta/main.yml
  tests/integration/targets/snap_alias/tasks/Debian.yml
  tests/integration/targets/snap_alias/tasks/Fedora.yml
  tests/integration/targets/snap_alias/tasks/RedHat.yml
  tests/integration/targets/snap_alias/tasks/default.yml
  tests/integration/targets/snap_alias/tasks/main.yml
  tests/integration/targets/snap_alias/tasks/nothing.yml
  tests/integration/targets/snap_alias/tasks/test.yml
Labels: module, tests, integration, new_plugin, plugins, os, packaging

#3651 Temporarily disable yaml callback tests
  tests/integration/targets/callback_yaml/aliases
Labels: tests, integration, small_patch, backport-3

#2045 bitbucket: Support Basic Auth
  changelogs/fragments/2045-bitbucket_support_basic_auth.yaml
  plugins/doc_fragments/bitbucket.py
  plugins/module_utils/source_control/bitbucket.py
  plugins/modules/source_control/bitbucket/bitbucket_access_key.py
  plugins/modules/source_control/bitbucket/bitbucket_pipeline_key_pair.py
  plugins/modules/source_control/bitbucket/bitbucket_pipeline_known_host.py
  plugins/modules/source_control/bitbucket/bitbucket_pipeline_variable.py
  tests/unit/plugins/modules/source_control/bitbucket/test_bitbucket_access_key.py
  tests/unit/plugins/modules/source_control/bitbucket/test_bitbucket_pipeline_key_pair.py
  tests/unit/plugins/modules/source_control/bitbucket/test_bitbucket_pipeline_known_host.py
  tests/unit/plugins/modules/source_control/bitbucket/test_bitbucket_pipeline_variable.py
Labels: feature, module, tests, unit, new_contributor, docs_fragments, module_utils, affects_2.10, plugins, source_control

#3649 Fixed - TypeError: unexpected keyword argument
  changelogs/fragments/3649-proxmox_group_info_TypeError.yml
  plugins/modules/cloud/misc/proxmox_group_info.py
Labels: bug, module, new_contributor, plugins, cloud, backport-2, backport-3

#3648 mh/mixins/cmd - added publish_cmd parameter to CmdModuleHelper.run_command()
  changelogs/fragments/3648-mh-cmd-publish-cmd.yaml
  plugins/module_utils/mh/mixins/cmd.py
Labels: feature, module_utils, plugins
