Repository ansible-collections/community.general, pull requests merged in 2021-02, with the labels that each got.

#1708 homebrew_tap: Add support for brew search path
  changelogs/fragments/1702_homebrew_tap.yml
  plugins/modules/packaging/os/homebrew_tap.py
Labels: affects_2.10, backport-2, bug, community_review, module, os, owner_pr, packaging, plugins

#1705 Update Fedora in CI
  .azure-pipelines/azure-pipelines.yml
Labels: affects_2.10, backport-1, backport-2, community_review, needs_triage, small_patch

#1699 Migrating DellEMC collections from community.general collections
  .github/BOTMETA.yml
  changelogs/fragments/948-dellemc-migration-removal.yml
  meta/runtime.yml
  plugins/module_utils/remote_management/dellemc/__init__.py
  plugins/module_utils/remote_management/dellemc/dellemc_idrac.py
  plugins/module_utils/remote_management/dellemc/ome.py
  plugins/modules/idrac_firmware.py
  plugins/modules/idrac_server_config_profile.py
  plugins/modules/ome_device_info.py
  plugins/modules/remote_management/dellemc/idrac_firmware.py
  plugins/modules/remote_management/dellemc/idrac_server_config_profile.py
  plugins/modules/remote_management/dellemc/ome_device_info.py
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.9.txt
  tests/unit/plugins/module_utils/remote_management/dellemc/__init__.py
  tests/unit/plugins/module_utils/remote_management/dellemc/test_ome.py
  tests/unit/plugins/modules/remote_management/dellemc/__init__.py
  tests/unit/plugins/modules/remote_management/dellemc/test_ome_device_info.py
Labels: affects_2.10, breaking_change, community_review, feature, module, module_utils, needs_maintainer, new_contributor, plugins, remote_management, tests, unit

#1706 [stable-2] DellEMC removal announcement
  changelogs/fragments/dellemc-migration.yml
Labels: affects_2.10, community_review, docs, has_issue, needs_triage, owner_pr

#1703 sensu-silence: fix json parsing of sensu API response
  changelogs/fragments/1703-sensu_silence-fix_json_parsing.yml
  plugins/modules/monitoring/sensu/sensu_silence.py
Labels: affects_2.10, backport-1, backport-2, bug, community_review, module, monitoring, new_contributor, plugins, python3

#1478 Bugfix/1457 filesystem is not idempotent when used with resizefs option
  changelogs/fragments/1478-filesystem-fix-1457-resizefs-idempotency.yml
  plugins/modules/system/filesystem.py
  tests/integration/targets/filesystem/defaults/main.yml
  tests/integration/targets/filesystem/meta/main.yml
  tests/integration/targets/filesystem/tasks/create_device.yml
  tests/integration/targets/filesystem/tasks/create_fs.yml
  tests/integration/targets/filesystem/tasks/main.yml
  tests/integration/targets/filesystem/tasks/overwrite_another_fs.yml
  tests/integration/targets/filesystem/tasks/setup.yml
Labels: affects_2.10, backport-1, backport-2, bug, check-before-release, community_review, has_issue, integration, module, plugins, system, tests

#1725 Add no_log to some module arguments
  changelogs/fragments/CVE-2021-20191_no_log.yml
  plugins/module_utils/_netapp.py
  plugins/module_utils/identity/keycloak/keycloak.py
  plugins/modules/web_infrastructure/sophos_utm/utm_proxy_auth_profile.py
Labels: affects_2.10, backport-1, backport-2, community_review, identity, module, module_utils, plugins, web_infrastructure

#1728 [stable-1] docker swarm - Add no_log to the signing_ca_key argument
  changelogs/fragments/CVE-2021-20191_no_log_docker.yml
  plugins/modules/cloud/docker/docker_swarm.py
Labels: affects_2.10, cloud, community_review, docker, module, needs_triage, new_module, new_plugin, small_patch

#1695 parted: fix regex for version match and partition size output
  changelogs/fragments/1695-parted-updatedregex.yaml
  plugins/modules/system/parted.py
  tests/unit/plugins/modules/system/test_parted.py
Labels: affects_2.10, backport-1, backport-2, bug, community_review, module, needs_maintainer, plugins, system, tests, unit

#1723 datadog_monitor: Add missing monitor types query alert, trace-analytics alert, rum alert
  changelogs/fragments/1723-datadog_monitor-add-missing-monitor-types.yml
  plugins/modules/monitoring/datadog/datadog_monitor.py
Labels: affects_2.10, backport-2, bug, community_review, module, monitoring, new_contributor, plugins

#1661 Feature/gitlab deploykey updkey
  changelogs/fragments/1661-gitlab-deploy-key-update-pubkey.yml
  plugins/modules/source_control/gitlab/gitlab_deploy_key.py
  tests/integration/targets/gitlab_deploy_key/defaults/main.yml
  tests/integration/targets/gitlab_deploy_key/tasks/main.yml
Labels: affects_2.10, breaking_change, community_review, feature, gitlab, integration, module, new_contributor, plugins, source_control, tests

#1734 Fix mercurial tests
  tests/integration/targets/hg/tasks/install.yml
  tests/integration/targets/hg/tasks/uninstall.yml
Labels: affects_2.10, backport-1, backport-2, community_review, integration, needs_triage, plugins, small_patch, source_control, tests

#1752 Fix CI
  tests/integration/targets/ssh_config/meta/main.yml
  tests/integration/targets/ssh_config/tasks/main.yml
  tests/utils/constraints.txt
Labels: affects_2.10, backport-1, backport-2, community_review, integration, needs_triage, tests, unit

#1755 [stable-1] Fix CI
  tests/utils/constraints.txt
Labels: affects_2.10, community_review, needs_triage, small_patch, tests, unit

#1724 Various fixes for updating existing gitlab users
  changelogs/fragments/1724-various-fixes-for-updating-existing-gitlab-user.yml
  plugins/modules/source_control/gitlab/gitlab_user.py
  tests/integration/targets/gitlab_user/tasks/main.yml
  tests/unit/plugins/modules/source_control/gitlab/test_gitlab_user.py
Labels: affects_2.10, backport-1, backport-2, bug, check-before-release, community_review, gitlab, integration, module, needs_maintainer, plugins, source_control, tests, unit

#1767 Tidy up validate-modules ignores for remote_management/ipmi modules
  plugins/modules/remote_management/ipmi/ipmi_boot.py
  plugins/modules/remote_management/ipmi/ipmi_power.py
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.9.txt
Labels: affects_2.10, backport-1, backport-2, community_review, docs, module, needs_triage, plugins, remote_management, tests

#1770 azure-pipelines: update container version
  .azure-pipelines/azure-pipelines.yml
Labels: affects_2.10, backport-1, backport-2, community_review, feature, needs_triage, small_patch

#1753 document what filesystem types are supported by 'resizefs' option
  changelogs/fragments/1753-document-fstypes-supported-by-resizefs.yml
  plugins/modules/system/filesystem.py
  plugins/modules/system/lvol.py
Labels: affects_2.10, automerge, backport-1, backport-2, check-before-release, docs, module, owner_pr, plugins, shipit, small_patch, system

#1747 xfconf: feature flag to disable facts and deprecation warning
  changelogs/fragments/1475-xfconf-facts.yml
  plugins/modules/system/xfconf.py
Labels: affects_2.10, backport-1, backport-2, check-before-release, community_review, feature, module, owner_pr, plugins, system

#1722 timezone: add gentoo and alpine linux support
  changelogs/fragments/1722_timezone.yml
  plugins/modules/system/timezone.py
Labels: affects_2.10, backport-2, bug, check-before-release, community_review, has_issue, module, plugins, system

#1744 redfish module_utils: case insesitive search for situations where the hostname/FQDN on iLO is in caps
  changelogs/fragments/1744-case-insensitive-hostname-fqdn-matching.yml
  plugins/module_utils/redfish_utils.py
Labels: affects_2.10, backport-2, bug, community_review, module_utils, new_contributor, plugins, small_patch

#1763 only set param features when variable is not empty
  changelogs/fragments/816-only-invocate-feature-when-variable-is-set.yml
  plugins/modules/cloud/misc/proxmox.py
Labels: affects_2.10, backport-2, bug, cloud, community_review, module, new_contributor, plugins, small_patch

#1740 Fix typo in aerospike_migration module
  changelogs/fragments/1740-aerospike_migration.yml
  plugins/modules/database/aerospike/aerospike_migrations.py
Labels: affects_2.10, backport-1, backport-2, bug, community_review, database, module, needs_triage, plugins, small_patch

#1782 Update CI
  .azure-pipelines/azure-pipelines.yml
  plugins/inventory/proxmox.py
  plugins/inventory/virtualbox.py
  plugins/module_utils/cloud.py
  plugins/module_utils/module_helper.py
  plugins/modules/cloud/ovirt/ovirt_tag_facts.py
  plugins/modules/packaging/os/openbsd_pkg.py
  scripts/inventory/freeipa.py
  scripts/inventory/lxc_inventory.py
  tests/integration/targets/django_manage/aliases
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.9.txt
  tests/unit/plugins/modules/monitoring/test_monit.py
  tests/unit/plugins/modules/system/interfaces_file/test_interfaces_file.py
Labels: affects_2.10, backport-1, backport-2, cloud, community_review, integration, inventory, module, module_utils, needs_maintainer, needs_triage, os, packaging, plugins, tests, unit, web_infrastructure

#1790 [stable-1] Update CI
  .azure-pipelines/azure-pipelines.yml
  plugins/inventory/proxmox.py
  plugins/inventory/virtualbox.py
  plugins/module_utils/cloud.py
  plugins/module_utils/module_helper.py
  plugins/modules/cloud/ovirt/ovirt_tag_facts.py
  plugins/modules/net_tools/hetzner_firewall.py
  plugins/modules/packaging/os/openbsd_pkg.py
  scripts/inventory/freeipa.py
  scripts/inventory/gce.py
  scripts/inventory/lxc_inventory.py
  tests/integration/targets/filter_jc/runme.sh
  tests/integration/targets/filter_json_query/runme.sh
  tests/integration/targets/inventory_kubevirt/aliases
  tests/integration/targets/postgresql_copy/aliases
  tests/integration/targets/postgresql_db/aliases
  tests/integration/targets/postgresql_idx/aliases
  tests/integration/targets/postgresql_lang/aliases
  tests/integration/targets/postgresql_membership/aliases
  tests/integration/targets/postgresql_owner/aliases
  tests/integration/targets/postgresql_pg_hba/aliases
  tests/integration/targets/postgresql_ping/aliases
  tests/integration/targets/postgresql_privs/aliases
  tests/integration/targets/postgresql_query/aliases
  tests/integration/targets/postgresql_schema/aliases
  tests/integration/targets/postgresql_sequence/aliases
  tests/integration/targets/postgresql_set/aliases
  tests/integration/targets/postgresql_slot/aliases
  tests/integration/targets/postgresql_table/aliases
  tests/integration/targets/postgresql_tablespace/aliases
  tests/integration/targets/postgresql_user/aliases
  tests/integration/targets/setup_openssl/vars/FreeBSD.yml
  tests/integration/targets/setup_postgresql_db/vars/FreeBSD-11-py3.yml
  tests/integration/targets/setup_postgresql_db/vars/FreeBSD-12.0-py3.yml
  tests/integration/targets/setup_postgresql_db/vars/FreeBSD-12.1-py3.yml
  tests/integration/targets/xml/tasks/main.yml
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.9.txt
  tests/unit/plugins/module_utils/postgresql/test_postgres.py
  tests/unit/plugins/modules/monitoring/test_monit.py
  tests/unit/plugins/modules/system/interfaces_file/test_interfaces_file.py
Labels: WIP, affects_2.10, cloud, files, integration, inventory, module, module_utils, needs_triage, net_tools, new_module, new_plugin, os, packaging, plugins, tests, unit

#1789 [stable-1] Various backports from community.postgres
  changelogs/fragments/1-community-postgresql_backports.yml
  plugins/modules/database/postgresql/postgresql_info.py
  plugins/modules/database/postgresql/postgresql_ping.py
  plugins/modules/database/postgresql/postgresql_query.py
  plugins/modules/database/postgresql/postgresql_set.py
  plugins/modules/database/postgresql/postgresql_user.py
  tests/integration/targets/postgresql_query/tasks/postgresql_query_initial.yml
  tests/integration/targets/postgresql_set/tasks/main.yml
  tests/integration/targets/postgresql_set/tasks/options_coverage.yml
  tests/integration/targets/postgresql_set/tasks/postgresql_set_initial.yml
Labels: affects_2.10, bug, community_review, database, integration, module, needs_triage, new_module, new_plugin, postgresql, tests

#1794 Prevented the expansion of parameters in run_command()
  changelogs/fragments/1776-git_config-tilde_value.yml
  plugins/modules/source_control/git_config.py
  tests/integration/targets/git_config/tasks/main.yml
  tests/integration/targets/git_config/tasks/set_value_with_tilde.yml
Labels: affects_2.10, backport-1, backport-2, bug, community_review, integration, module, plugins, source_control, tests

#1761 Removed parameter-list-no-elements validation errors from redfish modules
  changelogs/fragments/1761-redfish-tidy-up-validation.yml
  plugins/modules/remote_management/redfish/idrac_redfish_command.py
  plugins/modules/remote_management/redfish/idrac_redfish_config.py
  plugins/modules/remote_management/redfish/idrac_redfish_info.py
  plugins/modules/remote_management/redfish/redfish_command.py
  plugins/modules/remote_management/redfish/redfish_config.py
  plugins/modules/remote_management/redfish/redfish_info.py
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
Labels: affects_2.10, backport-1, backport-2, community_review, docs, module, plugins, remote_management, tests

#1741 Change type str -> path in argspec
  changelogs/fragments/1741-use-path-argspec.yml
  plugins/doc_fragments/oracle.py
  plugins/module_utils/oracle/oci_utils.py
  plugins/modules/cloud/lxd/lxd_container.py
  plugins/modules/cloud/lxd/lxd_profile.py
Labels: affects_2.10, backport-2, cloud, community_review, docs_fragments, feature, module, module_utils, needs_maintainer, needs_triage, plugins

#1792 [stable-1] Add ubuntu2004, upgrade CI to be more similar to main
  .azure-pipelines/azure-pipelines.yml
  tests/integration/targets/mqtt/tasks/main.yml
  tests/integration/targets/setup_postgresql_db/vars/Ubuntu-20-py3.yml
Labels: affects_2.10, community_review, integration, needs_triage, notification, plugins, tests

#1797 [stable-1] Prevented the expansion of parameters in run_command()
  changelogs/fragments/1776-git_config-tilde_value.yml
  plugins/modules/source_control/git_config.py
  tests/integration/targets/git_config/tasks/main.yml
  tests/integration/targets/git_config/tasks/set_value_with_tilde.yml
Labels: affects_2.10, bug, check-before-release, community_review, integration, module, needs_triage, plugins, source_control, tests

#1765 Improved parameter handling on proxmox modules
  changelogs/fragments/1765-proxmox-params.yml
  plugins/modules/cloud/misc/proxmox.py
  plugins/modules/cloud/misc/proxmox_kvm.py
  plugins/modules/cloud/misc/proxmox_snap.py
  plugins/modules/cloud/misc/proxmox_template.py
Labels: affects_2.10, backport-1, backport-2, bug, cloud, community_review, module, plugins

#1807 Make selective callback work with ansible-core 2.11
  changelogs/fragments/selective-core-2.11.yml
  plugins/callback/selective.py
Labels: affects_2.10, backport-1, backport-2, bug, callback, community_review, needs_triage, plugins

#1805 Adjusted django_manage integration test files to reduce ignore lines in sanity tests
  tests/integration/targets/django_manage/files/base_test/1045-single-app-project/single_app_project/manage.py
  tests/integration/targets/django_manage/files/base_test/simple_project/p1/manage.py
  tests/integration/targets/django_manage/files/base_test/simple_project/p1/p1/settings.py
  tests/integration/targets/django_manage/files/base_test/simple_project/p1/p1/urls.py
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.9.txt
Labels: affects_2.10, bug, community_review, integration, needs_triage, plugins, tests, web_infrastructure

#1771 Tidy up validate-modules ignores for cloud/centurylink modules
  changelogs/fragments/1771-centurylink-validation-elements.yml
  plugins/modules/cloud/centurylink/clc_alert_policy.py
  plugins/modules/cloud/centurylink/clc_blueprint_package.py
  plugins/modules/cloud/centurylink/clc_firewall_policy.py
  plugins/modules/cloud/centurylink/clc_loadbalancer.py
  plugins/modules/cloud/centurylink/clc_modify_server.py
  plugins/modules/cloud/centurylink/clc_publicip.py
  plugins/modules/cloud/centurylink/clc_server.py
  plugins/modules/cloud/centurylink/clc_server_snapshot.py
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
Labels: affects_2.10, backport-1, backport-2, cloud, community_review, docs, module, plugins, tests

#1812 [stable-1] Tidy up validate-modules ignores for cloud/centurylink modules
  changelogs/fragments/1771-centurylink-validation-elements.yml
  plugins/modules/cloud/centurylink/clc_alert_policy.py
  plugins/modules/cloud/centurylink/clc_blueprint_package.py
  plugins/modules/cloud/centurylink/clc_firewall_policy.py
  plugins/modules/cloud/centurylink/clc_loadbalancer.py
  plugins/modules/cloud/centurylink/clc_modify_server.py
  plugins/modules/cloud/centurylink/clc_publicip.py
  plugins/modules/cloud/centurylink/clc_server.py
  plugins/modules/cloud/centurylink/clc_server_snapshot.py
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
Labels: affects_2.10, bug, cloud, community_review, module, needs_triage, plugins, tests

#1760 Implemented fix pointed in issue
  changelogs/fragments/1714-gitlab_runner-required-reg-token.yml
  plugins/modules/source_control/gitlab/gitlab_runner.py
Labels: affects_2.10, backport-1, backport-2, bug, check-before-release, community_review, gitlab, module, plugins, source_control

#1766 Tidy up validation for storage/zfs modules
  changelogs/fragments/1766-zfs-fixed-sanity.yml
  plugins/modules/storage/zfs/zfs.py
  plugins/modules/storage/zfs/zfs_delegate_admin.py
  plugins/modules/storage/zfs/zfs_facts.py
  plugins/modules/storage/zfs/zpool_facts.py
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.9.txt
Labels: affects_2.10, backport-1, backport-2, check-before-release, community_review, docs, module, plugins, storage, tests

#1721 Fix undeclared result for nomad_job_info module
  changelogs/fragments/1721-fix-nomad_job_info-no-jobs-failure.yml
  plugins/modules/clustering/nomad/nomad_job_info.py
Labels: affects_2.10, backport-1, backport-2, bug, check-before-release, clustering, community_review, module, new_contributor, plugins, small_patch, traceback

#1715 Added VMID to all returns
  changelogs/fragments/1715-proxmox_kvm-add-vmid-to-returns.yml
  plugins/modules/cloud/misc/proxmox_kvm.py
Labels: affects_2.10, backport-1, backport-2, bug, check-before-release, cloud, community_review, module, owner_pr, plugins, python3

#1788 ease limitation for nios_host_record DNS Bypass
  changelogs/fragments/1788-ease-nios_host_record-dns-bypass-check.yml
  plugins/module_utils/net_tools/nios/api.py
Labels: affects_2.10, backport-1, backport-2, bug, community_review, module_utils, net_tools, new_contributor, plugins, small_patch

#1803 [stable-1] Improved parameter handling on proxmox modules
  changelogs/fragments/1765-proxmox-params.yml
  plugins/modules/cloud/misc/proxmox.py
  plugins/modules/cloud/misc/proxmox_kvm.py
  plugins/modules/cloud/misc/proxmox_template.py
Labels: affects_2.10, bug, check-before-release, cloud, community_review, module, needs_triage, plugins

#1827 [stable-1] Added VMID to all returns
  changelogs/fragments/1715-proxmox_kvm-add-vmid-to-returns.yml
  plugins/modules/cloud/misc/proxmox_kvm.py
Labels: affects_2.10, bug, check-before-release, cloud, community_review, module, needs_triage, plugins

#1783 proxmox_kvm: 500 error args parameter
  changelogs/fragments/1783-proxmox-kvm-fix-args-500-error.yaml
  plugins/modules/cloud/misc/proxmox_kvm.py
Labels: affects_2.10, backport-1, backport-2, bug, cloud, community_review, module, new_contributor, plugins

#1795 Tidy up validate-modules:parameter-list-no-elements (batch 1)
  changelogs/fragments/1795-list-elements-batch1.yml
  plugins/doc_fragments/oracle_creatable_resource.py
  plugins/module_utils/oracle/oci_utils.py
  plugins/modules/cloud/lxd/lxd_container.py
  plugins/modules/cloud/packet/packet_device.py
  plugins/modules/cloud/pubnub/pubnub_blocks.py
  plugins/modules/cloud/smartos/vmadm.py
  plugins/modules/cloud/softlayer/sl_vm.py
  plugins/modules/files/xml.py
  plugins/modules/identity/keycloak/keycloak_client.py
  plugins/modules/identity/onepassword_info.py
  plugins/modules/monitoring/librato_annotation.py
  plugins/modules/monitoring/pagerduty.py
  plugins/modules/monitoring/statusio_maintenance.py
  plugins/modules/net_tools/dnsimple.py
  plugins/modules/net_tools/nsupdate.py
  plugins/modules/net_tools/omapi_host.py
  plugins/modules/notification/mail.py
  plugins/modules/notification/nexmo.py
  plugins/modules/notification/office_365_connector_card.py
  plugins/modules/notification/rocketchat.py
  plugins/modules/notification/sendgrid.py
  plugins/modules/notification/slack.py
  plugins/modules/notification/twilio.py
  plugins/modules/packaging/os/redhat_subscription.py
  plugins/modules/source_control/gitlab/gitlab_runner.py
  plugins/modules/storage/netapp/na_ontap_gather_facts.py
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.9.txt
Labels: affects_2.10, backport-1, backport-2, bug, cloud, community_review, docs_fragments, files, gitlab, identity, module, module_utils, monitoring, needs_maintainer, net_tools, notification, os, packaging, plugins, source_control, storage, tests

#1814 dnsimple: Add support for CAA records
  changelogs/fragments/1814-dnsimple-add-support-for-caa-records.yml
  plugins/modules/net_tools/dnsimple.py
Labels: affects_2.10, backport-2, check-before-release, community_review, feature, module, net_tools, new_contributor, plugins, small_patch

#1813 Previously LXD profiles were overwritten, now these are merged.
  changelogs/fragments/1813-lxd_profile-merge-profiles.yml
  plugins/modules/cloud/lxd/lxd_profile.py
Labels: affects_2.10, backport-2, check-before-release, cloud, community_review, feature, module, needs_maintainer, needs_triage, new_contributor, plugins

#1837 [stable-1] Tidy up validate-modules:parameter-list-no-elements (batch 1)
  changelogs/fragments/1795-list-elements-batch1.yml
  plugins/doc_fragments/oracle_creatable_resource.py
  plugins/module_utils/oracle/oci_utils.py
  plugins/modules/cloud/lxd/lxd_container.py
  plugins/modules/cloud/packet/packet_device.py
  plugins/modules/cloud/pubnub/pubnub_blocks.py
  plugins/modules/cloud/smartos/vmadm.py
  plugins/modules/cloud/softlayer/sl_vm.py
  plugins/modules/files/xml.py
  plugins/modules/identity/keycloak/keycloak_client.py
  plugins/modules/identity/onepassword_info.py
  plugins/modules/monitoring/librato_annotation.py
  plugins/modules/monitoring/pagerduty.py
  plugins/modules/monitoring/statusio_maintenance.py
  plugins/modules/net_tools/dnsimple.py
  plugins/modules/net_tools/nsupdate.py
  plugins/modules/net_tools/omapi_host.py
  plugins/modules/notification/mail.py
  plugins/modules/notification/nexmo.py
  plugins/modules/notification/office_365_connector_card.py
  plugins/modules/notification/rocketchat.py
  plugins/modules/notification/sendgrid.py
  plugins/modules/notification/slack.py
  plugins/modules/notification/twilio.py
  plugins/modules/packaging/os/redhat_subscription.py
  plugins/modules/source_control/gitlab/gitlab_runner.py
  plugins/modules/storage/netapp/na_ontap_gather_facts.py
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.9.txt
Labels: affects_2.10, bug, cloud, community_review, docs_fragments, files, gitlab, identity, module, module_utils, monitoring, needs_maintainer, needs_triage, net_tools, notification, os, packaging, plugins, source_control, storage, tests

#1819 Tidy up all pylint:blacklisted-name ignore lines
  changelogs/fragments/1819-tidyup-pylint-blacklistnames.yml
  plugins/callback/hipchat.py
  plugins/connection/lxc.py
  plugins/modules/cloud/lxc/lxc_container.py
  plugins/modules/monitoring/statusio_maintenance.py
  plugins/modules/system/alternatives.py
  plugins/modules/system/beadm.py
  plugins/modules/system/cronvar.py
  plugins/modules/system/dconf.py
  plugins/modules/system/filesystem.py
  plugins/modules/system/gconftool2.py
  plugins/modules/system/interfaces_file.py
  plugins/modules/system/java_cert.py
  plugins/modules/system/lvg.py
  plugins/modules/system/lvol.py
  plugins/modules/system/parted.py
  plugins/modules/system/timezone.py
  plugins/modules/web_infrastructure/rundeck_acl_policy.py
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.9.txt
Labels: affects_2.10, backport-1, backport-2, bug, callback, cloud, community_review, connection, module, monitoring, plugins, system, tests, web_infrastructure

#1840 [stable-1] Tidy up all pylint:blacklisted-name ignore lines
  changelogs/fragments/1819-tidyup-pylint-blacklistnames.yml
  plugins/callback/hipchat.py
  plugins/connection/lxc.py
  plugins/modules/cloud/lxc/lxc_container.py
  plugins/modules/monitoring/statusio_maintenance.py
  plugins/modules/system/alternatives.py
  plugins/modules/system/beadm.py
  plugins/modules/system/cronvar.py
  plugins/modules/system/dconf.py
  plugins/modules/system/filesystem.py
  plugins/modules/system/gconftool2.py
  plugins/modules/system/interfaces_file.py
  plugins/modules/system/java_cert.py
  plugins/modules/system/lvg.py
  plugins/modules/system/lvol.py
  plugins/modules/system/parted.py
  plugins/modules/system/timezone.py
  plugins/modules/web_infrastructure/rundeck_acl_policy.py
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.9.txt
Labels: affects_2.10, bug, callback, cloud, community_review, connection, module, monitoring, needs_triage, plugins, system, tests, web_infrastructure

#1830 Tidy up validations + bug fixes + deprecations
  changelogs/fragments/1830-valmod_docmissingtype_batch1.yml
  plugins/modules/database/aerospike/aerospike_migrations.py
  plugins/modules/database/misc/elasticsearch_plugin.py
  plugins/modules/database/misc/kibana_plugin.py
  plugins/modules/database/misc/riak.py
  plugins/modules/database/vertica/vertica_configuration.py
  plugins/modules/database/vertica/vertica_info.py
  plugins/modules/database/vertica/vertica_role.py
  plugins/modules/database/vertica/vertica_schema.py
  plugins/modules/database/vertica/vertica_user.py
  plugins/modules/files/iso_extract.py
  plugins/modules/identity/opendj/opendj_backendprop.py
  plugins/modules/monitoring/logstash_plugin.py
  plugins/modules/source_control/bzr.py
  plugins/modules/source_control/hg.py
  plugins/modules/storage/emc/emc_vnx_sg_member.py
  plugins/modules/storage/ibm/ibm_sa_domain.py
  plugins/modules/storage/ibm/ibm_sa_host.py
  plugins/modules/storage/ibm/ibm_sa_host_ports.py
  plugins/modules/storage/ibm/ibm_sa_pool.py
  plugins/modules/storage/ibm/ibm_sa_vol.py
  plugins/modules/storage/ibm/ibm_sa_vol_map.py
  plugins/modules/system/runit.py
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.9.txt
Labels: affects_2.10, backport-1, backport-2, bug, community_review, database, files, identity, module, monitoring, plugins, source_control, storage, system, tests

#1793 StatsD Module
  .github/BOTMETA.yml
  plugins/modules/monitoring/statsd.py
  plugins/modules/statsd.py
  tests/unit/plugins/modules/monitoring/test_statsd.py
Labels: affects_2.10, backport-2, check-before-release, community_review, module, monitoring, needs_triage, new_contributor, new_module, new_plugin, tests, unit

#1838 runit - deprecate param dist
  changelogs/fragments/1838-runit-deprecate-param-dist.yml
  plugins/modules/system/runit.py
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.9.txt
Labels: affects_2.10, backport-2, bug, check-before-release, community_review, module, plugins, system, tests

#1846 [stable-1] Tidy up validations + bug fixes + deprecations
  changelogs/fragments/1830-valmod_docmissingtype_batch1.yml
  plugins/modules/database/aerospike/aerospike_migrations.py
  plugins/modules/database/misc/elasticsearch_plugin.py
  plugins/modules/database/misc/kibana_plugin.py
  plugins/modules/database/misc/riak.py
  plugins/modules/database/vertica/vertica_configuration.py
  plugins/modules/database/vertica/vertica_info.py
  plugins/modules/database/vertica/vertica_role.py
  plugins/modules/database/vertica/vertica_schema.py
  plugins/modules/database/vertica/vertica_user.py
  plugins/modules/files/iso_extract.py
  plugins/modules/identity/opendj/opendj_backendprop.py
  plugins/modules/monitoring/logstash_plugin.py
  plugins/modules/source_control/bzr.py
  plugins/modules/source_control/hg.py
  plugins/modules/storage/emc/emc_vnx_sg_member.py
  plugins/modules/storage/ibm/ibm_sa_domain.py
  plugins/modules/storage/ibm/ibm_sa_host.py
  plugins/modules/storage/ibm/ibm_sa_host_ports.py
  plugins/modules/storage/ibm/ibm_sa_pool.py
  plugins/modules/storage/ibm/ibm_sa_vol.py
  plugins/modules/storage/ibm/ibm_sa_vol_map.py
  plugins/modules/system/runit.py
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.9.txt
Labels: affects_2.10, bug, community_review, database, files, identity, module, monitoring, needs_triage, plugins, source_control, storage, system, tests

#1847 proxmox_kvm: fix undefined local variable status
  changelogs/fragments/1847-proxmox-kvm-fix-status.yml
  plugins/modules/cloud/misc/proxmox_kvm.py
Labels: affects_2.10, backport-1, backport-2, bug, cloud, community_review, has_issue, module, owner_pr, plugins

#1849 proxmox_kvm: add integration tests
  tests/integration/targets/proxmox/tasks/main.yml
Labels: affects_2.10, backport-1, backport-2, cloud, community_review, feature, integration, plugins, tests

#1858 Update bug_report.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: affects_2.10, bug, community_review, needs_triage, new_contributor

#1862 Disable flatpak_remote test due to expired key
  tests/integration/targets/flatpak_remote/aliases
Labels: affects_2.10, backport-1, backport-2, community_review, has_issue, integration, os, packaging, plugins, small_patch, tests

#1743 Fixed imc_rest session logout
  changelogs/fragments/1735-imc-sessions.yml
  plugins/modules/remote_management/imc/imc_rest.py
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.9.txt
Labels: affects_2.10, backport-1, backport-2, bug, check-before-release, community_review, module, plugins, remote_management, tests

#1829 added gitlab_project_members
  plugins/modules/gitlab_project_members.py
  plugins/modules/source_control/gitlab/gitlab_project_members.py
  tests/integration/targets/gitlab_project_members/aliases
  tests/integration/targets/gitlab_project_members/defaults/main.yml
  tests/integration/targets/gitlab_project_members/tasks/main.yml
Labels: affects_2.10, backport-2, community_review, feature, gitlab, integration, module, new_contributor, new_module, new_plugin, plugins, source_control, tests

#1871 Improve infoblox inventory script dependencies
  changelogs/fragments/1871-infoblox-inventory.yml
  scripts/inventory/infoblox.py
Labels: affects_2.10, backport-1, backport-2, bug, community_review

#1859 deploy_helper: fix a bug when not defining release on state=clean
  changelogs/fragments/1852-deploy-helper-fix-state-is-clean-without-release.yaml
  plugins/modules/web_infrastructure/deploy_helper.py
Labels: affects_2.10, backport-1, backport-2, bug, check-before-release, community_review, module, new_contributor, owner_pr, plugins, small_patch, web_infrastructure

#1844 New module proxmox_storage_info
  plugins/modules/cloud/misc/proxmox_storage_info.py
  plugins/modules/proxmox_storage_info.py
  tests/integration/targets/proxmox/aliases
  tests/integration/targets/proxmox/tasks/main.yml
Labels: affects_2.10, backport-2, check-before-release, cloud, community_review, integration, module, new_module, new_plugin, plugins, tests

#1874 Update gitlab_project_members copyright and author list
  plugins/modules/source_control/gitlab/gitlab_project_members.py
Labels: affects_2.10, backport-2, bug, check-before-release, community_review, gitlab, module, plugins, small_patch, source_control

#1887 linode inventory plugin: fix documentation
  plugins/inventory/linode.py
Labels: affects_2.10, backport-1, backport-2, cloud, community_review, docs, inventory, needs_triage, plugins, small_patch

#1861 fixed Python 3 keys() usage
  changelogs/fragments/1861-python3-keys.yml
  plugins/cache/memcached.py
  plugins/cache/redis.py
  plugins/callback/diy.py
  plugins/callback/selective.py
  plugins/lookup/chef_databag.py
  plugins/module_utils/net_tools/nios/api.py
  plugins/module_utils/utm_utils.py
  plugins/modules/cloud/lxc/lxc_container.py
  plugins/modules/cloud/lxd/lxd_container.py
  plugins/modules/cloud/oneandone/oneandone_monitoring_policy.py
  plugins/modules/cloud/oracle/oci_vcn.py
  plugins/modules/cloud/spotinst/spotinst_aws_elastigroup.py
  plugins/modules/packaging/os/redhat_subscription.py
  plugins/modules/remote_management/redfish/idrac_redfish_command.py
  plugins/modules/remote_management/redfish/idrac_redfish_config.py
  plugins/modules/remote_management/redfish/idrac_redfish_info.py
  plugins/modules/remote_management/redfish/redfish_command.py
  plugins/modules/remote_management/redfish/redfish_config.py
  plugins/modules/system/vdo.py
  scripts/inventory/nsot.py
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
Labels: affects_2.10, backport-1, backport-2, bug, callback, cloud, community_review, has_issue, lookup, module, module_utils, monitoring, needs_maintainer, net_tools, os, packaging, plugins, python3, remote_management, system, tests

#1889 [stable-1] linode inventory plugin: fix documentation
  plugins/inventory/linode.py
Labels: affects_2.10, cloud, community_review, docs, inventory, needs_triage, plugins, small_patch

#1893 Tidy up sanity checks ignore lines for source_control/* modules
  plugins/modules/source_control/git_config.py
  plugins/modules/source_control/github/github_deploy_key.py
  plugins/modules/source_control/github/github_issue.py
  plugins/modules/source_control/github/github_key.py
  plugins/modules/source_control/github/github_release.py
  plugins/modules/source_control/github/github_webhook.py
  plugins/modules/source_control/github/github_webhook_info.py
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.9.txt
Labels: affects_2.10, backport-1, backport-2, community_review, docs, module, needs_triage, plugins, source_control, tests

#1897 [stable-1] Tidy up sanity checks ignore lines for source_control/* modules
  plugins/modules/source_control/git_config.py
  plugins/modules/source_control/github/github_deploy_key.py
  plugins/modules/source_control/github/github_issue.py
  plugins/modules/source_control/github/github_key.py
  plugins/modules/source_control/github/github_release.py
  plugins/modules/source_control/github/github_webhook.py
  plugins/modules/source_control/github/github_webhook_info.py
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.9.txt
Labels: affects_2.10, bug, community_review, module, needs_triage, plugins, source_control, tests

#1895 proxmox_kvm: trivial patch for github issue #1875
  changelogs/fragments/1895-proxmox-kvm-fix-issue-1875.yml
  plugins/modules/cloud/misc/proxmox_kvm.py
Labels: affects_2.10, backport-1, backport-2, bug, cloud, community_review, module, owner_pr, plugins, small_patch

#1880 [Fix] fix cobbler_system ssl cert checkwhen validate_certs set to no
  changelogs/fragments/1880-fix_cobbler_system_ssl.yml
  plugins/modules/remote_management/cobbler/cobbler_sync.py
  plugins/modules/remote_management/cobbler/cobbler_system.py
Labels: affects_2.10, backport-1, backport-2, bug, community_review, module, new_contributor, plugins, remote_management

#1900 BOTMETA.yml: Remove vfauth as etcd3 maintainer
  .github/BOTMETA.yml
Labels: affects_2.10, backport-1, backport-2, community_review, docs, needs_triage, new_contributor, small_patch

#1907 Disable way too slow yum_versionlock tests
  tests/integration/targets/yum_versionlock/aliases
Labels: affects_2.10, backport-2, community_review, has_issue, integration, os, packaging, plugins, small_patch, tests

#1885 Tidy up sanity checks (2021/Batch 3 - who's counting)
  changelogs/fragments/1885-sanity-check-fixes-batch3.yml
  plugins/modules/cloud/oneandone/oneandone_firewall_policy.py
  plugins/modules/cloud/oneandone/oneandone_load_balancer.py
  plugins/modules/cloud/oneandone/oneandone_monitoring_policy.py
  plugins/modules/cloud/oneandone/oneandone_private_network.py
  plugins/modules/cloud/oneandone/oneandone_server.py
  plugins/modules/cloud/packet/packet_sshkey.py
  plugins/modules/cloud/profitbricks/profitbricks.py
  plugins/modules/cloud/profitbricks/profitbricks_volume.py
  plugins/modules/cloud/webfaction/webfaction_app.py
  plugins/modules/cloud/webfaction/webfaction_db.py
  plugins/modules/cloud/webfaction/webfaction_domain.py
  plugins/modules/cloud/webfaction/webfaction_mailbox.py
  plugins/modules/cloud/webfaction/webfaction_site.py
  plugins/modules/clustering/consul/consul.py
  plugins/modules/clustering/consul/consul_acl.py
  plugins/modules/clustering/consul/consul_kv.py
  plugins/modules/clustering/consul/consul_session.py
  plugins/modules/clustering/etcd3.py
  plugins/modules/clustering/znode.py
  plugins/modules/monitoring/datadog/datadog_event.py
  plugins/modules/monitoring/datadog/datadog_monitor.py
  plugins/modules/monitoring/icinga2_host.py
  plugins/modules/monitoring/sensu/sensu_check.py
  plugins/modules/monitoring/sensu/sensu_client.py
  plugins/modules/monitoring/sensu/sensu_handler.py
  plugins/modules/notification/pushbullet.py
  plugins/modules/packaging/language/bundler.py
  plugins/modules/packaging/language/maven_artifact.py
  plugins/modules/packaging/language/pip_package_info.py
  plugins/modules/remote_management/lxca/lxca_cmms.py
  plugins/modules/remote_management/lxca/lxca_nodes.py
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.9.txt
Labels: affects_2.10, backport-1, backport-2, bug, cloud, clustering, community_review, language, module, monitoring, notification, packaging, plugins, remote_management, tests

#1911 [stable-1] Tidy up sanity checks (2021/Batch 3 - who's counting)
  changelogs/fragments/1885-sanity-check-fixes-batch3.yml
  plugins/modules/cloud/oneandone/oneandone_firewall_policy.py
  plugins/modules/cloud/oneandone/oneandone_load_balancer.py
  plugins/modules/cloud/oneandone/oneandone_monitoring_policy.py
  plugins/modules/cloud/oneandone/oneandone_private_network.py
  plugins/modules/cloud/oneandone/oneandone_server.py
  plugins/modules/cloud/packet/packet_sshkey.py
  plugins/modules/cloud/profitbricks/profitbricks.py
  plugins/modules/cloud/profitbricks/profitbricks_volume.py
  plugins/modules/cloud/webfaction/webfaction_app.py
  plugins/modules/cloud/webfaction/webfaction_db.py
  plugins/modules/cloud/webfaction/webfaction_domain.py
  plugins/modules/cloud/webfaction/webfaction_mailbox.py
  plugins/modules/cloud/webfaction/webfaction_site.py
  plugins/modules/clustering/consul/consul.py
  plugins/modules/clustering/consul/consul_acl.py
  plugins/modules/clustering/consul/consul_kv.py
  plugins/modules/clustering/consul/consul_session.py
  plugins/modules/clustering/etcd3.py
  plugins/modules/clustering/znode.py
  plugins/modules/monitoring/datadog/datadog_event.py
  plugins/modules/monitoring/datadog/datadog_monitor.py
  plugins/modules/monitoring/icinga2_host.py
  plugins/modules/monitoring/sensu/sensu_check.py
  plugins/modules/monitoring/sensu/sensu_client.py
  plugins/modules/monitoring/sensu/sensu_handler.py
  plugins/modules/notification/pushbullet.py
  plugins/modules/packaging/language/bundler.py
  plugins/modules/packaging/language/maven_artifact.py
  plugins/modules/packaging/language/pip_package_info.py
  plugins/modules/remote_management/lxca/lxca_cmms.py
  plugins/modules/remote_management/lxca/lxca_nodes.py
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.9.txt
Labels: affects_2.10, bug, cloud, clustering, community_review, language, module, monitoring, needs_triage, notification, packaging, plugins, remote_management, tests

#1918 Improve meta/runtime.yml deprecation messages
  changelogs/fragments/meta-runtime-deprecations.yml
  meta/runtime.yml
Labels: affects_2.10, backport-2, bug, community_review, needs_triage

#1919 [stable-2] Improve meta/runtime.yml deprecation messages
  changelogs/fragments/meta-runtime-deprecations.yml
  meta/runtime.yml
Labels: affects_2.10, bug, community_review, needs_triage

#1912 yum_versionlock: do lock/unlock concurrently
  changelogs/fragments/1912-yum_versionlock-lock_unlock_concurrently.yml
  plugins/modules/packaging/os/yum_versionlock.py
  tests/integration/targets/yum_versionlock/aliases
Labels: affects_2.10, backport-2, bug, community_review, integration, module, os, packaging, plugins, tests

#1596 bugfix: xfs_quota feedback on projects not initialized has changed
  changelogs/fragments/1596-xfs_quota-feedback_on_projects_not_initialized_has_changed.yml
  plugins/modules/system/xfs_quota.py
  tests/integration/targets/xfs_quota/tasks/pquota.yml
Labels: affects_2.10, backport-1, backport-2, bug, check-before-release, community_review, integration, module, new_contributor, plugins, system, tests

#1914 Proxmox inventory: Add some sanitization to url parameter
  changelogs/fragments/1914-add-sanitization-to-url.yml
  plugins/inventory/proxmox.py
Labels: affects_2.10, backport-1, backport-2, bug, check-before-release, community_review, inventory, needs_triage, plugins, small_patch

#1916 Add version_sort filter to properly sort list of versions
  changelogs/fragments/1916-add-version-sort-filter.yml
  plugins/filter/version_sort.py
  tests/integration/targets/filter_version_sort/aliases
  tests/integration/targets/filter_version_sort/tasks/main.yml
Labels: affects_2.10, backport-2, community_review, feature, integration, needs_triage, new_contributor, new_plugin, tests

#1928 bigpanda: actually use option
  changelogs/fragments/1928-bigpanda-message.yml
  plugins/modules/monitoring/bigpanda.py
Labels: affects_2.10, backport-1, backport-2, bug, community_review, module, monitoring, plugins, small_patch

#1929 grove: message -> message_content
  changelogs/fragments/1929-grove-message.yml
  plugins/modules/notification/grove.py
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
Labels: affects_2.10, backport-2, bug, community_review, module, notification, plugins, tests

#1867 Improved ModuleHelper.run_command()
  changelogs/fragments/1867-modhelper-cmdmixin-dict-params.yml
  plugins/module_utils/module_helper.py
  plugins/modules/system/xfconf.py
Labels: affects_2.10, backport-2, community_review, feature, module, module_utils, owner_pr, plugins, system
