Repository ansible-collections/community.general, pull requests merged in 2021-06, with the labels that each got.

#2680 Add filter docs
  docs/docsite/extra-docs.yml
  docs/docsite/rst/filter_guide.rst
Labels: affects_2.10, backport-3, check-before-release, community_review, docs, needs_ci, stale_ci

#2635 nmcli: new arguments to ignore automatic dns servers and gateways
  changelogs/fragments/2635-nmcli-add-ignore-auto-arguments.yml
  plugins/modules/net_tools/nmcli.py
  tests/unit/plugins/modules/net_tools/test_nmcli.py
Labels: affects_2.10, backport-3, check-before-release, community_review, feature, module, needs_ci, needs_maintainer, net_tools, new_contributor, plugins, stale_ci, tests, unit

#2662 Added SHA1 option to maven_artifact
  changelogs/fragments/2661-maven_artifact-add-sha1-option.yml
  plugins/modules/packaging/language/maven_artifact.py
Labels: affects_2.10, backport-3, check-before-release, community_review, feature, language, module, needs_ci, new_contributor, packaging, plugins, stale_ci

#2694 keycloak_realm.py: Mark 'reset_password_allowed' as no_log=False
  changelogs/fragments/keycloak-realm-no-log-password-reset.yml
  plugins/modules/identity/keycloak/keycloak_realm.py
Labels: affects_2.10, backport-3, bug, check-before-release, community_review, identity, module, needs_ci, new_contributor, plugins, small_patch, stale_ci

#2693 keycloak_realm.py: Fix the `ssl_required` parameter according to the API
  changelogs/fragments/keycloak_realm_ssl_required.yml
  plugins/modules/identity/keycloak/keycloak_realm.py
Labels: affects_2.10, backport-3, bug, community_review, identity, module, needs_ci, plugins, small_patch, stale_ci

#2701 BOTMETA.yml: remove myself from zypper_repository
  .github/BOTMETA.yml
Labels: affects_2.10, backport-2, backport-3, has_issue, needs_ci, needs_info, needs_template, new_contributor, small_patch, stale_ci

#778 add module pacman_key
  plugins/modules/packaging/os/pacman_key.py
  plugins/modules/pacman_key.py
  tests/unit/plugins/modules/packaging/os/test_pacman_key.py
Labels: affects_2.10, backport-3, community_review, module, needs_ci, new_contributor, new_module, new_plugin, os, packaging, plugins, stale_ci, tests, unit

#2596 Add module sapcar_extract to make SAP administration easier.
  plugins/modules/files/sapcar_extract.py
  plugins/modules/sapcar_extract.py
  tests/unit/plugins/modules/files/__init__.py
  tests/unit/plugins/modules/files/test_sapcar_extract.py
Labels: affects_2.10, community_review, files, module, needs_ci, needs_triage, new_module, new_plugin, plugins, stale_ci, tests, unit

#2709 Fix spurious test errors
  tests/integration/targets/lookup_random_string/test.yml
Labels: affects_2.10, backport-3, community_review, integration, needs_ci, small_patch, stale_ci, tests

#2708 Add new module/plugin maintainers to BOTMETA
  .github/BOTMETA.yml
Labels: affects_2.10, backport-3, community_review, docs, needs_ci, small_patch, stale_ci

#2707 Fix action plugin BOTMETA entries
  .github/BOTMETA.yml
Labels: affects_2.10, backport-2, backport-3, community_review, docs, needs_ci, stale_ci

#2697 [stable-3] Announce script removal
  changelogs/fragments/script-removal.yml
Labels: affects_2.10, community_review, docs, has_issue, needs_ci, needs_triage, owner_pr, stale_ci

#2717 Fix repeated word in description of fs_type
  plugins/modules/system/parted.py
Labels: affects_2.10, backport-2, backport-3, community_review, docs, module, needs_ci, needs_triage, plugins, small_patch, stale_ci, system

#2634 Terraform: ensure workspace is reset to current value
  changelogs/fragments/2634-terraform-switch-workspace.yml
  plugins/modules/cloud/misc/terraform.py
Labels: affects_2.10, backport-3, bug, cloud, community_review, module, needs_ci, plugins, stale_ci

#2568 Reduce stormssh searches based on host
  changelogs/fragments/2568-ssh_config-reduce-stormssh-searches-based-on-host.yml
  plugins/modules/system/ssh_config.py
  tests/integration/targets/ssh_config/tasks/main.yml
Labels: affects_2.10, backport-2, backport-3, bug, check-before-release, has_issue, integration, module, needs_ci, needs_revision, new_contributor, plugins, stale_ci, system, tests

#2126 Wire token param into consul_api #2124
  changelogs/fragments/2126-consul_kv-pass-token.yml
  plugins/lookup/consul_kv.py
Labels: affects_2.10, backport-2, backport-3, bug, check-before-release, community_review, has_issue, lookup, needs_ci, new_contributor, plugins, stale_ci

#2684 open_iscsi: allow same target selected portals login and override
  changelogs/fragments/2684-open_iscsi-single-target-multiple-portal-overrides.yml
  plugins/modules/system/open_iscsi.py
Labels: affects_2.10, backport-3, check-before-release, community_review, feature, module, needs_ci, new_contributor, plugins, stale_ci, system

#2711 iptables_state: fix async status call (-> action plugin)
  changelogs/fragments/2711-fix-iptables_state-2700-async_status-call.yml
  plugins/action/system/iptables_state.py
Labels: action, affects_2.10, backport-2, backport-3, bug, check-before-release, community_review, needs_ci, plugins, stale_ci, system

#2681 Bugfix + sanity checks for stacki_host
  changelogs/fragments/2681-stacki-host-bugfix.yml
  plugins/modules/remote_management/stacki/stacki_host.py
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.12.txt
  tests/sanity/ignore-2.9.txt
Labels: affects_2.10, backport-3, bug, check-before-release, community_review, module, needs_ci, plugins, remote_management, stale_ci, tests

#2731 ModuleHelper - also uses LC_ALL to force language
  changelogs/fragments/2731-mh-cmd-locale.yml
  plugins/module_utils/mh/mixins/cmd.py
  tests/unit/plugins/modules/packaging/language/test_cpanm.py
  tests/unit/plugins/modules/system/test_xfconf.py
Labels: affects_2.10, backport-2, backport-3, bug, check-before-release, community_review, module, module_utils, needs_ci, needs_maintainer, plugins, stale_ci, tests, unit

#2739 Add myself to commit-rights.md
  commit-rights.md
Labels: affects_2.10, backport-1, backport-2, backport-3, community_review, needs_ci, needs_triage, small_patch, stale_ci

#2743 Remove aminvakil from supershipit section as it is not needed anymore
  .github/BOTMETA.yml
Labels: affects_2.10, backport-1, backport-2, backport-3, needs_ci, needs_info, needs_template, needs_triage, small_patch, stale_ci

#2747 Re-enable flatpak_remote tests
  tests/integration/targets/flatpak_remote/aliases
  tests/integration/targets/setup_flatpak_remote/create-repo.sh
  tests/integration/targets/setup_flatpak_remote/files/repo.tar.xz
Labels: WIP, affects_2.10, integration, needs_ci, needs_triage, os, packaging, plugins, stale_ci, tests

#2722 zypper_repository: fix idempotency on adding repo with releasever and basearch variables
  changelogs/fragments/2722-zypper_repository-fix_idempotency_on_adding_repo_with_releasever.yml
  plugins/modules/packaging/os/zypper_repository.py
  tests/integration/targets/zypper_repository/tasks/zypper_repository.yml
Labels: affects_2.10, backport-2, backport-3, bug, check-before-release, community_review, feature, integration, module, needs_ci, os, packaging, plugins, stale_ci, tests

#2751 flatpak: add tests in CI, add no_dependencies parameter
  changelogs/fragments/2751-flatpak-no_dependencies.yml
  plugins/modules/packaging/os/flatpak.py
  plugins/modules/packaging/os/flatpak_remote.py
  tests/integration/targets/flatpak/aliases
  tests/integration/targets/flatpak/files/serve.py
  tests/integration/targets/flatpak/meta/main.yml
  tests/integration/targets/flatpak/tasks/check_mode.yml
  tests/integration/targets/flatpak/tasks/main.yml
  tests/integration/targets/flatpak/tasks/setup.yml
  tests/integration/targets/flatpak/tasks/test.yml
  tests/integration/targets/setup_flatpak_remote/create-repo.sh
  tests/integration/targets/setup_flatpak_remote/files/repo.tar.xz
Labels: affects_2.10, backport-3, community_review, integration, module, needs_ci, needs_triage, os, packaging, plugins, stale_ci, tests

#2678 Fixed sanity checks for cloud/scaleway/ modules
  plugins/modules/cloud/scaleway/scaleway_image_info.py
  plugins/modules/cloud/scaleway/scaleway_ip_info.py
  plugins/modules/cloud/scaleway/scaleway_security_group_info.py
  plugins/modules/cloud/scaleway/scaleway_server_info.py
  plugins/modules/cloud/scaleway/scaleway_snapshot_info.py
  plugins/modules/cloud/scaleway/scaleway_volume_info.py
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.12.txt
  tests/sanity/ignore-2.9.txt
Labels: affects_2.10, backport-2, backport-3, cloud, community_review, docs, module, needs_ci, needs_triage, plugins, stale_ci, tests

#2755 Adding myself to commit-rights.md / removing supershipit in BOTMETA
  .github/BOTMETA.yml
  commit-rights.md
Labels: affects_2.10, backport-1, backport-2, backport-3, community_review, needs_ci, needs_triage, small_patch, stale_ci

#2737 [stable-2] ModuleHelper - also uses LC_ALL to force language
  changelogs/fragments/2731-mh-cmd-locale.yml
  plugins/module_utils/module_helper.py
  tests/unit/plugins/modules/system/test_xfconf.py
Labels: affects_2.10, bug, community_review, module, module_utils, needs_ci, needs_maintainer, needs_triage, plugins, stale_ci, tests, unit

#2735 Add domain option to onepassword lookup
  changelogs/fragments/2735-onepassword-add_domain_option.yml
  plugins/lookup/onepassword.py
Labels: affects_2.10, backport-3, check-before-release, community_review, feature, has_issue, lookup, needs_ci, plugins, stale_ci

#2773 add inventory plugin unit test `test_verify_file`
  tests/unit/plugins/inventory/test_cobbler.py
  tests/unit/plugins/inventory/test_linode.py
  tests/unit/plugins/inventory/test_lxd.py
  tests/unit/plugins/inventory/test_proxmox.py
  tests/unit/plugins/inventory/test_stackpath_compute.py
Labels: affects_2.10, backport-2, backport-3, community_review, needs_ci, needs_triage, new_contributor, stale_ci, tests, unit

#2771 [scaleway inventory] Fix JSON object must be str, not 'bytes'
  changelogs/fragments/2771-scaleway_inventory_json_accept_byte_array.yml
  plugins/inventory/scaleway.py
Labels: affects_2.10, backport-2, backport-3, bug, check-before-release, cloud, community_review, inventory, needs_ci, new_contributor, plugins, python3, stale_ci, traceback

#2543 yum_versionlock: enable fedora34 integration test
  tests/integration/targets/yum_versionlock/tasks/main.yml
Labels: affects_2.10, backport-3, community_review, integration, needs_ci, needs_triage, os, packaging, plugins, stale_ci, tests

#2776 scaleway: Misc doc changes
  plugins/inventory/scaleway.py
Labels: affects_2.10, backport-2, backport-3, check-before-release, cloud, community_review, docs, has_issue, inventory, needs_ci, plugins, stale_ci

#2788 Documentation fix for access_level parameter of gitlab_runner
  plugins/modules/source_control/gitlab/gitlab_runner.py
Labels: affects_2.10, backport-2, backport-3, check-before-release, community_review, docs, gitlab, module, needs_ci, plugins, small_patch, source_control, stale_ci

#2793 CI: Remove scripts that are no longer needed
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.12.txt
  tests/sanity/ignore-2.9.txt
  tests/utils/shippable/check_matrix.py
  tests/utils/shippable/timing.py
  tests/utils/shippable/timing.sh
Labels: affects_2.10, backport-1, backport-2, backport-3, community_review, needs_ci, stale_ci, tests, unit

#2797 [stable-1] CI: Remove scripts that are no longer needed
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.9.txt
  tests/utils/shippable/check_matrix.py
  tests/utils/shippable/timing.py
  tests/utils/shippable/timing.sh
Labels: affects_2.10, community_review, needs_ci, needs_triage, stale_ci, tests, unit

#2794 Add extended output for community.internal_test_tools runner
  tests/utils/shippable/sanity.sh
  tests/utils/shippable/shippable.sh
Labels: affects_2.10, backport-1, backport-2, backport-3, community_review, needs_ci, needs_triage, small_patch, stale_ci, tests, unit

#2789 timezone: change warning to debug
  changelogs/fragments/1942_timezone.yml
  plugins/modules/system/timezone.py
Labels: affects_2.10, backport-3, community_review, docs, has_issue, module, needs_ci, plugins, small_patch, stale_ci, system

#2801 BOTMETA.yml: supershipit to quidame
  .github/BOTMETA.yml
Labels: affects_2.10, backport-1, backport-2, backport-3, check-before-release, community_review, docs, needs_ci, needs_triage, small_patch, stale_ci

#2807 BOTMETA.yml: grant supershipit
  .github/BOTMETA.yml
Labels: affects_2.10, backport-1, backport-2, backport-3, community_review, docs, needs_ci, needs_triage, small_patch, stale_ci

#2738 Add Test PRs locally section to CONTRIBUTING.md
  CONTRIBUTING.md
Labels: affects_2.10, backport-2, backport-3, check-before-release, community_review, docs, needs_ci, needs_triage, stale_ci

#2779 redhat_subscription: Add server_prefix and server_port as supported arguments
  changelogs/fragments/2779_redhat_subscription-add_server_prefix_and_server_port.yml
  plugins/modules/packaging/os/redhat_subscription.py
  tests/unit/plugins/modules/packaging/os/test_redhat_subscription.py
Labels: affects_2.10, backport-3, check-before-release, community_review, feature, module, needs_ci, needs_maintainer, os, packaging, plugins, stale_ci, tests, unit

#2790 callback_splunk - Add user-configurable event correlation id
  changelogs/fragments/2790-callback_splunk-batch-option.yml
  plugins/callback/splunk.py
  tests/unit/plugins/callback/test_splunk.py
Labels: affects_2.10, backport-3, callback, check-before-release, community_review, feature, needs_ci, needs_triage, plugins, stale_ci, tests, unit

#2521 flatpak - allow to add/remove multiple flatpaks at once
  changelogs/fragments/2521-flatpak-list.yml
  plugins/modules/packaging/os/flatpak.py
  tests/integration/targets/flatpak/tasks/setup.yml
  tests/integration/targets/flatpak/tasks/test.yml
  tests/integration/targets/setup_flatpak_remote/create-repo.sh
  tests/integration/targets/setup_flatpak_remote/files/repo.tar.xz
Labels: affects_2.10, backport-3, check-before-release, community_review, feature, integration, module, needs_ci, os, packaging, plugins, stale_ci, tests

#2823 Rename test_pr_quick_start_guide.rst to test_pr_locally_guide.rst
  CONTRIBUTING.md
Labels: affects_2.10, backport-2, backport-3, community_review, docs, needs_ci, small_patch, stale_ci

#2802 Update README
  README.md
Labels: affects_2.10, backport-2, backport-3, check-before-release, community_review, docs, needs_ci, needs_triage, stale_ci

#2775 datadog_event : Adding api_host as an optional parameter
  changelogs/fragments/2774-datadog_event_api_parameter.yml
  plugins/modules/monitoring/datadog/datadog_event.py
Labels: affects_2.10, backport-3, check-before-release, community_review, feature, has_issue, module, monitoring, needs_ci, new_contributor, plugins, stale_ci

#2821 fix sudorule_add_allow_command_group
  changelogs/fragments/2821-ipa_sudorule.yml
  plugins/modules/identity/ipa/ipa_sudorule.py
Labels: affects_2.10, backport-2, backport-3, bug, community_review, identity, module, needs_ci, new_contributor, plugins, small_patch, stale_ci

#2830 npm - fix updating version specific modules
  changelogs/fragments/2830-npm-version-update.yml
  plugins/modules/packaging/language/npm.py
  tests/unit/plugins/modules/packaging/language/test_npm.py
Labels: affects_2.10, backport-2, backport-3, bug, check-before-release, community_review, language, module, needs_ci, needs_maintainer, new_contributor, packaging, plugins, stale_ci, tests, unit

#2732 Nmcli add options
  changelogs/fragments/2732-nmcli_add_options.yml
  plugins/modules/net_tools/nmcli.py
  tests/unit/plugins/modules/net_tools/test_nmcli.py
Labels: affects_2.10, backport-3, check-before-release, community_review, feature, module, needs_ci, needs_maintainer, net_tools, new_contributor, plugins, stale_ci, tests, unit

#2841 proxmox_kvm: Fix ZFS device string parsing
  changelogs/fragments/2841-proxmox_kvm_zfs_devstr.yml
  plugins/modules/cloud/misc/proxmox_kvm.py
  tests/unit/plugins/modules/cloud/misc/test_proxmox_kvm.py
Labels: affects_2.10, backport-2, backport-3, bug, cloud, community_review, module, needs_ci, needs_maintainer, new_contributor, new_plugin, plugins, stale_ci, tests, traceback, unit

#2845 serverless - deprecating unused param
  changelogs/fragments/2845-serverless-deprecate-functions-param.yml
  plugins/modules/cloud/misc/serverless.py
Labels: affects_2.10, backport-3, cloud, community_review, feature, has_issue, module, needs_ci, needs_maintainer, needs_triage, plugins, stale_ci

#2844 ali_instance_info - marked parameters for deprecation in c.g. 5.0.0
  changelogs/fragments/2844-ali_instance_info-deprecate-params.yml
  plugins/modules/cloud/alicloud/ali_instance_info.py
Labels: affects_2.10, backport-3, cloud, community_review, feature, module, needs_ci, plugins, stale_ci

#2837 gem_module: Add bindir option
  changelogs/fragments/gem_module_add_bindir_option.yml
  plugins/modules/packaging/language/gem.py
  tests/integration/targets/gem/tasks/main.yml
Labels: affects_2.10, backport-3, check-before-release, feature, integration, language, module, needs_ci, needs_revision, packaging, plugins, stale_ci, tests

#2849 [backport][stable-2] proxmox_kvm: Fix ZFS device string parsing (#2841)
  changelogs/fragments/2841-proxmox_kvm_zfs_devstr.yml
  plugins/modules/cloud/misc/proxmox_kvm.py
  tests/unit/plugins/modules/cloud/misc/test_proxmox_kvm.py
Labels: affects_2.10, check-before-release, cloud, community_review, module, needs_ci, needs_maintainer, plugins, stale_ci, tests, unit

#2691 gitlab_user: add support for identity provider
  changelogs/fragments/2691-gitlab_user-support-identity-provider.yml
  plugins/modules/source_control/gitlab/gitlab_user.py
Labels: affects_2.10, backport-3, community_review, feature, gitlab, has_issue, module, needs_ci, new_contributor, plugins, source_control, stale_ci

#2633 Dynamically add meta/runtime.yml redirects for integration tests to correctly report coverage
  tests/utils/shippable/shippable.sh
Labels: action, affects_2.10, backport-1, backport-2, backport-3, become, bug, callback, community_review, connection, docs_fragments, inventory, lookup, module_utils, needs_ci, needs_maintainer, needs_triage, net_tools, plugins, stale_ci, tests, unit

#2850 jenkins_build: Support stop a running Jenkins build
  changelogs/fragments/2850-jenkins_build-support-stop-jenkins-build.yml
  plugins/modules/web_infrastructure/jenkins_build.py
  tests/unit/plugins/modules/web_infrastructure/test_jenkins_build.py
Labels: affects_2.10, backport-3, check-before-release, community_review, feature, module, needs_ci, needs_maintainer, plugins, stale_ci, tests, unit, web_infrastructure

#2816 archive - refactor and bugfix
  changelogs/fragments/2816-archive-refactor.yml
  plugins/modules/files/archive.py
  tests/integration/targets/archive/files/sub/subfile.txt
  tests/integration/targets/archive/tasks/main.yml
  tests/integration/targets/archive/tasks/remove.yml
Labels: affects_2.10, backport-2, backport-3, bug, check-before-release, community_review, files, has_issue, integration, module, needs_ci, plugins, stale_ci, tests

#2456 Keycloak: add authentication management
  plugins/module_utils/identity/keycloak/keycloak.py
  plugins/modules/identity/keycloak/keycloak_authentication.py
  plugins/modules/keycloak_authentication.py
  tests/unit/plugins/modules/identity/keycloak/test_keycloak_authentication.py
Labels: affects_2.10, backport-3, check-before-release, cloud, gitlab, identity, integration, lookup, module, module_utils, needs_ci, needs_revision, net_tools, new_module, new_plugin, plugins, source_control, stale_ci, tests, unit

#2867 Redis: slave -> replica
  changelogs/fragments/2867-redis-terminology.yml
  plugins/modules/database/misc/redis.py
  tests/integration/targets/redis_info/defaults/main.yml
  tests/integration/targets/redis_info/tasks/main.yml
  tests/integration/targets/setup_redis_replication/defaults/main.yml
  tests/integration/targets/setup_redis_replication/handlers/main.yml
  tests/integration/targets/setup_redis_replication/tasks/setup_redis_cluster.yml
Labels: affects_2.10, backport-3, community_review, database, feature, integration, module, needs_ci, needs_triage, plugins, stale_ci, tests

#2869 Adjust example to remove unnecessary offensive language
  plugins/modules/cloud/softlayer/sl_vm.py
Labels: affects_2.10, backport-1, backport-2, backport-3, cloud, community_review, docs, module, needs_ci, plugins, small_patch, stale_ci

#2843 modprobe - fix task status when module cannot be loaded
  changelogs/fragments/2843-modprobe-failure-conditions.yml
  plugins/modules/system/modprobe.py
  tests/unit/plugins/modules/system/test_modprobe.py
Labels: affects_2.10, backport-2, backport-3, bug, check-before-release, community_review, module, needs_ci, needs_maintainer, new_plugin, plugins, stale_ci, system, tests, unit

#2883 _mount module utils - fixed sanity checks
  changelogs/fragments/2883-_mount-fixed-sanity-checks.yml
  plugins/module_utils/_mount.py
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.12.txt
  tests/sanity/ignore-2.9.txt
Labels: affects_2.10, backport-2, backport-3, bug, community_review, module_utils, needs_ci, needs_triage, plugins, stale_ci, tests

#2878 nrdp callback: improve docs, validate option types
  changelogs/fragments/2878-validate-certs-bool.yml
  plugins/callback/nrdp.py
Labels: affects_2.10, backport-3, callback, community_review, docs, needs_ci, needs_triage, plugins, stale_ci

#2884 [stable-3] _mount module utils - fixed sanity checks
  changelogs/fragments/2883-_mount-fixed-sanity-checks.yml
  plugins/module_utils/_mount.py
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.12.txt
  tests/sanity/ignore-2.9.txt
Labels: affects_2.10, bug, community_review, module_utils, needs_ci, needs_triage, plugins, stale_ci, tests

#2885 [stable-2] _mount module utils - fixed sanity checks
  changelogs/fragments/2883-_mount-fixed-sanity-checks.yml
  plugins/module_utils/_mount.py
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.12.txt
  tests/sanity/ignore-2.9.txt
Labels: affects_2.10, bug, community_review, module_utils, needs_ci, needs_triage, plugins, stale_ci, tests

#2875 ini_file: fix regression reported in #2578
  changelogs/fragments/2875-ini_file-unicode.yml
  plugins/modules/files/ini_file.py
  tests/integration/targets/ini_file/tasks/main.yml
Labels: affects_2.10, bug, files, integration, module, needs_ci, plugins, shipit, stale_ci, tests

#2874 terraform - added check_destroy
  changelogs/fragments/2874-terraform-check-destroy.yml
  plugins/modules/cloud/misc/terraform.py
Labels: affects_2.10, backport-3, check-before-release, cloud, community_review, feature, module, needs_ci, plugins, stale_ci

#2881 Fix/gitlab project user workspace
  changelogs/fragments/2881-gitlab_project-fix_workspace_user.yaml
  plugins/modules/source_control/gitlab/gitlab_project.py
Labels: affects_2.10, backport-2, backport-3, bug, check-before-release, community_review, gitlab, module, needs_ci, plugins, source_control, stale_ci

#2516 java_keystore: fix keystore type
  changelogs/fragments/2516_fix_2515_keystore_type_jks.yml
  plugins/modules/system/java_keystore.py
  tests/integration/targets/java_keystore/tasks/tests.yml
  tests/unit/plugins/modules/system/test_java_keystore.py
Labels: affects_2.10, backport-3, bug, check-before-release, community_review, integration, module, needs_ci, needs_maintainer, plugins, stale_ci, system, tests, unit

#2892 [stable-1] fix CI
  tests/integration/targets/inventory_kubevirt/constraints.txt
  tests/unit/requirements.txt
  tests/utils/constraints.txt
Labels: affects_2.10, community_review, has_issue, integration, needs_ci, needs_triage, stale_ci, tests, unit

#2824 gitlab_project - Add ability to create project under a user
  changelogs/fragments/2824-gitlab_project-project-under-user.yml
  plugins/modules/source_control/gitlab/gitlab_project.py
Labels: affects_2.10, backport-3, bug, check-before-release, community_review, feature, gitlab, module, needs_ci, plugins, source_control, stale_ci

#2787 yum_versionlock: fix idempotency when using wildcard (asterisk)
  changelogs/fragments/2787-yum_versionlock-fix_idempotency_when_using_wildcard.yml
  plugins/modules/packaging/os/yum_versionlock.py
  tests/integration/targets/yum_versionlock/tasks/main.yml
Labels: affects_2.10, backport-2, backport-3, bug, community_review, integration, module, needs_ci, os, packaging, plugins, stale_ci, tests

#2894 pacman: Descriptive state documentation
  plugins/modules/packaging/os/pacman.py
Labels: affects_2.10, backport-2, backport-3, community_review, docs, module, needs_ci, os, packaging, plugins, stale_ci

#2827 [nmcli] add connection.slave-type for teamed devices
  changelogs/fragments/2827-nmcli_fix_team_slave.yml
  plugins/modules/net_tools/nmcli.py
  tests/unit/plugins/modules/net_tools/test_nmcli.py
Labels: affects_2.10, backport-2, backport-3, bug, check-before-release, community_review, module, needs_ci, needs_maintainer, net_tools, plugins, stale_ci, tests, unit

#1334 Add fallback url for jenkins plugin
  changelogs/fragments/1334-jenkins-plugin-fallback-urls.yaml
  plugins/modules/web_infrastructure/jenkins_plugin.py
  tests/unit/plugins/modules/web_infrastructure/test_jenkins_plugin.py
Labels: affects_2.10, backport-3, check-before-release, community_review, feature, has_issue, module, needs_ci, needs_maintainer, new_contributor, plugins, stale_ci, tests, unit, web_infrastructure

#2904 Fix bug when 2 identical executions in same auth flow
  changelogs/fragments/2904-fix-bug-when-2-identical-executions-in-same-auth-flow.yml
  plugins/modules/identity/keycloak/keycloak_authentication.py
  tests/unit/plugins/modules/identity/keycloak/test_keycloak_authentication.py
Labels: affects_2.10, backport-3, bug, community_review, identity, module, needs_ci, needs_maintainer, needs_triage, plugins, stale_ci, tests, unit

#2907 Add integration tests for snap
  tests/integration/targets/snap/aliases
  tests/integration/targets/snap/tasks/main.yml
Labels: affects_2.10, backport-3, community_review, integration, needs_ci, os, packaging, plugins, stale_ci, tests
