Repository ansible-collections/community.general, pull requests merged in 2021-03, with the labels that each got.

#1934 [stable-2] Also mention plugins/modules added in 1.1.0, 1.2.0 and 1.3.0 in 2.0.0 changelog
  CHANGELOG.rst
  changelogs/changelog.yaml
Labels: affects_2.10, community_review, docs, needs_triage

#1894 Feat: nmcli - Add method4 and method6
  changelogs/fragments/1894-feat-nmcli-add-method4-and-method6.yml
  plugins/modules/net_tools/nmcli.py
Labels: affects_2.10, backport-2, check-before-release, community_review, module, net_tools, plugins

#1945 Adding another example for tss lookup
  plugins/lookup/tss.py
Labels: affects_2.10, backport-1, backport-2, docs, lookup, needs_revision, new_contributor, plugins

#1951 [stable-1] fix docker_container tests
  tests/integration/targets/docker_container/filter_plugins/ipaddr_tools.py
Labels: affects_2.10, community_review, integration, needs_triage, new_plugin, small_patch, tests

#620 consul_io inventory script: fixes awx and python 3 kv_group
  changelogs/fragments/620-consul_io-env-variables-conf-based.yml
  scripts/inventory/consul_io.py
Labels: affects_2.10, backport-2, bug, check-before-release, community_review, needs_triage, new_contributor, python3, traceback

#745 Jenkins build module
  plugins/modules/jenkins_build.py
  plugins/modules/web_infrastructure/jenkins_build.py
  tests/unit/plugins/modules/web_infrastructure/test_jenkins_build.py
Labels: affects_2.10, backport-2, check-before-release, community_review, module, new_contributor, new_module, new_plugin, plugins, tests, unit, web_infrastructure

#1833 zfs: avoid errors with creation-only properties
  changelogs/fragments/1833-zfs-creation-only-properties.yaml
  plugins/modules/storage/zfs/zfs.py
Labels: affects_2.10, backport-1, backport-2, bug, check-before-release, community_review, has_issue, module, new_contributor, plugins, small_patch, storage

#1882 Fix: nmcli - Ensure slave-type for bond-slave
  changelogs/fragments/1882-fix-nmcli-ensure-slave-type-for-bond-slave.yml
  plugins/modules/net_tools/nmcli.py
Labels: affects_2.10, backport-1, backport-2, bug, check-before-release, community_review, module, net_tools, plugins, small_patch

#720 Bugfix/manageiq inventory
  changelogs/fragments/720-cloudforms_inventory.yml
  scripts/inventory/cloudforms.py
Labels: affects_2.10, backport-1, backport-2, bug, check-before-release, community_review, needs_triage, new_contributor

#1966 bug_report issue form
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: affects_2.10, bug, community_review, needs_triage

#1968 Add other GH Issue forms
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: affects_2.10, bug, community_review, needs_triage

#1927 Deprecation of parameters triggering the parameter-invalid sanity-check
  changelogs/fragments/1927-removed-parameter-invalid.yml
  plugins/modules/packaging/language/composer.py
  plugins/modules/packaging/os/apt_rpm.py
  plugins/modules/packaging/os/homebrew.py
  plugins/modules/packaging/os/homebrew_cask.py
  plugins/modules/packaging/os/opkg.py
  plugins/modules/packaging/os/pacman.py
  plugins/modules/packaging/os/slackpkg.py
  plugins/modules/packaging/os/urpmi.py
  plugins/modules/packaging/os/xbps.py
  plugins/modules/source_control/github/github_deploy_key.py
  plugins/modules/system/puppet.py
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.9.txt
Labels: affects_2.10, backport-2, bug, community_review, language, module, os, packaging, plugins, source_control, system, tests

#1683 Added new module github_repo
  plugins/modules/github_repo.py
  plugins/modules/source_control/github/github_repo.py
  tests/unit/plugins/modules/source_control/github/__init__.py
  tests/unit/plugins/modules/source_control/github/test_github_repo.py
  tests/unit/requirements.txt
Labels: affects_2.10, backport-2, check-before-release, community_review, module, new_contributor, new_module, new_plugin, plugins, source_control, tests, unit

#719 Extending manageiq modules with parameter resource_id
  changelogs/fragments/719-manageiq-resource_id.yml
  plugins/modules/remote_management/manageiq/manageiq_policies.py
  plugins/modules/remote_management/manageiq/manageiq_tags.py
Labels: affects_2.10, backport-2, check-before-release, community_review, feature, module, plugins, remote_management

#1972 ini_file - allows adding empty string as a value
  changelogs/fragments/1972-ini_file-empty-str-value.yml
  plugins/modules/files/ini_file.py
  tests/integration/targets/ini_file/tasks/main.yml
Labels: affects_2.10, backport-2, bug, community_review, files, integration, module, plugins, tests

#1970 Tidy up sanity checks ignore lines modules (batch 7)
  changelogs/fragments/1970-valmod-batch7.yml
  plugins/modules/cloud/heroku/heroku_collaborator.py
  plugins/modules/cloud/linode/linode_v4.py
  plugins/modules/cloud/opennebula/one_host.py
  plugins/modules/cloud/opennebula/one_image_info.py
  plugins/modules/cloud/opennebula/one_vm.py
  plugins/modules/cloud/packet/packet_volume_attachment.py
  plugins/modules/cloud/scaleway/scaleway_compute.py
  plugins/modules/cloud/scaleway/scaleway_lb.py
  plugins/modules/remote_management/manageiq/manageiq_alert_profiles.py
  plugins/modules/remote_management/manageiq/manageiq_policies.py
  plugins/modules/remote_management/manageiq/manageiq_provider.py
  plugins/modules/remote_management/manageiq/manageiq_tags.py
  plugins/modules/remote_management/oneview/oneview_datacenter_info.py
  plugins/modules/remote_management/oneview/oneview_enclosure_info.py
  plugins/modules/remote_management/oneview/oneview_ethernet_network_info.py
  plugins/modules/remote_management/oneview/oneview_network_set_info.py
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.9.txt
Labels: affects_2.10, bug, cloud, community_review, module, plugins, remote_management, tests

#1983 [stable-1] docker_image: fix handling of image IDs
  changelogs/fragments/community.docker-87-docker_image-load-image-ids.yml
  plugins/module_utils/docker/common.py
  plugins/modules/cloud/docker/docker_image.py
  plugins/modules/cloud/docker/docker_image_info.py
Labels: affects_2.10, bug, cloud, community_review, docker, module, module_utils, needs_triage, new_module, new_plugin, plugins

#1982 [stable-1] docker_container: fix healthcheck idempotency issue with strict comparison
  changelogs/fragments/community.docker-88-docker_container-healthcheck.yml
  plugins/modules/cloud/docker/docker_container.py
  tests/integration/targets/docker_container/tasks/tests/options.yml
Labels: affects_2.10, bug, cloud, community_review, docker, integration, module, needs_triage, new_module, new_plugin, tests

#1977 jenkins_job - added validate_certs parameter, setting the PYTHONHTTPSVERIFY env var
  changelogs/fragments/1977-jenkinsjob-validate-certs.yml
  plugins/modules/web_infrastructure/jenkins_job.py
Labels: affects_2.10, backport-2, check-before-release, community_review, feature, has_issue, module, plugins, web_infrastructure

#1949 Allow tags strings containing commas in proxmox inventory plug-in
  changelogs/fragments/1949-proxmox-inventory-tags.yml
  plugins/inventory/proxmox.py
  tests/unit/plugins/inventory/test_proxmox.py
Labels: affects_2.10, backport-1, backport-2, bug, check-before-release, community_review, feature, has_issue, inventory, needs_triage, new_contributor, plugins, tests, unit

#1991 Excluded qemu templates in pools
  changelogs/fragments/1991-proxmox-inventory-fix-template-in-pool.yml
  plugins/inventory/proxmox.py
Labels: affects_2.10, backport-1, backport-2, bug, check-before-release, community_review, has_issue, inventory, needs_triage, plugins, small_patch

#2001 Mark non-secret leaking module options with no_log=False
  changelogs/fragments/2001-no_log-false.yml
  plugins/module_utils/oracle/oci_utils.py
  plugins/modules/cloud/pubnub/pubnub_blocks.py
  plugins/modules/cloud/spotinst/spotinst_aws_elastigroup.py
  plugins/modules/cloud/xenserver/xenserver_guest.py
  plugins/modules/clustering/consul/consul_acl.py
  plugins/modules/clustering/consul/consul_kv.py
  plugins/modules/clustering/etcd3.py
  plugins/modules/files/read_csv.py
  plugins/modules/files/xattr.py
  plugins/modules/net_tools/cloudflare_dns.py
  plugins/modules/source_control/bitbucket/bitbucket_access_key.py
  plugins/modules/source_control/bitbucket/bitbucket_pipeline_known_host.py
  plugins/modules/source_control/github/github_deploy_key.py
  plugins/modules/source_control/gitlab/gitlab_deploy_key.py
  plugins/modules/system/dconf.py
  plugins/modules/system/gconftool2.py
  plugins/modules/system/osx_defaults.py
Labels: affects_2.10, backport-1, backport-2, bug, cloud, clustering, community_review, files, gitlab, module, module_utils, net_tools, plugins, source_control, system

#1999 Remove password requirement when creating lxc containers
  changelogs/fragments/1999-proxmox-fix-issue-1955.yml
  plugins/modules/cloud/misc/proxmox.py
Labels: affects_2.10, backport-1, backport-2, bug, check-before-release, cloud, community_review, has_issue, module, plugins, small_patch

#2015 [stable-1] docker_swarm: mark join_token as no_log
  changelogs/fragments/community.docker-103-docker_swarm-no_log.yml
  plugins/modules/cloud/docker/docker_swarm.py
Labels: affects_2.10, bug, cloud, community_review, docker, module, needs_triage, new_module, new_plugin

#2010 no_log: more false-positives (not flagged by sanity tests yet)
  plugins/module_utils/identity/keycloak/keycloak.py
  plugins/modules/cloud/linode/linode_v4.py
  plugins/modules/cloud/misc/proxmox_kvm.py
  plugins/modules/cloud/oneandone/oneandone_server.py
  plugins/modules/cloud/profitbricks/profitbricks.py
  plugins/modules/cloud/profitbricks/profitbricks_volume.py
  plugins/modules/cloud/softlayer/sl_vm.py
  plugins/modules/database/aerospike/aerospike_migrations.py
  plugins/modules/monitoring/datadog/datadog_event.py
  plugins/modules/monitoring/pagerduty_alert.py
  plugins/modules/remote_management/manageiq/manageiq_provider.py
  plugins/modules/source_control/gitlab/gitlab_user.py
Labels: affects_2.10, backport-1, backport-2, bug, cloud, community_review, database, gitlab, identity, module, module_utils, monitoring, needs_triage, plugins, remote_management, source_control

#2018 [stable-1] Add missing no_log=True
  changelogs/fragments/missing-no_log-again.yml
  plugins/modules/storage/netapp/na_cdot_user.py
  plugins/modules/storage/netapp/sf_account_manager.py
Labels: affects_2.10, bug, community_review, module, needs_triage, new_module, new_plugin, plugins, small_patch, storage

#2017 [stable-1] no_log: more false-positives (not flagged by sanity tests yet)
  plugins/module_utils/identity/keycloak/keycloak.py
  plugins/modules/cloud/docker/docker_swarm_service.py
  plugins/modules/cloud/google/gc_storage.py
  plugins/modules/cloud/linode/linode_v4.py
  plugins/modules/cloud/lxd/lxd_container.py
  plugins/modules/cloud/lxd/lxd_profile.py
  plugins/modules/cloud/misc/proxmox_kvm.py
  plugins/modules/cloud/oneandone/oneandone_server.py
  plugins/modules/cloud/profitbricks/profitbricks.py
  plugins/modules/cloud/profitbricks/profitbricks_volume.py
  plugins/modules/cloud/softlayer/sl_vm.py
  plugins/modules/database/aerospike/aerospike_migrations.py
  plugins/modules/monitoring/datadog/datadog_event.py
  plugins/modules/monitoring/pagerduty_alert.py
  plugins/modules/remote_management/manageiq/manageiq_provider.py
  plugins/modules/source_control/gitlab/gitlab_user.py
Labels: affects_2.10, bug, cloud, community_review, database, docker, gce, gitlab, identity, module, module_utils, monitoring, needs_triage, new_module, new_plugin, plugins, remote_management, source_control

#2006 Tidy up sanity checks ignore lines modules (batch 8)
  changelogs/fragments/2006-valmod-batch8.yml
  plugins/modules/cloud/rackspace/rax.py
  plugins/modules/cloud/rackspace/rax_cdb_user.py
  plugins/modules/cloud/rackspace/rax_scaling_group.py
  plugins/modules/cloud/smartos/smartos_image_info.py
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.9.txt
Labels: affects_2.10, backport-2, bug, cloud, community_review, module, needs_maintainer, needs_triage, plugins, tests

#2020 rax - removed service parameter
  changelogs/fragments/2020-remove-unused-param-in-rax.yml
  plugins/modules/cloud/rackspace/rax.py
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.9.txt
Labels: affects_2.10, breaking_change, bug, check-before-release, cloud, community_review, module, plugins, tests

#2014 allow passing the --allow-root flag to kibana_plugin module
  changelogs/fragments/2014-allow-root-for-kibana-plugin.yaml
  plugins/modules/database/misc/kibana_plugin.py
Labels: affects_2.10, backport-2, community_review, database, feature, module, new_contributor, plugins

#2000 Adding tags as module parameter to proxmox_kvm
  changelogs/fragments/2000-proxmox_kvm-tag-support.yml
  plugins/modules/cloud/misc/proxmox_kvm.py
Labels: affects_2.10, backport-2, cloud, community_review, feature, module, plugins

#2024 Improvements and fixes to ModuleHelper, with (some) tests.
  changelogs/fragments/2024-module-helper-fixes.yml
  plugins/module_utils/module_helper.py
  tests/unit/plugins/module_utils/test_module_helper.py
Labels: affects_2.10, backport-1, backport-2, bug, community_review, module_utils, needs_triage, plugins, tests, unit

#2036 fix: scaleway inventory pagination
  changelogs/fragments/2036-scaleway-inventory.yml
  plugins/module_utils/scaleway.py
Labels: affects_2.10, backport-1, backport-2, bug, check-before-release, cloud, community_review, module_utils, new_contributor, owner_pr, plugins, small_patch

#2039 update linode team
  .github/BOTMETA.yml
Labels: affects_2.10, backport-1, backport-2, community_review, needs_triage, new_contributor, small_patch

#2040 Fix IndexError in SetManagerNic
  changelogs/fragments/2040-fix-index-error-in-redfish-set-manager-nic.yml
  plugins/module_utils/redfish_utils.py
Labels: affects_2.10, backport-1, backport-2, bug, check-before-release, has_issue, module_utils, owner_pr, plugins, shipit, small_patch

#2013 Adding purge parameter to proxmox for use with lxc delete requests
  changelogs/fragments/2013-proxmox-purge-parameter.yml
  plugins/modules/cloud/misc/proxmox.py
Labels: affects_2.10, backport-2, cloud, community_review, feature, module, plugins

#2027 Add support for Redfish session create, delete, and authenticate
  changelogs/fragments/2027-add-redfish-session-create-delete-authenticate.yml
  plugins/module_utils/redfish_utils.py
  plugins/modules/remote_management/redfish/idrac_redfish_command.py
  plugins/modules/remote_management/redfish/idrac_redfish_config.py
  plugins/modules/remote_management/redfish/idrac_redfish_info.py
  plugins/modules/remote_management/redfish/redfish_command.py
  plugins/modules/remote_management/redfish/redfish_config.py
  plugins/modules/remote_management/redfish/redfish_info.py
Labels: affects_2.10, automerge, feature, has_issue, module, module_utils, owner_pr, plugins, remote_management, shipit

#2051 [stable-1] update linode team
  .github/BOTMETA.yml
Labels: affects_2.10, community_review, feature, needs_triage, small_patch

#2047 Adding xmadsen and renxulei as Redfish maintainers
  .github/BOTMETA.yml
Labels: affects_2.10, backport-1, backport-2, community_review, needs_triage, new_contributor, small_patch

#2057 Fix nios modules to work with ansible-core 2.11
  changelogs/fragments/2057-nios-devel.yml
  plugins/module_utils/net_tools/nios/api.py
  tests/unit/plugins/module_utils/net_tools/nios/test_api.py
  tests/unit/plugins/modules/net_tools/nios/test_nios_a_record.py
  tests/unit/plugins/modules/net_tools/nios/test_nios_aaaa_record.py
  tests/unit/plugins/modules/net_tools/nios/test_nios_cname_record.py
  tests/unit/plugins/modules/net_tools/nios/test_nios_dns_view.py
  tests/unit/plugins/modules/net_tools/nios/test_nios_host_record.py
  tests/unit/plugins/modules/net_tools/nios/test_nios_mx_record.py
  tests/unit/plugins/modules/net_tools/nios/test_nios_naptr_record.py
  tests/unit/plugins/modules/net_tools/nios/test_nios_network_view.py
  tests/unit/plugins/modules/net_tools/nios/test_nios_nsgroup.py
  tests/unit/plugins/modules/net_tools/nios/test_nios_srv_record.py
Labels: affects_2.10, backport-1, backport-2, bug, community_review, has_issue, module, module_utils, needs_maintainer, net_tools, plugins, tests, unit

#2063 archive - created an integration test that archives broken links
  tests/integration/targets/archive/tasks/broken-link.yml
  tests/integration/targets/archive/tasks/main.yml
Labels: affects_2.10, backport-1, backport-2, community_review, docs, files, integration, needs_triage, plugins, tests

#2031 ipa_sudorule add support for setting runasextusers
  changelogs/fragments/2031-ipa_sudorule_add_runasextusers.yml
  plugins/modules/identity/ipa/ipa_sudorule.py
Labels: affects_2.10, backport-2, check-before-release, community_review, feature, identity, module, new_contributor, plugins

#2061 archive - a first refactoring
  changelogs/fragments/2061-archive-refactor1.yml
  plugins/modules/files/archive.py
Labels: affects_2.10, backport-2, bug, community_review, feature, files, module, plugins

#328 Add gandi_livedns module
  plugins/module_utils/gandi_livedns_api.py
  plugins/modules/gandi_livedns.py
  plugins/modules/net_tools/gandi_livedns.py
  tests/integration/targets/gandi_livedns/aliases
  tests/integration/targets/gandi_livedns/defaults/main.yml
  tests/integration/targets/gandi_livedns/tasks/create_record.yml
  tests/integration/targets/gandi_livedns/tasks/main.yml
  tests/integration/targets/gandi_livedns/tasks/record.yml
  tests/integration/targets/gandi_livedns/tasks/remove_record.yml
  tests/integration/targets/gandi_livedns/tasks/update_record.yml
Labels: affects_1, backport-2, integration, module, module_utils, needs_info, new_contributor, new_module, new_plugin, pr_day, tests

#803 New module: Add Pritunl VPN user module (net_tools/pritunl/)
  plugins/doc_fragments/pritunl.py
  plugins/module_utils/net_tools/pritunl/__init__.py
  plugins/module_utils/net_tools/pritunl/api.py
  plugins/modules/net_tools/pritunl/pritunl_user.py
  plugins/modules/net_tools/pritunl/pritunl_user_info.py
  plugins/modules/pritunl_user.py
  plugins/modules/pritunl_user_info.py
  tests/unit/plugins/module_utils/net_tools/pritunl/__init__.py
  tests/unit/plugins/module_utils/net_tools/pritunl/test_api.py
  tests/unit/plugins/modules/net_tools/pritunl/test_pritunl_user.py
  tests/unit/plugins/modules/net_tools/pritunl/test_pritunl_user_info.py
Labels: affects_2.10, backport-2, community_review, docs_fragments, module, module_utils, net_tools, new_contributor, new_module, new_plugin, plugins, tests, unit

#2067 [PR #2063/f5a9584a backport][stable-1] archive - created an integration test that archives broken links (#2063)
  tests/integration/targets/archive/tasks/broken-link.yml
  tests/integration/targets/archive/tasks/main.yml
Labels: affects_2.10, community_review, docs, files, integration, needs_triage, plugins, tests

#2065 snmp_facts - added timeout and retries params to module
  changelogs/fragments/2065-snmp-facts-timeout.yml
  plugins/modules/net_tools/snmp_facts.py
Labels: affects_2.10, backport-2, community_review, feature, module, net_tools, plugins

#2037 New Filter plugin from_csv
  changelogs/fragments/2037-add-from-csv-filter.yml
  plugins/filter/from_csv.py
  plugins/module_utils/csv.py
  plugins/modules/files/read_csv.py
  tests/integration/targets/filter_from_csv/aliases
  tests/integration/targets/filter_from_csv/tasks/main.yml
  tests/integration/targets/filter_from_csv/vars/main.yml
  tests/unit/plugins/module_utils/test_csv.py
Labels: affects_2.10, backport-2, community_review, feature, files, integration, module, module_utils, new_plugin, plugins, tests, unit

#2072 stacki_host - configured params to use fallback instead of default
  changelogs/fragments/2072-stacki-host-params-fallback.yml
  plugins/modules/remote_management/stacki/stacki_host.py
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.9.txt
Labels: affects_2.10, backport-1, backport-2, bug, community_review, module, plugins, remote_management, tests

#2053 Add support for Redfish session create, delete, and authenticate (#2027)
  changelogs/fragments/2027-add-redfish-session-create-delete-authenticate.yml
  plugins/module_utils/redfish_utils.py
  plugins/modules/remote_management/redfish/idrac_redfish_command.py
  plugins/modules/remote_management/redfish/idrac_redfish_config.py
  plugins/modules/remote_management/redfish/idrac_redfish_info.py
  plugins/modules/remote_management/redfish/redfish_command.py
  plugins/modules/remote_management/redfish/redfish_config.py
  plugins/modules/remote_management/redfish/redfish_info.py
Labels: affects_2.10, check-before-release, community_review, feature, module, module_utils, owner_pr, plugins, remote_management

#2052 improve force_archive parameter documentation of archive module
  plugins/modules/files/archive.py
Labels: affects_2.10, backport-1, backport-2, check-before-release, community_review, docs, files, module, new_contributor, plugins, small_patch

#2062 archive - fixed documentation
  plugins/modules/files/archive.py
Labels: affects_2.10, backport-1, backport-2, community_review, docs, files, module, needs_triage, plugins, small_patch

#2083 Temporarily disable copr integration tests due to failures with remote repository
  tests/integration/targets/copr/aliases
Labels: affects_2.10, backport-2, community_review, integration, os, packaging, plugins, small_patch, tests

#2082 Install collections in CI directly with git
  tests/utils/shippable/shippable.sh
Labels: affects_2.10, community_review, needs_triage, tests, unit

#2087 [stable-1] Install collections in CI directly with git
  changelogs/fragments/2087-restrict-kubernetes-dependency.yml
  galaxy.yml
  tests/utils/shippable/shippable.sh
Labels: affects_2.10, community_review, needs_triage, tests, unit

#2032 opennebula: port one_image to pyone
  changelogs/fragments/2032-one_image-pyone.yml
  plugins/modules/cloud/opennebula/one_image.py
Labels: affects_2.10, breaking_change, bug, check-before-release, cloud, community_review, module, new_contributor, plugins, python3, traceback

#2092 Tidy up validation check for oneview modules
  plugins/doc_fragments/oneview.py
  plugins/modules/remote_management/oneview/oneview_datacenter_info.py
  plugins/modules/remote_management/oneview/oneview_enclosure_info.py
  plugins/modules/remote_management/oneview/oneview_ethernet_network.py
  plugins/modules/remote_management/oneview/oneview_ethernet_network_info.py
  plugins/modules/remote_management/oneview/oneview_fc_network.py
  plugins/modules/remote_management/oneview/oneview_fc_network_info.py
  plugins/modules/remote_management/oneview/oneview_fcoe_network.py
  plugins/modules/remote_management/oneview/oneview_fcoe_network_info.py
  plugins/modules/remote_management/oneview/oneview_logical_interconnect_group.py
  plugins/modules/remote_management/oneview/oneview_logical_interconnect_group_info.py
  plugins/modules/remote_management/oneview/oneview_network_set.py
  plugins/modules/remote_management/oneview/oneview_network_set_info.py
  plugins/modules/remote_management/oneview/oneview_san_manager.py
  plugins/modules/remote_management/oneview/oneview_san_manager_info.py
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.9.txt
Labels: affects_2.10, backport-1, backport-2, community_review, docs, docs_fragments, module, plugins, remote_management, tests

#2007 add new module xcc_redfish_command to manage Lenovo servers using Redfish APIs
  .github/BOTMETA.yml
  plugins/modules/remote_management/lenovoxcc/xcc_redfish_command.py
  plugins/modules/xcc_redfish_command.py
  tests/unit/plugins/modules/remote_management/lenovoxcc/test_xcc_redfish_command.py
Labels: affects_2.10, backport-2, module, needs_revision, needs_triage, new_contributor, new_module, new_plugin, remote_management, tests, unit

#2054 Add support for `sudo su -` using password auth
  plugins/become/sudosu.py
  tests/unit/plugins/become/test_sudosu.py
Labels: affects_2.10, backport-2, become, community_review, feature, new_plugin, plugins, tests, unit

#2096 Add a Pulp 2 related note to pulp_repo
  plugins/modules/packaging/os/pulp_repo.py
Labels: affects_2.10, backport-1, backport-2, community_review, docs, module, new_contributor, os, packaging, plugins, small_patch

#2098 [stable-1] Tidy up validation check for oneview modules
  plugins/doc_fragments/oneview.py
  plugins/modules/remote_management/oneview/oneview_datacenter_info.py
  plugins/modules/remote_management/oneview/oneview_enclosure_info.py
  plugins/modules/remote_management/oneview/oneview_ethernet_network.py
  plugins/modules/remote_management/oneview/oneview_ethernet_network_info.py
  plugins/modules/remote_management/oneview/oneview_fc_network.py
  plugins/modules/remote_management/oneview/oneview_fc_network_info.py
  plugins/modules/remote_management/oneview/oneview_fcoe_network.py
  plugins/modules/remote_management/oneview/oneview_fcoe_network_info.py
  plugins/modules/remote_management/oneview/oneview_logical_interconnect_group.py
  plugins/modules/remote_management/oneview/oneview_logical_interconnect_group_info.py
  plugins/modules/remote_management/oneview/oneview_network_set.py
  plugins/modules/remote_management/oneview/oneview_network_set_info.py
  plugins/modules/remote_management/oneview/oneview_san_manager.py
  plugins/modules/remote_management/oneview/oneview_san_manager_info.py
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.9.txt
Labels: affects_2.10, bug, community_review, docs_fragments, module, needs_triage, plugins, remote_management, tests

#2103 ipa_service - Correct pluralisation of "hosts" in example
  plugins/modules/identity/ipa/ipa_service.py
Labels: affects_2.10, backport-1, backport-2, community_review, docs, identity, module, needs_triage, new_contributor, plugins, small_patch

#2102 Updated vdo maintainer to rhawalsh.
  .github/BOTMETA.yml
Labels: affects_2.10, backport-1, backport-2, community_review, docs, needs_triage, new_contributor, small_patch

#2094 Bugfix: Respect PATH env variable in zypper modules
  changelogs/fragments/2094-bugfix-respect-PATH-env-variable-in-zypper-modules.yaml
  plugins/modules/packaging/os/zypper.py
  plugins/modules/packaging/os/zypper_repository.py
Labels: affects_2.10, backport-1, backport-2, bug, community_review, module, new_contributor, os, packaging, plugins

#2046 opennebula: add one_template module
  plugins/module_utils/opennebula.py
  plugins/modules/cloud/opennebula/one_template.py
  plugins/modules/one_template.py
  tests/integration/targets/one_template/aliases
  tests/integration/targets/one_template/files/testhost/tmp/opennebula-fixtures.json.gz
  tests/integration/targets/one_template/tasks/main.yml
Labels: affects_2.10, backport-2, cloud, community_review, integration, module, module_utils, new_module, new_plugin, plugins, tests

#2030 [stable-2] Typo fix in changelog
  changelogs/changelog.yaml
Labels: affects_2.10, community_review, docs, needs_triage, small_patch, stale_ci

#2112 AZP: update default container version
  .azure-pipelines/azure-pipelines.yml
Labels: backport-1, backport-2, community_review, small_patch

#2118 Remove billdodd from team_redfish
  .github/BOTMETA.yml
Labels: affects_2.10, backport-1, backport-2, community_review, needs_triage, small_patch

#2110 vdo: add force option
  changelogs/fragments/2110-vdo-add_force_option.yaml
  plugins/modules/system/vdo.py
Labels: affects_2.10, backport-2, check-before-release, community_review, feature, module, plugins, system

#2125 git_config - fixed bug with scope file
  changelogs/fragments/2125-git-config-scope-file.yml
  plugins/modules/source_control/git_config.py
  tests/integration/targets/git_config/aliases
  tests/integration/targets/git_config/tasks/get_set_state_present_file.yml
  tests/integration/targets/git_config/tasks/main.yml
  tests/integration/targets/git_config/tasks/setup_no_value.yml
  tests/integration/targets/git_config/tasks/setup_value.yml
Labels: affects_2.10, backport-1, backport-2, bug, check-before-release, community_review, integration, module, needs_triage, plugins, source_control, tests

#2091 Callback plugin: Azure Log Analytics
  plugins/callback/loganalytics.py
  tests/unit/plugins/callback/test_loganalytics.py
Labels: affects_2.10, backport-2, callback, check-before-release, feature, needs_revision, needs_triage, new_contributor, new_plugin, plugins, tests, unit

#2136 fix type information for vmadm.resolvers
  changelogs/fragments/2135-vmadm-resolvers-type-fix.yml
  plugins/modules/cloud/smartos/vmadm.py
Labels: affects_2.10, backport-1, backport-2, bug, cloud, community_review, has_issue, module, new_contributor, plugins, small_patch

#2139 Dimensiondata network str format
  changelogs/fragments/2139-dimensiondata_network-str-format.yml
  plugins/modules/cloud/dimensiondata/dimensiondata_network.py
Labels: affects_2.10, backport-1, backport-2, bug, cloud, community_review, files, module, module_utils, needs_triage, os, packaging, plugins, small_patch, system, tests, unit
