Repository ansible-collections/community.general, pull requests merged in 2021-12, with the labels that each got.

#3808 logstash_plugin - invoke run_command passing list
  changelogs/fragments/3808-logstash_plugin-run_command-list.yaml
  plugins/modules/monitoring/logstash_plugin.py
Labels: feature, module, plugins, monitoring, check-before-release, backport-4

#3822 ip_netns - invoke run_command passing list
  changelogs/fragments/3822-ip_netns-run-list.yaml
  plugins/modules/net_tools/ip_netns.py
Labels: feature, module, plugins, net_tools, backport-4

#3829 svc - invoke run_command passing list
  changelogs/fragments/3829-svc-run-list.yaml
  plugins/modules/system/svc.py
Labels: feature, module, needs_revision, plugins, system, check-before-release, backport-4

#3821 monit - invoke run_command passing list
  changelogs/fragments/3821-monit-run-list.yaml
  plugins/modules/monitoring/monit.py
  tests/unit/plugins/modules/monitoring/test_monit.py
Labels: feature, module, tests, unit, plugins, monitoring, backport-4

#3835 java_cert - invoke run_command passing list
  changelogs/fragments/3835-java-cert-run-list.yaml
  plugins/modules/system/java_cert.py
Labels: feature, module, plugins, system, check-before-release, backport-4

#3802 nmcli - add support for addr-gen-mode and ip6-privacy options
  changelogs/fragments/3357-nmcli-eui64-and-ipv6privacy.yml
  plugins/modules/net_tools/nmcli.py
  tests/unit/plugins/modules/net_tools/test_nmcli.py
Labels: feature, module, tests, unit, plugins, net_tools, backport-4

#3837 opentelemetry: honour ignore errors
  changelogs/fragments/3837-opentelemetry_plugin-honour_ignore_errors.yaml
  plugins/callback/opentelemetry.py
Labels: bug, needs_revision, callback, plugins, check-before-release, backport-3, backport-4

#3852 Add stable-4 to nightly CI jobs; make stable-2 weekly
  .azure-pipelines/azure-pipelines.yml
Labels: needs_revision, small_patch, backport-1, backport-2, backport-3, backport-4

#3853 Moved changelog fragment file to the right directory
  changelogs/fragments/3792-improve_gitlab_group_and_project.yml
Labels: feature, owner_pr, backport-4

#3850 MH additional test
  tests/integration/targets/module_helper/tasks/msimpleda.yml
Labels: feature, tests, integration, backport-3, backport-4

#3849 MH decorators - added decorators for check_mode
  changelogs/fragments/3849-mh-check-mode-decos.yaml
  plugins/module_utils/mh/deco.py
  tests/integration/targets/module_helper/library/msimple.py
  tests/integration/targets/module_helper/tasks/msimple.yml
Labels: feature, tests, integration, module_utils, plugins, backport-4

#3862 interfaces_file - fixed dup options bug
  changelogs/fragments/3862-interfaces-file-fix-dup-option.yaml
  plugins/modules/system/interfaces_file.py
  tests/integration/targets/interfaces_file/files/interfaces_ff_3841
  tests/integration/targets/interfaces_file/tasks/main.yml
Labels: bug, module, tests, integration, plugins, system, backport-3, backport-4

#3472 update scaleway maintainers
  .github/BOTMETA.yml
  plugins/inventory/online.py
  plugins/inventory/scaleway.py
  plugins/modules/cloud/online/online_server_info.py
  plugins/modules/cloud/online/online_user_info.py
  plugins/modules/cloud/scaleway/scaleway_compute.py
  plugins/modules/cloud/scaleway/scaleway_image_info.py
  plugins/modules/cloud/scaleway/scaleway_ip.py
  plugins/modules/cloud/scaleway/scaleway_ip_info.py
  plugins/modules/cloud/scaleway/scaleway_lb.py
  plugins/modules/cloud/scaleway/scaleway_organization_info.py
  plugins/modules/cloud/scaleway/scaleway_security_group_info.py
  plugins/modules/cloud/scaleway/scaleway_server_info.py
  plugins/modules/cloud/scaleway/scaleway_snapshot_info.py
  plugins/modules/cloud/scaleway/scaleway_sshkey.py
  plugins/modules/cloud/scaleway/scaleway_user_data.py
  plugins/modules/cloud/scaleway/scaleway_volume_info.py
Labels: bug, module, needs_revision, new_contributor, inventory, plugins, cloud, backport-3, backport-4

#3876 small docs update for timezone module
  plugins/modules/system/timezone.py
Labels: module, small_patch, plugins, docs, system, backport-3, docs_only, backport-4

#3795 add module gitlab_branch
  .github/BOTMETA.yml
  plugins/modules/gitlab_branch.py
  plugins/modules/source_control/gitlab/gitlab_branch.py
  tests/integration/targets/gitlab_branch/aliases
  tests/integration/targets/gitlab_branch/defaults/main.yml
  tests/integration/targets/gitlab_branch/tasks/main.yml
Labels: module, stale_ci, tests, integration, new_plugin, plugins, gitlab, source_control, backport-4

#3776 nmcli: adding ipv6 address list support
  changelogs/fragments/1088-add_multiple_ipv6_address_support.yml
  changelogs/fragments/1088-nmcli_add_multiple_addresses_support.yml
  plugins/modules/net_tools/nmcli.py
  tests/unit/plugins/modules/net_tools/test_nmcli.py
Labels: bug, module, tests, unit, plugins, net_tools, backport-4

#3798 Update lxd connection to use all documented vars for options
  changelogs/fragments/3798-fix-lxd-connection-option-vars-support.yml
  plugins/connection/lxd.py
Labels: bug, connection, new_contributor, plugins, backport-3, backport-4

#3833 aix_filesystems - invoke run_command passing list
  changelogs/fragments/3833-aix_filesystem-run-list.yaml
  plugins/modules/system/aix_filesystem.py
Labels: feature, module, plugins, system, backport-4

#3834 aix_lvg - invoke run_command passing list
  changelogs/fragments/3834-aix-lvg-run-list.yaml
  plugins/modules/system/aix_lvg.py
Labels: feature, module, plugins, system, backport-4

#3838 jira - Add support for Bearer token auth
  changelogs/fragments/3838-jira-token.yaml
  plugins/modules/web_infrastructure/jira.py
Labels: feature, module, new_contributor, plugins, web_infrastructure, backport-4

#3885 [stable-4] nmcli: adding ipv6 address list support
  changelogs/fragments/1088-add_multiple_ipv6_address_support.yml
  plugins/modules/net_tools/nmcli.py
  tests/unit/plugins/modules/net_tools/test_nmcli.py
Labels: feature, module, tests, unit, plugins, net_tools, backport

#3851 lxc_container - invoke run_command passing list
  changelogs/fragments/3851-lxc-container-run-list.yaml
  plugins/modules/cloud/lxc/lxc_container.py
Labels: feature, module, plugins, cloud, backport-4

#3739 add dnsimple_info module, see issue #3569
  .github/BOTMETA.yml
  plugins/modules/dnsimple_info.py
  plugins/modules/net_tools/dnsimple_info.py
  tests/unit/plugins/modules/net_tools/test_dnsimple_info.py
Labels: module, tests, unit, new_contributor, new_plugin, plugins, backport-4

#3840 hponcfg - revamped the module using ModuleHelper
  changelogs/fragments/3840-hponcfg-mh-revamp.yaml
  plugins/modules/remote_management/hpilo/hponcfg.py
Labels: feature, module, plugins, remote_management, backport-4

#3740 Modules for managing HPE iLO
  .github/BOTMETA.yml
  plugins/module_utils/ilo_redfish_utils.py
  plugins/module_utils/redfish_utils.py
  plugins/modules/ilo_redfish_config.py
  plugins/modules/ilo_redfish_info.py
  plugins/modules/remote_management/redfish/ilo_redfish_config.py
  plugins/modules/remote_management/redfish/ilo_redfish_info.py
  tests/integration/targets/ilo_redfish_config/aliases
  tests/integration/targets/ilo_redfish_config/tasks/main.yml
  tests/integration/targets/ilo_redfish_info/aliases
  tests/integration/targets/ilo_redfish_info/tasks/main.yml
Labels: module, tests, integration, new_contributor, new_plugin, module_utils, plugins, remote_management, backport-4

#3893 Docs improvements
  plugins/lookup/etcd3.py
  plugins/modules/database/misc/redis_data.py
  plugins/modules/database/misc/redis_data_incr.py
  plugins/modules/database/misc/redis_data_info.py
  plugins/modules/net_tools/snmp_facts.py
  plugins/modules/system/nosh.py
Labels: module, lookup, database, plugins, docs, net_tools, system, backport-4

#3895 [stable-3] Docs improvements
  plugins/lookup/etcd3.py
  plugins/modules/database/misc/redis_data_info.py
  plugins/modules/net_tools/snmp_facts.py
  plugins/modules/system/nosh.py
Labels: module, lookup, database, plugins, docs, net_tools, system, backport

#3896 Pass missing vlan-related options (flags, ingress, egress) to nmcli
  changelogs/fragments/3896-nmcli_vlan_missing_options.yaml
  plugins/modules/net_tools/nmcli.py
Labels: bug, module, new_contributor, plugins, net_tools, backport-3, backport-4

#3874 proxmox - fixing onboot parameter causing module failure when not defined
  changelogs/fragments/3874-proxmox-fix-onboot-param.yml
  plugins/module_utils/proxmox.py
  plugins/modules/cloud/misc/proxmox.py
Labels: bug, module, module_utils, plugins, cloud, backport-3, backport-4

#3909 Fix nrdp string arguments without an encoding
  changelogs/fragments/3909-nrdp_fix_string_args_without_encoding.yaml
  plugins/callback/nrdp.py
Labels: bug, needs_revision, callback, new_contributor, plugins, backport-3, backport-4

#3867 jira - fixed 'body' dict key error
  changelogs/fragments/3867-jira-fix-body.yaml
  plugins/modules/web_infrastructure/jira.py
Labels: bug, module, needs_revision, plugins, web_infrastructure, check-before-release, backport-3, backport-4

#3906 Icinga2 Inventory Plugin - Error handling and inventory name changer
  changelogs/fragments/3875-icinga2-inv-fix.yml
  plugins/inventory/icinga2.py
  tests/unit/plugins/inventory/test_icinga2.py
Labels: bug, tests, unit, inventory, plugins, breaking_change, backport-4

#3919 xfconf - using aggregated base class
  changelogs/fragments/3919-xfconf-baseclass.yaml
  plugins/modules/system/xfconf.py
Labels: feature, module, plugins, system, backport-4

#3922 Disable snap tests
  tests/integration/targets/snap/aliases
  tests/integration/targets/snap_alias/aliases
Labels: tests, integration, small_patch, backport-3, backport-4

#3924 [stable-3] Disable snap tests
  tests/integration/targets/snap/aliases
Labels: tests, integration, small_patch, backport

#3927 fix gitlab_project avatar_path open when undefined bug (#3926)
  plugins/modules/source_control/gitlab/gitlab_project.py
Labels: bug, module, new_contributor, plugins, gitlab, source_control, backport-4

#3918 Add additional auth support to Gitlab (#705)
  changelogs/fragments/705-gitlab-auth-support.yml
  plugins/doc_fragments/gitlab.py
  plugins/module_utils/gitlab.py
  plugins/modules/source_control/gitlab/gitlab_branch.py
  plugins/modules/source_control/gitlab/gitlab_deploy_key.py
  plugins/modules/source_control/gitlab/gitlab_group.py
  plugins/modules/source_control/gitlab/gitlab_group_members.py
  plugins/modules/source_control/gitlab/gitlab_group_variable.py
  plugins/modules/source_control/gitlab/gitlab_hook.py
  plugins/modules/source_control/gitlab/gitlab_project.py
  plugins/modules/source_control/gitlab/gitlab_project_members.py
  plugins/modules/source_control/gitlab/gitlab_project_variable.py
  plugins/modules/source_control/gitlab/gitlab_protected_branch.py
  plugins/modules/source_control/gitlab/gitlab_runner.py
  plugins/modules/source_control/gitlab/gitlab_user.py
Labels: feature, module, docs_fragments, module_utils, plugins, gitlab, source_control, backport-4

#3937 Fix filesystem tests (so they run on their own)
  tests/integration/targets/filesystem/tasks/setup.yml
Labels: tests, integration, backport-3, backport-4

#3936 Prepare for distutils.version being removed in Python 3.12
  changelogs/fragments/3936-distutils.version.yml
  plugins/filter/version_sort.py
  plugins/inventory/cobbler.py
  plugins/inventory/proxmox.py
  plugins/inventory/xen_orchestra.py
  plugins/module_utils/gitlab.py
  plugins/module_utils/influxdb.py
  plugins/module_utils/version.py
  plugins/modules/cloud/centurylink/clc_aa_policy.py
  plugins/modules/cloud/centurylink/clc_alert_policy.py
  plugins/modules/cloud/centurylink/clc_blueprint_package.py
  plugins/modules/cloud/centurylink/clc_firewall_policy.py
  plugins/modules/cloud/centurylink/clc_group.py
  plugins/modules/cloud/centurylink/clc_loadbalancer.py
  plugins/modules/cloud/centurylink/clc_modify_server.py
  plugins/modules/cloud/centurylink/clc_publicip.py
  plugins/modules/cloud/centurylink/clc_server.py
  plugins/modules/cloud/centurylink/clc_server_snapshot.py
  plugins/modules/cloud/misc/proxmox.py
  plugins/modules/cloud/misc/proxmox_kvm.py
  plugins/modules/cloud/misc/terraform.py
  plugins/modules/cloud/rackspace/rax_cbs.py
  plugins/modules/database/misc/kibana_plugin.py
  plugins/modules/files/xml.py
  plugins/modules/identity/ipa/ipa_subca.py
  plugins/modules/monitoring/circonus_annotation.py
  plugins/modules/net_tools/dnsimple.py
  plugins/modules/notification/mqtt.py
  plugins/modules/notification/sendgrid.py
  plugins/modules/packaging/os/flatpak.py
  plugins/modules/packaging/os/homebrew_cask.py
  plugins/modules/packaging/os/mas.py
  plugins/modules/packaging/os/openbsd_pkg.py
  plugins/modules/packaging/os/zypper_repository.py
  plugins/modules/source_control/gitlab/gitlab_branch.py
  plugins/modules/source_control/gitlab/gitlab_protected_branch.py
  plugins/modules/system/dpkg_divert.py
  plugins/modules/system/filesystem.py
  plugins/modules/system/pids.py
  plugins/modules/system/python_requirements_info.py
  plugins/modules/web_infrastructure/htpasswd.py
Labels: bug, module, has_issue, filter, inventory, module_utils, database, plugins, cloud, files, gitlab, monitoring, net_tools, os, packaging, source_control, system, notification, identity, web_infrastructure, check-before-release, backport-3, backport-4

#3942 [stable-3] Prepare for distutils.version being removed in Python 3.12
  changelogs/fragments/3936-distutils.version.yml
  plugins/filter/version_sort.py
  plugins/inventory/cobbler.py
  plugins/inventory/proxmox.py
  plugins/module_utils/gitlab.py
  plugins/module_utils/influxdb.py
  plugins/module_utils/version.py
  plugins/modules/cloud/centurylink/clc_aa_policy.py
  plugins/modules/cloud/centurylink/clc_alert_policy.py
  plugins/modules/cloud/centurylink/clc_blueprint_package.py
  plugins/modules/cloud/centurylink/clc_firewall_policy.py
  plugins/modules/cloud/centurylink/clc_group.py
  plugins/modules/cloud/centurylink/clc_loadbalancer.py
  plugins/modules/cloud/centurylink/clc_modify_server.py
  plugins/modules/cloud/centurylink/clc_publicip.py
  plugins/modules/cloud/centurylink/clc_server.py
  plugins/modules/cloud/centurylink/clc_server_snapshot.py
  plugins/modules/cloud/misc/proxmox.py
  plugins/modules/cloud/misc/proxmox_kvm.py
  plugins/modules/cloud/misc/terraform.py
  plugins/modules/cloud/rackspace/rax_cbs.py
  plugins/modules/database/misc/kibana_plugin.py
  plugins/modules/files/xml.py
  plugins/modules/identity/ipa/ipa_subca.py
  plugins/modules/monitoring/circonus_annotation.py
  plugins/modules/net_tools/dnsimple.py
  plugins/modules/notification/mqtt.py
  plugins/modules/notification/sendgrid.py
  plugins/modules/packaging/os/flatpak.py
  plugins/modules/packaging/os/homebrew_cask.py
  plugins/modules/packaging/os/mas.py
  plugins/modules/packaging/os/openbsd_pkg.py
  plugins/modules/packaging/os/zypper_repository.py
  plugins/modules/source_control/gitlab/gitlab_protected_branch.py
  plugins/modules/system/dpkg_divert.py
  plugins/modules/system/filesystem.py
  plugins/modules/system/pids.py
  plugins/modules/system/python_requirements_info.py
  plugins/modules/web_infrastructure/htpasswd.py
Labels: bug, module, filter, inventory, module_utils, database, plugins, cloud, files, gitlab, monitoring, net_tools, os, packaging, source_control, system, notification, identity, web_infrastructure, backport

#3921 Add counter filter
  .github/BOTMETA.yml
  changelogs/fragments/3921-add-counter-filter-plugin.yml
  docs/docsite/rst/filter_guide.rst
  plugins/filter/counter.py
  tests/integration/targets/filter_counter/aliases
  tests/integration/targets/filter_counter/tasks/main.yml
Labels: feature, tests, integration, plugins, backport-4

#3374 ipa_dnszone: add PTR synchronization support for dnszones
  changelogs/fragments/3374-add-ipa-ptr-sync-support.yml
  plugins/modules/identity/ipa/ipa_dnszone.py
Labels: feature, module, new_contributor, plugins, identity, check-before-release, backport-4

#3940 fix scaleway_user_data
  changelogs/fragments/3940_fix_contenttype_scaleway_user_data.yml
  plugins/modules/cloud/scaleway/scaleway_user_data.py
Labels: bug, module, new_contributor, plugins, cloud, check-before-release, backport-3, backport-4

#3955 Restrict redis to < 4.1.0 for ansible-base 2.10
  tests/utils/shippable/units.sh
Labels: tests, unit, small_patch, backport-1, backport-2, backport-3, backport-4

#3960 [stable-1] Restrict redis to < 4.1.0 for ansible-base 2.10
  tests/utils/shippable/shippable.sh
  tests/utils/shippable/units.sh
Labels: tests, unit, small_patch, backport

#3951 Add support of project id for scawelay_compute
  changelogs/fragments/3951-scaleway_compute_add_project_id.yml
  plugins/modules/cloud/scaleway/scaleway_compute.py
Labels: feature, module, plugins, cloud, backport-4
