Repository ansible-collections/community.general, pull requests merged in 2021-08, with the labels that each got.

#3127 utf8 marker batch1
  plugins/action/system/iptables_state.py
  plugins/action/system/shutdown.py
  plugins/cache/memcached.py
  plugins/cache/pickle.py
  plugins/cache/redis.py
  plugins/cache/yaml.py
  plugins/callback/context_demo.py
  plugins/callback/counter_enabled.py
  plugins/callback/dense.py
  plugins/callback/hipchat.py
  plugins/callback/jabber.py
  plugins/callback/log_plays.py
  plugins/callback/loganalytics.py
  plugins/callback/logdna.py
  plugins/callback/logentries.py
  plugins/callback/logstash.py
  plugins/callback/null.py
  plugins/callback/say.py
  plugins/callback/selective.py
  plugins/callback/slack.py
  plugins/callback/syslog_json.py
  plugins/callback/unixy.py
  plugins/callback/yaml.py
  plugins/connection/chroot.py
  plugins/connection/funcd.py
  plugins/connection/iocage.py
  plugins/connection/jail.py
  plugins/connection/lxc.py
  plugins/connection/lxd.py
  plugins/connection/qubes.py
  plugins/connection/saltstack.py
  plugins/connection/zone.py
  plugins/doc_fragments/hpe3par.py
  plugins/doc_fragments/hwc.py
  plugins/doc_fragments/oracle.py
  plugins/doc_fragments/oracle_creatable_resource.py
  plugins/doc_fragments/oracle_display_name_option.py
  plugins/doc_fragments/oracle_name_option.py
  plugins/doc_fragments/oracle_tags.py
  plugins/doc_fragments/oracle_wait_options.py
  plugins/doc_fragments/vexata.py
Labels: backport-2, backport-3

#3128 uf8 marker batch2
  plugins/filter/dict_kv.py
  plugins/filter/jc.py
  plugins/filter/json_query.py
  plugins/filter/random_mac.py
  plugins/filter/version_sort.py
  plugins/inventory/linode.py
  plugins/inventory/nmap.py
  plugins/inventory/online.py
  plugins/inventory/scaleway.py
  plugins/inventory/stackpath_compute.py
  plugins/inventory/virtualbox.py
  plugins/lookup/cartesian.py
  plugins/lookup/chef_databag.py
  plugins/lookup/consul_kv.py
  plugins/lookup/credstash.py
  plugins/lookup/cyberarkpassword.py
  plugins/lookup/dependent.py
  plugins/lookup/dig.py
  plugins/lookup/dnstxt.py
  plugins/lookup/etcd.py
  plugins/lookup/filetree.py
  plugins/lookup/flattened.py
  plugins/lookup/hiera.py
  plugins/lookup/keyring.py
  plugins/lookup/lastpass.py
  plugins/lookup/lmdb_kv.py
  plugins/lookup/manifold.py
  plugins/lookup/nios.py
  plugins/lookup/passwordstore.py
  plugins/lookup/redis.py
  plugins/lookup/shelvefile.py
Labels: backport-2, backport-3

#3126 filesize: overwrite default `unsafe_writes` documentation
  plugins/modules/files/filesize.py
Labels: backport-2, backport-3, check-before-release

#3081 nmcli: Add support for additional Wi-Fi network options
  changelogs/fragments/3081-add-wifi-option-to-nmcli-module.yml
  plugins/modules/net_tools/nmcli.py
  tests/unit/plugins/modules/net_tools/test_nmcli.py
Labels: affects_2.10, backport-3, community_review, feature, module, needs_ci, needs_maintainer, net_tools, new_contributor, plugins, stale_ci, tests, unit

#2946 dnsimple update for python-dnsimple >=2.0.0
  changelogs/fragments/2946-python-dnsimple-v2-rewrite.yml
  plugins/modules/net_tools/dnsimple.py
  tests/unit/plugins/modules/net_tools/test_dnsimple.py
  tests/unit/requirements.txt
Labels: affects_2.10, backport-3, bug, community_review, module, needs_ci, needs_maintainer, net_tools, new_contributor, new_plugin, plugins, stale_ci, tests, unit

#3135 redfish_command: allow setting the BootSourceOverrideMode property
  changelogs/fragments/3135-add-redfish_command-bootoverridemode.yaml
  plugins/module_utils/redfish_utils.py
  plugins/modules/remote_management/redfish/redfish_command.py
Labels: affects_2.10, backport-3, check-before-release, community_review, feature, has_issue, module, module_utils, needs_ci, plugins, remote_management, stale_ci

#3132 nmcli: manage dummy connections
  changelogs/fragments/3132-nmcli-dummy.yaml
  plugins/modules/net_tools/nmcli.py
  tests/unit/plugins/modules/net_tools/test_nmcli.py
Labels: affects_2.10, backport-3, bug, module, needs_ci, needs_maintainer, needs_revision, net_tools, plugins, stale_ci, tests, unit

#3139 Updated the tss lookup plugin to reflect breaking changes introduced in the underpinning SDK
  changelogs/fragments/3139-tss-lookup-plugin-update-to-make-compatible-with-sdk-v1.yml
  plugins/lookup/tss.py
Labels: bug, stale_ci, lookup, new_contributor, needs_ci, community_review, affects_2.10, plugins, backport-3

#3125 Hana query userstore
  changelogs/fragments/3125-hana-query-userstore.yaml
  plugins/modules/database/saphana/hana_query.py
  tests/unit/plugins/modules/database/saphana/test_hana_query.py
Labels: feature, module, stale_ci, tests, unit, needs_ci, community_review, affects_2.10, database, plugins, check-before-release, needs_maintainer, backport-3

#3111 Update AZP config
  .azure-pipelines/azure-pipelines.yml
  tests/integration/targets/django_manage/aliases
  tests/integration/targets/yum_versionlock/aliases
Labels: stale_ci, tests, integration, needs_ci, community_review, affects_2.10, plugins, os, packaging, web_infrastructure, backport-2, backport-3

#3148 pkgin: display stdout and stderr in case the error occurs
  changelogs/fragments/pkgin-output-after-error.yml
  plugins/modules/packaging/os/pkgin.py
Labels: feature, module, stale_ci, new_contributor, needs_ci, community_review, affects_2.10, plugins, os, packaging, backport-3

#3136 nmcli: Fix change detection for Wi-Fi security options
  changelogs/fragments/3136-add-wifi-sec-change-detection-to-nmcli-module.yml
  plugins/modules/net_tools/nmcli.py
  tests/unit/plugins/modules/net_tools/test_nmcli.py
Labels: bug, module, stale_ci, tests, unit, needs_ci, community_review, affects_2.10, plugins, net_tools, needs_maintainer, backport-3

#3167 Inform contributors on changelog fragments in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: stale_ci, needs_ci, community_review, small_patch, affects_2.10, docs, backport-1, check-before-release, backport-2, backport-3

#3168 contributing: make expected behavior clearer
  CONTRIBUTING.md
Labels: stale_ci, new_contributor, needs_ci, community_review, small_patch, needs_triage, affects_2.10, docs, backport-1, check-before-release, backport-2, backport-3

#3074 ini_file: fix empty-value vs. no-value inconsistency
  changelogs/fragments/3074-ini_file-3031-empty-value-inconsistency.yml
  plugins/modules/files/ini_file.py
  tests/integration/targets/ini_file/tasks/main.yml
Labels: bug, module, stale_ci, tests, integration, needs_ci, community_review, affects_2.10, plugins, files, backport-2, backport-3

#3160 nmcli: writing secrets to command line is a security hole
  changelogs/fragments/3160-pass-wifi-secrets-via-stdin-to-nmcli-module.yml
  plugins/modules/net_tools/nmcli.py
  tests/unit/plugins/modules/net_tools/test_nmcli.py
Labels: bug, module, stale_ci, tests, unit, needs_ci, community_review, affects_2.10, plugins, net_tools, needs_maintainer, backport-3

#3181 [PR #3074/2831bc45 backport][stable-2] ini_file: fix empty-value vs. no-value inconsistency
  changelogs/fragments/3074-ini_file-3031-empty-value-inconsistency.yml
  plugins/modules/files/ini_file.py
  tests/integration/targets/ini_file/tasks/main.yml
Labels: bug, module, stale_ci, tests, integration, new_contributor, needs_ci, community_review, affects_2.10, plugins, files

#3177 Update .gitignore to latest version which includes ignoring Python development environments
  .gitignore
Labels: stale_ci, new_contributor, needs_ci, community_review, needs_triage, affects_2.10, docs, backport-1, backport-2, backport-3

#3161 openbsd_pkg: Fix regexp matching crash
  changelogs/fragments/3161-openbsd-pkg-fix-regexp-matching-crash.yml
  plugins/modules/packaging/os/openbsd_pkg.py
Labels: bug, module, needs_revision, stale_ci, new_contributor, needs_ci, small_patch, affects_2.10, plugins, os, packaging, check-before-release, backport-2, backport-3

#2808 Support older version of psutil (RHEL7 and RHEL6)
  changelogs/fragments/2808-pids-older-psutil.yml
  plugins/modules/system/pids.py
Labels: backport-2, backport-3

#3075 archive - idempotency enhancement for 4.0.0
  changelogs/fragments/3075-archive-idempotency-enhancements.yml
  plugins/modules/files/archive.py
  tests/integration/targets/archive/tests/idempotency.yml
Labels: bug, module, stale_ci, tests, integration, needs_ci, community_review, affects_2.10, plugins, files, breaking_change

#3194 Fix sanity failures
  changelogs/fragments/3194-sanity.yml
  plugins/cache/memcached.py
  plugins/callback/logdna.py
  plugins/connection/saltstack.py
  plugins/inventory/online.py
  plugins/module_utils/_netapp.py
  plugins/module_utils/online.py
  plugins/module_utils/scaleway.py
  plugins/modules/cloud/opennebula/one_template.py
  plugins/modules/cloud/packet/packet_device.py
  plugins/modules/cloud/packet/packet_sshkey.py
  plugins/modules/packaging/language/maven_artifact.py
  plugins/modules/system/launchd.py
  plugins/modules/system/ufw.py
  tests/unit/mock/loader.py
Labels: backport-2, backport-3

#3197 Remove deprecated netapp leftovers
  changelogs/fragments/netapp-removal.yml
  plugins/doc_fragments/_netapp.py
  plugins/module_utils/_netapp.py
Labels: feature, stale_ci, needs_ci, docs_fragments, module_utils, community_review, affects_2.10, plugins, breaking_change

#3033 ini_file: add multiple options with same name to ini file
  changelogs/fragments/273-add_multiple_options_with_same_name_to_ini_file.yml
  plugins/modules/files/ini_file.py
  tests/integration/targets/ini_file/tasks/main.yml
  tests/integration/targets/ini_file/tasks/tests/00-basic.yml
  tests/integration/targets/ini_file/tasks/tests/01-value.yml
  tests/integration/targets/ini_file/tasks/tests/02-values.yml
  tests/integration/targets/ini_file/tasks/tests/03-encoding.yml
Labels: feature, module, stale_ci, tests, integration, new_contributor, has_issue, needs_ci, community_review, affects_2.10, plugins, files, check-before-release, backport-3

#3200 Add ipv4 example to linode inventory docs
  plugins/inventory/linode.py
Labels: stale_ci, new_contributor, needs_ci, inventory, community_review, small_patch, affects_2.10, plugins, cloud, docs, check-before-release, backport-2, backport-3

#3191 vdo - refactor
  changelogs/fragments/3191-vdo-refactor.yml
  plugins/modules/system/vdo.py
Labels: bug, module, stale_ci, needs_ci, community_review, affects_2.10, plugins, system, backport-2, backport-3

#3205 slack - minor refactoring and pythonifying
  changelogs/fragments/3205-slack-minor-refactor.yaml
  plugins/modules/notification/slack.py
Labels: bug, module, stale_ci, needs_ci, community_review, affects_2.10, plugins, notification, check-before-release, backport-3

#3218 Linode inventory plugin typo fixes
  plugins/inventory/linode.py
  tests/unit/plugins/inventory/test_linode.py
Labels: bug, stale_ci, tests, unit, new_contributor, needs_ci, inventory, community_review, small_patch, affects_2.10, plugins, cloud, check-before-release, backport-2, backport-3

#3222 Temporarily disable datadog_downtime unit tests
  tests/unit/plugins/modules/monitoring/test_datadog_downtime.py.disabled
Labels: module, stale_ci, tests, unit, has_issue, new_plugin, needs_ci, community_review, affects_2.10, needs_maintainer, backport-2, backport-3

#3206 module_helper - implemented classmethod to start the module
  changelogs/fragments/3206-mh-classmethod.yaml
  plugins/module_utils/mh/base.py
  plugins/modules/packaging/language/cpanm.py
  plugins/modules/system/xfconf.py
Labels: feature, module, stale_ci, needs_ci, module_utils, community_review, affects_2.10, plugins, packaging, system, language, check-before-release, backport-3

#3199 tss: added fix for bug report in issue #3192
  changelogs/fragments/3199-tss-lookup-plugin-bugfix-for-backwards-compatibility.yml
  plugins/lookup/tss.py
Labels: bug, stale_ci, lookup, needs_ci, community_review, affects_2.10, plugins, backport-3

#3233 redfish_info: Include Status property for GetChassisThermals
  changelogs/fragments/3233-include-thermal-sensor-status-via-redfish_info.yaml
  plugins/module_utils/redfish_utils.py
Labels: feature, stale_ci, has_issue, needs_ci, module_utils, community_review, small_patch, affects_2.10, plugins, backport-3

#3228 tss: add option for domain authorization
  changelogs/fragments/3228-tss-domain-authorization.yml
  plugins/lookup/tss.py
Labels: feature, stale_ci, lookup, new_contributor, needs_ci, community_review, affects_2.10, plugins, check-before-release, backport-3

#3141 nmcli: Disallow Wi-Fi options not supported by nmcli
  changelogs/fragments/3141-disallow-options-unsupported-by-nmcli.yml
  plugins/modules/net_tools/nmcli.py
  tests/unit/plugins/modules/net_tools/test_nmcli.py
Labels: bug, feature, module, stale_ci, tests, unit, has_issue, needs_ci, community_review, affects_2.10, plugins, net_tools, check-before-release, needs_maintainer, backport-3

#3247 Add option for retry_servfail
  changelogs/fragments/3247-retry_servfail-for-dig.yaml
  plugins/lookup/dig.py
Labels: feature, stale_ci, lookup, new_contributor, needs_ci, community_review, affects_2.10, plugins, backport-3

#3239 nmcli: allow IPv4/IPv6 configuration on ipip and sit devices
  changelogs/fragments/3239-nmcli-sit-ipip-config-bugfix.yaml
  plugins/modules/net_tools/nmcli.py
  tests/unit/plugins/modules/net_tools/test_nmcli.py
Labels: bug, module, stale_ci, tests, unit, new_contributor, needs_ci, community_review, affects_2.10, plugins, net_tools, needs_maintainer, backport-2, backport-3

#3258 apache2_module: fix a2enmod/a2dismod detection and error message if not found
  changelogs/fragments/3258-apache2_module.yml
  plugins/modules/web_infrastructure/apache2_module.py
Labels: bug, module, stale_ci, has_issue, needs_ci, affects_2.10, plugins, web_infrastructure, shipit, backport-3

#3252 tss_lookup_plugin - Refactor and decoupling
  changelogs/fragments/3252-tss_lookup_plugin-refactor.yml
  plugins/lookup/tss.py
  tests/unit/plugins/lookup/test_tss.py
Labels: feature, stale_ci, lookup, tests, unit, needs_ci, community_review, affects_2.10, plugins, backport-3

#3284 openwrt_init - improvements
  changelogs/fragments/3284-openwrt_init-improvements.yaml
  plugins/modules/system/openwrt_init.py
Labels: bug, module, stale_ci, needs_ci, community_review, affects_2.10, plugins, system, backport-3

#3211 snap - improved error handling
  changelogs/fragments/3211-snap-error-handling.yml
  plugins/modules/packaging/os/snap.py
Labels: feature, module, stale_ci, needs_ci, community_review, affects_2.10, plugins, os, packaging, backport-3

#3289 Fix unit tests
  tests/utils/shippable/shippable.sh
  tests/utils/shippable/units.sh
Labels: stale_ci, tests, unit, needs_ci, community_review, needs_triage, affects_2.10, backport-1, needs_maintainer, backport-2, backport-3

#3290 mh CmdMixin - added ArgFormat.BOOLEAN_NOT and logic
  changelogs/fragments/3290-mh-cmd-boolean-not.yaml
  plugins/module_utils/mh/mixins/cmd.py
  tests/unit/plugins/module_utils/test_module_helper.py
Labels: feature, stale_ci, tests, unit, needs_ci, module_utils, community_review, needs_triage, affects_2.10, plugins

#3267 add deprecation warning for python-dnsimple 1
  changelogs/fragments/3267-dnsimple1-deprecation.yml
  plugins/modules/net_tools/dnsimple.py
Labels: feature, module, stale_ci, needs_ci, community_review, affects_2.10, plugins, net_tools, breaking_change

#3256 udm_dns_record: Fix handling of PTR records (#3244)
  changelogs/fragments/3256-fix-ptr-handling-in-udm_dns_record.yml
  plugins/modules/cloud/univention/udm_dns_record.py
Labels: bug, module, stale_ci, new_contributor, needs_ci, community_review, affects_2.10, plugins, cloud, check-before-release, backport-2, backport-3

#3210 Keycloak: add identity providers management
  .github/BOTMETA.yml
  plugins/module_utils/identity/keycloak/keycloak.py
  plugins/modules/identity/keycloak/keycloak_identity_provider.py
  plugins/modules/keycloak_identity_provider.py
  tests/integration/targets/keycloak_identity_provider/aliases
  tests/integration/targets/keycloak_identity_provider/tasks/main.yml
  tests/integration/targets/keycloak_identity_provider/vars/main.yml
  tests/unit/plugins/modules/identity/keycloak/test_keycloak_identity_provider.py
Labels: module, stale_ci, tests, unit, integration, new_plugin, new_module, needs_ci, module_utils, community_review, affects_2.10, plugins, identity, backport-3

#3300 proxmox - Update documentation for the disk option
  plugins/modules/cloud/misc/proxmox.py
Labels: module, stale_ci, owner_pr, needs_ci, community_review, affects_2.10, plugins, cloud, docs, check-before-release, backport-2, backport-3

#502 zfs.py: treated received properties as local and added diff mode support
  changelogs/fragments/502-zfs_bugfix_and_diff_mode_support.yaml
  plugins/modules/storage/zfs/zfs.py
Labels: bug, module, stale_ci, new_contributor, has_issue, needs_ci, community_review, affects_1, backport-3

#3283 django_manage - added splitting the command parameter for running
  changelogs/fragments/3283-django_manage-fix-command-splitting.yaml
  plugins/modules/web_infrastructure/django_manage.py
  tests/integration/targets/django_manage/files/base_test/simple_project/p1/p1/settings.py
  tests/integration/targets/django_manage/tasks/main.yaml
Labels: bug, module, stale_ci, tests, integration, needs_ci, community_review, affects_2.10, plugins, web_infrastructure, backport-2, backport-3

#3299 proxmox inventory plugin - Update examples documentation
  plugins/inventory/proxmox.py
Labels: stale_ci, needs_ci, inventory, affects_2.10, plugins, docs, shipit, check-before-release, backport-2, backport-3

#3285 pamd - fixed issue+minor refactorings
  changelogs/fragments/3285-pamd-updated-with-empty-args.yaml
  plugins/modules/system/pamd.py
  tests/integration/targets/pamd/tasks/main.yml
  tests/unit/plugins/modules/system/test_pamd.py
Labels: bug, module, stale_ci, tests, unit, integration, needs_ci, community_review, affects_2.10, plugins, system, needs_maintainer, backport-2, backport-3

#3286 open_iscsi - minor refactoring
  changelogs/fragments/3286-open_iscsi-improvements.yaml
  plugins/modules/system/open_iscsi.py
Labels: bug, module, stale_ci, needs_ci, community_review, needs_triage, affects_2.10, plugins, system, backport-2, backport-3

#3047 Enhancement to gitlab_group_members to accept user lists as input
  changelogs/fragments/3041-gitlab_x_members_fix_and_enhancement.yml
  plugins/modules/source_control/gitlab/gitlab_group_members.py
  tests/integration/targets/gitlab_group_members/tasks/main.yml
  tests/integration/targets/gitlab_group_members/vars/main.yml
Labels: bug, feature, module, needs_revision, stale_ci, merge_commit, needs_rebase, needs_ci, affects_2.10, plugins, gitlab, source_control, check-before-release, backport-3

#3314 django_manage: Remove scottanderson42 and tastychutney as maintainers.
  .github/BOTMETA.yml
Labels: stale_ci, new_contributor, needs_ci, community_review, small_patch, needs_triage, affects_2.10, docs, backport-2, backport-3
