Repository ansible-collections/community.general, pull requests merged in 2022-07, with the labels that each got.

#4911 Do not ignore tld option in DSV lookup plugin
  changelogs/fragments/4911-dsv-honor-tld-option.yml
  plugins/lookup/dsv.py
Labels: bug, lookup, new_contributor, plugins, backport-4, backport-5

#4923 Fix license filenames
  plugins/module_utils/ilo_redfish_utils.py
  plugins/module_utils/redfish_utils.py
  plugins/modules/remote_management/lenovoxcc/xcc_redfish_command.py
  plugins/modules/remote_management/redfish/idrac_redfish_command.py
  plugins/modules/remote_management/redfish/idrac_redfish_config.py
  plugins/modules/remote_management/redfish/idrac_redfish_info.py
  plugins/modules/remote_management/redfish/ilo_redfish_config.py
  plugins/modules/remote_management/redfish/ilo_redfish_info.py
  plugins/modules/remote_management/redfish/redfish_command.py
  plugins/modules/remote_management/redfish/redfish_config.py
  plugins/modules/remote_management/redfish/redfish_info.py
Labels: bug, module, module_utils, plugins, remote_management, backport-3, backport-4, backport-5

#4926 [stable-3] Fix license filenames
  plugins/module_utils/redfish_utils.py
  plugins/modules/remote_management/lenovoxcc/xcc_redfish_command.py
  plugins/modules/remote_management/redfish/idrac_redfish_command.py
  plugins/modules/remote_management/redfish/idrac_redfish_config.py
  plugins/modules/remote_management/redfish/idrac_redfish_info.py
  plugins/modules/remote_management/redfish/redfish_command.py
  plugins/modules/remote_management/redfish/redfish_config.py
  plugins/modules/remote_management/redfish/redfish_info.py
Labels: bug, module, module_utils, plugins, remote_management, backport

#4912 fix lxd connection plugin inventory_hostname
  changelogs/fragments/4886-fix-lxd-inventory-hostname.yml
  plugins/connection/lxd.py
Labels: bug, connection, new_contributor, plugins, check-before-release, backport-4, backport-5

#4933 Fix code in `rax_clb_nodes` that breaks in Python3
  changelogs/fragments/4933-fix-rax-clb-nodes.yaml
  plugins/modules/cloud/rackspace/rax_clb_nodes.py
Labels: bug, module, new_contributor, plugins, cloud, check-before-release, backport-4, backport-5

#4916 allow configuring opentelementry callback via config file
  changelogs/fragments/4916-opentelemetry-ini-options.yaml
  plugins/callback/opentelemetry.py
Labels: feature, callback, new_contributor, plugins, backport-5

#4849 added password prompt support for machinectl
  changelogs/fragments/4849-add-password-prompt-support-for-machinectl.yml
  plugins/become/machinectl.py
Labels: feature, stale_ci, new_contributor, become, plugins, check-before-release, backport-5

#4940 Misc. typo fixes
  .github/ISSUE_TEMPLATE/bug_report.yml
  plugins/filter/counter.py
  plugins/filter/jc.py
  plugins/inventory/cobbler.py
  plugins/inventory/lxd.py
  plugins/module_utils/hwc_utils.py
  plugins/module_utils/opennebula.py
  plugins/module_utils/oracle/oci_utils.py
  plugins/modules/cloud/lxd/lxd_profile.py
  plugins/modules/cloud/lxd/lxd_project.py
  plugins/modules/cloud/misc/proxmox_kvm.py
  plugins/modules/cloud/xenserver/xenserver_guest.py
  plugins/modules/files/ini_file.py
  plugins/modules/files/sapcar_extract.py
  plugins/modules/identity/ipa/ipa_otpconfig.py
  plugins/modules/identity/ipa/ipa_vault.py
  plugins/modules/identity/keycloak/keycloak_realm_info.py
  plugins/modules/net_tools/nmcli.py
  plugins/modules/packaging/language/ansible_galaxy_install.py
  plugins/modules/packaging/language/composer.py
  plugins/modules/remote_management/redfish/ilo_redfish_info.py
  plugins/modules/source_control/gitlab/gitlab_protected_branch.py
  plugins/modules/source_control/gitlab/gitlab_user.py
  plugins/modules/storage/pmem/pmem.py
  plugins/modules/system/homectl.py
  plugins/modules/system/timezone.py
  tests/integration/targets/filter_from_csv/tasks/main.yml
  tests/integration/targets/iso_create/tasks/main.yml
  tests/integration/targets/timezone/tasks/main.yml
  tests/unit/plugins/inventory/test_stackpath_compute.py
  tests/unit/plugins/module_utils/xenserver/conftest.py
  tests/unit/plugins/modules/cloud/xenserver/conftest.py
  tests/unit/plugins/modules/net_tools/pritunl/test_pritunl_org.py
  tests/unit/plugins/modules/net_tools/test_nmcli.py
  tests/unit/plugins/modules/notification/test_slack.py
  tests/unit/plugins/modules/packaging/language/test_cpanm.py
  tests/unit/plugins/modules/system/interfaces_file/README.md
  tests/unit/plugins/modules/system/test_gconftool2_info.py
  tests/unit/plugins/modules/system/test_xfconf.py
  tests/unit/plugins/modules/system/test_xfconf_info.py
Labels: bug, module, needs_revision, tests, unit, integration, filter, inventory, module_utils, plugins, cloud, files, gitlab, net_tools, packaging, source_control, system, identity, remote_management, storage, language, check-before-release, backport-4, backport-5

#4949 Fix connection integration tests
  tests/integration/targets/connection/test.sh
Labels: needs_revision, tests, integration, backport-3, backport-4, backport-5

#4885 Redfish modules for Western Digital UltraStar Data102 storage enclosures
  .github/BOTMETA.yml
  meta/runtime.yml
  plugins/module_utils/wdc_redfish_utils.py
  plugins/modules/remote_management/redfish/wdc_redfish_command.py
  plugins/modules/remote_management/redfish/wdc_redfish_info.py
  tests/unit/plugins/modules/remote_management/wdc/test_wdc_redfish_command.py
  tests/unit/plugins/modules/remote_management/wdc/test_wdc_redfish_info.py
Labels: module, needs_revision, tests, unit, new_contributor, new_plugin, module_utils, plugins, remote_management, backport-5

#4955 Fix path detection for gopass
  changelogs/fragments/4955-fix-path-detection-for-gopass.yaml
  plugins/lookup/passwordstore.py
Labels: bug, lookup, plugins, backport-5

#4945 proxmox module_utils: fix get_vm int parse handling
  changelogs/fragments/4945-fix-get_vm-int-parse-handling.yaml
  plugins/modules/cloud/misc/proxmox.py
  plugins/modules/cloud/misc/proxmox_kvm.py
Labels: bug, module, new_contributor, module_utils, plugins, cloud, backport-4, backport-5

#4959 Pacman: Fix name of URL packages
  changelogs/fragments/4959-pacman-fix-url-packages-name.yaml
  plugins/modules/packaging/os/pacman.py
Labels: bug, module, tests, integration, new_contributor, plugins, os, packaging, check-before-release, backport-4, backport-5

#4977 python-daemon 2.3.1 requires Python 3+
  tests/integration/targets/monit/meta/main.yml
  tests/integration/targets/monit/tasks/main.yml
  tests/utils/constraints.txt
Labels: needs_revision, tests, unit, integration, backport-3, backport-4, backport-5

#4978 Temporarily disable the yum_versionlock tests
  tests/integration/targets/yum_versionlock/aliases
Labels: backport-3, backport-4, backport-5

#4986 Update to new Github account for notifications
  .github/BOTMETA.yml
  plugins/modules/packaging/os/yum_versionlock.py
Labels: module, new_contributor, plugins, docs, os, packaging, backport-3, backport-4, backport-5

#4964 Fix keyring_info when using keyring library
  changelogs/fragments/4964-fix-keyring-info.yml
  plugins/modules/system/keyring_info.py
Labels: bug, module, new_contributor, plugins, system, check-before-release, backport-5

#4973 Introduce dig lookup argument fail_on_error
  changelogs/fragments/4973-introduce-dig-lookup-argument.yaml
  plugins/lookup/dig.py
Labels: feature, lookup, new_contributor, has_issue, plugins, backport-5

#4975 xfconf and xfconf_info: use do_raise
  changelogs/fragments/4975-xfconf-use-do-raise.yaml
  plugins/modules/system/xfconf.py
  plugins/modules/system/xfconf_info.py
Labels: feature, module, plugins, system, check-before-release, backport-5

#4812 Expose unredirected_headers on maven_artifact
  changelogs/fragments/4812-expose-unredirected-headers.yml
  plugins/modules/packaging/language/maven_artifact.py
Labels: bug, feature, module, new_contributor, plugins, packaging, language, backport-5

#5000 fixing minor documentation flaws
  plugins/become/sudosu.py
Labels: new_contributor, become, small_patch, plugins, docs, docs_only, backport-4, backport-5

#4976 Apk: add support for a custom world file
  changelogs/fragments/4976-apk-add-support-for-a-custom-world-file.yaml
  plugins/modules/packaging/os/apk.py
Labels: feature, module, new_contributor, plugins, os, packaging, check-before-release, backport-5

#4968 Pacman: Improve url integrity test
  tests/integration/targets/pacman/tasks/package_urls.yml
Labels: bug, tests, integration, check-before-release, backport-4, backport-5

#5007 xfconf: fix setting of boolean values
  changelogs/fragments/4999-xfconf-bool.yml
  plugins/module_utils/xfconf.py
Labels: bug, has_issue, module_utils, plugins, check-before-release, backport-5

#5014 xfconf: add unit test for bool value
  tests/unit/plugins/modules/system/test_xfconf.py
Labels: feature, tests, unit, backport-4, backport-5

#5025 vmadm: add comment to ignore file
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.12.txt
  tests/sanity/ignore-2.13.txt
  tests/sanity/ignore-2.14.txt
Labels: bug, tests, backport-5

#4778 gconftool2: deprecate state get
  changelogs/fragments/4778-gconftool2-deprecate-state-get.yaml
  plugins/modules/system/gconftool2.py
Labels: bug, module, plugins, system

#5027 Fix returnall for gopass
  changelogs/fragments/5027-fix-returnall-for-gopass.yaml
  plugins/lookup/passwordstore.py
  tests/integration/targets/lookup_passwordstore/tasks/tests.yml
Labels: bug, lookup, tests, integration, has_issue, plugins, check-before-release, backport-5

#5035 mh base: add verbosity() property
  changelogs/fragments/5035-mh-base-verbosity.yaml
  plugins/module_utils/mh/base.py
Labels: feature, module_utils, plugins, backport-5

#4996 consul: add support for session TTL
  changelogs/fragments/4996-consul-session-ttl.yml
  plugins/modules/clustering/consul/consul_session.py
  tests/integration/targets/consul/tasks/consul_session.yml
Labels: feature, module, tests, integration, new_contributor, plugins, clustering, check-before-release, backport-5

#4956 Pacman: Add support for install reason
  changelogs/fragments/4956-pacman-install-reason.yaml
  plugins/modules/packaging/os/pacman.py
  tests/integration/targets/pacman/tasks/main.yml
  tests/integration/targets/pacman/tasks/reason.yml
  tests/unit/plugins/modules/packaging/os/test_pacman.py
Labels: feature, module, tests, unit, integration, plugins, os, packaging, backport-5

#4953 Module listen ports facts extend output
  changelogs/fragments/4953-listen-ports-facts-extend-output.yaml
  plugins/modules/system/listen_ports_facts.py
  tests/integration/targets/listen_ports_facts/tasks/main.yml
Labels: feature, module, tests, integration, new_contributor, plugins, system, backport-5

#5030 passwordstore: Add some real gopass integration tests
  tests/integration/targets/lookup_passwordstore/tasks/package.yml
  tests/integration/targets/lookup_passwordstore/tasks/password_tests.yml
  tests/integration/targets/lookup_passwordstore/tasks/tests.yml
  tests/integration/targets/lookup_passwordstore/vars/Alpine.yml
  tests/integration/targets/lookup_passwordstore/vars/Archlinux.yml
  tests/integration/targets/lookup_passwordstore/vars/Fedora.yml
  tests/integration/targets/lookup_passwordstore/vars/FreeBSD.yml
Labels: feature, tests, integration, backport-5

#5019 Slack: Add support for (some) groups
  changelogs/fragments/5019-slack-support-more-groups.yml
  plugins/modules/notification/slack.py
Labels: bug, module, new_contributor, plugins, notification, backport-4, backport-5
