Repository ansible-collections/community.general, pull requests merged in 2022-04, with the labels that each got.

#4418 Proxmox Inventory: Add support for templating in inventory file
  changelogs/fragments/4386-proxmox-support-templating-in-inventory-file.yml
  plugins/inventory/proxmox.py
Labels: feature, inventory, plugins, check-before-release, backport-4

#4417 ipa_service: Add `skip_host_check` option
  changelogs/fragments/4417-ipa_service-add-skip_host_check.yml
  plugins/modules/identity/ipa/ipa_service.py
Labels: feature, module, new_contributor, plugins, identity, backport-4

#4434 CI: Remove 'warn:' that's removed in ansible-core 2.14
  tests/integration/targets/dnf_versionlock/tasks/lock_updates.yml
  tests/integration/targets/monit/tasks/check_state.yml
  tests/integration/targets/monit/tasks/main.yml
  tests/integration/targets/pkgng/tasks/create-outofdate-pkg.yml
  tests/integration/targets/setup_cron/tasks/main.yml
  tests/integration/targets/setup_postgresql_db/tasks/main.yml
Labels: needs_revision, tests, integration, backport-3, backport-4

#4405 pids: re-enabled tests on Alpine Linux
  tests/integration/targets/pids/files/obtainpid.sh
  tests/integration/targets/pids/files/sleeper.c
  tests/integration/targets/pids/tasks/main.yml
Labels: bug, tests, integration, backport-4

#4442 Remove OpenSuSE Python 2 from devel CI
  .azure-pipelines/azure-pipelines.yml
Labels: small_patch, backport-4

#4440 cronvar: ensure creation of /etc/cron.d in test
  tests/integration/targets/cronvar/tasks/main.yml
Labels: bug, tests, integration, backport-4

#4421 Bugfix: zypper issue with specified package versions
  changelogs/fragments/4421-zypper_package_version_handling_fix.yml
  plugins/modules/packaging/os/zypper.py
Labels: bug, module, new_contributor, plugins, os, packaging, check-before-release, backport-3, backport-4

#4328 nmcli: suggest new routes4 and routes6 format
  changelogs/fragments/4131-nmcli_fix_reports_changed_for_routes4_parameter.yml
  plugins/modules/net_tools/nmcli.py
  tests/unit/plugins/modules/net_tools/test_nmcli.py
Labels: bug, module, tests, unit, plugins, net_tools, check-before-release, backport-4

#4429 Keycloak client, Add always_display_in_console option
  changelogs/fragments/4429-keycloak-client-add-always-display-in-console.yml
  plugins/modules/identity/keycloak/keycloak_client.py
Labels: feature, module, new_contributor, plugins, identity, check-before-release, backport-4

#4422 Bug fix: Warns user if incorrect SDK version is installed
  changelogs/fragments/4422-warn-user-if-incorrect-SDK-version-is-installed.yaml
  plugins/lookup/dsv.py
Labels: bug, needs_revision, lookup, plugins, check-before-release, backport-3, backport-4

#4452 Fix small typo
  plugins/modules/identity/onepassword_info.py
Labels: bug, module, new_contributor, small_patch, plugins, identity, backport-3, backport-4

#4469 Fix documentation for sudoers module
  plugins/modules/system/sudoers.py
Labels: module, plugins, docs, system, check-before-release, docs_only, backport-4

#4463 Add discord integration tests
  tests/integration/targets/discord/README.md
  tests/integration/targets/discord/aliases
  tests/integration/targets/discord/defaults/main.yml
  tests/integration/targets/discord/tasks/main.yml
Labels: feature, tests, integration, backport-4

#4466 proxmox inventory plugin: deprecate `want_proxmox_nodes_ansible_host` option's default value
  changelogs/fragments/4466-proxmox-ansible_host-deprecation.yml
  plugins/inventory/proxmox.py
Labels: feature, inventory, plugins, shipit, check-before-release, backport-4

#4480 Switch from antsibull to antsibull-docs
  tests/sanity/extra/aliases.py
  tests/sanity/extra/extra-docs.json
  tests/sanity/extra/extra-docs.py
Labels: tests, backport-1, backport-2, backport-3, backport-4

#4471 seport: minor refactor
  changelogs/fragments/4471-seport-refactor.yaml
  plugins/modules/system/seport.py
Labels: feature, module, plugins, system, check-before-release, backport-4

#4438 modules/xbps: fix error message
  changelogs/fragments/4438-fix-error-message.yaml
  plugins/modules/packaging/os/xbps.py
Labels: bug, module, plugins, os, packaging, check-before-release, backport-3, backport-4

#4457 add support for datadog monitors of type event-v2
  changelogs/fragments/4457-support-datadog-monitors-type event-v2.yaml
  plugins/modules/monitoring/datadog/datadog_monitor.py
Labels: bug, module, new_contributor, plugins, monitoring, backport-4

#4458 Redfish: Added IndicatorLED commands to the Systems category
  changelogs/fragments/4084-add-redfish-system-indicator-led.yml
  plugins/module_utils/redfish_utils.py
  plugins/modules/remote_management/redfish/redfish_command.py
Labels: feature, module, module_utils, plugins, remote_management, backport-4

#4493 Temporarily disable the pkgng tests
  tests/integration/targets/pkgng/aliases
Labels: tests, integration, needs_ci, small_patch, backport-4

#4465 Implement btrfs resize support
  changelogs/fragments/4465-btrfs-resize.yml
  plugins/modules/system/filesystem.py
  tests/integration/targets/filesystem/defaults/main.yml
Labels: feature, module, tests, integration, new_contributor, plugins, system, backport-4

#4459 dnsmadeeasy: only get monitor if it is not null api response
  changelogs/fragments/4459-only-get-monitor-if-it-is-not-null-api-response.yaml
  plugins/modules/net_tools/dnsmadeeasy.py
Labels: bug, module, new_contributor, plugins, net_tools, backport-3, backport-4

#4455 Terraform init -upgrade flag
  changelogs/fragments/4455-terraform-provider-upgrade.yml
  plugins/modules/cloud/misc/terraform.py
  tests/integration/targets/terraform/.gitignore
  tests/integration/targets/terraform/aliases
  tests/integration/targets/terraform/meta/main.yml
  tests/integration/targets/terraform/tasks/main.yml
  tests/integration/targets/terraform/tasks/test_provider_upgrade.yml
  tests/integration/targets/terraform/templates/provider_test/main.tf.j2
  tests/integration/targets/terraform/vars/main.yml
Labels: feature, module, needs_revision, tests, integration, new_contributor, plugins, cloud, backport-4

#4491 gitlab: Use `all=True` in most `list()` calls
  changelogs/fragments/4491-specify_all_in_list_calls.yaml
  plugins/modules/source_control/gitlab/gitlab_group.py
  plugins/modules/source_control/gitlab/gitlab_group_members.py
  plugins/modules/source_control/gitlab/gitlab_hook.py
  plugins/modules/source_control/gitlab/gitlab_project.py
  plugins/modules/source_control/gitlab/gitlab_project_members.py
  plugins/modules/source_control/gitlab/gitlab_user.py
Labels: bug, module, new_contributor, plugins, gitlab, source_control, shipit, backport-3, backport-4

#4464 pacman: Fix removing locally installed packages
  changelogs/fragments/4464-pacman-fix-local-remove.yaml
  plugins/modules/packaging/os/pacman.py
  tests/integration/targets/pacman/aliases
  tests/integration/targets/pacman/tasks/locally_installed_package.yml
  tests/integration/targets/pacman/tasks/main.yml
Labels: bug, module, tests, integration, plugins, os, packaging, backport-4

#4505 gitlab_user: remove no longer true statement from documentation
  plugins/modules/source_control/gitlab/gitlab_user.py
Labels: module, has_issue, small_patch, plugins, docs, gitlab, source_control, backport-3, backport-4

#4511 CI: remove FreeBSD 12.0 and 12.2, re-enable pkgng tests
  .azure-pipelines/azure-pipelines.yml
  tests/integration/targets/pkgng/aliases
Labels: tests, integration, backport-3, backport-4

#4514 [stable-3] CI: remove FreeBSD 12.0 and 12.2
  .azure-pipelines/azure-pipelines.yml
Labels: backport

#4515 gem: bump version numbers for deprecation and removal since we didn't deprecate this in 4.0.0
  plugins/modules/packaging/language/gem.py
Labels: bug, module, small_patch, plugins, packaging, language, backport-3, docs_only, backport-4

#4522 [stable-2] Remove FreeBSD 12.0 and 12.2 from CI
  .azure-pipelines/azure-pipelines.yml
Labels: backport

#4508 Correctly handle exception when no VM name returned by proxmox
  changelogs/fragments/4492-proxmox_kvm_fix_vm_without_name.yaml
  plugins/modules/cloud/misc/proxmox_kvm.py
Labels: bug, module, new_contributor, traceback, plugins, cloud, backport-3, backport-4

#4533 xfconf: improve docs
  plugins/modules/system/xfconf.py
Labels: module, plugins, docs, system, backport-3, backport-4

#4530 [pritunl] removed unnecessary data from auth string
  changelogs/fragments/4530-fix-unauthorized-pritunl-request.yaml
  plugins/module_utils/net_tools/pritunl/api.py
Labels: bug, new_contributor, module_utils, plugins, check-before-release, backport-3, backport-4

#4534 xfconf: added missing value types
  changelogs/fragments/4534-xfconf-added-value-types.yaml
  plugins/modules/system/xfconf.py
Labels: feature, module, plugins, system, backport-4

#4539 Add Lowess as maintainer of pritunl module utils
  .github/BOTMETA.yml
Labels: small_patch, docs, backport-3, backport-4

#4506 nmap inventory plugin: Add sudo nmap
  changelogs/fragments/4506-sudo-in-nmap-inv-plugin.yaml
  plugins/inventory/nmap.py
Labels: feature, new_contributor, inventory, plugins, check-before-release, backport-4

#4524 Implement contructable support for opennebula inventory plugin: keyed…
  changelogs/fragments/4524-update-opennebula-inventory-plugin-to-match-documentation.yaml
  plugins/inventory/opennebula.py
  tests/unit/plugins/inventory/fixtures/opennebula_inventory.json
  tests/unit/plugins/inventory/test_opennebula.py
Labels: bug, tests, unit, new_contributor, new_plugin, inventory, plugins, cloud, backport-4

#4550 Unit tests: fix import
  tests/unit/plugins/modules/database/saphana/test_hana_query.py
Labels: bug, tests, unit, small_patch, backport-3, backport-4

#4334 nmcli: Change hairpin default mode
  changelogs/fragments/4320-nmcli-hairpin.yml
  plugins/modules/net_tools/nmcli.py
Labels: bug, module, tests, unit, new_contributor, plugins, net_tools, check-before-release, backport-4

#4526 Fix keycloak realm parameters types
  changelogs/fragments/4526-keycloak-realm-types.yaml
  plugins/modules/identity/keycloak/keycloak_realm.py
Labels: bug, module, new_contributor, plugins, identity, check-before-release, backport-3, backport-4

#4479 Add project support for lxd_container and lxd_profile module
  changelogs/fragments/4479-add-project-support-for-lxd_container-and-lxd_profile.yml
  plugins/modules/cloud/lxd/lxd_container.py
  plugins/modules/cloud/lxd/lxd_profile.py
Labels: feature, module, new_contributor, has_issue, plugins, cloud, backport-4

#4556 Removed 'default=None' in a batch of modules
  changelogs/fragments/4556-remove-default-none-1.yml
  plugins/modules/cloud/centurylink/clc_alert_policy.py
  plugins/modules/cloud/centurylink/clc_group.py
  plugins/modules/cloud/centurylink/clc_loadbalancer.py
  plugins/modules/cloud/centurylink/clc_server.py
  plugins/modules/cloud/univention/udm_group.py
  plugins/modules/cloud/univention/udm_share.py
Labels: bug, module, plugins, cloud, backport-4

#4567 Removed 'default=None' in a batch of modules 2
  changelogs/fragments/4567-remove-default-none-2.yml
  plugins/modules/cloud/atomic/atomic_container.py
  plugins/modules/cloud/misc/proxmox.py
  plugins/modules/cloud/packet/packet_device.py
  plugins/modules/cloud/packet/packet_sshkey.py
  plugins/modules/cloud/packet/packet_volume.py
  plugins/modules/cloud/profitbricks/profitbricks.py
  plugins/modules/cloud/smartos/smartos_image_info.py
  plugins/modules/cloud/smartos/vmadm.py
  plugins/modules/cloud/webfaction/webfaction_app.py
  plugins/modules/cloud/webfaction/webfaction_db.py
  plugins/modules/clustering/nomad/nomad_job.py
  plugins/modules/clustering/nomad/nomad_job_info.py
Labels: bug, module, plugins, cloud, clustering, backport-4

#4540 Proxmox inventory: implement API token auth
  changelogs/fragments/4540-proxmox-inventory-token-auth.yml
  plugins/inventory/proxmox.py
Labels: feature, new_contributor, inventory, plugins, backport-4

#4377 Allow Proxmox Snapshot Restoring
  changelogs/fragments/4377-allow-proxmox-snapshot-restoring.yml
  plugins/modules/cloud/misc/proxmox_snap.py
  tests/unit/plugins/modules/cloud/misc/test_proxmox_snap.py
Labels: feature, module, tests, unit, new_contributor, plugins, cloud, backport-4

#4476 Command Runner
  changelogs/fragments/4476-cmd_runner.yml
  plugins/module_utils/cmd_runner.py
  tests/integration/targets/cmd_runner/aliases
  tests/integration/targets/cmd_runner/library/cmd_echo.py
  tests/integration/targets/cmd_runner/tasks/main.yml
  tests/integration/targets/cmd_runner/tasks/test_cmd_echo.yml
  tests/integration/targets/cmd_runner/vars/main.yml
  tests/unit/plugins/module_utils/test_cmd_runner.py
Labels: feature, tests, unit, integration, new_plugin, module_utils, plugins, check-before-release, backport-4

#4521 New Module: LXD Projects
  .github/BOTMETA.yml
  plugins/modules/cloud/lxd/lxd_project.py
  plugins/modules/lxd_project.py
  tests/integration/targets/lxd_project/aliases
  tests/integration/targets/lxd_project/tasks/main.yml
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.12.txt
  tests/sanity/ignore-2.13.txt
  tests/sanity/ignore-2.14.txt
  tests/sanity/ignore-2.9.txt
Labels: module, tests, integration, new_plugin, plugins, cloud, backport-4

#4555 Parse lxc key from api data for lxc containers
  changelogs/fragments/4555-proxmox-lxc-key.yml
  plugins/inventory/proxmox.py
Labels: bug, new_contributor, inventory, plugins, check-before-release, backport-4

#4554 New module alerta_customer
  .github/BOTMETA.yml
  plugins/modules/alerta_customer.py
  plugins/modules/monitoring/alerta_customer.py
  tests/integration/targets/alerta_customer/aliases
  tests/integration/targets/alerta_customer/defaults/main.yml
  tests/integration/targets/alerta_customer/tasks/main.yml
  tests/unit/plugins/modules/monitoring/test_alerta_customer.py
Labels: module, tests, unit, integration, new_plugin, plugins, check-before-release, backport-4

#4557 Add 'state' parameter for alternatives
  changelogs/fragments/4557-alternatives-add-state-parameter.yml
  plugins/modules/system/alternatives.py
  tests/integration/targets/alternatives/tasks/main.yml
  tests/integration/targets/alternatives/tasks/remove_links.yml
  tests/integration/targets/alternatives/tasks/tests_state.yml
Labels: feature, module, tests, integration, new_contributor, plugins, system, check-before-release, backport-4

#4516 [5.0.0] Bump version to 5.0.0, remove deprecated features
  changelogs/fragments/4516-deprecation-removals.yml
  galaxy.yml
  plugins/module_utils/proxmox.py
  plugins/modules/cloud/alicloud/ali_instance_info.py
  plugins/modules/cloud/linode/linode.py
  plugins/modules/cloud/misc/proxmox.py
  plugins/modules/cloud/misc/proxmox_kvm.py
  plugins/modules/cloud/misc/proxmox_snap.py
  plugins/modules/cloud/misc/serverless.py
  plugins/modules/net_tools/dnsimple.py
  plugins/modules/packaging/language/composer.py
  plugins/modules/packaging/os/apt_rpm.py
  plugins/modules/packaging/os/homebrew.py
  plugins/modules/packaging/os/homebrew_cask.py
  plugins/modules/packaging/os/opkg.py
  plugins/modules/packaging/os/pacman.py
  plugins/modules/packaging/os/slackpkg.py
  plugins/modules/packaging/os/urpmi.py
  plugins/modules/packaging/os/xbps.py
  plugins/modules/source_control/github/github_deploy_key.py
  plugins/modules/system/xfconf.py
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.12.txt
  tests/sanity/ignore-2.13.txt
  tests/sanity/ignore-2.14.txt
  tests/sanity/ignore-2.9.txt
  tests/unit/plugins/modules/system/test_xfconf.py
Labels: bug, module, tests, unit, has_issue, module_utils, plugins, cloud, net_tools, os, packaging, source_control, system, language, shipit, breaking_change, check-before-release

#4517 [5.0.0] gem - deprecate `norc` default
  changelogs/fragments/4517-gem-deprecate-norc.yml
  plugins/modules/packaging/language/gem.py
Labels: feature, module, has_issue, plugins, packaging, language, check-before-release

#4548 [5.0.0] Remove Ansible 2.9 / ansible-base 2.10 compatibility code
  .azure-pipelines/azure-pipelines.yml
  .github/BOTMETA.yml
  README.md
  changelogs/fragments/4548-remove-2.9-2.10-compatibility.yml
  meta/runtime.yml
  plugins/cache/memcached.py
  plugins/cache/redis.py
  plugins/callback/syslog_json.py
  plugins/filter/list.py
  plugins/filter/path_join_shim.py
  plugins/modules/files/archive.py
  plugins/modules/packaging/language/maven_artifact.py
  plugins/modules/source_control/git_config.py
  plugins/modules/system/java_keystore.py
  plugins/test/a_module.py
  tests/integration/targets/ansible_galaxy_install/tasks/main.yml
  tests/integration/targets/filter_hashids/runme.sh
  tests/integration/targets/filter_jc/runme.sh
  tests/integration/targets/filter_json_query/runme.sh
  tests/integration/targets/lookup_collection_version/runme.sh
  tests/integration/targets/test_a_module/runme.sh
  tests/unit/plugins/cache/test_redis.py
Labels: bug, module, callback, tests, unit, integration, has_issue, cache, filter, plugins, files, packaging, source_control, system, language, breaking_change, check-before-release

#4563 Improve CI coverage
  .azure-pipelines/azure-pipelines.yml
Labels: module, callback, tests, unit, integration, has_issue, cache, filter, plugins, files, packaging, source_control, system, language, check-before-release

#4579 Make sure plugins/ contains no symbolic links or other things that aren't regular files
  tests/sanity/extra/no-unwanted-files.py
Labels: tests, small_patch

#4580 vmadm: deprecating unused parameter debug
  changelogs/fragments/4580-vmadm-deprecate-param-debug.yaml
  plugins/modules/cloud/smartos/vmadm.py
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.12.txt
  tests/sanity/ignore-2.13.txt
  tests/sanity/ignore-2.14.txt
  tests/sanity/ignore-2.9.txt
Labels: bug, module, tests, plugins, cloud

#4582 hpilo_boot: added missing types in documentation
  plugins/modules/remote_management/hpilo/hpilo_boot.py
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.12.txt
  tests/sanity/ignore-2.13.txt
  tests/sanity/ignore-2.14.txt
  tests/sanity/ignore-2.9.txt
Labels: module, tests, plugins, docs, remote_management, backport-3, backport-4

#4203 documenting to_seconds filter
  .github/BOTMETA.yml
  plugins/filter/to_seconds.yml
Labels: stale_ci, has_issue, plugins, docs, check-before-release, backport-3, backport-4

#4202 Add docs for ansible-core 2.13 use
  plugins/filter/random_mac.py
Labels: has_issue, filter, plugins, docs, check-before-release, backport-3, backport-4

#4588 hpilo_info: added missing types in documentation
  plugins/modules/remote_management/hpilo/hpilo_info.py
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.12.txt
  tests/sanity/ignore-2.13.txt
  tests/sanity/ignore-2.14.txt
  tests/sanity/ignore-2.9.txt
Labels: module, tests, plugins, docs, remote_management, backport-3, backport-4

#4589 hponcfg: added missing types in documentation
  plugins/modules/remote_management/hpilo/hponcfg.py
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.12.txt
  tests/sanity/ignore-2.13.txt
  tests/sanity/ignore-2.14.txt
  tests/sanity/ignore-2.9.txt
Labels: module, tests, plugins, docs, remote_management, backport-3, backport-4
