Repository ansible-collections/community.general, pull requests merged in 2022-06, with the labels that each got.

#4759 Add simplified_bsd.txt license file
  changelogs/fragments/simplified-bsd-license.yml
  plugins/doc_fragments/lxca_common.py
  plugins/module_utils/alicloud_ecs.py
  plugins/module_utils/database.py
  plugins/module_utils/gandi_livedns_api.py
  plugins/module_utils/heroku.py
  plugins/module_utils/hwc_utils.py
  plugins/module_utils/ibm_sa_utils.py
  plugins/module_utils/influxdb.py
  plugins/module_utils/ipa.py
  plugins/module_utils/known_hosts.py
  plugins/module_utils/linode.py
  plugins/module_utils/lxd.py
  plugins/module_utils/manageiq.py
  plugins/module_utils/memset.py
  plugins/module_utils/mh/base.py
  plugins/module_utils/mh/deco.py
  plugins/module_utils/mh/exceptions.py
  plugins/module_utils/mh/mixins/cmd.py
  plugins/module_utils/mh/mixins/deprecate_attrs.py
  plugins/module_utils/mh/mixins/deps.py
  plugins/module_utils/mh/mixins/state.py
  plugins/module_utils/mh/mixins/vars.py
  plugins/module_utils/mh/module_helper.py
  plugins/module_utils/module_helper.py
  plugins/module_utils/oneandone.py
  plugins/module_utils/onepassword.py
  plugins/module_utils/oneview.py
  plugins/module_utils/online.py
  plugins/module_utils/opennebula.py
  plugins/module_utils/pure.py
  plugins/module_utils/rax.py
  plugins/module_utils/redhat.py
  plugins/module_utils/remote_management/lxca/common.py
  plugins/module_utils/saslprep.py
  plugins/module_utils/source_control/bitbucket.py
  plugins/module_utils/storage/emc/emc_vnx.py
  plugins/module_utils/storage/hpe3par/hpe3par.py
  plugins/module_utils/univention_umc.py
  plugins/module_utils/utm_utils.py
  plugins/module_utils/vexata.py
  simplified_bsd.txt
  tests/unit/plugins/module_utils/test_utm_utils.py
Labels: bug, needs_revision, tests, unit, docs_fragments, module_utils, plugins, cloud, remote_management, storage, backport-3, backport-4, backport-5

#4732 nmcli: use capital case "DNS" in documentation, improve examples
  plugins/modules/net_tools/nmcli.py
Labels: module, plugins, docs, net_tools, check-before-release, docs_only, backport-4, backport-5

#4736 cmd_runner: added flag check_mode_skip to context
  changelogs/fragments/4736-cmd-runner-skip-if-check.yml
  plugins/module_utils/cmd_runner.py
  tests/integration/targets/cmd_runner/library/cmd_echo.py
  tests/integration/targets/cmd_runner/tasks/test_cmd_echo.yml
  tests/integration/targets/cmd_runner/vars/main.yml
Labels: feature, tests, integration, module_utils, plugins, check-before-release, backport-5

#4743 gconftool2_info: new module
  .github/BOTMETA.yml
  meta/runtime.yml
  plugins/module_utils/gconftool2.py
  plugins/modules/system/gconftool2_info.py
  tests/unit/plugins/modules/system/test_gconftool2_info.py
Labels: module, tests, unit, new_plugin, module_utils, plugins, check-before-release, backport-5

#4752 ansible_galaxy_install: minor improvements based on MH updates
  changelogs/fragments/4752-ansible-galaxy-install-mh-updates.yml
  plugins/modules/packaging/language/ansible_galaxy_install.py
Labels: bug, module, plugins, packaging, language, check-before-release, backport-5

#4723 Proxmox Inventory: added new statuses for qemu
  changelogs/fragments/4724-proxmox-qemu-extend.yaml
  plugins/inventory/proxmox.py
  tests/unit/plugins/inventory/test_proxmox.py
Labels: feature, tests, unit, inventory, plugins, check-before-release, backport-5

#4777 cmd_runner: deprecate fmt as the name for the format class
  changelogs/fragments/4777-cmd-runner-deprecate-fmt.yaml
  plugins/module_utils/cmd_runner.py
  plugins/module_utils/gconftool2.py
  tests/integration/targets/cmd_runner/library/cmd_echo.py
Labels: feature, tests, integration, module_utils, plugins, check-before-release, backport-5

#4781 remove mcodd as maintainer for newrelic_deployment and flowdock modules
  .github/BOTMETA.yml
Labels: new_contributor, small_patch, docs, backport-4, backport-5

#4755 ModuleHelperException module utils - improved exception initialization
  changelogs/fragments/4755-mhexception-improvement.yml
  plugins/module_utils/mh/exceptions.py
Labels: bug, module_utils, plugins, check-before-release, backport-4, backport-5

#4740 Add puppet confdir option
  changelogs/fragments/4740-puppet-feature.yaml
  plugins/modules/system/puppet.py
Labels: feature, module, stale_ci, plugins, system, check-before-release, backport-5

#4654 Add subcommands parameter for module alternatives.
  .github/BOTMETA.yml
  changelogs/fragments/4654-alternatives-add-subcommands.yml
  plugins/modules/system/alternatives.py
  tests/integration/targets/alternatives/tasks/main.yml
  tests/integration/targets/alternatives/tasks/subcommands.yml
  tests/integration/targets/alternatives/tasks/test.yml
  tests/integration/targets/alternatives/tasks/tests_set_priority.yml
  tests/integration/targets/alternatives/tasks/tests_state.yml
Labels: feature, module, tests, integration, new_contributor, has_issue, plugins, system, backport-5

#4776 xfconf module utils: providing a cmd_runner object
  .github/BOTMETA.yml
  changelogs/fragments/4776-xfconf-cmd-runner.yaml
  plugins/module_utils/xfconf.py
  plugins/modules/system/xfconf.py
  plugins/modules/system/xfconf_info.py
Labels: feature, module, module_utils, plugins, system, check-before-release, backport-5

#4746 add support to create L2TP and PPTP VPN connection
  changelogs/fragments/4746-add-vpn-support-nmcli.yaml
  plugins/modules/net_tools/nmcli.py
  tests/unit/plugins/modules/net_tools/test_nmcli.py
Labels: feature, module, tests, unit, new_contributor, plugins, net_tools, check-before-release, backport-5

#4805 CI: Disable repo URL test for OpenSuSE 15.4
  tests/integration/targets/zypper_repository/tasks/zypper_repository.yml
Labels: tests, integration, backport-3, backport-4, backport-5

#4816 Added conditional to only collect qmpstatus on qemu VMs
  changelogs/fragments/4816-proxmox-fix-extended-status.yaml
  plugins/inventory/proxmox.py
  tests/unit/plugins/inventory/test_proxmox.py
Labels: bug, tests, unit, inventory, traceback, plugins, shipit, check-before-release, backport-5

#4818 requests drops support for older Python
  tests/utils/constraints.txt
Labels: needs_revision, tests, unit, small_patch, backport-3, backport-4, backport-5

#4819 Bump AZP container version
  .azure-pipelines/azure-pipelines.yml
Labels: needs_revision, small_patch, backport-3

#4814 Ensure managed sudoers config files have 0440 permissions
  changelogs/fragments/4814-sudoers-file-permissions.yml
  plugins/modules/system/sudoers.py
  tests/integration/targets/sudoers/tasks/main.yml
Labels: bug, module, tests, integration, plugins, system, check-before-release, backport-4, backport-5

#4829 [stable-3] Disable opentelemetry unit tests since requirements have conflicts way too often
  tests/unit/requirements.txt
Labels: tests, unit, backport

#4798 proxmox_kvm: fix typos
  plugins/modules/cloud/misc/proxmox_kvm.py
Labels: module, small_patch, plugins, cloud, docs, check-before-release, docs_only, backport-4, backport-5

#4813 nmcli: do not convert undefined lists to empty strings
  changelogs/fragments/4813-fix-nmcli-convert-list.yaml
  plugins/modules/net_tools/nmcli.py
  tests/unit/plugins/modules/net_tools/test_nmcli.py
Labels: bug, module, tests, unit, new_contributor, plugins, net_tools, check-before-release, backport-4, backport-5

#4810 alternatives: Fix bug with priority default
  changelogs/fragments/4810-alternatives-bug.yml
  plugins/modules/system/alternatives.py
  tests/integration/targets/alternatives/tasks/test.yml
  tests/integration/targets/alternatives/tasks/tests_set_priority.yml
Labels: bug, module, tests, integration, has_issue, plugins, system, check-before-release, backport-5

#4809 redhat_subscription: call 'remove' instead of 'unsubscribe'
  changelogs/fragments/4809-redhat_subscription-unsubscribe.yaml
  plugins/modules/packaging/os/redhat_subscription.py
  tests/unit/plugins/modules/packaging/os/test_redhat_subscription.py
Labels: bug, module, tests, unit, new_contributor, has_issue, plugins, os, packaging, check-before-release, backport-4, backport-5

#4836 Fix alternatives module
  changelogs/fragments/4836-alternatives.yml
  plugins/modules/system/alternatives.py
  tests/integration/targets/alternatives/tasks/main.yml
  tests/integration/targets/alternatives/tasks/subcommands.yml
  tests/integration/targets/alternatives/vars/Debian.yml
  tests/integration/targets/alternatives/vars/Suse-42.3.yml
  tests/integration/targets/alternatives/vars/default.yml
Labels: bug, module, tests, integration, has_issue, plugins, system, check-before-release, backport-5

#4841 [stable-4] Skip Ansible 2.9 coverage reporting with new AZP container
  .azure-pipelines/scripts/aggregate-coverage.sh
  .azure-pipelines/scripts/report-coverage.sh
Labels: small_patch, backport-3, backport

#4791 cmd_runner: add __call__ method to invoke context
  changelogs/fragments/4791-cmd-runner-callable.yaml
  plugins/module_utils/cmd_runner.py
  plugins/modules/system/xfconf.py
  tests/unit/plugins/module_utils/test_cmd_runner.py
Labels: feature, module, tests, unit, module_utils, plugins, system, check-before-release, backport-5

#4727 Add scw_compute_private_network
  .github/BOTMETA.yml
  meta/runtime.yml
  plugins/modules/cloud/scaleway/scaleway_compute_private_network.py
  tests/unit/plugins/modules/cloud/scaleway/test_scaleway_compute_private_network.py
Labels: feature, module, needs_revision, tests, unit, new_plugin, plugins, cloud, backport-5

#4780 passwordstore: Make compatible with shims
  changelogs/fragments/4780-passwordstore-wrapper-compat.yml
  plugins/lookup/passwordstore.py
  tests/integration/targets/lookup_passwordstore/tasks/tests.yml
Labels: feature, lookup, tests, integration, has_issue, plugins, check-before-release, backport-5

#4847 Add PSF-license.txt for plugins/module_utils/_mount.py
  PSF-license.txt
  changelogs/fragments/psf-license.yml
  plugins/module_utils/_mount.py
Labels: bug, tests, unit, docs_fragments, module_utils, plugins, cloud, remote_management, storage, check-before-release, backport-5

#4853 sudoers: fix handling of state: absent (#4852)
  changelogs/fragments/4852-sudoers-state-absent.yml
  plugins/modules/system/sudoers.py
  tests/integration/targets/sudoers/tasks/main.yml
Labels: bug, module, tests, integration, new_contributor, plugins, system, backport-4, backport-5

#4860 Remove myself from team_suse
  .github/BOTMETA.yml
Labels: new_contributor, needs_info, needs_template, small_patch, backport-4, backport-5

#4764 Add keyring and keyring_info modules
  .github/BOTMETA.yml
  meta/runtime.yml
  plugins/modules/system/keyring.py
  plugins/modules/system/keyring_info.py
  tests/integration/targets/keyring/aliases
  tests/integration/targets/keyring/tasks/main.yml
  tests/integration/targets/keyring/vars/main.yml
Labels: feature, module, needs_revision, lookup, tests, integration, new_contributor, plugins, check-before-release, backport-5

#4794 Sudoers validate
  changelogs/fragments/4794-sudoers-validation.yml
  plugins/modules/system/sudoers.py
  tests/integration/targets/sudoers/tasks/main.yml
Labels: feature, module, tests, integration, merge_commit, needs_rebase, plugins, system, check-before-release, backport-5

#4865 Fix CI due to pycdlib dropping Python 2 support
  tests/integration/targets/iso_create/meta/main.yml
  tests/integration/targets/iso_create/tasks/main.yml
  tests/utils/constraints.txt
Labels: needs_revision, tests, unit, integration, backport-3, backport-4, backport-5

#4871 Disable opentelemetry installation for unit tests
  tests/unit/requirements.txt
Labels: backport-4, backport-5

#4881 Fix plugin docs
  plugins/callback/log_plays.py
  plugins/callback/selective.py
  plugins/lookup/chef_databag.py
Labels: lookup, callback, plugins, docs, backport-3, docs_only, backport-4, backport-5

#4887 Fix various module docs
  plugins/modules/cloud/lxd/lxd_container.py
  plugins/modules/cloud/misc/serverless.py
  plugins/modules/cloud/misc/terraform.py
  plugins/modules/cloud/rackspace/rax_mon_check.py
  plugins/modules/cloud/scaleway/scaleway_user_data.py
  plugins/modules/clustering/consul/consul_kv.py
  plugins/modules/monitoring/datadog/datadog_event.py
  plugins/modules/net_tools/haproxy.py
  plugins/modules/packaging/language/pip_package_info.py
  plugins/modules/packaging/os/apk.py
  plugins/modules/packaging/os/homebrew.py
  plugins/modules/packaging/os/openbsd_pkg.py
  plugins/modules/packaging/os/pkgng.py
  plugins/modules/packaging/os/pulp_repo.py
  plugins/modules/packaging/os/zypper.py
  plugins/modules/remote_management/hpilo/hponcfg.py
  plugins/modules/source_control/hg.py
  plugins/modules/storage/zfs/zfs_delegate_admin.py
  plugins/modules/system/nosh.py
  plugins/modules/web_infrastructure/jira.py
Labels: module, plugins, cloud, docs, monitoring, net_tools, os, packaging, source_control, system, clustering, remote_management, storage, web_infrastructure, language, backport-3, backport-4, backport-5

#4889 [stable-4] Fix various module docs
  plugins/modules/cloud/lxd/lxd_container.py
  plugins/modules/cloud/misc/serverless.py
  plugins/modules/cloud/misc/terraform.py
  plugins/modules/cloud/rackspace/rax_mon_check.py
  plugins/modules/cloud/scaleway/scaleway_user_data.py
  plugins/modules/clustering/consul/consul_kv.py
  plugins/modules/monitoring/datadog/datadog_event.py
  plugins/modules/net_tools/haproxy.py
  plugins/modules/packaging/language/pip_package_info.py
  plugins/modules/packaging/os/apk.py
  plugins/modules/packaging/os/homebrew.py
  plugins/modules/packaging/os/openbsd_pkg.py
  plugins/modules/packaging/os/pkgng.py
  plugins/modules/packaging/os/pulp_repo.py
  plugins/modules/packaging/os/zypper.py
  plugins/modules/remote_management/hpilo/hponcfg.py
  plugins/modules/source_control/hg.py
  plugins/modules/storage/zfs/zfs_delegate_admin.py
  plugins/modules/system/nosh.py
  plugins/modules/web_infrastructure/jira.py
Labels: module, plugins, cloud, docs, monitoring, net_tools, os, packaging, source_control, system, clustering, remote_management, storage, web_infrastructure, language, backport

#4890 [stable-3] Fix various module docs
  plugins/modules/cloud/lxd/lxd_container.py
  plugins/modules/cloud/misc/serverless.py
  plugins/modules/cloud/misc/terraform.py
  plugins/modules/cloud/rackspace/rax_mon_check.py
  plugins/modules/cloud/scaleway/scaleway_user_data.py
  plugins/modules/clustering/consul/consul_kv.py
  plugins/modules/monitoring/datadog/datadog_event.py
  plugins/modules/net_tools/haproxy.py
  plugins/modules/packaging/language/pip_package_info.py
  plugins/modules/packaging/os/apk.py
  plugins/modules/packaging/os/homebrew.py
  plugins/modules/packaging/os/openbsd_pkg.py
  plugins/modules/packaging/os/pkgng.py
  plugins/modules/packaging/os/pulp_repo.py
  plugins/modules/packaging/os/zypper.py
  plugins/modules/remote_management/hpilo/hponcfg.py
  plugins/modules/source_control/hg.py
  plugins/modules/storage/zfs/zfs_delegate_admin.py
  plugins/modules/system/nosh.py
  plugins/modules/web_infrastructure/jira.py
Labels: module, plugins, cloud, docs, monitoring, net_tools, os, packaging, source_control, system, clustering, remote_management, storage, web_infrastructure, language, backport

#4903 Fix command variable usage in CmdRunner
  changelogs/fragments/4903-cmdrunner-bugfix.yaml
  plugins/module_utils/cmd_runner.py
Labels: bug, new_contributor, module_utils, plugins, check-before-release, backport-4, backport-5

#4904 Fix timezone test
  tests/integration/targets/timezone/tasks/test.yml
Labels: tests, integration, small_patch, backport-3, backport-4, backport-5

#4902 Fix GetChassisPower when multiple chassis are present
  changelogs/fragments/4901-fix-redfish-chassispower.yml
  plugins/module_utils/redfish_utils.py
Labels: bug, module_utils, plugins, check-before-release, backport-4, backport-5
