Repository ansible-collections/community.general, pull requests merged in 2022-08, with the labels that each got.

#5024 Fix: Add user-agent header to allow request through WAF with bot protection
  changelogs/fragments/5023-http-agent-param-keycloak.yml
  plugins/doc_fragments/keycloak.py
  plugins/module_utils/identity/keycloak/keycloak.py
Labels: bug, new_contributor, docs_fragments, module_utils, traceback, plugins, identity, backport-5

#5022 lastpass lookup: use config manager, improve documentation
  changelogs/fragments/5022-lastpass-lookup-cleanup.yml
  plugins/lookup/lastpass.py
  tests/unit/plugins/lookup/test_lastpass.py
Labels: bug, lookup, tests, unit, new_contributor, plugins, backport-5

#5012 New lookup plug-in: bitwarden
  .github/BOTMETA.yml
  plugins/lookup/bitwarden.py
  tests/unit/plugins/lookup/test_bitwarden.py
Labels: lookup, tests, unit, new_plugin, plugins, backport-5

#5037 xfconf: add command output to results
  changelogs/fragments/5037-xfconf-add-cmd-output.yaml
  plugins/modules/system/xfconf.py
  tests/unit/plugins/modules/system/test_xfconf.py
Labels: feature, module, tests, unit, plugins, system, backport-5

#5053 cargo: set CARGO_NET_GIT_FETCH_WITH_CLI=true on Alpine in CI
  tests/integration/targets/cargo/tasks/main.yml
Labels: tests, integration, backport-4, backport-5

#5056 WDC Redfish firmware update support for update image creds
  plugins/module_utils/wdc_redfish_utils.py
Labels: bug, module_utils, plugins, backport-5

#5063 Fix docs
  plugins/modules/cloud/atomic/atomic_container.py
  plugins/modules/cloud/atomic/atomic_image.py
  plugins/modules/cloud/linode/linode.py
  plugins/modules/cloud/lxd/lxd_container.py
  plugins/modules/cloud/lxd/lxd_profile.py
  plugins/modules/cloud/misc/rhevm.py
  plugins/modules/cloud/oneandone/oneandone_server.py
  plugins/modules/cloud/opennebula/one_service.py
  plugins/modules/cloud/packet/packet_device.py
  plugins/modules/clustering/consul/consul_acl.py
  plugins/modules/net_tools/infinity/infinity.py
  plugins/modules/net_tools/ldap/ldap_attrs.py
  plugins/modules/net_tools/ldap/ldap_passwd.py
  plugins/modules/remote_management/hpilo/hpilo_info.py
  plugins/modules/remote_management/redfish/wdc_redfish_info.py
  plugins/modules/source_control/github/github_webhook_info.py
  plugins/modules/source_control/gitlab/gitlab_group_variable.py
  plugins/modules/source_control/gitlab/gitlab_project_variable.py
  plugins/modules/system/dpkg_divert.py
  plugins/modules/system/nosh.py
  plugins/modules/system/pamd.py
  plugins/modules/web_infrastructure/sophos_utm/utm_proxy_location.py
Labels: module, plugins, cloud, docs, gitlab, net_tools, source_control, system, clustering, remote_management, web_infrastructure, backport-5

#5067 aix_filesystem: Fix examples
  plugins/modules/system/aix_filesystem.py
Labels: bug, module, new_contributor, plugins, system, backport-3, docs_only, backport-4, backport-5

#5072 [stable-4] Add MIT-license.txt
  MIT-license.txt
  changelogs/fragments/licenses.yml
  tests/unit/plugins/modules/packaging/language/test_gem.py
Labels: bug, tests, unit, backport-3, backport

#5077 Remove superfluous empty file
  tests/integration/targets/ldap_search/tasks/run-test.yml
Labels: bug, tests, integration, backport-4, backport-5

#5059 WDC Redfish support for chassis indicator LED toggling.
  changelogs/fragments/5059-wdc_redfish_command-indicator-leds.yml
  plugins/module_utils/wdc_redfish_utils.py
  plugins/modules/remote_management/redfish/wdc_redfish_command.py
  tests/unit/plugins/modules/remote_management/wdc/test_wdc_redfish_command.py
Labels: feature, module, tests, unit, module_utils, plugins, remote_management, shipit, backport-5

#5085 pipx: use CmdRunner
  .github/BOTMETA.yml
  changelogs/fragments/5085-pipx-use-cmd-runner.yaml
  plugins/module_utils/pipx.py
  plugins/modules/packaging/language/pipx.py
Labels: feature, module, module_utils, plugins, packaging, language, check-before-release, backport-5

#5098 Add remaining copyright statements, add licenses sanity test
  changelogs/fragments/licenses.yml
  plugins/module_utils/_mount.py
  plugins/modules/monitoring/datadog/datadog_event.py
  plugins/modules/monitoring/icinga2_host.py
  plugins/modules/net_tools/snmp_facts.py
  tests/integration/targets/jboss/tasks/jboss.yml
  tests/integration/targets/kernel_blacklist/tasks/main.yml
  tests/sanity/extra/licenses.json
  tests/sanity/extra/licenses.py
  tests/unit/plugins/modules/packaging/language/test_cpanm.py
  tests/unit/plugins/modules/packaging/os/test_redhat_subscription.py
  tests/unit/plugins/modules/system/test_gconftool2_info.py
  tests/unit/plugins/modules/system/test_xfconf.py
  tests/unit/plugins/modules/system/test_xfconf_info.py
Labels: module, tests, unit, integration, module_utils, plugins, docs, monitoring, net_tools, backport-5

#5100 pipx: add required_if fo upgrade and reinstall
  changelogs/fragments/5100-pipx-req-if.yaml
  plugins/modules/packaging/language/pipx.py
  tests/integration/targets/pipx/tasks/main.yml
Labels: feature, module, tests, integration, plugins, packaging, language, check-before-release, backport-5

#5108 Fix Proxmox `node`, `name` condition.
  changelogs/fragments/5108-proxmox-node-name-condition.yml
  plugins/modules/cloud/misc/proxmox_kvm.py
Labels: bug, module, plugins, cloud, check-before-release, backport-5

#5111 Fix linting errors; fix some real bugs
  changelogs/fragments/5111-fixes.yml
  plugins/callback/dense.py
  plugins/connection/funcd.py
  plugins/module_utils/ilo_redfish_utils.py
  plugins/module_utils/memset.py
  plugins/module_utils/rax.py
  plugins/module_utils/redfish_utils.py
  plugins/module_utils/redis.py
  plugins/modules/cloud/memset/memset_dns_reload.py
  plugins/modules/cloud/memset/memset_memstore_info.py
  plugins/modules/cloud/memset/memset_server_info.py
  plugins/modules/cloud/memset/memset_zone.py
  plugins/modules/cloud/memset/memset_zone_domain.py
  plugins/modules/cloud/memset/memset_zone_record.py
  plugins/modules/cloud/misc/rhevm.py
  plugins/modules/cloud/opennebula/one_image.py
  plugins/modules/cloud/opennebula/one_image_info.py
  plugins/modules/cloud/opennebula/one_service.py
  plugins/modules/cloud/packet/packet_ip_subnet.py
  plugins/modules/cloud/profitbricks/profitbricks_datacenter.py
  plugins/modules/cloud/profitbricks/profitbricks_volume.py
  plugins/modules/cloud/scaleway/scaleway_security_group_rule.py
  plugins/modules/clustering/etcd3.py
  plugins/modules/files/ini_file.py
  plugins/modules/identity/ipa/ipa_otptoken.py
  plugins/modules/monitoring/pagerduty_user.py
  plugins/modules/net_tools/dnsimple_info.py
  plugins/modules/packaging/language/pip_package_info.py
  plugins/modules/packaging/language/yarn.py
  plugins/modules/packaging/os/copr.py
  plugins/modules/packaging/os/flatpak.py
  plugins/modules/packaging/os/flatpak_remote.py
  plugins/modules/packaging/os/xbps.py
  plugins/modules/remote_management/manageiq/manageiq_alert_profiles.py
  plugins/modules/source_control/gitlab/gitlab_group_members.py
  plugins/modules/source_control/gitlab/gitlab_project_members.py
  plugins/modules/source_control/gitlab/gitlab_runner.py
  plugins/modules/storage/pmem/pmem.py
  plugins/modules/system/beadm.py
  plugins/modules/system/homectl.py
  plugins/modules/system/keyring.py
  plugins/modules/system/keyring_info.py
  plugins/modules/system/parted.py
  plugins/modules/system/sap_task_list_execute.py
  plugins/modules/web_infrastructure/apache2_mod_proxy.py
  tests/integration/targets/mail/files/smtpserver.py
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.12.txt
  tests/sanity/ignore-2.13.txt
  tests/unit/plugins/modules/remote_management/lxca/test_lxca_cmms.py
  tests/unit/plugins/modules/remote_management/lxca/test_lxca_nodes.py
  tests/unit/plugins/modules/storage/pmem/test_pmem.py
Labels: bug, module, needs_revision, connection, tests, unit, integration, needs_rebase, module_utils, plugins, cloud, files, gitlab, monitoring, net_tools, os, packaging, source_control, system, clustering, remote_management, storage, web_infrastructure, language, backport-4, backport-5

#5115 [stable-4] Fix linting errors; fix some real bugs
  changelogs/fragments/5111-fixes.yml
  plugins/callback/dense.py
  plugins/connection/funcd.py
  plugins/module_utils/ilo_redfish_utils.py
  plugins/module_utils/memset.py
  plugins/module_utils/rax.py
  plugins/module_utils/redfish_utils.py
  plugins/module_utils/redis.py
  plugins/modules/cloud/memset/memset_dns_reload.py
  plugins/modules/cloud/memset/memset_memstore_info.py
  plugins/modules/cloud/memset/memset_server_info.py
  plugins/modules/cloud/memset/memset_zone.py
  plugins/modules/cloud/memset/memset_zone_domain.py
  plugins/modules/cloud/memset/memset_zone_record.py
  plugins/modules/cloud/misc/rhevm.py
  plugins/modules/cloud/opennebula/one_image.py
  plugins/modules/cloud/opennebula/one_image_info.py
  plugins/modules/cloud/opennebula/one_service.py
  plugins/modules/cloud/packet/packet_ip_subnet.py
  plugins/modules/cloud/profitbricks/profitbricks_datacenter.py
  plugins/modules/cloud/profitbricks/profitbricks_volume.py
  plugins/modules/cloud/scaleway/scaleway_security_group_rule.py
  plugins/modules/clustering/etcd3.py
  plugins/modules/files/ini_file.py
  plugins/modules/identity/ipa/ipa_otptoken.py
  plugins/modules/monitoring/pagerduty_user.py
  plugins/modules/net_tools/dnsimple_info.py
  plugins/modules/packaging/language/pip_package_info.py
  plugins/modules/packaging/language/yarn.py
  plugins/modules/packaging/os/copr.py
  plugins/modules/packaging/os/flatpak.py
  plugins/modules/packaging/os/flatpak_remote.py
  plugins/modules/packaging/os/xbps.py
  plugins/modules/remote_management/manageiq/manageiq_alert_profiles.py
  plugins/modules/source_control/gitlab/gitlab_group_members.py
  plugins/modules/source_control/gitlab/gitlab_project_members.py
  plugins/modules/source_control/gitlab/gitlab_runner.py
  plugins/modules/storage/pmem/pmem.py
  plugins/modules/system/beadm.py
  plugins/modules/system/homectl.py
  plugins/modules/system/parted.py
  plugins/modules/system/sap_task_list_execute.py
  plugins/modules/web_infrastructure/apache2_mod_proxy.py
  tests/integration/targets/mail/files/smtpserver.py
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.12.txt
  tests/sanity/ignore-2.13.txt
  tests/sanity/ignore-2.9.txt
  tests/unit/plugins/modules/remote_management/lxca/test_lxca_cmms.py
  tests/unit/plugins/modules/remote_management/lxca/test_lxca_nodes.py
  tests/unit/plugins/modules/storage/pmem/test_pmem.py
Labels: bug, needs_revision, needs_rebase, backport

#5116 Fix CI
  tests/integration/targets/django_manage/tasks/main.yaml
  tests/integration/targets/monit/tasks/main.yml
Labels: tests, integration, backport-3, backport-4, backport-5

#5106 Update copyright statements
  changelogs/fragments/licenses.yml
  tests/unit/plugins/modules/packaging/language/test_cpanm.py
  tests/unit/plugins/modules/system/test_xfconf.py
Labels: bug, tests, unit

#5121 CI: Remove Fedora 35 from devel CI runs
  .azure-pipelines/azure-pipelines.yml
Labels: small_patch, backport-4, backport-5

#5105 pipx: add state latest
  changelogs/fragments/5105-pipx-state-latest.yaml
  plugins/modules/packaging/language/pipx.py
  tests/integration/targets/pipx/tasks/main.yml
Labels: feature, module, tests, integration, plugins, packaging, language, check-before-release, backport-5

#5107 Change Proxmox `agent` argument to string.
  changelogs/fragments/5107-proxmox-agent-argument.yaml
  plugins/modules/cloud/misc/proxmox_kvm.py
Labels: bug, module, plugins, cloud, check-before-release, backport-5

#5112 Fix nsupdate when updating NS record
  changelogs/fragments/5112-fix-nsupdate-ns-entry.yaml
  plugins/modules/net_tools/nsupdate.py
Labels: bug, module, plugins, net_tools, backport-4, backport-5

#5133 filesystem tests: increase xfs size to 300 MB
  tests/integration/targets/filesystem/defaults/main.yml
Labels: tests, integration, small_patch, backport-4, backport-5

#5129 dig: Fix evaluation of boolean parameters
  changelogs/fragments/5129-dig-boolean-params-fix.yml
  plugins/lookup/dig.py
  tests/integration/targets/lookup_dig/aliases
  tests/integration/targets/lookup_dig/meta/main.yml
  tests/integration/targets/lookup_dig/tasks/main.yml
Labels: bug, needs_revision, lookup, tests, integration, new_contributor, ci_verified, plugins, check-before-release, backport-4, backport-5

#5134 Do not build docs for test-only, changelog-only, or meta-only changes
  .github/workflows/docs-pr.yml
Labels: small_patch, docs

#5138 Make reuse conformant
  .github/workflows/reuse.yml
  .reuse/dep5
  CHANGELOG.rst.license
  README.md
  changelogs/changelog.yaml.license
  changelogs/fragments/licenses-2.yml
  tests/sanity/extra/aliases.json.license
  tests/sanity/extra/botmeta.json.license
  tests/sanity/extra/extra-docs.json.license
  tests/sanity/extra/licenses.json.license
  tests/sanity/extra/licenses.py
  tests/sanity/extra/licenses.py.license
  tests/sanity/extra/no-unwanted-files.json.license
  tests/sanity/ignore-2.11.txt.license
  tests/sanity/ignore-2.12.txt.license
  tests/sanity/ignore-2.13.txt.license
  tests/sanity/ignore-2.14.txt.license
Labels: tests, docs

#5062 feat: Add crc32 filter
  .github/BOTMETA.yml
  plugins/filter/crc32.py
  tests/unit/plugins/filter/test_crc32.py
Labels: feature, tests, unit, new_contributor, new_plugin, plugins, backport-5

#5151 adding nested try block for tss.py to import new Delinea library
  changelogs/fragments/5151-add-delinea-support-tss-lookup.yml
  plugins/lookup/tss.py
Labels: bug, lookup, new_contributor, has_issue, plugins, check-before-release, backport-4, backport-5

#5152 Adjust booleans in doc fragments
  plugins/doc_fragments/auth_basic.py
  plugins/doc_fragments/dimensiondata.py
  plugins/doc_fragments/dimensiondata_wait.py
  plugins/doc_fragments/influxdb.py
  plugins/doc_fragments/ipa.py
  plugins/doc_fragments/keycloak.py
  plugins/doc_fragments/ldap.py
  plugins/doc_fragments/manageiq.py
  plugins/doc_fragments/oneview.py
  plugins/doc_fragments/online.py
  plugins/doc_fragments/opennebula.py
  plugins/doc_fragments/openswitch.py
  plugins/doc_fragments/oracle_wait_options.py
  plugins/doc_fragments/proxmox.py
  plugins/doc_fragments/scaleway.py
  plugins/doc_fragments/utm.py
  plugins/doc_fragments/vexata.py
  plugins/doc_fragments/xenserver.py
Labels: docs_fragments, plugins, docs, shipit, backport-5

#5153 Adjust booleans in system modules
  plugins/modules/system/aix_devices.py
  plugins/modules/system/aix_filesystem.py
  plugins/modules/system/aix_inittab.py
  plugins/modules/system/aix_lvg.py
  plugins/modules/system/awall.py
  plugins/modules/system/capabilities.py
  plugins/modules/system/cronvar.py
  plugins/modules/system/crypttab.py
  plugins/modules/system/dpkg_divert.py
  plugins/modules/system/filesystem.py
  plugins/modules/system/gconftool2.py
  plugins/modules/system/homectl.py
  plugins/modules/system/interfaces_file.py
  plugins/modules/system/iptables_state.py
  plugins/modules/system/java_cert.py
  plugins/modules/system/java_keystore.py
  plugins/modules/system/launchd.py
  plugins/modules/system/listen_ports_facts.py
  plugins/modules/system/lvg.py
  plugins/modules/system/lvol.py
  plugins/modules/system/make.py
  plugins/modules/system/mksysb.py
  plugins/modules/system/nosh.py
  plugins/modules/system/open_iscsi.py
  plugins/modules/system/openwrt_init.py
  plugins/modules/system/osx_defaults.py
  plugins/modules/system/pam_limits.py
  plugins/modules/system/pamd.py
  plugins/modules/system/puppet.py
  plugins/modules/system/runit.py
  plugins/modules/system/sefcontext.py
  plugins/modules/system/selinux_permissive.py
  plugins/modules/system/selogin.py
  plugins/modules/system/seport.py
  plugins/modules/system/solaris_zone.py
  plugins/modules/system/sysupgrade.py
  plugins/modules/system/ufw.py
  plugins/modules/system/vdo.py
  plugins/modules/system/xfconf.py
Labels: module, needs_revision, plugins, docs, system, backport-5

#5154 Adjust booleans in packaging modules
  plugins/modules/packaging/language/bower.py
  plugins/modules/packaging/language/bundler.py
  plugins/modules/packaging/language/composer.py
  plugins/modules/packaging/language/cpanm.py
  plugins/modules/packaging/language/easy_install.py
  plugins/modules/packaging/language/gem.py
  plugins/modules/packaging/language/maven_artifact.py
  plugins/modules/packaging/language/npm.py
  plugins/modules/packaging/language/yarn.py
  plugins/modules/packaging/os/apk.py
  plugins/modules/packaging/os/apt_repo.py
  plugins/modules/packaging/os/apt_rpm.py
  plugins/modules/packaging/os/homebrew.py
  plugins/modules/packaging/os/homebrew_cask.py
  plugins/modules/packaging/os/installp.py
  plugins/modules/packaging/os/layman.py
  plugins/modules/packaging/os/macports.py
  plugins/modules/packaging/os/mas.py
  plugins/modules/packaging/os/openbsd_pkg.py
  plugins/modules/packaging/os/opkg.py
  plugins/modules/packaging/os/pacman.py
  plugins/modules/packaging/os/pkg5.py
  plugins/modules/packaging/os/pkgin.py
  plugins/modules/packaging/os/pkgng.py
  plugins/modules/packaging/os/pkgutil.py
  plugins/modules/packaging/os/portage.py
  plugins/modules/packaging/os/portinstall.py
  plugins/modules/packaging/os/pulp_repo.py
  plugins/modules/packaging/os/redhat_subscription.py
  plugins/modules/packaging/os/rhn_register.py
  plugins/modules/packaging/os/rhsm_repository.py
  plugins/modules/packaging/os/snap.py
  plugins/modules/packaging/os/sorcery.py
  plugins/modules/packaging/os/swupd.py
  plugins/modules/packaging/os/urpmi.py
  plugins/modules/packaging/os/xbps.py
  plugins/modules/packaging/os/zypper.py
  plugins/modules/packaging/os/zypper_repository.py
Labels: module, plugins, docs, os, packaging, language, shipit, backport-5

#5156 Adjust booleans in monitoring modules
  plugins/modules/monitoring/airbrake_deployment.py
  plugins/modules/monitoring/bigpanda.py
  plugins/modules/monitoring/datadog/datadog_event.py
  plugins/modules/monitoring/datadog/datadog_monitor.py
  plugins/modules/monitoring/honeybadger_deployment.py
  plugins/modules/monitoring/icinga2_host.py
  plugins/modules/monitoring/newrelic_deployment.py
  plugins/modules/monitoring/pagerduty.py
  plugins/modules/monitoring/pagerduty_change.py
  plugins/modules/monitoring/rollbar_deployment.py
  plugins/modules/monitoring/sensu/sensu_check.py
  plugins/modules/monitoring/sensu/sensu_client.py
  plugins/modules/monitoring/sensu/sensu_handler.py
  plugins/modules/monitoring/sensu/sensu_subscription.py
  plugins/modules/monitoring/spectrum_device.py
  plugins/modules/monitoring/spectrum_model_attrs.py
  plugins/modules/monitoring/statusio_maintenance.py
Labels: module, plugins, docs, monitoring, shipit, needs_maintainer, backport-5

#5157 Adjust booleans in notification modules
  plugins/modules/notification/bearychat.py
  plugins/modules/notification/cisco_webex.py
  plugins/modules/notification/discord.py
  plugins/modules/notification/flowdock.py
  plugins/modules/notification/grove.py
  plugins/modules/notification/hipchat.py
  plugins/modules/notification/irc.py
  plugins/modules/notification/mail.py
  plugins/modules/notification/mattermost.py
  plugins/modules/notification/mqtt.py
  plugins/modules/notification/nexmo.py
  plugins/modules/notification/rocketchat.py
  plugins/modules/notification/sendgrid.py
  plugins/modules/notification/slack.py
Labels: module, plugins, docs, notification, shipit, needs_maintainer, docs_only, backport-5

#5158 Adjust booleans in source control modules
  plugins/modules/source_control/bitbucket/bitbucket_pipeline_variable.py
  plugins/modules/source_control/bzr.py
  plugins/modules/source_control/git_config.py
  plugins/modules/source_control/github/github_deploy_key.py
  plugins/modules/source_control/github/github_key.py
  plugins/modules/source_control/github/github_release.py
  plugins/modules/source_control/github/github_repo.py
  plugins/modules/source_control/gitlab/gitlab_deploy_key.py
  plugins/modules/source_control/gitlab/gitlab_hook.py
  plugins/modules/source_control/gitlab/gitlab_project.py
  plugins/modules/source_control/gitlab/gitlab_project_variable.py
  plugins/modules/source_control/gitlab/gitlab_runner.py
  plugins/modules/source_control/gitlab/gitlab_user.py
  plugins/modules/source_control/hg.py
Labels: module, plugins, docs, gitlab, source_control, shipit, backport-5

#5159 Adjust booleans in net tools, web infrastructure, and clustering modules
  plugins/modules/clustering/consul/consul.py
  plugins/modules/clustering/consul/consul_kv.py
  plugins/modules/clustering/pacemaker_cluster.py
  plugins/modules/clustering/znode.py
  plugins/modules/net_tools/cloudflare_dns.py
  plugins/modules/net_tools/dnsimple.py
  plugins/modules/net_tools/dnsmadeeasy.py
  plugins/modules/net_tools/haproxy.py
  plugins/modules/net_tools/ipify_facts.py
  plugins/modules/net_tools/ldap/ldap_attrs.py
  plugins/modules/net_tools/nmcli.py
  plugins/modules/net_tools/omapi_host.py
  plugins/modules/net_tools/pritunl/pritunl_user.py
  plugins/modules/web_infrastructure/apache2_mod_proxy.py
  plugins/modules/web_infrastructure/deploy_helper.py
  plugins/modules/web_infrastructure/django_manage.py
  plugins/modules/web_infrastructure/htpasswd.py
  plugins/modules/web_infrastructure/jenkins_job.py
  plugins/modules/web_infrastructure/jenkins_plugin.py
  plugins/modules/web_infrastructure/jenkins_script.py
Labels: module, plugins, docs, net_tools, clustering, web_infrastructure, docs_only, backport-5

#5160 Adjust booleans in misc modules
  plugins/modules/database/influxdb/influxdb_database.py
  plugins/modules/database/influxdb/influxdb_retention_policy.py
  plugins/modules/database/influxdb/influxdb_user.py
  plugins/modules/database/misc/elasticsearch_plugin.py
  plugins/modules/database/misc/odbc.py
  plugins/modules/database/misc/riak.py
  plugins/modules/database/mssql/mssql_db.py
  plugins/modules/files/archive.py
  plugins/modules/files/ini_file.py
  plugins/modules/files/iso_create.py
  plugins/modules/files/iso_extract.py
  plugins/modules/files/read_csv.py
  plugins/modules/files/xml.py
  plugins/modules/identity/ipa/ipa_group.py
  plugins/modules/identity/keycloak/keycloak_client.py
  plugins/modules/identity/keycloak/keycloak_realm_info.py
  plugins/modules/remote_management/cobbler/cobbler_sync.py
  plugins/modules/remote_management/cobbler/cobbler_system.py
  plugins/modules/remote_management/hpilo/hpilo_boot.py
  plugins/modules/remote_management/hpilo/hponcfg.py
  plugins/modules/remote_management/imc/imc_rest.py
  plugins/modules/remote_management/ipmi/ipmi_boot.py
  plugins/modules/remote_management/manageiq/manageiq_provider.py
  plugins/modules/remote_management/stacki/stacki_host.py
  plugins/modules/storage/hpe3par/ss_3par_cpg.py
  plugins/modules/storage/zfs/zfs_delegate_admin.py
  plugins/modules/storage/zfs/zfs_facts.py
Labels: module, database, plugins, docs, files, identity, remote_management, storage, backport-5

#5155 Adjust booleans in cloud modules
  plugins/modules/cloud/atomic/atomic_image.py
  plugins/modules/cloud/centurylink/clc_modify_server.py
  plugins/modules/cloud/centurylink/clc_publicip.py
  plugins/modules/cloud/centurylink/clc_server.py
  plugins/modules/cloud/dimensiondata/dimensiondata_vlan.py
  plugins/modules/cloud/heroku/heroku_collaborator.py
  plugins/modules/cloud/linode/linode.py
  plugins/modules/cloud/lxc/lxc_container.py
  plugins/modules/cloud/misc/proxmox.py
  plugins/modules/cloud/misc/proxmox_kvm.py
  plugins/modules/cloud/misc/proxmox_snap.py
  plugins/modules/cloud/misc/proxmox_template.py
  plugins/modules/cloud/misc/rhevm.py
  plugins/modules/cloud/misc/serverless.py
  plugins/modules/cloud/oneandone/oneandone_firewall_policy.py
  plugins/modules/cloud/oneandone/oneandone_load_balancer.py
  plugins/modules/cloud/oneandone/oneandone_monitoring_policy.py
  plugins/modules/cloud/oneandone/oneandone_private_network.py
  plugins/modules/cloud/oneandone/oneandone_public_ip.py
  plugins/modules/cloud/oneandone/oneandone_server.py
  plugins/modules/cloud/opennebula/one_image.py
  plugins/modules/cloud/opennebula/one_service.py
  plugins/modules/cloud/opennebula/one_vm.py
  plugins/modules/cloud/profitbricks/profitbricks.py
  plugins/modules/cloud/profitbricks/profitbricks_datacenter.py
  plugins/modules/cloud/profitbricks/profitbricks_nic.py
  plugins/modules/cloud/profitbricks/profitbricks_volume.py
  plugins/modules/cloud/profitbricks/profitbricks_volume_attachments.py
  plugins/modules/cloud/rackspace/rax.py
  plugins/modules/cloud/rackspace/rax_cbs.py
  plugins/modules/cloud/rackspace/rax_cbs_attachments.py
  plugins/modules/cloud/rackspace/rax_cdb.py
  plugins/modules/cloud/rackspace/rax_cdb_database.py
  plugins/modules/cloud/rackspace/rax_cdb_user.py
  plugins/modules/cloud/rackspace/rax_clb.py
  plugins/modules/cloud/rackspace/rax_clb_nodes.py
  plugins/modules/cloud/rackspace/rax_files.py
  plugins/modules/cloud/rackspace/rax_files_objects.py
  plugins/modules/cloud/rackspace/rax_mon_check.py
  plugins/modules/cloud/rackspace/rax_network.py
  plugins/modules/cloud/rackspace/rax_scaling_group.py
  plugins/modules/cloud/scaleway/scaleway_compute.py
  plugins/modules/cloud/scaleway/scaleway_lb.py
  plugins/modules/cloud/smartos/nictagadm.py
  plugins/modules/cloud/smartos/vmadm.py
  plugins/modules/cloud/softlayer/sl_vm.py
  plugins/modules/cloud/univention/udm_user.py
  plugins/modules/cloud/webfaction/webfaction_app.py
  plugins/modules/cloud/webfaction/webfaction_site.py
  plugins/modules/cloud/xenserver/xenserver_guest.py
  plugins/modules/cloud/xenserver/xenserver_guest_powerstate.py
Labels: needs_revision, needs_rebase, docs, backport-5

#5178 [stable-5] Adjust booleans in system modules
  plugins/modules/system/aix_devices.py
  plugins/modules/system/aix_filesystem.py
  plugins/modules/system/aix_inittab.py
  plugins/modules/system/aix_lvg.py
  plugins/modules/system/awall.py
  plugins/modules/system/capabilities.py
  plugins/modules/system/cronvar.py
  plugins/modules/system/crypttab.py
  plugins/modules/system/dpkg_divert.py
  plugins/modules/system/filesystem.py
  plugins/modules/system/gconftool2.py
  plugins/modules/system/homectl.py
  plugins/modules/system/interfaces_file.py
  plugins/modules/system/iptables_state.py
  plugins/modules/system/java_cert.py
  plugins/modules/system/java_keystore.py
  plugins/modules/system/launchd.py
  plugins/modules/system/listen_ports_facts.py
  plugins/modules/system/lvg.py
  plugins/modules/system/lvol.py
  plugins/modules/system/make.py
  plugins/modules/system/mksysb.py
  plugins/modules/system/nosh.py
  plugins/modules/system/open_iscsi.py
  plugins/modules/system/openwrt_init.py
  plugins/modules/system/osx_defaults.py
  plugins/modules/system/pam_limits.py
  plugins/modules/system/pamd.py
  plugins/modules/system/puppet.py
  plugins/modules/system/runit.py
  plugins/modules/system/sefcontext.py
  plugins/modules/system/selinux_permissive.py
  plugins/modules/system/selogin.py
  plugins/modules/system/seport.py
  plugins/modules/system/solaris_zone.py
  plugins/modules/system/sysupgrade.py
  plugins/modules/system/ufw.py
  plugins/modules/system/vdo.py
  plugins/modules/system/xfconf.py
Labels: module, needs_revision, plugins, docs, system, backport

#5177 Fix indent
  plugins/modules/packaging/os/xbps.py
Labels: module, small_patch, plugins, docs, os, packaging, docs_only, backport-5

#5124 Update redfish module for compatibility with VirtualMedia resource location
  changelogs/fragments/5124-compatibility-virtualmedia-resource-location.yaml
  plugins/module_utils/redfish_utils.py
  plugins/modules/remote_management/redfish/redfish_command.py
  plugins/modules/remote_management/redfish/redfish_info.py
Labels: bug, module, module_utils, plugins, remote_management, backport-5

#5183 [TEMP] CI: Fix RHEL 8 issues by restricting bcrypt to < 4.0.0
  tests/utils/constraints.txt
Labels: needs_revision, tests, unit, small_patch, traceback, backport-4, backport-5

#5194 Fix exception when `agent` argument is not specified.
  changelogs/fragments/5194-fix-proxmox-agent-exception.yaml
  plugins/modules/cloud/misc/proxmox_kvm.py
Labels: bug, module, plugins, cloud, check-before-release, backport-5
