Repository ansible-collections/community.general, pull requests merged in 2022-01, with the labels that each got.

#3933 slack - use UTF-8 charset in content-type header
  changelogs/fragments/3933-slack-charset-header.yaml
  plugins/modules/notification/slack.py
Labels: bug, module, stale_ci, plugins, notification, backport-3, backport-4

#3946 Mattermost: Add sending of attachments
  changelogs/fragments/3946-mattermost_attachments.yml
  plugins/modules/notification/mattermost.py
Labels: feature, module, new_contributor, plugins, notification, backport-4

#3934 Get rid of distutils.spawn and distutils.util
  changelogs/fragments/3934-distutils.yml
  plugins/callback/say.py
  plugins/connection/jail.py
  plugins/connection/lxd.py
  plugins/connection/zone.py
  plugins/lookup/passwordstore.py
Labels: bug, lookup, callback, connection, has_issue, plugins, shipit, check-before-release, backport-3, backport-4

#3746 Sudoers (take 2)
  .github/BOTMETA.yml
  plugins/modules/sudoers.py
  plugins/modules/system/sudoers.py
  tests/integration/targets/sudoers/aliases
  tests/integration/targets/sudoers/tasks/main.yml
Labels: module, tests, integration, new_contributor, new_plugin, plugins, check-before-release, backport-4

#3967 Re-enable snap tests
  tests/integration/targets/setup_snap/defaults/main.yml
  tests/integration/targets/setup_snap/handlers/main.yml
  tests/integration/targets/setup_snap/meta/main.yml
  tests/integration/targets/setup_snap/tasks/D-Fedora.yml
  tests/integration/targets/setup_snap/tasks/D-RedHat-8.2.yml
  tests/integration/targets/setup_snap/tasks/D-RedHat-8.3.yml
  tests/integration/targets/setup_snap/tasks/Debian.yml
  tests/integration/targets/setup_snap/tasks/RedHat.yml
  tests/integration/targets/setup_snap/tasks/default.yml
  tests/integration/targets/setup_snap/tasks/main.yml
  tests/integration/targets/setup_snap/tasks/nothing.yml
  tests/integration/targets/snap/aliases
  tests/integration/targets/snap/meta/main.yml
  tests/integration/targets/snap/tasks/main.yml
  tests/integration/targets/snap_alias/aliases
  tests/integration/targets/snap_alias/defaults/main.yml
  tests/integration/targets/snap_alias/handlers/main.yml
  tests/integration/targets/snap_alias/meta/main.yml
  tests/integration/targets/snap_alias/tasks/Debian.yml
  tests/integration/targets/snap_alias/tasks/Fedora.yml
  tests/integration/targets/snap_alias/tasks/RedHat.yml
  tests/integration/targets/snap_alias/tasks/default.yml
  tests/integration/targets/snap_alias/tasks/main.yml
  tests/integration/targets/snap_alias/tasks/nothing.yml
Labels: tests, integration, backport-3, backport-4

#3964 [Bug] Scaleway The volume is created systematically on par1
  changelogs/fragments/3964-scaleway_volume_add_region.yml
  plugins/modules/cloud/scaleway/scaleway_volume.py
Labels: bug, module, new_contributor, plugins, cloud, check-before-release, backport-4

#3982 [stable-3] Re-enable snap tests
  tests/integration/targets/setup_snap/defaults/main.yml
  tests/integration/targets/setup_snap/handlers/main.yml
  tests/integration/targets/setup_snap/meta/main.yml
  tests/integration/targets/setup_snap/tasks/D-Fedora.yml
  tests/integration/targets/setup_snap/tasks/D-RedHat-8.2.yml
  tests/integration/targets/setup_snap/tasks/D-RedHat-8.3.yml
  tests/integration/targets/setup_snap/tasks/Debian.yml
  tests/integration/targets/setup_snap/tasks/RedHat.yml
  tests/integration/targets/setup_snap/tasks/default.yml
  tests/integration/targets/setup_snap/tasks/main.yml
  tests/integration/targets/setup_snap/tasks/nothing.yml
  tests/integration/targets/snap/aliases
  tests/integration/targets/snap/meta/main.yml
  tests/integration/targets/snap/tasks/main.yml
Labels: tests, integration, backport

#3984 Use vendored copy of distutils.version
  changelogs/fragments/3936-distutils.version.yml
  plugins/module_utils/_version.py
  plugins/module_utils/version.py
Labels: bug, module_utils, plugins, backport-3, backport-4

#3989 Fix BOTMETA and corresponding sanity test
  .github/BOTMETA.yml
  plugins/modules/system/sudoers.py
  tests/sanity/extra/botmeta.py
Labels: bug, module, tests, plugins, system, needs_backport_to_stable_3, backport-4

#3991 [stable-3] Fix BOTMETA and corresponding sanity test
  .github/BOTMETA.yml
  tests/sanity/extra/botmeta.py
Labels: bug, tests, backport

#3930 proxmox: Add clone parameter
  changelogs/fragments/3930-proxmox-add-clone.yaml
  plugins/modules/cloud/misc/proxmox.py
Labels: feature, module, stale_ci, new_contributor, has_issue, plugins, cloud, backport-4

#3993 Fix comment.
  plugins/module_utils/version.py
Labels: needs_revision, module_utils, small_patch, plugins, docs, backport-3, backport-4

#4002 Fix 2.9 unit tests
  tests/utils/shippable/units.sh
Labels: needs_revision, tests, unit, small_patch, backport-2, backport-3, backport-4

#3985 nmcli: Add wireguard connection type support
  changelogs/fragments/3985-nmcli-add-wireguard-connection-type.yml
  plugins/modules/net_tools/nmcli.py
  tests/unit/plugins/modules/net_tools/test_nmcli.py
Labels: feature, module, tests, unit, new_contributor, plugins, net_tools, check-before-release, backport-4

#4006 Restrict PyNaCL to 1.4.x on RHEL8 when using Python 3.6
  tests/utils/shippable/remote.sh
Labels: tests, unit, small_patch, backport-2, backport-3, backport-4

#3712 New module for cargo command
  .github/BOTMETA.yml
  plugins/modules/cargo.py
  plugins/modules/packaging/language/cargo.py
  tests/integration/targets/cargo/aliases
  tests/integration/targets/cargo/tasks/main.yml
  tests/integration/targets/cargo/tasks/setup.yml
  tests/integration/targets/cargo/tasks/test_general.yml
  tests/integration/targets/cargo/tasks/test_version.yml
Labels: module, tests, integration, new_contributor, has_issue, new_plugin, plugins, backport-4

#3968 ipmi_power: Add machine option to ensure the power state via the remote target address
  changelogs/fragments/3968-ipmi_power-add-machine-option.yaml
  plugins/modules/remote_management/ipmi/ipmi_power.py
Labels: feature, module, new_contributor, plugins, remote_management, check-before-release, backport-4

#3988 Unvendor distutils.version
  README.md
  changelogs/fragments/3988-distutils-vendor-removed.yml
  plugins/module_utils/_version.py
  plugins/module_utils/version.py
Labels: feature, module_utils, plugins, breaking_change

#4013 Fix example code for flattened lookup
  plugins/lookup/flattened.py
Labels: lookup, new_contributor, small_patch, plugins, backport-3, docs_only, backport-4

#3980 puppet: Add documentation and remove deprecation for show_diff, keep deprecation for alias show-diff
  changelogs/fragments/3980-puppet-show_diff.yml
  plugins/modules/system/puppet.py
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.12.txt
  tests/sanity/ignore-2.13.txt
  tests/sanity/ignore-2.9.txt
Labels: feature, module, tests, new_contributor, traceback, plugins, system, backport-4

#3976 fix alternatives parsing when they are part of a group
  changelogs/fragments/3976-fix-alternatives-parsing.yml
  plugins/modules/system/alternatives.py
Labels: bug, module, new_contributor, plugins, system, backport-3, backport-4

#3998 New Module: Keycloak Realm Info
  .github/BOTMETA.yml
  plugins/module_utils/identity/keycloak/keycloak.py
  plugins/modules/identity/keycloak/keycloak_realm_info.py
  plugins/modules/keycloak_realm_info.py
  tests/unit/plugins/modules/identity/keycloak/test_keycloak_realm_info.py
Labels: module, tests, unit, new_contributor, new_plugin, module_utils, plugins, identity, backport-4

#4033 Update CI matrix for Remote Devel
  .azure-pipelines/azure-pipelines.yml
Labels: backport-3, backport-4

#4030 Move Proxmox `HAS_PROXMOXER` check into `module_utils`.
  changelogs/fragments/4030-proxmox-has-proxmoxer.yml
  plugins/module_utils/proxmox.py
  plugins/modules/cloud/misc/proxmox_domain_info.py
  plugins/modules/cloud/misc/proxmox_group_info.py
  plugins/modules/cloud/misc/proxmox_snap.py
  plugins/modules/cloud/misc/proxmox_storage_info.py
  plugins/modules/cloud/misc/proxmox_tasks_info.py
  plugins/modules/cloud/misc/proxmox_user_info.py
  tests/unit/plugins/modules/cloud/misc/test_proxmox_tasks_info.py
Labels: module, tests, unit, new_contributor, module_utils, plugins, cloud, backport-4

#4041 Update example
  plugins/inventory/xen_orchestra.py
Labels: inventory, plugins, docs, docs_only, backport-4

#4043 opentelemetry: no_log:true causes exception when generating trace
  changelogs/fragments/4043-fix-no-log-opentelemetry.yml
  plugins/callback/opentelemetry.py
Labels: bug, callback, new_contributor, plugins, backport-3, backport-4

#4052 Fix detection of installed cargo packages with hyphens in name
  changelogs/fragments/4052-fix-detection-of-installed-cargo-packages-with-hyphens.yaml
  plugins/modules/packaging/language/cargo.py
  tests/integration/targets/cargo/tasks/test_version.yml
Labels: bug, module, tests, integration, new_contributor, plugins, packaging, language, check-before-release, backport-4

#4026 Fix exception in the `mail` callback plugin
  changelogs/fragments/4026-fix-mail-callback.yml
  plugins/callback/mail.py
Labels: bug, callback, new_contributor, plugins, check-before-release, backport-3, backport-4

#4056 `mail`: add `Date` and `Message-ID` headers
  changelogs/fragments/4056-add-missing-mail-headers.yml
  plugins/callback/mail.py
Labels: feature, callback, plugins, check-before-release, backport-4

#4070 Improve documentation on how to run tests
  CONTRIBUTING.md
Labels: docs, backport-3, backport-4

#4062 Add nmcli support for IPv6 routes
  changelogs/fragments/4062-nmcli-ipv6-routes-support.yml
  plugins/modules/net_tools/nmcli.py
  tests/unit/plugins/modules/net_tools/test_nmcli.py
Labels: feature, module, tests, unit, new_contributor, plugins, net_tools, backport-4

#3943 Add option "options" to snap module
  changelogs/fragments/3943-add-option-options-to-snap-module.yml
  plugins/modules/packaging/os/snap.py
  tests/integration/targets/snap/tasks/main.yml
Labels: feature, module, stale_ci, tests, integration, new_contributor, plugins, os, packaging, check-before-release, backport-4

#4036 one_vm: add release action
  changelogs/fragments/4036-onevm-add-release-action.yaml
  plugins/modules/cloud/opennebula/one_vm.py
Labels: feature, module, new_contributor, plugins, cloud, check-before-release, backport-4

#4080 Fix missing '>'.
  plugins/modules/remote_management/manageiq/manageiq_alerts.py
Labels: module, small_patch, plugins, docs, remote_management, backport-3, docs_only, backport-4

#4039 Adding while loop to wait for cluster container creation
  changelogs/fragments/4039-cluster-container-wait.yml
  plugins/module_utils/lxd.py
  plugins/modules/cloud/lxd/lxd_container.py
Labels: bug, module, new_contributor, module_utils, plugins, cloud, backport-4

#4018 New Module: Homectl module for managing systemd-homed
  .github/BOTMETA.yml
  plugins/modules/homectl.py
  plugins/modules/system/homectl.py
  tests/integration/targets/homectl/aliases
  tests/integration/targets/homectl/tasks/main.yml
Labels: module, tests, integration, new_contributor, new_plugin, plugins, backport-4

#4050 Properly parse JSON Lines output from yarn
  changelogs/fragments/4050-properly-parse-json-lines-output-from-yarn.yaml
  plugins/modules/packaging/language/yarn.py
Labels: bug, module, plugins, packaging, language, backport-3, backport-4

#4048 Actually expand ~ in yarn global install folder
  changelogs/fragments/4048-expand-tilde-in-yarn-global-install-folder.yaml
  plugins/modules/packaging/language/yarn.py
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.12.txt
  tests/sanity/ignore-2.13.txt
  tests/sanity/ignore-2.9.txt
Labels: bug, module, stale_ci, tests, has_issue, plugins, packaging, language, backport-3, backport-4

#4058 Add options to filter lists_mergeby
  changelogs/fragments/4058-lists_mergeby-add-parameters.yml
  docs/docsite/helper/lists_mergeby/examples.rst.j2
  docs/docsite/helper/lists_mergeby/examples.yml
  docs/docsite/helper/lists_mergeby/playbook.yml
  docs/docsite/rst/examples/lists_mergeby/example-001.out
  docs/docsite/rst/examples/lists_mergeby/example-001.yml
  docs/docsite/rst/examples/lists_mergeby/example-002.out
  docs/docsite/rst/examples/lists_mergeby/example-002.yml
  docs/docsite/rst/examples/lists_mergeby/example-003.out
  docs/docsite/rst/examples/lists_mergeby/example-003.yml
  docs/docsite/rst/examples/lists_mergeby/example-004.out
  docs/docsite/rst/examples/lists_mergeby/example-004.yml
  docs/docsite/rst/examples/lists_mergeby/example-005.out
  docs/docsite/rst/examples/lists_mergeby/example-005.yml
  docs/docsite/rst/examples/lists_mergeby/example-006.out
  docs/docsite/rst/examples/lists_mergeby/example-006.yml
  docs/docsite/rst/examples/lists_mergeby/example-007.out
  docs/docsite/rst/examples/lists_mergeby/example-007.yml
  docs/docsite/rst/examples/lists_mergeby/example-008.out
  docs/docsite/rst/examples/lists_mergeby/example-008.yml
  docs/docsite/rst/filter_guide.rst
  plugins/filter/list.py
  tests/integration/targets/filter_list/tasks/lists_mergeby.yml
  tests/integration/targets/filter_list/tasks/lists_mergeby_2-10.yml
  tests/integration/targets/filter_list/tasks/lists_mergeby_default.yml
  tests/integration/targets/filter_list/tasks/main.yml
  tests/integration/targets/filter_list/vars/main.yml
Labels: feature, tests, integration, merge_commit, needs_rebase, filter, plugins, check-before-release, backport-4

#4104 opentelemetry: enrich service for community.docker.docker_login
  changelogs/fragments/4104-opentelemetry_plugin-enrich_docker_login.yaml
  plugins/callback/opentelemetry.py
Labels: feature, callback, plugins, check-before-release, backport-4

#4078 python_requirements_info: don't overwrite results in 'mismatched' dict key
  changelogs/fragments/4078-python_requirements_info.yaml
  plugins/modules/system/python_requirements_info.py
Labels: bug, module, new_contributor, plugins, system, backport-3, backport-4

#4093 [stable-1] Add EoL message
  changelogs/fragments/eol.yml
Labels: has_issue, owner_pr, docs, backport

#4094 [stable-2] Add EoL message
  changelogs/fragments/eol.yml
Labels: has_issue, owner_pr, docs, backport

#4114 PyOpenSSL 22.0.0 no longer supports Python 2.7
  tests/utils/constraints.txt
Labels: tests, unit, small_patch, backport-1, backport-2, backport-3, backport-4

#4103 Docs split filter guide
  docs/docsite/rst/filter_guide.rst
  docs/docsite/rst/filter_guide_abstract_informations.rst
  docs/docsite/rst/filter_guide_abstract_informations_counting_elements_in_sequence.rst
  docs/docsite/rst/filter_guide_abstract_informations_dictionaries.rst
  docs/docsite/rst/filter_guide_abstract_informations_grouping.rst
  docs/docsite/rst/filter_guide_abstract_informations_merging_lists_of_dictionaries.rst
  docs/docsite/rst/filter_guide_conversions.rst
  docs/docsite/rst/filter_guide_creating_identifiers.rst
  docs/docsite/rst/filter_guide_paths.rst
  docs/docsite/rst/filter_guide_selecting_json_data.rst
  docs/docsite/rst/filter_guide_working_with_times.rst
  docs/docsite/rst/filter_guide_working_with_unicode.rst
  docs/docsite/rst/filter_guide_working_with_versions.rst
Labels: docs, docs_only, backport-4

#4068 [inventory/cobbler] Add include_profiles option
  changelogs/fragments/4068-add-include_file-option.yml
  plugins/inventory/cobbler.py
Labels: feature, inventory, plugins, backport-4

#3965 gitlab: use gitlab instance runner to create runner
  changelogs/fragments/3935-use-gitlab-instance-runner-to-create-runner.yml
  plugins/modules/source_control/gitlab/gitlab_runner.py
Labels: bug, module, stale_ci, new_contributor, plugins, gitlab, source_control, backport-3, backport-4

#4092 Fix local port regex in listen_ports_facts
  changelogs/fragments/4092-fix_local_ports_regex_listen_ports_facts.yaml
  plugins/modules/system/listen_ports_facts.py
Labels: bug, module, new_contributor, plugins, system, backport-3, backport-4

#4049 Add profile parameter for scaleway inventory
  changelogs/fragments/4049-profile-for-scaleway-inventory.yml
  plugins/inventory/scaleway.py
Labels: feature, stale_ci, inventory, plugins, cloud, backport-4

#4088 Added new feature for ansible_user and ansible_port in Icinga2 inventory source
  changelogs/fragments/4088-add-constructed-interface-for-icinga2-inventory.yml
  plugins/inventory/icinga2.py
  tests/unit/plugins/inventory/test_icinga2.py
Labels: feature, tests, unit, new_contributor, inventory, plugins, check-before-release, backport-4

#4038 Fix and rework gitlab_project_variable
  changelogs/fragments/4038-fix-and-rework-gitlb-project-variable.yml
  plugins/modules/source_control/gitlab/gitlab_project_variable.py
  tests/integration/targets/gitlab_project_variable/tasks/main.yml
Labels: bug, module, tests, integration, has_issue, plugins, gitlab, source_control, check-before-release, backport-4

#4132 Fix CentOS 8 in CI for now
  tests/integration/targets/setup_pkg_mgr/tasks/main.yml
Labels: tests, integration, small_patch, backport-3, backport-4

#4134 [stable-1] Remove CentOS 8 from CI
  .azure-pipelines/azure-pipelines.yml
Labels: needs_revision, backport

#4135 [stable-2] Remove CentOS 8 from CI
  .azure-pipelines/azure-pipelines.yml
Labels: needs_revision, needs_ci, backport

#4139 Drop CentOS 8 from CI
  .azure-pipelines/azure-pipelines.yml
Labels: small_patch
