Repository ansible-collections/community.general, pull requests merged in 2022-02, with the labels that each got.

#4140 mail callback: fully use Ansible's option handling; deprecate not specifying sender
  changelogs/fragments/4140-mail-callback-options.yml
  plugins/callback/mail.py
Labels: feature, callback, plugins, check-before-release, backport-4

#4090 homebrew_cask: reinstall when force is install option
  changelogs/fragments/3703-force-install-homebrew-cask.yml
  plugins/modules/packaging/os/homebrew_cask.py
  tests/integration/targets/homebrew_cask/aliases
  tests/integration/targets/homebrew_cask/defaults/main.yml
  tests/integration/targets/homebrew_cask/tasks/main.yml
Labels: bug, module, tests, integration, new_contributor, plugins, os, packaging, check-before-release, backport-3, backport-4

#4142 xfconf: fix return value documentation to use a valid value for 'type'
  plugins/modules/system/xfconf.py
Labels: module, plugins, docs, system, check-before-release, backport-3, backport-4

#4150 gitlab_project_variable: Allow delete without value
  changelogs/fragments/4150-gitlab-project-variable-absent-fix.yml
  plugins/modules/source_control/gitlab/gitlab_project_variable.py
  tests/integration/targets/gitlab_project_variable/tasks/main.yml
Labels: bug, module, tests, integration, plugins, gitlab, source_control, backport-4

#4148 Update Proxmox Inventory Documentation with additional examples
  plugins/inventory/proxmox.py
Labels: new_contributor, inventory, plugins, docs, backport-3, docs_only, backport-4

#4125 Update docs helper. Automate generation of 'Merging lists of dictiona…
  docs/docsite/helper/lists_mergeby/default-common.yml
  docs/docsite/helper/lists_mergeby/default-recursive-true.yml
  docs/docsite/helper/lists_mergeby/example-001.yml
  docs/docsite/helper/lists_mergeby/example-001_vars/default-common.yml
  docs/docsite/helper/lists_mergeby/example-001_vars/list3.yml
  docs/docsite/helper/lists_mergeby/example-002.yml
  docs/docsite/helper/lists_mergeby/example-002_vars/default-common.yml
  docs/docsite/helper/lists_mergeby/example-002_vars/list3.yml
  docs/docsite/helper/lists_mergeby/example-003.yml
  docs/docsite/helper/lists_mergeby/example-003_vars/default-recursive-true.yml
  docs/docsite/helper/lists_mergeby/example-003_vars/list3.yml
  docs/docsite/helper/lists_mergeby/example-004.yml
  docs/docsite/helper/lists_mergeby/example-004_vars/default-recursive-true.yml
  docs/docsite/helper/lists_mergeby/example-004_vars/list3.yml
  docs/docsite/helper/lists_mergeby/example-005.yml
  docs/docsite/helper/lists_mergeby/example-005_vars/default-recursive-true.yml
  docs/docsite/helper/lists_mergeby/example-005_vars/list3.yml
  docs/docsite/helper/lists_mergeby/example-006.yml
  docs/docsite/helper/lists_mergeby/example-006_vars/default-recursive-true.yml
  docs/docsite/helper/lists_mergeby/example-006_vars/list3.yml
  docs/docsite/helper/lists_mergeby/example-007.yml
  docs/docsite/helper/lists_mergeby/example-007_vars/default-recursive-true.yml
  docs/docsite/helper/lists_mergeby/example-007_vars/list3.yml
  docs/docsite/helper/lists_mergeby/example-008.yml
  docs/docsite/helper/lists_mergeby/example-008_vars/default-recursive-true.yml
  docs/docsite/helper/lists_mergeby/example-008_vars/list3.yml
  docs/docsite/helper/lists_mergeby/examples.yml
  docs/docsite/helper/lists_mergeby/examples_all.rst.j2
  docs/docsite/helper/lists_mergeby/filter_guide_abstract_informations_merging_lists_of_dictionaries.rst.j2
  docs/docsite/helper/lists_mergeby/list3.out.j2
  docs/docsite/helper/lists_mergeby/playbook.yml
  docs/docsite/rst/examples/lists_mergeby/example-001.out
  docs/docsite/rst/examples/lists_mergeby/example-001.yml
  docs/docsite/rst/examples/lists_mergeby/example-002.out
  docs/docsite/rst/examples/lists_mergeby/example-002.yml
  docs/docsite/rst/examples/lists_mergeby/example-003.out
  docs/docsite/rst/examples/lists_mergeby/example-003.yml
  docs/docsite/rst/examples/lists_mergeby/example-004.out
  docs/docsite/rst/examples/lists_mergeby/example-004.yml
  docs/docsite/rst/examples/lists_mergeby/example-005.out
  docs/docsite/rst/examples/lists_mergeby/example-005.yml
  docs/docsite/rst/examples/lists_mergeby/example-006.out
  docs/docsite/rst/examples/lists_mergeby/example-006.yml
  docs/docsite/rst/examples/lists_mergeby/example-007.out
  docs/docsite/rst/examples/lists_mergeby/example-007.yml
  docs/docsite/rst/examples/lists_mergeby/example-008.out
  docs/docsite/rst/examples/lists_mergeby/example-008.yml
  docs/docsite/rst/filter_guide_abstract_informations_merging_lists_of_dictionaries.rst
Labels: docs, check-before-release, docs_only, backport-4

#4161 [stable-1] Fix CI
  tests/integration/targets/inventory_kubevirt/runme.sh
Labels: tests, integration, small_patch, backport

#4029 Refactor all Proxmox modules to use shared `module_utils`.
  changelogs/fragments/4029-proxmox-refactor.yml
  plugins/module_utils/proxmox.py
  plugins/modules/cloud/misc/proxmox.py
  plugins/modules/cloud/misc/proxmox_kvm.py
  plugins/modules/cloud/misc/proxmox_nic.py
  plugins/modules/cloud/misc/proxmox_snap.py
  plugins/modules/cloud/misc/proxmox_template.py
  tests/unit/plugins/modules/cloud/misc/test_proxmox_kvm.py
  tests/unit/plugins/modules/cloud/misc/test_proxmox_snap.py
  tests/unit/plugins/modules/cloud/misc/test_proxmox_tasks_info.py
Labels: feature, module, tests, unit, module_utils, plugins, cloud, backport-4

#4163 vdo: Remove unused variable
  changelogs/fragments/3916-fix-vdo-options-type.yml
  plugins/modules/system/vdo.py
Labels: bug, module, plugins, system, backport-3, backport-4

#3907 request for comments - pacman: speed up most operations when working with a package list
  .github/BOTMETA.yml
  changelogs/fragments/3907-pacman-speedup.yml
  plugins/modules/packaging/os/pacman.py
  tests/unit/plugins/modules/packaging/os/test_pacman.py
Labels: feature, module, needs_revision, tests, unit, new_contributor, has_issue, new_plugin, plugins, os, packaging, backport-4

#4153 dconf: Skip processes that disappeared while we inspected them
  changelogs/fragments/4151-dconf-catch-psutil-nosuchprocess.yaml
  plugins/modules/system/dconf.py
Labels: bug, module, new_contributor, plugins, system, backport-3, backport-4

#4186 [modules/cloud/misc/proxmox_kvm] Update docs for storage format option
  plugins/modules/cloud/misc/proxmox_kvm.py
Labels: module, new_contributor, plugins, cloud, docs, backport-3, docs_only, backport-4

#4105 opentelemetry: enrich services for jenkins, hetzner or jira
  changelogs/fragments/4105-opentelemetry_plugin-enrich_jira_hetzner_jenkins_services.yaml
  plugins/callback/opentelemetry.py
Labels: feature, callback, plugins, backport-4

#4191 proxmox_kvm: add win11 to ostype
  changelogs/fragments/4191-proxmox-add-win11.yml
  plugins/modules/cloud/misc/proxmox_kvm.py
Labels: feature, module, new_contributor, plugins, cloud, backport-4

#4178 Updated keycloak.py to allow defining connection timeout value (#4168)
  changelogs/fragments/4168-add-keycloak-url-timeout.yml
  plugins/doc_fragments/keycloak.py
  plugins/module_utils/identity/keycloak/keycloak.py
Labels: feature, new_contributor, docs_fragments, module_utils, plugins, identity, backport-4

#4199 Add nejch and lgatellier as GitLab module maintainers
  .github/BOTMETA.yml
Labels: small_patch, docs, backport-3, backport-4

#4106 [modules/cloud/misc/proxmox_kvm] Adding EFI disk support
  changelogs/fragments/4106-proxmox-efidisk0-support.yaml
  plugins/modules/cloud/misc/proxmox_kvm.py
Labels: feature, module, plugins, cloud, backport-4

#4136 gitlab_runner: Make owned and project mutually exclusive
  changelogs/fragments/4136-gitlab_runner-make-project-owned-mutually-exclusive.yml
  plugins/modules/source_control/gitlab/gitlab_runner.py
  tests/unit/plugins/modules/source_control/gitlab/gitlab.py
  tests/unit/plugins/modules/source_control/gitlab/test_gitlab_runner.py
Labels: bug, module, tests, unit, new_contributor, plugins, gitlab, source_control, shipit, check-before-release, backport-4

#4155 ini_file: Don't report changed=true when removing if nothing is changed.
  changelogs/fragments/4154-ini_file_changed.yml
  plugins/modules/files/ini_file.py
  tests/integration/targets/ini_file/tasks/tests/02-values.yml
Labels: bug, module, tests, integration, plugins, files, backport-3, backport-4

#4204 Allow YAML docs in plugins/test/ and plugins/filters/
  tests/sanity/extra/no-unwanted-files.py
Labels: needs_revision, tests, backport-3, backport-4

#4192 passwordstore: Prevent using path as password
  changelogs/fragments/4192-improve-passwordstore-consistency.yml
  plugins/lookup/passwordstore.py
Labels: bug, lookup, new_contributor, plugins, backport-3, backport-4

#4086 Rework of gitlab_project_variable over gitlab_group_variable
  changelogs/fragments/4086-rework_of_gitlab_proyect_variable_over_gitlab_group_variable.yml
  plugins/modules/source_control/gitlab/gitlab_group_variable.py
  tests/integration/targets/gitlab_group_variable/tasks/main.yml
Labels: bug, module, stale_ci, tests, integration, new_contributor, plugins, gitlab, source_control, check-before-release, backport-4

#4183 yum_versionlock: Fix entry matching
  changelogs/fragments/4183-fix-yum_versionlock.yaml
  plugins/modules/packaging/os/yum_versionlock.py
Labels: bug, module, new_contributor, plugins, os, packaging, backport-3, backport-4

#4061 `mail`: fix the encoding of the mail senders and recipients name
  changelogs/fragments/4061-fix-mail-recipient-encoding.yml
  plugins/callback/mail.py
Labels: bug, callback, plugins, backport-3, backport-4

#4232 Fix some more instances of ansible.module_utils._text
  changelogs/fragments/4232-text-converter-import.yml
  plugins/inventory/opennebula.py
  plugins/modules/remote_management/redfish/ilo_redfish_config.py
  plugins/modules/remote_management/redfish/ilo_redfish_info.py
Labels: feature, module, needs_revision, inventory, plugins, cloud, remote_management, backport-4

#4179 linode: support cache in Linode dynamic inventory
  changelogs/fragments/4179-linode-inventory-cache.yaml
  plugins/inventory/linode.py
Labels: feature, inventory, plugins, cloud, check-before-release, backport-4

#4211 Fix module failure due to itertools.izip_longest
  changelogs/fragments/4206-imc-rest-module.yaml
  plugins/modules/remote_management/imc/imc_rest.py
Labels: bug, module, needs_revision, new_contributor, plugins, remote_management, backport-3, backport-4

#4225 pmem: Add namespace and namespace_append options
  plugins/modules/storage/pmem/pmem.py
  tests/unit/plugins/modules/storage/pmem/test_pmem.py
Labels: feature, module, tests, unit, plugins, storage, check-before-release, backport-4

#4194 passwordstore: Add configurable locking
  changelogs/fragments/4194-configurable-passwordstore-locking.yml
  plugins/lookup/passwordstore.py
Labels: feature, needs_revision, lookup, plugins, check-before-release, backport-4

#4240 ansible_galaxy_install: added no_deps option
  changelogs/fragments/4240-ansible_galaxy_install-no_deps.yml
  plugins/modules/packaging/language/ansible_galaxy_install.py
Labels: feature, module, needs_revision, plugins, packaging, language, check-before-release, backport-4

#4247 Temporarily disable ansible_galaxy_install tests due to Galaxy failures
  tests/integration/targets/ansible_galaxy_install/aliases
Labels: tests, integration, has_issue, small_patch, backport-3, backport-4

#4212 Fixes for keycloak_user_federation
  changelogs/fragments/4212-fixes-for-keycloak-user-federation.yml
  plugins/modules/identity/keycloak/keycloak_user_federation.py
  tests/unit/plugins/modules/identity/keycloak/test_keycloak_user_federation.py
Labels: bug, module, tests, unit, new_contributor, plugins, identity, backport-3, backport-4

#4253 Re-enable ansible_galaxy_install tests
  tests/integration/targets/ansible_galaxy_install/aliases
Labels: tests, integration, WIP, small_patch, backport-3, backport-4

#4275 pacman: fix upgrade: yes
  changelogs/fragments/4275-pacman-sysupgrade.yml
  plugins/modules/packaging/os/pacman.py
  tests/unit/plugins/modules/packaging/os/test_pacman.py
Labels: module, tests, unit, plugins, os, packaging, backport-4

#4283 Temporarily disable Java keytool installation on Archlinux
  tests/integration/targets/setup_java_keytool/tasks/main.yml
Labels: tests, integration, small_patch, backport-4

#4289 Add very basic integration tests for pcaman
  tests/integration/targets/pacman/aliases
  tests/integration/targets/pacman/meta/main.yml
  tests/integration/targets/pacman/tasks/basic.yml
  tests/integration/targets/pacman/tasks/main.yml
Labels: tests, integration, has_issue, backport-4

#4288 filesize: fix alpine linux sparse file
  changelogs/fragments/4288-fix-4259-support-busybox-dd.yml
  plugins/modules/files/filesize.py
  tests/integration/targets/filesize/tasks/main.yml
Labels: bug, module, tests, integration, plugins, files, backport-3, backport-4

#4292 Make timezone tests work on Alpine
  tests/integration/targets/timezone/tasks/main.yml
Labels: tests, integration, small_patch, backport-4

#4195 zypper: support automatic removal of orphaned dependencies
  changelogs/fragments/4192-zypper-add-clean-deps.yml
  plugins/modules/packaging/os/zypper.py
Labels: feature, module, new_contributor, plugins, os, packaging, backport-4
