Repository ansible-collections/community.general, pull requests merged in 2022-09, with the labels that each got.

#5212 Fix CI failures
  tests/integration/targets/lookup_dependent/tasks/main.yml
Labels: tests, integration, small_patch, backport-3, backport-4, backport-5

#5165 Update BOTMETA.yml
  .github/BOTMETA.yml
Labels: new_contributor, docs, backport-4, backport-5

#5203 seport: add `local` argument
  changelogs/fragments/5203-seport-add-local-argument.yaml
  plugins/modules/system/seport.py
Labels: bug, module, new_contributor, traceback, plugins, system, backport-5

#5196 New module: pipx_info
  .github/BOTMETA.yml
  meta/runtime.yml
  plugins/modules/packaging/language/pipx_info.py
  tests/integration/targets/pipx_info/aliases
  tests/integration/targets/pipx_info/tasks/main.yml
Labels: module, tests, integration, new_plugin, plugins, backport-5

#5126 nmcli: avoid changed status for most cases with VPN connections
  changelogs/fragments/5126-nmcli-remove-diffs.yml
  plugins/modules/net_tools/nmcli.py
  tests/unit/plugins/modules/net_tools/test_nmcli.py
Labels: bug, module, stale_ci, tests, unit, plugins, net_tools, check-before-release, backport-5

#5202 Bugfix - EnvironmentError with wrong indentation
  changelogs/fragments/5202-bugfix-environmentError-wrong-indentation.yaml
  plugins/modules/system/listen_ports_facts.py
Labels: bug, module, plugins, system, backport-5

#5193 Consul session token
  changelogs/fragments/5193-consul-session-token.yaml
  plugins/modules/clustering/consul/consul_kv.py
  plugins/modules/clustering/consul/consul_session.py
Labels: bug, module, plugins, clustering, backport-5

#5145 WDC Redfish support for setting the power mode.
  changelogs/fragments/5145-wdc-redfish-enclosure-power-state.yml
  plugins/module_utils/wdc_redfish_utils.py
  plugins/modules/remote_management/redfish/wdc_redfish_command.py
  tests/unit/plugins/modules/remote_management/wdc/test_wdc_redfish_command.py
Labels: feature, module, tests, unit, module_utils, plugins, remote_management, check-before-release, backport-5

#5225 ipwcli_dns: fixed markups in doc
  plugins/modules/net_tools/ipwcli_dns.py
Labels: module, plugins, docs, net_tools, check-before-release, docs_only, backport-4, backport-5

#5226 ali_instance: fixed markups in doc
  plugins/modules/cloud/alicloud/ali_instance.py
Labels: module, plugins, cloud, docs, docs_only, backport-4, backport-5

#5227 multiple modules: fixed markups in doc
  plugins/modules/packaging/language/composer.py
  plugins/modules/packaging/os/layman.py
  plugins/modules/packaging/os/pacman.py
  plugins/modules/packaging/os/pkgng.py
  plugins/modules/packaging/os/pkgutil.py
  plugins/modules/packaging/os/sorcery.py
  plugins/modules/packaging/os/svr4pkg.py
  plugins/modules/packaging/os/zypper.py
  plugins/modules/remote_management/cobbler/cobbler_system.py
  plugins/modules/source_control/github/github_key.py
  plugins/modules/system/dconf.py
  plugins/modules/system/open_iscsi.py
  plugins/modules/system/osx_defaults.py
  plugins/modules/web_infrastructure/htpasswd.py
Labels: module, plugins, docs, os, packaging, source_control, system, remote_management, web_infrastructure, language, backport-4, backport-5

#5237 multiple modules 2: fixed markups in doc
  plugins/modules/cloud/misc/proxmox_template.py
  plugins/modules/cloud/opennebula/one_service.py
  plugins/modules/cloud/rackspace/rax_cbs.py
  plugins/modules/net_tools/haproxy.py
  plugins/modules/net_tools/netcup_dns.py
  plugins/modules/system/cronvar.py
  plugins/modules/system/filesystem.py
  plugins/modules/web_infrastructure/deploy_helper.py
  plugins/modules/web_infrastructure/jenkins_job.py
Labels: module, plugins, cloud, docs, net_tools, system, web_infrastructure, docs_only, backport-4, backport-5

#5239 nagios: some refactoring
  changelogs/fragments/5239-nagios-refactor.yaml
  plugins/modules/monitoring/nagios.py
Labels: bug, module, plugins, monitoring, backport-5

#5228 nmcli: honor IP options for VPNs
  changelogs/fragments/5228-nmcli-ip-options.yaml
  plugins/modules/net_tools/nmcli.py
  tests/unit/plugins/modules/net_tools/test_nmcli.py
Labels: feature, module, tests, unit, plugins, net_tools, check-before-release, backport-5

#5149 nmcli: Add xmit_hash_policy to bond options.
  changelogs/fragments/5149-nmcli-bond-option.yml
  plugins/modules/net_tools/nmcli.py
Labels: feature, module, stale_ci, new_contributor, has_issue, plugins, net_tools, check-before-release, backport-5

#5241 homebrew: add Linux brew path to defaults
  changelogs/fragments/5241-homebrew-add-linux-path.yaml
  plugins/modules/packaging/os/homebrew.py
  plugins/modules/packaging/os/homebrew_tap.py
Labels: bug, module, new_contributor, plugins, os, packaging, check-before-release, backport-5

#5240 multiple modules: removed unused imports
  changelogs/fragments/5240-unused-imports.yaml
  plugins/module_utils/alicloud_ecs.py
  plugins/modules/cloud/alicloud/ali_instance.py
  plugins/modules/cloud/alicloud/ali_instance_info.py
  plugins/modules/cloud/misc/proxmox.py
  plugins/modules/cloud/misc/proxmox_domain_info.py
  plugins/modules/cloud/misc/proxmox_group_info.py
  plugins/modules/cloud/misc/proxmox_kvm.py
  plugins/modules/cloud/misc/proxmox_nic.py
  plugins/modules/cloud/misc/proxmox_snap.py
  plugins/modules/cloud/misc/proxmox_storage_info.py
  plugins/modules/cloud/misc/proxmox_tasks_info.py
  plugins/modules/cloud/misc/proxmox_template.py
  plugins/modules/cloud/misc/proxmox_user_info.py
  plugins/modules/database/misc/redis.py
  plugins/modules/monitoring/airbrake_deployment.py
  plugins/modules/monitoring/datadog/datadog_downtime.py
  plugins/modules/remote_management/imc/imc_rest.py
  plugins/modules/remote_management/redfish/ilo_redfish_info.py
  plugins/modules/system/sap_task_list_execute.py
  plugins/modules/web_infrastructure/rundeck_job_executions_info.py
  plugins/modules/web_infrastructure/rundeck_job_run.py
Labels: bug, module, module_utils, database, plugins, cloud, monitoring, system, remote_management, web_infrastructure, check-before-release, backport-4, backport-5

#5243 osx_defaults: add expand_user_and_vars flag to write
  changelogs/fragments/5243-osx-defaults-expand-user-flags.yml
  plugins/modules/system/osx_defaults.py
Labels: bug, module, new_contributor, plugins, system, check-before-release, backport-5

#5224 changed the default proxmox container unprivileged flag
  changelogs/fragments/5224-proxmox-unprivileged-default.yaml
  plugins/modules/cloud/misc/proxmox.py
Labels: bug, module, new_contributor, plugins, cloud, backport-5

#5262 Restrict Python packages for nomad tests
  tests/integration/targets/nomad/meta/main.yml
  tests/integration/targets/nomad/tasks/main.yml
Labels: tests, integration, small_patch, backport-3, backport-4, backport-5

#5258 multiple modules: removed unused imports
  plugins/modules/cloud/misc/proxmox_snap.py
  plugins/modules/cloud/opennebula/one_service.py
  plugins/modules/cloud/ovh/ovh_monthly_billing.py
  plugins/modules/cloud/xenserver/xenserver_guest_powerstate.py
  plugins/modules/clustering/nomad/nomad_job_info.py
  plugins/modules/monitoring/icinga2_host.py
  plugins/modules/net_tools/dnsimple_info.py
  plugins/modules/net_tools/ipwcli_dns.py
  plugins/modules/packaging/language/yarn.py
  plugins/modules/packaging/os/apt_rpm.py
  plugins/modules/packaging/os/portinstall.py
  plugins/modules/packaging/os/urpmi.py
  plugins/modules/remote_management/cobbler/cobbler_system.py
  plugins/modules/source_control/git_config.py
  plugins/modules/source_control/github/github_repo.py
  plugins/modules/system/alternatives.py
  plugins/modules/system/beadm.py
  plugins/modules/system/java_cert.py
  plugins/modules/web_infrastructure/jboss.py
  plugins/modules/web_infrastructure/jenkins_plugin.py
  plugins/modules/web_infrastructure/rundeck_job_executions_info.py
Labels: bug, module, plugins, cloud, monitoring, net_tools, os, packaging, source_control, system, clustering, remote_management, web_infrastructure, language, check-before-release, backport-4, backport-5

#5266 Fix pkgng tests
  tests/integration/targets/pkgng/tasks/freebsd.yml
Labels: tests, integration, small_patch, backport-3, backport-4, backport-5

#5272 Fix changelog fragments mutilated by GitHub
  changelogs/fragments/5202-bugfix-environmentError-wrong-indentation.yaml
  changelogs/fragments/5239-nagios-refactor.yaml
Labels: bug, owner_pr, small_patch, backport-5

#5259 gitlab modules: improved imports
  changelogs/fragments/5259-gitlab-imports.yaml
  plugins/module_utils/gitlab.py
  plugins/modules/source_control/gitlab/gitlab_branch.py
  plugins/modules/source_control/gitlab/gitlab_deploy_key.py
  plugins/modules/source_control/gitlab/gitlab_group.py
  plugins/modules/source_control/gitlab/gitlab_group_members.py
  plugins/modules/source_control/gitlab/gitlab_group_variable.py
  plugins/modules/source_control/gitlab/gitlab_hook.py
  plugins/modules/source_control/gitlab/gitlab_project.py
  plugins/modules/source_control/gitlab/gitlab_project_members.py
  plugins/modules/source_control/gitlab/gitlab_project_variable.py
  plugins/modules/source_control/gitlab/gitlab_protected_branch.py
  plugins/modules/source_control/gitlab/gitlab_runner.py
  plugins/modules/source_control/gitlab/gitlab_user.py
Labels: bug, module, module_utils, plugins, gitlab, source_control, check-before-release, backport-4, backport-5

#5271 gitlab_hook: minor refactoring
  changelogs/fragments/5271-gitlab_hook-refactor.yaml
  plugins/modules/source_control/gitlab/gitlab_hook.py
Labels: bug, module, plugins, gitlab, source_control, backport-5

#5206 add a couple conditionals to make sure updating can be done with vmid…
  changelogs/fragments/5206-proxmox-conditional-vmid.yml
  plugins/modules/cloud/misc/proxmox_kvm.py
Labels: bug, module, plugins, cloud, backport-5

#5249 slack: add CP channel prefix
  changelogs/fragments/5249-add-new-channel-prefix.yml
  plugins/modules/notification/slack.py
Labels: bug, module, new_contributor, plugins, notification, backport-5

#5288 pipx module utils: removed unused import
  plugins/module_utils/pipx.py
Labels: bug, module_utils, small_patch, plugins, backport-4, backport-5

#5101 New module: Proxmox disk management
  .github/BOTMETA.yml
  meta/runtime.yml
  plugins/modules/cloud/misc/proxmox_disk.py
  tests/integration/targets/proxmox/tasks/main.yml
Labels: module, tests, integration, new_contributor, new_plugin, plugins, cloud, check-before-release, backport-5

#5298 Add stable-2.14 to CI, adjust to devel version bump
  .azure-pipelines/azure-pipelines.yml
  .github/workflows/docs-pr.yml
  README.md
  tests/sanity/ignore-2.15.txt
  tests/sanity/ignore-2.15.txt.license
Labels: tests, backport-5

#5299 [stable-4] Replace devel with stable-2.14 in CI
  .azure-pipelines/azure-pipelines.yml
  README.md
Labels: backport

#5300 [stable-5] Add stable-2.14 to CI, adjust to devel version bump
  .azure-pipelines/azure-pipelines.yml
  README.md
  tests/sanity/ignore-2.15.txt
  tests/sanity/ignore-2.15.txt.license
Labels: tests, backport

#5301 netcup_dnsapi: Add timeout paramter
  changelogs/fragments/5301-netcup_dnsapi-timeout.yml
  plugins/modules/net_tools/netcup_dns.py
Labels: feature, module, new_contributor, plugins, net_tools, backport-5

#5307 ini_file: fix lint error
  changelogs/fragments/5307-ini_file-lint.yaml
  plugins/modules/files/ini_file.py
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.12.txt
  tests/sanity/ignore-2.13.txt
Labels: bug, module, tests, plugins, files, backport-5

#5282 locale_gen: fix UbuntuMode
  changelogs/fragments/5282-locale_gen.yaml
  plugins/modules/system/locale_gen.py
Labels: bug, module, new_contributor, plugins, system, check-before-release, backport-4, backport-5

#5009 Add SetSessionService to redfish_config
  changelogs/fragments/5008-addSetSessionService.yml
  plugins/module_utils/redfish_utils.py
  plugins/modules/remote_management/redfish/redfish_config.py
Labels: feature, module, new_contributor, module_utils, plugins, remote_management, backport-5

#5287 machinectl: include the success command
  changelogs/fragments/5287-machinectl-become-success.yml
  plugins/become/machinectl.py
Labels: bug, new_contributor, become, plugins

#5274 [feat] proxmox_snap: snapshot containers with configured mountpoints
  changelogs/fragments/5274-proxmox-snap-container-with-mountpoints.yml
  plugins/module_utils/proxmox.py
  plugins/modules/cloud/misc/proxmox.py
  plugins/modules/cloud/misc/proxmox_kvm.py
  plugins/modules/cloud/misc/proxmox_snap.py
  plugins/modules/cloud/misc/proxmox_template.py
Labels: feature, module, stale_ci, new_contributor, module_utils, plugins, cloud, backport-5

#5291 nmcli: fix error when setting previously unset mac address
  changelogs/fragments/5291-fix-nmcli-error-when-setting-unset-mac-address.yaml
  plugins/modules/net_tools/nmcli.py
Labels: bug, module, stale_ci, new_contributor, plugins, net_tools, backport-4, backport-5
