Repository ansible-collections/community.general, pull requests merged in 2022-10, with the labels that each got.

#5147 terraform: run `init` with no-color, too
  changelogs/fragments/5147-terraform-init-no-color.yml
  plugins/modules/cloud/misc/terraform.py
Labels: bug, module, new_contributor, plugins, cloud, check-before-release, backport-5

#5304 chore: Update lxc_container to support py3
  changelogs/fragments/5280-lxc_container-py3.yaml
  plugins/modules/cloud/lxc/lxc_container.py
Labels: bug, module, new_contributor, plugins, cloud, check-before-release, backport-5

#5297 bitwarden: Add field to search for all item attributes, instead of on…
  changelogs/fragments/5297-bitwarden-add-search-field.yml
  plugins/lookup/bitwarden.py
Labels: feature, stale_ci, lookup, plugins, check-before-release, backport-5

#5319 Fix #5313: redhat_subscription module is not idempotent when pool_ids are used
  changelogs/fragments/5313-fix-redhat_subscription-idempotency-pool_ids.yml
  plugins/modules/packaging/os/redhat_subscription.py
Labels: bug, module, new_contributor, plugins, os, packaging, check-before-release, backport-4, backport-5

#4797 Allow terraform module to specify complex variable structures
  changelogs/fragments/4797-terraform-complex-variables.yml
  plugins/modules/cloud/misc/terraform.py
  tests/integration/targets/terraform/files/complex_variables/main.tf
  tests/integration/targets/terraform/files/complex_variables/variables.tf
  tests/integration/targets/terraform/tasks/complex_variables.yml
  tests/integration/targets/terraform/tasks/main.yml
  tests/integration/targets/terraform/tasks/test_provider_upgrade.yml
Labels: feature, module, tests, integration, new_contributor, plugins, cloud, check-before-release, backport-5

#4893 keycloak_user_federation: add explanation and example to vendor option
  plugins/modules/identity/keycloak/keycloak_user_federation.py
Labels: module, new_contributor, small_patch, plugins, docs, identity, check-before-release, docs_only, backport-4, backport-5

#5306 znode: add options for authentication
  changelogs/fragments/5306-add-options-for-authentication.yml
  plugins/modules/clustering/znode.py
Labels: feature, module, new_contributor, plugins, clustering, check-before-release, backport-5

#3889 Make pfexec become usable for illumos
  changelogs/fragments/3671-illumos-pfexec.yml
  plugins/become/pfexec.py
  tests/unit/plugins/become/test_pfexec.py
Labels: bug, needs_revision, tests, unit, new_contributor, become, plugins, check-before-release, backport-4, backport-5

#4175 opentelemetry: send logs
  changelogs/fragments/4175-opentelemetry_logs.yml
  plugins/callback/opentelemetry.py
  tests/unit/plugins/callback/test_opentelemetry.py
Labels: feature, needs_revision, callback, merge_commit, needs_rebase, plugins, check-before-release, backport-5

#5190 New module: iso_customize
  .github/BOTMETA.yml
  meta/runtime.yml
  plugins/modules/files/iso_customize.py
  tests/integration/targets/iso_customize/aliases
  tests/integration/targets/iso_customize/meta/main.yml
  tests/integration/targets/iso_customize/tasks/iso_customize.yml
  tests/integration/targets/iso_customize/tasks/iso_customize_add_files.yml
  tests/integration/targets/iso_customize/tasks/iso_customize_delete_files.yml
  tests/integration/targets/iso_customize/tasks/iso_customize_exception.yml
  tests/integration/targets/iso_customize/tasks/iso_mount.yml
  tests/integration/targets/iso_customize/tasks/main.yml
  tests/integration/targets/iso_customize/tasks/prepare.yml
Labels: module, tests, integration, new_contributor, merge_commit, needs_rebase, new_plugin, plugins, check-before-release, backport-5

#5321 manageiq_policies_info: new module
  .github/BOTMETA.yml
  meta/runtime.yml
  plugins/module_utils/manageiq.py
  plugins/modules/remote_management/manageiq/manageiq_policies.py
  plugins/modules/remote_management/manageiq/manageiq_policies_info.py
Labels: module, new_plugin, module_utils, plugins, remote_management, check-before-release, backport-5

#5351 manageiq_provider: added missing aliases to documentation
  plugins/modules/remote_management/manageiq/manageiq_provider.py
Labels: module, plugins, docs, remote_management, docs_only, backport-4, backport-5

#5341 Updated to use the new newrelic v2 api
  changelogs/fragments/5341-newrelic-v2-api-changes.yml
  plugins/modules/monitoring/newrelic_deployment.py
Labels: bug, module, needs_revision, new_contributor, plugins, monitoring, check-before-release, needs_maintainer, backport-5

#5358 lxc_container: minor refactor
  changelogs/fragments/5358-lxc-container-refactor.yml
  plugins/modules/cloud/lxc/lxc_container.py
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.12.txt
  tests/sanity/ignore-2.13.txt
  tests/sanity/ignore-2.14.txt
  tests/sanity/ignore-2.15.txt
Labels: bug, module, tests, plugins, cloud, check-before-release, backport-5

#5349 portage: drop usage of gentoolkit, add knobs for --with-bdeps, --backtrack
  changelogs/fragments/5349-drop-gentoolkit-more-knobs.yml
  plugins/modules/packaging/os/portage.py
Labels: feature, module, new_contributor, plugins, os, packaging, backport-5

#5342 [opentelemetry][callback] support opentelemetry-api 1.13
  changelogs/fragments/5342-opentelemetry_bug_fix_opentelemetry-api-1.13.yml
  plugins/callback/opentelemetry.py
Labels: bug, needs_revision, callback, has_issue, plugins, check-before-release, backport-4, backport-5

#5367 consul: pythonisms + a couple of required_if clauses
  changelogs/fragments/5367-consul-refactor.yaml
  plugins/modules/clustering/consul/consul.py
Labels: bug, module, plugins, clustering, backport-5

#5348 virtualbox: Fix crash when handling deeply nested hostvars
  changelogs/fragments/5348-fix-vbox-deeply-nested-hostvars.yml
  plugins/inventory/virtualbox.py
Labels: bug, new_contributor, inventory, traceback, plugins, backport-5

#5383 fix xenserver_facts module
  changelogs/fragments/5383-xenserver_facts.yml
  plugins/modules/cloud/misc/xenserver_facts.py
Labels: bug, module, needs_revision, has_issue, plugins, cloud, backport-3, backport-4, backport-5

#5393 archive: do not crash when lzma is not around
  changelogs/fragments/5393-archive.yml
  plugins/modules/files/archive.py
  tests/integration/targets/archive/tasks/main.yml
Labels: bug, module, tests, integration, has_issue, plugins, files, backport-4, backport-5

#5392 archive: better expose requirements
  plugins/modules/files/archive.py
Labels: module, has_issue, plugins, docs, files, docs_only, backport-4, backport-5

#5400 django_manage: deprecate old commands
  changelogs/fragments/5400-django-manage-deprecations.yml
  plugins/modules/web_infrastructure/django_manage.py
Labels: bug, module, plugins, web_infrastructure, backport-5

#5406 portage: update comment, drop gentoolkit requirement
  plugins/modules/packaging/os/portage.py
Labels: bug, module, needs_revision, plugins, os, packaging, check-before-release, backport-5

#5361 nmcli: add transport_mode configuration for Infiniband devices
  changelogs/fragments/5361-nmcli-add-infiniband-transport-mode.yaml
  plugins/modules/net_tools/nmcli.py
  tests/unit/plugins/modules/net_tools/test_nmcli.py
Labels: feature, module, tests, unit, new_contributor, plugins, net_tools, check-before-release, backport-5

#5369 pkgng: fix error-handling when upgrading all
  changelogs/fragments/5369-pkgng-fix-update-all.yaml
  plugins/modules/packaging/os/pkgng.py
  tests/integration/targets/pkgng/tasks/freebsd.yml
Labels: bug, module, tests, integration, plugins, os, packaging, backport-4, backport-5

#5405 django_manage: deprecate venv creation when missing
  changelogs/fragments/5404-django-manage-venv-deprecation.yml
  plugins/modules/web_infrastructure/django_manage.py
Labels: bug, module, needs_revision, plugins, web_infrastructure, check-before-release, backport-5

#5370 MH CmdModuleHelper: deprecation
  changelogs/fragments/5370-mh-cmdmixin-deprecation.yaml
  plugins/module_utils/mh/mixins/cmd.py
  plugins/module_utils/mh/module_helper.py
Labels: feature, needs_revision, module_utils, plugins, check-before-release, backport-5

#5399 [Scaleway] Add module to manage container registries
  .github/BOTMETA.yml
  .gitignore
  meta/runtime.yml
  plugins/doc_fragments/scaleway_waitable_resource.py
  plugins/module_utils/scaleway.py
  plugins/modules/cloud/scaleway/scaleway_container_registry.py
  plugins/modules/cloud/scaleway/scaleway_container_registry_info.py
  tests/integration/targets/scaleway_container_registry/aliases
  tests/integration/targets/scaleway_container_registry/defaults/main.yml
  tests/integration/targets/scaleway_container_registry/tasks/main.yml
  tests/integration/targets/scaleway_container_registry_info/aliases
  tests/integration/targets/scaleway_container_registry_info/defaults/main.yml
  tests/integration/targets/scaleway_container_registry_info/tasks/main.yml
Labels: module, needs_revision, tests, integration, new_contributor, new_plugin, docs_fragments, module_utils, plugins, cloud, check-before-release, backport-5

#5198 Send string instead of boolean to proxmox api
  changelogs/fragments/5198-proxmox.yml
  plugins/modules/cloud/misc/proxmox_kvm.py
Labels: bug, module, needs_revision, new_contributor, has_issue, plugins, cloud, check-before-release, backport-5

#5396 clarify jc filter usage in the example
  plugins/filter/jc.py
Labels: new_contributor, has_issue, filter, plugins, docs, backport-4, backport-5

#5385 ldap_attrs: search_s based _is_value_present
  changelogs/fragments/5385-search_s-based-_is_value_present.yaml
  plugins/modules/net_tools/ldap/ldap_attrs.py
Labels: bug, module, new_contributor, has_issue, plugins, net_tools, check-before-release, backport-4, backport-5

#5326 Remove deprecated features, bump version to 6.0.0
  changelogs/fragments/deprecation-removals.yml
  galaxy.yml
  plugins/callback/mail.py
  plugins/doc_fragments/bitbucket.py
  plugins/inventory/proxmox.py
  plugins/module_utils/mh/module_helper.py
  plugins/module_utils/source_control/bitbucket.py
  plugins/modules/cloud/lxd/lxd_container.py
  plugins/modules/cloud/smartos/vmadm.py
  plugins/modules/identity/keycloak/keycloak_authentication.py
  plugins/modules/identity/keycloak/keycloak_group.py
  plugins/modules/packaging/language/gem.py
  plugins/modules/source_control/bitbucket/bitbucket_access_key.py
  plugins/modules/source_control/bitbucket/bitbucket_pipeline_key_pair.py
  plugins/modules/source_control/bitbucket/bitbucket_pipeline_known_host.py
  plugins/modules/source_control/bitbucket/bitbucket_pipeline_variable.py
  plugins/modules/source_control/gitlab/gitlab_group_members.py
  tests/integration/targets/module_helper/library/mstate.py
  tests/integration/targets/module_helper/tasks/mstate.yml
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.12.txt
  tests/sanity/ignore-2.13.txt
  tests/sanity/ignore-2.14.txt
  tests/sanity/ignore-2.15.txt
  tests/unit/plugins/modules/source_control/bitbucket/test_bitbucket_access_key.py
  tests/unit/plugins/modules/source_control/bitbucket/test_bitbucket_pipeline_key_pair.py
  tests/unit/plugins/modules/source_control/bitbucket/test_bitbucket_pipeline_known_host.py
  tests/unit/plugins/modules/source_control/bitbucket/test_bitbucket_pipeline_variable.py
Labels: bug, module, callback, tests, unit, integration, has_issue, docs_fragments, inventory, module_utils, plugins, cloud, gitlab, packaging, source_control, identity, language, shipit, breaking_change

#5439 add option to force dig lookup to return empty list
  changelogs/fragments/5439-dig-return-empty-result.yml
  plugins/lookup/dig.py
Labels: bug, lookup, plugins, check-before-release

#5441 [stable-4] Fix CI
  tests/unit/requirements.txt
Labels: tests, unit, small_patch, backport-3, backport

#5447 Fix iso_customize tests
  tests/integration/targets/iso_customize/meta/main.yml
  tests/integration/targets/iso_customize/tasks/prepare.yml
Labels: tests, integration, small_patch, backport-5
