Repository ansible-collections/community.general, pull requests merged in 2022-11, with the labels that each got.

#5438 linnode inventory, remove redundant
  changelogs/fragments/5438-linode.yml
  plugins/inventory/linode.py
  tests/unit/plugins/inventory/test_linode.py
Labels: bug, tests, unit, inventory, plugins, cloud

#5437 proxmox inventory, remove redundant and simplify code
  changelogs/fragments/5437-proxmox.yml
  plugins/inventory/proxmox.py
Labels: bug, inventory, plugins

#5443 fix int options idempotence bug and add new test to check it
  changelogs/fragments/4998-nmcli-fix-int-options-idempotence.yml
  plugins/modules/net_tools/nmcli.py
  tests/unit/plugins/modules/net_tools/test_nmcli.py
Labels: bug, module, tests, unit, plugins, net_tools, backport-4, backport-5

#5440 Lookups: use Ansible's config manager whenever possible
  .github/workflows/docs-pr.yml
  changelogs/fragments/lookup-options.yml
  plugins/lookup/cartesian.py
  plugins/lookup/credstash.py
  plugins/lookup/cyberarkpassword.py
  plugins/lookup/dependent.py
  plugins/lookup/dig.py
  plugins/lookup/dnstxt.py
  plugins/lookup/filetree.py
  plugins/lookup/flattened.py
  plugins/lookup/hiera.py
  plugins/lookup/keyring.py
  plugins/lookup/lmdb_kv.py
  plugins/lookup/manifold.py
  plugins/lookup/shelvefile.py
  tests/integration/targets/lookup_lmdb_kv/test.yml
  tests/unit/plugins/lookup/test_manifold.py
Labels: bug, lookup, tests, unit, integration, plugins, check-before-release

#5457 dnstxt lookup - add option to return empty list
  changelogs/fragments/5457-dnstxt-empty.yml
  plugins/lookup/dnstxt.py
Labels: feature, lookup, has_issue, plugins, shipit, check-before-release

#5425 Redfish: centralize payload inspection logic and OEM logic
  changelogs/fragments/5210-redfish_utils-cleanup-of-configuration-logic-and-oem-checks.yaml
  plugins/module_utils/redfish_utils.py
Labels: bug, module_utils, plugins

#5415 [Scaleway] Add module to manage function namespaces
  .github/BOTMETA.yml
  meta/runtime.yml
  plugins/module_utils/scaleway.py
  plugins/modules/cloud/scaleway/scaleway_function_namespace.py
  plugins/modules/cloud/scaleway/scaleway_function_namespace_info.py
  tests/integration/targets/scaleway_function_namespace/aliases
  tests/integration/targets/scaleway_function_namespace/defaults/main.yml
  tests/integration/targets/scaleway_function_namespace/tasks/main.yml
  tests/integration/targets/scaleway_function_namespace_info/aliases
  tests/integration/targets/scaleway_function_namespace_info/defaults/main.yml
  tests/integration/targets/scaleway_function_namespace_info/tasks/main.yml
  tests/unit/plugins/module_utils/cloud/test_scaleway.py
  tests/unit/requirements.txt
Labels: module, tests, unit, integration, new_plugin, module_utils, plugins, cloud, check-before-release

#5377 nsupdate: issues/4657
  changelogs/fragments/5377-nsupdate-ns-records-with-bind.yml
  plugins/modules/net_tools/nsupdate.py
Labels: bug, module, new_contributor, plugins, net_tools, backport-5

#5444 passwordstore lookup: allow to pass options as lookup options
  changelogs/fragments/5444-passwordstore-options.yml
  plugins/lookup/passwordstore.py
  tests/integration/targets/lookup_passwordstore/tasks/password_tests.yml
  tests/integration/targets/lookup_passwordstore/tasks/tests.yml
Labels: feature, lookup, tests, integration, plugins

#5464 [Scaleway] Fix function namespace integration tests assertions
  tests/integration/targets/scaleway_function_namespace/tasks/main.yml
Labels: bug, tests, integration

#5373 [stable-5] Warn about using internal FQCNs for modules and actions
  README.md
  changelogs/fragments/fqcn-warnings.yml
Labels: stale_ci, docs, check-before-release, backport-5

#5435 ldap_attrs: escape ldap search filter
  changelogs/fragments/5435-escape-ldap-param.yml
  plugins/modules/ldap_attrs.py
Labels: bug, module, has_issue, plugins, net_tools, check-before-release, backport-4, backport-5

#5473 sorted content of sanity/ignore-*.txt files
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.12.txt
  tests/sanity/ignore-2.13.txt
  tests/sanity/ignore-2.14.txt
  tests/sanity/ignore-2.15.txt
Labels: tests, docs

#5450 Allow for DN's to have {x} prefix on first RDN
  changelogs/fragments/5450-allow-for-xordered-dns.yaml
  plugins/module_utils/ldap.py
Labels: feature, module_utils, plugins, check-before-release

#5463 [Scaleway] Add module to manage functions
  .github/BOTMETA.yml
  plugins/modules/scaleway_function.py
  plugins/modules/scaleway_function_info.py
  tests/integration/targets/scaleway_function/aliases
  tests/integration/targets/scaleway_function/defaults/main.yml
  tests/integration/targets/scaleway_function/tasks/main.yml
  tests/integration/targets/scaleway_function_info/aliases
  tests/integration/targets/scaleway_function_info/defaults/main.yml
  tests/integration/targets/scaleway_function_info/tasks/main.yml
Labels: module, tests, integration, new_plugin, plugins, check-before-release

#5416 [Scaleway] Add module to manage container namespaces
  .github/BOTMETA.yml
  plugins/modules/scaleway_container_namespace.py
  plugins/modules/scaleway_container_namespace_info.py
  tests/integration/targets/scaleway_container_namespace/aliases
  tests/integration/targets/scaleway_container_namespace/defaults/main.yml
  tests/integration/targets/scaleway_container_namespace/tasks/main.yml
  tests/integration/targets/scaleway_container_namespace_info/aliases
  tests/integration/targets/scaleway_container_namespace_info/defaults/main.yml
  tests/integration/targets/scaleway_container_namespace_info/tasks/main.yml
Labels: module, tests, integration, new_plugin, plugins, cloud, check-before-release

#5474 Sort BOTMETA
  .github/BOTMETA.yml
Labels: bug, needs_revision

#4728 onepassword - Support v2
  changelogs/fragments/4728-onepassword-v2.yml
  plugins/lookup/onepassword.py
  plugins/lookup/onepassword_raw.py
  tests/unit/plugins/lookup/onepassword/__init__.py
  tests/unit/plugins/lookup/onepassword/common.py
  tests/unit/plugins/lookup/onepassword/conftest.py
  tests/unit/plugins/lookup/onepassword/fixtures/v1_out_01.json
  tests/unit/plugins/lookup/onepassword/fixtures/v1_out_01.json.license
  tests/unit/plugins/lookup/onepassword/fixtures/v1_out_02.json
  tests/unit/plugins/lookup/onepassword/fixtures/v1_out_02.json.license
  tests/unit/plugins/lookup/onepassword/fixtures/v1_out_03.json
  tests/unit/plugins/lookup/onepassword/fixtures/v1_out_03.json.license
  tests/unit/plugins/lookup/onepassword/fixtures/v2_out_01.json
  tests/unit/plugins/lookup/onepassword/fixtures/v2_out_01.json.license
  tests/unit/plugins/lookup/onepassword/fixtures/v2_out_02.json
  tests/unit/plugins/lookup/onepassword/fixtures/v2_out_02.json.license
  tests/unit/plugins/lookup/onepassword/fixtures/v2_out_03.json
  tests/unit/plugins/lookup/onepassword/fixtures/v2_out_03.json.license
  tests/unit/plugins/lookup/onepassword/test_onepassword.py
  tests/unit/plugins/lookup/onepassword/test_onepassword_cli_v1.py
  tests/unit/plugins/lookup/onepassword/test_onepassword_cli_v2.py
  tests/unit/plugins/lookup/test_onepassword.py
  tests/unit/plugins/module_utils/test_onepassword.py
Labels: bug, lookup, tests, unit, has_issue, new_plugin, module_utils, plugins

#5476 django_manage: add extra tests
  tests/integration/targets/django_manage/files/base_test/simple_project/p1/p1/settings.py
  tests/integration/targets/django_manage/tasks/main.yaml
Labels: tests, integration, docs, backport-5

#5477 ansible_galaxy_install: using CmdRunner
  changelogs/fragments/5477-ansible-galaxy-install-cmd-runner.yml
  plugins/modules/ansible_galaxy_install.py
Labels: feature, module, plugins, packaging, language

#5475 snap: fix regex to support option values with whitespaces
  changelogs/fragments/5475-snap-option-value-whitespace.yml
  plugins/modules/snap.py
  tests/integration/targets/snap/tasks/main.yml
Labels: bug, module, tests, integration, plugins, os, packaging, backport-5

#5470 [stable-4] ldap_attrs: escape ldap search filter
  changelogs/fragments/5435-escape-ldap-param.yml
  plugins/modules/net_tools/ldap/ldap_attrs.py
Labels: bug, module, plugins, backport

#5483 hponcfg: using CmdRunner
  changelogs/fragments/5483-hponcfg-cmd-runner.yml
  plugins/modules/hponcfg.py
Labels: feature, module, plugins, remote_management

#5468 fix the issue#5275: iso_create doesn't add folders
  changelogs/fragments/5468-iso-create-not-add-folders.yml
  plugins/modules/iso_create.py
Labels: bug, module, plugins, files, check-before-release, backport-5

#5484 mksysb: using CmdRunner
  changelogs/fragments/5484-mksysb-cmd-runner.yml
  plugins/modules/mksysb.py
Labels: feature, module, plugins, system, check-before-release

#5485 cpanm: using CmdRunner
  changelogs/fragments/5485-cpanm-cmd-runner.yml
  plugins/modules/cpanm.py
  tests/unit/plugins/modules/test_cpanm.py
Labels: feature, module, tests, unit, plugins, packaging, language, check-before-release

#5497 [Scaleway] Remove unused sensitive values filtering
  plugins/modules/scaleway_container_namespace_info.py
  plugins/modules/scaleway_container_registry_info.py
  plugins/modules/scaleway_function_info.py
Labels: bug, module, module_utils, plugins, cloud

#5500 Clarification to use underscores instead of dashes in parser name
  plugins/filter/jc.py
Labels: has_issue, filter, small_patch, plugins, docs, check-before-release, docs_only, backport-5, backport-6

#5489 one_vm: fix for 'NoneType' object has no attribute 'split' in get_vm_labels_and_attributes_dict
  changelogs/fragments/5489-nonetype-in-get-vm-by-label.yml
  plugins/modules/one_vm.py
Labels: bug, module, new_contributor, plugins, cloud, check-before-release, backport-5, backport-6

#5503 Short descriptions (batch1) - massive fix on Capitalization and trailing period
  plugins/modules/ali_instance.py
  plugins/modules/ali_instance_info.py
  plugins/modules/apache2_module.py
  plugins/modules/apt_rpm.py
  plugins/modules/beadm.py
  plugins/modules/circonus_annotation.py
  plugins/modules/clc_aa_policy.py
  plugins/modules/clc_alert_policy.py
  plugins/modules/clc_blueprint_package.py
  plugins/modules/clc_loadbalancer.py
  plugins/modules/clc_modify_server.py
  plugins/modules/clc_publicip.py
  plugins/modules/clc_server.py
  plugins/modules/clc_server_snapshot.py
  plugins/modules/cloud_init_data_facts.py
  plugins/modules/consul.py
  plugins/modules/cpanm.py
  plugins/modules/deploy_helper.py
  plugins/modules/dimensiondata_vlan.py
  plugins/modules/dnsmadeeasy.py
  plugins/modules/github_deploy_key.py
  plugins/modules/github_issue.py
  plugins/modules/github_key.py
  plugins/modules/gitlab_deploy_key.py
  plugins/modules/gitlab_hook.py
  plugins/modules/gitlab_runner.py
  plugins/modules/gunicorn.py
  plugins/modules/hipchat.py
  plugins/modules/homebrew_tap.py
  plugins/modules/htpasswd.py
  plugins/modules/ibm_sa_host.py
  plugins/modules/ibm_sa_host_ports.py
  plugins/modules/ibm_sa_pool.py
  plugins/modules/ibm_sa_vol.py
  plugins/modules/ibm_sa_vol_map.py
  plugins/modules/ipa_subca.py
  plugins/modules/jira.py
  plugins/modules/ldap_entry.py
  plugins/modules/ldap_passwd.py
  plugins/modules/librato_annotation.py
  plugins/modules/linode_v4.py
  plugins/modules/listen_ports_facts.py
  plugins/modules/lldp.py
  plugins/modules/logentries_msg.py
  plugins/modules/manageiq_group.py
  plugins/modules/manageiq_policies.py
  plugins/modules/manageiq_provider.py
  plugins/modules/manageiq_tags.py
  plugins/modules/manageiq_tenant.py
  plugins/modules/manageiq_user.py
Labels: module, plugins, cloud, docs, gitlab, monitoring, net_tools, os, packaging, source_control, system, notification, clustering, identity, remote_management, storage, web_infrastructure, language, check-before-release, needs_maintainer, docs_only, backport-5, backport-6

#5510 Actually sort the fixtures
  tests/unit/plugins/lookup/onepassword/test_onepassword.py
Labels: bug, tests, unit, check-before-release, backport-6

#5511 onepassword_raw - Add missing parameter to doc string
  changelogs/fragments/5506-onepassword_raw-missing-param.yml
  plugins/lookup/onepassword.py
  plugins/lookup/onepassword_raw.py
Labels: bug, lookup, plugins, backport-6

#5520 Short descriptions (batch2) - massive fix on Capitalization and trailing period
  plugins/modules/consul.py
  plugins/modules/etcd3.py
  plugins/modules/gitlab_protected_branch.py
  plugins/modules/heroku_collaborator.py
  plugins/modules/ipinfoio_facts.py
  plugins/modules/launchd.py
  plugins/modules/memset_memstore_info.py
  plugins/modules/memset_server_info.py
  plugins/modules/memset_zone.py
  plugins/modules/memset_zone_domain.py
  plugins/modules/memset_zone_record.py
  plugins/modules/mksysb.py
  plugins/modules/mssql_db.py
  plugins/modules/nagios.py
  plugins/modules/netcup_dns.py
  plugins/modules/nginx_status_info.py
  plugins/modules/nosh.py
  plugins/modules/nsupdate.py
  plugins/modules/omapi_host.py
  plugins/modules/oneandone_firewall_policy.py
  plugins/modules/oneandone_load_balancer.py
  plugins/modules/oneandone_monitoring_policy.py
  plugins/modules/oneandone_private_network.py
  plugins/modules/oneandone_public_ip.py
  plugins/modules/oneandone_server.py
  plugins/modules/oneview_fc_network.py
  plugins/modules/online_server_info.py
  plugins/modules/online_user_info.py
  plugins/modules/opendj_backendprop.py
  plugins/modules/openwrt_init.py
  plugins/modules/packet_device.py
  plugins/modules/packet_ip_subnet.py
  plugins/modules/packet_project.py
  plugins/modules/packet_sshkey.py
  plugins/modules/packet_volume.py
  plugins/modules/packet_volume_attachment.py
  plugins/modules/pids.py
  plugins/modules/pip_package_info.py
  plugins/modules/pkgin.py
  plugins/modules/profitbricks.py
  plugins/modules/profitbricks_datacenter.py
  plugins/modules/profitbricks_nic.py
  plugins/modules/profitbricks_volume.py
  plugins/modules/profitbricks_volume_attachments.py
  plugins/modules/proxmox.py
  plugins/modules/proxmox_disk.py
  plugins/modules/proxmox_kvm.py
  plugins/modules/proxmox_nic.py
  plugins/modules/proxmox_template.py
  plugins/modules/pubnub_blocks.py
Labels: module, database, plugins, cloud, docs, gitlab, monitoring, net_tools, os, packaging, source_control, system, clustering, identity, remote_management, web_infrastructure, language, docs_only, backport-5, backport-6

#5524 Ignore mpdehaan in BOTMETA
  .github/BOTMETA.yml
Labels: small_patch, docs, backport-6

#5526 [stable-5] Ignore mpdehaan in BOTMETA
  .github/BOTMETA.yml
Labels: backport-4

#5521 Short descriptions (batch3) - massive fix on Capitalization and trailing period
  plugins/modules/pulp_repo.py
  plugins/modules/rax.py
  plugins/modules/rax_cdb.py
  plugins/modules/rax_cdb_database.py
  plugins/modules/rax_cdb_user.py
  plugins/modules/rax_clb.py
  plugins/modules/rax_clb_nodes.py
  plugins/modules/rax_clb_ssl.py
  plugins/modules/rax_mon_alarm.py
  plugins/modules/rax_mon_notification.py
  plugins/modules/rax_network.py
  plugins/modules/rax_queue.py
  plugins/modules/rundeck_acl_policy.py
  plugins/modules/rundeck_project.py
  plugins/modules/say.py
  plugins/modules/scaleway_image_info.py
  plugins/modules/scaleway_ip_info.py
  plugins/modules/scaleway_organization_info.py
  plugins/modules/scaleway_security_group_info.py
  plugins/modules/scaleway_server_info.py
  plugins/modules/scaleway_snapshot_info.py
  plugins/modules/scaleway_volume_info.py
  plugins/modules/sl_vm.py
  plugins/modules/smartos_image_info.py
  plugins/modules/spectrum_device.py
  plugins/modules/spectrum_model_attrs.py
  plugins/modules/svc.py
  plugins/modules/swupd.py
  plugins/modules/telegram.py
  plugins/modules/twilio.py
  plugins/modules/utm_aaa_group.py
  plugins/modules/utm_aaa_group_info.py
  plugins/modules/utm_ca_host_key_cert.py
  plugins/modules/utm_dns_host.py
  plugins/modules/utm_proxy_auth_profile.py
  plugins/modules/utm_proxy_frontend.py
  plugins/modules/utm_proxy_frontend_info.py
  plugins/modules/utm_proxy_location.py
  plugins/modules/utm_proxy_location_info.py
  plugins/modules/vertica_configuration.py
  plugins/modules/vertica_info.py
  plugins/modules/vertica_role.py
  plugins/modules/vertica_schema.py
  plugins/modules/vertica_user.py
  plugins/modules/vmadm.py
  plugins/modules/xenserver_facts.py
  plugins/modules/zfs_facts.py
  plugins/modules/zpool_facts.py
Labels: module, database, plugins, cloud, docs, monitoring, os, packaging, system, notification, storage, web_infrastructure, check-before-release, docs_only, backport-5, backport-6

#5514 Fix a logical flaw when deleting a build in the jenkins_build module
  changelogs/fragments/5514-fix-logical-flaw-when-deleting-jenkins-build.yml
  plugins/modules/jenkins_build.py
  tests/unit/plugins/modules/test_jenkins_build.py
Labels: bug, module, tests, unit, plugins, web_infrastructure, check-before-release, backport-5, backport-6

#5502 xfconf: prune deprecated facts-generation code
  changelogs/fragments/5502-xfconf-facts-deprecation.yml
  plugins/modules/xfconf.py
Labels: bug, module, plugins, system, breaking_change, check-before-release

#5493 Fix: Duplicate vmid in proxmox_disk module #5492
  plugins/modules/proxmox_disk.py
Labels: bug, module, new_contributor, small_patch, plugins, cloud, backport-5, backport-6

#5543 dependent lookup: prevent deprecation warning with ansible-core 2.14
  changelogs/fragments/5543-dependent-template.yml
  plugins/lookup/dependent.py
Labels: bug, lookup, plugins, check-before-release, backport-5, backport-6

#5546 Clean up code-scanning workflow
  .github/workflows/codeql-analysis.yml
Labels: bug

#5545 gconftool2: refactored to use ModuleHelper + CmdRunner
  changelogs/fragments/5545-gconftool-cmd-runner.yml
  plugins/module_utils/gconftool2.py
  plugins/modules/gconftool2.py
  plugins/modules/gconftool2_info.py
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.12.txt
  tests/sanity/ignore-2.13.txt
  tests/sanity/ignore-2.14.txt
  tests/sanity/ignore-2.15.txt
  tests/unit/plugins/modules/test_gconftool2.py
Labels: feature, module, tests, unit, new_plugin, module_utils, plugins, system, backport-6

#5549 lxd_project: refactored os.path.expanduser() to module utils
  changelogs/fragments/5549-lxd-project-sanity.yml
  plugins/module_utils/lxd.py
  plugins/modules/lxd_project.py
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.12.txt
  tests/sanity/ignore-2.13.txt
  tests/sanity/ignore-2.14.txt
  tests/sanity/ignore-2.15.txt
Labels: bug, module, tests, module_utils, plugins, cloud, backport-6

#5553 spotinst_aws_elasticgroup: sanity checks
  changelogs/fragments/5553-spotinst-aws-elasticgroup-sanity.yml
  plugins/modules/spotinst_aws_elastigroup.py
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.12.txt
  tests/sanity/ignore-2.13.txt
  tests/sanity/ignore-2.14.txt
  tests/sanity/ignore-2.15.txt
Labels: bug, module, tests, plugins, cloud, check-before-release, backport-5, backport-6

#5555 redhat_subscription: fix sanity check
  plugins/modules/redhat_subscription.py
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.12.txt
  tests/sanity/ignore-2.13.txt
  tests/sanity/ignore-2.14.txt
  tests/sanity/ignore-2.15.txt
Labels: module, tests, plugins, docs, os, packaging, backport-5, backport-6

#5538 cmd_runner module utils: fix case for as_fixed() format
  changelogs/fragments/5538-cmd-runner-as-fixed.yml
  plugins/module_utils/cmd_runner.py
  tests/unit/plugins/module_utils/test_cmd_runner.py
Labels: bug, tests, unit, module_utils, plugins, backport-5, backport-6

#5563 rax_scaling_group: fix sanity check
  changelogs/fragments/5563-rax-scaling-group-sanity.yml
  plugins/module_utils/rax.py
  plugins/modules/rax_scaling_group.py
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.12.txt
  tests/sanity/ignore-2.13.txt
  tests/sanity/ignore-2.14.txt
  tests/sanity/ignore-2.15.txt
Labels: bug, module, tests, module_utils, plugins, cloud, check-before-release, backport-5, backport-6

#5570 chroot plugin fix inventory_hostname var for remote_addr
  changelogs/fragments/5570-chroot-plugin-fix-default-inventory_hostname.yml
  plugins/connection/chroot.py
Labels: bug, connection, new_contributor, plugins, check-before-release, backport-5, backport-6

#5535 add dependency manager
  .github/BOTMETA.yml
  plugins/module_utils/deps.py
  plugins/modules/dnsimple_info.py
  plugins/modules/iso_customize.py
  plugins/modules/pagerduty_user.py
  plugins/modules/pids.py
  plugins/modules/snmp_facts.py
Labels: feature, module, module_utils, plugins, files, monitoring, net_tools, system, check-before-release, backport-6

#5565 jenkins_plugin: fix sanity checks
  .github/BOTMETA.yml
  changelogs/fragments/5565-jenkins-plugin-sanity.yml
  plugins/module_utils/jenkins.py
  plugins/modules/jenkins_plugin.py
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.12.txt
  tests/sanity/ignore-2.13.txt
  tests/sanity/ignore-2.14.txt
  tests/sanity/ignore-2.15.txt
Labels: bug, module, tests, module_utils, plugins, web_infrastructure, backport-6

#5566 Add additional flags to nmap.py
  changelogs/fragments/5566-additional-flags-nmap.yml
  plugins/inventory/nmap.py
Labels: feature, new_contributor, has_issue, merge_commit, needs_rebase, inventory, plugins, backport-6

#5571 scaleway_organization_info: sanity checks
  plugins/modules/scaleway_organization_info.py
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.12.txt
  tests/sanity/ignore-2.13.txt
  tests/sanity/ignore-2.14.txt
  tests/sanity/ignore-2.15.txt
Labels: module, tests, plugins, cloud, docs, check-before-release, backport-5, backport-6

#5534 [GitLab] Add modules to manager project badges
  plugins/modules/gitlab_project_badge.py
  tests/integration/targets/gitlab_project_badge/aliases
  tests/integration/targets/gitlab_project_badge/defaults/main.yml
  tests/integration/targets/gitlab_project_badge/tasks/main.yml
Labels: module, tests, integration, new_plugin, plugins, check-before-release, backport-6

#5587 Failing CodeQL workflow: another try: fix languages to check
  .github/workflows/codeql-analysis.yml
Labels: small_patch

#5580 Redfish: Expanded SimpleUpdate command to allow for users to monitor the progress of an update and perform follow-up operations
  changelogs/fragments/3910-redfish-add-operation-apply-time-to-simple-update.yml
  changelogs/fragments/4276-redfish-command-updates-for-full-simple-update-workflow.yml
  plugins/module_utils/redfish_utils.py
  plugins/modules/redfish_command.py
  plugins/modules/redfish_info.py
Labels: feature, module, module_utils, plugins, remote_management, backport-6

#5559 udm_user: sanity
  changelogs/fragments/5559-udm-user-sanity.yml
  plugins/modules/udm_user.py
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.12.txt
  tests/sanity/ignore-2.13.txt
  tests/sanity/ignore-2.14.txt
  tests/sanity/ignore-2.15.txt
Labels: bug, module, tests, plugins, cloud, check-before-release, backport-5, backport-6

#5594 Temporarily disable copr tests
  tests/integration/targets/copr/aliases
Labels: tests, integration, has_issue, small_patch, backport-4, backport-5, backport-6

#5581 redhat_subscription: improve wording wrt Satellite
  plugins/modules/redhat_subscription.py
Labels: module, plugins, docs, os, packaging, check-before-release, backport-5, backport-6

#5557 udm_share: fix sanity checks
  changelogs/fragments/5557-udm-share-sanity.yml
  plugins/modules/udm_share.py
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.12.txt
  tests/sanity/ignore-2.13.txt
  tests/sanity/ignore-2.14.txt
  tests/sanity/ignore-2.15.txt
Labels: bug, module, tests, plugins, cloud, check-before-release, backport-6

#5592 Redirect and Remove sap modules
  .github/BOTMETA.yml
  changelogs/fragments/5592-redirect-remove-sap-modules.yml
  meta/runtime.yml
  plugins/modules/hana_query.py
  plugins/modules/sap_task_list_execute.py
  plugins/modules/sapcar_extract.py
  tests/unit/plugins/modules/test_hana_query.py
  tests/unit/plugins/modules/test_sap_task_list_execute.py
  tests/unit/plugins/modules/test_sapcar_extract.py
Labels: module, needs_revision, tests, unit, new_plugin, database, plugins, files, system, breaking_change, check-before-release

#5618 contributing: Modify link anchor to changelog fragments docs
  CONTRIBUTING.md
Labels: new_contributor, small_patch, docs, backport-5, backport-6

#5550 java_certs : Not enough info on error
  changelogs/fragments/5550-java_certs-not-enough-info-on-error.yml
  plugins/modules/java_cert.py
Labels: bug, module, new_contributor, plugins, system, check-before-release, backport-6

#5601 unixy Callback: Use Ansible's config manager
  changelogs/fragments/5601-unixy-callback-use-config-manager.yml
  plugins/callback/unixy.py
Labels: bug, needs_revision, callback, plugins, check-before-release, backport-5, backport-6

#5614 [stable-6] Announce removal of sap modules
  changelogs/fragments/sap-removal.yml
Labels: owner_pr, docs, backport

#5583 redhat_subscription: drop unneeded args to `Rhsm.register()`
  changelogs/fragments/5583-redhat_subscription-subscribe-parameters.yaml
  plugins/modules/redhat_subscription.py
  tests/unit/plugins/modules/test_redhat_subscription.py
Labels: bug, module, tests, unit, plugins, os, packaging, backport-6

#5627 redhat_subscription: don't discard vars with key
  changelogs/fragments/5627-redhat_subscription-subscribe-parameters-2.yaml
  plugins/modules/redhat_subscription.py
Labels: bug, module, has_issue, plugins, os, packaging, check-before-release, backport-5, backport-6

#5628 Fix for vmadm get_vm_uuid out of range
  changelogs/fragments/5628-fix-vmadm-off-by-one.yml
  plugins/modules/vmadm.py
Labels: bug, module, new_contributor, traceback, plugins, cloud, check-before-release, backport-5, backport-6

#5632 vdo: Use yaml.safe_load() instead of yaml.load()
  changelogs/fragments/5632-vdo-Use-yaml-safe-load-instead-of-yaml-load.yml
  plugins/modules/vdo.py
Labels: bug, module, has_issue, plugins, system, check-before-release, backport-4, backport-5, backport-6
