Repository ansible-collections/community.general, pull requests merged in 2022-05, with the labels that each got.

#4605 Small docs fixes
  plugins/filter/dict.py
  plugins/filter/from_csv.py
  plugins/filter/json_query.py
  plugins/filter/list.py
Labels: backport-3, backport-4

#4611 doc: time_filter: fix duplicate
  plugins/filter/to_time_unit.yml
Labels: filter, small_patch, plugins, docs, backport-3, backport-4

#4612 time_filter: allow 0 to return 0
  changelogs/fragments/4612-time_filter_zero.yml
  plugins/filter/time.py
  tests/integration/targets/filter_time/tasks/main.yml
Labels: bug, tests, integration, filter, plugins, check-before-release

#4596 redfish_command: VirtualMediaInsert does not work with HPE iLO4
  changelogs/fragments/4595-fix-VirtualMediaInsert-iLO4.yml
  plugins/module_utils/redfish_utils.py
Labels: bug, new_contributor, module_utils, plugins, check-before-release

#4625 Rename single-filter plugins so that the filename equals the filter name
  .github/BOTMETA.yml
  changelogs/fragments/4625-fix-filter-filenames.yml
  plugins/filter/groupby_as_dict.py
  plugins/filter/lists_mergeby.py
  tests/integration/targets/filter_groupby_as_dict/aliases
  tests/integration/targets/filter_groupby_as_dict/tasks/main.yml
  tests/integration/targets/filter_groupby_as_dict/vars/main.yml
  tests/integration/targets/filter_lists_mergeby/aliases
  tests/integration/targets/filter_lists_mergeby/tasks/lists_mergeby_2-10.yml
  tests/integration/targets/filter_lists_mergeby/tasks/lists_mergeby_default.yml
  tests/integration/targets/filter_lists_mergeby/tasks/main.yml
  tests/integration/targets/filter_lists_mergeby/vars/main.yml
Labels: bug, tests, integration, plugins, breaking_change, check-before-release

#4618 dig lookup: deprecate DLV record type
  changelogs/fragments/4618-dig-dlv.yml
  plugins/lookup/dig.py
Labels: feature, lookup, plugins

#4623 [opentelemetry][callback] fix warning when using the include_tasks
  changelogs/fragments/4623-opentelemetry_bug_fix_include_tasks.yml
  plugins/callback/opentelemetry.py
  tests/unit/plugins/callback/test_opentelemetry.py
Labels: bug, needs_revision, callback, tests, unit, plugins, check-before-release, backport-3, backport-4

#4590 consul: fixed bug in ConsulService when storing checks
  changelogs/fragments/4590-consul-fix-service-checks.yaml
  plugins/modules/clustering/consul/consul.py
Labels: bug, module, plugins, clustering, backport-3, backport-4

#4581 vmadm: improvements
  changelogs/fragments/4581-vmadm-improvements.yaml
  plugins/modules/cloud/smartos/vmadm.py
Labels: bug, module, plugins, cloud

#4626 [stable-4] Move in-plugin docs to sidecar for filters not named like the filename that contain them
  .github/BOTMETA.yml
  plugins/filter/groupby.py
  plugins/filter/groupby_as_dict.yml
  plugins/filter/list.py
  plugins/filter/lists_mergeby.yml
Labels: bug, plugins, backport-3, backport

#4631 [stable-3] Move in-plugin docs to sidecar for filters not named like the filename that contain them
  .github/BOTMETA.yml
  plugins/filter/groupby.py
  plugins/filter/groupby_as_dict.yml
  plugins/filter/list.py
  plugins/filter/lists_mergeby.yml
Labels: bug, plugins, backport

#4624 [opentelemetry][callback] fix hardcoded value for ansible_task_message
  changelogs/fragments/4624-opentelemetry_bug_fix_hardcoded_value.yml
  plugins/callback/opentelemetry.py
Labels: bug, needs_revision, callback, plugins, check-before-release, backport-3, backport-4

#4621 change list.copy() with list[:] for py2 compat in terraform module
  changelogs/fragments/4621-terraform-py2-compat.yml
  plugins/modules/cloud/misc/terraform.py
Labels: bug, module, plugins, cloud, check-before-release, backport-3, backport-4

#4636 Clarify ansible_pre_command_output
  plugins/callback/logstash.py
Labels: needs_revision, callback, new_contributor, small_patch, plugins, docs, backport-3, docs_only, backport-4

#4641 chore: Set permissions for GitHub actions
  .github/workflows/codeql-analysis.yml
Labels: new_contributor, needs_info, needs_template

#4650 zfs: refactoring
  changelogs/fragments/4650-zfs-improvements.yaml
  plugins/modules/storage/zfs/zfs.py
Labels: bug, module, plugins, storage

#4600 ModuleHelper module utils: delegates unknown attributes to AnsibleModule
  changelogs/fragments/4600-mh-delegate.yaml
  plugins/module_utils/mh/base.py
  plugins/module_utils/mh/module_helper.py
Labels: feature, module_utils, plugins, check-before-release

#4640 onepassword - Get first found config file
  changelogs/fragments/4065-onepassword-config.yml
  plugins/lookup/onepassword.py
  plugins/module_utils/onepassword.py
  plugins/modules/identity/onepassword_info.py
Labels: bug, module, lookup, module_utils, plugins, identity, check-before-release, backport-3, backport-4

#4535 [pritunl] add mac_addresses parameter
  changelogs/fragments/4535-pritunl-add-mac_addresses-parameter.yml
  plugins/modules/net_tools/pritunl/pritunl_user.py
Labels: feature, module, plugins, net_tools

#4578 feat(ipa_dnsrecord): add multiple record support
  changelogs/fragments/4578-ipa_dnsrecord-add_multiple_record_support.yml
  plugins/modules/identity/ipa/ipa_dnsrecord.py
Labels: feature, module, new_contributor, plugins, identity, check-before-release

#4601 ansible_galaxy_install: added deprecation for ansible 2.9 and ansible-base 2.10
  changelogs/fragments/4601-ansible-galaxy-install-deprecate-ansible29-and-210.yaml
  plugins/modules/packaging/language/ansible_galaxy_install.py
Labels: bug, module, plugins, packaging, language, check-before-release

#4649 rax_files_objects: refactoring
  changelogs/fragments/4649-rax-files-objects-improvements.yaml
  plugins/modules/cloud/rackspace/rax_files_objects.py
Labels: bug, module, plugins, cloud

#4648 vmadm: minor refactoring
  changelogs/fragments/4648-vmadm-improvements-2.yaml
  plugins/modules/cloud/smartos/vmadm.py
Labels: bug, module, plugins, cloud, check-before-release

#4647 gconftool2: improvements
  changelogs/fragments/4647-gconftool2-command-arg.yaml
  plugins/modules/system/gconftool2.py
Labels: bug, module, plugins, system, backport-3, backport-4

#4671 .gitignore exclude of .DS_Store files created by macOS
  .gitignore
Labels: feature, backport-4

#4660 ModuleHelper: added a do_raise() method to MH base class
  changelogs/fragments/4660-mh-added-do-raise.yaml
  plugins/module_utils/mh/base.py
  plugins/module_utils/mh/mixins/cmd.py
Labels: feature, module_utils, plugins, check-before-release

#4675 [stable-4] Add PSF-license.txt file
  PSF-license.txt
  changelogs/fragments/psf-license.yml
  plugins/module_utils/_version.py
Labels: bug, module_utils, plugins, backport-3, backport

#4667 Set firstrun to avoid use before definition
  changelogs/fragments/4651-zypper-checkmode-fix.yaml
  plugins/modules/packaging/os/zypper.py
Labels: bug, module, new_contributor, plugins, os, packaging, check-before-release, backport-3, backport-4

#4676 [stable-4] Update with actual CPython 3.9.5 license
  PSF-license.txt
Labels: bug, small_patch, backport-3, backport

#4662 Remove unsupported and unnecessary --no-emoji option
  changelogs/fragments/4662-yarn-emoji.yml
  plugins/modules/packaging/language/yarn.py
Labels: bug, module, new_contributor, plugins, packaging, language, breaking_change

#4677 [stable-3] Add PSF-license.txt file
  PSF-license.txt
  changelogs/fragments/psf-license.yml
  plugins/module_utils/_version.py
Labels: bug, module_utils, plugins, backport

#4668 gitlab_hook: use None for non-existent attr in gitlab API response
  changelogs/fragments/4668-gitlab_hook-use-None-for-non-existent-attr.yml
  plugins/modules/source_control/gitlab/gitlab_hook.py
Labels: bug, module, traceback, plugins, gitlab, source_control, check-before-release, backport-3, backport-4

#4681 [stable-4] gitlab_hook: use None for non-existent attr in gitlab API response
  changelogs/fragments/4668-gitlab_hook-use-None-for-non-existent-attr.yml
  plugins/modules/source_control/gitlab/gitlab_hook.py
Labels: bug, module, plugins, gitlab, source_control, backport

#4682 Update lenovoxcc module for compatibility with the virtualMedia resource location from Manager to System
  changelogs/fragments/4682-compatibility-virtualmedia-resource-location.yaml
  plugins/modules/remote_management/lenovoxcc/xcc_redfish_command.py
  tests/unit/plugins/modules/remote_management/lenovoxcc/test_xcc_redfish_command.py
Labels: bug, module, tests, unit, new_contributor, plugins, remote_management, backport-4, backport-5

#4689 Ignore import sanity errors until the modules can be fixed
  tests/sanity/ignore-2.14.txt
Labels: tests, small_patch, backport-4, backport-5

#4702 certifi dropped Python 2 support
  tests/integration/targets/consul/meta/main.yml
  tests/integration/targets/consul/tasks/main.yml
  tests/utils/constraints.txt
Labels: needs_revision, tests, unit, integration, backport-3, backport-4, backport-5

#4700 Add RHEL 9.0, FreeBSD 13.1, Ubuntu 22.04 and Fedora 36 to CI, fix bug in filesystem module
  .azure-pipelines/azure-pipelines.yml
  changelogs/fragments/4700-code-changes.yml
  plugins/modules/system/filesystem.py
  tests/integration/targets/cargo/tasks/setup.yml
  tests/integration/targets/django_manage/aliases
  tests/integration/targets/filesystem/tasks/main.yml
  tests/integration/targets/homectl/aliases
  tests/integration/targets/homectl/tasks/main.yml
  tests/integration/targets/iso_extract/aliases
  tests/integration/targets/iso_extract/meta/main.yml
  tests/integration/targets/iso_extract/tasks/main.yml
  tests/integration/targets/monit/tasks/main.yml
  tests/integration/targets/mqtt/tasks/main.yml
  tests/integration/targets/odbc/aliases
  tests/integration/targets/pkgng/tasks/freebsd.yml
  tests/integration/targets/setup_epel/tasks/main.yml
  tests/integration/targets/setup_openssl/vars/RedHat-9.yml
  tests/integration/targets/setup_postgresql_db/vars/Ubuntu-22-py3.yml
  tests/integration/targets/setup_snap/aliases
  tests/integration/targets/setup_snap/meta/main.yml
  tests/integration/targets/setup_snap/tasks/D-RedHat-9.0.yml
  tests/integration/targets/setup_snap/tasks/main.yml
  tests/integration/targets/ufw/aliases
  tests/integration/targets/ufw/tasks/main.yml
Labels: module, tests, integration, plugins, system, backport-4, backport-5

#4674 Multiple modules using ModuleHelper
  changelogs/fragments/4674-use-mh-raise.yaml
  plugins/modules/packaging/language/cpanm.py
  plugins/modules/packaging/language/pipx.py
  plugins/modules/packaging/os/snap.py
  plugins/modules/system/mksysb.py
  plugins/modules/system/xfconf.py
Labels: feature, module, plugins, os, packaging, system, language, check-before-release, backport-5

#4712 consul: applied bugfix from issue
  changelogs/fragments/4712-consul-bugfix.yaml
  plugins/modules/clustering/consul/consul.py
Labels: bug, module, plugins, clustering, backport-3, backport-4, backport-5

#4613 dig: remove support for the DLV record as the registry was decomissioned
  plugins/lookup/dig.py
Labels: bug, lookup, plugins, breaking_change

#4718 redfish_command: documentation typo and language
  plugins/modules/remote_management/redfish/redfish_command.py
Labels: module, small_patch, plugins, docs, remote_management, check-before-release, docs_only, backport-4, backport-5

#4722 redfish modules: documentation language and formatting
  plugins/modules/remote_management/redfish/idrac_redfish_command.py
  plugins/modules/remote_management/redfish/idrac_redfish_config.py
  plugins/modules/remote_management/redfish/idrac_redfish_info.py
  plugins/modules/remote_management/redfish/ilo_redfish_config.py
  plugins/modules/remote_management/redfish/ilo_redfish_info.py
  plugins/modules/remote_management/redfish/redfish_command.py
  plugins/modules/remote_management/redfish/redfish_config.py
  plugins/modules/remote_management/redfish/redfish_info.py
Labels: module, plugins, docs, remote_management, check-before-release, docs_only, backport-4, backport-5

#4737 Update CI matrix
  .azure-pipelines/azure-pipelines.yml
Labels: backport-4, backport-5

#4726 Fix quoting bug in zfs
  changelogs/fragments/4726-zfs.yml
  plugins/modules/storage/zfs/zfs.py
Labels: bug, module, has_issue, plugins, storage, check-before-release, backport-5

#4655 DOC: Document setting of NTP server in examples of ilo_redfish_config
  plugins/modules/remote_management/redfish/ilo_redfish_config.py
Labels: module, stale_ci, new_contributor, plugins, docs, remote_management, check-before-release, docs_only, backport-4, backport-5

#4733 fix invalid fail_json call
  changelogs/fragments/4733-redis-fail.yml
  plugins/module_utils/redis.py
Labels: bug, module_utils, traceback, plugins, check-before-release, backport-4, backport-5

#4719 keycloak_realm: fix default groups and roles (#4241)
  changelogs/fragments/4719-fix-keycloak-realm.yaml
  plugins/modules/identity/keycloak/keycloak_realm.py
Labels: bug, module, new_contributor, plugins, identity, check-before-release, backport-4, backport-5
