Repository ansible-collections/community.general, pull requests merged in 2022-12, with the labels that each got.

#5629 Remove automatically adding # symbol to channel names
  changelogs/fragments/5629-add-prepend-hash-option-for-channel-id.yml
  plugins/modules/slack.py
Labels: bug, module, new_contributor, plugins, notification, check-before-release, backport-6

#5639 Fix example in keycloak_realm documentation
  plugins/modules/keycloak_realm.py
Labels: module, new_contributor, small_patch, plugins, docs, identity, docs_only, backport-5, backport-6

#5640 fix typo disable_looups in inventory/proxmox
  changelogs/fragments/5640-fix-typo-proxmox-inventory.yml
  plugins/inventory/proxmox.py
Labels: bug, new_contributor, inventory, check-before-release, backport-5, backport-6

#5638 Reenable and enhance `copr` integration tests
  tests/integration/targets/copr/aliases
  tests/integration/targets/copr/tasks/main.yml
  tests/integration/targets/copr/vars/main.yml
Labels: bug, needs_revision, tests, integration, check-before-release, backport-4, backport-5, backport-6

#5647 cmd_runner: allow bool format to pass alternate (false) value
  changelogs/fragments/5647-cmd-runner-as-bool-false.yml
  plugins/module_utils/cmd_runner.py
  tests/unit/plugins/module_utils/test_cmd_runner.py
Labels: feature, tests, unit, module_utils, plugins, backport-6

#5602 Updated tags delimiter
  changelogs/fragments/5602-proxmox-tags.yml
  plugins/inventory/proxmox.py
Labels: bug, new_contributor, inventory, plugins, check-before-release, backport-5, backport-6

#5605 feat(ssh_config): host_key_algorithms option
  changelogs/fragments/5605-ssh-config-add-host-key-algorithms.yaml
  plugins/modules/ssh_config.py
  tests/integration/targets/ssh_config/tasks/options.yml
Labels: feature, module, tests, integration, new_contributor, plugins, system, check-before-release, backport-6

#5606 New Module: Keycloak ClientSecret with PR changes
  .github/BOTMETA.yml
  plugins/module_utils/identity/keycloak/keycloak.py
  plugins/module_utils/identity/keycloak/keycloak_clientsecret.py
  plugins/modules/keycloak_clientsecret_info.py
  plugins/modules/keycloak_clientsecret_regenerate.py
  tests/integration/targets/keycloak_clientsecret_info/README.md
  tests/integration/targets/keycloak_clientsecret_info/docker-compose.yml
  tests/integration/targets/keycloak_clientsecret_info/tasks/main.yml
  tests/integration/targets/keycloak_clientsecret_info/vars/main.yml
  tests/integration/targets/keycloak_clientsecret_regenerate/README.md
  tests/integration/targets/keycloak_clientsecret_regenerate/docker-compose.yml
  tests/integration/targets/keycloak_clientsecret_regenerate/tasks/main.yml
  tests/integration/targets/keycloak_clientsecret_regenerate/vars/main.yml
Labels: module, tests, integration, new_contributor, new_plugin, module_utils, plugins, identity, check-before-release, backport-6

#5619 Fix keycloak_client_rolemapping role removal and diff
  changelogs/fragments/5619-keycloak-improvements.yml
  plugins/module_utils/identity/keycloak/keycloak.py
  plugins/modules/keycloak_client_rolemapping.py
Labels: bug, module, module_utils, plugins, identity, check-before-release, backport-5, backport-6

#5507 Adding PUT functionality to redfish_utils (Updated)
  changelogs/fragments/5490-adding-put-functionality.yml
  plugins/module_utils/redfish_utils.py
Labels: feature, stale_ci, new_contributor, module_utils, plugins, backport-6

#5668 Fix pipx_info tests
  tests/integration/targets/pipx_info/tasks/main.yml
Labels: tests, integration, small_patch, backport-4, backport-5, backport-6

#5662 redhat_subscription: add `server_proxy_scheme` parameter
  changelogs/fragments/5662-redhat_subscription-server_proxy_scheme.yaml
  plugins/modules/redhat_subscription.py
  tests/unit/plugins/modules/test_redhat_subscription.py
Labels: feature, module, tests, unit, plugins, os, packaging, check-before-release, backport-6

#5674 CI: Bump CentOS Stream 8 Python from 3.8 to 3.9
  .azure-pipelines/azure-pipelines.yml
Labels: needs_revision, small_patch, backport-4, backport-5, backport-6

#5667 respect new variable property in gitlab_group_variable and gitlab_project_variable
  changelogs/fragments/5666-gitlab-variables.yml
  plugins/module_utils/gitlab.py
  plugins/modules/gitlab_group_variable.py
  plugins/modules/gitlab_project_variable.py
Labels: bug, module, has_issue, module_utils, plugins, gitlab, source_control, backport-5, backport-6

#5687 [stable-5] gconftool2: fix index error
  changelogs/fragments/5687-gconftool2.yml
  plugins/modules/system/gconftool2.py
Labels: bug, module, has_issue, plugins, backport

#5659 lxc_container: fix lxc argument when executing lxc command
  changelogs/fragments/5659-fix-lxc_container-command.yml
  plugins/modules/lxc_container.py
Labels: bug, module, new_contributor, plugins, cloud, backport-5, backport-6

#5699 Fixed `github_release` docs: only module-specific returned key is `tag`
  plugins/modules/github_release.py
Labels: module, new_contributor, plugins, docs, source_control, check-before-release, backport-5, backport-6

#5672 Bugfix: Remove redundant VMID parameters
  changelogs/fragments/5672-proxmox.yml
  plugins/modules/proxmox_disk.py
  plugins/modules/proxmox_nic.py
Labels: bug, module, stale_ci, plugins, cloud, check-before-release, backport-5, backport-6

#5705 opkg: fix issue that force=reinstall would not reinstall an existing package
  changelogs/fragments/5705-opkg-fix-force-reinstall.yml
  plugins/modules/opkg.py
Labels: bug, module, new_contributor, plugins, os, packaging, backport-5, backport-6

#5703 Add support for host restriction in sudoers module
  changelogs/fragments/5703-sudoers-host-support.yml
  plugins/modules/sudoers.py
  tests/integration/targets/sudoers/tasks/main.yml
Labels: feature, module, tests, integration, new_contributor, plugins, system, check-before-release, backport-6

#5713 CI: add extra VMs for certain tests
  .azure-pipelines/azure-pipelines.yml
  tests/integration/targets/filesize/aliases
  tests/integration/targets/filesystem/aliases
  tests/integration/targets/filesystem/tasks/create_device.yml
  tests/integration/targets/iptables_state/aliases
  tests/integration/targets/iptables_state/tasks/tests/01-tables.yml
  tests/integration/targets/lvg/aliases
  tests/integration/targets/lvg/tasks/setup.yml
  tests/integration/targets/lvg/tasks/teardown.yml
  tests/integration/targets/lvg/tasks/test_grow_reduce.yml
  tests/integration/targets/lvg/tasks/test_indempotency.yml
  tests/integration/targets/lvg/tasks/test_pvresize.yml
  tests/integration/targets/snap/aliases
  tests/integration/targets/snap_alias/aliases
  tests/integration/targets/ufw/aliases
  tests/integration/targets/xattr/aliases
  tests/integration/targets/xfs_quota/aliases
  tests/utils/shippable/alpine.sh
  tests/utils/shippable/fedora.sh
  tests/utils/shippable/ubuntu.sh
Labels: needs_revision, tests, unit, integration, backport-6

#5680 ansible_galaxy_install: use locale C tentatively, else en_US
  changelogs/fragments/5680-ansible_galaxy_install-fx-locale.yaml
  plugins/modules/ansible_galaxy_install.py
  tests/integration/targets/ansible_galaxy_install/tasks/main.yml
Labels: bug, module, tests, integration, plugins, packaging, language, check-before-release, backport-5, backport-6

#5719 xfconf: prune deprecated facts-generating code (more of it)
  changelogs/fragments/5719-xfconf-facts-deprecation.yml
  plugins/modules/xfconf.py
Labels: bug, module, plugins, system, breaking_change

#5721 manageiq_policies: deprecate list state
  changelogs/fragments/5721-manageiq-policies-deprecate-list-state.yaml
  plugins/modules/manageiq_policies.py
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.12.txt
  tests/sanity/ignore-2.13.txt
  tests/sanity/ignore-2.14.txt
  tests/sanity/ignore-2.15.txt
Labels: bug, module, tests, plugins, remote_management, backport-6

#5688 opkg module: allow installing a package in a certain version
  changelogs/fragments/5688-opkg-module-install-certain-version.yml
  plugins/modules/opkg.py
Labels: feature, module, plugins, os, packaging, check-before-release, backport-6

#5720 ssh_config: fixed sanity
  .github/BOTMETA.yml
  changelogs/fragments/5720-ssh_config-plugin-sanity.yml
  plugins/module_utils/ssh.py
  plugins/modules/ssh_config.py
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.12.txt
  tests/sanity/ignore-2.13.txt
  tests/sanity/ignore-2.14.txt
  tests/sanity/ignore-2.15.txt
Labels: bug, module, tests, module_utils, plugins, system, backport-6

#5727 manageiq_tags: deprecate list state
  changelogs/fragments/5727-manageiq-tags-deprecate-list-state.yaml
  plugins/modules/manageiq_tags.py
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.12.txt
  tests/sanity/ignore-2.13.txt
  tests/sanity/ignore-2.14.txt
  tests/sanity/ignore-2.15.txt
Labels: bug, module, tests, plugins, remote_management, breaking_change

#5728 manageiq_policies: remove doc example for deprecated case
  plugins/modules/manageiq_policies.py
Labels: module, plugins, docs, remote_management

#5658 Feature: Provide project field for LXD inventory plugin
  plugins/inventory/lxd.py
Labels: feature, new_contributor, inventory, plugins, check-before-release, backport-6

#5714 feat: add tags to proxmox containers
  changelogs/fragments/5714-proxmox-lxc-tag-support.yml
  plugins/modules/proxmox.py
Labels: bug, module, new_contributor, has_issue, plugins, cloud, check-before-release, backport-6

#5744 unixy Callback: Fix typo using ansibles config manager
  changelogs/fragments/5744-unixy-callback-fix-config-manager-typo.yml
  plugins/callback/unixy.py
Labels: bug, callback, plugins, check-before-release, backport-5, backport-6

#5741 htpasswd: improve documentation on crypt_scheme
  plugins/modules/htpasswd.py
Labels: module, plugins, docs, web_infrastructure, check-before-release, docs_only, backport-5, backport-6
