Repository ansible-collections/community.general, pull requests merged in 2023-11, with the labels that each got.

#7452 Fix icinga2_host requiring ip key.
  changelogs/fragments/7452-fix-icinga2_host-requiring-ip-key.yml
  plugins/modules/icinga2_host.py
Labels: bug, module, new_contributor, plugins

#7405 Fix the ability to run Composer "working_dir" dependent commands
  changelogs/fragments/3787-pass-composer-working-dir.yml
  plugins/modules/composer.py
Labels: bug, module, stale_ci, new_contributor, has_issue, plugins, backport-6, backport-7

#7467 [gitlab] Fix gitlab constants calls
  changelogs/fragments/7467-fix-gitlab-constants-calls.yml
  plugins/modules/gitlab_group_members.py
  plugins/modules/gitlab_project_members.py
  plugins/modules/gitlab_protected_branch.py
  plugins/modules/gitlab_user.py
Labels: bug, module, new_contributor, plugins, docs, check-before-release, backport-7, backport-8

#7476 timezone tests: do not restore original timezone if it wasn't known (value 'n/a')
  tests/integration/targets/timezone/tasks/main.yml
Labels: tests, integration, small_patch, backport-6, backport-7, backport-8

#7480 Disable nomad tests
  tests/integration/targets/nomad/aliases
Labels: tests, integration, small_patch, backport-6, backport-7, backport-8

#7472 feature(gitlab): add 'ca_path' option
  changelogs/fragments/7472-gitlab-add-ca-path-option.yml
  plugins/doc_fragments/gitlab.py
  plugins/module_utils/gitlab.py
Labels: feature, docs_fragments, module_utils, plugins, gitlab, shipit, backport-8

#7143 add template option to proxmox and proxmox_kvm
  changelogs/fragments/7143-proxmox-template.yml
  plugins/modules/proxmox.py
  plugins/modules/proxmox_kvm.py
Labels: feature, module, new_contributor, plugins, backport-8

#7471 Redfish: Updated message handling for update operations to skip message objects with missing MessageId properties
  changelogs/fragments/7465-redfish-firmware-update-message-id-hardening.yml
  plugins/module_utils/redfish_utils.py
Labels: bug, module_utils, plugins, backport-7, backport-8

#7464 fix vm removal in proxmox_pool_member.py
  changelogs/fragments/7464-fix-vm-removal-in-proxmox_pool_member.yml
  plugins/modules/proxmox_pool_member.py
Labels: bug, module, new_contributor, plugins, backport-7, backport-8

#7501 Use isinstance() instead of type()
  changelogs/fragments/7501-type.yml
  plugins/module_utils/ocapi_utils.py
  plugins/module_utils/oracle/oci_utils.py
  plugins/module_utils/redfish_utils.py
Labels: backport-7, backport-8

#7426 Add options for password generation in the passwordstore module
  changelogs/fragments/7426-add-timestamp-and-preserve-options-for-passwordstore.yaml
  plugins/lookup/passwordstore.py
Labels: feature, lookup, new_contributor, plugins, backport-8

#7506 pipx: change parameter formatter for pip_args
  changelogs/fragments/7506-pipx-pipargs.yml
  plugins/module_utils/pipx.py
  tests/integration/targets/pipx/tasks/main.yml
Labels: bug, tests, integration, module_utils, plugins, check-before-release, backport-7, backport-8

#7462 Add ostype parameter in LXC container clone of Proxmox VE
  changelogs/fragments/7462-Add-ostype-parameter-in-LXC-container-clone-of-ProxmoxVE.yaml
  plugins/modules/proxmox.py
Labels: module, new_contributor, plugins, docs, backport-8

#7456 [ssh_config] Add support for ControlMaster
  changelogs/fragments/7456-add-ssh-control-master.yml
  plugins/modules/ssh_config.py
  tests/integration/targets/ssh_config/tasks/options.yml
Labels: feature, module, tests, integration, new_contributor, plugins, backport-8

#7468 Improve performance of the bitwarden lookup plugin
  changelogs/fragments/bitwarden-lookup-performance.yaml
  plugins/lookup/bitwarden.py
Labels: lookup, new_contributor, plugins, backport-8

#7199 feat(gitlab_runner module): Add support for the new runner creation workflow
  changelogs/fragments/7199-gitlab-runner-new-creation-workflow.yml
  plugins/modules/gitlab_runner.py
Labels: feature, module, has_issue, plugins, backport-8

#7486 refactor(gitlab modules): remove duplicate gitlab package check
  changelogs/fragments/7486-gitlab-refactor-package-check.yml
  plugins/module_utils/gitlab.py
  plugins/modules/gitlab_branch.py
  plugins/modules/gitlab_deploy_key.py
  plugins/modules/gitlab_group.py
  plugins/modules/gitlab_group_members.py
  plugins/modules/gitlab_group_variable.py
  plugins/modules/gitlab_hook.py
  plugins/modules/gitlab_instance_variable.py
  plugins/modules/gitlab_merge_request.py
  plugins/modules/gitlab_project.py
  plugins/modules/gitlab_project_badge.py
  plugins/modules/gitlab_project_members.py
  plugins/modules/gitlab_project_variable.py
  plugins/modules/gitlab_protected_branch.py
  plugins/modules/gitlab_runner.py
  plugins/modules/gitlab_user.py
Labels: module, module_utils, plugins, gitlab, check-before-release

#7489 Netcup DNS: Add support for additional record types
  changelogs/fragments/7489-netcup-dns-record-types.yml
  plugins/modules/netcup_dns.py
Labels: feature, module, new_contributor, plugins, backport-8

#7415 Ipa sudorule/add deny options
  changelogs/fragments/add-ipa-sudorule-deny-cmd.yml
  plugins/modules/ipa_sudorule.py
Labels: feature, module, new_contributor, plugins, backport-8

#7499 infiniband and bond interfaces can receive MTU settings too
  changelogs/fragments/7499-allow-mtu-setting-on-bond-and-infiniband-interfaces.yml
  plugins/modules/nmcli.py
  tests/unit/plugins/modules/test_nmcli.py
Labels: bug, module, tests, unit, new_contributor, plugins, backport-8

#7517 Close elastic APM client to release connections
  changelogs/fragments/7517-elastic-close-client.yaml
  plugins/callback/elastic.py
Labels: bug, callback, new_contributor, plugins, backport-7, backport-8

#7116 Support 1Password Connect (#5588)
  changelogs/fragments/5588-support-1password-connect.yml
  plugins/lookup/onepassword.py
  plugins/lookup/onepassword_raw.py
  tests/unit/plugins/lookup/test_onepassword.py
Labels: feature, lookup, tests, unit, new_contributor, plugins, backport-8

#7534 CI: remove skip/python2.6 from aliases
  tests/integration/targets/ansible_galaxy_install/aliases
  tests/integration/targets/etcd3/aliases
  tests/integration/targets/filter_counter/aliases
  tests/integration/targets/filter_dict/aliases
  tests/integration/targets/filter_dict_kv/aliases
  tests/integration/targets/filter_from_csv/aliases
  tests/integration/targets/filter_groupby_as_dict/aliases
  tests/integration/targets/filter_hashids/aliases
  tests/integration/targets/filter_jc/aliases
  tests/integration/targets/filter_json_query/aliases
  tests/integration/targets/filter_lists_mergeby/aliases
  tests/integration/targets/filter_path_join_shim/aliases
  tests/integration/targets/filter_random_mac/aliases
  tests/integration/targets/filter_time/aliases
  tests/integration/targets/filter_unicode_normalize/aliases
  tests/integration/targets/filter_version_sort/aliases
  tests/integration/targets/homebrew/aliases
  tests/integration/targets/homebrew_cask/aliases
  tests/integration/targets/ipify_facts/aliases
  tests/integration/targets/iso_create/aliases
  tests/integration/targets/iso_customize/aliases
  tests/integration/targets/lookup_cartesian/aliases
  tests/integration/targets/lookup_dependent/aliases
  tests/integration/targets/lookup_dig/aliases
  tests/integration/targets/lookup_etcd3/aliases
  tests/integration/targets/lookup_flattened/aliases
  tests/integration/targets/lookup_lmdb_kv/aliases
  tests/integration/targets/lookup_merge_variables/aliases
  tests/integration/targets/lookup_passwordstore/aliases
  tests/integration/targets/lookup_random_pet/aliases
  tests/integration/targets/lookup_random_string/aliases
  tests/integration/targets/lookup_random_words/aliases
  tests/integration/targets/monit/aliases
  tests/integration/targets/odbc/aliases
  tests/integration/targets/ssh_config/aliases
Labels: tests, integration, backport-8

#7543 sysrc: FreeBSD jail test no longer works with FreeBSD 13.1
  tests/integration/targets/sysrc/tasks/main.yml
Labels: backport-6, backport-7, backport-8

#7541 CI: devel supports Fedora 39, and no longer Fedora 38
  .azure-pipelines/azure-pipelines.yml
  tests/integration/targets/java_cert/files/setupSSLServer.py
  tests/integration/targets/mail/tasks/main.yml
Labels: needs_revision, tests, integration, check-before-release, backport-7, backport-8

#7495 [proxmox_disk]: Add ability to manipulate CD-ROM drive
  changelogs/fragments/7495-proxmox_disk-manipulate-cdrom.yml
  plugins/modules/proxmox_disk.py
Labels: feature, module, plugins, backport-8

#7542 ssl.wrap_socket() was removed in Python 3.12
  changelogs/fragments/7542-irc-logentries-ssl.yml
  plugins/callback/logentries.py
  plugins/modules/irc.py
Labels: bug, module, callback, has_issue, plugins, shipit, backport-7, backport-8

#7555 ansible_galaxy_install: forgot to remove mentions of the no longer supported Ansible 2.9 in the docs
  plugins/modules/ansible_galaxy_install.py
Labels: module, small_patch, plugins, docs, check-before-release, backport-8

#7560 test helper: Helper.from_module() injects test function into test module
  tests/unit/plugins/modules/helper.py
  tests/unit/plugins/modules/test_cpanm.py
  tests/unit/plugins/modules/test_facter_facts.py
  tests/unit/plugins/modules/test_gconftool2.py
  tests/unit/plugins/modules/test_gconftool2_info.py
  tests/unit/plugins/modules/test_gio_mime.py
  tests/unit/plugins/modules/test_opkg.py
  tests/unit/plugins/modules/test_puppet.py
  tests/unit/plugins/modules/test_xfconf.py
  tests/unit/plugins/modules/test_xfconf_info.py
Labels: tests, unit

#7515 Add support for loopback type in nmcli module
  changelogs/fragments/6572-nmcli-add-support-loopback-type.yml
  plugins/modules/nmcli.py
  tests/unit/plugins/modules/test_nmcli.py
Labels: feature, module, tests, unit, plugins, backport-8

#7533 Add test fqdn_valid
  .github/BOTMETA.yml
  plugins/test/fqdn_valid.py
  tests/integration/targets/test_fqdn_valid/aliases
  tests/integration/targets/test_fqdn_valid/runme.sh
  tests/integration/targets/test_fqdn_valid/runme.yml
  tests/integration/targets/test_fqdn_valid/tasks/fqdn_valid_1.yml
  tests/integration/targets/test_fqdn_valid/tasks/main.yml
  tests/integration/targets/test_fqdn_valid/vars/main.yml
Labels: feature, tests, integration, plugins, backport-8

#7551 Clean up doc fragments a bit
  plugins/doc_fragments/alicloud.py
  plugins/doc_fragments/auth_basic.py
  plugins/doc_fragments/dimensiondata.py
  plugins/doc_fragments/dimensiondata_wait.py
  plugins/doc_fragments/emc.py
  plugins/doc_fragments/hwc.py
  plugins/doc_fragments/ibm_storage.py
  plugins/doc_fragments/influxdb.py
  plugins/doc_fragments/ipa.py
  plugins/doc_fragments/keycloak.py
  plugins/doc_fragments/lxca_common.py
  plugins/doc_fragments/oneview.py
  plugins/doc_fragments/online.py
  plugins/doc_fragments/openswitch.py
  plugins/doc_fragments/oracle.py
  plugins/doc_fragments/oracle_wait_options.py
  plugins/doc_fragments/purestorage.py
  plugins/doc_fragments/rackspace.py
  plugins/doc_fragments/scaleway.py
  plugins/doc_fragments/utm.py
  plugins/doc_fragments/vexata.py
Labels: docs_fragments, plugins, docs, shipit, check-before-release, backport-8

#7554 galaxy.yml: improve description, improve YAML, remove not really relevant comments
  galaxy.yml
Labels: docs, check-before-release, backport-8

#7549 logentries: docs improvements
  plugins/callback/logentries.py
Labels: callback, small_patch, plugins, docs, docs_only, backport-7, backport-8

#7563 Set resources payload as a list
  changelogs/fragments/7151-fix-keycloak_authz_permission-incorrect-resource-payload.yml
  plugins/modules/keycloak_authz_permission.py
Labels: bug, module, new_contributor, plugins, backport-7, backport-8

#7550 irc module: add validate_certs, rename use_ssl to use_tls (keeping use_ssl as an alias)
  changelogs/fragments/7550-irc-use_tls-validate_certs.yml
  plugins/modules/irc.py
Labels: feature, module, callback, plugins, check-before-release, backport-8

#7558 ini_file: documentation for 'section' to stop mentioning that null can be passed
  plugins/modules/ini_file.py
Labels: module, plugins, docs, check-before-release, docs_only, backport-7, backport-8

#7591 Update proxmox_tasks_info.py
  plugins/modules/proxmox_tasks_info.py
Labels: module, small_patch, plugins, docs, docs_only, backport-6, backport-7, backport-8

#7592 Remove Fedora 36 from CI
  .azure-pipelines/azure-pipelines.yml
Labels: small_patch, backport-7, backport-8

#7535 fix(modules/terraform): handle multiline strings correctly in complex variables
  changelogs/fragments/7535-terraform-fix-multiline-string-handling-in-complex-variables.yml
  plugins/modules/terraform.py
Labels: bug, module, new_contributor, plugins, backport-7, backport-8

#7603 CI: temporarily skip passwordstore tests on Debian/Ubuntu
  tests/integration/targets/lookup_passwordstore/tasks/main.yml
Labels: tests, integration, has_issue, small_patch

#7538 [keycloak_user_federation]: Adding option krbPrincipalAttribute
  changelogs/fragments/7538-add-krbprincipalattribute-option.yml
  plugins/modules/keycloak_user_federation.py
  tests/unit/plugins/modules/test_keycloak_user_federation.py
Labels: feature, module, tests, unit, new_contributor, plugins, backport-8

#7461 Add option to proxmox dynamic inventory to exclude nodes
  changelogs/fragments/7461-proxmox-inventory-add-exclude-nodes.yaml
  plugins/inventory/proxmox.py
  tests/unit/plugins/inventory/test_proxmox.py
Labels: feature, stale_ci, tests, unit, new_contributor, inventory, plugins, backport-8

#7611 Improve interfaces_file documentation
  plugins/modules/interfaces_file.py
Labels: module, plugins, docs, backport-7, backport-8

#7612 interfaces_file: filter by address_familiy when updating method
  changelogs/fragments/7612-interface_file-method.yml
  plugins/modules/interfaces_file.py
  tests/integration/targets/interfaces_file/tasks/main.yml
Labels: bug, module, tests, integration, has_issue, plugins, shipit, check-before-release, backport-7, backport-8

#7576 Only disable cert validation in examples for local network access
  plugins/inventory/icinga2.py
  plugins/inventory/proxmox.py
  plugins/modules/gitlab_group.py
  plugins/modules/gitlab_hook.py
  plugins/modules/gitlab_project.py
  plugins/modules/gitlab_project_members.py
  plugins/modules/gitlab_user.py
  plugins/modules/imc_rest.py
  plugins/modules/influxdb_retention_policy.py
  plugins/modules/ipa_host.py
  plugins/modules/ipa_vault.py
  plugins/modules/jenkins_job_info.py
  plugins/modules/jenkins_script.py
  plugins/modules/manageiq_alert_profiles.py
  plugins/modules/manageiq_alerts.py
  plugins/modules/manageiq_group.py
  plugins/modules/manageiq_policies.py
  plugins/modules/manageiq_provider.py
  plugins/modules/manageiq_tags.py
  plugins/modules/manageiq_tenant.py
  plugins/modules/manageiq_user.py
  plugins/modules/xenserver_guest.py
Labels: module, inventory, plugins, docs, backport-8

#7625 Fix bad expressions in tests
  tests/integration/targets/alternatives/tasks/tests_set_priority.yml
  tests/integration/targets/archive/tests/core.yml
  tests/integration/targets/archive/tests/remove.yml
  tests/integration/targets/cmd_runner/aliases
  tests/integration/targets/deploy_helper/tasks/main.yml
  tests/integration/targets/ini_file/tasks/tests/00-basic.yml
  tests/integration/targets/lvg/tasks/test_active_change.yml
Labels: tests, integration, WIP, backport-6, backport-7, backport-8

#7631 Fix osx_defaults tests
  tests/integration/targets/osx_defaults/tasks/main.yml
Labels: backport-7, backport-8

#7627 [stable-6] Fix bad expressions in tests
  tests/integration/targets/alternatives/tasks/tests_set_priority.yml
  tests/integration/targets/archive/tests/core.yml
  tests/integration/targets/archive/tests/remove.yml
  tests/integration/targets/cmd_runner/aliases
  tests/integration/targets/deploy_helper/tasks/main.yml
  tests/integration/targets/ini_file/tasks/tests/00-basic.yml
  tests/integration/targets/osx_defaults/tasks/main.yml
Labels: needs_revision, tests, integration, backport

#7569 infiniband can be a slave too
  changelogs/fragments/7569-infiniband-slave-support.yml
  plugins/modules/nmcli.py
Labels: bug, module, plugins, check-before-release, backport-7, backport-8

#7588 ipa_config: add passkey choice to ipauserauthtype
  changelogs/fragments/7588-ipa-config-new-choice-passkey-to-ipauserauthtype.yml
  plugins/modules/ipa_config.py
Labels: bug, module, plugins, backport-8

#7589 ipa_user: add idp and passkey choices to ipauserauthtype
  changelogs/fragments/7589-ipa-config-new-choices-idp-and-passkey-to-ipauserauthtype.yml
  plugins/modules/ipa_user.py
Labels: bug, module, plugins, backport-8

#7624 redhat_subscription: use D-Bus registration on RHEL 7 only on 7.4+
  changelogs/fragments/000-redhat_subscription-dbus-on-7.4-plus.yaml
  plugins/modules/redhat_subscription.py
  tests/unit/plugins/modules/test_redhat_subscription.py
Labels: bug, module, tests, unit, has_issue, plugins, redhat_subscription, backport-7, backport-8
