Repository ansible-collections/community.general, pull requests merged in 2023-03, with the labels that each got.

#6116 Remove glitchcrab as maintainer for memset modules and module utils
  .github/BOTMETA.yml
Labels: small_patch, docs, backport-5, backport-6

#6119 opkg: fix bug when update_cache=true
  changelogs/fragments/6119-opkg-update.yaml
  plugins/modules/opkg.py
  tests/unit/plugins/modules/test_opkg.py
Labels: bug, module, tests, unit, plugins, os, packaging, check-before-release, backport-6

#6121 Documentation: yum_versionlock typo fix
  plugins/modules/yum_versionlock.py
Labels: module, new_contributor, small_patch, plugins, docs, os, packaging, docs_only, backport-5, backport-6

#6118 Add 'inventory_hostname' to the jail plugin documentation
  changelogs/fragments/6118-jail-plugin-fix-default-inventory_hostname.yml
  plugins/connection/jail.py
Labels: bug, connection, new_contributor, plugins, check-before-release, backport-5, backport-6

#6104 nmcli: fixed inability to change mtu on vlan connection
  changelogs/fragments/4387-nmcli-mtu-for-vlan-connection-fix.yml
  plugins/modules/nmcli.py
  tests/unit/plugins/modules/test_nmcli.py
Labels: bug, module, tests, unit, new_contributor, plugins, net_tools, check-before-release, backport-5, backport-6

#6138 Fix Yarn global not working without explicit executable path
  changelogs/fragments/6138-fix-yarn-global.yml
  plugins/modules/yarn.py
  tests/integration/targets/yarn/tasks/run.yml
Labels: bug, module, tests, integration, plugins, packaging, language, check-before-release, backport-6

#6130 Fixes #6112: community.general.gitlab_runner KeyError: 'access_level'
  changelogs/fragments/6112-fix_key_error_in_gitlab_runner_creation_update.yml
  plugins/modules/gitlab_runner.py
Labels: bug, module, has_issue, plugins, gitlab, source_control, backport-6

#6143 Remove chrishoffman as maintainer for yarn
  .github/BOTMETA.yml
Labels: new_contributor, needs_info, needs_template, small_patch, check-before-release, backport-5, backport-6

#6049 dconf: Check for changes properly despite style of quotes used by user
  changelogs/fragments/6049-dconf-strings.yml
  plugins/modules/dconf.py
  tests/unit/plugins/modules/test_dconf.py
Labels: bug, module, tests, unit, new_plugin, needs_ci, plugins, system, check-before-release, backport-6

#6152 More true/false normalization
  plugins/modules/aix_devices.py
  plugins/modules/ipmi_power.py
  plugins/modules/nmcli.py
  plugins/modules/utm_proxy_auth_profile.py
  plugins/modules/zfs.py
  tests/integration/targets/aix_devices/tasks/main.yml
  tests/integration/targets/alternatives/tasks/main.yml
  tests/integration/targets/alternatives/tasks/path_is_checked.yml
  tests/integration/targets/alternatives/tasks/subcommands.yml
  tests/integration/targets/apache2_module/tasks/actualtest.yml
  tests/integration/targets/archive/tasks/main.yml
  tests/integration/targets/consul/tasks/consul_session.yml
  tests/integration/targets/filesystem/defaults/main.yml
  tests/integration/targets/filesystem/tasks/overwrite_another_fs.yml
  tests/integration/targets/filter_from_csv/tasks/main.yml
  tests/integration/targets/gem/tasks/main.yml
  tests/integration/targets/github_issue/tasks/main.yml
  tests/integration/targets/gitlab_branch/tasks/main.yml
  tests/integration/targets/gitlab_deploy_key/tasks/main.yml
  tests/integration/targets/gitlab_group_variable/tasks/main.yml
  tests/integration/targets/gitlab_hook/tasks/main.yml
  tests/integration/targets/gitlab_project/tasks/main.yml
  tests/integration/targets/gitlab_project_badge/tasks/main.yml
  tests/integration/targets/gitlab_project_variable/tasks/main.yml
  tests/integration/targets/gitlab_runner/tasks/main.yml
  tests/integration/targets/gitlab_user/tasks/main.yml
  tests/integration/targets/hwc_vpc_eip/tasks/main.yml
  tests/integration/targets/hwc_vpc_port/tasks/main.yml
  tests/integration/targets/hwc_vpc_private_ip/tasks/main.yml
  tests/integration/targets/hwc_vpc_subnet/tasks/main.yml
  tests/integration/targets/iso_create/tasks/main.yml
  tests/integration/targets/iso_customize/tasks/main.yml
  tests/integration/targets/iso_extract/tasks/7zip.yml
  tests/integration/targets/keycloak_user_rolemapping/tasks/main.yml
  tests/integration/targets/locale_gen/tasks/locale_gen.yml
  tests/integration/targets/lookup_passwordstore/tasks/package.yml
  tests/integration/targets/odbc/tasks/main.yml
  tests/integration/targets/odbc/tasks/negative_tests.yml
  tests/integration/targets/odbc/tasks/no_pyodbc.yml
  tests/integration/targets/osx_defaults/tasks/main.yml
  tests/integration/targets/pacman/tasks/package_urls.yml
  tests/integration/targets/pacman/tasks/reason.yml
  tests/integration/targets/proxmox/tasks/main.yml
  tests/integration/targets/rundeck/tasks/main.yml
  tests/integration/targets/sefcontext/tasks/sefcontext.yml
  tests/integration/targets/setup_openldap/tasks/main.yml
  tests/integration/targets/setup_openssl/tasks/main.yml
  tests/integration/targets/zypper/tasks/zypper.yml
Labels: module, tests, integration, plugins, docs, net_tools, system, remote_management, storage, web_infrastructure, backport-5, backport-6

#6114 memset*.py: Fixed URLError handling
  changelogs/fragments/6114-memset-add-url-error-handling.yml
  plugins/module_utils/memset.py
  plugins/modules/memset_dns_reload.py
  plugins/modules/memset_memstore_info.py
  plugins/modules/memset_server_info.py
  plugins/modules/memset_zone.py
  plugins/modules/memset_zone_domain.py
  plugins/modules/memset_zone_record.py
Labels: bug, module, new_contributor, module_utils, plugins, cloud, check-before-release, backport-5, backport-6

#6161 [make] Improve module doc
  plugins/modules/make.py
Labels: module, new_contributor, plugins, docs, system, check-before-release, backport-5, backport-6

#6166 Add macOS 13.2 to CI
  .azure-pipelines/azure-pipelines.yml
Labels: small_patch, backport-5, backport-6

#6175 Mark monit integration tests as unstable
  tests/integration/targets/monit/aliases
Labels: tests, integration, small_patch, backport-4, backport-5, backport-6

#6117 Removes dependency on StormSSH
  changelogs/fragments/6117-remove-stormssh-depend.yml
  plugins/module_utils/_stormssh.py
  plugins/modules/ssh_config.py
  tests/integration/targets/ssh_config/tasks/main.yml
Labels: module, tests, integration, new_contributor, module_utils, plugins, system, backport-6

#6160 [make] Provide built command in the module output
  changelogs/fragments/6160-add-command-make-output.yml
  plugins/modules/make.py
Labels: feature, module, plugins, system, check-before-release, backport-6

#6122 redhat_subscription: use D-Bus for registration if possible
  changelogs/fragments/6122-redhat_subscription-subscribe-via-dbus.yaml
  plugins/modules/redhat_subscription.py
  tests/unit/plugins/modules/test_redhat_subscription.py
Labels: feature, module, tests, unit, plugins, os, packaging, check-before-release, backport-6

#6129 Updating yarn.list to not fail when when warnings are emitted
  changelogs/fragments/6127-yarn-ignore-warnings.yml
  plugins/modules/yarn.py
Labels: bug, module, new_contributor, plugins, packaging, language, check-before-release, backport-5, backport-6

#6149 openbsd_pkg: set TERM to 'dumb' in execute_command
  changelogs/fragments/6149-openbsd_pkg-term.yml
  plugins/modules/openbsd_pkg.py
Labels: feature, module, new_contributor, plugins, os, packaging, check-before-release, backport-6

#6154 add optional use_tls parameter
  changelogs/fragments/6154-znode-optional-tls.yml
  plugins/modules/znode.py
Labels: feature, module, new_contributor, plugins, clustering, check-before-release, backport-6

#6193 Remove verkaufer as maintainer for yarn module
  .github/BOTMETA.yml
Labels: new_contributor, small_patch, check-before-release, backport-6

#6165 Adding support for `-p` option to specify port(s) to scan
  changelogs/fragments/6165-nmap-port.yml
  plugins/inventory/nmap.py
Labels: feature, stale_ci, new_contributor, inventory, plugins, backport-6

#6111 Fix influxdb_user grants in check mode
  changelogs/fragments/6111-influxdb_user-check-mode.yaml
  plugins/modules/influxdb_user.py
Labels: bug, module, stale_ci, new_contributor, database, plugins, check-before-release, backport-5, backport-6

#6180 Replace deprecated error with BadZipFile
  changelogs/fragments/6180-replace-deprecated-badzipfile.yml
  plugins/modules/archive.py
Labels: bug, module, new_contributor, plugins, files, backport-5, backport-6

#6185 ldap moduls: add optional ca_cert_file option
  changelogs/fragments/xxxx-ldap-ca-cert-file.yml
  plugins/doc_fragments/ldap.py
  plugins/module_utils/ldap.py
Labels: feature, docs_fragments, module_utils, plugins, backport-6

#6211 rhsm modules: cleanly fail when not run as root
  changelogs/fragments/6211-rhsm-require-root.yml
  plugins/modules/redhat_subscription.py
  plugins/modules/rhsm_release.py
  plugins/modules/rhsm_repository.py
  tests/unit/plugins/modules/test_redhat_subscription.py
  tests/unit/plugins/modules/test_rhsm_release.py
Labels: bug, module, tests, unit, plugins, os, packaging, check-before-release, backport-5, backport-6

#5664 redhat_subscription: require credentials only when needed
  changelogs/fragments/5664-redhat_subscription-credentials-when-needed.yaml
  plugins/modules/redhat_subscription.py
  tests/unit/plugins/modules/test_redhat_subscription.py
Labels: feature, module, tests, unit, plugins, os, packaging, check-before-release, backport-6

#5974 nmcli: add new addr_gen_mode6 options
  changelogs/fragments/5974-nmcli_add_new_addr_gen_mode6_options.yml
  plugins/modules/nmcli.py
  tests/unit/plugins/modules/test_nmcli.py
Labels: bug, module, tests, unit, plugins, net_tools, check-before-release, backport-6

#5867 apt_rpm: add clean, dist_upgrade and update_kernel
  changelogs/fragments/5867-apt_rpm-add-clean-and-upgrade.yml
  plugins/modules/apt_rpm.py
Labels: module, new_contributor, plugins, os, packaging, check-before-release, backport-6

#3935 Add Gitlab group runners support
  changelogs/fragments/3935-add-gitlab-group-runner.yml
  plugins/modules/gitlab_runner.py
  tests/unit/plugins/modules/gitlab.py
  tests/unit/plugins/modules/test_gitlab_runner.py
Labels: feature, module, tests, unit, has_issue, plugins, gitlab, source_control, backport-6

#6159 Add archive param for proxmox_kvm module
  changelogs/fragments/6158-create-proxmox-vm-from-archive.yml
  plugins/modules/proxmox_kvm.py
Labels: feature, module, new_contributor, plugins, cloud, backport-6

#6205 ssh_config: add proxyjump option
  changelogs/fragments/5970-add-proxyjump-option-to-ssh-config.yml
  plugins/modules/ssh_config.py
  tests/integration/targets/ssh_config/tasks/main.yml
  tests/integration/targets/ssh_config/tasks/options.yml
Labels: feature, module, tests, integration, new_contributor, plugins, system, backport-6

#6208 added hpe thermal config and fan percent min
  changelogs/fragments/6208-hpe-thermal-fan-percent.yaml
  plugins/module_utils/redfish_utils.py
  plugins/modules/redfish_info.py
Labels: feature, module, new_contributor, module_utils, plugins, remote_management, backport-6

#6198 pipx: Allow injected modules to add apps
  changelogs/fragments/6198-pipx-inject-install-apps.yml
  plugins/module_utils/pipx.py
  plugins/modules/pipx.py
  tests/integration/targets/pipx/tasks/main.yml
Labels: feature, module, stale_ci, tests, integration, new_contributor, module_utils, plugins, packaging, language, backport-6

#6148 nmcli: add runner_fast_rate option
  changelogs/fragments/6065-nmcli-add-runner-fast-rate-option.yml
  plugins/modules/nmcli.py
  tests/unit/plugins/modules/test_nmcli.py
Labels: feature, module, needs_revision, tests, unit, plugins, net_tools, check-before-release, backport-6

#6106 nmcli: fixed idempotency issue with 'may_fail4' when 'method' is 'disabled'
  changelogs/fragments/6106-nmcli-ipv4-mayfail-idempotency-fix.yml
  plugins/modules/nmcli.py
Labels: bug, module, plugins, net_tools, backport-5, backport-6

#6105 nmcli: fixed idempotency issue when config bridge connection
  changelogs/fragments/3216-nmcli-bridge-idempotency-fix.yml
  plugins/modules/nmcli.py
Labels: bug, module, plugins, net_tools, backport-5, backport-6

#6227 Fixed XenOrchestra inventory plugin failing due to not checking response ID.
  changelogs/fragments/6227-xen-orchestra-check-response-id.yml
  plugins/inventory/xen_orchestra.py
Labels: bug, new_contributor, inventory, plugins, backport-5, backport-6

#6200 Adding `open` option to nmap
  changelogs/fragments/6200-adding-open-option-to-nmap.yml
  plugins/inventory/nmap.py
Labels: inventory, plugins, docs, backport-6

#6182 Add module to manipulate KDE config files using kwriteconfig
  .github/BOTMETA.yml
  plugins/modules/kdeconfig.py
  tests/integration/targets/kdeconfig/aliases
  tests/integration/targets/kdeconfig/meta/main.yml
  tests/integration/targets/kdeconfig/tasks/files/kwriteconf_fake
  tests/integration/targets/kdeconfig/tasks/main.yml
Labels: module, tests, integration, new_contributor, plugins, backport-6

#6210 Add worklog functionality to jira module
  changelogs/fragments/6210-add-worklog-functionality-to-jira.yml
  plugins/modules/jira.py
  tests/integration/targets/jira/tasks/main.yml
Labels: feature, module, tests, integration, new_contributor, plugins, web_infrastructure, backport-6

#5533 Add new merge_variables lookup plugin
  .github/BOTMETA.yml
  plugins/lookup/merge_variables.py
  tests/integration/targets/lookup_merge_variables/aliases
  tests/integration/targets/lookup_merge_variables/runme.sh
  tests/integration/targets/lookup_merge_variables/test.yml
  tests/integration/targets/lookup_merge_variables/test_with_env.yml
  tests/integration/targets/lookup_merge_variables/vars.yml
  tests/unit/plugins/lookup/test_merge_variables.py
Labels: feature, lookup, tests, unit, integration, new_plugin, plugins, check-before-release, backport-6

#6250 merge_variables: Fix example section
  plugins/lookup/merge_variables.py
Labels: lookup, plugins, docs, docs_only, backport-6

#5815 ldap_entry documentation is lacking examples
  plugins/modules/ldap_attrs.py
  plugins/modules/ldap_entry.py
Labels: module, plugins, docs, net_tools, check-before-release, docs_only, backport-5, backport-6

#6212 pipx: document parameters supported with state=latest, and fix include_injected parameter
  changelogs/fragments/6212-pipx-include-injected.yml
  plugins/modules/pipx.py
Labels: bug, module, tests, integration, module_utils, plugins, packaging, language, backport-5, backport-6
