Repository ansible-collections/community.general, pull requests merged in 2023-07, with the labels that each got.

#6826 snap: fix bug when processing output
  changelogs/fragments/6826-snap-out-strip.yml
  plugins/modules/snap.py
  tests/unit/plugins/modules/test_snap.py
Labels: bug, module, tests, unit, has_issue, new_plugin, plugins, backport-6, backport-7

#6783 rhsm_repository: refactor handling of subscription-manager
  changelogs/fragments/6783-rhsm_repository-internal-refactor.yml
  plugins/modules/rhsm_repository.py
  tests/unit/plugins/modules/test_rhsm_repository.py
Labels: module, tests, unit, plugins, check-before-release, backport-7

#6757 [proxmox_template] Fix error while uploading big ISO to Proxmox VE cluster
  changelogs/fragments/6757-proxmox-template-fix-upload-error.yml
  plugins/module_utils/proxmox.py
  plugins/modules/proxmox_template.py
  tests/integration/targets/proxmox_template/aliases
  tests/integration/targets/proxmox_template/tasks/main.yml
  tests/unit/plugins/modules/test_proxmox_kvm.py
  tests/unit/plugins/modules/test_proxmox_snap.py
  tests/unit/plugins/modules/test_proxmox_tasks_info.py
  tests/unit/plugins/modules/test_proxmox_template.py
  tests/unit/requirements.txt
Labels: bug, module, tests, unit, integration, new_plugin, module_utils, traceback, plugins, check-before-release, backport-6, backport-7

#6832 Revert "proxmox_kvm: remove non-working example (#6498)"
  plugins/modules/proxmox_kvm.py
Labels: module, has_issue, plugins, docs, docs_only, backport-6, backport-7

#6840 htpasswd: minor updates in the docs
  plugins/modules/htpasswd.py
Labels: module, plugins, docs, docs_only, backport-7

#6839 proxmox module utils: better error msg when token fails with old proxmoxer
  changelogs/fragments/6839-promoxer-tokens.yml
  plugins/doc_fragments/proxmox.py
  plugins/module_utils/proxmox.py
Labels: bug, docs_fragments, module_utils, plugins, check-before-release, backport-6, backport-7

#6847 htpasswd: add integration tests
  tests/integration/targets/htpasswd/aliases
  tests/integration/targets/htpasswd/handlers/main.yml
  tests/integration/targets/htpasswd/meta/main.yml
  tests/integration/targets/htpasswd/tasks/main.yml
  tests/integration/targets/htpasswd/vars/main.yml
Labels: tests, integration, docs, backport-6, backport-7

#6836 proxmox: deprecate old compatibility feature flag
  changelogs/fragments/6836-proxmox-deprecate-compatibility.yml
  plugins/modules/proxmox.py
Labels: module, plugins, check-before-release, backport-7

#6848 npm: replace test with required_if
  changelogs/fragments/6848-npm-required-if.yml
  plugins/modules/npm.py
  tests/integration/targets/npm/tasks/test.yml
Labels: module, tests, integration, plugins, backport-7

#6841 htpasswd: deprecate crypt_scheme
  changelogs/fragments/6841-htpasswd-crypt-scheme.yml
  plugins/modules/htpasswd.py
Labels: module, plugins, docs, check-before-release, backport-7

#6854 Add example for github_key in a single task
  plugins/modules/github_key.py
Labels: module, new_contributor, plugins, docs, docs_only, backport-6, backport-7

#6827 proxmox_kvm: Add required timeout arg when force deleting
  changelogs/fragments/6827-proxmox_kvm-force-delete-bug-fix.yaml
  plugins/modules/proxmox_kvm.py
Labels: bug, module, new_contributor, plugins, backport-6, backport-7

#6820 locale_gen: refactor module to use CmdRunner
  changelogs/fragments/6820-locale-gen-cmdrunner.yml
  plugins/module_utils/locale_gen.py
  plugins/modules/locale_gen.py
Labels: module, module_utils, plugins, check-before-release, backport-7

#6769 nmcli: fix empty list to replace / remove values
  changelogs/fragments/6769-nmcli-fix-empty-list.yml
  plugins/modules/nmcli.py
  tests/unit/plugins/modules/test_nmcli.py
Labels: bug, module, tests, unit, plugins, backport-6, backport-7

#6862 opkg: add executable parameter
  changelogs/fragments/6862-opkg-exec.yml
  plugins/modules/opkg.py
Labels: feature, module, plugins, check-before-release, backport-7

#6874 Temporarily disable pipx tests
  tests/integration/targets/pipx/aliases
  tests/integration/targets/pipx_info/aliases
Labels: tests, integration, small_patch, backport-5, backport-6, backport-7

#6755 Refactor consul_session to support authentication with tokens
  .github/BOTMETA.yml
  changelogs/fragments/6755-refactor-consul-session-to-use-requests-lib-instead-of-consul.yml
  plugins/modules/consul_session.py
  tests/integration/targets/consul/tasks/consul_session.yml
  tests/integration/targets/consul/tasks/main.yml
  tests/integration/targets/consul/templates/consul_config.hcl.j2
Labels: bug, module, tests, integration, new_contributor, plugins, backport-7

#6873 proxmox: remove unused imports
  changelogs/fragments/6873-proxmox-imports.yml
  plugins/module_utils/proxmox.py
Labels: module_utils, plugins, breaking_change

#6838 proxmox: default value when checking for dict key
  changelogs/fragments/6838-proxmox-dict-template.yml
  plugins/modules/proxmox.py
Labels: bug, module, plugins, backport-6, backport-7

#6864 Add redfish processor architecture to Redfish CPU inventory
  changelogs/fragments/6864-redfish-utils-fix-for-processorarchitecture-in-cpu-inventory.yaml
  plugins/module_utils/redfish_utils.py
Labels: feature, new_contributor, module_utils, plugins, check-before-release, backport, backport-7

#6835 snap: add track 'latest' if no track is specified
  changelogs/fragments/6835-snap-missing-track.yml
  plugins/modules/snap.py
  tests/integration/targets/snap/tasks/test_channel.yml
Labels: bug, module, tests, unit, integration, plugins, backport-6, backport-7

#6389 New lookup plug-in: Bitwarden Secrets Manager
  .github/BOTMETA.yml
  plugins/lookup/bitwarden_secrets_manager.py
  tests/unit/plugins/lookup/test_bitwarden_secrets_manager.py
Labels: lookup, tests, unit, new_contributor, new_plugin, plugins, backport-7

#6811 [datadog_downtime] - added 'type' to recurrence object when rrule param is present
  changelogs/fragments/6811-datadog-downtime-rrule-type.yaml
  plugins/modules/datadog_downtime.py
Labels: bug, module, new_contributor, plugins, backport-6, backport-7

#6785 Handle pkg_info(1) error message "Can't find"
  changelogs/fragments/6785-openbsd_pkg_pkg_info_handling.yml
  plugins/modules/openbsd_pkg.py
Labels: bug, module, plugins, backport-6, backport-7

#6734 Fix Keycloak authentication management indexing
  changelogs/fragments/6734-keycloak-auth-management-indexing.yml
  plugins/modules/keycloak_authentication.py
Labels: bug, module, stale_ci, plugins, backport-7

#6713 pacman: support yay as root
  changelogs/fragments/6713-yay-become.yml
  plugins/modules/pacman.py
  tests/integration/targets/pacman/handlers/main.yml
  tests/integration/targets/pacman/tasks/main.yml
  tests/integration/targets/pacman/tasks/yay-become.yml
Labels: bug, module, stale_ci, tests, integration, plugins, backport-6, backport-7

#6852 [proxmox_vm_info] New module to retrieve virtual machines information from Proxmox VE API
  plugins/modules/proxmox.py
  plugins/modules/proxmox_kvm.py
  plugins/modules/proxmox_vm_info.py
  tests/unit/plugins/modules/test_proxmox_vm_info.py
Labels: module, tests, unit, new_plugin, module_utils, plugins, backport-7

#6824 chroot: added an example
  plugins/connection/chroot.py
Labels: connection, has_issue, plugins, docs, check-before-release, backport-6, backport-7

#6904 minor quoting fix in doc
  plugins/modules/bigpanda.py
Labels: module, small_patch, plugins, docs, docs_only

#6909 webfaction modules: deprecation
  changelogs/fragments/6909-deprecate-webfaction.yml
  meta/runtime.yml
  plugins/modules/webfaction_app.py
  plugins/modules/webfaction_db.py
  plugins/modules/webfaction_domain.py
  plugins/modules/webfaction_mailbox.py
  plugins/modules/webfaction_site.py
Labels: module, plugins, docs, check-before-release, backport-7

#6715 Add consul_policy module from dormant PR
  plugins/modules/consul_policy.py
  tests/integration/targets/consul/tasks/consul_policy.yml
  tests/integration/targets/consul/tasks/main.yml
Labels: module, tests, integration, plugins, check-before-release, backport-7

#6901 htpasswd: refactor
  changelogs/fragments/6901-htpasswd-refactor.yml
  plugins/modules/htpasswd.py
Labels: module, plugins, breaking_change

#6882 make: allow multiple targets to be specified
  changelogs/fragments/6882-make-multiple-targets.yml
  plugins/modules/make.py
Labels: feature, module, plugins, backport-7

#6871 Redfish: Added support for displaying and setting account types
  changelogs/fragments/6823-redfish-add-account-type-management.yml
  plugins/module_utils/redfish_utils.py
  plugins/modules/redfish_command.py
Labels: feature, module, module_utils, plugins, check-before-release, backport-7

#6861 feature(yum_versionlock): add support to pin specific package versions
  changelogs/fragments/6861-yum_versionlock_minor_change_add-pinning-specific-versions.yml
  plugins/modules/yum_versionlock.py
Labels: bug, feature, module, new_contributor, has_issue, plugins, check-before-release, backport-7

#6913 Remove tleguern from team_virt
  .github/BOTMETA.yml
Labels: small_patch, check-before-release, backport-6, backport-7

#6887 stackdriver: deprecate module
  changelogs/fragments/6887-deprecate-stackdrive.yml
  meta/runtime.yml
  plugins/modules/stackdriver.py
Labels: module, plugins, docs, backport-7

#6902 Added support in nmcli for ipv4.dns-options
  changelogs/fragments/6902-added-support-in-nmcli-for-ipvx-dns-options.yml
  plugins/modules/nmcli.py
  tests/unit/plugins/modules/test_nmcli.py
Labels: feature, module, tests, unit, plugins, backport-7

#6927 remove pylint exceptions
  changelogs/fragments/6927-pylint-comments.yml
  plugins/modules/copr.py
  plugins/modules/gitlab_runner.py
  plugins/modules/keyring.py
Labels: module, plugins, docs, backport-7

#6881 tss lookup plugin - Fetch secret by path
  changelogs/fragments/get-secret-by-path.yml
  plugins/lookup/tss.py
Labels: lookup, plugins, backport-7

#6930 flowdock module: deprecation
  changelogs/fragments/6930-deprecate-flowdock.yml
  meta/runtime.yml
  plugins/modules/flowdock.py
Labels: module, plugins, docs, needs_maintainer, backport-7

#6937 CI: remove no longer needed ignore
  tests/sanity/ignore-2.16.txt
Labels: tests, small_patch, backport-6, backport-7

#6925 cobbler: Properly determine cobbler_ip_address
  changelogs/fragments/6925-cobbler-inventory-bugfix.yml
  plugins/inventory/cobbler.py
Labels: bug, inventory, plugins, check-before-release, backport-6, backport-7

#6935 machinectl become plugin: mark as require_tty
  changelogs/fragments/6935-machinectl-become.yml
  plugins/become/machinectl.py
Labels: bug, become, plugins, check-before-release, backport-6, backport-7

#6928 remove noqa exceptions
  changelogs/fragments/6928-noqa-comments.yml
  plugins/modules/gitlab_project_variable.py
  plugins/modules/pubnub_blocks.py
  plugins/modules/scaleway_security_group_rule.py
  plugins/modules/xenserver_guest_info.py
  plugins/modules/xenserver_guest_powerstate.py
Labels: module, plugins, docs, backport-7

#6908 snap: add param "dangerous"
  changelogs/fragments/6908-snap-dangerous.yml
  plugins/module_utils/snap.py
  plugins/modules/snap.py
  tests/integration/targets/snap/meta/main.yml
  tests/integration/targets/snap/tasks/main.yml
  tests/integration/targets/snap/tasks/test_dangerous.yml
  tests/unit/plugins/modules/test_snap.py
Labels: module, tests, unit, integration, module_utils, plugins, docs, backport-7

#6903 locale_gen: refactor
  changelogs/fragments/6903-locale-gen-refactor.yml
  plugins/modules/locale_gen.py
Labels: module, plugins, backport-7

#6837 rhsm_repository: refactor parsing of "subscription-manager repos" output
  changelogs/fragments/6783-6837-rhsm_repository-internal-refactor.yml
  changelogs/fragments/6783-rhsm_repository-internal-refactor.yml
  plugins/modules/rhsm_repository.py
Labels: module, stale_ci, plugins, backport-7

#6883 Fix for get_volume_inventory
  changelogs/fragments/6883-redfish-utils-changing-variable-names-in-get-volume-inventory.yml
  plugins/module_utils/redfish_utils.py
Labels: bug, module_utils, plugins, check-before-release, backport-6, backport-7

#6906 Fix key error for reverse zone (#6905)
  changelogs/fragments/6905-ipa_dnszone-key-error-fix.yml
  plugins/modules/ipa_dnszone.py
Labels: bug, module, new_contributor, plugins, check-before-release, backport-6, backport-7

#6923 cobbler inventory plugin: Convert unicode to str
  changelogs/fragments/6923-cobbler-inventory_unicode.yml
  plugins/inventory/cobbler.py
Labels: bug, new_contributor, inventory, plugins, backport-6, backport-7

#6954 CI: Stop restricting idna
  tests/utils/constraints.txt
Labels: tests, unit, small_patch, backport-6, backport-7

#6955 📝 Add missing commas to documentation
  plugins/lookup/onepassword.py
Labels: lookup, new_contributor, plugins, docs, docs_only, backport-5, backport-6, backport-7

#6321 Add keycloak_authz_permission module
  .github/BOTMETA.yml
  plugins/module_utils/identity/keycloak/keycloak.py
  plugins/modules/keycloak_authz_permission.py
  plugins/modules/keycloak_authz_permission_info.py
  tests/integration/targets/keycloak_authz_permission/aliases
  tests/integration/targets/keycloak_authz_permission/readme.adoc
  tests/integration/targets/keycloak_authz_permission/tasks/main.yml
  tests/integration/targets/keycloak_authz_permission/vars/main.yml
Labels: module, tests, integration, module_utils, plugins, identity, check-before-release, backport-7

#6956 Removal of myself as maintainer
  .github/BOTMETA.yml
Labels: bug, small_patch, check-before-release, backport-6, backport-7

#6964 keycloak_authz_permission*: adjust to semantic markup
  plugins/modules/keycloak_authz_permission.py
  plugins/modules/keycloak_authz_permission_info.py
Labels: module, plugins, docs, backport-7

#6968 cmd_runner module utils: fix bug when argument spec has implicit type
  changelogs/fragments/6968-cmdrunner-implicit-type.yml
  plugins/module_utils/cmd_runner.py
  tests/integration/targets/cmd_runner/library/cmd_echo.py
  tests/integration/targets/cmd_runner/vars/main.yml
Labels: bug, tests, integration, module_utils, plugins, backport-6, backport-7

#6980 [proxmox] Use proxmoxer_version instead of server API version
  changelogs/fragments/6980-proxmox-fix-token-auth.yml
  plugins/module_utils/proxmox.py
Labels: bug, module_utils, plugins, backport-6, backport-7

#6985 CI: move FreeBSD 12.4 from ansible-core devel to stable-2.15
  .azure-pipelines/azure-pipelines.yml
Labels: needs_revision, small_patch, backport-6, backport-7

#6984 [PR #6980/796ad356 backport][stable-6] [proxmox] Use proxmoxer_version instead of server API version
  changelogs/fragments/6980-proxmox-fix-token-auth.yml
  plugins/module_utils/proxmox.py
  tests/unit/plugins/modules/test_proxmox_snap.py
  tests/unit/plugins/modules/test_proxmox_tasks_info.py
  tests/unit/requirements.txt
Labels: bug, tests, unit, module_utils, plugins, backport

#6981 [proxmox_kvm] Don't create VM if name is used without vmid
  changelogs/fragments/6981-proxmox-fix-vm-creation-when-only-name-provided.yml
  plugins/modules/proxmox_kvm.py
  tests/unit/plugins/modules/test_proxmox_kvm.py
Labels: bug, module, tests, unit, plugins, check-before-release, backport-6, backport-7

#6976 [proxmox_vm_info] Re-use cluster resources API to use module without requiring node param
  changelogs/fragments/6976-proxmox-vm-info-not-require-node.yml
  plugins/modules/proxmox_vm_info.py
  tests/unit/plugins/modules/test_proxmox_vm_info.py
Labels: feature, module, tests, unit, has_issue, plugins, backport-7

#6914 proxmox_kvm: enable 'force' restart of vm (as documented)
  changelogs/fragments/6914-proxmox_kvm-enable-force-restart.yml
  plugins/modules/proxmox_kvm.py
Labels: bug, module, plugins, backport-7

#6995 Skip java_cert and java_keystore tests on RHEL
  tests/integration/targets/java_cert/aliases
  tests/integration/targets/java_keystore/aliases
Labels: tests, integration, has_issue, small_patch, backport-5, backport-6, backport-7

#6994 crypt is still deprecated in Python 3.12
  tests/sanity/ignore-2.16.txt
Labels: tests, small_patch, backport-6, backport-7

#7003 [PR #6981/f9448574 backport][stable-6] [proxmox_kvm] Don't create VM if name is used without vmid
  changelogs/fragments/6981-proxmox-fix-vm-creation-when-only-name-provided.yml
  plugins/modules/proxmox_kvm.py
Labels: bug, module, plugins, backport

#6991 Add example for ECS Fargate/EFS Jenkins authentication
  plugins/modules/jenkins_plugin.py
Labels: module, new_contributor, plugins, docs, docs_only, backport-6, backport-7

#7022 setup_docker: handlers to stop service and remove requests
  tests/integration/targets/setup_docker/handlers/main.yml
  tests/integration/targets/setup_docker/tasks/main.yml
Labels: tests, integration, backport-6, backport-7

#7020 redfish_utils: Add support for "nextLink" property tag pagination
  changelogs/fragments/7020-redfish-utils-pagination.yml
  plugins/module_utils/redfish_utils.py
Labels: feature, module_utils, plugins, check-before-release, backport-7

#7028 ejabberd_user: better error when command not installed
  changelogs/fragments/6949-ejabberdctl-error.yml
  plugins/modules/ejabberd_user.py
Labels: bug, module, plugins, backport-6, backport-7

#7027 Add tarka to ignore list.
  .github/BOTMETA.yml
Labels: new_contributor, small_patch, docs, check-before-release, backport-6, backport-7

#6983 Rundeck - fix TypeError on 404 api response
  changelogs/fragments/6983-rundeck-fix-typerrror-on-404-api-response.yml
  plugins/module_utils/rundeck.py
Labels: bug, new_contributor, module_utils, traceback, plugins, backport-6, backport-7

#7042 [stable-7] Revert new features to be able to do 7.2.1 release
  changelogs/fragments/6914-proxmox_kvm-enable-force-restart.yml
  changelogs/fragments/6976-proxmox-vm-info-not-require-node.yml
  changelogs/fragments/7020-redfish-utils-pagination.yml
  plugins/module_utils/redfish_utils.py
  plugins/modules/proxmox_kvm.py
  plugins/modules/proxmox_vm_info.py
  tests/unit/plugins/modules/test_proxmox_vm_info.py
Labels: bug, module, tests, unit, module_utils, plugins, backport
