Repository ansible-collections/community.general, pull requests merged in 2023-12, with the labels that each got.

#7540 Allow update of proxmox container configuration
  changelogs/fragments/7540-proxmox-update config.yml
  plugins/modules/proxmox.py
Labels: bug, module, plugins, backport-8

#7602 fix #7600 add hookscript parameter to proxmox_kvm
  changelogs/fragments/7600-proxmox_kvm-hookscript.yml
  plugins/modules/proxmox_kvm.py
Labels: feature, module, new_contributor, plugins, backport-8

#7630 Fix and re-enable cmd_runner tests
  tests/integration/targets/cmd_runner/action_plugins/_unsafe_assert.py
  tests/integration/targets/cmd_runner/aliases
  tests/integration/targets/cmd_runner/tasks/test_cmd_echo.yml
Labels: tests, integration, backport-6, backport-7, backport-8

#7656 passwordstore tests: re-enable gopass on Debian-like systems
  tests/integration/targets/lookup_passwordstore/tasks/main.yml
Labels: tests, integration, small_patch, backport-6, backport-7, backport-8

#7564 onepassword lookup - Make section and field case insensitive
  changelogs/fragments/7564-onepassword-lookup-case-insensitive.yaml
  plugins/lookup/onepassword.py
  tests/unit/plugins/lookup/onepassword_common.py
  tests/unit/plugins/lookup/onepassword_fixtures/v2_out_01.json
Labels: bug, lookup, tests, unit, has_issue, plugins, check-before-release, backport-7, backport-8

#7641 Fix Keycloak API client to quote '/' properly
  changelogs/fragments/7641-fix-keycloak-api-client-to-quote-properly.yml
  plugins/module_utils/identity/keycloak/keycloak.py
Labels: bug, new_contributor, module_utils, plugins, identity, backport-7, backport-8

#7539 New module: gitlab_issue.py
  .github/BOTMETA.yml
  plugins/modules/gitlab_issue.py
  tests/integration/targets/gitlab_issue/aliases
  tests/integration/targets/gitlab_issue/defaults/main.yml
  tests/integration/targets/gitlab_issue/files/description.md
  tests/integration/targets/gitlab_issue/tasks/main.yml
Labels: module, stale_ci, tests, integration, plugins, backport-8

#7626 add BootProgress property to redfish_info
  changelogs/fragments/7626-redfish-info-add-boot-progress-property.yml
  plugins/module_utils/redfish_utils.py
Labels: feature, new_contributor, module_utils, plugins, check-before-release, backport-8

#7577 apt_rpm: add check if package version is upgradable (ansible-collections#7414)
  changelogs/fragments/7577-fix-apt_rpm-module.yml
  plugins/modules/apt_rpm.py
Labels: bug, module, new_contributor, plugins, backport-8

#7521 Lxd instance not found fix false positives
  changelogs/fragments/lxd-instance-not-found-avoid-false-positives.yml
  plugins/connection/lxd.py
Labels: bug, connection, new_contributor, plugins, backport-7, backport-8

#7601 lvol: check return message in both stderr and stdout
  changelogs/fragments/7601-lvol-fix.yml
  plugins/modules/lvol.py
Labels: bug, module, plugins, backport-7, backport-8

#7645 Keycloak print error msg from server
  changelogs/fragments/7645-Keycloak-print-error-msg-from-server.yml
  plugins/module_utils/identity/keycloak/keycloak.py
Labels: feature, merge_commit, needs_rebase, module_utils, plugins, identity, backport-8

#7523 Feat nomad token module
  .github/BOTMETA.yml
  plugins/modules/nomad_token.py
  tests/unit/plugins/modules/test_nomad_token.py
  tests/unit/requirements.txt
Labels: module, merge_commit, needs_rebase, new_plugin, plugins, check-before-release, backport-8

#7653 Change tab to space in SSHFP requests
  changelogs/fragments/7653-fix-cloudflare-lookup.yml
  plugins/modules/cloudflare_dns.py
Labels: bug, module, new_contributor, plugins, backport-7, backport-8

#7676 lvol: Change ``pvs`` argument type to list (of str)
  changelogs/fragments/7676-lvol-pvs-as-list.yml
  plugins/modules/lvol.py
  tests/integration/targets/lvol/aliases
  tests/integration/targets/lvol/meta/main.yml
  tests/integration/targets/lvol/tasks/main.yml
  tests/integration/targets/lvol/tasks/setup.yml
  tests/integration/targets/lvol/tasks/teardown.yml
  tests/integration/targets/lvol/tasks/test_pvs.yml
Labels: bug, module, tests, integration, plugins, backport-8

#7699 Deactivate FreeBSD 13.1 in CI
  .azure-pipelines/azure-pipelines.yml
Labels: small_patch, backport-6, backport-7, backport-8

#7705 Fix integration tests on Arch
  tests/integration/targets/ejabberd_user/tasks/main.yml
  tests/integration/targets/setup_postgresql_db/tasks/main.yml
Labels: tests, integration, backport-6, backport-7, backport-8

#7714 Add Alicloud, Online, Packet, and Scaleway scenario guides
  .github/BOTMETA.yml
  docs/docsite/extra-docs.yml
  docs/docsite/rst/guide_alicloud.rst
  docs/docsite/rst/guide_online.rst
  docs/docsite/rst/guide_packet.rst
  docs/docsite/rst/guide_scaleway.rst
  tests/sanity/extra/botmeta.py
Labels: tests, docs, shipit, backport-8

#7703 ssh_config: Add add_keys_to_agent option
  changelogs/fragments/7703-ssh_config_add_keys_to_agent_option.yml
  plugins/modules/ssh_config.py
  tests/integration/targets/ssh_config/tasks/options.yml
Labels: feature, module, tests, integration, new_contributor, plugins, backport-8

#7704 Add ssh_config module option for identities_only
  changelogs/fragments/7704-ssh_config_identities_only_option.yml
  plugins/modules/ssh_config.py
  tests/integration/targets/ssh_config/tasks/options.yml
Labels: feature, module, tests, integration, new_contributor, plugins, backport-8

#7578 irc: deprecate default 'false' for validate_certs and use_tls
  changelogs/fragments/7578-irc-tls.yml
  plugins/modules/irc.py
Labels: feature, module, plugins

#7685 Updated documentation to reflect new behaviour
  plugins/modules/proxmox.py
Labels: bug, module, stale_ci, new_contributor, has_issue, plugins, docs_only, backport-7, backport-8

#7738 Add documentation stubs for undocumented module options
  plugins/modules/consul.py
  plugins/modules/manageiq_provider.py
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.12.txt
  tests/sanity/ignore-2.13.txt
  tests/sanity/ignore-2.14.txt
  tests/sanity/ignore-2.15.txt
  tests/sanity/ignore-2.16.txt
  tests/sanity/ignore-2.17.txt
Labels: module, tests, plugins, docs, backport-7, backport-8

#7731 using timeout parameter within community.general.mail module
  plugins/modules/mail.py
Labels: module, new_contributor, plugins, docs, docs_only, backport-7, backport-8

#7696 keycloak_user: avoid error when trying to delete a non-existing user
  changelogs/fragments/7696-avoid-attempt-to-delete-non-existing-user.yml
  plugins/modules/keycloak_user.py
Labels: bug, module, stale_ci, new_contributor, plugins, backport-7, backport-8

#7721 🔐 Load `OP_SERVICE_ACCOUNT_TOKEN` from ENVs
  plugins/doc_fragments/onepassword.py
Labels: feature, lookup, docs_fragments, plugins, backport-8

#7727 Improve docs of bitwarden lookup
  plugins/lookup/bitwarden.py
Labels: lookup, has_issue, plugins, docs, check-before-release, backport-7, backport-8

#7754 Fixed payload format
  changelogs/fragments/7754-fixed-payload-format.yml
  plugins/modules/statusio_maintenance.py
Labels: bug, module, new_contributor, plugins, backport-7, backport-8

#7740 mail module: add Message-ID header
  changelogs/fragments/7740-add-message-id-header-to-mail-module.yml
  plugins/modules/mail.py
Labels: module, needs_revision, new_contributor, plugins, check-before-release, backport-8

#7698 improvements to the keycloak_realm_key module
  changelogs/fragments/7698-improvements-to-keycloak_realm_key.yml
  plugins/modules/keycloak_realm_key.py
Labels: feature, module, new_contributor, plugins, check-before-release, backport-8

#7743 Adding a new filter: from_ini, which allows conversion of INI content to a dictionary
  .github/BOTMETA.yml
  plugins/filter/from_ini.py
  tests/integration/targets/filter_from_ini/tasks/main.yml
  tests/integration/targets/filter_from_ini/vars/main.yml
Labels: tests, integration, new_contributor, plugins, backport-8

#7726 Introduce an Incus connection plugin
  .github/BOTMETA.yml
  plugins/connection/incus.py
  tests/integration/targets/connection_incus/aliases
  tests/integration/targets/connection_incus/runme.sh
  tests/integration/targets/connection_incus/test_connection.inventory
Labels: connection, tests, integration, new_contributor, plugins, backport-8

#7737 ipa_dnsmodule: Add support for ns record management
  .github/BOTMETA.yml
  changelogs/fragments/7737-add-ipa-dnsrecord-ns-type.yml
  plugins/modules/ipa_dnsrecord.py
Labels: feature, module, new_contributor, plugins, backport-8

#7744 Adding a new filter: to_ini, which allows conversion of a dictionary to an INI formatted string
  .github/BOTMETA.yml
  plugins/filter/to_ini.py
  tests/integration/targets/filter_to_ini/tasks/main.yml
  tests/integration/targets/filter_to_ini/vars/main.yml
Labels: tests, integration, new_contributor, plugins, backport-8

#7776 CI: python-memcached 1.60 needs Python 3.6+
  tests/unit/requirements.txt
Labels: tests, unit, small_patch, backport-6, backport-7, backport-8

#7773 cloudflare_dns: announce removal of SPF support
  plugins/modules/cloudflare_dns.py
Labels: module, has_issue, small_patch, plugins, docs, docs_only, backport-6, backport-7, backport-8

#7783 [stable-7] cloudflare_dns: announce removal of SPF support (#7773)
  plugins/modules/cloudflare_dns.py
Labels: module, small_patch, plugins, docs, docs_only, backport

#7767 Update BOTMETA.yml - Remove fxfitz as maintainer of IPA
  .github/BOTMETA.yml
Labels: needs_revision, new_contributor, small_patch, docs, check-before-release, backport-7, backport-8

#7663 Add keycloak_realm_rolemapping module to map realm roles to groups
  .github/BOTMETA.yml
  plugins/module_utils/identity/keycloak/keycloak.py
  plugins/modules/keycloak_realm_rolemapping.py
  tests/integration/targets/keycloak_group_rolemapping/README.md
  tests/integration/targets/keycloak_group_rolemapping/aliases
  tests/integration/targets/keycloak_group_rolemapping/tasks/main.yml
  tests/integration/targets/keycloak_group_rolemapping/vars/main.yml
Labels: module, tests, integration, new_contributor, module_utils, plugins, identity, backport-8

#7746 Implemented raw_post without actions
  changelogs/fragments/7746-raw_post-without-actions.yml
  plugins/modules/xcc_redfish_command.py
Labels: module, new_contributor, plugins, backport-8

#7694 Keycloak components info
  .github/BOTMETA.yml
  plugins/modules/keycloak_component_info.py
  tests/integration/targets/keycloak_component_info/README.md
  tests/integration/targets/keycloak_component_info/aliases
  tests/integration/targets/keycloak_component_info/tasks/main.yml
  tests/integration/targets/keycloak_component_info/vars/main.yml
Labels: module, tests, integration, plugins, backport-8

#7788 [stable-7] Update BOTMETA.yml - Remove fxfitz as maintainer of IPA (#7767)
  .github/BOTMETA.yml
Labels: small_patch, docs, backport

#7689 Add proxmox_node_info module
  .github/BOTMETA.yml
  plugins/modules/proxmox_node_info.py
  tests/integration/targets/proxmox/tasks/main.yml
Labels: feature, module, tests, integration, new_contributor, plugins, backport-8

#7745 Add dnf_config_manager module
  .github/BOTMETA.yml
  plugins/modules/dnf_config_manager.py
  tests/unit/plugins/modules/test_dnf_config_manager.py
Labels: module, tests, unit, new_contributor, new_plugin, plugins, backport-8

#7797 Remove FreeBSD 12.4 from CI
  .azure-pipelines/azure-pipelines.yml
Labels: small_patch, backport-6, backport-7, backport-8

#7761 Add github_app_access_token lookup plugin
  .github/BOTMETA.yml
  plugins/lookup/github_app_access_token.py
  tests/unit/plugins/lookup/test_github_app_access_token.py
Labels: lookup, tests, unit, new_contributor, new_plugin, plugins, backport-8

#7725 Proxmox add storage content listing
  .github/BOTMETA.yml
  plugins/module_utils/proxmox.py
  plugins/modules/proxmox_storage_contents_info.py
  tests/integration/targets/proxmox/tasks/main.yml
  tests/unit/plugins/modules/test_proxmox_storage_contents_info.py
Labels: module, tests, unit, integration, new_plugin, module_utils, plugins, backport-8

#7723 ipa: ipa_pwpolicy update pwpolicy module
  changelogs/fragments/7723-ipa-pwpolicy-update-pwpolicy-module.yml
  plugins/modules/ipa_pwpolicy.py
  tests/unit/plugins/modules/test_ipa_pwpolicy.py
Labels: feature, module, tests, unit, new_contributor, plugins, backport-8

#7789 Allow custom providerId in keycloak_user_federation
  changelogs/fragments/7789-keycloak-user-federation-custom-provider-type.yml
  plugins/modules/keycloak_user_federation.py
Labels: module, new_contributor, plugins, backport-8
