Repository ansible-collections/community.general, pull requests merged in 2023-01, with the labels that each got.

#5733 rax modules: deprecation notice for branch stable-6
  changelogs/fragments/5733-rax-deprecation-notice.yml
  plugins/modules/rax_cbs.py
  plugins/modules/rax_cbs_attachments.py
  plugins/modules/rax_cdb.py
  plugins/modules/rax_cdb_database.py
  plugins/modules/rax_cdb_user.py
  plugins/modules/rax_clb.py
  plugins/modules/rax_clb_nodes.py
  plugins/modules/rax_clb_ssl.py
  plugins/modules/rax_dns.py
  plugins/modules/rax_dns_record.py
  plugins/modules/rax_facts.py
  plugins/modules/rax_files.py
  plugins/modules/rax_files_objects.py
  plugins/modules/rax_identity.py
  plugins/modules/rax_keypair.py
  plugins/modules/rax_meta.py
  plugins/modules/rax_mon_alarm.py
  plugins/modules/rax_mon_check.py
  plugins/modules/rax_mon_entity.py
  plugins/modules/rax_mon_notification_plan.py
Labels: module, has_issue, plugins, cloud, docs, backport

#5755 ModuleHelper - fix bug when adjusting conflicting output
  changelogs/fragments/5755-mh-fix-output-conflict.yml
  plugins/module_utils/mh/module_helper.py
  tests/integration/targets/module_helper/library/msimple.py
  tests/integration/targets/module_helper/tasks/main.yml
  tests/integration/targets/module_helper/tasks/msimple_output_conflict.yml
Labels: bug, tests, integration, module_utils, plugins, backport-4, backport-5, backport-6

#5761 Fix callback plugin types
  changelogs/fragments/5761-callback-types.yml
  plugins/callback/loganalytics.py
  plugins/callback/logdna.py
  plugins/callback/logstash.py
  plugins/callback/splunk.py
  plugins/callback/sumologic.py
  plugins/callback/syslog_json.py
Labels: bug, callback, plugins, backport-4, backport-5, backport-6

#5725 redhat_subscription: Add support for Red Hat API token
  changelogs/fragments/5725-redhat_subscription-add-red-hat-api-token.yml
  plugins/modules/redhat_subscription.py
  tests/unit/plugins/modules/test_redhat_subscription.py
Labels: feature, module, callback, tests, unit, new_contributor, plugins, cloud, os, packaging, web_infrastructure, check-before-release, backport-6

#5767 consul: minor fixes in docs
  plugins/modules/consul.py
Labels: module, plugins, docs, clustering, check-before-release, docs_only, backport-5, backport-6

#5773 snap: use MH execute() static method
  changelogs/fragments/5773-snap-mh-execute.yml
  plugins/modules/snap.py
Labels: feature, module, plugins, os, packaging, backport-6

#5765 ModuleHelper - lax handling of conflicting output
  changelogs/fragments/5765-mh-lax-output-conflict.yml
  plugins/module_utils/mh/deco.py
  plugins/module_utils/mh/module_helper.py
  tests/integration/targets/module_helper/library/msimple.py
  tests/integration/targets/module_helper/tasks/msimple_output_conflict.yml
Labels: feature, tests, integration, module_utils, plugins, check-before-release, backport-6

#5735 terraform: bugfix: init command when default workspace doesn't exists
  changelogs/fragments/5735-terraform-init-fix-when-default-workspace-doesnt-exists.yaml
  plugins/modules/terraform.py
Labels: bug, module, new_contributor, plugins, cloud, backport-5, backport-6

#5694 Add Support to Bitwarden Lookup for Custom Fields
  changelogs/fragments/5694-add-custom-fields-to-bitwarden.yml
  plugins/lookup/bitwarden.py
Labels: feature, lookup, new_contributor, plugins, backport-6

#5751 Fix gem.py, hang on uninstall specific gem version
  changelogs/fragments/5751-gem-fix-uninstall-hang.yml
  plugins/modules/gem.py
Labels: bug, module, new_contributor, plugins, packaging, language, check-before-release, backport-5, backport-6

#5760 Improve callback docs
  plugins/callback/cgroup_memory_recap.py
  plugins/callback/context_demo.py
  plugins/callback/counter_enabled.py
  plugins/callback/dense.py
  plugins/callback/jabber.py
  plugins/callback/log_plays.py
  plugins/callback/logdna.py
  plugins/callback/logentries.py
  plugins/callback/logstash.py
  plugins/callback/null.py
  plugins/callback/say.py
  plugins/callback/selective.py
  plugins/callback/slack.py
  plugins/callback/splunk.py
  plugins/callback/sumologic.py
  plugins/callback/syslog_json.py
  plugins/callback/yaml.py
Labels: callback, plugins, docs, docs_only, backport-5, backport-6

#5785 Fix CI
  tests/utils/constraints.txt
Labels: tests, unit, backport-4, backport-5, backport-6

#5786 Remove currently unneeded generic tests from CI
  .azure-pipelines/azure-pipelines.yml
  tests/integration/targets/one_host/aliases
  tests/integration/targets/one_template/aliases
Labels: needs_revision, tests, integration, backport-5, backport-6

#5794 alternatives: make work with Fedora 37
  changelogs/fragments/5794-alternatives-fedora37.yml
  plugins/modules/alternatives.py
Labels: bug, module, plugins, system, check-before-release, backport-5, backport-6

#5486 snap_alias: using CmdRunner
  changelogs/fragments/5486-snap-alias-cmd-runner.yml
  plugins/modules/snap_alias.py
Labels: feature, module, tests, integration, plugins, os, packaging, backport-6

#5718 opkg: refactor module to use StateModuleHelper and CmdRunner
  changelogs/fragments/5718-opkg-refactor.yaml
  plugins/modules/opkg.py
  tests/unit/plugins/modules/test_opkg.py
Labels: bug, feature, module, tests, unit, new_plugin, plugins, os, packaging, check-before-release, backport-6

#5810 opkg: extend docu about compatibilty with OpenWrt vs. Yocto based Linux distribitions
  plugins/modules/opkg.py
Labels: module, plugins, docs, os, packaging, docs_only, backport-6

#5766 multiple scaleway modules: fixed markups in doc
  plugins/modules/scaleway_compute_private_network.py
  plugins/modules/scaleway_database_backup.py
  plugins/modules/scaleway_image_info.py
  plugins/modules/scaleway_ip.py
  plugins/modules/scaleway_lb.py
  plugins/modules/scaleway_organization_info.py
  plugins/modules/scaleway_private_network.py
  plugins/modules/scaleway_security_group.py
  plugins/modules/scaleway_security_group_rule.py
  plugins/modules/scaleway_sshkey.py
  plugins/modules/scaleway_user_data.py
  plugins/modules/scaleway_volume.py
Labels: module, plugins, cloud, docs, backport-5, backport-6

#5706 Fixes #5691. Support gitlab forking_access_level, builds_access_level and container_registry_access_level fields
  changelogs/fragments/5706-add-builds-forks-container-registry.yml
  plugins/modules/gitlab_project.py
Labels: feature, module, stale_ci, new_contributor, plugins, gitlab, source_control, backport-6

#5772 consul: deprecate params incompatible with state=absent
  changelogs/fragments/5772-consul-deprecate-params-when-absent.yml
  plugins/modules/consul.py
Labels: bug, module, plugins, clustering, check-before-release, backport-6

#5833 ldap.py: capitalize one letter
  plugins/doc_fragments/ldap.py
Labels: docs_fragments, small_patch, plugins, docs, backport-4, backport-5, backport-6

#5808 xml children module parameter does not exist
  changelogs/fragments/5808-xml-children-parameter-does-not-exist.yml
  plugins/modules/xml.py
  tests/integration/targets/xml/results/test-set-children-elements-empty-list.xml
  tests/integration/targets/xml/results/test-set-children-elements-empty-list.xml.license
  tests/integration/targets/xml/tasks/test-set-children-elements.yml
Labels: bug, module, tests, integration, new_contributor, plugins, files, check-before-release, backport-5, backport-6

#5837 Add PLATFORM docs fragment
  plugins/doc_fragments/attributes.py
Labels: docs_fragments, plugins, docs, backport-4, backport-5, backport-6

#5793 apache2_module generates false/misleading warning
  changelogs/fragments/5793-apache2-module-npm-warnings.yml
  plugins/modules/apache2_module.py
  tests/integration/targets/apache2_module/tasks/635-apache2-misleading-warning.yml
  tests/integration/targets/apache2_module/tasks/actualtest.yml
  tests/integration/targets/apache2_module/tasks/main.yml
Labels: feature, module, tests, integration, new_contributor, plugins, web_infrastructure, backport-6

#5752 rax modules: deprecation
  changelogs/fragments/5752-rax-deprecation.yml
  meta/runtime.yml
  plugins/doc_fragments/rackspace.py
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.12.txt
  tests/sanity/ignore-2.13.txt
  tests/sanity/ignore-2.14.txt
  tests/sanity/ignore-2.15.txt
Labels: bug, tests, has_issue, docs_fragments, plugins

#5843 Add -no-color argument to terraform validation
  changelogs/fragments/5843-terraform-validate-no-color.yml
  plugins/modules/terraform.py
Labels: bug, module, new_contributor, has_issue, plugins, cloud, backport-5, backport-6

#5818 nsupdate: fix zone lookup
  changelogs/fragments/5818-nsupdate-fix-zone-lookup.yml
  plugins/modules/nsupdate.py
Labels: bug, module, new_contributor, plugins, net_tools, backport-5, backport-6

#5622 Add extended PR template
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/documentation_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/pull_request_template.md
  .github/pull_request_template.md.license
  CONTRIBUTING.md
Labels: docs

#5804 Minor changes to HPE iLO collection
  changelogs/fragments/5804-minor-changes-to-hpe-ilo-collection.yml
  plugins/module_utils/ilo_redfish_utils.py
  plugins/modules/ilo_redfish_config.py
Labels: module, module_utils, plugins, remote_management, backport-6

#5844 iptables_state: minor pythonisms
  changelogs/fragments/5844-iptables-state-refactor.yml
  plugins/modules/iptables_state.py
Labels: feature, module, plugins, system, backport-6

#5845 pipx: add testcase w/ env vars PIPX_xxxx
  plugins/modules/pipx.py
  plugins/modules/pipx_info.py
  tests/integration/targets/pipx/tasks/main.yml
Labels: module, tests, integration, has_issue, plugins, docs, packaging, language, check-before-release, backport-5, backport-6

#5499 scaleway module utils: make function private that should be removed
  plugins/module_utils/scaleway.py
Labels: bug, module_utils, WIP, plugins, cloud, backport-6

#5754 Remote management modules for OCAPI-based devices.
  .github/BOTMETA.yml
  plugins/module_utils/ocapi_utils.py
  plugins/modules/ocapi_command.py
  plugins/modules/ocapi_info.py
  tests/unit/plugins/module_utils/test_ocapi_utils.py
  tests/unit/plugins/modules/test_ocapi_command.py
  tests/unit/plugins/modules/test_ocapi_info.py
Labels: module, tests, unit, new_plugin, module_utils, plugins, check-before-release, backport-6

#5868 stormssh tests: do not install newer cryptography
  tests/integration/targets/ssh_config/tasks/main.yml
Labels: tests, integration, WIP, small_patch, backport-4, backport-5, backport-6

#5732 Bugfix/keycloak userfed idempotency
  changelogs/fragments/5732-bugfix-keycloak-userfed-idempotency.yml
  plugins/modules/keycloak_user_federation.py
  tests/integration/targets/keycloak_user_federation/tasks/main.yml
Labels: bug, module, stale_ci, tests, integration, plugins, identity, check-before-release, backport-5, backport-6

#5750 bugfixing keycloak user federation failing when updating default mapper simultaneously
  changelogs/fragments/5750-bugfixing-keycloak-usrfed-fail-when-update-default-mapper-simultaneously.yml
  plugins/modules/keycloak_user_federation.py
  tests/integration/targets/keycloak_user_federation/tasks/main.yml
Labels: bug, module, stale_ci, tests, integration, plugins, identity, backport-5, backport-6

#5811 Clarify Error message when bitwarden vault not unlocked
  changelogs/fragments/5811-clarify-bitwarden-error.yml
  plugins/lookup/bitwarden.py
  tests/unit/plugins/lookup/test_bitwarden.py
Labels: stale_ci, lookup, tests, unit, new_contributor, plugins, docs, backport-5, backport-6

#5803 Bugfix: proxmox_disk - read time out on import
  changelogs/fragments/5803-proxmox-read-timeout.yml
  plugins/modules/proxmox_disk.py
Labels: bug, module, stale_ci, plugins, cloud, backport-6

#5822 Gem: Support force flag when uninstalling
  changelogs/fragments/5822-gem-uninstall-force.yml
  plugins/modules/gem.py
Labels: bug, module, new_contributor, plugins, packaging, language, backport-6

#5888 Update gitlab_deploy_key.py
  changelogs/fragments/5888-update-key-title.yml
  plugins/modules/gitlab_deploy_key.py
Labels: bug, module, new_contributor, plugins, gitlab, source_control, backport-5, backport-6

#5851 Add support to Bitwarden Lookup for filtering results by collection (#5849)
  changelogs/fragments/5851-lookup-bitwarden-add-filter-by-collection-id-parameter.yml
  plugins/lookup/bitwarden.py
  tests/unit/plugins/lookup/test_bitwarden.py
Labels: lookup, tests, unit, new_contributor, plugins, check-before-release, backport-6

#5812 OpenNebula/one_vm implement the one.vm.updateconf API call
  changelogs/fragments/5812-implement-updateconf-api-call.yml
  plugins/module_utils/opennebula.py
  plugins/modules/one_vm.py
  tests/unit/plugins/module_utils/test_opennebula.py
  tests/unit/plugins/modules/test_one_vm.py
Labels: feature, module, stale_ci, tests, unit, new_contributor, new_plugin, module_utils, plugins, cloud, backport-6

#5897 add external user support to ipa_group module
  changelogs/fragments/5897-ipa_group-add-external-users.yml
  plugins/modules/ipa_group.py
Labels: feature, module, new_contributor, plugins, identity, backport-6

#5914 dig lookup: fix DNSKEY's algorithm handling
  changelogs/fragments/5914-dig-dnskey.yml
  plugins/lookup/dig.py
Labels: bug, lookup, plugins, shipit, backport-5, backport-6

#5913 dig lookup: support CAA record type
  changelogs/fragments/5913-dig-caa.yml
  plugins/lookup/dig.py
Labels: feature, lookup, plugins, shipit, backport-6

#5918 Fix PLATFORM attributes docs fragment
  plugins/doc_fragments/attributes.py
Labels: bug, docs_fragments, small_patch, plugins, backport-6

#5883 Add support for setenv parameters
  changelogs/fragments/5883-sudoers-add-support-for-setenv-parameter.yml
  plugins/modules/sudoers.py
  tests/integration/targets/sudoers/tasks/main.yml
Labels: feature, module, tests, integration, new_contributor, plugins, system, check-before-release, backport-6

#5908 Fixes #5907: gitlab_runner is not idempotent on first run after runner creation
  changelogs/fragments/5907-fix-gitlab_runner-not-idempotent.yml
  plugins/modules/gitlab_runner.py
Labels: bug, module, plugins, gitlab, source_control, check-before-release, backport-6

#5903 Redfish: Removed basic auth header when performing a GET on the service root and POST to the session collection
  changelogs/fragments/5886-redfish-correct-basic-auth-usage-on-session-creation.yml
  plugins/module_utils/redfish_utils.py
Labels: bug, module_utils, plugins, check-before-release, backport-5, backport-6
