Repository ansible-collections/community.general, pull requests merged in 2023-05, with the labels that each got.

#6472 CI: Fix matrix entries
  .azure-pipelines/azure-pipelines.yml
Labels: small_patch, backport-5, backport-6

#6465 MH mh/mixins/deps.py: deprecation
  changelogs/fragments/6465-mh-deps-deprecation.yml
  plugins/module_utils/mh/mixins/deps.py
Labels: module_utils, plugins, check-before-release

#6464 ModuleHelper: updated/fixed imports in module_utils/module_helper.py
  changelogs/fragments/6464-mh-imports.yml
  plugins/module_utils/mh/module_helper.py
  plugins/module_utils/module_helper.py
Labels: feature, module_utils, plugins

#6440 dnsimple_info: minor refactor
  changelogs/fragments/6440-dnsimple-info-refactor.yml
  plugins/modules/dnsimple_info.py
Labels: module, plugins

#6456 modules/portage: fix usage with withbdeps: false
  changelogs/fragments/6456-fix-portage-withbdeps-false.yml
  plugins/modules/portage.py
Labels: bug, module, new_contributor, plugins, backport-6

#6458 puppet: fix noop parameter error
  changelogs/fragments/6458-puppet-noop.yml
  plugins/module_utils/puppet.py
  tests/unit/plugins/modules/test_puppet.py
Labels: bug, tests, unit, module_utils, plugins, check-before-release, backport-6

#6270 gconftool2: fix change output
  changelogs/fragments/6270-gconftool2-changed.yml
  plugins/modules/gconftool2.py
  tests/unit/plugins/modules/test_gconftool2.py
Labels: bug, module, tests, unit, plugins, system, breaking_change

#6482 CI: Arch Linux now uses Python 3.11
  .azure-pipelines/azure-pipelines.yml
Labels: needs_revision, small_patch, backport-4, backport-5, backport-6

#6475 ldap_search: make sure output is always UTF-8 (by allowing to Base64 encode specific values, and force-converting everything else)
  changelogs/fragments/6473-ldap_search.yml
  plugins/modules/ldap_search.py
Labels: bug, module, has_issue, plugins, breaking_change

#6387 Fixes #5143: xfs_quota fails to initialize new project quotas
  changelogs/fragments/5143-fix-xfs-quota-project-init.yml
  plugins/modules/xfs_quota.py
  tests/integration/targets/xfs_quota/tasks/pquota.yml
Labels: bug, module, tests, integration, plugins, check-before-release, backport-6

#6448 modules/proxmox_kvm: initial support for online migrations
  changelogs/fragments/6448-proxmox-kvm-migration-support.yml
  plugins/modules/proxmox_kvm.py
Labels: feature, module, new_contributor, plugins

#6468 snap: now using CmdRunner
  changelogs/fragments/6468-snap-cmdrunner.yml
  plugins/module_utils/snap.py
  plugins/modules/snap.py
Labels: module, module_utils, plugins, check-before-release

#6497 terraform: fix warn() call
  changelogs/fragments/6497-terraform-fix.yml
  plugins/modules/terraform.py
Labels: bug, module, plugins, backport-6

#6498 proxmox_kvm: remove non-working example
  plugins/modules/proxmox_kvm.py
Labels: module, has_issue, plugins, docs, backport-5, backport-6

#6457 mssql_script: allow non-returning SQL statements
  changelogs/fragments/6192-allow-empty-resultsets.yml
  plugins/modules/mssql_script.py
  tests/integration/targets/mssql_script/tasks/main.yml
Labels: module, tests, integration, new_contributor, plugins

#6384 gitlab modules: minor refactor
  changelogs/fragments/6384-gitlab-refactor.yml
  plugins/module_utils/gitlab.py
  plugins/modules/gitlab_group_variable.py
  plugins/modules/gitlab_project_variable.py
Labels: module, stale_ci, module_utils, plugins, gitlab

#6491 dconf - Try to find a Python interpreter that has gi.repository.GLib
  changelogs/fragments/6491-dconf-respawn.yml
  plugins/modules/dconf.py
Labels: bug, module, plugins, check-before-release, backport-6

#6108 nmcli: added new module option 'slave_type' to allow create non-ethernet slave connections
  changelogs/fragments/473-nmcli-slave-type-implemented.yml
  plugins/modules/nmcli.py
  tests/unit/plugins/modules/test_nmcli.py
Labels: feature, module, tests, unit, has_issue, plugins, net_tools

#6503 fix typo in `terraform` docs
  plugins/modules/terraform.py
Labels: module, new_contributor, small_patch, plugins, docs, docs_only, backport-4, backport-5, backport-6

#6478 CI: Add FreeBSD 13.2
  .azure-pipelines/azure-pipelines.yml
  tests/integration/targets/iso_extract/aliases
  tests/integration/targets/pkgng/tasks/freebsd.yml
Labels: tests, integration, has_issue, backport-5, backport-6

#6477 Add ipbase_info module
  .github/BOTMETA.yml
  plugins/modules/ipbase_info.py
  tests/unit/plugins/modules/test_ipbase.py
Labels: module, tests, unit, new_contributor, new_plugin, plugins, check-before-release

#6171 Shutdown systemd without sysv
  changelogs/fragments/6171-shutdown-using-systemd.yml
  plugins/action/shutdown.py
  plugins/modules/shutdown.py
  tests/integration/targets/shutdown/aliases
  tests/integration/targets/shutdown/tasks/main.yml
Labels: bug, module, tests, integration, plugins, system, action, check-before-release

#6535 CI: include has finally been removed in ansible-core devel
  tests/integration/targets/apache2_module/tasks/main.yml
  tests/integration/targets/influxdb_user/tasks/main.yml
  tests/integration/targets/locale_gen/tasks/main.yml
  tests/integration/targets/mqtt/tasks/main.yml
  tests/integration/targets/pacman/tasks/main.yml
  tests/integration/targets/pkgng/tasks/freebsd.yml
  tests/integration/targets/sefcontext/tasks/main.yml
  tests/integration/targets/sensu_handler/tasks/main.yml
  tests/integration/targets/setup_influxdb/tasks/main.yml
  tests/integration/targets/setup_mosquitto/tasks/main.yml
  tests/integration/targets/setup_pkg_mgr/tasks/main.yml
  tests/integration/targets/ssh_config/tasks/main.yml
  tests/integration/targets/sysrc/tasks/main.yml
  tests/integration/targets/xattr/tasks/main.yml
  tests/integration/targets/yarn/tasks/main.yml
  tests/integration/targets/zypper/tasks/main.yml
  tests/integration/targets/zypper_repository/tasks/main.yml
  tests/integration/targets/zypper_repository/tasks/test.yml
Labels: tests, integration, backport-5, backport-6, backport-7

#6539 Enable using semantic markup
  changelogs/fragments/6539-semantic-markup.yml
  tests/sanity/extra/extra-docs.py
Labels: tests, docs, check-before-release, backport-7

#6538 Fix code formatting in documentation of dconf.py
  plugins/modules/dconf.py
Labels: module, new_contributor, plugins, docs, check-before-release, docs_only, backport-5, backport-6, backport-7

#6549 Switch to Ansible Galaxy compatible requirements files for tests
  tests/integration/requirements.yml
  tests/unit/requirements.yml
Labels: tests, unit, integration, backport-5, backport-6, backport-7

#6550 [stable-5] CI: include has finally been removed in ansible-core devel
  tests/integration/targets/apache2_module/tasks/main.yml
  tests/integration/targets/influxdb_user/tasks/main.yml
  tests/integration/targets/locale_gen/tasks/main.yml
  tests/integration/targets/mqtt/tasks/main.yml
  tests/integration/targets/pacman/tasks/main.yml
  tests/integration/targets/pkgng/tasks/freebsd.yml
  tests/integration/targets/sefcontext/tasks/main.yml
  tests/integration/targets/sensu_handler/tasks/main.yml
  tests/integration/targets/setup_influxdb/tasks/main.yml
  tests/integration/targets/setup_mosquitto/tasks/main.yml
  tests/integration/targets/setup_pkg_mgr/tasks/main.yml
  tests/integration/targets/ssh_config/tasks/main.yml
  tests/integration/targets/sysrc/tasks/main.yml
  tests/integration/targets/xattr/tasks/main.yml
  tests/integration/targets/yarn/tasks/main.yml
  tests/integration/targets/zypper/tasks/main.yml
  tests/integration/targets/zypper_repository/tasks/main.yml
  tests/integration/targets/zypper_repository/tasks/test.yml
Labels: tests, integration, backport

#6553 [stable-5] Switch to Ansible Galaxy compatible requirements files for tests
  tests/integration/requirements.yml
  tests/unit/requirements.yml
Labels: tests, unit, integration, backport

#6527 nmcli: Fix bond option xmit_hash_policy
  changelogs/fragments/6527-nmcli-bond-fix-xmit_hash_policy.yml
  plugins/modules/nmcli.py
  tests/unit/plugins/modules/test_nmcli.py
Labels: bug, module, tests, unit, plugins, check-before-release, backport-6, backport-7

#6548 portage: fix changed_use and newuse not triggering rebuilds (#6008)
  changelogs/fragments/6548-portage-changed_use-newuse.yml
  plugins/modules/portage.py
Labels: bug, module, plugins, check-before-release, backport-6, backport-7

#6534 added handling of zypper exitcode 102: ZYPPER_EXIT_INF_REBOOT_NEEDED
  changelogs/fragments/6534-zypper-exitcode-102-handled.yaml
  plugins/modules/zypper.py
Labels: bug, module, plugins, check-before-release, backport-6, backport-7

#6554 Don't require api_password when api_token_id is used in proxmox_tasks_info
  changelogs/fragments/6554-proxmox-tasks-info-fix-required-password.yaml
  plugins/modules/proxmox_tasks_info.py
Labels: bug, module, new_contributor, plugins, check-before-release, backport-6, backport-7

#6578 CI: restrict to python-nomad < 2.0.0 for Python < 3.7
  tests/utils/constraints.txt
Labels: tests, unit, small_patch, backport-5, backport-6, backport-7

#6568 Fix get_user_by_username in keycloak library
  changelogs/fragments/6568-fix-get-user-by-username-in-keycloak-module-utils.yml
  plugins/module_utils/identity/keycloak/keycloak.py
Labels: bug, new_contributor, module_utils, plugins, identity, check-before-release, backport-6, backport-7

#6584 Move ansible-core 2.12 to EOL CI
  .azure-pipelines/azure-pipelines.yml
  .github/workflows/ansible-test.yml
Labels: backport-5, backport-6, backport-7

#6523 datadog_monitor: Added notification preset name and renotify options
  changelogs/fragments/6523-datadog-monitor-notification-preset-name-and-renotify.yaml
  plugins/modules/datadog_monitor.py
Labels: feature, module, new_contributor, has_issue, plugins, check-before-release, needs_maintainer, backport-7

#6512 cpanm: deprecate default mode
  changelogs/fragments/6512-cpanm-default-mode.yml
  plugins/modules/cpanm.py
Labels: module, stale_ci, plugins, check-before-release, backport-7

#6513 opkg: remove useless default value for force
  changelogs/fragments/6513-opkg-default-force.yml
  plugins/modules/opkg.py
Labels: bug, module, stale_ci, plugins, backport-7

#6522 respawn copr module when dnf is missing
  changelogs/fragments/6522-copr-respawn.yaml
  plugins/modules/copr.py
  tests/integration/targets/copr/tasks/main.yml
Labels: feature, module, stale_ci, tests, integration, plugins, backport-7

#6520 mas: disable sign-in check for macOS 12+
  changelogs/fragments/6520-mas-disable-signin.yaml
  plugins/modules/mas.py
Labels: feature, module, stale_ci, new_contributor, plugins, backport-7

#6502 plugins/inventory/cobbler: Add option to use system name for inventory
  changelogs/fragments/6502-cobbler-inventory_hostname.yml
  plugins/inventory/cobbler.py
Labels: feature, stale_ci, inventory, plugins, backport-7

#6511 VarDict module utils
  .github/BOTMETA.yml
  plugins/module_utils/vardict.py
  tests/unit/plugins/module_utils/test_vardict.py
Labels: stale_ci, tests, unit, new_plugin, module_utils, plugins, backport-7

#6525 sorcery: moved import to top
  changelogs/fragments/6525-sorcery-import.yaml
  plugins/modules/sorcery.py
Labels: module, needs_revision, stale_ci, plugins, check-before-release, stale_review, backport-7

#6544 Improve/fix dconf documentation using semantic markup
  plugins/modules/dconf.py
Labels: module, has_issue, plugins, docs, docs_only, backport-7

#6524 gitlab modules: added instance variable
  .github/BOTMETA.yml
  plugins/modules/gitlab_instance_variable.py
  tests/integration/targets/gitlab_instance_variable/aliases
  tests/integration/targets/gitlab_instance_variable/tasks/main.yml
Labels: module, tests, integration, new_contributor, plugins, backport-7

#6546 ini_file: Don't creates new file instead of following symlink
  changelogs/fragments/ini_file-preserve-symlink.yml
  plugins/modules/ini_file.py
  tests/integration/targets/ini_file/tasks/tests/04-symlink.yml
Labels: bug, module, tests, integration, plugins, backport-7

#6570 proxmox_kvm | Expose timeout param to stopped state
  changelogs/fragments/6570-handle-shutdown-timeout.yaml
  plugins/modules/proxmox_kvm.py
Labels: feature, module, plugins, backport-7

#6533 proxmox_kvm: support for tpmstate0 parameter
  changelogs/fragments/6533-proxmox_kvm-tpmstate0-support.yaml
  plugins/modules/proxmox_kvm.py
Labels: feature, module, new_contributor, plugins, check-before-release, backport-7

#6603 Update BOTMETA.yml
  .github/BOTMETA.yml
Labels: small_patch, docs, backport-5, backport-6, backport-7

#6601 CmdRunner module utils: deprecate format method `as_default_type()`
  changelogs/fragments/6601-cmdrunner-deprecate-default-type.yml
  plugins/module_utils/cmd_runner.py
Labels: module_utils, plugins, docs, check-before-release, backport-7

#6602 VarDict module utils: add `as_dict()` method
  changelogs/fragments/6602-vardict-as-dict.yml
  plugins/module_utils/vardict.py
  tests/unit/plugins/module_utils/test_vardict.py
Labels: feature, tests, unit, module_utils, plugins, check-before-release, backport-7

#6510 proxmox: support param `timezone` when creating container
  changelogs/fragments/6510-proxmox-create-support_timezone.yaml
  plugins/modules/proxmox.py
Labels: feature, module, plugins, backport-7
