Repository ansible-collections/community.general, pull requests merged in 2023-04, with the labels that each got.

#6259 redhat_subscription: manually unregister only when registered
  changelogs/fragments/6259-redhat_subscription-fix-force.yaml
  plugins/modules/redhat_subscription.py
Labels: bug, module, has_issue, plugins, os, packaging, check-before-release, backport-6

#6261 Update maintainership of rhsm modules
  .github/BOTMETA.yml
Labels: check-before-release, backport-5, backport-6

#6275 redhat_subscription: fix D-Bus option for environments on CentOS
  changelogs/fragments/6275-redhat_subscription-fix-environments-centos.yaml
  plugins/modules/redhat_subscription.py
Labels: bug, module, plugins, os, packaging, check-before-release, backport-6

#6278 Add support to topics on Gitlab Project module
  changelogs/fragments/6277-add-topics-gitlab-project.yml
  plugins/modules/gitlab_project.py
Labels: feature, module, new_contributor, plugins, gitlab, source_control, check-before-release, backport-6

#6284 Update CI matrix: add stable-2.15
  .azure-pipelines/azure-pipelines.yml
  tests/sanity/ignore-2.16.txt
  tests/sanity/ignore-2.16.txt.license
Labels: tests, backport-5, backport-6

#6269 mksysb: improve visibility on the output
  changelogs/fragments/6269-mksysb-output.yml
  plugins/modules/mksysb.py
Labels: bug, feature, module, has_issue, plugins, system, backport-5, backport-6

#6304 pids tests: 'some-' is not that a unique pattern.
  tests/integration/targets/pids/tasks/main.yml
  tests/integration/targets/pids/templates/obtainpid.sh
Labels: tests, integration, backport-4, backport-5, backport-6

#6307 xfs_quota: fix integration tests for Alpine Linux
  tests/integration/targets/xfs_quota/aliases
  tests/integration/targets/xfs_quota/handlers/main.yml
  tests/integration/targets/xfs_quota/tasks/gquota.yml
  tests/integration/targets/xfs_quota/tasks/main.yml
  tests/integration/targets/xfs_quota/tasks/pquota.yml
  tests/integration/targets/xfs_quota/tasks/uquota.yml
Labels: tests, integration, backport-5, backport-6

#6308 pipx: Add support for system_site_packages
  changelogs/fragments/6308-pipx-add-system-site-packages.yml
  plugins/module_utils/pipx.py
  plugins/modules/pipx.py
  tests/integration/targets/pipx/tasks/main.yml
Labels: feature, module, tests, integration, module_utils, plugins, packaging, language, check-before-release, backport-6

#6313 pkgng: skip jail tests also on FreeBSD 12.3
  tests/integration/targets/pkgng/tasks/freebsd.yml
Labels: tests, integration, backport-4, backport-5, backport-6

#6274 archive: Generate crc32 over 16MiB chunks
  changelogs/fragments/6199-archive-generate-checksum-in-chunks.yml
  plugins/modules/archive.py
Labels: bug, module, new_contributor, plugins, files, backport-5, backport-6

#6293 Add skip_tags option to Puppet module
  changelogs/fragments/6293-add-puppet-skip-tags-option.yaml
  plugins/module_utils/puppet.py
  plugins/modules/puppet.py
  tests/unit/plugins/modules/test_puppet.py
Labels: feature, module, tests, unit, new_contributor, module_utils, plugins, system, backport-6

#6267 homebrew: respect greedy flag for cask upgrade_all
  changelogs/fragments/6267-homebrew-cask-upgrade-all-greedy.yml
  plugins/modules/homebrew_cask.py
Labels: bug, module, new_contributor, plugins, os, packaging, backport-6

#6320 Remove nibalizer from puppet module
  .github/BOTMETA.yml
Labels: bug, new_contributor, small_patch, check-before-release, backport-5, backport-6

#6206 dconf: three minor but useful fixes
  changelogs/fragments/6206-dconf-booleans.yml
  plugins/modules/dconf.py
Labels: bug, module, stale_ci, has_issue, plugins, system, check-before-release, backport-6

#6296 terraform: remote state file exists check issue
  changelogs/fragments/6296-LanceNero-Terraform_statefile_check.yml
  plugins/modules/terraform.py
Labels: bug, feature, module, new_contributor, plugins, cloud, backport-6

#6319 redhat_subscription: use CLI when using environments
  changelogs/fragments/6319-redhat_subscription-fix-environment-parameter.yaml
  plugins/modules/redhat_subscription.py
Labels: bug, module, plugins, os, packaging, check-before-release, needs_maintainer, backport-6

#6316 fix small typo
  plugins/modules/modprobe.py
Labels: module, new_contributor, small_patch, plugins, docs, system, docs_only, backport-5, backport-6

#6115 Adding CheckiLORebootStatus functionality to ilo_redfish_command
  .github/BOTMETA.yml
  plugins/module_utils/ilo_redfish_utils.py
  plugins/modules/ilo_redfish_command.py
  tests/integration/targets/ilo_redfish_command/aliases
  tests/integration/targets/ilo_redfish_command/tasks/main.yml
Labels: module, tests, integration, module_utils, plugins, check-before-release, backport-6

#5488 snap: add tests for multiple commands
  tests/integration/targets/snap/tasks/main.yml
Labels: bug, tests, integration, check-before-release, backport-6

#6312 nmcli: Add macvlan connection type support
  changelogs/fragments/6312-nmcli-add-macvlan-connection-type.yml
  plugins/modules/nmcli.py
  tests/unit/plugins/modules/test_nmcli.py
Labels: feature, module, tests, unit, new_contributor, plugins, net_tools, check-before-release, backport-6

#6294 one_vm: fix syntax error when creating VMs with a more complex template
  changelogs/fragments/6294-fix-one_vm-instantiation.yml
  plugins/module_utils/opennebula.py
  tests/unit/plugins/module_utils/test_opennebula.py
Labels: bug, tests, unit, module_utils, plugins, backport-5, backport-6

#6300 Rundeck modules fixes and improvements
  changelogs/fragments/6300-rundeck-modules-fixes-and-improvements.yml
  plugins/module_utils/rundeck.py
  plugins/modules/rundeck_acl_policy.py
  plugins/modules/rundeck_project.py
Labels: bug, module, docs_fragments, module_utils, plugins, web_infrastructure, backport-6

#6334 dig: Support multiple domains in a single lookup
  changelogs/fragments/6334-dig-support-multiple-domains.yml
  plugins/lookup/dig.py
Labels: bug, lookup, new_contributor, plugins, check-before-release, backport-6

#6344 Remove docs build workflow.
  .github/workflows/docs-pr.yml
Labels: docs, check-before-release

#6337 parted: add integration test
  tests/integration/targets/parted/aliases
  tests/integration/targets/parted/handlers/main.yml
  tests/integration/targets/parted/tasks/main.yml
Labels: tests, integration, check-before-release, backport-5, backport-6

#6345 Do extra docs validation; explicitly disallow semantic markup in docs
  tests/sanity/extra/extra-docs.json
  tests/sanity/extra/extra-docs.py
Labels: tests, plugins, docs, backport-5, backport-6

#6336 dconf: minor refactor
  changelogs/fragments/6336-dconf-refactor.yml
  plugins/modules/dconf.py
Labels: module, plugins, system, backport-6

#6354 BOTMETA.yml: remove possibly not supported label
  .github/BOTMETA.yml
Labels: bug, small_patch

#6357 BOTMETA.yml: put the label redhat_subscription back
  .github/BOTMETA.yml
Labels: bug, small_patch

#6358 BOTMETA.yml: put the label redhat_subscription back
  .github/BOTMETA.yml
Labels: bug, small_patch

#6360 snap & snap_alias: enable integration tests on Fedora
  tests/integration/targets/snap/aliases
  tests/integration/targets/snap_alias/aliases
Labels: tests, integration, small_patch, backport-6

#6366 redhat_subscription: document the security of the registration
  plugins/modules/redhat_subscription.py
Labels: module, plugins, docs, check-before-release, docs_only, backport-6, redhat_subscription

#6367 Redfish iDRAC: Added job_id to response for CreateBiosConfigJob
  changelogs/fragments/5603-redfish-idrac-job-id-in-response.yml
  plugins/modules/idrac_redfish_command.py
Labels: feature, module, plugins, remote_management, backport-6

#6289 Remove --app by flatpak check if already installed (ansible-collectio…
  changelogs/fragments/6289-bugfix-flatpak-check-if-already-installed.yml
  plugins/modules/flatpak.py
Labels: bug, module, stale_ci, new_contributor, plugins, os, packaging, backport-5, backport-6

#6338 parted: improve docs
  plugins/modules/parted.py
Labels: module, plugins, docs, system, check-before-release, docs_only, backport-5, backport-6

#6286 icinga2_host: make use of templates and template vars
  changelogs/fragments/6286-icinga2_host-template-and-template-vars.yml
  plugins/modules/icinga2_host.py
Labels: bug, module, stale_ci, new_contributor, plugins, monitoring, backport-5, backport-6

#5832 New modules btrfs_subvolume / btrfs_info
  .github/BOTMETA.yml
  plugins/module_utils/btrfs.py
  plugins/modules/btrfs_info.py
  plugins/modules/btrfs_subvolume.py
  tests/integration/targets/btrfs_subvolume/aliases
  tests/integration/targets/btrfs_subvolume/defaults/main.yml
  tests/integration/targets/btrfs_subvolume/tasks/main.yml
  tests/integration/targets/btrfs_subvolume/tasks/run_common_tests.yml
  tests/integration/targets/btrfs_subvolume/tasks/run_filesystem_tests.yml
  tests/integration/targets/btrfs_subvolume/tasks/setup.yml
  tests/integration/targets/btrfs_subvolume/tasks/test_filesystem_matching.yml
  tests/integration/targets/btrfs_subvolume/tasks/test_snapshot_clobber.yml
  tests/integration/targets/btrfs_subvolume/tasks/test_snapshot_error.yml
  tests/integration/targets/btrfs_subvolume/tasks/test_snapshot_skip.yml
  tests/integration/targets/btrfs_subvolume/tasks/test_subvolume_default.yml
  tests/integration/targets/btrfs_subvolume/tasks/test_subvolume_nested.yml
  tests/integration/targets/btrfs_subvolume/tasks/test_subvolume_recursive.yml
  tests/integration/targets/btrfs_subvolume/tasks/test_subvolume_simple.yml
  tests/integration/targets/btrfs_subvolume/tasks/test_subvolume_whitespace.yml
Labels: module, tests, integration, new_contributor, has_issue, new_plugin, module_utils, plugins, check-before-release, backport-6

#6303 pipx: fix state=latest w/ install_deps=true
  changelogs/fragments/6303-pipx-fix-state-latest-and-add-system-site-packages.yml
  plugins/modules/pipx.py
  plugins/modules/pipx_info.py
  tests/integration/targets/pipx/tasks/main.yml
Labels: bug, module, stale_ci, tests, integration, module_utils, plugins, packaging, language, backport-5, backport-6

#6361 snap_alias: fix regex expression when listing aliases
  changelogs/fragments/6361-snap-alias-regex-bugfix.yml
  plugins/modules/snap_alias.py
  tests/integration/targets/snap_alias/aliases
Labels: bug, module, tests, integration, plugins, os, packaging, check-before-release, backport-5, backport-6

#6370 Redfish iDRAC: Allow for specifying an exact manager with 'resource_id' for CreateBiosConfigJob
  changelogs/fragments/2090-idrac-redfish-resource-id-fix.yml
  plugins/modules/idrac_redfish_command.py
Labels: bug, module, plugins, remote_management, backport-5, backport-6

#6381 iptables_state: add comment sanity ignore files
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.12.txt
  tests/sanity/ignore-2.13.txt
  tests/sanity/ignore-2.14.txt
  tests/sanity/ignore-2.15.txt
  tests/sanity/ignore-2.16.txt
Labels: tests, docs, backport-5, backport-6

#6203 Add append option to ipa_hostgroup module
  changelogs/fragments/6203-add-append-option-to-ipa-hostgroup.yml
  plugins/modules/ipa_hostgroup.py
Labels: bug, module, new_contributor, plugins, identity, check-before-release, backport-6

#6322 Add a module to set the keycloak client scope type
  .github/BOTMETA.yml
  plugins/module_utils/identity/keycloak/keycloak.py
  plugins/modules/keycloak_clientscope_type.py
  tests/integration/targets/keycloak_clientscope_type/README.md
  tests/integration/targets/keycloak_clientscope_type/docker-compose.yml
  tests/integration/targets/keycloak_clientscope_type/tasks/main.yml
  tests/integration/targets/keycloak_clientscope_type/vars/main.yml
Labels: module, tests, integration, new_contributor, module_utils, plugins, identity, check-before-release, backport-6

#6318 keycloak: Add option to create authentication sub-flow of type 'form flow'
  changelogs/fragments/6318-add-form-flow.yml
  plugins/module_utils/identity/keycloak/keycloak.py
  plugins/modules/keycloak_authentication.py
Labels: feature, module, module_utils, plugins, identity, check-before-release, backport-6

#6352 Add support env variables for nmap inventory plugin
  changelogs/fragments/6351-support-env-variables-to-nmap-dynamic-inventoiry.yaml
  plugins/inventory/nmap.py
Labels: feature, new_contributor, inventory, plugins, check-before-release, backport-6

#6385 cpanm: apply MH feature
  changelogs/fragments/6385-cpan-mh-feat.yml
  plugins/modules/cpanm.py
Labels: module, plugins, backport-6

#6382 udm_dns_record: minor refactor
  changelogs/fragments/6382-udm-dns-record-refactor.yml
  plugins/modules/udm_dns_record.py
Labels: module, plugins, backport-6

#6383 deps module utils: add function failed() to retrieve dependencies check result
  changelogs/fragments/6383-deps-failed.yml
  plugins/module_utils/deps.py
Labels: feature, needs_revision, module_utils, plugins, check-before-release, backport-6

#6256 Add keycloak_authz_authorization scope module
  .github/BOTMETA.yml
  plugins/module_utils/identity/keycloak/keycloak.py
  plugins/modules/keycloak_authz_authorization_scope.py
  tests/integration/targets/keycloak_authz_authorization_scope/aliases
  tests/integration/targets/keycloak_authz_authorization_scope/readme.adoc
  tests/integration/targets/keycloak_authz_authorization_scope/tasks/main.yml
  tests/integration/targets/keycloak_authz_authorization_scope/vars/main.yml
Labels: module, tests, integration, new_contributor, module_utils, plugins, identity, backport-6

#6403 iso_customize: fix integration test
  tests/integration/targets/iso_create/tasks/main.yml
  tests/integration/targets/iso_customize/tasks/iso_customize_exception.yml
Labels: tests, integration, backport-5, backport-6

#6405 [stable-4] pkgng: skip jail tests also on FreeBSD 12.3
  tests/integration/targets/pkgng/tasks/freebsd.yml
Labels: tests, integration, small_patch, backport

#6390 office_365_connector_card: Remove references to dev.outlook.com
  plugins/modules/office_365_connector_card.py
Labels: module, new_contributor, plugins, docs, check-before-release, docs_only, backport-5, backport-6

#6401 rhsm_release: removing required=true for 'release' option
  changelogs/fragments/6401-rhsm_release-required.yml
  plugins/modules/rhsm_release.py
Labels: bug, module, plugins, backport-5, backport-6

#6404 ini_file: removing required=true for 'section' option
  changelogs/fragments/6404-ini_file-section.yml
  plugins/modules/ini_file.py
Labels: bug, module, plugins, backport-5, backport-6

#6412 Fix kdeconfig tests
  tests/integration/targets/kdeconfig/tasks/main.yml
Labels: tests, integration, small_patch, backport-6

#6413 xfs_quota: uninstalling packages breaks tests on Alpine
  tests/integration/targets/xfs_quota/handlers/main.yml
  tests/integration/targets/xfs_quota/tasks/main.yml
Labels: tests, integration, backport-5, backport-6

#6414 Restrict jail tests for sysrc to certain FreeBSD versions
  tests/integration/targets/sysrc/tasks/main.yml
Labels: tests, integration, backport-4, backport-5, backport-6

#6415 zypper_repository: disable failing repository
  tests/integration/targets/zypper_repository/tasks/zypper_repository.yml
Labels: needs_revision, tests, integration, backport-4, backport-5, backport-6

#6427 [stable-4] Unit tests: restrict requirements to avoid bad PyOpenSSL + cryptography version collision for ansible-core 2.11
  tests/unit/requirements.txt
Labels: needs_revision, tests, unit, small_patch, backport

#6428 Prepare main for 7.0.0
  changelogs/fragments/6428-removals.yml
  galaxy.yml
  plugins/module_utils/cmd_runner.py
  plugins/modules/gitlab_runner.py
  plugins/modules/newrelic_deployment.py
  plugins/modules/nmcli.py
  plugins/modules/proxmox.py
  plugins/modules/puppet.py
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.12.txt
  tests/sanity/ignore-2.13.txt
  tests/sanity/ignore-2.14.txt
  tests/sanity/ignore-2.15.txt
  tests/sanity/ignore-2.16.txt
  tests/unit/plugins/module_utils/test_cmd_runner.py
  tests/unit/plugins/modules/test_nmcli.py
Labels: feature, module, tests, unit, module_utils, plugins, breaking_change, needs_maintainer

#6441 snap_alias: refactor code out to module utils
  changelogs/fragments/6441-snap_alias-refactor.yml
  plugins/module_utils/snap.py
  plugins/modules/snap_alias.py
Labels: module, module_utils, plugins

#6439 dnsimple_info: remove extraneous importorskip from test
  tests/unit/plugins/modules/test_dnsimple_info.py
Labels: tests, unit, small_patch, check-before-release, backport-4, backport-5, backport-6

#6447 passwordstore plugin: vendor FileLock that was removed from ansible-core devel
  changelogs/fragments/passwordstore-lock.yml
  plugins/lookup/passwordstore.py
  plugins/module_utils/_filelock.py
Labels: bug, lookup, module_utils, plugins, backport-5, backport-6

#6442 awall: improve docs
  plugins/modules/awall.py
Labels: module, plugins, docs, check-before-release, docs_only, backport-5, backport-6

#6459 Make sure that plugins/module_utils/deps.py is cleaned up before every test
  tests/unit/plugins/modules/conftest.py
Labels: tests, unit, backport-4, backport-5, backport-6
