Repository ansible-collections/community.general, pull requests merged in 2023-06, with the labels that each got.

#6604 New Proxmox VE modules to handle pools and their membership
  .github/BOTMETA.yml
  plugins/module_utils/proxmox.py
  plugins/modules/proxmox_pool.py
  plugins/modules/proxmox_pool_member.py
  tests/integration/targets/proxmox_pool/aliases
  tests/integration/targets/proxmox_pool/defaults/main.yml
  tests/integration/targets/proxmox_pool/tasks/main.yml
Labels: module, tests, integration, has_issue, module_utils, plugins, check-before-release, backport-7

#6613 Minor bitwarden plugin req. docs addition
  plugins/lookup/bitwarden.py
Labels: lookup, new_contributor, small_patch, plugins, docs, docs_only, backport-6, backport-7

#6620 Fixed typo in record_values documentation
  plugins/modules/ipa_dnsrecord.py
Labels: module, new_contributor, small_patch, plugins, docs, docs_only, backport-6, backport-7

#6531 opentelemetry: add span event attributes
  changelogs/fragments/6531-opentelemetry-add-event-attributes.yml
  plugins/callback/opentelemetry.py
Labels: feature, callback, has_issue, plugins, backport-7

#6629 CI: ansible-core devel drops support for Python 3.5
  .azure-pipelines/azure-pipelines.yml
Labels: small_patch, backport-5, backport-6, backport-7

#6476 Inspq keycloak user module
  .github/BOTMETA.yml
  plugins/module_utils/identity/keycloak/keycloak.py
  plugins/modules/keycloak_user.py
  tests/integration/targets/keycloak_user/README.md
  tests/integration/targets/keycloak_user/aliases
  tests/integration/targets/keycloak_user/tasks/main.yml
  tests/integration/targets/keycloak_user/vars/main.yml
  tests/unit/plugins/modules/test_keycloak_user.py
Labels: module, needs_revision, tests, unit, integration, needs_rebase, new_plugin, needs_ci, docs_fragments, module_utils, plugins, identity, check-before-release, backport-7

#6644 MH mh/mixins/deps.py: prevent deprecation warning when no deps are specified
  changelogs/fragments/6644-dependencymixin-fix.yml
  plugins/module_utils/mh/mixins/deps.py
  tests/integration/targets/kernel_blacklist/tasks/main.yml
Labels: bug, tests, integration, module_utils, plugins, check-before-release, backport-7

#6577 proxmox_snap: allow set retention for snapshots
  changelogs/fragments/6576-proxmox-snap-allow-to-remove-old-snapshots.yml
  plugins/modules/proxmox_snap.py
Labels: feature, module, new_contributor, plugins, check-before-release, backport-7

#6646 redhat_subscription: officially deprecate "autosubscribe"
  changelogs/fragments/6646-redhat_subscription-deprecate-autosubscribe.yml
  plugins/modules/redhat_subscription.py
Labels: module, plugins, docs, redhat_subscription, backport-7

#6649 MH VarsMixin deprecation
  changelogs/fragments/6649-varsmixin-deprecation.yml
  plugins/module_utils/mh/mixins/vars.py
Labels: module_utils, plugins, docs, backport-7

#6650 redhat_subscription: deprecate "pool"
  changelogs/fragments/6650-redhat_subscription-deprecate-pool.yml
  plugins/modules/redhat_subscription.py
Labels: module, plugins, docs, redhat_subscription, backport-7

#6652 Fetch secret id's which are in folder by folder id
  changelogs/fragments/6223-get-secret-ids-by-folderid.yml
  plugins/lookup/tss.py
Labels: lookup, plugins, check-before-release, backport-7

#6663 Deprecate module_utils.redhat
  changelogs/fragments/6663-deprecate-module_utils-redhat.yml
  plugins/module_utils/redhat.py
Labels: module_utils, plugins, docs

#6658 redhat_subscription: refactor of internal Rhsm class
  changelogs/fragments/6658-redhat_subscription-internal-rhsm-refactor.yml
  plugins/modules/redhat_subscription.py
  tests/unit/plugins/modules/test_redhat_subscription.py
Labels: module, tests, unit, plugins, redhat_subscription, backport-7

#6647 VarDict: convenience methods
  changelogs/fragments/6647-vardict-methods.yml
  plugins/module_utils/vardict.py
  tests/unit/plugins/module_utils/test_vardict.py
Labels: feature, tests, unit, module_utils, plugins, breaking_change, check-before-release

#6669 rhsm_release: improve the execution of subscription-manager
  changelogs/fragments/6669-rhsm_release-internal-sub-man-exec.yml
  plugins/modules/rhsm_release.py
  tests/unit/plugins/modules/test_rhsm_release.py
Labels: module, tests, unit, plugins, backport-7

#6673 rhsm_repository: deprecate "state=present" and "state=absent"
  changelogs/fragments/6673-rhsm_repository-deprecate-present-absent.yml
  plugins/modules/rhsm_repository.py
Labels: module, plugins, docs, backport-7

#6641 Proxmox inventory plugin: support composite variables
  changelogs/fragments/6640-proxmox-composite-variables-support.yml
  plugins/inventory/proxmox.py
Labels: feature, new_contributor, inventory, plugins, backport-7

#6688 Fix composites comparison for role in is_struct_included keycloak.py …
  changelogs/fragments/6688-is-struct-included-bug-in-keycloak-py.yml
  plugins/module_utils/identity/keycloak/keycloak.py
  tests/unit/plugins/module_utils/identity/keycloak/test_keycloak_module_utils.py
Labels: bug, tests, unit, new_plugin, module_utils, plugins, identity, backport-6, backport-7

#6605 New module: gitlab_merge_request.py
  .github/BOTMETA.yml
  plugins/modules/gitlab_merge_request.py
  tests/integration/targets/gitlab_merge_request/aliases
  tests/integration/targets/gitlab_merge_request/defaults/main.yml
  tests/integration/targets/gitlab_merge_request/files/description.md
  tests/integration/targets/gitlab_merge_request/tasks/main.yml
Labels: module, tests, integration, new_contributor, plugins, backport-7

#6662 csv module utils: detect unicode BOM in content
  changelogs/fragments/6662-csv-bom.yml
  plugins/module_utils/csv.py
  tests/integration/targets/read_csv/meta/main.yml
  tests/integration/targets/read_csv/tasks/main.yml
Labels: bug, tests, integration, has_issue, module_utils, plugins, backport-6, backport-7

#6668 ldap: Add client certificate support
  changelogs/fragments/6668-ldap-client-cert.yml
  plugins/doc_fragments/ldap.py
  plugins/module_utils/ldap.py
  plugins/modules/ldap_attrs.py
  plugins/modules/ldap_entry.py
  plugins/modules/ldap_passwd.py
  plugins/modules/ldap_search.py
  tests/integration/targets/ldap_search/tasks/tests/auth.yml
  tests/integration/targets/setup_openldap/files/cert_cnconfig.ldif
  tests/integration/targets/setup_openldap/files/cert_cnconfig.ldif.license
  tests/integration/targets/setup_openldap/files/initial_config.ldif
  tests/integration/targets/setup_openldap/tasks/main.yml
Labels: feature, module, tests, integration, new_contributor, docs_fragments, module_utils, plugins, backport-7

#6699 Semantic markup: use E() in more places
  plugins/doc_fragments/alicloud.py
  plugins/doc_fragments/bitbucket.py
  plugins/doc_fragments/dimensiondata.py
  plugins/doc_fragments/hwc.py
  plugins/doc_fragments/influxdb.py
  plugins/doc_fragments/ipa.py
  plugins/doc_fragments/manageiq.py
  plugins/doc_fragments/online.py
  plugins/doc_fragments/opennebula.py
  plugins/doc_fragments/openswitch.py
  plugins/doc_fragments/oracle.py
  plugins/doc_fragments/proxmox.py
  plugins/doc_fragments/purestorage.py
  plugins/doc_fragments/rackspace.py
  plugins/doc_fragments/scaleway.py
  plugins/doc_fragments/xenserver.py
  plugins/inventory/lxd.py
  plugins/lookup/bitwarden.py
  plugins/lookup/etcd.py
Labels: lookup, docs_fragments, inventory, plugins, docs, check-before-release, backport-7

#6671 Use semantic markup (modules a-c)
  plugins/lookup/dependent.py
  plugins/lookup/flattened.py
  plugins/modules/alerta_customer.py
  plugins/modules/ali_instance.py
  plugins/modules/ali_instance_info.py
  plugins/modules/alternatives.py
  plugins/modules/ansible_galaxy_install.py
  plugins/modules/apache2_module.py
  plugins/modules/apk.py
  plugins/modules/apt_repo.py
  plugins/modules/apt_rpm.py
  plugins/modules/archive.py
  plugins/modules/awall.py
  plugins/modules/bearychat.py
  plugins/modules/bitbucket_access_key.py
  plugins/modules/bitbucket_pipeline_key_pair.py
  plugins/modules/bitbucket_pipeline_known_host.py
  plugins/modules/bitbucket_pipeline_variable.py
  plugins/modules/btrfs_subvolume.py
  plugins/modules/bzr.py
  plugins/modules/cargo.py
  plugins/modules/circonus_annotation.py
  plugins/modules/cloudflare_dns.py
  plugins/modules/cobbler_system.py
  plugins/modules/composer.py
  plugins/modules/consul.py
  plugins/modules/consul_acl.py
  plugins/modules/consul_kv.py
  plugins/modules/consul_session.py
  plugins/modules/cpanm.py
  plugins/modules/cronvar.py
  plugins/modules/crypttab.py
Labels: module, needs_revision, lookup, has_issue, docs_fragments, inventory, plugins, docs, check-before-release, backport-7

#6677 Use semantic markup (modules h-j)
  plugins/modules/haproxy.py
  plugins/modules/heroku_collaborator.py
  plugins/modules/homebrew.py
  plugins/modules/homebrew_tap.py
  plugins/modules/homectl.py
  plugins/modules/htpasswd.py
  plugins/modules/hwc_vpc_private_ip.py
  plugins/modules/hwc_vpc_route.py
  plugins/modules/hwc_vpc_security_group.py
  plugins/modules/hwc_vpc_security_group_rule.py
  plugins/modules/icinga2_host.py
  plugins/modules/idrac_redfish_config.py
  plugins/modules/influxdb_retention_policy.py
  plugins/modules/ini_file.py
  plugins/modules/interfaces_file.py
  plugins/modules/ipa_dnsrecord.py
  plugins/modules/ipa_group.py
  plugins/modules/ipa_hostgroup.py
  plugins/modules/ipa_user.py
  plugins/modules/ipmi_power.py
  plugins/modules/iptables_state.py
  plugins/modules/ipwcli_dns.py
  plugins/modules/iso_customize.py
  plugins/modules/iso_extract.py
  plugins/modules/java_keystore.py
  plugins/modules/jboss.py
  plugins/modules/jenkins_job.py
  plugins/modules/jenkins_job_info.py
  plugins/modules/jenkins_plugin.py
  plugins/modules/jira.py
Labels: module, has_issue, plugins, docs, check-before-release, backport-7

#6678 Use semantic markup (modules k-l)
  plugins/modules/kdeconfig.py
  plugins/modules/keycloak_authentication.py
  plugins/modules/keycloak_authz_authorization_scope.py
  plugins/modules/keycloak_client.py
  plugins/modules/keycloak_client_rolemapping.py
  plugins/modules/keycloak_clientscope.py
  plugins/modules/keycloak_clientscope_type.py
  plugins/modules/keycloak_clientsecret_info.py
  plugins/modules/keycloak_clienttemplate.py
  plugins/modules/keycloak_group.py
  plugins/modules/keycloak_identity_provider.py
  plugins/modules/keycloak_realm.py
  plugins/modules/keycloak_role.py
  plugins/modules/keycloak_user.py
  plugins/modules/keycloak_user_federation.py
  plugins/modules/keycloak_user_rolemapping.py
  plugins/modules/layman.py
  plugins/modules/ldap_attrs.py
  plugins/modules/ldap_entry.py
  plugins/modules/ldap_passwd.py
  plugins/modules/ldap_search.py
  plugins/modules/listen_ports_facts.py
  plugins/modules/lvg.py
  plugins/modules/lxc_container.py
  plugins/modules/lxd_container.py
  plugins/modules/lxd_project.py
Labels: module, has_issue, plugins, docs, check-before-release, backport-7

#6679 Use semantic markup (modules m-n)
  plugins/modules/macports.py
  plugins/modules/make.py
  plugins/modules/manageiq_policies.py
  plugins/modules/manageiq_policies_info.py
  plugins/modules/manageiq_tags.py
  plugins/modules/manageiq_tags_info.py
  plugins/modules/mattermost.py
  plugins/modules/maven_artifact.py
  plugins/modules/memset_dns_reload.py
  plugins/modules/memset_memstore_info.py
  plugins/modules/memset_server_info.py
  plugins/modules/memset_zone.py
  plugins/modules/memset_zone_domain.py
  plugins/modules/memset_zone_record.py
  plugins/modules/monit.py
  plugins/modules/mqtt.py
  plugins/modules/mssql_script.py
  plugins/modules/nagios.py
  plugins/modules/netcup_dns.py
  plugins/modules/newrelic_deployment.py
  plugins/modules/nictagadm.py
  plugins/modules/nmcli.py
  plugins/modules/nomad_job.py
  plugins/modules/nosh.py
Labels: module, needs_revision, has_issue, plugins, docs, check-before-release, needs_maintainer, backport-7

#6681 Use semantic markup (modules o-p)
  plugins/modules/ocapi_command.py
  plugins/modules/ocapi_info.py
  plugins/modules/oci_vcn.py
  plugins/modules/one_service.py
  plugins/modules/one_template.py
  plugins/modules/one_vm.py
  plugins/modules/oneandone_load_balancer.py
  plugins/modules/onepassword_info.py
  plugins/modules/open_iscsi.py
  plugins/modules/openbsd_pkg.py
  plugins/modules/openwrt_init.py
  plugins/modules/osx_defaults.py
  plugins/modules/packet_device.py
  plugins/modules/pacman.py
  plugins/modules/pacman_key.py
  plugins/modules/pagerduty.py
  plugins/modules/pagerduty_alert.py
  plugins/modules/pagerduty_change.py
  plugins/modules/pagerduty_user.py
  plugins/modules/pam_limits.py
  plugins/modules/parted.py
  plugins/modules/pids.py
  plugins/modules/pipx.py
  plugins/modules/pipx_info.py
  plugins/modules/pkg5.py
  plugins/modules/pkgng.py
  plugins/modules/pkgutil.py
  plugins/modules/pmem.py
  plugins/modules/pritunl_org.py
  plugins/modules/pritunl_user.py
  plugins/modules/pritunl_user_info.py
  plugins/modules/proxmox.py
  plugins/modules/proxmox_disk.py
  plugins/modules/proxmox_kvm.py
  plugins/modules/proxmox_nic.py
  plugins/modules/proxmox_snap.py
  plugins/modules/proxmox_template.py
  plugins/modules/pubnub_blocks.py
  plugins/modules/pulp_repo.py
  plugins/modules/puppet.py
  plugins/modules/pushbullet.py
  plugins/modules/python_requirements_info.py
Labels: module, has_issue, plugins, docs, check-before-release, backport-7

#6683 Use semantic markup (modules r-s)
  plugins/modules/rax.py
  plugins/modules/rax_files_objects.py
  plugins/modules/rax_mon_check.py
  plugins/modules/rax_scaling_group.py
  plugins/modules/rax_scaling_policy.py
  plugins/modules/read_csv.py
  plugins/modules/redhat_subscription.py
  plugins/modules/redis_data_incr.py
  plugins/modules/rhevm.py
  plugins/modules/rhn_register.py
  plugins/modules/rhsm_release.py
  plugins/modules/rhsm_repository.py
  plugins/modules/rocketchat.py
  plugins/modules/rundeck_job_run.py
  plugins/modules/scaleway_compute.py
  plugins/modules/scaleway_compute_private_network.py
  plugins/modules/scaleway_container.py
  plugins/modules/scaleway_container_namespace.py
  plugins/modules/scaleway_container_registry.py
  plugins/modules/scaleway_database_backup.py
  plugins/modules/scaleway_function.py
  plugins/modules/scaleway_function_namespace.py
  plugins/modules/scaleway_ip.py
  plugins/modules/scaleway_private_network.py
  plugins/modules/scaleway_security_group.py
  plugins/modules/scaleway_security_group_rule.py
  plugins/modules/scaleway_sshkey.py
  plugins/modules/scaleway_volume.py
  plugins/modules/sefcontext.py
  plugins/modules/sendgrid.py
  plugins/modules/sensu_check.py
  plugins/modules/shutdown.py
  plugins/modules/slack.py
  plugins/modules/snap.py
  plugins/modules/snmp_facts.py
  plugins/modules/solaris_zone.py
  plugins/modules/sorcery.py
  plugins/modules/spectrum_device.py
  plugins/modules/ssh_config.py
  plugins/modules/stacki_host.py
  plugins/modules/sudoers.py
  plugins/modules/supervisorctl.py
  plugins/modules/svr4pkg.py
  plugins/modules/swupd.py
  plugins/modules/sysrc.py
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.12.txt
  tests/sanity/ignore-2.13.txt
  tests/sanity/ignore-2.14.txt
Labels: module, needs_revision, tests, has_issue, plugins, docs, check-before-release, redhat_subscription, backport-7

#6698 Use semantic markup (modules t-z)
  plugins/modules/cobbler_system.py
  plugins/modules/mattermost.py
  plugins/modules/maven_artifact.py
  plugins/modules/read_csv.py
  plugins/modules/telegram.py
  plugins/modules/terraform.py
  plugins/modules/udm_dns_record.py
  plugins/modules/udm_dns_zone.py
  plugins/modules/udm_share.py
  plugins/modules/udm_user.py
  plugins/modules/urpmi.py
  plugins/modules/vertica_user.py
  plugins/modules/vmadm.py
  plugins/modules/wdc_redfish_command.py
  plugins/modules/wdc_redfish_info.py
  plugins/modules/webfaction_app.py
  plugins/modules/webfaction_db.py
  plugins/modules/webfaction_domain.py
  plugins/modules/webfaction_mailbox.py
  plugins/modules/webfaction_site.py
  plugins/modules/xattr.py
  plugins/modules/xenserver_guest.py
  plugins/modules/xfconf.py
  plugins/modules/xfconf_info.py
  plugins/modules/xml.py
  plugins/modules/zfs_delegate_admin.py
  plugins/modules/znode.py
  plugins/modules/zypper.py
  plugins/modules/zypper_repository.py
Labels: module, needs_revision, plugins, docs, check-before-release, backport-7

#6687 keycloak_client_rolemapping.py: add support for subgroups
  changelogs/fragments/6687-support-subgroups-for-keycloak-client-rolemapping.yml
  plugins/modules/keycloak_client_rolemapping.py
  tests/unit/plugins/modules/test_keycloak_client_rolemapping.py
Labels: feature, module, tests, unit, new_contributor, plugins, backport-7

#6712 gitlab_group => Make most options optional
  changelogs/fragments/6712-gitlab_group-filtered-for-none-values.yml
  plugins/modules/gitlab_group.py
Labels: bug, module, new_contributor, plugins, backport-6, backport-7

#6575 ini_file: try using inactive option before creating a new one
  changelogs/fragments/ini_file-use-inactive-options-when-possible.yml
  plugins/modules/ini_file.py
  tests/integration/targets/ini_file/tasks/tests/02-values.yml
Labels: bug, module, tests, integration, new_contributor, plugins, check-before-release, backport-7

#6711 plugins/inventory/cobbler: Collect IP addresses for hosts and add opt…
  changelogs/fragments/6711-cobbler-ip-address.yml
  plugins/inventory/cobbler.py
Labels: feature, inventory, plugins, check-before-release, backport-7

#6709 proxmox_kvm - Allow creation of VM with existing name but new vmid
  changelogs/fragments/6709-proxmox-create-vm-with-existing-name.yml
  plugins/module_utils/proxmox.py
  plugins/modules/proxmox_kvm.py
  tests/unit/plugins/modules/test_proxmox_kvm.py
Labels: bug, module, tests, unit, module_utils, plugins, backport-6, backport-7

#6682 lvg: add UUID reset and active state management feature
  changelogs/fragments/6682-lvg-clonesupport.yml
  plugins/modules/lvg.py
  tests/integration/targets/lvg/tasks/main.yml
  tests/integration/targets/lvg/tasks/setup.yml
  tests/integration/targets/lvg/tasks/setup_missing_pv.yml
  tests/integration/targets/lvg/tasks/teardown.yml
  tests/integration/targets/lvg/tasks/teardown_missing_pv.yml
  tests/integration/targets/lvg/tasks/test_active_change.yml
  tests/integration/targets/lvg/tasks/test_active_create.yml
  tests/integration/targets/lvg/tasks/test_uuid_reset.yml
Labels: feature, module, tests, integration, new_contributor, plugins, check-before-release, backport-7

#6680 filesystem: add UUID change feature
  changelogs/fragments/6680-filesystem-uuid-change.yml
  plugins/modules/filesystem.py
  tests/integration/targets/filesystem/defaults/main.yml
  tests/integration/targets/filesystem/tasks/main.yml
  tests/integration/targets/filesystem/tasks/reset_fs_uuid.yml
  tests/integration/targets/filesystem/tasks/set_fs_uuid_on_creation.yml
  tests/integration/targets/filesystem/tasks/set_fs_uuid_on_creation_with_opts.yml
Labels: feature, module, tests, integration, new_contributor, plugins, check-before-release, backport-7

#6721 lvg_rename: New module to support VG renaming
  .github/BOTMETA.yml
  plugins/modules/lvg_rename.py
  tests/integration/targets/lvg_rename/aliases
  tests/integration/targets/lvg_rename/meta/main.yml
  tests/integration/targets/lvg_rename/tasks/main.yml
  tests/integration/targets/lvg_rename/tasks/setup.yml
  tests/integration/targets/lvg_rename/tasks/teardown.yml
  tests/integration/targets/lvg_rename/tasks/test.yml
  tests/unit/plugins/modules/test_lvg_rename.py
Labels: module, tests, unit, integration, new_plugin, plugins, check-before-release, backport-7

#6735 Update Datadog downtime URL
  plugins/modules/datadog_downtime.py
Labels: module, new_contributor, small_patch, plugins, docs, docs_only, backport-6, backport-7

#6676 rhsm_repository: update returned "repositories" when using "purge=true"
  changelogs/fragments/6676-rhsm_repository-fix-returned-repositories-with-purge.yml
  plugins/modules/rhsm_repository.py
Labels: bug, module, plugins, check-before-release, backport-6, backport-7

#6740 [stable-5] CI: Remove ansible-core devel tests; should have stopped with stable-2.15
  .azure-pipelines/azure-pipelines.yml
  README.md
Labels: backport

#6720 Fix multiple issues with the TSS lookup plugin when using fetch_attachments
  changelogs/fragments/6720-tss-fix-fetch-attachments.yml
  plugins/lookup/tss.py
Labels: bug, lookup, new_contributor, plugins, backport-6, backport-7

#6748 icinga2_host: fix a key error when modifying an existing host
  changelogs/fragments/6748-icinga2_host-datafix.yml
  plugins/modules/icinga2_host.py
Labels: bug, module, plugins, check-before-release, backport-6, backport-7

#6732 Keycloak: Authentication required actions management
  .github/BOTMETA.yml
  plugins/module_utils/identity/keycloak/keycloak.py
  plugins/modules/keycloak_authentication_required_actions.py
  tests/unit/plugins/modules/test_keycloak_authentication_required_actions.py
Labels: feature, module, tests, unit, new_contributor, new_plugin, module_utils, plugins, identity, check-before-release, backport-7

#6759 ipify_facts: skip tests on Python 2.6
  tests/integration/targets/ipify_facts/aliases
Labels: tests, integration, small_patch, backport-5, backport-6, backport-7

#6766 Improve seealso
  plugins/lookup/etcd.py
  plugins/lookup/etcd3.py
  tests/sanity/ignore-2.13.txt
  tests/sanity/ignore-2.14.txt
Labels: lookup, tests, plugins, docs, check-before-release, backport-7

#6775 Bump AZP container
  .azure-pipelines/azure-pipelines.yml
Labels: small_patch, backport-5, backport-6, backport-7

#6758 rhsm_repository: add an initial unit test
  tests/unit/plugins/modules/test_rhsm_repository.py
Labels: tests, unit, new_plugin, backport-6, backport-7

#6779 Add Debian Bookworm to CI
  .azure-pipelines/azure-pipelines.yml
  tests/integration/targets/listen_ports_facts/tasks/main.yml
  tests/integration/targets/setup_postgresql_db/vars/Debian-12-py3.yml
Labels: tests, integration, backport-7

#6719 Fixing bug in get_volume_inventory
  changelogs/fragments/6719-redfish-utils-fix-for-get-volume-inventory.yml
  plugins/module_utils/redfish_utils.py
Labels: bug, module_utils, plugins, check-before-release, backport-6, backport-7

#6772 Redfish: Filter empty account slots from ListUsers
  changelogs/fragments/6771-redfish-filter-empty-account-slots.yml
  plugins/module_utils/redfish_utils.py
Labels: bug, module_utils, plugins, check-before-release, backport-6, backport-7

#6770 proxmox_disk: fix failure to create cdrom
  changelogs/fragments/6770-proxmox_disk_create_cdrom.yml
  plugins/modules/proxmox_disk.py
Labels: bug, module, new_contributor, plugins, backport-6, backport-7

#6773 Module `proxmox_kvm` `restarted` state bug fix
  changelogs/fragments/6773-proxmox_kvm-restarted-state-bug-fix.yaml
  plugins/modules/proxmox_kvm.py
Labels: bug, module, new_contributor, plugins, backport-6, backport-7

#6763 Keycloak authentication provider ID choices
  changelogs/fragments/6763-keycloak-auth-provider-choices.yml
  plugins/modules/keycloak_authentication.py
Labels: feature, module, plugins, backport-7

#6804 Remove pre-commit config
  .pre-commit-config.yaml
  CONTRIBUTING.md
Labels: backport-5, backport-6, backport-7

#6691 random_string docs to say it's cryptographically secure
  plugins/lookup/random_string.py
Labels: lookup, has_issue, small_patch, plugins, docs, docs_only, backport-6, backport-7

#6774 locale_gen: works with C.UTF-8
  changelogs/fragments/6774-locale-gen-fix.yml
  plugins/modules/locale_gen.py
  tests/integration/targets/locale_gen/aliases
  tests/integration/targets/locale_gen/tasks/basic.yml
  tests/integration/targets/locale_gen/tasks/locale_gen.yml
  tests/integration/targets/locale_gen/tasks/main.yml
  tests/integration/targets/locale_gen/vars/main.yml
Labels: bug, module, tests, integration, plugins, backport-6, backport-7
