Repository ansible-collections/community.general, pull requests merged in 2023-08, with the labels that each got.

#7046 snap: Only treat `---` as an info separator when it's preceded by newline
  changelogs/fragments/7046-snap-newline-before-separator.yml
  plugins/modules/snap.py
Labels: bug, module, has_issue, plugins, backport-6, backport-7

#7064 Snap add test
  tests/integration/targets/snap/tasks/main.yml
  tests/integration/targets/snap/tasks/test_3dash.yml
Labels: tests, integration, backport-6, backport-7

#6814 Adding DeleteVolumes functionality
  changelogs/fragments/6814-redfish-config-add-delete-all-volumes.yml
  plugins/module_utils/redfish_utils.py
  plugins/modules/redfish_config.py
Labels: feature, module, module_utils, plugins, check-before-release, backport-7

#7036 Documentation to reflect newer Proxmox VE boot string format
  plugins/modules/proxmox_kvm.py
Labels: module, small_patch, plugins, docs, docs_only, backport-7

#7033 ejabberd_user: bug fixes + tests
  changelogs/fragments/7033-ejabberd-user-bugs.yml
  plugins/modules/ejabberd_user.py
  tests/integration/targets/ejabberd_user/aliases
  tests/integration/targets/ejabberd_user/handlers/main.yml
  tests/integration/targets/ejabberd_user/meta/main.yml
  tests/integration/targets/ejabberd_user/tasks/main.yml
Labels: bug, module, tests, integration, has_issue, plugins, backport-6, backport-7

#7019 ipa_config: add user and group ojectclasses parameters
  changelogs/fragments/7019-ipa_config-user-and-group-objectclasses.yml
  plugins/modules/ipa_config.py
Labels: feature, module, stale_ci, new_contributor, plugins, backport-7

#7051 ipa_config: add idp choice to ipauserauthtype
  changelogs/fragments/7051-ipa-config-new-choice-idp-to-ipauserauthtype.yml
  plugins/modules/ipa_config.py
Labels: bug, module, new_contributor, plugins, backport-7

#6931 Keycloak client secret
  changelogs/fragments/6931-keycloak_client-inventory-bugfix.yml
  plugins/modules/keycloak_client.py
Labels: bug, module, new_contributor, merge_commit, needs_rebase, backport-7

#7085 Avoid direct type comparisons
  changelogs/fragments/7085-sanity.yml
  plugins/module_utils/oracle/oci_utils.py
  plugins/modules/proxmox_user_info.py
  tests/unit/mock/loader.py
  tests/unit/plugins/modules/test_keycloak_user.py
Labels: bug, module, tests, unit, module_utils, plugins, cloud, check-before-release, backport-6, backport-7

#7067 Fix KeycloakAPI's missing http_agent, timeout, and validate_certs open_url() parameters
  changelogs/fragments/7067-keycloak-api-paramerter-fix.yml
  plugins/module_utils/identity/keycloak/keycloak.py
Labels: bug, new_contributor, module_utils, plugins, identity, backport-6, backport-7

#7061 bitwarden lookup fix `get_field`
  changelogs/fragments/7061-fix-bitwarden-get_field.yml
  plugins/lookup/bitwarden.py
Labels: bug, lookup, new_contributor, has_issue, plugins, backport-6, backport-7

#7087 [stable-6] Avoid direct type comparisons
  changelogs/fragments/7085-sanity.yml
  plugins/module_utils/oracle/oci_utils.py
  plugins/modules/proxmox_user_info.py
  tests/unit/mock/loader.py
Labels: bug, module, tests, unit, module_utils, plugins, cloud, backport

#7081 Follow DMTF redfish deprecation on StorageControllers
  changelogs/fragments/7081-redfish-utils-fix-for-storagecontrollers-deprecated-key.yaml
  plugins/module_utils/redfish_utils.py
Labels: bug, module_utils, plugins, backport-6, backport-7

#7091 sorcery: update only specified grimoires
  plugins/modules/sorcery.py
Labels: bug, module, plugins, check-before-release, backport-7

#6989 npm: changed to cmdrunner
  changelogs/fragments/6989-npm-cmdrunner.yml
  plugins/modules/npm.py
  tests/unit/plugins/modules/test_npm.py
Labels: module, stale_ci, tests, unit, plugins, backport-7

#7053 lvol: Fix pct of origin
  changelogs/fragments/lvol-pct-of-origin.yml
  plugins/modules/lvol.py
  tests/integration/targets/lvg/tasks/setup.yml
  tests/integration/targets/lvg/tasks/test_active_change.yml
  tests/integration/targets/lvg/tasks/test_pvresize.yml
Labels: bug, module, tests, integration, new_contributor, has_issue, plugins, backport-6, backport-7

#7010 Update chroot.py - better documentation
  plugins/connection/chroot.py
Labels: stale_ci, connection, new_contributor, small_patch, plugins, docs, check-before-release, docs_only, backport-6, backport-7

#7103 CI: FreeBSD 13.0 and 12.3 are no longer availabe, bump versions and disable since these versions are already tested with stable-2.15
  .azure-pipelines/azure-pipelines.yml
Labels: backport-5, backport-6, backport-7

#7104 lxc: fix remote_addr default to inventory_hostname
  changelogs/fragments/7104_fix_lxc_remoteaddr_default.yml
  plugins/connection/lxc.py
Labels: bug, connection, new_contributor, plugins, check-before-release, backport-6, backport-7

#7075 ejabberd_user: use CmdRunner
  changelogs/fragments/7075-ejabberd-user-cmdrunner.yml
  plugins/modules/ejabberd_user.py
Labels: module, plugins, backport-7

#7099 chroot: add `disable_root_check` option
  changelogs/fragments/7099-chroot-disable-root-check-option.yml
  plugins/connection/chroot.py
Labels: feature, needs_revision, connection, new_contributor, plugins, backport-7

#7102 freebsd: shutdown -p ... on freebsd to power off machine
  changelogs/fragments/7102-freebsd-shutdown-p.yml
  plugins/action/shutdown.py
  tests/integration/targets/shutdown/tasks/main.yml
Labels: bug, tests, integration, new_contributor, plugins, action, check-before-release, backport-7

#7113 Add support for Redfish PowerCycle reset type
  changelogs/fragments/7113-redfish-utils-power-cycle.yml
  plugins/module_utils/redfish_utils.py
  plugins/modules/redfish_command.py
Labels: feature, module, module_utils, plugins, backport-7

#7124 snap: fix case when snap list is empty
  changelogs/fragments/7124-snap-empty-list.yml
  plugins/modules/snap.py
  tests/integration/targets/snap/tasks/main.yml
  tests/integration/targets/snap/tasks/test_empty_list.yml
Labels: bug, module, tests, integration, plugins, check-before-release, backport-6, backport-7

#7119 nmap inventory plugin, add use_arp_ping option
  changelogs/fragments/7118-nmap_inv_plugin_no_arp_option.yml
  plugins/inventory/nmap.py
Labels: bug, has_issue, inventory, plugins, backport-7

#6819 Adding 'Links' to the parameter list for data retrieved from get_disk_inventory
  changelogs/fragments/6819-redfish-utils-add-links-parameter-for-get_disk_inventory.yml
  plugins/module_utils/redfish_utils.py
Labels: feature, module_utils, plugins, backport-7

#7135 minor typo on proxmox_kvm module documentation
  plugins/modules/proxmox_kvm.py
Labels: module, new_contributor, small_patch, plugins, docs, docs_only, backport-6, backport-7

#7140 redfish_info: Report Id in GetManagerInventory output
  changelogs/fragments/7140-id-getmanagerinv-output.yml
  plugins/module_utils/redfish_utils.py
Labels: feature, new_contributor, module_utils, plugins, check-before-release, backport-7

#7162 keycloak_clientscope_type: fixed example
  plugins/modules/keycloak_clientscope_type.py
Labels: module, small_patch, plugins, docs, docs_only, backport-6, backport-7

#7132 gitlab_project_variable/gitlab_group_variable: Add support for 'raw' option
  changelogs/fragments/7132-gitlab-raw-variables.yml
  plugins/module_utils/gitlab.py
  plugins/modules/gitlab_group_variable.py
  plugins/modules/gitlab_project_variable.py
Labels: module, new_plugin, module_utils, plugins, gitlab, backport-7

#7154 Refactored unit tests for modules based on CmdRunner
  tests/unit/plugins/modules/cmd_runner_test_utils.py
  tests/unit/plugins/modules/test_opkg.py
  tests/unit/plugins/modules/test_opkg.yaml
Labels: tests, unit, new_plugin, check-before-release, backport-6, backport-7

#7172 CI: make sure EXTERNALLY-MANAGED is absent on Arch Linux
  tests/integration/targets/setup_pkg_mgr/tasks/archlinux.yml
Labels: tests, integration, small_patch, backport-5, backport-6, backport-7

#7170 xfconf*: using yaml-specified unit tests
  tests/unit/plugins/modules/test_opkg.py
  tests/unit/plugins/modules/test_xfconf.py
  tests/unit/plugins/modules/test_xfconf.yaml
  tests/unit/plugins/modules/test_xfconf_info.py
  tests/unit/plugins/modules/test_xfconf_info.yaml
Labels: tests, unit, new_plugin, backport-6, backport-7
