Repository ansible-collections/community.general, pull requests merged in 2023-10, with the labels that each got.

#7330 Add support for Oem params
  changelogs/fragments/7330-redfish-utils-oem-params.yml
  plugins/module_utils/redfish_utils.py
  plugins/modules/redfish_command.py
Labels: module, has_issue, module_utils, plugins, check-before-release

#6618 Support for simpleinit-msb init system
  .github/BOTMETA.yml
  plugins/modules/simpleinit_msb.py
  tests/unit/plugins/modules/test_simpleinit_msb.py
Labels: module, tests, unit, new_plugin, plugins, check-before-release, backport-7

#7344 CI: ansible-core devel drops support for Python 2.7 and 3.6
  .azure-pipelines/azure-pipelines.yml
Labels: backport-7

#7339 pnpm: version should not be latest when state is latest
  changelogs/fragments/7339-pnpm-correct-version-when-state-latest.yml
  plugins/modules/pnpm.py
  tests/integration/targets/pnpm/tasks/main.yml
  tests/integration/targets/pnpm/tasks/run.yml
Labels: bug, module, tests, integration, plugins, check-before-release, backport-7

#7343 Add TCP option for dig plugin.
  changelogs/fragments/7343-dig-tcp-option.yml
  plugins/lookup/dig.py
Labels: feature, lookup, new_contributor, plugins, check-before-release, backport-7

#7332 LXD moved to Canonical
  plugins/inventory/lxd.py
  plugins/modules/lxd_container.py
  plugins/modules/lxd_profile.py
  plugins/modules/lxd_project.py
Labels: module, new_contributor, inventory, plugins, docs, backport-6, backport-7

#7348 Fix Python 3.12 unit tests
  .azure-pipelines/azure-pipelines.yml
  tests/unit/plugins/callback/test_loganalytics.py
  tests/unit/plugins/module_utils/hwc/test_hwc_utils.py
  tests/unit/plugins/modules/test_dnsimple.py
  tests/unit/plugins/modules/test_jenkins_build_info.py
  tests/unit/plugins/modules/test_pagerduty.py
  tests/unit/plugins/modules/test_pagerduty_alert.py
  tests/unit/plugins/modules/test_pkgin.py
  tests/unit/plugins/modules/test_slack.py
Labels: tests, unit, backport-7

#7352 Add `executable` option to cargo
  changelogs/fragments/7352-add-executable-option-for-cargo.yml
  plugins/modules/cargo.py
  tests/integration/targets/cargo/tasks/main.yml
  tests/integration/targets/cargo/tasks/setup.yml
  tests/integration/targets/cargo/tasks/test_rustup_cargo.yml
Labels: feature, module, tests, integration, plugins, check-before-release, backport-7

#6813 Adding CreateVolume functionality
  changelogs/fragments/6813-redfish-config-add-create-volume.yml
  plugins/module_utils/redfish_utils.py
  plugins/modules/redfish_config.py
Labels: feature, module, module_utils, plugins, backport-7

#7304 Prevent parted warnings in script mode
  changelogs/fragments/7304-prevent-parted-warnings.yml
  plugins/modules/parted.py
Labels: bug, module, new_contributor, plugins, backport-7

#7340 snap: detect change by checking final state
  changelogs/fragments/7340-snap-fix.yml
  plugins/modules/snap.py
  tests/unit/plugins/modules/test_snap.py
Labels: module, tests, unit, has_issue, plugins, backport-7

#7355 newrelic_deployment: add app_name_exact_match parameter
  changelogs/fragments/7355-newrelic-deployment-add-exact-name.yml
  plugins/modules/newrelic_deployment.py
Labels: feature, module, new_contributor, plugins, needs_maintainer, backport-7

#7364 Add option force_delete module gitlab_group
  changelogs/fragments/7364-add-option-force-gitlab-group.yml
  plugins/modules/gitlab_group.py
Labels: feature, module, plugins, backport-7

#7369 Fix lxc plugin options
  changelogs/fragments/7369-fix-lxc-options.yml
  plugins/connection/lxc.py
  tests/unit/plugins/connection/test_lxc.py
Labels: bug, connection, tests, unit, plugins, backport-6, backport-7

#7144 Adding bios registries command to redfish_info
  changelogs/fragments/7144-add-getbiosregistry-command-to-redfish-info.yml
  plugins/module_utils/redfish_utils.py
  plugins/modules/redfish_info.py
Labels: feature, module, needs_revision, new_contributor, module_utils, plugins, backport-7

#7358 Bump version of main to 8.0.0; remove deprecations, deprecate some leftovers
  changelogs/fragments/removals.yml
  galaxy.yml
  plugins/module_utils/mh/mixins/cmd.py
  plugins/module_utils/mh/module_helper.py
  plugins/module_utils/module_helper.py
  plugins/modules/ansible_galaxy_install.py
  plugins/modules/consul.py
  plugins/modules/gconftool2.py
  plugins/modules/gitlab_runner.py
  plugins/modules/manageiq_policies.py
  plugins/modules/manageiq_tags.py
  plugins/modules/xfconf.py
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.12.txt
  tests/sanity/ignore-2.13.txt
  tests/sanity/ignore-2.14.txt
  tests/sanity/ignore-2.15.txt
  tests/sanity/ignore-2.16.txt
  tests/sanity/ignore-2.17.txt
  tests/unit/plugins/module_utils/test_module_helper.py
  tests/unit/plugins/modules/test_gconftool2.yaml
Labels: feature, module, tests, unit, module_utils, plugins, shipit

#7379 Make compatible with current ansible-core devel
  changelogs/fragments/7379-url.yml
  plugins/module_utils/memset.py
Labels: bug, module_utils, plugins, cloud, backport-6, backport-7

#7378 redhat_subscription: fix D-Bus option for consumer type on older distros
  changelogs/fragments/7378-redhat_subscription-dbus-consumer-type.yaml
  plugins/modules/redhat_subscription.py
Labels: bug, module, plugins, backport-6, redhat_subscription, backport-7

#7385 Skip odbc tests on Python 2.6 and CentOS 7
  tests/integration/targets/odbc/aliases
  tests/integration/targets/odbc/tasks/main.yml
Labels: backport-5, backport-6, backport-7

#7269 Drop support for ansible-core 2.11 and 2.12
  .azure-pipelines/azure-pipelines.yml
  .github/workflows/ansible-test.yml
  README.md
  changelogs/fragments/ansible-core-2.11-2.12.yml
  meta/runtime.yml
  plugins/callback/selective.py
  plugins/lookup/collection_version.py
  plugins/module_utils/version.py
Labels: needs_revision, lookup, callback, has_issue, module_utils, plugins, docs, breaking_change

#7374 Fix callback/selective task print being long
  changelogs/fragments/7374-fix-selective-callback-taskname-length.yml
  plugins/callback/selective.py
Labels: bug, needs_revision, callback, new_contributor, plugins, check-before-release, backport-6, backport-7

#7377 proxmox_kvm: deprecate option proxmox_default_behavior
  changelogs/fragments/7377-proxmox-kvm-deprecate-flag.yml
  plugins/modules/proxmox_kvm.py
Labels: feature, module, plugins

#7397 Update proxmox.py
  plugins/inventory/proxmox.py
Labels: bug, new_contributor, inventory, small_patch, plugins, docs_only, backport-5, backport-6, backport-7

#7375 Fix pagination issue in community.general.github_deploy_key
  changelogs/fragments/7375-fix-github-deploy-key-pagination.yml
  plugins/modules/github_deploy_key.py
Labels: bug, module, new_contributor, traceback, plugins, backport-6, backport-7

#7373 Handle remote_addr change in lxc connection plugin
  changelogs/fragments/7373-lxc-remote-addr-change.yml
  plugins/connection/lxc.py
  tests/unit/plugins/connection/test_lxc.py
Labels: bug, connection, tests, unit, plugins

#7410 plugins/modules/gitlab: typo fix: s/Wether/Whether/
  plugins/modules/gitlab_group_variable.py
  plugins/modules/gitlab_instance_variable.py
  plugins/modules/gitlab_project_variable.py
Labels: module, plugins, docs, docs_only, backport-6, backport-7

#7419 CI: remove macOS 12.0 from CI
  .azure-pipelines/azure-pipelines.yml
Labels: small_patch, backport-5, backport-6, backport-7

#7356 facter_facts: new module
  .github/BOTMETA.yml
  plugins/modules/facter_facts.py
  tests/unit/plugins/modules/test_facter_facts.py
  tests/unit/plugins/modules/test_facter_facts.yaml
Labels: feature, module, tests, unit, new_plugin, plugins

#7420 [stable-7] CI: remove macOS 12.0 from CI
  .azure-pipelines/azure-pipelines.yml
Labels: small_patch, backport

#7421 Test helper more
  tests/unit/plugins/modules/helper.py
  tests/unit/plugins/modules/test_cpanm.py
  tests/unit/plugins/modules/test_facter_facts.py
  tests/unit/plugins/modules/test_gconftool2.py
  tests/unit/plugins/modules/test_gconftool2_info.py
  tests/unit/plugins/modules/test_gio_mime.py
  tests/unit/plugins/modules/test_opkg.py
  tests/unit/plugins/modules/test_puppet.py
  tests/unit/plugins/modules/test_xfconf.py
  tests/unit/plugins/modules/test_xfconf_info.py
Labels: tests, unit

#7403 nmcli: add additional documentation for routing_rules4 option
  plugins/modules/nmcli.py
Labels: module, new_contributor, plugins, docs, docs_only, backport-6, backport-7

#7396 apt_rpm module: fix local RPM installation
  changelogs/fragments/7396-fix-apt_rpm-local-rpm-installation.yml
  plugins/modules/apt_rpm.py
Labels: bug, module, new_contributor, plugins

#7360 plugins/connection/lxd: convert FQDN to instance name
  changelogs/fragments/7360-lxd-remote-addr-host.yml
  plugins/connection/lxd.py
Labels: feature, connection, plugins

#7392 plugins/inventory/lxd: add server_cert option
  changelogs/fragments/7392-lxd-inventory-server-cert.yml
  plugins/inventory/lxd.py
  plugins/module_utils/lxd.py
Labels: feature, inventory, module_utils, plugins, check-before-release

#7412 Add nomad_job port parameter
  changelogs/fragments/7412-add-port-for-nomad-connection.yaml
  plugins/doc_fragments/nomad.py
  plugins/modules/nomad_job.py
  plugins/modules/nomad_job_info.py
Labels: feature, module, new_contributor, docs_fragments, plugins

#7401 Add `modify_inactive_option` option to `ini_file` module to ignore matching commented key:value pairs
  changelogs/fragments/7401-ini-file-modify-inactive-option.yaml
  plugins/modules/ini_file.py
  tests/integration/targets/ini_file/tasks/main.yml
  tests/integration/targets/ini_file/tasks/tests/06-modify_inactive_option.yml
Labels: feature, module, tests, integration, has_issue, plugins

#7427 Typo fix
  plugins/modules/gitlab_group_variable.py
  plugins/modules/gitlab_merge_request.py
  plugins/modules/proxmox.py
  plugins/modules/proxmox_kvm.py
  plugins/modules/proxmox_storage_info.py
  plugins/modules/zypper.py
Labels: module, plugins, docs, backport-7

#7429 Many typo fixes
  plugins/modules/aix_inittab.py
  plugins/modules/clc_server.py
  plugins/modules/consul_role.py
  plugins/modules/dconf.py
  plugins/modules/dnsimple.py
  plugins/modules/dnsmadeeasy.py
  plugins/modules/gitlab_user.py
  plugins/modules/homectl.py
  plugins/modules/ilo_redfish_command.py
  plugins/modules/imgadm.py
  plugins/modules/installp.py
  plugins/modules/ipbase_info.py
  plugins/modules/iptables_state.py
  plugins/modules/jira.py
  plugins/modules/keycloak_authentication_required_actions.py
  plugins/modules/layman.py
  plugins/modules/ldap_attrs.py
  plugins/modules/ldap_entry.py
  plugins/modules/listen_ports_facts.py
  plugins/modules/lxd_profile.py
  plugins/modules/mail.py
  plugins/modules/netcup_dns.py
  plugins/modules/nmcli.py
  plugins/modules/one_vm.py
  plugins/modules/oneview_enclosure_info.py
  plugins/modules/ovh_ip_failover.py
  plugins/modules/ovh_monthly_billing.py
  plugins/modules/pagerduty_alert.py
  plugins/modules/parted.py
  plugins/modules/pear.py
  plugins/modules/redhat_subscription.py
  plugins/modules/redis.py
  plugins/modules/rundeck_acl_policy.py
  plugins/modules/scaleway_container.py
  plugins/modules/scaleway_container_namespace.py
  plugins/modules/scaleway_container_registry.py
  plugins/modules/scaleway_function.py
  plugins/modules/scaleway_function_namespace.py
  plugins/modules/spotinst_aws_elastigroup.py
  plugins/modules/stacki_host.py
  plugins/modules/timezone.py
  plugins/modules/utm_proxy_location.py
  plugins/modules/utm_proxy_location_info.py
  plugins/modules/xenserver_facts.py
  plugins/modules/xenserver_guest.py
  plugins/modules/xfconf.py
Labels: module, plugins, docs, needs_maintainer, redhat_subscription, backport-7

#7440 Disable ansible_galaxy_install tests until Galaxy is fixed
  tests/integration/targets/ansible_galaxy_install/aliases
Labels: backport-5, backport-6, backport-7

#7446 Revert "Disable ansible_galaxy_install tests until Galaxy is fixed (#7440)"
  tests/integration/targets/ansible_galaxy_install/aliases
Labels: tests, integration, small_patch, backport-5, backport-6, backport-7

#7450 CI: make sure that Python 2.7 unit tests also run with AZP
  .azure-pipelines/azure-pipelines.yml
Labels: small_patch, backport-7

#7444 Improve docsite extra docs
  docs/docsite/rst/filter_guide_abstract_informations_counting_elements_in_sequence.rst
  docs/docsite/rst/filter_guide_abstract_informations_dictionaries.rst
  docs/docsite/rst/filter_guide_abstract_informations_grouping.rst
  docs/docsite/rst/filter_guide_abstract_informations_merging_lists_of_dictionaries.rst
  docs/docsite/rst/filter_guide_conversions.rst
  docs/docsite/rst/filter_guide_creating_identifiers.rst
  docs/docsite/rst/filter_guide_paths.rst
  docs/docsite/rst/filter_guide_selecting_json_data.rst
  docs/docsite/rst/filter_guide_working_with_times.rst
  docs/docsite/rst/filter_guide_working_with_unicode.rst
  docs/docsite/rst/filter_guide_working_with_versions.rst
  docs/docsite/rst/test_guide.rst
Labels: docs, docs_only, backport-7
