Repository ansible-collections/community.general, pull requests merged in 2023-02, with the labels that each got.

#5928 Replace missing default favicon with docs.ansible.com favicon
  changelogs/fragments/5928-fix-favicon-url.yml
  plugins/modules/mattermost.py
  plugins/modules/rocketchat.py
  plugins/modules/slack.py
  tests/unit/plugins/modules/test_slack.py
Labels: bug, module, tests, unit, new_contributor, plugins, notification, backport-6

#5933 Fix pylint errors
  changelogs/fragments/5933-linting.yml
  plugins/modules/gconftool2.py
  plugins/modules/pritunl_org.py
  plugins/modules/pritunl_org_info.py
  plugins/modules/pritunl_user.py
  plugins/modules/pritunl_user_info.py
  plugins/modules/terraform.py
  plugins/modules/timezone.py
  plugins/modules/xfconf.py
Labels: bug, module, plugins, cloud, net_tools, system, backport-4, backport-5, backport-6

#5938 [stable-5] Fix pylint errors
  changelogs/fragments/5933-linting.yml
  plugins/modules/cloud/misc/terraform.py
  plugins/modules/net_tools/pritunl/pritunl_org.py
  plugins/modules/net_tools/pritunl/pritunl_org_info.py
  plugins/modules/net_tools/pritunl/pritunl_user.py
  plugins/modules/net_tools/pritunl/pritunl_user_info.py
  plugins/modules/system/timezone.py
  plugins/modules/system/xfconf.py
Labels: bug, module, plugins, backport

#5939 [stable-4] Fix pylint errors
  changelogs/fragments/5933-linting.yml
  plugins/modules/cloud/misc/terraform.py
  plugins/modules/net_tools/pritunl/pritunl_org.py
  plugins/modules/net_tools/pritunl/pritunl_org_info.py
  plugins/modules/net_tools/pritunl/pritunl_user.py
  plugins/modules/net_tools/pritunl/pritunl_user_info.py
  plugins/modules/system/timezone.py
  plugins/modules/system/xfconf.py
Labels: bug, module, plugins, backport

#5930 Align 'gitlab_runner' with GitLab's default access level.
  changelogs/fragments/5925-align_gitlab_runner_access_level_default_with_gitlab.yml
  plugins/modules/gitlab_runner.py
Labels: feature, module, plugins, gitlab, source_control, check-before-release, backport-6

#5940 Remove unneccessary imports
  changelogs/fragments/remove-unneeded-imports.yml
  plugins/cache/memcached.py
  plugins/cache/redis.py
  plugins/callback/counter_enabled.py
  plugins/callback/diy.py
  plugins/callback/loganalytics.py
  plugins/callback/mail.py
  plugins/callback/nrdp.py
  plugins/callback/syslog_json.py
  plugins/callback/yaml.py
  plugins/filter/jc.py
  plugins/filter/lists_mergeby.py
  plugins/inventory/linode.py
  plugins/inventory/lxd.py
  plugins/inventory/online.py
  plugins/lookup/consul_kv.py
  plugins/lookup/credstash.py
  plugins/lookup/cyberarkpassword.py
  plugins/lookup/etcd3.py
  plugins/lookup/hiera.py
  plugins/lookup/manifold.py
  plugins/lookup/redis.py
  plugins/module_utils/dimensiondata.py
  plugins/module_utils/influxdb.py
  plugins/module_utils/mh/module_helper.py
  plugins/module_utils/module_helper.py
  plugins/module_utils/oneview.py
  plugins/module_utils/oracle/oci_utils.py
  plugins/module_utils/proxmox.py
  plugins/module_utils/pure.py
  plugins/module_utils/version.py
  plugins/modules/gitlab_project_variable.py
  plugins/modules/jenkins_plugin.py
  plugins/modules/keycloak_authentication.py
  plugins/modules/keycloak_client_rolemapping.py
  plugins/modules/keycloak_clientscope.py
  plugins/modules/keycloak_user_rolemapping.py
  plugins/modules/lxc_container.py
  plugins/modules/macports.py
  plugins/modules/manageiq_policies_info.py
  plugins/modules/mas.py
  plugins/modules/memset_zone_record.py
  plugins/modules/mksysb.py
  plugins/modules/ocapi_command.py
  plugins/modules/ocapi_info.py
  plugins/modules/packet_device.py
  plugins/modules/scaleway_compute.py
  plugins/modules/scaleway_container.py
  plugins/modules/scaleway_container_info.py
  plugins/modules/scaleway_container_namespace.py
  plugins/modules/scaleway_container_namespace_info.py
  plugins/modules/scaleway_container_registry.py
  plugins/modules/scaleway_container_registry_info.py
  plugins/modules/scaleway_function.py
  plugins/modules/scaleway_function_info.py
  plugins/modules/scaleway_function_namespace.py
  plugins/modules/scaleway_function_namespace_info.py
  plugins/modules/scaleway_security_group_rule.py
  plugins/modules/xenserver_guest_info.py
  plugins/modules/xenserver_guest_powerstate.py
Labels: bug, needs_revision, needs_rebase, backport-4, backport-5, backport-6

#5977 [stable-5] Remove unneccessary imports
  changelogs/fragments/remove-unneeded-imports.yml
  plugins/cache/memcached.py
  plugins/cache/redis.py
  plugins/callback/counter_enabled.py
  plugins/callback/diy.py
  plugins/callback/loganalytics.py
  plugins/callback/mail.py
  plugins/callback/nrdp.py
  plugins/callback/syslog_json.py
  plugins/callback/yaml.py
  plugins/filter/jc.py
  plugins/filter/lists_mergeby.py
  plugins/inventory/linode.py
  plugins/inventory/lxd.py
  plugins/inventory/online.py
  plugins/lookup/consul_kv.py
  plugins/lookup/cyberarkpassword.py
  plugins/lookup/etcd3.py
  plugins/lookup/manifold.py
  plugins/lookup/redis.py
  plugins/module_utils/dimensiondata.py
  plugins/module_utils/influxdb.py
  plugins/module_utils/mh/module_helper.py
  plugins/module_utils/module_helper.py
  plugins/module_utils/oneview.py
  plugins/module_utils/oracle/oci_utils.py
  plugins/module_utils/proxmox.py
  plugins/module_utils/pure.py
  plugins/module_utils/version.py
  plugins/modules/cloud/lxc/lxc_container.py
  plugins/modules/cloud/memset/memset_zone_record.py
  plugins/modules/cloud/packet/packet_device.py
  plugins/modules/cloud/scaleway/scaleway_compute.py
  plugins/modules/cloud/scaleway/scaleway_container_registry.py
  plugins/modules/cloud/scaleway/scaleway_container_registry_info.py
  plugins/modules/cloud/scaleway/scaleway_security_group_rule.py
  plugins/modules/cloud/xenserver/xenserver_guest_info.py
  plugins/modules/cloud/xenserver/xenserver_guest_powerstate.py
  plugins/modules/identity/keycloak/keycloak_authentication.py
  plugins/modules/identity/keycloak/keycloak_client_rolemapping.py
  plugins/modules/identity/keycloak/keycloak_clientscope.py
  plugins/modules/identity/keycloak/keycloak_user_rolemapping.py
  plugins/modules/packaging/os/macports.py
  plugins/modules/packaging/os/mas.py
  plugins/modules/remote_management/manageiq/manageiq_policies_info.py
  plugins/modules/source_control/gitlab/gitlab_project_variable.py
Labels: bug, module, lookup, callback, cache, filter, inventory, module_utils, plugins, cloud, backport-4, backport

#5981 Ignore more unnecessary import warnings
  plugins/module_utils/mh/module_helper.py
  plugins/module_utils/module_helper.py
  plugins/modules/pubnub_blocks.py
Labels: bug, module, module_utils, plugins, cloud, backport-5, backport-6

#5931 Suppress urllib3 InsecureRequestWarnings when `validate_certs` option is false
  changelogs/fragments/5915-suppress-urllib3-insecure-request-warnings.yml
  plugins/inventory/proxmox.py
Labels: stale_ci, new_contributor, inventory, plugins, backport-6

#5885 Remove skornehl as maintainer for datadog_monitor
  .github/BOTMETA.yml
Labels: stale_ci, small_patch, docs, backport-6

#5989 Update gitlab_project_members.py - typo fix
  plugins/modules/gitlab_project_members.py
Labels: module, new_contributor, small_patch, plugins, docs, gitlab, source_control, docs_only, backport-4, backport-5, backport-6

#5829 yarn: Fix state=latest not working with global=true
  changelogs/fragments/5829-fix-yarn-global.yml
  plugins/modules/yarn.py
  tests/integration/targets/yarn/tasks/run.yml
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.12.txt
  tests/sanity/ignore-2.13.txt
  tests/sanity/ignore-2.14.txt
  tests/sanity/ignore-2.15.txt
Labels: bug, module, tests, integration, plugins, packaging, language, backport-5, backport-6

#5927 Set User-Agent for API requests to DNSimple
  changelogs/fragments/5927-set-user-agent-dnsimple.yml
  plugins/modules/dnsimple.py
Labels: module, stale_ci, new_contributor, plugins, docs, net_tools, backport-6

#5900 Adding VerifyBiosAttributes functionality
  .github/BOTMETA.yml
  changelogs/fragments/5900-adding-verifybiosattribute-fucntionality-to-redfish-command.yml
  plugins/module_utils/redfish_utils.py
  plugins/modules/redfish_command.py
Labels: feature, module, module_utils, plugins, remote_management, check-before-release, backport-6

#5899 Adding EnableSecureBoot functionality
  changelogs/fragments/5899-adding-enablesecureboot-functionality-to-redfish-config.yml
  plugins/module_utils/redfish_utils.py
  plugins/modules/redfish_config.py
Labels: feature, module, module_utils, plugins, remote_management, backport-6

#6013 Disable Arch Linux tests for now
  .azure-pipelines/azure-pipelines.yml
Labels: small_patch, backport-4, backport-5, backport-6

#5947 Add attributes to git* modules
  plugins/modules/git_config.py
  plugins/modules/github_deploy_key.py
  plugins/modules/github_issue.py
  plugins/modules/github_key.py
  plugins/modules/github_release.py
  plugins/modules/github_repo.py
  plugins/modules/github_webhook.py
  plugins/modules/gitlab_branch.py
  plugins/modules/gitlab_deploy_key.py
  plugins/modules/gitlab_group.py
  plugins/modules/gitlab_group_members.py
  plugins/modules/gitlab_group_variable.py
  plugins/modules/gitlab_hook.py
  plugins/modules/gitlab_project.py
  plugins/modules/gitlab_project_members.py
  plugins/modules/gitlab_project_variable.py
  plugins/modules/gitlab_protected_branch.py
  plugins/modules/gitlab_runner.py
  plugins/modules/gitlab_user.py
Labels: module, plugins, docs, gitlab, source_control, shipit, docs_only, backport-6

#5958 Add attributes to atomic, memset, one, oneview, packet, proxmox, and xenserver modules
  plugins/modules/atomic_container.py
  plugins/modules/atomic_host.py
  plugins/modules/atomic_image.py
  plugins/modules/memset_dns_reload.py
  plugins/modules/memset_zone.py
  plugins/modules/memset_zone_domain.py
  plugins/modules/memset_zone_record.py
  plugins/modules/one_host.py
  plugins/modules/one_image.py
  plugins/modules/one_service.py
  plugins/modules/one_template.py
  plugins/modules/one_vm.py
  plugins/modules/oneview_ethernet_network.py
  plugins/modules/oneview_fc_network.py
  plugins/modules/oneview_fcoe_network.py
  plugins/modules/oneview_logical_interconnect_group.py
  plugins/modules/oneview_network_set.py
  plugins/modules/oneview_san_manager.py
  plugins/modules/packet_device.py
  plugins/modules/packet_ip_subnet.py
  plugins/modules/packet_project.py
  plugins/modules/packet_sshkey.py
  plugins/modules/packet_volume.py
  plugins/modules/packet_volume_attachment.py
  plugins/modules/proxmox.py
  plugins/modules/proxmox_disk.py
  plugins/modules/proxmox_kvm.py
  plugins/modules/proxmox_nic.py
  plugins/modules/proxmox_snap.py
  plugins/modules/proxmox_template.py
  plugins/modules/xenserver_guest.py
  plugins/modules/xenserver_guest_powerstate.py
Labels: module, stale_ci, plugins, cloud, docs, remote_management, docs_only, backport-6

#5961 Add attributes to remove management modules
  plugins/modules/hpilo_boot.py
  plugins/modules/idrac_redfish_command.py
  plugins/modules/idrac_redfish_config.py
  plugins/modules/ilo_redfish_config.py
  plugins/modules/ipmi_boot.py
  plugins/modules/ipmi_power.py
  plugins/modules/ocapi_command.py
  plugins/modules/redfish_command.py
  plugins/modules/redfish_config.py
  plugins/modules/wdc_redfish_command.py
  plugins/modules/xcc_redfish_command.py
Labels: module, stale_ci, plugins, docs, remote_management, docs_only, backport-6

#5964 Add attributes to various basic modules
  plugins/modules/alternatives.py
  plugins/modules/archive.py
  plugins/modules/cronvar.py
  plugins/modules/crypttab.py
  plugins/modules/dconf.py
  plugins/modules/gconftool2.py
  plugins/modules/homectl.py
  plugins/modules/ini_file.py
  plugins/modules/interfaces_file.py
  plugins/modules/java_cert.py
  plugins/modules/java_keystore.py
  plugins/modules/kernel_blacklist.py
  plugins/modules/keyring.py
  plugins/modules/launchd.py
  plugins/modules/locale_gen.py
  plugins/modules/make.py
  plugins/modules/mksysb.py
  plugins/modules/modprobe.py
  plugins/modules/nmcli.py
  plugins/modules/osx_defaults.py
  plugins/modules/pam_limits.py
  plugins/modules/pamd.py
  plugins/modules/read_csv.py
  plugins/modules/sefcontext.py
  plugins/modules/selinux_permissive.py
  plugins/modules/selogin.py
  plugins/modules/seport.py
  plugins/modules/ssh_config.py
  plugins/modules/sudoers.py
  plugins/modules/sysrc.py
  plugins/modules/timezone.py
  plugins/modules/ufw.py
  plugins/modules/xattr.py
  plugins/modules/xfconf.py
  plugins/modules/xml.py
Labels: module, plugins, docs, files, net_tools, system, docs_only, backport-6

#5965 Add attributes to more modules (1/4)
  plugins/doc_fragments/hpe3par.py
  plugins/modules/ali_instance.py
  plugins/modules/deploy_helper.py
  plugins/modules/heroku_collaborator.py
  plugins/modules/honeybadger_deployment.py
  plugins/modules/hponcfg.py
  plugins/modules/imc_rest.py
  plugins/modules/imgadm.py
  plugins/modules/infinity.py
  plugins/modules/ip_netns.py
  plugins/modules/ipwcli_dns.py
  plugins/modules/linode.py
  plugins/modules/linode_v4.py
  plugins/modules/lxc_container.py
  plugins/modules/netcup_dns.py
  plugins/modules/ohai.py
  plugins/modules/omapi_host.py
  plugins/modules/open_iscsi.py
  plugins/modules/opendj_backendprop.py
  plugins/modules/openwrt_init.py
  plugins/modules/pacemaker_cluster.py
  plugins/modules/pmem.py
  plugins/modules/pubnub_blocks.py
  plugins/modules/pulp_repo.py
  plugins/modules/puppet.py
  plugins/modules/pushbullet.py
  plugins/modules/pushover.py
  plugins/modules/serverless.py
  plugins/modules/sl_vm.py
  plugins/modules/ss_3par_cpg.py
  plugins/modules/vdo.py
  plugins/modules/vexata_eg.py
  plugins/modules/vexata_volume.py
  plugins/modules/wakeonlan.py
  plugins/modules/znode.py
Labels: module, docs_fragments, plugins, cloud, docs, monitoring, net_tools, os, packaging, system, notification, clustering, identity, remote_management, storage, web_infrastructure, shipit, backport-6

#5966 Add attributes to more modules (2/4)
  plugins/modules/aerospike_migrations.py
  plugins/modules/airbrake_deployment.py
  plugins/modules/alerta_customer.py
  plugins/modules/awall.py
  plugins/modules/bearychat.py
  plugins/modules/bigpanda.py
  plugins/modules/capabilities.py
  plugins/modules/catapult.py
  plugins/modules/circonus_annotation.py
  plugins/modules/cloudflare_dns.py
  plugins/modules/django_manage.py
  plugins/modules/dnsimple.py
  plugins/modules/dnsmadeeasy.py
  plugins/modules/ejabberd_user.py
  plugins/modules/elasticsearch_plugin.py
  plugins/modules/emc_vnx_sg_member.py
  plugins/modules/facter.py
  plugins/modules/flowdock.py
  plugins/modules/gandi_livedns.py
  plugins/modules/grove.py
  plugins/modules/gunicorn.py
  plugins/modules/haproxy.py
  plugins/modules/htpasswd.py
  plugins/modules/iso_create.py
  plugins/modules/iso_customize.py
  plugins/modules/iso_extract.py
  plugins/modules/jboss.py
  plugins/modules/jira.py
  plugins/modules/kibana_plugin.py
  plugins/modules/lbu.py
  plugins/modules/lldp.py
  plugins/modules/logstash_plugin.py
Labels: module, database, plugins, docs, files, monitoring, net_tools, system, notification, storage, web_infrastructure, shipit, needs_maintainer, docs_only, backport-6

#5967 Add attributes to more modules (3/4)
  plugins/modules/mas.py
  plugins/modules/maven_artifact.py
  plugins/modules/monit.py
  plugins/modules/mqtt.py
  plugins/modules/nagios.py
  plugins/modules/newrelic_deployment.py
  plugins/modules/nexmo.py
  plugins/modules/nictagadm.py
  plugins/modules/nomad_job.py
  plugins/modules/nosh.py
  plugins/modules/nsupdate.py
  plugins/modules/oci_vcn.py
  plugins/modules/office_365_connector_card.py
  plugins/modules/pids.py
  plugins/modules/pingdom.py
  plugins/modules/redhat_subscription.py
  plugins/modules/rhevm.py
  plugins/modules/rhn_channel.py
  plugins/modules/rhn_register.py
  plugins/modules/rhsm_release.py
  plugins/modules/rhsm_repository.py
  plugins/modules/rollbar_deployment.py
  plugins/modules/runit.py
Labels: module, plugins, cloud, docs, monitoring, net_tools, os, packaging, system, notification, clustering, language, needs_maintainer, docs_only, backport-6

#5968 Add attributes to more modules (4/4)
  plugins/modules/solaris_zone.py
  plugins/modules/sorcery.py
  plugins/modules/spotinst_aws_elastigroup.py
  plugins/modules/stackdriver.py
  plugins/modules/stacki_host.py
  plugins/modules/statsd.py
  plugins/modules/statusio_maintenance.py
  plugins/modules/supervisorctl.py
  plugins/modules/svc.py
  plugins/modules/swdepot.py
  plugins/modules/swupd.py
  plugins/modules/terraform.py
  plugins/modules/uptimerobot.py
  plugins/modules/urpmi.py
  plugins/modules/vmadm.py
Labels: module, stale_ci, plugins, cloud, docs, monitoring, os, packaging, system, remote_management, web_infrastructure, docs_only, backport-6

#5969 Check mode has only been added for some _info and _facts modules in a bugfix
  plugins/modules/ali_instance_info.py
  plugins/modules/idrac_redfish_info.py
  plugins/modules/memset_memstore_info.py
  plugins/modules/memset_server_info.py
  plugins/modules/oneview_datacenter_info.py
  plugins/modules/oneview_enclosure_info.py
  plugins/modules/oneview_ethernet_network_info.py
  plugins/modules/oneview_fc_network_info.py
  plugins/modules/oneview_fcoe_network_info.py
  plugins/modules/oneview_logical_interconnect_group_info.py
  plugins/modules/oneview_network_set_info.py
  plugins/modules/oneview_san_manager_info.py
  plugins/modules/rax_facts.py
  plugins/modules/redfish_info.py
  plugins/modules/smartos_image_info.py
  plugins/modules/snmp_facts.py
  plugins/modules/utm_aaa_group_info.py
  plugins/modules/utm_ca_host_key_cert_info.py
  plugins/modules/utm_network_interface_address_info.py
  plugins/modules/utm_proxy_frontend_info.py
  plugins/modules/utm_proxy_location_info.py
  plugins/modules/xenserver_facts.py
  plugins/modules/xfconf_info.py
Labels: module, stale_ci, plugins, cloud, docs, net_tools, system, remote_management, web_infrastructure, docs_only, backport-6

#6026 [stable-6] Check mode has only been added for some _info and _facts modules in a bugfix
  plugins/modules/ali_instance_info.py
  plugins/modules/idrac_redfish_info.py
  plugins/modules/memset_memstore_info.py
  plugins/modules/memset_server_info.py
  plugins/modules/oneview_datacenter_info.py
  plugins/modules/oneview_enclosure_info.py
  plugins/modules/oneview_ethernet_network_info.py
  plugins/modules/oneview_fc_network_info.py
  plugins/modules/oneview_fcoe_network_info.py
  plugins/modules/oneview_logical_interconnect_group_info.py
  plugins/modules/oneview_network_set_info.py
  plugins/modules/oneview_san_manager_info.py
  plugins/modules/rax_facts.py
  plugins/modules/redfish_info.py
  plugins/modules/smartos_image_info.py
  plugins/modules/snmp_facts.py
  plugins/modules/utm_aaa_group_info.py
  plugins/modules/utm_ca_host_key_cert_info.py
  plugins/modules/utm_network_interface_address_info.py
  plugins/modules/utm_proxy_frontend_info.py
  plugins/modules/utm_proxy_location_info.py
  plugins/modules/xenserver_facts.py
  plugins/modules/xfconf_info.py
Labels: module, plugins, cloud, docs, net_tools, system, remote_management, web_infrastructure, docs_only, backport

#5866 `lxd_container`: add check- and diff-mode support
  changelogs/fragments/5866-lxd_container-diff-and-check-mode.yml
  plugins/modules/lxd_container.py
  plugins/modules/lxd_profile.py
Labels: feature, module, stale_ci, new_contributor, plugins, cloud, check-before-release, backport-6

#5951 Add attributes for modules with action plugin
  plugins/modules/iptables_state.py
  plugins/modules/shutdown.py
Labels: module, stale_ci, plugins, docs, system, docs_only, backport-6

#5942 onepassword: ignore errors from "op account get"
  changelogs/fragments/5942-onepassword-ignore-errors-from-op-account-get.yml
  plugins/lookup/onepassword.py
Labels: bug, lookup, new_contributor, plugins, check-before-release, backport-5, backport-6

#6041 onepassword lookup: fix unit tests
  tests/unit/plugins/lookup/onepassword/test_onepassword_cli_v2.py
Labels: tests, unit, backport-6

#6043 JC: Add plugin parser functionality to JC Filter Plugin
  changelogs/fragments/6043-jc_plugin_parser_support.yml
  plugins/filter/jc.py
Labels: feature, has_issue, filter, plugins, check-before-release, backport-6

#5431 nmcli: two fixes needed to make wifi.wake-on-wlan settings work properly
  changelogs/fragments/5431-nmcli-wifi.yml
  plugins/modules/nmcli.py
Labels: bug, module, new_contributor, plugins, net_tools, backport-5, backport-6

#5948 Add attributes to oneandone, ovh, and rackspace modules
  plugins/modules/oneandone_firewall_policy.py
  plugins/modules/oneandone_load_balancer.py
  plugins/modules/oneandone_monitoring_policy.py
  plugins/modules/oneandone_private_network.py
  plugins/modules/oneandone_public_ip.py
  plugins/modules/oneandone_server.py
  plugins/modules/ovh_ip_failover.py
  plugins/modules/ovh_ip_loadbalancing_backend.py
  plugins/modules/ovh_monthly_billing.py
  plugins/modules/rax.py
  plugins/modules/rax_cbs.py
  plugins/modules/rax_cbs_attachments.py
  plugins/modules/rax_cdb.py
  plugins/modules/rax_cdb_database.py
  plugins/modules/rax_cdb_user.py
  plugins/modules/rax_clb.py
  plugins/modules/rax_clb_nodes.py
  plugins/modules/rax_clb_ssl.py
  plugins/modules/rax_dns.py
  plugins/modules/rax_dns_record.py
  plugins/modules/rax_files.py
  plugins/modules/rax_files_objects.py
  plugins/modules/rax_identity.py
  plugins/modules/rax_keypair.py
  plugins/modules/rax_meta.py
  plugins/modules/rax_mon_alarm.py
  plugins/modules/rax_mon_check.py
  plugins/modules/rax_mon_entity.py
  plugins/modules/rax_mon_notification.py
  plugins/modules/rax_mon_notification_plan.py
  plugins/modules/rax_network.py
  plugins/modules/rax_queue.py
  plugins/modules/rax_scaling_group.py
  plugins/modules/rax_scaling_policy.py
Labels: module, stale_ci, plugins, cloud, docs, docs_only, backport-6

#5949 Add attributes to scaleway and profitbricks modules
  plugins/modules/profitbricks.py
  plugins/modules/profitbricks_datacenter.py
  plugins/modules/profitbricks_nic.py
  plugins/modules/profitbricks_volume.py
  plugins/modules/profitbricks_volume_attachments.py
  plugins/modules/scaleway_compute.py
  plugins/modules/scaleway_compute_private_network.py
  plugins/modules/scaleway_container.py
  plugins/modules/scaleway_container_info.py
  plugins/modules/scaleway_container_namespace.py
  plugins/modules/scaleway_container_registry.py
  plugins/modules/scaleway_database_backup.py
  plugins/modules/scaleway_function.py
  plugins/modules/scaleway_function_namespace.py
  plugins/modules/scaleway_ip.py
  plugins/modules/scaleway_lb.py
  plugins/modules/scaleway_private_network.py
  plugins/modules/scaleway_security_group.py
  plugins/modules/scaleway_security_group_rule.py
  plugins/modules/scaleway_sshkey.py
  plugins/modules/scaleway_user_data.py
  plugins/modules/scaleway_volume.py
Labels: module, stale_ci, plugins, cloud, docs, docs_only, backport-6

#5952 Add attributes to clc, hwc, and lxd modules
  plugins/modules/clc_aa_policy.py
  plugins/modules/clc_alert_policy.py
  plugins/modules/clc_blueprint_package.py
  plugins/modules/clc_firewall_policy.py
  plugins/modules/clc_group.py
  plugins/modules/clc_loadbalancer.py
  plugins/modules/clc_modify_server.py
  plugins/modules/clc_publicip.py
  plugins/modules/clc_server.py
  plugins/modules/clc_server_snapshot.py
  plugins/modules/hwc_ecs_instance.py
  plugins/modules/hwc_evs_disk.py
  plugins/modules/hwc_network_vpc.py
  plugins/modules/hwc_smn_topic.py
  plugins/modules/hwc_vpc_eip.py
  plugins/modules/hwc_vpc_peering_connect.py
  plugins/modules/hwc_vpc_port.py
  plugins/modules/hwc_vpc_private_ip.py
  plugins/modules/hwc_vpc_route.py
  plugins/modules/hwc_vpc_security_group.py
  plugins/modules/hwc_vpc_security_group_rule.py
  plugins/modules/hwc_vpc_subnet.py
  plugins/modules/lxd_container.py
  plugins/modules/lxd_profile.py
  plugins/modules/lxd_project.py
Labels: module, plugins, cloud, docs, docs_only, backport-6

#5953 Add attributes to some database modules
  plugins/modules/etcd3.py
  plugins/modules/influxdb_database.py
  plugins/modules/influxdb_query.py
  plugins/modules/influxdb_retention_policy.py
  plugins/modules/influxdb_user.py
  plugins/modules/influxdb_write.py
  plugins/modules/ldap_attrs.py
  plugins/modules/ldap_entry.py
  plugins/modules/ldap_passwd.py
  plugins/modules/ldap_search.py
  plugins/modules/mssql_db.py
  plugins/modules/mssql_script.py
  plugins/modules/odbc.py
  plugins/modules/redis.py
  plugins/modules/redis_data.py
  plugins/modules/redis_data_incr.py
  plugins/modules/riak.py
  plugins/modules/vertica_configuration.py
  plugins/modules/vertica_role.py
  plugins/modules/vertica_schema.py
  plugins/modules/vertica_user.py
Labels: module, stale_ci, database, plugins, docs, net_tools, clustering, docs_only, backport-6

#5955 Add attributes to manageiq, udm, utm, and webfaction modules
  plugins/modules/manageiq_alert_profiles.py
  plugins/modules/manageiq_alerts.py
  plugins/modules/manageiq_group.py
  plugins/modules/manageiq_policies.py
  plugins/modules/manageiq_provider.py
  plugins/modules/manageiq_tags.py
  plugins/modules/manageiq_tenant.py
  plugins/modules/manageiq_user.py
  plugins/modules/udm_dns_record.py
  plugins/modules/udm_dns_zone.py
  plugins/modules/udm_group.py
  plugins/modules/udm_share.py
  plugins/modules/udm_user.py
  plugins/modules/utm_aaa_group.py
  plugins/modules/utm_ca_host_key_cert.py
  plugins/modules/utm_dns_host.py
  plugins/modules/utm_network_interface_address.py
  plugins/modules/utm_proxy_auth_profile.py
  plugins/modules/utm_proxy_exception.py
  plugins/modules/utm_proxy_frontend.py
  plugins/modules/utm_proxy_location.py
  plugins/modules/webfaction_app.py
  plugins/modules/webfaction_db.py
  plugins/modules/webfaction_domain.py
  plugins/modules/webfaction_mailbox.py
  plugins/modules/webfaction_site.py
Labels: module, stale_ci, plugins, cloud, docs, remote_management, web_infrastructure, docs_only, backport-6

#5956 Add attributes to source control modules
  plugins/modules/bitbucket_access_key.py
  plugins/modules/bitbucket_pipeline_key_pair.py
  plugins/modules/bitbucket_pipeline_known_host.py
  plugins/modules/bitbucket_pipeline_variable.py
  plugins/modules/bzr.py
  plugins/modules/hg.py
Labels: module, stale_ci, plugins, docs, source_control, docs_only, backport-6

#5957 Add attributes to consul, datadog, jenkins, pagerduty, rundeck, and sensu modules
  plugins/modules/consul.py
  plugins/modules/consul_acl.py
  plugins/modules/consul_kv.py
  plugins/modules/consul_session.py
  plugins/modules/datadog_downtime.py
  plugins/modules/datadog_event.py
  plugins/modules/datadog_monitor.py
  plugins/modules/jenkins_build.py
  plugins/modules/jenkins_job.py
  plugins/modules/jenkins_plugin.py
  plugins/modules/jenkins_script.py
  plugins/modules/pagerduty.py
  plugins/modules/pagerduty_alert.py
  plugins/modules/pagerduty_change.py
  plugins/modules/pagerduty_user.py
  plugins/modules/rundeck_acl_policy.py
  plugins/modules/rundeck_job_run.py
  plugins/modules/rundeck_project.py
  plugins/modules/sensu_check.py
  plugins/modules/sensu_client.py
  plugins/modules/sensu_handler.py
  plugins/modules/sensu_silence.py
  plugins/modules/sensu_subscription.py
Labels: module, stale_ci, plugins, docs, monitoring, clustering, web_infrastructure, needs_maintainer, docs_only, backport-6

#5959 Add attributes to aix and ibm modules
  plugins/modules/aix_devices.py
  plugins/modules/aix_filesystem.py
  plugins/modules/aix_inittab.py
  plugins/modules/aix_lvg.py
  plugins/modules/aix_lvol.py
  plugins/modules/ibm_sa_domain.py
  plugins/modules/ibm_sa_host.py
  plugins/modules/ibm_sa_host_ports.py
  plugins/modules/ibm_sa_pool.py
  plugins/modules/ibm_sa_vol.py
  plugins/modules/ibm_sa_vol_map.py
Labels: module, stale_ci, plugins, docs, system, storage, docs_only, backport-6

#5963 Add attributes to apache2, cobbler, dimensiondata, icinga2, lxca, pritunl, and spectrum modules
  plugins/modules/apache2_mod_proxy.py
  plugins/modules/apache2_module.py
  plugins/modules/cobbler_sync.py
  plugins/modules/cobbler_system.py
  plugins/modules/dimensiondata_network.py
  plugins/modules/dimensiondata_vlan.py
  plugins/modules/icinga2_feature.py
  plugins/modules/icinga2_host.py
  plugins/modules/lxca_cmms.py
  plugins/modules/lxca_nodes.py
  plugins/modules/pritunl_org.py
  plugins/modules/pritunl_user.py
  plugins/modules/spectrum_device.py
  plugins/modules/spectrum_model_attrs.py
Labels: module, stale_ci, plugins, cloud, docs, monitoring, net_tools, remote_management, web_infrastructure, docs_only, backport-6

#5962 Add attributes to some messaging modules
  plugins/modules/campfire.py
  plugins/modules/cisco_webex.py
  plugins/modules/discord.py
  plugins/modules/hipchat.py
  plugins/modules/irc.py
  plugins/modules/jabber.py
  plugins/modules/librato_annotation.py
  plugins/modules/logentries.py
  plugins/modules/logentries_msg.py
  plugins/modules/mail.py
  plugins/modules/matrix.py
  plugins/modules/mattermost.py
  plugins/modules/rocketchat.py
  plugins/modules/say.py
  plugins/modules/sendgrid.py
  plugins/modules/slack.py
  plugins/modules/syslogger.py
  plugins/modules/taiga_issue.py
  plugins/modules/telegram.py
  plugins/modules/twilio.py
  plugins/modules/typetalk.py
Labels: module, stale_ci, plugins, docs, monitoring, notification, web_infrastructure, needs_maintainer, docs_only, backport-6

#5960 Add attributes to some filesystem modules
  plugins/modules/beadm.py
  plugins/modules/filesize.py
  plugins/modules/filesystem.py
  plugins/modules/lvg.py
  plugins/modules/lvol.py
  plugins/modules/parted.py
  plugins/modules/xfs_quota.py
  plugins/modules/zfs.py
  plugins/modules/zfs_delegate_admin.py
Labels: module, stale_ci, plugins, docs, files, system, storage, docs_only, backport-6

#5954 Add attributes to package manager modules
  plugins/modules/ansible_galaxy_install.py
  plugins/modules/apk.py
  plugins/modules/apt_repo.py
  plugins/modules/apt_rpm.py
  plugins/modules/bower.py
  plugins/modules/bundler.py
  plugins/modules/cargo.py
  plugins/modules/composer.py
  plugins/modules/copr.py
  plugins/modules/cpanm.py
  plugins/modules/dnf_versionlock.py
  plugins/modules/dpkg_divert.py
  plugins/modules/easy_install.py
  plugins/modules/flatpak.py
  plugins/modules/flatpak_remote.py
  plugins/modules/gem.py
  plugins/modules/homebrew.py
  plugins/modules/homebrew_cask.py
  plugins/modules/homebrew_tap.py
  plugins/modules/installp.py
  plugins/modules/layman.py
  plugins/modules/macports.py
  plugins/modules/npm.py
  plugins/modules/openbsd_pkg.py
  plugins/modules/opkg.py
  plugins/modules/pacman.py
  plugins/modules/pacman_key.py
  plugins/modules/pear.py
  plugins/modules/pipx.py
  plugins/modules/pkg5.py
  plugins/modules/pkg5_publisher.py
  plugins/modules/pkgin.py
  plugins/modules/pkgng.py
  plugins/modules/pkgutil.py
  plugins/modules/portage.py
  plugins/modules/portinstall.py
  plugins/modules/rpm_ostree_pkg.py
  plugins/modules/slackpkg.py
  plugins/modules/snap.py
  plugins/modules/snap_alias.py
  plugins/modules/svr4pkg.py
  plugins/modules/syspatch.py
  plugins/modules/sysupgrade.py
  plugins/modules/xbps.py
  plugins/modules/yarn.py
  plugins/modules/yum_versionlock.py
  plugins/modules/zypper.py
  plugins/modules/zypper_repository.py
Labels: module, stale_ci, plugins, docs, os, packaging, system, language, needs_maintainer, docs_only, backport-6

#5950 Add attributes to ipa and keycloak modules
  plugins/modules/ipa_config.py
  plugins/modules/ipa_dnsrecord.py
  plugins/modules/ipa_dnszone.py
  plugins/modules/ipa_group.py
  plugins/modules/ipa_hbacrule.py
  plugins/modules/ipa_host.py
  plugins/modules/ipa_hostgroup.py
  plugins/modules/ipa_otpconfig.py
  plugins/modules/ipa_otptoken.py
  plugins/modules/ipa_pwpolicy.py
  plugins/modules/ipa_role.py
  plugins/modules/ipa_service.py
  plugins/modules/ipa_subca.py
  plugins/modules/ipa_sudocmd.py
  plugins/modules/ipa_sudocmdgroup.py
  plugins/modules/ipa_sudorule.py
  plugins/modules/ipa_user.py
  plugins/modules/ipa_vault.py
  plugins/modules/keycloak_authentication.py
  plugins/modules/keycloak_client.py
  plugins/modules/keycloak_client_rolemapping.py
  plugins/modules/keycloak_clientscope.py
  plugins/modules/keycloak_clientsecret_regenerate.py
  plugins/modules/keycloak_clienttemplate.py
  plugins/modules/keycloak_group.py
  plugins/modules/keycloak_identity_provider.py
  plugins/modules/keycloak_realm.py
  plugins/modules/keycloak_role.py
  plugins/modules/keycloak_user_federation.py
  plugins/modules/keycloak_user_rolemapping.py
Labels: module, stale_ci, plugins, docs, identity, docs_only, backport-6

#6064 [stable-6] Add attributes to oneandone, ovh, and rackspace modules
  plugins/modules/oneandone_firewall_policy.py
  plugins/modules/oneandone_load_balancer.py
  plugins/modules/oneandone_monitoring_policy.py
  plugins/modules/oneandone_private_network.py
  plugins/modules/oneandone_public_ip.py
  plugins/modules/oneandone_server.py
  plugins/modules/ovh_ip_failover.py
  plugins/modules/ovh_ip_loadbalancing_backend.py
  plugins/modules/ovh_monthly_billing.py
  plugins/modules/rax.py
  plugins/modules/rax_cbs.py
  plugins/modules/rax_cbs_attachments.py
  plugins/modules/rax_cdb.py
  plugins/modules/rax_cdb_database.py
  plugins/modules/rax_cdb_user.py
  plugins/modules/rax_clb.py
  plugins/modules/rax_clb_nodes.py
  plugins/modules/rax_clb_ssl.py
  plugins/modules/rax_dns.py
  plugins/modules/rax_dns_record.py
  plugins/modules/rax_files.py
  plugins/modules/rax_files_objects.py
  plugins/modules/rax_identity.py
  plugins/modules/rax_keypair.py
  plugins/modules/rax_meta.py
  plugins/modules/rax_mon_alarm.py
  plugins/modules/rax_mon_check.py
  plugins/modules/rax_mon_entity.py
  plugins/modules/rax_mon_notification.py
  plugins/modules/rax_mon_notification_plan.py
  plugins/modules/rax_network.py
  plugins/modules/rax_queue.py
  plugins/modules/rax_scaling_group.py
  plugins/modules/rax_scaling_policy.py
Labels: module, plugins, cloud, docs, docs_only, backport

#6066 Add attributes to ocapi_info
  plugins/modules/ocapi_info.py
Labels: module, small_patch, plugins, docs, docs_only, backport-6

#6068 [stable-6] Add attributes to SAP modules
  plugins/modules/hana_query.py
  plugins/modules/sap_task_list_execute.py
  plugins/modules/sapcar_extract.py
Labels: module, plugins, docs, docs_only, backport

#6044 Run tests with EOL ansible-core versions in GHA
  .azure-pipelines/azure-pipelines.yml
  .github/workflows/ansible-test.yml
  README.md
  tests/utils/shippable/shippable.sh
Labels: needs_revision, tests, unit, backport-6

#6069 [stable-6] Run tests with EOL ansible-core versions in GHA
  .azure-pipelines/azure-pipelines.yml
  .github/workflows/ansible-test.yml
  README.md
  tests/utils/shippable/shippable.sh
Labels: bug, tests, unit, backport

#6070 [stable-5] Run tests with EOL ansible-core versions in GHA
  .azure-pipelines/azure-pipelines.yml
  .github/workflows/ansible-test.yml
  README.md
  tests/utils/shippable/shippable.sh
Labels: tests, unit, backport

#6071 [stable-4] Run tests with EOL ansible-core versions in GHA
  .azure-pipelines/azure-pipelines.yml
  .github/workflows/ansible-test.yml
  README.md
  tests/unit/requirements-2.10.txt
  tests/unit/requirements-2.9.txt
Labels: tests, unit, backport

#6075 Consolidate onepassword unit tests so that ansible-test will find them when the plugin is modified
  tests/unit/plugins/lookup/onepassword/__init__.py
  tests/unit/plugins/lookup/onepassword/test_onepassword_cli_v1.py
  tests/unit/plugins/lookup/onepassword/test_onepassword_cli_v2.py
  tests/unit/plugins/lookup/onepassword_common.py
  tests/unit/plugins/lookup/onepassword_conftest.py
  tests/unit/plugins/lookup/onepassword_fixtures/v1_out_01.json
  tests/unit/plugins/lookup/onepassword_fixtures/v1_out_01.json.license
  tests/unit/plugins/lookup/onepassword_fixtures/v1_out_02.json
  tests/unit/plugins/lookup/onepassword_fixtures/v1_out_02.json.license
  tests/unit/plugins/lookup/onepassword_fixtures/v1_out_03.json
  tests/unit/plugins/lookup/onepassword_fixtures/v1_out_03.json.license
  tests/unit/plugins/lookup/onepassword_fixtures/v2_out_01.json
  tests/unit/plugins/lookup/onepassword_fixtures/v2_out_01.json.license
  tests/unit/plugins/lookup/onepassword_fixtures/v2_out_02.json
  tests/unit/plugins/lookup/onepassword_fixtures/v2_out_02.json.license
  tests/unit/plugins/lookup/onepassword_fixtures/v2_out_03.json
  tests/unit/plugins/lookup/onepassword_fixtures/v2_out_03.json.license
  tests/unit/plugins/lookup/test_onepassword.py
Labels: tests, unit, new_plugin, backport-6

#5998 Added support for openSUSE MicroOS
  changelogs/fragments/5615-zypper-transactional-update.yml
  plugins/modules/zypper.py
Labels: bug, module, new_contributor, plugins, os, packaging, check-before-release, backport-5, backport-6

#5863 providerType should be defaulted for keycloak_user_federation mappers
  changelogs/fragments/5863-providerType-defaulted-keycloak_userfed-mappers.yml
  plugins/modules/keycloak_user_federation.py
Labels: feature, module, stale_ci, plugins, identity, check-before-release, backport-6

#6011 community.general.osx_defaults: Include stderr in error messages
  changelogs/fragments/6011-osx-defaults-errors.yml
  plugins/modules/osx_defaults.py
Labels: bug, module, new_contributor, plugins, system, check-before-release, backport-6

#6048 nmcli: Treat order as significant when comparing address lists
  changelogs/fragments/6048-nmcli-addres-order.yml
  plugins/modules/nmcli.py
Labels: bug, module, plugins, net_tools, check-before-release, backport-5, backport-6

#6034 lxd plugins and modules: fix TLS/SSL context creation
  changelogs/fragments/6034-lxd-tls.yml
  plugins/module_utils/lxd.py
Labels: bug, has_issue, module_utils, plugins, check-before-release, backport-5, backport-6

#5943 zfs_delegate_admin: fix: zfs allow cannot parse unknown uid/gid
  changelogs/fragments/5943-zfs_delegate_admin-fix-zfs-allow-cannot-parse-unknown-uid-gid.yml
  plugins/modules/zfs_delegate_admin.py
Labels: bug, module, stale_ci, new_contributor, has_issue, plugins, storage, check-before-release, backport-5, backport-6

#5994 github_webhook: Don't include secret in the config if it's absent
  changelogs/fragments/5994-github-webhook-secret.yml
  plugins/modules/github_webhook.py
Labels: bug, module, new_contributor, plugins, source_control, backport-5, backport-6

#5814 keycloak_group: support keycloak subgroups
  changelogs/fragments/5814-support-keycloak-subgroups.yml
  plugins/module_utils/identity/keycloak/keycloak.py
  plugins/modules/keycloak_group.py
  tests/integration/targets/keycloak_group/aliases
  tests/integration/targets/keycloak_group/readme.adoc
  tests/integration/targets/keycloak_group/tasks/main.yml
  tests/integration/targets/keycloak_group/vars/main.yml
Labels: feature, module, tests, integration, module_utils, plugins, identity, backport-6

#6074 stop passing loader/dataloader since it has been deprecated by ansible
  changelogs/fragments/6074-loader_in_listify.yml.yml
  plugins/lookup/cartesian.py
  plugins/lookup/flattened.py
Labels: bug, lookup, new_contributor, has_issue, plugins, check-before-release, backport-5, backport-6

#6072 Adding jyundt to Redfish maintainers
  .github/BOTMETA.yml
Labels: small_patch, docs, backport-5, backport-6

#5926 Add `enabled` parameter to `flatpak_remote`
  changelogs/fragments/5926-flatpak-remote-enabled.yml
  plugins/modules/flatpak_remote.py
  tests/integration/targets/flatpak_remote/tasks/check_mode.yml
  tests/integration/targets/flatpak_remote/tasks/setup.yml
  tests/integration/targets/flatpak_remote/tasks/test.yml
Labels: feature, module, stale_ci, tests, integration, new_contributor, plugins, os, packaging, check-before-release, backport-6

#5972 cloudflare_dns: Fix setting SRV records with a root level entry
  changelogs/fragments/5972-cloudflare-dns-srv-record.yml
  plugins/modules/cloudflare_dns.py
Labels: bug, module, plugins, net_tools, check-before-release, backport-5, backport-6

#5830 sefcontext: add support for path substitutions
  changelogs/fragments/5830-sefcontext-path-subs.yml
  plugins/modules/sefcontext.py
  tests/integration/targets/sefcontext/tasks/sefcontext.yml
Labels: feature, module, tests, integration, plugins, system, backport-6

#5986 Add new project features to API
  changelogs/fragments/5985-add-new-gitlab-api-features.yml
  plugins/modules/gitlab_project.py
Labels: feature, module, stale_ci, new_contributor, plugins, gitlab, source_control, check-before-release, backport-6

#5424 add persistent option for modprobe
  changelogs/fragments/4028-modprobe-persistent-option.yml
  plugins/modules/modprobe.py
  tests/unit/plugins/modules/test_modprobe.py
Labels: feature, module, tests, unit, plugins, system, backport-6

#6100 jenkins_plugin: avoid undefined variable when updates file is not downloaded
  changelogs/fragments/6100-jenkins_plugin.yml
  plugins/modules/jenkins_plugin.py
Labels: bug, module, has_issue, plugins, web_infrastructure, backport-6

#6109 add xorder_discovery parameter
  changelogs/fragments/6045-xorder-discovery.yml
  plugins/doc_fragments/ldap.py
  plugins/module_utils/ldap.py
  plugins/modules/ldap_search.py
Labels: bug, module, has_issue, docs_fragments, module_utils, plugins, net_tools, backport-6
