Repository ansible-collections/community.general, pull requests merged in 2023-09, with the labels that each got.

#7181 cmd tests improvement
  tests/unit/plugins/modules/cmd_runner_test_utils.py
  tests/unit/plugins/modules/test_opkg.py
  tests/unit/plugins/modules/test_xfconf.py
  tests/unit/plugins/modules/test_xfconf_info.py
Labels: tests, unit, backport-6, backport-7

#7185 remove extraneous unused constant
  tests/unit/plugins/modules/test_cpanm.py
  tests/unit/plugins/modules/test_gconftool2.py
  tests/unit/plugins/modules/test_gconftool2_info.py
  tests/unit/plugins/modules/test_opkg.py
  tests/unit/plugins/modules/test_puppet.py
  tests/unit/plugins/modules/test_snap.py
  tests/unit/plugins/modules/test_xfconf.py
  tests/unit/plugins/modules/test_xfconf_info.py
Labels: tests, unit, backport-6, backport-7

#7192 further improvements
  tests/unit/plugins/modules/cmd_runner_test_utils.py
  tests/unit/plugins/modules/test_opkg.py
  tests/unit/plugins/modules/test_snap.py
  tests/unit/plugins/modules/test_xfconf.py
  tests/unit/plugins/modules/test_xfconf_info.py
Labels: tests, unit

#7193 puppet: using yaml-specified unit tests
  tests/unit/plugins/modules/test_puppet.py
  tests/unit/plugins/modules/test_puppet.yaml
Labels: tests, unit, new_plugin

#7196 gconftool2: using yaml-specified unit tests
  tests/unit/plugins/modules/cmd_runner_test_utils.py
  tests/unit/plugins/modules/test_gconftool2.py
  tests/unit/plugins/modules/test_gconftool2.yaml
  tests/unit/plugins/modules/test_gconftool2_info.py
  tests/unit/plugins/modules/test_gconftool2_info.yaml
  tests/unit/plugins/modules/test_snap.py
Labels: tests, unit, new_plugin, backport-7

#7179 Add unixy support for check_mode_markers
  changelogs/fragments/7179-unixy-support-checkmode-markers.yml
  plugins/callback/unixy.py
Labels: feature, callback, new_contributor, plugins, check-before-release, backport-7

#7184 plugins/inventory/cobbler: Add exclude/include_mgmt_classes
  changelogs/fragments/7184-cobbler-mgmt-classes.yml
  plugins/inventory/cobbler.py
Labels: feature, inventory, plugins, backport-7

#7209 plugins/modules/apache2_module: fix typo
  plugins/modules/apache2_module.py
Labels: module, small_patch, plugins, backport-6, backport-7

#7161 Update incorrect path for pritunl organization post
  changelogs/fragments/7161-fix-incorrect-post-parameter.yml
  plugins/module_utils/net_tools/pritunl/api.py
Labels: bug, new_contributor, module_utils, plugins, net_tools, backport-6, backport-7

#7156 Ensure pritunl validate_certs is honoured in all methods
  changelogs/fragments/7156-ensure-validate-certs-parameter-is-honoured.yml
  plugins/module_utils/net_tools/pritunl/api.py
Labels: bug, new_contributor, module_utils, plugins, net_tools, backport-6, backport-7

#7158 feat: gitlab_project module - Allow to update project default branch
  changelogs/fragments/7158-gitlab-project-default-branch-update.yml
  plugins/modules/gitlab_project.py
Labels: feature, module, has_issue, plugins, breaking_change

#7180 community.general.make:
  changelogs/fragments/7180-make_params_without_value.yml
  plugins/modules/make.py
Labels: bug, module, new_contributor, plugins, backport-6, backport-7

#7212 fix typo
  plugins/modules/proxmox_kvm.py
Labels: module, new_contributor, small_patch, plugins, docs, docs_only, backport-6, backport-7

#7205 smbios option description
  plugins/modules/proxmox_kvm.py
Labels: module, new_contributor, plugins, docs, docs_only, backport-6, backport-7

#6741 New module: pnpm package manager
  .github/BOTMETA.yml
  plugins/modules/pnpm.py
  tests/integration/targets/pnpm/aliases
  tests/integration/targets/pnpm/meta/main.yml
  tests/integration/targets/pnpm/tasks/main.yml
  tests/integration/targets/pnpm/tasks/run.yml
  tests/integration/targets/pnpm/templates/package.j2
Labels: module, tests, integration, new_contributor, plugins, backport-7

#7200 CmdRunner bugfix
  changelogs/fragments/7200-cmd-runner-abs-path.yml
  plugins/module_utils/cmd_runner.py
  tests/integration/targets/cmd_runner/library/cmd_echo.py
  tests/integration/targets/cmd_runner/meta/main.yml
  tests/integration/targets/cmd_runner/tasks/main.yml
  tests/integration/targets/cmd_runner/tasks/test_cmd_echo.yml
  tests/integration/targets/cmd_runner/vars/main.yml
Labels: bug, tests, integration, module_utils, plugins, check-before-release, backport-6, backport-7

#7183 feat: pagerduty_alert: Adds in use of v2 api provided
  .github/BOTMETA.yml
  changelogs/fragments/update-v2-pagerduty-alert.yml
  plugins/modules/pagerduty_alert.py
  tests/unit/plugins/modules/test_pagerduty_alert.py
Labels: feature, module, tests, unit, new_contributor, plugins, check-before-release, backport-7

#7231 cpanm: using yaml-specified unit tests
  changelogs/fragments/7231-cpanm-adjustments.yml
  plugins/modules/cpanm.py
  tests/unit/plugins/modules/test_cpanm.py
  tests/unit/plugins/modules/test_cpanm.yaml
Labels: module, tests, unit, new_plugin, plugins, check-before-release, backport-7

#7204 Improvements to the jenkins_build module and new jenkins_build_info module
  .github/BOTMETA.yml
  changelogs/fragments/improvements-to-jenkins-build-module.yml
  plugins/modules/jenkins_build.py
  plugins/modules/jenkins_build_info.py
  tests/unit/plugins/modules/test_jenkins_build.py
  tests/unit/plugins/modules/test_jenkins_build_info.py
Labels: feature, module, tests, unit, new_contributor, new_plugin, plugins, backport-7

#7219 nsupdate: fix 'index out of range' error when no TTL answer is given
  changelogs/fragments/7219-fix-nsupdate-cname.yaml
  plugins/modules/nsupdate.py
Labels: bug, module, new_contributor, plugins, backport-6, backport-7

#7239 test helper: create static methods .from_file() and .from_list()
  tests/unit/plugins/modules/helper.py
  tests/unit/plugins/modules/test_cpanm.py
  tests/unit/plugins/modules/test_gconftool2.py
  tests/unit/plugins/modules/test_gconftool2_info.py
  tests/unit/plugins/modules/test_opkg.py
  tests/unit/plugins/modules/test_puppet.py
  tests/unit/plugins/modules/test_snap.py
  tests/unit/plugins/modules/test_xfconf.py
  tests/unit/plugins/modules/test_xfconf_info.py
Labels: tests, unit, new_plugin, backport-7

#7247 encapsulate test function in the helper class
  tests/unit/plugins/modules/helper.py
  tests/unit/plugins/modules/test_cpanm.py
  tests/unit/plugins/modules/test_gconftool2.py
  tests/unit/plugins/modules/test_gconftool2_info.py
  tests/unit/plugins/modules/test_opkg.py
  tests/unit/plugins/modules/test_puppet.py
  tests/unit/plugins/modules/test_snap.py
  tests/unit/plugins/modules/test_xfconf.py
  tests/unit/plugins/modules/test_xfconf_info.py
Labels: tests, unit

#7252 Update my maintainer status for 1PW plugin
  .github/BOTMETA.yml
  plugins/lookup/onepassword.py
Labels: lookup, new_contributor, plugins, docs, backport-6, backport-7

#7241 Use `get(..)` instead of [..] for safe lookup of value (Fixes #7240)
  changelogs/fragments/7241-prevent-key-error-when-value-does-not-exist.yml
  plugins/lookup/onepassword.py
  tests/unit/plugins/lookup/onepassword_common.py
  tests/unit/plugins/lookup/onepassword_fixtures/v2_out_04.json
  tests/unit/plugins/lookup/onepassword_fixtures/v2_out_04.json.license
Labels: bug, lookup, tests, unit, new_contributor, new_plugin, plugins, backport-6, backport-7

#7266 refactor test helper context class
  tests/unit/plugins/modules/helper.py
Labels: tests, unit

#7259 [stable-7] Deprecate support for ansible-core 2.11 and 2.12
  changelogs/fragments/deprecate-ansible-core-2.11-2.12.yml
Labels: owner_pr, docs, backport

#7264 ldap_search: make sure to also handle binary strings in Python 3
  changelogs/fragments/7264-ldap_search-strings.yml
  plugins/modules/ldap_search.py
Labels: bug, module, plugins, check-before-release, backport-7

#7274 add russoz as maintainer of modules/snap and module_utils/snap
  .github/BOTMETA.yml
Labels: small_patch, docs, backport-6, backport-7

#7273 Add `ignore_spaces` option to `ini_file` to ignore spacing changes
  changelogs/fragments/7273-ini_file_ignore_spaces.yml
  plugins/modules/ini_file.py
  tests/integration/targets/ini_file/tasks/main.yml
  tests/integration/targets/ini_file/tasks/tests/00-basic.yml
  tests/integration/targets/ini_file/tasks/tests/04-symlink.yml
  tests/integration/targets/ini_file/tasks/tests/05-ignore_spaces.yml
  tests/unit/plugins/modules/test_ini_file.py
Labels: feature, module, tests, unit, integration, new_plugin, plugins, backport-7

#7249 ipa_user documentation: givenname and sn are required when user doesn't exist
  plugins/modules/ipa_user.py
Labels: module, plugins, docs, docs_only, backport-6, backport-7

#6972 Add consul_role module from domant PR
  plugins/module_utils/consul.py
  plugins/modules/consul_role.py
  tests/integration/targets/consul/tasks/consul_role.yml
  tests/integration/targets/consul/tasks/main.yml
Labels: module, tests, integration, module_utils, plugins, check-before-release, backport-7

#7287 [stable-6] CI: devel → stable-2.16, move stable-2.13 to EOL CI
  .azure-pipelines/azure-pipelines.yml
  .github/workflows/ansible-test.yml
  README.md
Labels: backport

#7288 [stable-5] Move stable-2.13 to EOL CI
  .azure-pipelines/azure-pipelines.yml
  .github/workflows/ansible-test.yml
Labels: backport

#7127 Add keycloak_realm_key module
  .github/BOTMETA.yml
  plugins/modules/keycloak_realm_key.py
  tests/integration/targets/keycloak_realm_key/aliases
  tests/integration/targets/keycloak_realm_key/readme.adoc
  tests/integration/targets/keycloak_realm_key/tasks/main.yml
  tests/integration/targets/keycloak_realm_key/vars/main.yml
Labels: module, tests, integration, plugins, check-before-release, backport-7

#7242 Ignore similar chars in random_string
  changelogs/fragments/7242_ignore_similar_chars.yml
  plugins/lookup/random_string.py
Labels: feature, lookup, new_contributor, plugins, check-before-release, backport-7

#7271 New Module: gio_mime
  .github/BOTMETA.yml
  plugins/module_utils/gio_mime.py
  plugins/modules/gio_mime.py
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.12.txt
  tests/sanity/ignore-2.13.txt
  tests/sanity/ignore-2.14.txt
  tests/sanity/ignore-2.15.txt
  tests/sanity/ignore-2.16.txt
  tests/unit/plugins/modules/helper.py
  tests/unit/plugins/modules/test_gio_mime.py
  tests/unit/plugins/modules/test_gio_mime.yaml
Labels: module, tests, unit, new_plugin, module_utils, plugins, backport-7

#7251 Fixed gitlab_*_variable when using purge
  changelogs/fragments/7251-gitlab-variables-deleteing-all-variables.yml
  plugins/module_utils/gitlab.py
  plugins/modules/gitlab_group_variable.py
  plugins/modules/gitlab_project_variable.py
Labels: bug, module, new_contributor, module_utils, plugins, gitlab, backport-7

#7129 Adding SetSecureBoot to redfish_config
  changelogs/fragments/7129-adding_set_secure_boot_command_to_redfish_config.yml
  plugins/module_utils/redfish_utils.py
  plugins/modules/redfish_config.py
Labels: feature, module, module_utils, plugins, check-before-release, backport-7

#7296 Update from_csv.py docs
  plugins/filter/from_csv.py
Labels: new_contributor, filter, small_patch, plugins, docs, docs_only, backport-6, backport-7

#7303 Fix incorrect parsing of headers containing equal character
  changelogs/fragments/7303-mail-incorrect-header-parsing.yml
  plugins/modules/mail.py
Labels: bug, module, new_contributor, plugins, backport-6, backport-7

#7263 [proxmox] return vmid and taskid
  changelogs/fragments/7263-proxmox-return-vmid-and-taskid.yaml
  plugins/modules/proxmox.py
Labels: feature, module, new_contributor, has_issue, plugins, backport-7

#6134 feat(cargo): add locked option
  changelogs/fragments/6134-add-locked-option-for-cargo.yml
  plugins/modules/cargo.py
Labels: feature, module, new_contributor, plugins, packaging, language, backport-7

#7309 xinetd no longer exists; use mdadm instead
  tests/integration/targets/pacman/tasks/remove_nosave.yml
Labels: tests, integration, small_patch, backport-5, backport-6, backport-7

#7301 Fixing incorrect string encapsulation for -backend-config.
  changelogs/fragments/7301-fix-backend-config-string-encapsulation.yml
  plugins/modules/terraform.py
Labels: bug, module, plugins, backport-6, backport-7

#7318 Add LinkStatus to Ethernet Interface attribute list
  changelogs/fragments/7318-add-linkstatus-attribute-to-nic-inventory.yml
  plugins/module_utils/redfish_utils.py
Labels: feature, module_utils, plugins, backport-7

#7284 supervisorctl: stop process before removing it
  changelogs/fragments/7284-supervisorctl-stop-before-remove.yaml
  plugins/modules/supervisorctl.py
Labels: feature, module, new_contributor, plugins, backport-7

#7267 feat(redis_info): use module_utils redis to support TLS
  changelogs/fragments/7267-redis_info.yml
  plugins/modules/redis_info.py
  tests/unit/plugins/modules/test_redis_info.py
Labels: feature, module, tests, unit, new_contributor, plugins, backport-7

#7295 Adding deprecation for timeout parameter from 10 to 60 for redfish_info, redfish_config and redfish_command
  changelogs/fragments/7295-adding_deprecation_for_timeout_in_redfish_info_config_command.yml
  plugins/modules/redfish_command.py
  plugins/modules/redfish_config.py
  plugins/modules/redfish_info.py
Labels: feature, module, plugins, backport-7

#7308 allow specifying a 1Password account ID
  changelogs/fragments/7308-onepassword-multi-acc.yml
  plugins/lookup/onepassword.py
  plugins/lookup/onepassword_raw.py
Labels: feature, lookup, new_contributor, plugins, check-before-release, backport-7

#7323 nmap: fix get_option calls
  changelogs/fragments/7323-nmap.yml
  plugins/inventory/nmap.py
Labels: bug, has_issue, inventory, plugins, backport-7

#7334 Fix Galaxy URLs
  README.md
Labels: backport-5, backport-6, backport-7
