Repository ansible-collections/community.general, pull requests merged in 2024-03, with the labels that each got.

#8054 ejabberd_user: Fix class documentation
  plugins/modules/ejabberd_user.py
Labels: module, new_contributor, small_patch, plugins, docs, check-before-release, docs_only, backport-7, backport-8

#8048 fix(homebrew): give correct error message when become true used
  changelogs/fragments/8048-fix-homebrew-module-error-reporting-on-become-true.yaml
  plugins/modules/homebrew.py
Labels: bug, module, stale_ci, new_contributor, traceback, plugins, backport-7, backport-8

#7999 feat(lookup/merge_variables): Add all hosts mode to collect configuration across multiple hosts
  .github/BOTMETA.yml
  plugins/lookup/merge_variables.py
  tests/integration/targets/lookup_merge_variables/runme.sh
  tests/integration/targets/lookup_merge_variables/test_all_hosts.yml
  tests/integration/targets/lookup_merge_variables/test_inventory_all_hosts.yml
  tests/unit/plugins/lookup/test_merge_variables.py
Labels: feature, lookup, tests, unit, integration, new_contributor, plugins, backport-8

#8057 pam_limits: do not create file in check mode when it does not exist
  changelogs/fragments/8057-pam_limits-check-mode.yml
  plugins/modules/pam_limits.py
Labels: bug, module, has_issue, plugins, shipit, backport-7, backport-8

#8077 remove code no longer used
  tests/unit/plugins/module_utils/test_module_helper.py
Labels: tests, unit, small_patch

#8084 CI: add macOS 14.3 for devel, move 13.2 to stable-2.16
  .azure-pipelines/azure-pipelines.yml
Labels: backport-7, backport-8

#8081 pacemaker_cluster: implement check mode
  changelogs/fragments/pacemaker-cluster.yml
  plugins/modules/pacemaker_cluster.py
Labels: bug, module, plugins, check-before-release, backport-6, backport-7, backport-8

#8091 Fix consul_token usage without accessor_id.
  changelogs/fragments/8091-consul-token-fixes.yaml
  plugins/module_utils/consul.py
  plugins/modules/consul_token.py
  tests/integration/targets/consul/tasks/consul_token.yml
Labels: bug, module, tests, integration, has_issue, module_utils, plugins, check-before-release, backport-7, backport-8

#8073 Add --diff support for ldap_attrs module
  changelogs/fragments/8073-ldap-attrs-diff.yml
  plugins/modules/ldap_attrs.py
Labels: feature, module, new_contributor, plugins, check-before-release, backport-8

#8102 Fix pacman tests in CI
  tests/integration/targets/pacman/tasks/locally_installed_package.yml
Labels: tests, integration, small_patch, backport-6, backport-7, backport-8

#8103 Skip cloud_init_data_facts tests on OpenSuSE Leap 15
  tests/integration/targets/cloud_init_data_facts/tasks/main.yml
Labels: needs_revision, tests, integration, small_patch, backport-6, backport-7, backport-8

#8052 Aix filesystem crfs issue
  changelogs/fragments/aix_filesystem-crfs-issue.yml
  plugins/modules/aix_filesystem.py
Labels: bug, module, stale_ci, new_contributor, plugins, check-before-release, backport-6, backport-7, backport-8

#8076 Implement usb_facts module
  .github/BOTMETA.yml
  plugins/modules/usb_facts.py
  tests/unit/plugins/modules/test_usb_facts.py
Labels: module, tests, unit, new_plugin, plugins, check-before-release, backport-8

#8114 Fix plugin call in example
  plugins/lookup/github_app_access_token.py
Labels: lookup, new_contributor, small_patch, plugins, docs, docs_only, backport-8

#8122 CI: Add FreeBSD 13.3 and 14.0 for devel, move FreeBSD 13.2 to stable-2.16
  .azure-pipelines/azure-pipelines.yml
  tests/integration/targets/filter_jc/aliases
  tests/integration/targets/iso_extract/aliases
  tests/integration/targets/pkgng/tasks/freebsd.yml
Labels: tests, integration, backport-7, backport-8

#8127 CI: Move Alpine 3.18 docker to stable-2.16, add Alpine 3.19 docker, bump Alpine VM to 3.19
  .azure-pipelines/azure-pipelines.yml
Labels: backport-7, backport-8

#8130 Ignore pylint warnings for construct that does not work with Python 2
  tests/sanity/ignore-2.17.txt
Labels: tests, backport-7, backport-8

#7998 Adds group_by_hostgroups parameter to Icinga2 inventory
  changelogs/fragments/7998-icinga2-inventory-group_by_hostgroups-parameter.yml
  plugins/inventory/icinga2.py
  tests/unit/plugins/inventory/test_icinga2.py
Labels: feature, stale_ci, tests, unit, inventory, plugins, check-before-release, backport-8

#8075 ini_file - support optional spaces around section names
  changelogs/fragments/8075-optional-space-around-section-names.yaml
  plugins/modules/ini_file.py
  tests/integration/targets/ini_file/tasks/main.yml
  tests/integration/targets/ini_file/tasks/tests/07-section_name_spaces.yml
Labels: bug, module, tests, integration, new_contributor, plugins, backport-8

#8029 Fix check mode in iptables_state for incomplete iptables-save files along with integration tests
  changelogs/fragments/8029-iptables-state-restore-check-mode.yml
  plugins/modules/iptables_state.py
  tests/integration/targets/iptables_state/tasks/main.yml
  tests/integration/targets/iptables_state/tasks/tests/02-partial-restore.yml
Labels: bug, module, stale_ci, tests, integration, has_issue, plugins, backport-7, backport-8

#7880 ipa_sudorule, ipa_hbacrule: change ipaenabledflag type to bool
  changelogs/fragments/7880-ipa-fix-sudo-and-hbcalrule-idempotence.yml
  plugins/modules/ipa_hbacrule.py
  plugins/modules/ipa_sudorule.py
Labels: bug, module, stale_ci, new_contributor, plugins, check-before-release, backport-7, backport-8

#8013 feat(lookup/bitwarden): add support for fetching all items from a collection
  changelogs/fragments/8013-bitwarden-full-collection-item-list.yaml
  plugins/lookup/bitwarden.py
  tests/unit/plugins/lookup/test_bitwarden.py
Labels: feature, stale_ci, lookup, tests, unit, plugins, backport-8

#8118 Fix bond-slave honoring MTU
  changelogs/fragments/8118-fix-bond-slave-honoring-mtu.yml
  plugins/modules/nmcli.py
Labels: bug, module, new_contributor, plugins, backport-8

#8038 Added startup configuration option
  changelogs/fragments/8038-proxmox-startup.yml
  plugins/modules/proxmox.py
Labels: feature, module, new_contributor, merge_commit, needs_rebase, plugins, backport-8

#8133 Add descriptive error message to Linode inventory plugin file checkin…
  changelogs/fragments/8133-add-error-message-for-linode-inventory-plugin.yaml
  plugins/inventory/linode.py
  tests/unit/plugins/inventory/test_linode.py
Labels: bug, tests, unit, new_contributor, has_issue, inventory, traceback, plugins, cloud, backport-7, backport-8

#8098 inventory plugins: make data obtained from remote unsafe
  changelogs/fragments/inventory-rce.yml
  plugins/inventory/cobbler.py
  plugins/inventory/gitlab_runners.py
  plugins/inventory/icinga2.py
  plugins/inventory/linode.py
  plugins/inventory/lxd.py
  plugins/inventory/nmap.py
  plugins/inventory/online.py
  plugins/inventory/opennebula.py
  plugins/inventory/proxmox.py
  plugins/inventory/scaleway.py
  plugins/inventory/stackpath_compute.py
  plugins/inventory/virtualbox.py
  plugins/inventory/xen_orchestra.py
Labels: bug, stale_ci, inventory, plugins, cloud, backport-6, backport-7, backport-8

#8148 snap: disable some tests that take way too long
  tests/integration/targets/snap/tasks/main.yml
  tests/integration/targets/snap/tasks/test_channel.yml
  tests/integration/targets/snap/tasks/test_dangerous.yml
Labels: tests, integration, has_issue, backport-6, backport-7, backport-8

#8147 [stable-6] inventory plugins: make data obtained from remote unsafe
  changelogs/fragments/inventory-rce.yml
  plugins/inventory/cobbler.py
  plugins/inventory/gitlab_runners.py
  plugins/inventory/icinga2.py
  plugins/inventory/linode.py
  plugins/inventory/lxd.py
  plugins/inventory/nmap.py
  plugins/inventory/online.py
  plugins/inventory/opennebula.py
  plugins/inventory/proxmox.py
  plugins/inventory/scaleway.py
  plugins/inventory/stackpath_compute.py
  plugins/inventory/virtualbox.py
  plugins/inventory/xen_orchestra.py
Labels: bug, inventory, plugins, cloud, backport

#8158 gitlab modules: do not crash if python-gitlab isn't there
  changelogs/fragments/8158-gitlab-version-check.yml
  plugins/module_utils/gitlab.py
  plugins/modules/gitlab_issue.py
  plugins/modules/gitlab_label.py
  plugins/modules/gitlab_milestone.py
Labels: bug, module, module_utils, plugins, gitlab, backport-7, backport-8

#8169 xml: make module work with lxml 5.1.1
  changelogs/fragments/8169-lxml.yml
  plugins/modules/xml.py
Labels: bug, module, plugins, backport-6, backport-7, backport-8
