Repository ansible-collections/community.general, pull requests merged in 2024-12, with the labels that each got.

#9197 Add backup module for proxmox
  .github/BOTMETA.yml
  meta/runtime.yml
  plugins/modules/proxmox_backup.py
  tests/unit/plugins/modules/test_proxmox_backup.py
Labels: module, needs_revision, tests, unit, new_plugin, plugins, check-before-release, backport-10

#9175 Add decompress module
  .github/BOTMETA.yml
  plugins/modules/decompress.py
  tests/integration/targets/decompress/aliases
  tests/integration/targets/decompress/files/file.txt
  tests/integration/targets/decompress/files/second_file.txt
  tests/integration/targets/decompress/handlers/main.yml
  tests/integration/targets/decompress/meta/main.yml
  tests/integration/targets/decompress/tasks/cleanup.yml
  tests/integration/targets/decompress/tasks/core.yml
  tests/integration/targets/decompress/tasks/dest.yml
  tests/integration/targets/decompress/tasks/main.yml
  tests/integration/targets/decompress/tasks/misc.yml
Labels: module, tests, integration, has_issue, plugins, check-before-release, backport-10

#9159 iso_extract: Add password argument
  changelogs/fragments/9159-iso-extract_add_password.yml
  plugins/modules/iso_extract.py
Labels: feature, module, new_contributor, plugins, check-before-release, backport-10

#9181 Greatly speed up homebrew module when multiple packages are passed in the `name` key
  changelogs/fragments/9181-improve-homebrew-module-performance.yml
  plugins/modules/homebrew.py
  tests/integration/targets/homebrew/tasks/formulae.yml
Labels: module, tests, integration, plugins, backport-10

#9190 redfish_utils module utils: remove redundant code
  changelogs/fragments/9190-redfish-utils-unused-code.yml
  plugins/module_utils/redfish_utils.py
Labels: module_utils, plugins, check-before-release, backport-10

#9168 Add SR-IOV support to nmcli module
  changelogs/fragments/9168-nmcli-add-sriov-parameter.yml
  plugins/modules/nmcli.py
  tests/unit/plugins/modules/test_nmcli.py
Labels: feature, module, tests, unit, new_contributor, plugins, backport-10

#9192 Add dynamicforward option
  changelogs/fragments/ssh_config_add_dynamicforward_option.yml
  plugins/modules/ssh_config.py
  tests/integration/targets/ssh_config/tasks/options.yml
Labels: feature, module, tests, integration, new_contributor, plugins, check-before-release, backport-10

#9172 opkg: deprecate value "" for force
  changelogs/fragments/9172-opkg-deprecate-force-none.yml
  plugins/modules/opkg.py
Labels: module, stale_ci, plugins, backport-10

#9133 Add the accumulate filter
  .github/BOTMETA.yml
  plugins/filter/accumulate.py
  tests/integration/targets/filter_accumulate/aliases
  tests/integration/targets/filter_accumulate/tasks/main.yml
Labels: tests, integration, plugins, backport-10

#9202 keycloak_clientscope_type: sort default and optional clientscope lists before diff
  changelogs/fragments/9202-keycloak_clientscope_type-sort-lists.yml
  plugins/modules/keycloak_clientscope_type.py
Labels: bug, module, plugins, backport-9, backport-10

#9223 Fix incorrect key lookup
  changelogs/fragments/9223-proxmox-backup-bugfixes.yml
  plugins/modules/proxmox_backup.py
Labels: bug, module, plugins, backport-10

#9243 sysrc: add another exclusion for ezjail
  tests/integration/targets/sysrc/tasks/main.yml
Labels: tests, integration, small_patch, backport-8, backport-9, backport-10

#9242 test helper improvements
  tests/unit/plugins/modules/helper.py
  tests/unit/plugins/modules/test_snap.py
  tests/unit/plugins/modules/test_xfconf_info.py
  tests/unit/plugins/modules/test_xfconf_info.yaml
Labels: tests, unit

#9234 Fix VerifyBiosAttributes command on Systems with multiple entries
  changelogs/fragments/9234-fix-verify-bios-attributes-multi-system.yml
  plugins/module_utils/redfish_utils.py
Labels: bug, has_issue, module_utils, traceback, plugins, backport-9, backport-10

#9250 CI: Fix some issues pointed out by zizmor
  .github/workflows/codeql-analysis.yml
  .github/workflows/reuse.yml
Labels: small_patch, backport-8, backport-9, backport-10

#9259 Drop myself from team_suse
  .github/BOTMETA.yml
Labels: new_contributor, needs_info, needs_template, small_patch, backport-8, backport-9, backport-10

#9271 random_words integration tests: avoid test failure due to valid result
  tests/integration/targets/lookup_random_words/test.yml
Labels: backport-8, backport-9, backport-10

#9282 mh guide: update exception handling
  docs/docsite/rst/guide_modulehelper.rst
Labels: docs, docs_only

#9279 yarn: adjust docs
  plugins/modules/yarn.py
Labels: module, plugins, docs, needs_maintainer

#9228 Clean up Proxmox API token handling by stripping whitespace and forma…
  changelogs/fragments/9228-fix-issue-header.yml
  plugins/inventory/proxmox.py
Labels: bug, has_issue, inventory, plugins, backport-10

#9255 homebrew: fix incorrect handling of aliases
  changelogs/fragments/9255-fix-handling-of-aliased-homebrew-packages.yml
  plugins/modules/homebrew.py
  tests/integration/targets/homebrew/tasks/casks.yml
  tests/integration/targets/homebrew/tasks/formulae.yml
Labels: bug, module, tests, integration, has_issue, plugins, backport-10

#9263 keycloak_authentication: Fix priority attribute during execution updates
  changelogs/fragments/9263-kc_authentication-api-priority.yaml
  plugins/modules/keycloak_authentication.py
Labels: bug, module, tests, unit, module_utils, plugins, identity, backport-8, backport-9, backport-10

#9236 Add android sdk module
  .github/BOTMETA.yml
  plugins/module_utils/android_sdkmanager.py
  plugins/modules/android_sdk.py
  tests/integration/targets/android_sdk/aliases
  tests/integration/targets/android_sdk/meta/main.yml
  tests/integration/targets/android_sdk/tasks/default-tests.yml
  tests/integration/targets/android_sdk/tasks/freebsd-tests.yml
  tests/integration/targets/android_sdk/tasks/main.yml
  tests/integration/targets/android_sdk/tasks/setup.yml
  tests/integration/targets/android_sdk/vars/Alpine.yml
  tests/integration/targets/android_sdk/vars/Archlinux.yml
  tests/integration/targets/android_sdk/vars/Darwin.yml
  tests/integration/targets/android_sdk/vars/Debian.yml
  tests/integration/targets/android_sdk/vars/FreeBSD.yml
  tests/integration/targets/android_sdk/vars/RedHat.yml
  tests/integration/targets/android_sdk/vars/Suse.yml
  tests/integration/targets/android_sdk/vars/main.yml
Labels: module, tests, integration, module_utils, plugins, backport-10

#9297 Polish botmeta extra sanity test and make it work without warnings on Python 3.13
  tests/sanity/extra/botmeta.py
Labels: tests, backport-8, backport-9, backport-10

#9295 fix examples indentation
  plugins/modules/yarn.py
Labels: module, needs_revision, ci_verified, plugins, docs, needs_maintainer, docs_only, backport-10

#9280 yum_versionlock: adjust docs
  plugins/modules/yum_versionlock.py
Labels: module, needs_revision, ci_verified, plugins, docs, check-before-release, backport-9, backport-10

#9281 zfs modules: adjust docs
  plugins/modules/zfs.py
  plugins/modules/zfs_delegate_admin.py
  plugins/modules/zfs_facts.py
Labels: module, plugins, docs, check-before-release, backport-9, backport-10

#9310 CI: Arch Linux updated to Python 3.13
  .azure-pipelines/azure-pipelines.yml
  tests/integration/targets/lookup_lmdb_kv/runme.sh
Labels: needs_revision, tests, integration, small_patch, backport-8, backport-9, backport-10

#9309 [vw]*: adjust docs
  plugins/modules/vdo.py
  plugins/modules/vertica_configuration.py
  plugins/modules/vertica_info.py
  plugins/modules/vertica_role.py
  plugins/modules/vertica_schema.py
  plugins/modules/vertica_user.py
  plugins/modules/vexata_eg.py
  plugins/modules/vexata_volume.py
  plugins/modules/vmadm.py
  plugins/modules/wakeonlan.py
  plugins/modules/wdc_redfish_command.py
  plugins/modules/wdc_redfish_info.py
Labels: module, plugins, docs, check-before-release, backport-9, backport-10

#9306 z mods adjust docs
  plugins/modules/zfs_facts.py
  plugins/modules/znode.py
  plugins/modules/zpool_facts.py
Labels: module, plugins, docs, backport-9, backport-10

#9320 cache plugins: use f-strings
  changelogs/fragments/9320-fstr-cache-plugins.yml
  plugins/cache/memcached.py
  plugins/cache/redis.py
Labels: cache, plugins, backport-10

#9323 inventory plugins: use f-strings
  changelogs/fragments/9323-fstr-inventory-plugins.yml
  plugins/inventory/cobbler.py
  plugins/inventory/gitlab_runners.py
  plugins/inventory/icinga2.py
  plugins/inventory/linode.py
  plugins/inventory/lxd.py
  plugins/inventory/nmap.py
  plugins/inventory/online.py
  plugins/inventory/opennebula.py
  plugins/inventory/proxmox.py
  plugins/inventory/scaleway.py
  plugins/inventory/stackpath_compute.py
  plugins/inventory/virtualbox.py
  plugins/inventory/xen_orchestra.py
Labels: inventory, plugins, cloud, check-before-release, backport-10

#9318 action plugins: use f-strings
  changelogs/fragments/9318-fstr-actionplugins.yml
  plugins/action/iptables_state.py
  plugins/action/shutdown.py
Labels: plugins, action, check-before-release, backport-10

#9334 qubes connection plugin: fix display stmt
  changelogs/fragments/9334-qubes-conn.yml
  plugins/connection/qubes.py
Labels: bug, connection, plugins, backport-9, backport-10

#9284 Add action group for keycloak
  changelogs/fragments/9284-add-keycloak-action-group.yml
  meta/runtime.yml
  plugins/doc_fragments/keycloak.py
  plugins/modules/keycloak_authentication.py
  plugins/modules/keycloak_authentication_required_actions.py
  plugins/modules/keycloak_authz_authorization_scope.py
  plugins/modules/keycloak_authz_custom_policy.py
  plugins/modules/keycloak_authz_permission.py
  plugins/modules/keycloak_authz_permission_info.py
  plugins/modules/keycloak_client.py
  plugins/modules/keycloak_client_rolemapping.py
  plugins/modules/keycloak_client_rolescope.py
  plugins/modules/keycloak_clientscope.py
  plugins/modules/keycloak_clientscope_type.py
  plugins/modules/keycloak_clientsecret_info.py
  plugins/modules/keycloak_clientsecret_regenerate.py
  plugins/modules/keycloak_clienttemplate.py
  plugins/modules/keycloak_component.py
  plugins/modules/keycloak_component_info.py
  plugins/modules/keycloak_group.py
  plugins/modules/keycloak_identity_provider.py
  plugins/modules/keycloak_realm.py
  plugins/modules/keycloak_realm_key.py
  plugins/modules/keycloak_realm_keys_metadata_info.py
  plugins/modules/keycloak_realm_rolemapping.py
  plugins/modules/keycloak_role.py
  plugins/modules/keycloak_user.py
  plugins/modules/keycloak_user_federation.py
  plugins/modules/keycloak_user_rolemapping.py
  plugins/modules/keycloak_userprofile.py
Labels: feature, module, new_contributor, docs_fragments, plugins, check-before-release, backport-10

#9239 proxmox_backup: refactor permission checking
  changelogs/fragments/9239-proxmox-backup-refactor.yml
  plugins/modules/proxmox_backup.py
Labels: module, stale_ci, plugins, backport-10

#9308 x*: adjust docs
  plugins/modules/xattr.py
  plugins/modules/xbps.py
  plugins/modules/xcc_redfish_command.py
  plugins/modules/xenserver_facts.py
  plugins/modules/xenserver_guest.py
  plugins/modules/xenserver_guest_info.py
  plugins/modules/xenserver_guest_powerstate.py
  plugins/modules/xfconf.py
  plugins/modules/xfconf_info.py
  plugins/modules/xfs_quota.py
  plugins/modules/xml.py
Labels: module, has_issue, plugins, docs, backport-9, backport-10

#9294 Add sanity test for action groups
  tests/sanity/extra/action-group.json
  tests/sanity/extra/action-group.json.license
  tests/sanity/extra/action-group.py
Labels: tests, check-before-release, backport-10

#9335 utm*: normalize docs
  plugins/modules/utm_aaa_group.py
  plugins/modules/utm_aaa_group_info.py
  plugins/modules/utm_ca_host_key_cert.py
  plugins/modules/utm_ca_host_key_cert_info.py
  plugins/modules/utm_dns_host.py
  plugins/modules/utm_network_interface_address.py
  plugins/modules/utm_network_interface_address_info.py
  plugins/modules/utm_proxy_auth_profile.py
  plugins/modules/utm_proxy_exception.py
  plugins/modules/utm_proxy_frontend.py
  plugins/modules/utm_proxy_frontend_info.py
  plugins/modules/utm_proxy_location.py
  plugins/modules/utm_proxy_location_info.py
Labels: module, plugins, docs, check-before-release, backport-9, backport-10

#9339 t*: normalize docs
  plugins/modules/taiga_issue.py
  plugins/modules/telegram.py
  plugins/modules/terraform.py
  plugins/modules/timezone.py
  plugins/modules/twilio.py
  plugins/modules/typetalk.py
Labels: module, plugins, docs, check-before-release, backport-9, backport-10

#9321 callback plugins: use f-strings
  changelogs/fragments/9321-fstr-callback-plugins.yml
  plugins/callback/cgroup_memory_recap.py
  plugins/callback/context_demo.py
  plugins/callback/counter_enabled.py
  plugins/callback/dense.py
  plugins/callback/diy.py
  plugins/callback/elastic.py
  plugins/callback/jabber.py
  plugins/callback/log_plays.py
  plugins/callback/loganalytics.py
  plugins/callback/logdna.py
  plugins/callback/logentries.py
  plugins/callback/mail.py
  plugins/callback/nrdp.py
  plugins/callback/opentelemetry.py
  plugins/callback/say.py
  plugins/callback/selective.py
  plugins/callback/slack.py
  plugins/callback/splunk.py
  plugins/callback/timestamp.py
  plugins/callback/unixy.py
  plugins/callback/yaml.py
Labels: callback, plugins, check-before-release, backport-10

#9322 connection plugins: use f-strings
  changelogs/fragments/9322-fstr-connection-plugins.yml
  plugins/connection/chroot.py
  plugins/connection/funcd.py
  plugins/connection/incus.py
  plugins/connection/iocage.py
  plugins/connection/jail.py
  plugins/connection/lxc.py
  plugins/connection/lxd.py
  plugins/connection/qubes.py
  plugins/connection/saltstack.py
  plugins/connection/zone.py
Labels: connection, plugins, check-before-release, backport-10

#9338 u[a-s]*: normalize docs
  plugins/modules/udm_dns_record.py
  plugins/modules/udm_dns_zone.py
  plugins/modules/udm_group.py
  plugins/modules/udm_share.py
  plugins/modules/udm_user.py
  plugins/modules/ufw.py
  plugins/modules/uptimerobot.py
  plugins/modules/urpmi.py
  plugins/modules/usb_facts.py
Labels: module, plugins, docs, check-before-release, backport-9, backport-10

#9324 lookup plugins: use f-strings
  changelogs/fragments/9324-fstr-lookup-plugins.yml
  plugins/lookup/bitwarden.py
  plugins/lookup/chef_databag.py
  plugins/lookup/collection_version.py
  plugins/lookup/consul_kv.py
  plugins/lookup/credstash.py
  plugins/lookup/cyberarkpassword.py
  plugins/lookup/dependent.py
  plugins/lookup/dig.py
  plugins/lookup/dnstxt.py
  plugins/lookup/dsv.py
  plugins/lookup/etcd.py
  plugins/lookup/etcd3.py
  plugins/lookup/filetree.py
  plugins/lookup/github_app_access_token.py
  plugins/lookup/hiera.py
  plugins/lookup/keyring.py
  plugins/lookup/lastpass.py
  plugins/lookup/lmdb_kv.py
  plugins/lookup/manifold.py
  plugins/lookup/merge_variables.py
  plugins/lookup/onepassword.py
  plugins/lookup/onepassword_doc.py
  plugins/lookup/passwordstore.py
  plugins/lookup/random_pet.py
  plugins/lookup/redis.py
  plugins/lookup/revbitspss.py
  plugins/lookup/shelvefile.py
  plugins/lookup/tss.py
  tests/sanity/ignore-2.15.txt
  tests/sanity/ignore-2.16.txt
Labels: lookup, tests, plugins, check-before-release, backport-10

#9351 s[o-y]*: normalize docs
  plugins/modules/solaris_zone.py
  plugins/modules/sorcery.py
  plugins/modules/spectrum_device.py
  plugins/modules/spectrum_model_attrs.py
  plugins/modules/spotinst_aws_elastigroup.py
  plugins/modules/ss_3par_cpg.py
  plugins/modules/ssh_config.py
  plugins/modules/stacki_host.py
  plugins/modules/statsd.py
  plugins/modules/statusio_maintenance.py
  plugins/modules/sudoers.py
  plugins/modules/supervisorctl.py
  plugins/modules/svc.py
  plugins/modules/svr4pkg.py
  plugins/modules/swdepot.py
  plugins/modules/swupd.py
  plugins/modules/syslogger.py
  plugins/modules/syspatch.py
  plugins/modules/sysrc.py
  plugins/modules/sysupgrade.py
Labels: module, plugins, docs, backport-9, backport-10

#9270 zypper: add simple_errors option - fixes #8416
  changelogs/fragments/9270-zypper-add-simple_errors.yaml
  plugins/modules/zypper.py
Labels: feature, module, new_contributor, plugins, check-before-release, backport-10

#9353 s[a-c]*: normalize docs
  plugins/modules/say.py
  plugins/modules/scaleway_compute.py
  plugins/modules/scaleway_compute_private_network.py
  plugins/modules/scaleway_container.py
  plugins/modules/scaleway_container_info.py
  plugins/modules/scaleway_container_namespace.py
  plugins/modules/scaleway_container_namespace_info.py
  plugins/modules/scaleway_container_registry.py
  plugins/modules/scaleway_container_registry_info.py
  plugins/modules/scaleway_database_backup.py
  plugins/modules/scaleway_function.py
  plugins/modules/scaleway_function_info.py
  plugins/modules/scaleway_function_namespace.py
  plugins/modules/scaleway_function_namespace_info.py
  plugins/modules/scaleway_image_info.py
  plugins/modules/scaleway_ip.py
  plugins/modules/scaleway_ip_info.py
  plugins/modules/scaleway_lb.py
  plugins/modules/scaleway_organization_info.py
  plugins/modules/scaleway_private_network.py
  plugins/modules/scaleway_security_group.py
  plugins/modules/scaleway_security_group_info.py
  plugins/modules/scaleway_security_group_rule.py
  plugins/modules/scaleway_server_info.py
  plugins/modules/scaleway_snapshot_info.py
  plugins/modules/scaleway_sshkey.py
  plugins/modules/scaleway_user_data.py
  plugins/modules/scaleway_volume.py
  plugins/modules/scaleway_volume_info.py
Labels: module, plugins, docs, check-before-release, backport-9, backport-10

#9354 r*: normalize docs
  plugins/modules/read_csv.py
  plugins/modules/redfish_command.py
  plugins/modules/redfish_config.py
  plugins/modules/redfish_info.py
  plugins/modules/redhat_subscription.py
  plugins/modules/redis.py
  plugins/modules/redis_data.py
  plugins/modules/redis_data_incr.py
  plugins/modules/redis_data_info.py
  plugins/modules/redis_info.py
  plugins/modules/rhevm.py
  plugins/modules/rhsm_release.py
  plugins/modules/rhsm_repository.py
  plugins/modules/riak.py
  plugins/modules/rocketchat.py
  plugins/modules/rollbar_deployment.py
  plugins/modules/rpm_ostree_pkg.py
  plugins/modules/rundeck_acl_policy.py
  plugins/modules/rundeck_job_executions_info.py
  plugins/modules/rundeck_job_run.py
  plugins/modules/rundeck_project.py
  plugins/modules/runit.py
Labels: module, plugins, docs, redhat_subscription, backport-9, backport-10

#9262 Add inventory plugin iocage
  .github/BOTMETA.yml
  plugins/inventory/iocage.py
  tests/unit/plugins/inventory/fixtures/iocage_inventory.yml
  tests/unit/plugins/inventory/fixtures/iocage_inventory.yml.license
  tests/unit/plugins/inventory/fixtures/iocage_jails.txt
  tests/unit/plugins/inventory/fixtures/iocage_jails.txt.license
  tests/unit/plugins/inventory/fixtures/iocage_jails.yml
  tests/unit/plugins/inventory/fixtures/iocage_jails.yml.license
  tests/unit/plugins/inventory/fixtures/iocage_properties.txt
  tests/unit/plugins/inventory/fixtures/iocage_properties.txt.license
  tests/unit/plugins/inventory/fixtures/iocage_properties.yml
  tests/unit/plugins/inventory/fixtures/iocage_properties.yml.license
  tests/unit/plugins/inventory/fixtures/iocage_properties_test_101.txt
  tests/unit/plugins/inventory/fixtures/iocage_properties_test_101.txt.license
  tests/unit/plugins/inventory/fixtures/iocage_properties_test_102.txt
  tests/unit/plugins/inventory/fixtures/iocage_properties_test_102.txt.license
  tests/unit/plugins/inventory/fixtures/iocage_properties_test_103.txt
  tests/unit/plugins/inventory/fixtures/iocage_properties_test_103.txt.license
  tests/unit/plugins/inventory/test_iocage.py
Labels: feature, tests, unit, has_issue, new_plugin, inventory, plugins, backport-10

#9371 [pi ... prof]*: normalize docs
  plugins/modules/pids.py
  plugins/modules/pingdom.py
  plugins/modules/pip_package_info.py
  plugins/modules/pipx.py
  plugins/modules/pipx_info.py
  plugins/modules/pkg5.py
  plugins/modules/pkg5_publisher.py
  plugins/modules/pkgin.py
  plugins/modules/pkgng.py
  plugins/modules/pkgutil.py
  plugins/modules/pmem.py
  plugins/modules/pnpm.py
  plugins/modules/portage.py
  plugins/modules/portinstall.py
  plugins/modules/pritunl_org.py
  plugins/modules/pritunl_org_info.py
  plugins/modules/pritunl_user.py
  plugins/modules/pritunl_user_info.py
  plugins/modules/profitbricks.py
  plugins/modules/profitbricks_datacenter.py
  plugins/modules/profitbricks_nic.py
  plugins/modules/profitbricks_volume.py
  plugins/modules/profitbricks_volume_attachments.py
Labels: module, plugins, docs, check-before-release, backport-9, backport-10

#9373 [onev ... ovh]*.py: normalize docs
  plugins/modules/oneview_datacenter_info.py
  plugins/modules/oneview_enclosure_info.py
  plugins/modules/oneview_ethernet_network.py
  plugins/modules/oneview_ethernet_network_info.py
  plugins/modules/oneview_fc_network.py
  plugins/modules/oneview_fc_network_info.py
  plugins/modules/oneview_fcoe_network.py
  plugins/modules/oneview_fcoe_network_info.py
  plugins/modules/oneview_logical_interconnect_group.py
  plugins/modules/oneview_logical_interconnect_group_info.py
  plugins/modules/oneview_network_set.py
  plugins/modules/oneview_network_set_info.py
  plugins/modules/oneview_san_manager.py
  plugins/modules/oneview_san_manager_info.py
  plugins/modules/online_server_info.py
  plugins/modules/online_user_info.py
  plugins/modules/open_iscsi.py
  plugins/modules/openbsd_pkg.py
  plugins/modules/opendj_backendprop.py
  plugins/modules/openwrt_init.py
  plugins/modules/opkg.py
  plugins/modules/osx_defaults.py
  plugins/modules/ovh_ip_failover.py
  plugins/modules/ovh_ip_loadbalancing_backend.py
  plugins/modules/ovh_monthly_billing.py
Labels: module, plugins, docs, check-before-release, backport-9, backport-10

#9372 p[a-e]*: normalize docs
  plugins/modules/pacemaker_cluster.py
  plugins/modules/packet_device.py
  plugins/modules/packet_ip_subnet.py
  plugins/modules/packet_project.py
  plugins/modules/packet_sshkey.py
  plugins/modules/packet_volume.py
  plugins/modules/packet_volume_attachment.py
  plugins/modules/pacman.py
  plugins/modules/pacman_key.py
  plugins/modules/pagerduty.py
  plugins/modules/pagerduty_alert.py
  plugins/modules/pagerduty_change.py
  plugins/modules/pagerduty_user.py
  plugins/modules/pam_limits.py
  plugins/modules/pamd.py
  plugins/modules/parted.py
  plugins/modules/pear.py
Labels: module, plugins, docs, check-before-release, needs_maintainer, backport-9, backport-10

#9352 s[e-n]*: normalize docs
  plugins/modules/sefcontext.py
  plugins/modules/selinux_permissive.py
  plugins/modules/selogin.py
  plugins/modules/sendgrid.py
  plugins/modules/sensu_check.py
  plugins/modules/sensu_client.py
  plugins/modules/sensu_handler.py
  plugins/modules/sensu_silence.py
  plugins/modules/sensu_subscription.py
  plugins/modules/seport.py
  plugins/modules/serverless.py
  plugins/modules/shutdown.py
  plugins/modules/simpleinit_msb.py
  plugins/modules/sl_vm.py
  plugins/modules/slack.py
  plugins/modules/slackpkg.py
  plugins/modules/smartos_image_info.py
  plugins/modules/snap.py
  plugins/modules/snap_alias.py
  plugins/modules/snmp_facts.py
Labels: module, plugins, docs, check-before-release, needs_maintainer, backport-9, backport-10

#9364 [prox ... pyth]*: normalize docs
  plugins/modules/proxmox.py
  plugins/modules/proxmox_backup.py
  plugins/modules/proxmox_disk.py
  plugins/modules/proxmox_domain_info.py
  plugins/modules/proxmox_group_info.py
  plugins/modules/proxmox_kvm.py
  plugins/modules/proxmox_nic.py
  plugins/modules/proxmox_node_info.py
  plugins/modules/proxmox_pool.py
  plugins/modules/proxmox_pool_member.py
  plugins/modules/proxmox_snap.py
  plugins/modules/proxmox_storage_contents_info.py
  plugins/modules/proxmox_storage_info.py
  plugins/modules/proxmox_tasks_info.py
  plugins/modules/proxmox_template.py
  plugins/modules/proxmox_user_info.py
  plugins/modules/proxmox_vm_info.py
  plugins/modules/pubnub_blocks.py
  plugins/modules/pulp_repo.py
  plugins/modules/puppet.py
  plugins/modules/pushbullet.py
  plugins/modules/pushover.py
  plugins/modules/python_requirements_info.py
Labels: module, plugins, docs, check-before-release, backport-9, backport-10

#9390 l*.py: normalize docs
  plugins/modules/launchd.py
  plugins/modules/layman.py
  plugins/modules/lbu.py
  plugins/modules/ldap_attrs.py
  plugins/modules/ldap_entry.py
  plugins/modules/ldap_passwd.py
  plugins/modules/ldap_search.py
  plugins/modules/librato_annotation.py
  plugins/modules/linode.py
  plugins/modules/linode_v4.py
  plugins/modules/listen_ports_facts.py
  plugins/modules/lldp.py
  plugins/modules/locale_gen.py
  plugins/modules/logentries.py
  plugins/modules/logentries_msg.py
  plugins/modules/logstash_plugin.py
  plugins/modules/lvg.py
  plugins/modules/lvg_rename.py
  plugins/modules/lvol.py
  plugins/modules/lxc_container.py
  plugins/modules/lxca_cmms.py
  plugins/modules/lxca_nodes.py
  plugins/modules/lxd_container.py
  plugins/modules/lxd_profile.py
  plugins/modules/lxd_project.py
Labels: module, plugins, docs, check-before-release, needs_maintainer, backport-9, backport-10

#9389 ma*.py: normalize docs
  plugins/modules/macports.py
  plugins/modules/mail.py
  plugins/modules/make.py
  plugins/modules/manageiq_alert_profiles.py
  plugins/modules/manageiq_alerts.py
  plugins/modules/manageiq_group.py
  plugins/modules/manageiq_policies.py
  plugins/modules/manageiq_policies_info.py
  plugins/modules/manageiq_provider.py
  plugins/modules/manageiq_tags.py
  plugins/modules/manageiq_tags_info.py
  plugins/modules/manageiq_tenant.py
  plugins/modules/manageiq_user.py
  plugins/modules/mas.py
  plugins/modules/matrix.py
  plugins/modules/mattermost.py
  plugins/modules/maven_artifact.py
Labels: module, plugins, docs, check-before-release, backport-9, backport-10

#9388 [mem ... n]*.py: normalize docs
  plugins/modules/memset_dns_reload.py
  plugins/modules/memset_memstore_info.py
  plugins/modules/memset_server_info.py
  plugins/modules/memset_zone.py
  plugins/modules/memset_zone_domain.py
  plugins/modules/memset_zone_record.py
  plugins/modules/mksysb.py
  plugins/modules/modprobe.py
  plugins/modules/monit.py
  plugins/modules/mqtt.py
  plugins/modules/mssql_db.py
  plugins/modules/mssql_script.py
  plugins/modules/nagios.py
  plugins/modules/netcup_dns.py
  plugins/modules/newrelic_deployment.py
  plugins/modules/nexmo.py
  plugins/modules/nginx_status_info.py
  plugins/modules/nictagadm.py
  plugins/modules/nmcli.py
  plugins/modules/nomad_job.py
  plugins/modules/nomad_job_info.py
  plugins/modules/nomad_token.py
  plugins/modules/nosh.py
  plugins/modules/npm.py
  plugins/modules/nsupdate.py
Labels: backport-9, backport-10

#9391 k*.py: normalize docs
  plugins/modules/kdeconfig.py
  plugins/modules/kernel_blacklist.py
  plugins/modules/keycloak_authentication.py
  plugins/modules/keycloak_authentication_required_actions.py
  plugins/modules/keycloak_authz_authorization_scope.py
  plugins/modules/keycloak_authz_custom_policy.py
  plugins/modules/keycloak_authz_permission.py
  plugins/modules/keycloak_authz_permission_info.py
  plugins/modules/keycloak_client.py
  plugins/modules/keycloak_client_rolemapping.py
  plugins/modules/keycloak_client_rolescope.py
  plugins/modules/keycloak_clientscope.py
  plugins/modules/keycloak_clientscope_type.py
  plugins/modules/keycloak_clientsecret_info.py
  plugins/modules/keycloak_clientsecret_regenerate.py
  plugins/modules/keycloak_clienttemplate.py
  plugins/modules/keycloak_component.py
  plugins/modules/keycloak_component_info.py
  plugins/modules/keycloak_group.py
  plugins/modules/keycloak_identity_provider.py
  plugins/modules/keycloak_realm.py
  plugins/modules/keycloak_realm_info.py
  plugins/modules/keycloak_realm_key.py
  plugins/modules/keycloak_realm_keys_metadata_info.py
  plugins/modules/keycloak_realm_rolemapping.py
  plugins/modules/keycloak_role.py
  plugins/modules/keycloak_user.py
  plugins/modules/keycloak_user_federation.py
  plugins/modules/keycloak_user_rolemapping.py
  plugins/modules/keycloak_userprofile.py
  plugins/modules/keyring.py
  plugins/modules/keyring_info.py
  plugins/modules/kibana_plugin.py
  plugins/modules/krb_ticket.py
Labels: module, plugins, docs, check-before-release, backport-9, backport-10

#9382 [oc ... onep]*.py: normalize docs
  plugins/modules/ocapi_command.py
  plugins/modules/ocapi_info.py
  plugins/modules/oci_vcn.py
  plugins/modules/odbc.py
  plugins/modules/office_365_connector_card.py
  plugins/modules/ohai.py
  plugins/modules/omapi_host.py
  plugins/modules/one_host.py
  plugins/modules/one_image.py
  plugins/modules/one_image_info.py
  plugins/modules/one_service.py
  plugins/modules/one_template.py
  plugins/modules/one_vm.py
  plugins/modules/one_vnet.py
  plugins/modules/oneandone_firewall_policy.py
  plugins/modules/oneandone_load_balancer.py
  plugins/modules/oneandone_monitoring_policy.py
  plugins/modules/oneandone_private_network.py
  plugins/modules/oneandone_public_ip.py
  plugins/modules/oneandone_server.py
  plugins/modules/onepassword_info.py
Labels: module, plugins, docs, backport-9, backport-10

#9363 dig: handle NoNameservers exception
  changelogs/fragments/9363-dig-nonameservers.yml
  plugins/lookup/dig.py
Labels: bug, lookup, has_issue, plugins, shipit, backport-9, backport-10

#9393 i[b-n]*.py: normalize docs
  plugins/modules/ibm_sa_domain.py
  plugins/modules/ibm_sa_host.py
  plugins/modules/ibm_sa_host_ports.py
  plugins/modules/ibm_sa_pool.py
  plugins/modules/ibm_sa_vol.py
  plugins/modules/ibm_sa_vol_map.py
  plugins/modules/icinga2_feature.py
  plugins/modules/icinga2_host.py
  plugins/modules/idrac_redfish_command.py
  plugins/modules/idrac_redfish_config.py
  plugins/modules/idrac_redfish_info.py
  plugins/modules/ilo_redfish_command.py
  plugins/modules/ilo_redfish_config.py
  plugins/modules/ilo_redfish_info.py
  plugins/modules/imc_rest.py
  plugins/modules/imgadm.py
  plugins/modules/infinity.py
  plugins/modules/influxdb_database.py
  plugins/modules/influxdb_query.py
  plugins/modules/influxdb_retention_policy.py
  plugins/modules/influxdb_user.py
  plugins/modules/influxdb_write.py
  plugins/modules/ini_file.py
  plugins/modules/installp.py
  plugins/modules/interfaces_file.py
Labels: module, plugins, docs, check-before-release, backport-9, backport-10

#9401 [def]*.py: normalize docs
  plugins/modules/datadog_downtime.py
  plugins/modules/datadog_event.py
  plugins/modules/datadog_monitor.py
  plugins/modules/dconf.py
  plugins/modules/decompress.py
  plugins/modules/deploy_helper.py
  plugins/modules/dimensiondata_network.py
  plugins/modules/dimensiondata_vlan.py
  plugins/modules/discord.py
  plugins/modules/django_check.py
  plugins/modules/django_command.py
  plugins/modules/django_createcachetable.py
  plugins/modules/django_manage.py
  plugins/modules/dnf_config_manager.py
  plugins/modules/dnf_versionlock.py
  plugins/modules/dnsimple.py
  plugins/modules/dnsimple_info.py
  plugins/modules/dnsmadeeasy.py
  plugins/modules/dpkg_divert.py
  plugins/modules/easy_install.py
  plugins/modules/ejabberd_user.py
  plugins/modules/elasticsearch_plugin.py
  plugins/modules/emc_vnx_sg_member.py
  plugins/modules/etcd3.py
  plugins/modules/facter.py
  plugins/modules/facter_facts.py
  plugins/modules/filesize.py
  plugins/modules/filesystem.py
  plugins/modules/flatpak.py
  plugins/modules/flatpak_remote.py
Labels: module, plugins, docs, check-before-release, needs_maintainer, backport-9, backport-10

#9395 g*.py: normalize docs
  plugins/modules/gandi_livedns.py
  plugins/modules/gconftool2.py
  plugins/modules/gconftool2_info.py
  plugins/modules/gem.py
  plugins/modules/gio_mime.py
  plugins/modules/git_config.py
  plugins/modules/git_config_info.py
  plugins/modules/github_deploy_key.py
  plugins/modules/github_issue.py
  plugins/modules/github_key.py
  plugins/modules/github_release.py
  plugins/modules/github_repo.py
  plugins/modules/github_webhook.py
  plugins/modules/github_webhook_info.py
  plugins/modules/gitlab_branch.py
  plugins/modules/gitlab_deploy_key.py
  plugins/modules/gitlab_group.py
  plugins/modules/gitlab_group_access_token.py
  plugins/modules/gitlab_group_members.py
  plugins/modules/gitlab_group_variable.py
  plugins/modules/gitlab_hook.py
  plugins/modules/gitlab_instance_variable.py
  plugins/modules/gitlab_issue.py
  plugins/modules/gitlab_label.py
  plugins/modules/gitlab_merge_request.py
  plugins/modules/gitlab_milestone.py
  plugins/modules/gitlab_project.py
  plugins/modules/gitlab_project_access_token.py
  plugins/modules/gitlab_project_badge.py
  plugins/modules/gitlab_project_members.py
  plugins/modules/gitlab_project_variable.py
  plugins/modules/gitlab_protected_branch.py
  plugins/modules/gitlab_runner.py
  plugins/modules/gitlab_user.py
  plugins/modules/grove.py
  plugins/modules/gunicorn.py
Labels: module, plugins, docs, check-before-release, backport-9, backport-10

#9394 h*.py: normalize docs
  plugins/modules/haproxy.py
  plugins/modules/heroku_collaborator.py
  plugins/modules/hg.py
  plugins/modules/hipchat.py
  plugins/modules/homebrew.py
  plugins/modules/homebrew_cask.py
  plugins/modules/homebrew_services.py
  plugins/modules/homebrew_tap.py
  plugins/modules/homectl.py
  plugins/modules/honeybadger_deployment.py
  plugins/modules/hpilo_boot.py
  plugins/modules/hpilo_info.py
  plugins/modules/hponcfg.py
  plugins/modules/htpasswd.py
  plugins/modules/hwc_ecs_instance.py
  plugins/modules/hwc_evs_disk.py
  plugins/modules/hwc_network_vpc.py
  plugins/modules/hwc_smn_topic.py
  plugins/modules/hwc_vpc_eip.py
  plugins/modules/hwc_vpc_peering_connect.py
  plugins/modules/hwc_vpc_port.py
  plugins/modules/hwc_vpc_private_ip.py
  plugins/modules/hwc_vpc_route.py
  plugins/modules/hwc_vpc_security_group.py
  plugins/modules/hwc_vpc_security_group_rule.py
  plugins/modules/hwc_vpc_subnet.py
Labels: module, callback, plugins, docs, backport-9, backport-10

#9418 c*.py: normalize docs
  plugins/modules/campfire.py
  plugins/modules/capabilities.py
  plugins/modules/cargo.py
  plugins/modules/catapult.py
  plugins/modules/circonus_annotation.py
  plugins/modules/cisco_webex.py
  plugins/modules/clc_aa_policy.py
  plugins/modules/clc_alert_policy.py
  plugins/modules/clc_blueprint_package.py
  plugins/modules/clc_firewall_policy.py
  plugins/modules/clc_group.py
  plugins/modules/clc_loadbalancer.py
  plugins/modules/clc_modify_server.py
  plugins/modules/clc_publicip.py
  plugins/modules/clc_server.py
  plugins/modules/clc_server_snapshot.py
  plugins/modules/cloud_init_data_facts.py
  plugins/modules/cloudflare_dns.py
  plugins/modules/cobbler_sync.py
  plugins/modules/cobbler_system.py
  plugins/modules/composer.py
  plugins/modules/consul.py
  plugins/modules/consul_acl_bootstrap.py
  plugins/modules/consul_agent_check.py
  plugins/modules/consul_agent_service.py
  plugins/modules/consul_auth_method.py
  plugins/modules/consul_binding_rule.py
  plugins/modules/consul_kv.py
  plugins/modules/consul_policy.py
  plugins/modules/consul_role.py
  plugins/modules/consul_session.py
  plugins/modules/consul_token.py
  plugins/modules/copr.py
  plugins/modules/cpanm.py
  plugins/modules/cronvar.py
  plugins/modules/crypttab.py
Labels: module, plugins, docs, check-before-release, backport-9, backport-10

#9421 [ab]*.py: normalize docs
  plugins/modules/aerospike_migrations.py
  plugins/modules/airbrake_deployment.py
  plugins/modules/aix_devices.py
  plugins/modules/aix_filesystem.py
  plugins/modules/aix_inittab.py
  plugins/modules/aix_lvg.py
  plugins/modules/aix_lvol.py
  plugins/modules/alerta_customer.py
  plugins/modules/ali_instance.py
  plugins/modules/ali_instance_info.py
  plugins/modules/alternatives.py
  plugins/modules/android_sdk.py
  plugins/modules/ansible_galaxy_install.py
  plugins/modules/apache2_mod_proxy.py
  plugins/modules/apache2_module.py
  plugins/modules/apk.py
  plugins/modules/apt_repo.py
  plugins/modules/apt_rpm.py
  plugins/modules/archive.py
  plugins/modules/atomic_container.py
  plugins/modules/atomic_host.py
  plugins/modules/atomic_image.py
  plugins/modules/awall.py
  plugins/modules/beadm.py
  plugins/modules/bearychat.py
  plugins/modules/bigpanda.py
  plugins/modules/bitbucket_access_key.py
  plugins/modules/bitbucket_pipeline_key_pair.py
  plugins/modules/bitbucket_pipeline_known_host.py
  plugins/modules/bitbucket_pipeline_variable.py
  plugins/modules/bootc_manage.py
  plugins/modules/bower.py
  plugins/modules/btrfs_info.py
  plugins/modules/btrfs_subvolume.py
  plugins/modules/bundler.py
  plugins/modules/bzr.py
Labels: module, plugins, docs, check-before-release, backport-9, backport-10

#9422 [a-n]*.py: normalize doc_fragments
  plugins/doc_fragments/alicloud.py
  plugins/doc_fragments/attributes.py
  plugins/doc_fragments/auth_basic.py
  plugins/doc_fragments/bitbucket.py
  plugins/doc_fragments/consul.py
  plugins/doc_fragments/dimensiondata.py
  plugins/doc_fragments/dimensiondata_wait.py
  plugins/doc_fragments/django.py
  plugins/doc_fragments/emc.py
  plugins/doc_fragments/gitlab.py
  plugins/doc_fragments/hpe3par.py
  plugins/doc_fragments/hwc.py
  plugins/doc_fragments/ibm_storage.py
  plugins/doc_fragments/influxdb.py
  plugins/doc_fragments/ipa.py
  plugins/doc_fragments/keycloak.py
  plugins/doc_fragments/ldap.py
  plugins/doc_fragments/lxca_common.py
  plugins/doc_fragments/manageiq.py
  plugins/doc_fragments/nomad.py
Labels: docs_fragments, plugins, docs, backport-9, backport-10

#9433 remove extraneous doc fragments
  plugins/doc_fragments/emc.py
  plugins/doc_fragments/purestorage.py
  plugins/doc_fragments/vexata.py
Labels: docs_fragments, plugins, docs, check-before-release, backport-10

#9256 proxmox_disk: fix async method of resize_disk
  changelogs/fragments/9256-proxmox_disk-fix-async-method-of-resize_disk.yml
  plugins/module_utils/proxmox.py
  plugins/modules/proxmox_disk.py
Labels: bug, module, module_utils, plugins, check-before-release, backport-9, backport-10

#9432 purestorage: deprecate leftovers
  changelogs/fragments/9432-deprecate-pure.yml
  meta/runtime.yml
Labels: feature, check-before-release, backport-10

#9436 chore(docs): rpm_ostree_pkg fix examples
  plugins/modules/rpm_ostree_pkg.py
Labels: bug, module, new_contributor, small_patch, plugins, docs, docs_only, backport-8, backport-9, backport-10

#9379 plugins: replace to_native(), to_text(), str() with str() where possible or leave it away in f-string formatting
  changelogs/fragments/9379-refactor.yml
  plugins/action/shutdown.py
  plugins/cache/redis.py
  plugins/callback/counter_enabled.py
  plugins/callback/dense.py
  plugins/callback/logentries.py
  plugins/callback/slack.py
  plugins/callback/unixy.py
  plugins/callback/yaml.py
  plugins/connection/chroot.py
  plugins/connection/incus.py
  plugins/connection/lxd.py
  plugins/filter/from_csv.py
  plugins/filter/from_ini.py
  plugins/filter/to_ini.py
  plugins/inventory/cobbler.py
  plugins/inventory/gitlab_runners.py
  plugins/inventory/iocage.py
  plugins/inventory/lxd.py
  plugins/inventory/nmap.py
  plugins/inventory/opennebula.py
  plugins/inventory/proxmox.py
  plugins/inventory/scaleway.py
  plugins/inventory/virtualbox.py
  plugins/lookup/cyberarkpassword.py
  plugins/lookup/dig.py
  plugins/lookup/dnstxt.py
  plugins/lookup/etcd3.py
  plugins/lookup/keyring.py
  plugins/lookup/lmdb_kv.py
  plugins/lookup/manifold.py
  plugins/lookup/onepassword.py
  plugins/lookup/tss.py
  plugins/plugin_utils/unsafe.py
Labels: lookup, callback, connection, cache, filter, inventory, plugins, cloud, action, check-before-release, backport-10

#9443 slack: deprecate current default `auto` for `prepend_hash`
  changelogs/fragments/9443-slack-prepend_hash.yml
  plugins/modules/slack.py
Labels: feature, module, plugins

#9435 Adjust doc style
  plugins/modules/sensu_check.py
  plugins/modules/sensu_client.py
  plugins/modules/sensu_handler.py
  plugins/modules/sensu_silence.py
  plugins/modules/sensu_subscription.py
  plugins/modules/slack.py
  plugins/modules/spotinst_aws_elastigroup.py
  plugins/modules/stacki_host.py
  plugins/modules/sudoers.py
  plugins/modules/supervisorctl.py
  plugins/modules/svr4pkg.py
  plugins/modules/swupd.py
  plugins/modules/telegram.py
  plugins/modules/terraform.py
  plugins/modules/twilio.py
  plugins/modules/udm_dns_record.py
  plugins/modules/udm_dns_zone.py
  plugins/modules/utm_dns_host.py
  plugins/modules/vdo.py
  plugins/modules/vertica_user.py
  plugins/modules/vmadm.py
  plugins/modules/wakeonlan.py
  plugins/modules/xcc_redfish_command.py
  plugins/modules/xenserver_guest.py
Labels: module, plugins, docs, check-before-release, backport-9, backport-10

#9442 Docs: fix its vs. it's
  plugins/become/pfexec.py
  plugins/callback/dense.py
  plugins/connection/chroot.py
  plugins/connection/jail.py
  plugins/connection/zone.py
  plugins/inventory/cobbler.py
  plugins/inventory/gitlab_runners.py
  plugins/inventory/proxmox.py
  plugins/inventory/virtualbox.py
  plugins/lookup/flattened.py
  plugins/module_utils/_filelock.py
  plugins/module_utils/identity/keycloak/keycloak.py
  plugins/module_utils/identity/keycloak/keycloak_clientsecret.py
  plugins/module_utils/redfish_utils.py
  plugins/modules/capabilities.py
  plugins/modules/clc_server.py
  plugins/modules/dnsmadeeasy.py
  plugins/modules/dpkg_divert.py
  plugins/modules/gitlab_label.py
  plugins/modules/hg.py
  plugins/modules/influxdb_retention_policy.py
  plugins/modules/interfaces_file.py
  plugins/modules/ipa_user.py
  plugins/modules/java_cert.py
  plugins/modules/jenkins_job_info.py
  plugins/modules/jenkins_script.py
  plugins/modules/keycloak_authentication.py
  plugins/modules/keycloak_user_federation.py
  plugins/modules/keycloak_userprofile.py
  plugins/modules/kibana_plugin.py
  plugins/modules/lvg.py
  plugins/modules/lxc_container.py
  plugins/modules/macports.py
  plugins/modules/manageiq_alerts.py
  plugins/modules/memset_zone_domain.py
  plugins/modules/monit.py
  plugins/modules/oci_vcn.py
  plugins/modules/one_vm.py
  plugins/modules/oneandone_server.py
  plugins/modules/openbsd_pkg.py
  plugins/modules/ovh_ip_failover.py
  plugins/modules/packet_device.py
  plugins/modules/packet_ip_subnet.py
  plugins/modules/pear.py
  plugins/modules/pkgin.py
  plugins/modules/pkgutil.py
  plugins/modules/pmem.py
  plugins/modules/proxmox.py
  plugins/modules/proxmox_kvm.py
  plugins/modules/puppet.py
  plugins/modules/rundeck_acl_policy.py
  plugins/modules/sensu_client.py
  plugins/modules/sensu_handler.py
  plugins/modules/sl_vm.py
  plugins/modules/solaris_zone.py
  plugins/modules/timezone.py
  plugins/modules/udm_share.py
  plugins/modules/vdo.py
  plugins/modules/vmadm.py
  plugins/modules/xml.py
Labels: docs, backport-9, backport-10

#9451 facter: deprecation
  changelogs/fragments/9451-facter-deprecation.yml
  meta/runtime.yml
  plugins/modules/facter.py
Labels: feature, module, plugins, check-before-release, backport-10

#9450 dnsmadeeasy: doc-adjustments
  plugins/modules/dnsmadeeasy.py
Labels: module, small_patch, plugins, docs, check-before-release, docs_only, backport-9, backport-10

#9453 normalize docs in cache/connection plugins
  plugins/cache/memcached.py
  plugins/cache/pickle.py
  plugins/cache/redis.py
  plugins/cache/yaml.py
  plugins/connection/chroot.py
  plugins/connection/funcd.py
  plugins/connection/incus.py
  plugins/connection/iocage.py
  plugins/connection/jail.py
  plugins/connection/lxc.py
  plugins/connection/lxd.py
  plugins/connection/qubes.py
  plugins/connection/saltstack.py
  plugins/connection/zone.py
Labels: connection, cache, plugins, docs, docs_only, backport-9, backport-10

#9447 adjust doc style - batch 2
  plugins/modules/clc_publicip.py
  plugins/modules/clc_server.py
  plugins/modules/cloudflare_dns.py
  plugins/modules/etcd3.py
  plugins/modules/gitlab_hook.py
  plugins/modules/homectl.py
  plugins/modules/infinity.py
  plugins/modules/ipinfoio_facts.py
  plugins/modules/ipmi_boot.py
  plugins/modules/ipmi_power.py
  plugins/modules/jenkins_plugin.py
  plugins/modules/librato_annotation.py
  plugins/modules/lxc_container.py
  plugins/modules/mattermost.py
  plugins/modules/oneandone_public_ip.py
  plugins/modules/ovh_ip_loadbalancing_backend.py
  plugins/modules/packet_project.py
  plugins/modules/proxmox_kvm.py
  plugins/modules/riak.py
  plugins/modules/scaleway_ip_info.py
  plugins/modules/sendgrid.py
Labels: module, plugins, docs, check-before-release, backport-9, backport-10

#9449 manageiq_alert_profiles: improve handling param requirements
  changelogs/fragments/9449-manageiq-alert-profiles-reqs.yml
  plugins/modules/manageiq_alert_profiles.py
Labels: module, plugins, check-before-release, backport-10

#9452 normalize docs in become plugins
  plugins/become/doas.py
  plugins/become/dzdo.py
  plugins/become/ksu.py
  plugins/become/machinectl.py
  plugins/become/pbrun.py
  plugins/become/pfexec.py
  plugins/become/pmrun.py
  plugins/become/run0.py
  plugins/become/sesu.py
  plugins/become/sudosu.py
Labels: needs_revision, become, plugins, docs, check-before-release, backport-9, backport-10

#9455 normalize docs in callback plugins
  plugins/callback/cgroup_memory_recap.py
  plugins/callback/context_demo.py
  plugins/callback/counter_enabled.py
  plugins/callback/default_without_diff.py
  plugins/callback/dense.py
  plugins/callback/diy.py
  plugins/callback/elastic.py
  plugins/callback/jabber.py
  plugins/callback/log_plays.py
  plugins/callback/loganalytics.py
  plugins/callback/logdna.py
  plugins/callback/logentries.py
  plugins/callback/logstash.py
  plugins/callback/mail.py
  plugins/callback/nrdp.py
  plugins/callback/null.py
  plugins/callback/opentelemetry.py
  plugins/callback/say.py
  plugins/callback/selective.py
  plugins/callback/slack.py
  plugins/callback/splunk.py
  plugins/callback/sumologic.py
  plugins/callback/syslog_json.py
  plugins/callback/timestamp.py
  plugins/callback/unixy.py
  plugins/callback/yaml.py
Labels: callback, plugins, docs, check-before-release, backport-9, backport-10

#9383 add support for systemd creds encrypt/decrypt
  .github/BOTMETA.yml
  plugins/modules/systemd_creds_decrypt.py
  plugins/modules/systemd_creds_encrypt.py
  tests/integration/targets/systemd_creds_decrypt/aliases
  tests/integration/targets/systemd_creds_decrypt/tasks/main.yaml
  tests/integration/targets/systemd_creds_encrypt/aliases
  tests/integration/targets/systemd_creds_encrypt/tasks/main.yaml
Labels: module, tests, integration, plugins, check-before-release, backport-10

#9456 yaml callback plugin: deprecation
  changelogs/fragments/9456-yaml-callback-deprecation.yml
  meta/runtime.yml
  plugins/callback/yaml.py
Labels: feature, needs_revision, callback, plugins, check-before-release, backport-10

#9471 pacemaker_cluster: fix run_command() calls
  changelogs/fragments/9387-pacemaker-cluster-cmd.yml
  plugins/modules/pacemaker_cluster.py
Labels: bug, module, plugins, check-before-release, backport-9, backport-10

#9425 gitlab_instance_variable: Add support for 'raw' property
  changelogs/fragments/9425-gitlab-instance-raw-variable.yml
  plugins/modules/gitlab_instance_variable.py
Labels: bug, module, new_contributor, plugins, backport-10

#9470 svc: adjustments to docs
  plugins/modules/svc.py
Labels: module, plugins, docs, check-before-release, docs_only, backport-9, backport-10

#9275 Add module ldap inc
  .github/BOTMETA.yml
  plugins/modules/ldap_inc.py
  tests/integration/targets/ldap_inc/aliases
  tests/integration/targets/ldap_inc/meta/main.yml
  tests/integration/targets/ldap_inc/tasks/main.yml
  tests/integration/targets/ldap_inc/tasks/tests/basic.yml
  tests/integration/targets/setup_openldap/files/inc_schema_cnconfig.ldif
  tests/integration/targets/setup_openldap/files/inc_schema_cnconfig.ldif.license
  tests/integration/targets/setup_openldap/files/ldap_inc_config.ldif
  tests/integration/targets/setup_openldap/files/ldap_inc_config.ldif.license
  tests/integration/targets/setup_openldap/tasks/main.yml
Labels: module, tests, integration, new_contributor, plugins, check-before-release, backport-10

#9238 locale_gen: fix/improvements
  changelogs/fragments/9238-locale-gen-rewrite.yml
  plugins/modules/locale_gen.py
  tests/integration/targets/locale_gen/tasks/main.yml
Labels: bug, module, tests, integration, needs_ci, plugins, backport-9, backport-10

#9482 opentelemetry callback plugin: remove code for Python < 3.7
  changelogs/fragments/9482-opentelemetry-python-37.yml
  plugins/callback/opentelemetry.py
Labels: needs_revision, callback, plugins, check-before-release, backport-10

#9483 sensu_*: deprecation
  changelogs/fragments/9483-sensu-deprecation.yml
  meta/runtime.yml
  plugins/modules/sensu_check.py
  plugins/modules/sensu_client.py
  plugins/modules/sensu_handler.py
  plugins/modules/sensu_silence.py
  plugins/modules/sensu_subscription.py
Labels: feature, module, has_issue, plugins, backport-10

#9486 Optimize ldap modules auth note in a doc fragment
  plugins/doc_fragments/ldap.py
  plugins/modules/ldap_attrs.py
  plugins/modules/ldap_entry.py
  plugins/modules/ldap_inc.py
  plugins/modules/ldap_passwd.py
  plugins/modules/ldap_search.py
Labels: module, docs_fragments, plugins, check-before-release, backport-10

#9490 htpasswd: let changed reflect updated permissions
  changelogs/fragments/9490-htpasswd-permissions.yml
  plugins/modules/htpasswd.py
  tests/integration/targets/htpasswd/tasks/main.yml
Labels: check-before-release, backport-9, backport-10

#9487 atomic_*: deprecation
  changelogs/fragments/9487-atomic-deprecation.yml
  meta/runtime.yml
  plugins/modules/atomic_container.py
  plugins/modules/atomic_host.py
  plugins/modules/atomic_image.py
Labels: feature, module, plugins, check-before-release, backport-10

#9496 remove code handling unsupported Python versions
  tests/sanity/ignore-2.17.txt
  tests/sanity/ignore-2.18.txt
  tests/sanity/ignore-2.19.txt
  tests/unit/compat/mock.py
  tests/unit/compat/unittest.py
  tests/unit/plugins/callback/test_loganalytics.py
Labels: tests, unit, backport-10

#9503 opentelemetry callback plugin: remove unused code
  changelogs/fragments/9503-opentelemetry-remove-unused-code.yml
  plugins/callback/opentelemetry.py
Labels: callback, plugins, check-before-release, backport-10
