Repository ansible-collections/community.general, pull requests merged in 2024-10, with the labels that each got.

#8925 Pass absolute paths to atomic_move()
  changelogs/fragments/8925-atomic.yml
  plugins/modules/ini_file.py
  plugins/modules/java_keystore.py
  plugins/modules/jenkins_plugin.py
  plugins/modules/kdeconfig.py
  plugins/modules/pam_limits.py
Labels: bug, module, plugins

#8923 keycloak_userprofile: fix empty response by removing `parent` filter when fetching userprofile component
  changelogs/fragments/8923-keycloak_userprofile-fix-empty-response-when-fetching-userprofile.yml
  plugins/modules/keycloak_userprofile.py
Labels: bug, module, plugins, check-before-release, backport-8, backport-9

#8909 flatpak: improve flatpak name parsing in `_parse_flatpak_name`
  changelogs/fragments/8909-flatpak-improve-name-parsing.yaml
  plugins/modules/flatpak.py
Labels: feature, module, new_contributor, plugins, backport-9

#8965 pipx: remove unused param from the runner ctx.run() call
  plugins/modules/pipx.py
Labels: module, small_patch, plugins, backport-9

#8963 cmd_runner_guide: docs improvements
  docs/docsite/rst/guide_cmdrunner.rst
Labels: docs, docs_only, backport-9

#8964 cmd_runner_fmt: refactor out to its own file
  .github/BOTMETA.yml
  changelogs/fragments/8964-cmd-runner-argformat-refactor.yml
  plugins/module_utils/cmd_runner.py
  plugins/module_utils/cmd_runner_fmt.py
Labels: module_utils, plugins, backport-9

#8971 fix doc for cmd_runner_fmt.as_bool()
  docs/docsite/rst/guide_cmdrunner.rst
Labels: docs, docs_only, backport-8, backport-9

#8897 nmcli: conn_reload param and up/down states
  changelogs/fragments/8897-nmcli-add-reload-and-up-down.yml
  plugins/modules/nmcli.py
  tests/unit/plugins/modules/test_nmcli.py
Labels: feature, module, tests, unit, plugins, check-before-release, backport-9

#8812 keycloak_user_federation: remove `lastSync` param from kc API responses
  changelogs/fragments/8812-keycloak-user-federation-remove-lastSync-param-from-kc-responses.yml
  plugins/modules/keycloak_user_federation.py
Labels: bug, module, has_issue, plugins, backport-8, backport-9

#8719 open_iscsi: Make targets optional for a portal login
  changelogs/fragments/8719-openiscsi-add-multiple-targets.yaml
  plugins/modules/open_iscsi.py
Labels: feature, module, tests, unit, new_plugin, plugins, backport-9

#8889 one_image/one_image_info: refactor
  changelogs/fragments/8889-refactor-one-image-modules.yml
  plugins/module_utils/opennebula.py
  plugins/modules/one_image.py
  plugins/modules/one_image_info.py
  tests/integration/targets/one_image/aliases
  tests/integration/targets/one_image/tasks/main.yml
  tests/integration/targets/one_image_info/aliases
  tests/integration/targets/one_image_info/tasks/main.yml
Labels: module, tests, integration, module_utils, plugins, backport-9

#8970 dig lookup plugin: Fix using only last nameserver specified
  changelogs/fragments/8970-fix-dig-multi-nameservers.yml
  plugins/lookup/dig.py
Labels: bug, lookup, new_contributor, plugins, backport-8, backport-9

#8987 udm_user, homectl: use legacycrypt on Python 3.13+
  changelogs/fragments/8987-legacycrypt.yml
  plugins/modules/homectl.py
  plugins/modules/udm_user.py
  tests/integration/targets/homectl/tasks/main.yml
Labels: bug, module, tests, integration, plugins, backport-8, backport-9

#8983 Update docs with references to man pages
  plugins/doc_fragments/pipx.py
  plugins/modules/ansible_galaxy_install.py
  plugins/modules/cpanm.py
  plugins/modules/gconftool2.py
  plugins/modules/gconftool2_info.py
  plugins/modules/gio_mime.py
  plugins/modules/mksysb.py
  plugins/modules/pipx.py
  plugins/modules/pipx_info.py
  plugins/modules/xfconf.py
Labels: module, docs_fragments, plugins, docs, check-before-release, backport-8, backport-9

#8938 ipa_getkeytab: Create module
  .github/BOTMETA.yml
  plugins/modules/ipa_getkeytab.py
  tests/unit/plugins/modules/test_ipa_getkeytab.py
Labels: module, tests, unit, new_plugin, plugins, check-before-release, backport-9

#8952 passwordstore: Support subkey creation and update
  changelogs/fragments/8952-password-store-lookup-create-subkey-support.yml
  plugins/lookup/passwordstore.py
Labels: feature, lookup, plugins, backport-9

#8954 keycloak_user_federation: add user federation config parameter `referral` to module args
  changelogs/fragments/8954-keycloak-user-federation-add-referral-parameter.yml
  plugins/modules/keycloak_user_federation.py
Labels: bug, module, plugins, backport-9

#8920 ipa_host: Fix enabled and disabled states
  changelogs/fragments/8920-ipa-host-fix-state.yml
  plugins/modules/ipa_host.py
Labels: bug, module, plugins, backport-9

#8948 cloudflare_dns: Update SRV record handling for Cloudflare API changes
  changelogs/fragments/8679-fix-cloudflare-srv.yml
  plugins/modules/cloudflare_dns.py
Labels: bug, module, new_contributor, plugins, backport-8, backport-9

#8940 keycloak_userprofile: improve diff by deserializing fetched `kc.user.profile.config` and serializing it before sending
  changelogs/fragments/8940-keycloak_userprofile-improve-diff.yml
  plugins/modules/keycloak_userprofile.py
  tests/unit/plugins/modules/test_keycloak_userprofile.py
Labels: bug, module, stale_ci, tests, unit, plugins, backport-8, backport-9

#8532 opennebula inventory: add VM ID and VM host to data
  changelogs/fragments/8532-expand-opennuebula-inventory-data.yml
  plugins/inventory/opennebula.py
  tests/unit/plugins/inventory/test_opennebula.py
Labels: feature, tests, unit, inventory, plugins, cloud, backport-9

#8973 keycloak_client add option to support client-x509 authentication
  changelogs/fragments/8973-keycloak_client-add-x509-auth.yml
  plugins/modules/keycloak_client.py
Labels: feature, module, plugins, backport-9

#8956 Remove 'CapacityBytes' from list of required parameters
  changelogs/fragments/8956-remove-capacitybytes-from-the-required-parameters_list.yml
  plugins/module_utils/redfish_utils.py
  plugins/modules/redfish_config.py
Labels: bug, module, module_utils, plugins, check-before-release, backport-8, backport-9

#8990 redfish_config new bool parameter to automatically delete 'None' type volumes.
  changelogs/fragments/8990.yml
  plugins/module_utils/redfish_utils.py
  plugins/modules/redfish_config.py
Labels: feature, module, module_utils, plugins, backport-9

#8921 Prepare 10.0.0 release
  .github/BOTMETA.yml
  .github/workflows/ansible-test.yml
  README.md
  changelogs/fragments/removals.yml
  galaxy.yml
  meta/runtime.yml
  plugins/callback/hipchat.py
  plugins/module_utils/redhat.py
  plugins/modules/consul_acl.py
  plugins/modules/rhn_channel.py
  plugins/modules/rhn_register.py
  tests/sanity/extra/botmeta.py
  tests/unit/plugins/modules/rhn_conftest.py
  tests/unit/plugins/modules/test_rhn_channel.py
  tests/unit/plugins/modules/test_rhn_register.py
Labels: feature, module, callback, tests, unit, integration, has_issue, module_utils, plugins, breaking_change, redhat_subscription

#8907 one_host: Fix ID logic
  changelogs/fragments/8907-fix-one-host-id.yml
  plugins/modules/one_host.py
Labels: bug, module, plugins, check-before-release, backport-9

#8953 krb_ticket: Create module
  .github/BOTMETA.yml
  plugins/modules/krb_ticket.py
  tests/unit/plugins/modules/test_krb_ticket.py
  tests/unit/plugins/modules/test_krb_ticket.yaml
Labels: module, tests, unit, new_plugin, plugins

#9012 Dell PwrButton requires a job initated at reboot
  changelogs/fragments/9012-dell-pwrbutton-requires-a-job-initiated-at-reboot.yml
  plugins/module_utils/redfish_utils.py
Labels: bug, new_contributor, module_utils, plugins, backport-9

#8778 Add zypper_repository_info module
  .github/BOTMETA.yml
  plugins/modules/zypper_repository_info.py
  tests/integration/targets/zypper_repository/tasks/test.yml
  tests/integration/targets/zypper_repository/tasks/zypper_repository_info.yml
Labels: feature, module, tests, integration, new_contributor, has_issue, plugins, check-before-release

#8972 snap: improve documentation
  plugins/modules/snap.py
Labels: module, new_contributor, plugins, docs, check-before-release, backport-9

#9010 update gitlab label's color
  changelogs/fragments/9010-edit-gitlab-label-color.yaml
  plugins/modules/gitlab_label.py
Labels: bug, module, plugins, check-before-release, backport-9

#9026 consul_kv: add argument for the datacenter option on consul api
  changelogs/fragments/9026-consul_kv-datacenter.yml
  plugins/modules/consul_kv.py
Labels: feature, module, new_contributor, plugins, check-before-release

#9028 bitwarden_secrets_manager lookup plugin: support more current versions of BWS CLI
  changelogs/fragments/9028-bitwarden-secrets-manager-syntax-fix.yml
  plugins/lookup/bitwarden_secrets_manager.py
  tests/unit/plugins/lookup/test_bitwarden_secrets_manager.py
Labels: bug, lookup, tests, unit, new_contributor, plugins, check-before-release, backport-9

#9022 Speed up brew module package install & upgrade
  changelogs/fragments/9022-improve-homebrew-perf.yml
  plugins/modules/homebrew.py
Labels: module, new_contributor, plugins

#9016 New module: Jenkins node management
  .github/BOTMETA.yml
  plugins/modules/jenkins_node.py
  tests/unit/plugins/modules/test_jenkins_node.py
  tests/unit/requirements.txt
Labels: module, tests, unit, new_contributor, new_plugin, plugins

#9035 Skip timezone test on RHEL 7.9 VMs
  tests/integration/targets/timezone/aliases
Labels: tests, integration, small_patch, backport-7, backport-8, backport-9

#8979 keycloak_group: fix subgroup creation in Keycloak ≥23
  changelogs/fragments/8979-keycloak_group-fix-subgroups.yml
  plugins/module_utils/identity/keycloak/keycloak.py
Labels: bug, stale_ci, new_contributor, module_utils, plugins, identity, backport-9

#9040 groupby_as_dict: mention Jinja2's groupby filter
  plugins/filter/groupby_as_dict.py
Labels: filter, small_patch, plugins, docs, docs_only, backport-8, backport-9

#9019 one_vnet: Fix module
  changelogs/fragments/9019-onevnet-bugfix.yml
  plugins/modules/one_vnet.py
Labels: bug, module, plugins, backport-9

#8826 add plugin for generic keycloak component
  .github/BOTMETA.yml
  plugins/modules/keycloak_component.py
  tests/unit/plugins/modules/test_keycloak_component.py
Labels: module, tests, unit, new_plugin, plugins

#8927 Update keycloak_realm, add organizations_enabled
  changelogs/fragments/9027-support-organizations-in-keycloak-realm.yml
  plugins/modules/keycloak_realm.py
Labels: feature, module, new_contributor, has_issue, plugins

#9045 Update documentation in apk.py
  plugins/modules/apk.py
Labels: bug, module, new_contributor, small_patch, plugins, docs, check-before-release, docs_only, backport-9

#9060 ansible_galaxy_install: add return value version
  changelogs/fragments/9060-ansible-galaxy-install-version.yml
  plugins/modules/ansible_galaxy_install.py
Labels: feature, module, plugins, check-before-release

#9063 django_command/django_check/django_createcachetable: add return value version
  changelogs/fragments/9063-django-version.yml
  plugins/module_utils/django.py
  plugins/modules/django_check.py
  plugins/modules/django_command.py
  plugins/modules/django_createcachetable.py
  tests/unit/plugins/modules/test_django_check.yaml
  tests/unit/plugins/modules/test_django_command.yaml
  tests/unit/plugins/modules/test_django_createcachetable.yaml
Labels: feature, module, tests, unit, module_utils, plugins

#9064 gconftool2/gconftool2_info: add return value version
  changelogs/fragments/9064-gconftool2-version.yml
  plugins/module_utils/gconftool2.py
  plugins/modules/gconftool2.py
  plugins/modules/gconftool2_info.py
  tests/unit/plugins/modules/test_gconftool2.yaml
  tests/unit/plugins/modules/test_gconftool2_info.yaml
Labels: feature, module, tests, unit, needs_ci, module_utils, plugins

#9066 proxmox_kvm: add support for ciupgrade parameter
  changelogs/fragments/9066-proxmox-kvm-ciupgrade.yml
  plugins/modules/proxmox_kvm.py
Labels: feature, module, needs_revision, new_contributor, needs_ci, plugins

#9057 Redfish: Added handling for trailing slashes in URIs when extracting member identifiers
  changelogs/fragments/9047-redfish-uri-parsing.yml
  plugins/module_utils/redfish_utils.py
Labels: bug, module_utils, plugins, check-before-release, backport-9

#9067 gio_mime: add return value version
  changelogs/fragments/9067-gio-mime-version.yml
  plugins/module_utils/gio_mime.py
  plugins/modules/gio_mime.py
  tests/unit/plugins/modules/test_gio_mime.yaml
Labels: feature, module, tests, unit, module_utils, plugins, check-before-release

#9085 Stop using ansible.module_utils.compat.importlib
  changelogs/fragments/9084-collection_version-importlib.yml
  plugins/lookup/collection_version.py
Labels: bug, lookup, plugins, backport-8, backport-9
