Repository ansible-collections/community.general, pull requests merged in 2024-06, with the labels that each got.

#8429 [stable-8] Fix the homebrew module failing because of warnings (#8406)
  changelogs/fragments/8406-fix-homebrew-cask-warning.yaml
  plugins/modules/homebrew.py
Labels: bug, module, plugins, check-before-release, backport

#8402 Add partial diff support, not in check mode to openbsd_pkg
  changelogs/fragments/8402-add-diif-mode-openbsd-pkg.yml
  plugins/modules/openbsd_pkg.py
Labels: feature, module, stale_ci, new_contributor, plugins, backport-9

#8415 add cmd_runner_fmt.stack decorator
  changelogs/fragments/8415-cmd-runner-stack.yml
  plugins/module_utils/cmd_runner.py
  tests/unit/plugins/module_utils/test_cmd_runner.py
Labels: feature, tests, unit, module_utils, plugins, check-before-release, backport-9

#8412 django_createcachetable: new module
  .github/BOTMETA.yml
  plugins/doc_fragments/django.py
  plugins/module_utils/django.py
  plugins/modules/django_createcachetable.py
  tests/unit/plugins/modules/test_django_createcachetable.py
  tests/unit/plugins/modules/test_django_createcachetable.yaml
Labels: module, tests, unit, new_plugin, docs_fragments, module_utils, plugins, backport-9

#8405 feat(gitlab modules): remove basic auth
  changelogs/fragments/8405-gitlab-remove-basic-auth.yml
  plugins/module_utils/gitlab.py
Labels: feature, module_utils, plugins, gitlab, breaking_change, check-before-release

#8417 deps module_utils: add docs
  .github/BOTMETA.yml
  docs/docsite/extra-docs.yml
  docs/docsite/rst/guide_deps.rst
Labels: docs, check-before-release, backport-9

#8431 ansible_galaxy_install: add upgrade feature
  changelogs/fragments/8431-galaxy-upgrade.yml
  plugins/modules/ansible_galaxy_install.py
  tests/integration/targets/ansible_galaxy_install/tasks/main.yml
Labels: feature, module, tests, integration, plugins, backport-9

#8434 Redfish: Add options to check the availability of the service
  changelogs/fragments/8051-Redfish-Wait-For-Service.yml
  plugins/module_utils/redfish_utils.py
  plugins/modules/redfish_command.py
  plugins/modules/redfish_info.py
Labels: feature, module, module_utils, plugins, backport-9

#8430 fix(opentelemetry): remove request from the logs
  changelogs/fragments/8430-fix-opentelemetry-when-using-logs-with-uri-or-slurp-tasks.yaml
  plugins/callback/opentelemetry.py
Labels: bug, callback, plugins, backport-8, backport-9

#8456 Feature filter keep_keys
  .github/BOTMETA.yml
  plugins/filter/keep_keys.py
  plugins/plugin_utils/keys_filter.py
  tests/integration/targets/filter_keep_keys/aliases
  tests/integration/targets/filter_keep_keys/tasks/keep_keys.yml
  tests/integration/targets/filter_keep_keys/tasks/main.yml
  tests/integration/targets/filter_keep_keys/vars/main.yml
Labels: tests, integration, has_issue, plugins, backport-9

#8453 git_config: deprecate reading values
  changelogs/fragments/8453-git_config-deprecate-read.yml
  plugins/modules/git_config.py
Labels: feature, module, plugins, backport-9

#8461 [stable-8] fix(opentelemetry): remove request from the logs (#8430)
  changelogs/fragments/8430-fix-opentelemetry-when-using-logs-with-uri-or-slurp-tasks.yaml
  plugins/callback/opentelemetry.py
Labels: bug, callback, plugins, backport

#8452 git_config: fix state=absent if value is present
  changelogs/fragments/8452-git_config-absent.yml
  plugins/modules/git_config.py
  tests/integration/targets/git_config/tasks/unset_value.yml
Labels: bug, module, tests, integration, has_issue, plugins, check-before-release, backport-8, backport-9

#8460 add docs for the vardict module utils
  .github/BOTMETA.yml
  docs/docsite/extra-docs.yml
  docs/docsite/rst/guide_vardict.rst
Labels: docs, check-before-release, backport-9

#8404 Add support for SSHFP records to ipa_dnsrecord module
  changelogs/fragments/8404-ipa_dnsrecord_sshfp.yml
  plugins/modules/ipa_dnsrecord.py
Labels: feature, module, plugins, backport-9

#8443 Feature filter remove_keys
  .github/BOTMETA.yml
  plugins/filter/remove_keys.py
  tests/integration/targets/filter_remove_keys/aliases
  tests/integration/targets/filter_remove_keys/tasks/main.yml
  tests/integration/targets/filter_remove_keys/tasks/remove_keys.yml
  tests/integration/targets/filter_remove_keys/vars/main.yml
Labels: tests, integration, has_issue, plugins, check-before-release, backport-9

#8441 #8440 Allow for API Port to be specified when using proxmox_kvm
  changelogs/fragments/8440-allow-api-port-specification.yaml
  plugins/doc_fragments/proxmox.py
  plugins/module_utils/proxmox.py
Labels: feature, new_contributor, docs_fragments, module_utils, plugins, backport-9

#8483 CI: Bump Azure test container to 6.0.0
  .azure-pipelines/azure-pipelines.yml
Labels: backport-7, backport-8, backport-9

#8454 django_check: new module
  .github/BOTMETA.yml
  plugins/modules/django_check.py
  tests/unit/plugins/modules/test_django_check.py
  tests/unit/plugins/modules/test_django_check.yaml
Labels: module, tests, unit, new_plugin, plugins, check-before-release, backport-9

#8464 feat(redis_info): add option to fetch cluster info
  changelogs/fragments/8464-redis-add-cluster-info.yml
  plugins/modules/redis_info.py
Labels: feature, module, plugins, backport-9

#8475 Update docs lists_mergeby
  plugins/filter/lists_mergeby.py
Labels: bug, filter, plugins, check-before-release, backport-8, backport-9

#8497 homectl, udm_user: guard crypt imports
  changelogs/fragments/8497-crypt.yml
  plugins/modules/homectl.py
  plugins/modules/udm_user.py
Labels: backport-8, backport-9

#8500 Add Python 3.13 to CI
  .azure-pipelines/azure-pipelines.yml
Labels: backport-8, backport-9

#8479 cmd_runner mod util: improvements
  changelogs/fragments/8479-cmdrunner-improvements.yml
  plugins/module_utils/cmd_runner.py
Labels: feature, module_utils, plugins, check-before-release, backport-9

#8471 feat: proxmox_vm_info - add network information for guests
  changelogs/fragments/8471-proxmox-vm-info-network.yml
  plugins/modules/proxmox_vm_info.py
Labels: feature, module, new_contributor, plugins, backport-9

#8446 Feature filter replace_keys
  .github/BOTMETA.yml
  plugins/filter/keep_keys.py
  plugins/filter/remove_keys.py
  plugins/filter/replace_keys.py
  plugins/plugin_utils/keys_filter.py
  tests/integration/targets/filter_replace_keys/aliases
  tests/integration/targets/filter_replace_keys/tasks/fn-test-replace_keys.yml
  tests/integration/targets/filter_replace_keys/tasks/main.yml
  tests/integration/targets/filter_replace_keys/tasks/replace_keys.yml
  tests/integration/targets/filter_replace_keys/vars/main.yml
Labels: feature, tests, integration, filter, plugins, check-before-release, backport-9

#8509 fix version vardict was introduced
  docs/docsite/rst/guide_vardict.rst
Labels: small_patch, docs, docs_only, backport-7, backport-8, backport-9

#7989 Consul implement agent service and check
  .github/BOTMETA.yml
  meta/runtime.yml
  plugins/module_utils/consul.py
  plugins/modules/consul_agent_check.py
  plugins/modules/consul_agent_service.py
  plugins/modules/consul_auth_method.py
  plugins/modules/consul_binding_rule.py
  plugins/modules/consul_policy.py
  plugins/modules/consul_role.py
  plugins/modules/consul_token.py
  tests/integration/targets/consul/tasks/consul_agent_check.yml
  tests/integration/targets/consul/tasks/consul_agent_service.yml
  tests/integration/targets/consul/tasks/main.yml
Labels: feature, module, needs_revision, tests, integration, new_contributor, module_utils, plugins, backport-9

#8512 simplify cmd_runner_fmt.as_bool_not()
  changelogs/fragments/8512-as-bool-not.yml
  plugins/module_utils/cmd_runner.py
Labels: module_utils, plugins, check-before-release, backport-9

#8489 Fix OpenNebula inventory crash when NIC does not have IP
  changelogs/fragments/8489-fix-opennebula-inventory-crash-when-nic-has-no-ip.yml
  plugins/inventory/opennebula.py
Labels: bug, new_contributor, inventory, traceback, plugins, cloud, backport-8, backport-9

#8496 keycloak_clientscope: add normalizations for attributes and protocol_mappers
  changelogs/fragments/8496-keycloak_clientscope-add-normalizations.yaml
  plugins/modules/keycloak_clientscope.py
Labels: bug, module, plugins, backport-8, backport-9

#8514 pacman: do not fail if there is nothing to do
  changelogs/fragments/8514-pacman-empty.yml
  plugins/modules/pacman.py
Labels: bug, module, has_issue, plugins, backport-8, backport-9

#8428 Keycloak set client authentification flows by name
  changelogs/fragments/8428-assign-auth-flow-by-name-keycloak-client.yaml
  plugins/modules/keycloak_client.py
  tests/integration/targets/keycloak_client/tasks/main.yml
Labels: feature, module, stale_ci, tests, integration, plugins, check-before-release, backport-9

#8503 proxmox_kvm: document that force requires archive
  plugins/modules/proxmox_kvm.py
Labels: module, small_patch, plugins, docs, docs_only, backport-8, backport-9

#8480 `cargo` module install from source in a given directory
  changelogs/fragments/8480-directory-feature-cargo.yml
  plugins/modules/cargo.py
  tests/integration/targets/cargo/tasks/main.yml
  tests/integration/targets/cargo/tasks/test_directory.yml
Labels: feature, module, tests, integration, plugins, check-before-release, backport-9

#8476 Fix launchd check-mode to report changed correctly
  changelogs/fragments/8476-launchd-check-mode-changed.yaml
  plugins/modules/launchd.py
Labels: bug, module, plugins, check-before-release, backport-8, backport-9

#8534 Update CI for ansible-core devel
  .azure-pipelines/azure-pipelines.yml
Labels: check-before-release, backport-8, backport-9

#8541 add test case for cmd_runner_fmt.as_list()
  tests/unit/plugins/module_utils/test_cmd_runner.py
Labels: tests, unit, small_patch, check-before-release, backport-8, backport-9

#8533 Enable Custom Cipher Selection for Redfish Modules
  changelogs/fragments/8533-add-ciphers-option.yml
  plugins/module_utils/redfish_utils.py
  plugins/modules/redfish_command.py
  plugins/modules/redfish_config.py
  plugins/modules/redfish_info.py
Labels: feature, module, new_contributor, module_utils, plugins, check-before-release, backport-9

#8550 CI: Replace FreeBSD 14.0 with 14.1; add 14.0 for stable-2.17
  .azure-pipelines/azure-pipelines.yml
  tests/integration/targets/filter_jc/aliases
  tests/integration/targets/iso_extract/aliases
  tests/integration/targets/pkgng/tasks/freebsd.yml
Labels: tests, integration, backport-8, backport-9

#8545 keycloak_clientscope: ignore ids on diff check
  changelogs/fragments/8545-keycloak-clientscope-remove-id-on-compare.yml
  plugins/modules/keycloak_clientscope.py
Labels: bug, module, needs_revision, new_contributor, plugins, backport-8, backport-9

#8516 proxmox_template: small refactor in get_template()
  changelogs/fragments/8516-proxmox-template-refactor.yml
  plugins/modules/proxmox_template.py
Labels: module, plugins, backport-9

#8557 bitwarden: Fix KeyError in search_field (#8549)
  changelogs/fragments/8557-fix-bug-with-bitwarden.yml
  plugins/lookup/bitwarden.py
Labels: bug, lookup, plugins, check-before-release, backport-8, backport-9
