Repository ansible-collections/community.general, pull requests merged in 2024-08, with the labels that each got.

#8605 Add a keycloak module to query keys metadata
  .github/BOTMETA.yml
  plugins/module_utils/identity/keycloak/keycloak.py
  plugins/modules/keycloak_realm_keys_metadata_info.py
  tests/unit/plugins/modules/test_keycloak_realm_keys_metadata_info.py
Labels: module, tests, unit, new_plugin, module_utils, plugins, identity, check-before-release, backport-9

#8329 homebrew: Add support for services functions
  .github/BOTMETA.yml
  plugins/module_utils/homebrew.py
  plugins/modules/homebrew_services.py
  tests/integration/targets/homebrew_services/aliases
  tests/integration/targets/homebrew_services/handlers/main.yml
  tests/integration/targets/homebrew_services/tasks/main.yml
Labels: feature, module, tests, unit, integration, module_utils, plugins, backport-9

#8657 Update proxmox.py
  plugins/modules/proxmox.py
Labels: module, new_contributor, plugins, docs_only, backport-8, backport-9

#8648 fix(modules/gitlab_runners): pass paused to gitlab
  changelogs/fragments/8648-fix-gitlab-runner-paused.yaml
  plugins/modules/gitlab_runner.py
Labels: bug, module, new_contributor, plugins, backport-8, backport-9

#8692 Update timezone.py
  plugins/modules/timezone.py
Labels: module, needs_revision, new_contributor, small_patch, plugins, docs, check-before-release, docs_only, backport-8, backport-9

#8711 gconftool2: minor refactor
  changelogs/fragments/8711-gconftool2-refactor.yml
  plugins/modules/gconftool2.py
Labels: module, plugins, check-before-release, backport-9

#8675 pipx - add suffix parameter
  changelogs/fragments/8675-pipx-install-suffix.yml
  plugins/module_utils/pipx.py
  plugins/modules/pipx.py
  tests/integration/targets/pipx/tasks/main.yml
Labels: feature, module, stale_ci, tests, integration, module_utils, plugins, check-before-release, backport-9

#8720 Fix pylint and pep8 issues exposed by latest ansible-core's ansible-test sanity checks
  plugins/action/iptables_state.py
  plugins/callback/opentelemetry.py
  plugins/module_utils/ilo_redfish_utils.py
  plugins/modules/aix_inittab.py
  plugins/modules/cronvar.py
  plugins/modules/iptables_state.py
  plugins/modules/memset_zone_record.py
  plugins/modules/proxmox.py
  plugins/modules/proxmox_disk.py
  plugins/modules/snmp_facts.py
  tests/unit/plugins/inventory/test_xen_orchestra.py
Labels: module, callback, tests, unit, module_utils, plugins, action, backport-8, backport-9

#8725 Remove invalid cloud/gandi entry
  tests/integration/targets/gandi_livedns/aliases
Labels: tests, integration, small_patch, backport-7, backport-8, backport-9

#8718 Clarify contribution guide on integration tests
  CONTRIBUTING.md
Labels: new_contributor, docs, check-before-release, backport-8, backport-9

#8674 Gitlab_project: add options for repository_access_level and container_expiration_policy
  changelogs/fragments/8674-add-gitlab-project-cleanup-policy.yml
  plugins/modules/gitlab_project.py
Labels: feature, module, new_contributor, plugins, check-before-release, backport-9

#8688 gitlab_project: Add some missing params
  changelogs/fragments/8688-gitlab_project-add-new-params.yml
  plugins/modules/gitlab_project.py
Labels: feature, module, new_contributor, plugins, check-before-release, backport-9

#8735 keycloak_identity_provider: get cleartext clientsecret
  changelogs/fragments/8735-keycloak_identity_provider-get-cleartext-secret-from-realm-info.yml
  plugins/modules/keycloak_identity_provider.py
  tests/unit/plugins/modules/test_keycloak_identity_provider.py
Labels: bug, module, tests, unit, new_contributor, plugins, backport-8, backport-9

#8689 Namespace the passwordstore lockfile
  changelogs/fragments/8689-passwordstore-lock-naming.yml
  plugins/lookup/passwordstore.py
Labels: bug, stale_ci, lookup, new_contributor, plugins, check-before-release, backport-8, backport-9

#8682 Add support for multiple locales in locale_gen
  changelogs/fragments/8682-locale-gen-multiple.yaml
  plugins/modules/locale_gen.py
  tests/integration/targets/locale_gen/vars/main.yml
Labels: feature, module, tests, integration, plugins, backport-9

#8708 homebrew_cask: fix upgrade_all changed when nothing upgraded
  changelogs/fragments/8708-homebrew_cask-fix-upgrade-all.yml
  plugins/modules/homebrew_cask.py
Labels: bug, module, new_contributor, has_issue, plugins, backport-8, backport-9

#8713 Get interfaces for Proxmox LXC containers
  changelogs/fragments/8713-proxmox_lxc_interfaces.yml
  plugins/inventory/proxmox.py
  tests/unit/plugins/inventory/test_proxmox.py
Labels: feature, tests, unit, new_contributor, inventory, plugins, backport-9

#8741 fix(opentelemetry): adjust default value for `store_spans_in_file` causing traces to be produced to a file named `None`
  changelogs/fragments/8741-fix-opentelemetry-callback.yml
  plugins/callback/opentelemetry.py
Labels: bug, callback, plugins, check-before-release, backport-9

#8695 keycloak_user_federation: add mapper removal
  changelogs/fragments/8695-keycloak_user_federation-mapper-removal.yml
  plugins/modules/keycloak_user_federation.py
  tests/unit/plugins/modules/test_keycloak_user_federation.py
Labels: bug, module, tests, unit, plugins, backport-8, backport-9

#8732 README: Add Communication section with Forum information
  README.md
  docs/docsite/links.yml
Labels: docs, backport-8, backport-9

#8756 Improve communication info
  docs/docsite/links.yml
Labels: small_patch, docs, docs_only, backport-8, backport-9

#8759 gitlab_project: sort parameters in order to avoid futur merge conflicts
  changelogs/fragments/8759-gitlab_project-sort-params.yml
  plugins/modules/gitlab_project.py
Labels: module, plugins, backport-9

#8770 one_template: update name in copyright
  plugins/modules/one_template.py
Labels: module, small_patch, plugins, docs, backport-7, backport-8, backport-9

#8766 MH deco: minor refactor
  changelogs/fragments/8766-mh-deco-improve.yml
  plugins/module_utils/mh/deco.py
  tests/unit/plugins/module_utils/test_module_helper.py
Labels: tests, unit, module_utils, plugins, check-before-release, backport-9

#8762 keycloak_user_federation: fix key error when removing mappers in update
  changelogs/fragments/8762-keycloac_user_federation-fix-key-error-when-updating.yml
  plugins/modules/keycloak_user_federation.py
Labels: bug, module, traceback, plugins, backport-8, backport-9

#8776 MH: use mute_vardict_deprecation
  changelogs/fragments/8776-mute-vardict-deprecation.yml
  plugins/modules/gio_mime.py
  plugins/modules/jira.py
Labels: module, plugins, backport-9

#8771 ModuleHelper guide
  .github/BOTMETA.yml
  docs/docsite/extra-docs.yml
  docs/docsite/rst/guide_modulehelper.rst
Labels: docs, check-before-release, backport-9

#8792 pipx: add doc example
  plugins/modules/pipx.py
Labels: module, plugins, docs, docs_only

#8760 gitlab_project: add param "issues_access_level"
  changelogs/fragments/8760-gitlab_project-add-issues-access-level.yml
  plugins/modules/gitlab_project.py
Labels: feature, module, plugins, check-before-release, backport-9

#8764 keycloak_user_federation: add module arg to make mapper removal optout
  changelogs/fragments/8764-keycloak_user_federation-make-mapper-removal-optout.yml
  plugins/modules/keycloak_user_federation.py
Labels: bug, module, tests, unit, module_utils, plugins, backport-9

#8791 MH cause_changes: deprecate params
  changelogs/fragments/8791-mh-cause-changes-param-depr.yml
  plugins/module_utils/mh/deco.py
  plugins/modules/jira.py
  tests/unit/plugins/module_utils/test_module_helper.py
Labels: module, tests, unit, module_utils, plugins, docs, check-before-release, backport-9

#8790 Fix gitlab_project container_expiration_policy for project create
  changelogs/fragments/8790-gitlab_project-fix-cleanup-policy-on-project-create.yml
  plugins/modules/gitlab_project.py
Labels: bug, module, plugins, backport-8, backport-9

#8793 pipx/pipx_info: add parameter `global`
  changelogs/fragments/8793-pipx-global.yml
  plugins/module_utils/pipx.py
  plugins/modules/pipx.py
  plugins/modules/pipx_info.py
  tests/integration/targets/pipx/tasks/main.yml
  tests/integration/targets/pipx/tasks/testcase-7497.yml
  tests/integration/targets/pipx/tasks/testcase-8656.yml
  tests/integration/targets/pipx/tasks/testcase-8793-global.yml
  tests/integration/targets/pipx/tasks/testcase-injectpkg.yml
  tests/integration/targets/pipx/tasks/testcase-jupyter.yml
  tests/integration/targets/pipx/tasks/testcase-oldsitewide.yml
Labels: feature, module, tests, integration, module_utils, plugins, backport-9

#8796 Fix gitlab access token crash in check mode for new tokens
  changelogs/fragments/8796-gitlab-access-token-check-mode.yml
  plugins/modules/gitlab_group_access_token.py
  plugins/modules/gitlab_project_access_token.py
Labels: bug, module, plugins, backport-8, backport-9
