Repository ansible-collections/community.general, pull requests merged in 2024-09, with the labels that each got.

#8794 proxmox inventory: fixing possible concatenation error
  changelogs/fragments/8794-Fixing-possible-concatination-error.yaml
  plugins/inventory/proxmox.py
Labels: bug, new_contributor, has_issue, inventory, plugins, check-before-release, backport-8, backport-9

#8815 Fix and enable test for datadog_downtime
  tests/unit/plugins/modules/test_datadog_downtime.py
Labels: tests, unit, new_contributor, new_plugin, backport-7, backport-8, backport-9

#8814 Use dict comprehension in plugins
  changelogs/fragments/8814-dict-comprehension.yml
  plugins/filter/hashids.py
  plugins/filter/keep_keys.py
  plugins/filter/remove_keys.py
  plugins/filter/replace_keys.py
  plugins/module_utils/csv.py
  plugins/module_utils/mh/mixins/vars.py
  plugins/module_utils/vardict.py
  plugins/modules/apache2_mod_proxy.py
  plugins/modules/gitlab_group.py
  plugins/modules/keycloak_client.py
  plugins/modules/keycloak_clientscope.py
  plugins/modules/keycloak_identity_provider.py
  plugins/modules/keycloak_user_federation.py
  plugins/modules/linode.py
  plugins/modules/lxd_container.py
  plugins/modules/manageiq_provider.py
  plugins/modules/one_service.py
  plugins/modules/one_vm.py
  plugins/modules/proxmox.py
  plugins/modules/proxmox_disk.py
  plugins/modules/proxmox_kvm.py
  plugins/plugin_utils/unsafe.py
  tests/sanity/extra/botmeta.py
Labels: module, tests, filter, module_utils, plugins, check-before-release, backport-9

#8822 use dict comprehension in plugins, part 2
  changelogs/fragments/8822-dict-comprehension.yml
  plugins/lookup/credstash.py
  plugins/module_utils/identity/keycloak/keycloak.py
  plugins/module_utils/mh/deco.py
  plugins/module_utils/redfish_utils.py
  plugins/module_utils/scaleway.py
  plugins/modules/etcd3.py
  plugins/modules/gitlab_project.py
  plugins/modules/hwc_ecs_instance.py
  plugins/modules/hwc_evs_disk.py
  plugins/modules/hwc_vpc_eip.py
  plugins/modules/hwc_vpc_peering_connect.py
  plugins/modules/hwc_vpc_port.py
  plugins/modules/hwc_vpc_subnet.py
  plugins/modules/ipa_otptoken.py
  plugins/modules/keycloak_user_federation.py
  plugins/modules/lxc_container.py
  plugins/modules/proxmox_kvm.py
  plugins/modules/scaleway_security_group.py
  plugins/modules/ufw.py
  plugins/modules/vmadm.py
Labels: module, lookup, module_utils, plugins, cloud, identity, backport-9

#8809 pipx: add new states
  changelogs/fragments/8809-pipx-new-params.yml
  plugins/module_utils/pipx.py
  plugins/modules/pipx.py
  tests/integration/targets/pipx/files/spec.json
  tests/integration/targets/pipx/files/spec.json.license
  tests/integration/targets/pipx/tasks/main.yml
  tests/integration/targets/pipx/tasks/testcase-8809-installall.yml
  tests/integration/targets/pipx/tasks/testcase-8809-pin.yml
  tests/integration/targets/pipx/tasks/testcase-8809-uninjectpkg.yml
  tests/integration/targets/pipx/tasks/testcase-injectpkg.yml
Labels: feature, module, tests, integration, module_utils, plugins, check-before-release, backport-9

#8833 use dict comprehension in plugins, part 3
  changelogs/fragments/8833-dict-comprehension.yml
  plugins/cache/redis.py
  plugins/lookup/onepassword.py
  plugins/module_utils/ocapi_utils.py
  plugins/module_utils/redfish_utils.py
  plugins/module_utils/scaleway.py
  plugins/modules/alternatives.py
  plugins/modules/apache2_mod_proxy.py
  plugins/modules/consul_acl.py
  plugins/modules/imc_rest.py
  plugins/modules/keycloak_user_federation.py
  plugins/modules/pids.py
  plugins/modules/pipx.py
  plugins/modules/pipx_info.py
  plugins/modules/pkg5_publisher.py
  plugins/modules/scaleway_compute.py
  plugins/modules/scaleway_ip.py
  plugins/modules/scaleway_lb.py
  plugins/modules/scaleway_security_group.py
  plugins/modules/scaleway_user_data.py
  plugins/modules/sensu_silence.py
  plugins/modules/snmp_facts.py
  plugins/modules/sorcery.py
  tests/unit/plugins/module_utils/test_cmd_runner.py
  tests/unit/plugins/module_utils/test_python_runner.py
Labels: module, lookup, tests, unit, cache, module_utils, plugins, cloud, backport-9

#8761 keycloak_user_federation: sort desired and after mappers by name
  changelogs/fragments/8761-keycloak_user_federation-sort-desired-and-after-mappers-by-name.yml
  plugins/modules/keycloak_user_federation.py
Labels: bug, module, stale_ci, plugins, backport-8, backport-9

#8769 Add one_vnet module
  .github/BOTMETA.yml
  plugins/modules/one_vnet.py
  tests/integration/targets/one_vnet/aliases
  tests/integration/targets/one_vnet/tasks/main.yml
Labels: module, stale_ci, tests, integration, new_contributor, plugins, backport-9

#8823 bugfix(keycloak): fix parameters for realm key creation
  changelogs/fragments/8823-keycloak-realm-key.yml
  plugins/modules/keycloak_realm_key.py
  tests/unit/plugins/modules/test_keycloak_realm_keys.py
Labels: bug, module, tests, unit, new_contributor, new_plugin, plugins, backport-8, backport-9

#8827 (doc) random_string lookup: fix examples
  plugins/lookup/random_string.py
Labels: lookup, new_contributor, plugins, docs, docs_only, backport-8, backport-9

#8843 Remove link to Google Groups mailing list
  docs/docsite/links.yml
Labels: small_patch, docs, docs_only, backport-7, backport-8, backport-9

#8651 keycloak_userprofile: new module
  .github/BOTMETA.yml
  plugins/modules/keycloak_userprofile.py
  tests/integration/targets/keycloak_group/tasks/main.yml
  tests/integration/targets/keycloak_userprofile/aliases
  tests/integration/targets/keycloak_userprofile/meta/main.yml
  tests/integration/targets/keycloak_userprofile/readme.adoc
  tests/integration/targets/keycloak_userprofile/tasks/main.yml
  tests/integration/targets/keycloak_userprofile/vars/main.yml
  tests/unit/plugins/modules/test_keycloak_userprofile.py
Labels: module, tests, unit, integration, new_plugin, plugins, backport-9

#8831 keycloak_user_federation: get the before mappers from `before_comp` to fix `UnboundLocalError`
  changelogs/fragments/8831-fix-error-when-mapper-id-is-provided.yml
  plugins/modules/keycloak_user_federation.py
Labels: bug, module, plugins, check-before-release, backport-8, backport-9

#8855 gio_mime: adjust module for old vardict deprecation
  changelogs/fragments/8855-gio_mime_vardict.yml
  plugins/modules/gio_mime.py
Labels: bug, module, plugins, check-before-release, backport-9

#8856 jira: adjust module for old vardict deprecation
  changelogs/fragments/8856-jira_vardict.yml
  plugins/modules/jira.py
Labels: bug, module, plugins, check-before-release, backport-9

#8858 use dict comprehension in plugins, part 4
  changelogs/fragments/8858-dict-comprehension.yml
  plugins/modules/scaleway_container.py
  plugins/modules/scaleway_container_info.py
  plugins/modules/scaleway_container_namespace.py
  plugins/modules/scaleway_container_namespace_info.py
  plugins/modules/scaleway_container_registry.py
  plugins/modules/scaleway_container_registry_info.py
  plugins/modules/scaleway_function.py
  plugins/modules/scaleway_function_info.py
  plugins/modules/scaleway_function_namespace.py
  plugins/modules/scaleway_function_namespace_info.py
Labels: module, plugins, backport-9

#8861 snap tests: re-enable test for --dangerous using smaller snap
  tests/integration/targets/snap/tasks/main.yml
  tests/integration/targets/snap/tasks/test_dangerous.yml
Labels: tests, integration, plugins, backport-7, backport-8, backport-9

#8859 pipx/pipx_info: refactor doc fragment
  .github/BOTMETA.yml
  plugins/doc_fragments/pipx.py
  plugins/module_utils/pipx.py
  plugins/modules/pipx.py
  plugins/modules/pipx_info.py
Labels: module, docs_fragments, module_utils, plugins, docs, check-before-release, backport-9

#8870 Remove private key and certificates from documentation
  plugins/modules/java_keystore.py
  plugins/modules/manageiq_provider.py
Labels: module, has_issue, plugins, docs, docs_only, backport-7, backport-8, backport-9

#8860 gitlab_runner: update requirements in docs
  plugins/modules/gitlab_runner.py
Labels: module, new_contributor, small_patch, plugins, docs, docs_only, backport-8, backport-9

#8876 multiple modules: improve dict.items() loops
  changelogs/fragments/8876-dict-items-loop.yml
  plugins/modules/gitlab_deploy_key.py
  plugins/modules/gitlab_group.py
  plugins/modules/gitlab_issue.py
  plugins/modules/gitlab_merge_request.py
  plugins/modules/gitlab_runner.py
  plugins/modules/icinga2_host.py
  plugins/modules/memset_dns_reload.py
  plugins/modules/memset_memstore_info.py
  plugins/modules/memset_server_info.py
  plugins/modules/memset_zone.py
  plugins/modules/memset_zone_domain.py
  plugins/modules/memset_zone_record.py
  plugins/modules/nmcli.py
  plugins/modules/scaleway_user_data.py
  plugins/modules/udm_dns_record.py
Labels: module, plugins, check-before-release, backport-9

#8886 Update example for community.general.homebrew_services
  plugins/modules/homebrew_services.py
Labels: module, needs_revision, new_contributor, small_patch, plugins, docs, docs_only, backport-7, backport-8, backport-9

#8785 keycloak_user_federation: set `krbPrincipalAttribute` to `''` if unset in kc responses
  changelogs/fragments/8785-keycloak_user_federation-set-krbPrincipalAttribute-to-empty-string-if-missing.yaml
  plugins/modules/keycloak_user_federation.py
Labels: bug, module, plugins, backport-8, backport-9

#8885 npm: Add force flag
  changelogs/fragments/8885-add-force-flag-for-nmp.yml
  plugins/modules/npm.py
Labels: feature, module, plugins, backport-9

#8895 fix comprehension
  changelogs/fragments/8895-fix-comprehension.yaml
  plugins/modules/lxd_container.py
Labels: bug, module, plugins, backport-9

#8877 keycloak_realm: fix change detection in check mode by normalizing realms beforehand
  changelogs/fragments/8877-keycloak_realm-sort-lists-before-change-detection.yaml
  plugins/modules/keycloak_realm.py
Labels: bug, module, plugins, backport-8, backport-9

#8900 ipa_hostgroup: fix state params
  changelogs/fragments/8900-ipa-hostgroup-fix-states.yml
  plugins/modules/ipa_hostgroup.py
Labels: bug, module, plugins, backport-7, backport-8, backport-9

#8910 Add stable-2.18 to CI
  .azure-pipelines/azure-pipelines.yml
  README.md
  tests/sanity/ignore-2.19.txt
  tests/sanity/ignore-2.19.txt.license
Labels: tests, backport-9

#8911 [stable-8] Replace devel with stable-2.18 in CI
  .azure-pipelines/azure-pipelines.yml
  README.md
Labels: backport

#8917 proxmox inventory: remove duplicated credentials line
  changelogs/fragments/8917-proxmox-clean-auth.yml
  plugins/inventory/proxmox.py
Labels: bug, new_contributor, inventory, plugins, check-before-release, backport-9

#8922 Deprecate hipchat module
  changelogs/fragments/deprecate-hipchat.yml
  meta/runtime.yml
  plugins/modules/hipchat.py
Labels: feature, module, needs_revision, plugins, check-before-release, backport-9

#8929 CmdRunner: missing parameter for get_best_parsable_locale()
  changelogs/fragments/8929-cmd_runner-bugfix.yml
  plugins/module_utils/cmd_runner.py
Labels: bug, module_utils, plugins, backport-8, backport-9

#8887 one_service: fix recreation
  changelogs/fragments/8887-fix-one_service-unique.yml
  plugins/modules/one_service.py
Labels: bug, module, has_issue, plugins, check-before-release, backport-8, backport-9

#8928 10.0.0: CmdRunner: remove deprecated feature
  changelogs/fragments/8928-cmd-runner-10.0.0.yml
  plugins/module_utils/cmd_runner.py
  tests/integration/targets/cmd_runner/tasks/test_cmd_echo.yml
  tests/integration/targets/cmd_runner/vars/main.yml
  tests/unit/plugins/module_utils/test_cmd_runner.py
Labels: feature, tests, unit, integration, module_utils, plugins, breaking_change

#8933 Move ansible-core 2.15 tests to EOL tests
  .azure-pipelines/azure-pipelines.yml
  .github/workflows/ansible-test.yml
Labels: backport-8, backport-9

#8918 10.0.0: remove deprecated features
  changelogs/fragments/deprecations.yml
  plugins/modules/consul.py
  plugins/modules/ejabberd_user.py
  plugins/modules/irc.py
  plugins/modules/proxmox_kvm.py
  plugins/modules/redhat_subscription.py
  plugins/modules/rhsm_repository.py
  tests/integration/targets/proxmox/tasks/main.yml
  tests/unit/plugins/modules/test_redhat_subscription.py
  tests/unit/plugins/modules/test_rhsm_repository.py
Labels: feature, module, tests, unit, integration, plugins, shipit, breaking_change, redhat_subscription

#8894 unit test helper: big revamp
  tests/unit/plugins/modules/conftest.py
  tests/unit/plugins/modules/helper.py
  tests/unit/plugins/modules/test_cpanm.py
  tests/unit/plugins/modules/test_cpanm.yaml
  tests/unit/plugins/modules/test_django_check.py
  tests/unit/plugins/modules/test_django_check.yaml
  tests/unit/plugins/modules/test_django_command.py
  tests/unit/plugins/modules/test_django_command.yaml
  tests/unit/plugins/modules/test_django_createcachetable.py
  tests/unit/plugins/modules/test_django_createcachetable.yaml
  tests/unit/plugins/modules/test_facter_facts.py
  tests/unit/plugins/modules/test_facter_facts.yaml
  tests/unit/plugins/modules/test_gconftool2.py
  tests/unit/plugins/modules/test_gconftool2.yaml
  tests/unit/plugins/modules/test_gconftool2_info.py
  tests/unit/plugins/modules/test_gconftool2_info.yaml
  tests/unit/plugins/modules/test_gio_mime.py
  tests/unit/plugins/modules/test_gio_mime.yaml
  tests/unit/plugins/modules/test_opkg.py
  tests/unit/plugins/modules/test_opkg.yaml
  tests/unit/plugins/modules/test_puppet.py
  tests/unit/plugins/modules/test_puppet.yaml
  tests/unit/plugins/modules/test_snap.py
  tests/unit/plugins/modules/test_xfconf.py
  tests/unit/plugins/modules/test_xfconf.yaml
  tests/unit/plugins/modules/test_xfconf_info.py
  tests/unit/plugins/modules/test_xfconf_info.yaml
Labels: tests, unit, new_plugin, check-before-release, backport-9

#8899 Sort parameters in gitlab_group to aid in adding more params
  plugins/modules/gitlab_group.py
Labels: module, plugins, check-before-release, backport-9

#8944 python_runner/django_command: bugfixes
  changelogs/fragments/8944-django-command-fix.yml
  plugins/module_utils/python_runner.py
  plugins/modules/django_command.py
  tests/integration/targets/django_command/aliases
  tests/integration/targets/django_command/files/base_test/1045-single-app-project/single_app_project/core/settings.py
  tests/integration/targets/django_command/files/base_test/1045-single-app-project/single_app_project/manage.py
  tests/integration/targets/django_command/files/base_test/simple_project/p1/manage.py
  tests/integration/targets/django_command/files/base_test/simple_project/p1/p1/settings.py
  tests/integration/targets/django_command/files/base_test/simple_project/p1/p1/urls.py
  tests/integration/targets/django_command/files/base_test/startproj/.keep
  tests/integration/targets/django_command/meta/main.yml
  tests/integration/targets/django_command/tasks/main.yaml
Labels: bug, module, tests, integration, module_utils, plugins, check-before-release, backport-8, backport-9
