Repository ansible-collections/community.general, pull requests merged in 2024-07, with the labels that each got.

#8567 Fix CI for CentOS 7
  tests/integration/targets/setup_pkg_mgr/tasks/main.yml
Labels: backport-7, backport-8, backport-9

#8517 cmd_runner - handle special value "auto" in param force_lang
  changelogs/fragments/8517-cmd-runner-lang-auto.yml
  plugins/module_utils/cmd_runner.py
  plugins/modules/puppet.py
Labels: feature, module, module_utils, plugins, check-before-release, backport-9

#8482 Feature. Add chapter 'Lists of dictionaries' to docsite
  .github/BOTMETA.yml
  docs/docsite/helper/keep_keys/README.md
  docs/docsite/helper/keep_keys/filter_guide-abstract_informations-lists_of_dictionaries-keep_keys.rst.j2
  docs/docsite/helper/keep_keys/keep_keys.rst.sha1
  docs/docsite/helper/keep_keys/keep_keys.rst.sha1.license
  docs/docsite/helper/keep_keys/playbook.yml
  docs/docsite/helper/keep_keys/tests.yml.sha1
  docs/docsite/helper/keep_keys/tests.yml.sha1.license
  docs/docsite/helper/remove_keys/README.md
  docs/docsite/helper/remove_keys/filter_guide-abstract_informations-lists_of_dictionaries-remove_keys.rst.j2
  docs/docsite/helper/remove_keys/playbook.yml
  docs/docsite/helper/remove_keys/remove_keys.rst.sha1
  docs/docsite/helper/remove_keys/remove_keys.rst.sha1.license
  docs/docsite/helper/remove_keys/tests.yml.sha1
  docs/docsite/helper/remove_keys/tests.yml.sha1.license
  docs/docsite/helper/replace_keys/README.md
  docs/docsite/helper/replace_keys/filter_guide-abstract_informations-lists_of_dictionaries-replace_keys.rst.j2
  docs/docsite/helper/replace_keys/playbook.yml
  docs/docsite/helper/replace_keys/replace_keys.rst.sha1
  docs/docsite/helper/replace_keys/replace_keys.rst.sha1.license
  docs/docsite/helper/replace_keys/tests.yml.sha1
  docs/docsite/helper/replace_keys/tests.yml.sha1.license
  docs/docsite/rst/filter_guide-abstract_informations-lists_of_dictionaries-keep_keys.rst
  docs/docsite/rst/filter_guide-abstract_informations-lists_of_dictionaries-remove_keys.rst
  docs/docsite/rst/filter_guide-abstract_informations-lists_of_dictionaries-replace_keys.rst
  docs/docsite/rst/filter_guide-abstract_informations-lists_of_dictionaries.rst
  docs/docsite/rst/filter_guide_abstract_informations.rst
  tests/integration/targets/filter_keep_keys/tasks/keep_keys.yml
  tests/integration/targets/filter_keep_keys/tasks/main.yml
  tests/integration/targets/filter_keep_keys/tasks/tests.yml
  tests/integration/targets/filter_keep_keys/templates/default.j2
  tests/integration/targets/filter_keep_keys/templates/default.j2.license
  tests/integration/targets/filter_keep_keys/templates/mp.j2
  tests/integration/targets/filter_keep_keys/templates/mp.j2.license
  tests/integration/targets/filter_keep_keys/vars/main.yml
  tests/integration/targets/filter_keep_keys/vars/main/tests.yml
  tests/integration/targets/filter_remove_keys/tasks/main.yml
  tests/integration/targets/filter_remove_keys/tasks/remove_keys.yml
  tests/integration/targets/filter_remove_keys/tasks/tests.yml
  tests/integration/targets/filter_remove_keys/templates/default.j2
  tests/integration/targets/filter_remove_keys/templates/default.j2.license
  tests/integration/targets/filter_remove_keys/templates/mp.j2
  tests/integration/targets/filter_remove_keys/templates/mp.j2.license
  tests/integration/targets/filter_remove_keys/vars/main.yml
  tests/integration/targets/filter_remove_keys/vars/main/tests.yml
  tests/integration/targets/filter_replace_keys/tasks/fn-test-replace_keys.yml
  tests/integration/targets/filter_replace_keys/tasks/main.yml
  tests/integration/targets/filter_replace_keys/tasks/replace_keys.yml
  tests/integration/targets/filter_replace_keys/tasks/tests.yml
  tests/integration/targets/filter_replace_keys/templates/default.j2
  tests/integration/targets/filter_replace_keys/templates/default.j2.license
  tests/integration/targets/filter_replace_keys/templates/mp.j2
  tests/integration/targets/filter_replace_keys/templates/mp.j2.license
  tests/integration/targets/filter_replace_keys/vars/main.yml
  tests/integration/targets/filter_replace_keys/vars/main/tests.yml
Labels: needs_revision, tests, integration, needs_rebase, docs, check-before-release, backport-9

#8585 Add link to forum
  docs/docsite/links.yml
Labels: backport-7, backport-8, backport-9

#8580 merge_variables: correct misleading short description
  plugins/lookup/merge_variables.py
Labels: lookup, new_contributor, small_patch, plugins, docs, docs_only, backport-7, backport-8, backport-9

#8444 Fix to handle Redfish Gen2 Firmware upgrade
  changelogs/fragments/8444-fix-redfish-gen2-upgrade.yaml
  plugins/module_utils/wdc_redfish_utils.py
  tests/unit/plugins/modules/test_wdc_redfish_command.py
Labels: bug, stale_ci, tests, unit, new_contributor, module_utils, plugins, backport-8, backport-9

#8607 Remove EOL'ed FreeBSD 13.2 from CI
  .azure-pipelines/azure-pipelines.yml
Labels: small_patch, backport-7, backport-8, backport-9

#8613 redfish_utils: fix language check
  changelogs/fragments/8613-redfish_utils-language.yaml
  plugins/module_utils/redfish_utils.py
Labels: bug, new_contributor, module_utils, plugins, check-before-release, backport-8, backport-9

#8595 New Plugins #8594
  .github/BOTMETA.yml
  plugins/filter/reveal_ansible_type.py
  plugins/plugin_utils/ansible_type.py
  plugins/test/ansible_type.py
  tests/integration/targets/filter_reveal_ansible_type/aliases
  tests/integration/targets/filter_reveal_ansible_type/tasks/main.yml
  tests/integration/targets/filter_reveal_ansible_type/tasks/tasks.yml
  tests/integration/targets/test_ansible_type/aliases
  tests/integration/targets/test_ansible_type/tasks/main.yml
  tests/integration/targets/test_ansible_type/tasks/tasks.yml
Labels: feature, needs_revision, tests, integration, plugins, backport-9

#8556 Add example to rpm_ostree_pkg
  plugins/modules/rpm_ostree_pkg.py
Labels: module, new_contributor, plugins, docs, check-before-release, docs_only, backport-8, backport-9

#8510 Update VirtualBox Group parsing to align with documentation.
  changelogs/fragments/8508-virtualbox-inventory.yml
  plugins/inventory/virtualbox.py
Labels: feature, new_contributor, inventory, plugins, backport-9

#8542 Improve Proxmox volume handling
  changelogs/fragments/8542-fix-proxmox-volume-handling.yml
  plugins/modules/proxmox.py
Labels: bug, module, new_contributor, plugins, backport-9

#8614 nsupdate: fix 'index out of range' error when changing NS records
  changelogs/fragments/8614-nsupdate-index-out-of-range.yml
  plugins/modules/nsupdate.py
Labels: bug, module, new_contributor, plugins, backport-8, backport-9

#8214 fix: sudosu not working on some BSD machines
  changelogs/fragments/8214-sudosu-not-working-on-some-BSD-machines.yml
  plugins/become/sudosu.py
Labels: bug, new_contributor, needs_info, become, plugins, check-before-release, backport-9

#8634 #8572 - Updated docs to include pip >= 20.3b1 requirement
  plugins/modules/pip_package_info.py
Labels: module, small_patch, plugins, docs, check-before-release, docs_only, backport-7, backport-8, backport-9

#8640 Release 9.2.0 commit
  CHANGELOG.md
  CHANGELOG.rst
  changelogs/changelog.yaml
  changelogs/fragments/8214-sudosu-not-working-on-some-BSD-machines.yml
  changelogs/fragments/8444-fix-redfish-gen2-upgrade.yaml
  changelogs/fragments/8508-virtualbox-inventory.yml
  changelogs/fragments/8516-proxmox-template-refactor.yml
  changelogs/fragments/8517-cmd-runner-lang-auto.yml
  changelogs/fragments/8533-add-ciphers-option.yml
  changelogs/fragments/8542-fix-proxmox-volume-handling.yml
  changelogs/fragments/8545-keycloak-clientscope-remove-id-on-compare.yml
  changelogs/fragments/8557-fix-bug-with-bitwarden.yml
  changelogs/fragments/8613-redfish_utils-language.yaml
  changelogs/fragments/8614-nsupdate-index-out-of-range.yml
  changelogs/fragments/9.2.0.yml
Labels: needs_info, needs_template, backport

#8641 Bump next expected version after release
  galaxy.yml
Labels: small_patch, docs, backport-9

#8623 Type options of become plugins
  changelogs/fragments/8623-become-types.yml
  plugins/become/doas.py
  plugins/become/dzdo.py
  plugins/become/ksu.py
  plugins/become/machinectl.py
  plugins/become/pbrun.py
  plugins/become/pfexec.py
  plugins/become/pmrun.py
  plugins/become/sesu.py
  plugins/become/sudosu.py
Labels: become, plugins, docs, backport-9

#8626 Type options of lookup plugins
  changelogs/fragments/8626-lookup-types.yml
  plugins/lookup/chef_databag.py
  plugins/lookup/consul_kv.py
  plugins/lookup/cyberarkpassword.py
  plugins/lookup/dsv.py
  plugins/lookup/etcd.py
  plugins/lookup/filetree.py
  plugins/lookup/hiera.py
  plugins/lookup/onepassword.py
  plugins/lookup/onepassword_doc.py
  plugins/lookup/onepassword_raw.py
  plugins/lookup/passwordstore.py
  plugins/lookup/redis.py
  plugins/lookup/shelvefile.py
  plugins/lookup/tss.py
Labels: lookup, plugins, docs, shipit, backport-9

#8625 Type options of inventory plugins
  changelogs/fragments/8625-inventory-types.yml
  plugins/inventory/cobbler.py
  plugins/inventory/linode.py
  plugins/inventory/lxd.py
  plugins/inventory/nmap.py
  plugins/inventory/online.py
  plugins/inventory/scaleway.py
  plugins/inventory/stackpath_compute.py
  plugins/inventory/virtualbox.py
Labels: inventory, plugins, cloud, docs

#8627 Type options of connection plugins
  changelogs/fragments/8627-connection-types.yml
  plugins/connection/chroot.py
  plugins/connection/funcd.py
  plugins/connection/incus.py
  plugins/connection/iocage.py
  plugins/connection/jail.py
  plugins/connection/lxc.py
  plugins/connection/lxd.py
  plugins/connection/qubes.py
  plugins/connection/zone.py
Labels: connection, plugins, docs, shipit, backport-9

#8628 Type options of callback plugins
  changelogs/fragments/8628-callback-types.yml
  plugins/callback/cgroup_memory_recap.py
  plugins/callback/hipchat.py
  plugins/callback/jabber.py
  plugins/callback/log_plays.py
  plugins/callback/loganalytics.py
  plugins/callback/logentries.py
  plugins/callback/logstash.py
  plugins/callback/slack.py
  plugins/callback/splunk.py
  plugins/callback/sumologic.py
  plugins/callback/syslog_json.py
Labels: callback, plugins, docs, backport-9

#8646 Fix new Proxmox Volume handling
  changelogs/fragments/8646-fix-bug-in-proxmox-volumes.yml
  plugins/modules/proxmox.py
Labels: bug, module, plugins, check-before-release, backport-9

#8633 pkgng - add option use_globs (default=true)
  changelogs/fragments/8632-pkgng-add-option-use_globs.yml
  plugins/modules/pkgng.py
  tests/integration/targets/pkgng/tasks/install_single_package.yml
Labels: feature, module, tests, integration, plugins, check-before-release, backport-9

#8665 Fix pipx tests
  tests/integration/targets/pipx/aliases
  tests/integration/targets/pipx/tasks/main.yml
  tests/integration/targets/pipx_info/aliases
  tests/integration/targets/pipx_info/tasks/main.yml
Labels: tests, integration

#8654 Add TLS certs params to redis
  changelogs/fragments/8654-add-redis-tls-params.yml
  plugins/doc_fragments/redis.py
  plugins/module_utils/redis.py
  plugins/modules/redis.py
  tests/unit/plugins/modules/test_redis_info.py
Labels: feature, module, tests, unit, new_contributor, docs_fragments, module_utils, plugins, check-before-release, backport-9

#8606 Introduce bootc functionality
  .github/BOTMETA.yml
  plugins/modules/bootc_manage.py
  tests/unit/plugins/modules/test_bootc_manage.py
Labels: feature, module, tests, unit, new_contributor, new_plugin, plugins, check-before-release, backport-9

#8624 Type options of cache plugins
  changelogs/fragments/8624-cache-types.yml
  plugins/cache/memcached.py
  plugins/cache/pickle.py
  plugins/cache/redis.py
  plugins/cache/yaml.py
Labels: cache, plugins, docs, backport-9
