Repository ansible-collections/community.general, pull requests merged in 2024-04, with the labels that each got.

#8179 CI: add stable-2.17, bump devel to 2.18, move stable-2.14 from AZP to GHA
  .azure-pipelines/azure-pipelines.yml
  .github/workflows/ansible-test.yml
  README.md
  tests/sanity/ignore-2.18.txt
  tests/sanity/ignore-2.18.txt.license
Labels: tests, backport-8

#8180 CI: rename devel to stable-2.17, move stable-2.14 from AZP to GHA
  .azure-pipelines/azure-pipelines.yml
  .github/workflows/ansible-test.yml
  README.md
Labels: backport

#8164 Redfish: implementing ResetToDefaults
  changelogs/fragments/8163-redfish-implementing-reset-to-defaults.yml
  plugins/module_utils/redfish_utils.py
  plugins/modules/redfish_command.py
Labels: feature, module, new_contributor, module_utils, plugins, check-before-release, backport-8

#8190 CI: ansible-core devel removed Python 3.7 support, no longer allows 'vars:' with lists
  .azure-pipelines/azure-pipelines.yml
  tests/integration/targets/lookup_lmdb_kv/test.yml
Labels: tests, integration, small_patch, backport-8

#8168 updated lxd_container.py docs
  plugins/modules/lxd_container.py
Labels: module, new_contributor, plugins, docs, docs_only, backport-7, backport-8

#8173 Add check_type option, to allow defaults type changes
  changelogs/fragments/8173-osx_defaults-check_type.yml
  plugins/modules/osx_defaults.py
Labels: feature, module, new_contributor, plugins, backport-8

#8175 module_utils/ipa.py: fix regex when parsing version
  changelogs/fragments/8175-get_ipa_version_regex.yml
  plugins/module_utils/ipa.py
Labels: bug, module_utils, plugins, check-before-release, backport-7, backport-8

#8154 Update nmcli.py to support OVS commands
  changelogs/fragments/8154-add-ovs-commands-to-nmcli-module.yml
  plugins/modules/nmcli.py
Labels: module, new_contributor, plugins, docs, backport-8

#8176 fix(aix_filesystem): remove extra param from running lsvg
  changelogs/fragments/8151-fix-lsvg_cmd-failed.yml
  plugins/modules/aix_filesystem.py
Labels: bug, module, new_contributor, plugins, backport-7, backport-8

#8185 fix: Ensuring interpolation is disabled for ConfigParser
  changelogs/fragments/8183-from_ini_to_ini.yml
  plugins/filter/from_ini.py
  plugins/filter/to_ini.py
  tests/integration/targets/filter_from_ini/tasks/main.yml
  tests/integration/targets/filter_to_ini/tasks/main.yml
Labels: bug, tests, integration, filter, plugins, backport-8

#8195 Redfish: add `Multipart` bool return value to `FirmwareUpdateCapabilities`
  changelogs/fragments/8194-redfish-add-multipart-to-capabilities.yml
  plugins/module_utils/redfish_utils.py
Labels: feature, module_utils, plugins, backport-8

#8211 Support newer 'riak admin' sub-command beside legacy 'riak-admin' command
  changelogs/fragments/8211-riak-admin-sub-command-support.yml
  plugins/modules/riak.py
Labels: bug, module, new_contributor, plugins, backport-7, backport-8

#8166 passwordstore: Add missing_subkey parameter
  changelogs/fragments/8166-password-store-lookup-missing-subkey.yml
  plugins/lookup/passwordstore.py
Labels: feature, stale_ci, lookup, new_contributor, plugins, backport-8

#8234 Include changelog in docsite
  docs/docsite/config.yml
Labels: docs, docs_only

#8216 Add support for docker-v2 protocol in Keycloak modules
  changelogs/fragments/8215-add-docker-v2-protocol.yml
  plugins/modules/keycloak_client.py
  plugins/modules/keycloak_clientscope.py
  plugins/modules/keycloak_clienttemplate.py
Labels: feature, module, new_contributor, plugins, backport-8

#8189 Deprecate hipchat callback
  changelogs/fragments/hipchat.yml
  meta/runtime.yml
  plugins/callback/hipchat.py
Labels: feature, callback, has_issue, plugins, backport-8

#8001 puppet_utils: Do not force lang for cmd
  changelogs/fragments/puppet_lang_force.yml
  plugins/module_utils/puppet.py
  plugins/modules/puppet.py
Labels: bug, module, new_contributor, has_issue, module_utils, plugins, backport-7, backport-8

#8222 Avoid deprecated utcnow()
  changelogs/fragments/8222-datetime.yml
  plugins/callback/loganalytics.py
  plugins/callback/logstash.py
  plugins/callback/splunk.py
  plugins/callback/sumologic.py
  plugins/module_utils/datetime.py
  plugins/module_utils/scaleway.py
  plugins/modules/cobbler_sync.py
  plugins/modules/cobbler_system.py
  plugins/modules/github_key.py
  plugins/modules/imc_rest.py
  plugins/modules/pagerduty.py
  plugins/modules/pagerduty_change.py
  plugins/modules/scaleway_compute.py
  plugins/modules/scaleway_database_backup.py
  plugins/modules/scaleway_lb.py
  plugins/modules/statusio_maintenance.py
  tests/unit/plugins/callback/test_loganalytics.py
  tests/unit/plugins/callback/test_splunk.py
Labels: bug, module, callback, tests, unit, module_utils, plugins, cloud, shipit, backport-8

#8225 inventory plugins: make wrapping variables as unsafe smarter to avoid triggering an AWX bug
  .github/BOTMETA.yml
  changelogs/fragments/8225-unsafe.yml
  plugins/inventory/cobbler.py
  plugins/inventory/gitlab_runners.py
  plugins/inventory/icinga2.py
  plugins/inventory/linode.py
  plugins/inventory/lxd.py
  plugins/inventory/nmap.py
  plugins/inventory/online.py
  plugins/inventory/opennebula.py
  plugins/inventory/proxmox.py
  plugins/inventory/scaleway.py
  plugins/inventory/stackpath_compute.py
  plugins/inventory/virtualbox.py
  plugins/inventory/xen_orchestra.py
  plugins/plugin_utils/unsafe.py
Labels: bug, has_issue, inventory, plugins, cloud, backport-6, backport-7, backport-8

#8188 bitwarden - add support for filtering by organization_id
  changelogs/fragments/8188-bitwarden-add-organization_id.yml
  plugins/lookup/bitwarden.py
  tests/unit/plugins/lookup/test_bitwarden.py
Labels: feature, lookup, tests, unit, new_contributor, plugins, check-before-release, backport-8

#8126 filesystem: add bcachefs support
  changelogs/fragments/8126-filesystem-bcachefs-support.yaml
  plugins/modules/filesystem.py
  tests/integration/targets/filesystem/defaults/main.yml
  tests/integration/targets/filesystem/tasks/main.yml
  tests/integration/targets/filesystem/tasks/setup.yml
Labels: feature, module, tests, integration, new_contributor, plugins, backport-8

#8223 keycloak_client: add sorted defaultClientScopes and optionalClientScopes to normalizations
  changelogs/fragments/8223-keycloak_client-additional-normalizations.yaml
  plugins/modules/keycloak_client.py
Labels: bug, module, plugins, check-before-release, backport-7, backport-8

#8224 keycloak_realm: add normalizations for enabledEventTypes, and supportedLocales
  changelogs/fragments/8224-keycloak_realm-add-normalizations.yaml
  plugins/modules/keycloak_realm.py
Labels: bug, module, plugins, backport-7, backport-8

#8236 Add an explicit `select` option to `portage` module
  changelogs/fragments/8236-portage-select-feature.yml
  plugins/modules/portage.py
Labels: feature, module, new_contributor, has_issue, plugins, backport-8

#8153 java_cert: add cert_content argument
  changelogs/fragments/8153-java_cert-add-cert_content-arg.yml
  plugins/modules/java_cert.py
Labels: feature, module, stale_ci, plugins, backport-8

#8221 Add support for state=latest to flatpak module
  plugins/modules/flatpak.py
  tests/integration/targets/flatpak/tasks/check_mode.yml
  tests/integration/targets/flatpak/tasks/test.yml
Labels: module, tests, integration, new_contributor, plugins, backport-8

#8252 Keycloak client role scope
  .github/BOTMETA.yml
  plugins/module_utils/identity/keycloak/keycloak.py
  plugins/modules/keycloak_client_rolescope.py
  tests/integration/targets/keycloak_client_rolescope/README.md
  tests/integration/targets/keycloak_client_rolescope/aliases
  tests/integration/targets/keycloak_client_rolescope/tasks/main.yml
  tests/integration/targets/keycloak_client_rolescope/vars/main.yml
Labels: module, tests, integration, module_utils, plugins, identity, backport-8

#8257 Add accept-new as valid option for ssh_config host key checking
  changelogs/fragments/8257-ssh-config-hostkey-support-accept-new.yaml
  plugins/modules/ssh_config.py
Labels: feature, module, has_issue, plugins, backport-8

#8247 apt_rpm: add new states 'latest' and 'present_not_latest'
  changelogs/fragments/8247-apt_rpm-latest.yml
  plugins/modules/apt_rpm.py
Labels: feature, module, has_issue, plugins, check-before-release, backport-8

#8263 apt_rpm: fix package install check
  changelogs/fragments/8263-apt_rpm-install-check.yml
  plugins/modules/apt_rpm.py
Labels: bug, module, plugins, check-before-release, backport-7, backport-8

#8198 [9.0.0] Remove deprecated modules and features
  .github/BOTMETA.yml
  changelogs/fragments/remove_deprecated.yml
  galaxy.yml
  meta/runtime.yml
  plugins/doc_fragments/rackspace.py
  plugins/module_utils/mh/mixins/deps.py
  plugins/module_utils/mh/module_helper.py
  plugins/module_utils/module_helper.py
  plugins/module_utils/rax.py
  plugins/module_utils/redhat.py
  plugins/modules/ansible_galaxy_install.py
  plugins/modules/cpanm.py
  plugins/modules/django_manage.py
  plugins/modules/flowdock.py
  plugins/modules/proxmox.py
  plugins/modules/rax.py
  plugins/modules/rax_cbs.py
  plugins/modules/rax_cbs_attachments.py
  plugins/modules/rax_cdb.py
  plugins/modules/rax_cdb_database.py
  plugins/modules/rax_cdb_user.py
  plugins/modules/rax_clb.py
  plugins/modules/rax_clb_nodes.py
  plugins/modules/rax_clb_ssl.py
  plugins/modules/rax_dns.py
  plugins/modules/rax_dns_record.py
  plugins/modules/rax_facts.py
  plugins/modules/rax_files.py
  plugins/modules/rax_files_objects.py
  plugins/modules/rax_identity.py
  plugins/modules/rax_keypair.py
  plugins/modules/rax_meta.py
  plugins/modules/rax_mon_alarm.py
  plugins/modules/rax_mon_check.py
  plugins/modules/rax_mon_entity.py
  plugins/modules/rax_mon_notification.py
  plugins/modules/rax_mon_notification_plan.py
  plugins/modules/rax_network.py
  plugins/modules/rax_queue.py
  plugins/modules/rax_scaling_group.py
  plugins/modules/rax_scaling_policy.py
  plugins/modules/redfish_command.py
  plugins/modules/redfish_config.py
  plugins/modules/redfish_info.py
  plugins/modules/redhat_subscription.py
  plugins/modules/stackdriver.py
  plugins/modules/webfaction_app.py
  plugins/modules/webfaction_db.py
  plugins/modules/webfaction_domain.py
  plugins/modules/webfaction_mailbox.py
  plugins/modules/webfaction_site.py
  tests/integration/targets/module_helper/library/mdepfail.py
  tests/sanity/ignore-2.13.txt
  tests/sanity/ignore-2.14.txt
  tests/sanity/ignore-2.15.txt
  tests/sanity/ignore-2.16.txt
  tests/sanity/ignore-2.17.txt
  tests/sanity/ignore-2.18.txt
  tests/unit/plugins/modules/test_cpanm.yaml
Labels: feature, module, needs_revision, tests, has_issue, needs_rebase, docs_fragments, module_utils, plugins, breaking_change

#8226 Change MH to use the module_utils.vardict.VarDict
  changelogs/fragments/8226-mh-vardict.yml
  plugins/module_utils/mh/mixins/vars.py
  plugins/module_utils/mh/module_helper.py
  plugins/modules/gconftool2.py
  plugins/modules/kernel_blacklist.py
  plugins/modules/opkg.py
  plugins/modules/pipx.py
  plugins/modules/xfconf.py
  plugins/modules/xfconf_info.py
  tests/integration/targets/module_helper/library/mstate.py
Labels: module, tests, integration, module_utils, plugins, check-before-release

#8237 use smaller snap, add disabled to aliases
  tests/integration/targets/snap/tasks/main.yml
  tests/integration/targets/snap/tasks/test_channel.yml
Labels: tests, integration, backport-6, backport-7, backport-8

#8291 CI: Arch Linux switched to Python 3.12
  .azure-pipelines/azure-pipelines.yml
Labels: needs_revision, small_patch, backport-6, backport-7, backport-8

#8289 PythonRunner: a command runner for python
  .github/BOTMETA.yml
  changelogs/fragments/8289-python-runner.yml
  plugins/module_utils/python_runner.py
  tests/unit/plugins/module_utils/test_python_runner.py
Labels: feature, tests, unit, new_plugin, module_utils, plugins, check-before-release

#8280 MH: deprecate features
  changelogs/fragments/8280-mh-deprecations.yml
  plugins/module_utils/mh/mixins/deps.py
  plugins/module_utils/module_helper.py
Labels: needs_revision, module_utils, plugins, check-before-release

#8264 Convert some run_command() string args to lists
  changelogs/fragments/8264-run_command.yml
  plugins/modules/aix_lvol.py
  plugins/modules/apt_rpm.py
  plugins/modules/btrfs_subvolume.py
  plugins/modules/installp.py
  plugins/modules/lvg.py
  plugins/modules/lvol.py
  plugins/modules/macports.py
  plugins/modules/parted.py
  plugins/modules/pkgin.py
  plugins/modules/portinstall.py
  plugins/modules/slackpkg.py
  plugins/modules/svr4pkg.py
  plugins/modules/swdepot.py
Labels: module, has_issue, plugins
