Repository ansible-collections/community.general, pull requests merged in 2024-05, with the labels that each got.

#8285 apt_rpm: deprecate behavior of state=present and state=installed
  changelogs/fragments/8285-apt_rpm-state-deprecate.yml
  plugins/modules/apt_rpm.py
Labels: feature, module, has_issue, plugins

#8275 homebrew: Add force_formula parameter to pass --formula to brew command
  changelogs/fragments/8274-homebrew-force-formula.yml
  plugins/modules/homebrew.py
  tests/integration/targets/docker/handlers/main.yml
  tests/integration/targets/docker/tasks/main.yml
Labels: feature, module, tests, integration, new_contributor, plugins, check-before-release

#8282 8281: puppet waitforlock
  changelogs/fragments/8281-puppet-waitforlock.yaml
  plugins/module_utils/puppet.py
  plugins/modules/puppet.py
  tests/unit/plugins/modules/test_puppet.yaml
Labels: feature, module, tests, unit, new_contributor, module_utils, plugins

#8312 Disable cpanm tests for RHEL 7 and CentOS 7
  tests/integration/targets/cpanm/tasks/main.yml
Labels: tests, integration, small_patch, backport-6, backport-7, backport-8

#8313 Disable ejabberd tests on Arch Linux
  tests/integration/targets/ejabberd_user/tasks/main.yml
Labels: backport-6, backport-7, backport-8

#8311 [PR #7790/787fa462 backport][stable-7] fix(modules/gitlab_runner): Use correct argument to list all runners
  changelogs/fragments/7790-gitlab-runner-api-pagination.yml
  plugins/module_utils/gitlab.py
  plugins/modules/gitlab_deploy_key.py
  plugins/modules/gitlab_group_members.py
  plugins/modules/gitlab_group_variable.py
  plugins/modules/gitlab_hook.py
  plugins/modules/gitlab_instance_variable.py
  plugins/modules/gitlab_project_badge.py
  plugins/modules/gitlab_project_variable.py
  plugins/modules/gitlab_runner.py
  plugins/modules/gitlab_user.py
Labels: bug, module, module_utils, plugins, gitlab, backport

#8325 Fix django_manage tests
  tests/integration/targets/django_manage/tasks/main.yaml
Labels: tests, integration, small_patch, backport-6, backport-7, backport-8

#8310 docs(gitlab_runner): improve docs and add examples
  plugins/modules/gitlab_runner.py
Labels: module, plugins, docs, docs_only, backport-8

#8322 CONTRIBUTING.md: update link for changelog fragments, and add more text on them
  CONTRIBUTING.md
Labels: small_patch, docs, backport-7, backport-8

#8303 bug(lookup/merge_variables): Fix rendering foreign variables
  changelogs/fragments/8303-fix-rendering-foreign-variables.yaml
  plugins/lookup/merge_variables.py
  tests/integration/targets/lookup_merge_variables/runme.sh
  tests/integration/targets/lookup_merge_variables/test_cross_host_merge_inventory.yml
  tests/integration/targets/lookup_merge_variables/test_cross_host_merge_play.yml
  tests/unit/plugins/lookup/test_merge_variables.py
Labels: bug, lookup, tests, unit, integration, plugins, backport-7, backport-8

#8324 homebrew: Move repeated logic from homebrew modules into module_utils
  changelogs/fragments/8323-refactor-homebrew-logic-module-utils.yml
  plugins/module_utils/homebrew.py
  plugins/modules/homebrew.py
  plugins/modules/homebrew_cask.py
  tests/unit/plugins/modules/test_homebrew.py
Labels: bug, module, tests, unit, module_utils, plugins, check-before-release

#8306 add systemd run0 as a become method
  .github/BOTMETA.yml
  plugins/become/run0.py
  tests/unit/plugins/become/test_run0.py
Labels: needs_revision, tests, unit, new_plugin, become, plugins

#8320 keycloak_user_federation: fix diff of empty `krbPrincipalAttribute`
  changelogs/fragments/8320-keycloak_user_federation-fix-diff-krbPrincipalAttribute.yaml
  plugins/modules/keycloak_user_federation.py
Labels: bug, module, plugins, backport-7, backport-8

#8341 Pass codecov token to ansible-test-gh-action
  .github/workflows/ansible-test.yml
Labels: backport-6, backport-7, backport-8

#8345 Add test for unsafe plugin util
  tests/unit/plugins/plugin_utils/test_unsafe.py
Labels: tests, unit, new_plugin, backport-6, backport-7, backport-8

#7684 Added parameter to select Content-Type when accessing the Rundeck API
  .gitignore
  changelogs/fragments/7683-added-contenttype-parameter.yml
  plugins/module_utils/rundeck.py
Labels: feature, stale_ci, new_contributor, module_utils, plugins

#8350 Move version_added for consul docs fragment to modules
  plugins/doc_fragments/consul.py
  plugins/modules/consul_policy.py
  plugins/modules/consul_role.py
  plugins/modules/consul_session.py
  plugins/modules/consul_token.py
Labels: module, docs_fragments, plugins, docs

#8334 Add proxmox action group
  changelogs/fragments/8334-proxmox-action-group.yml
  meta/runtime.yml
  plugins/doc_fragments/proxmox.py
  plugins/modules/proxmox.py
  plugins/modules/proxmox_disk.py
  plugins/modules/proxmox_domain_info.py
  plugins/modules/proxmox_group_info.py
  plugins/modules/proxmox_kvm.py
  plugins/modules/proxmox_nic.py
  plugins/modules/proxmox_node_info.py
  plugins/modules/proxmox_pool.py
  plugins/modules/proxmox_pool_member.py
  plugins/modules/proxmox_snap.py
  plugins/modules/proxmox_storage_contents_info.py
  plugins/modules/proxmox_storage_info.py
  plugins/modules/proxmox_tasks_info.py
  plugins/modules/proxmox_template.py
  plugins/modules/proxmox_user_info.py
  plugins/modules/proxmox_vm_info.py
Labels: feature, module, docs_fragments, plugins

#8355 Fix sanitize for keycloak_identitiy_provider.
  changelogs/fragments/8355-keycloak-idp-sanitize.yaml
  plugins/modules/keycloak_identity_provider.py
  tests/integration/targets/keycloak_identity_provider/tasks/main.yml
Labels: bug, module, tests, integration, plugins, check-before-release, backport-6, backport-7, backport-8

#8349 Initial commit for django modutils and django_command module
  .github/BOTMETA.yml
  plugins/doc_fragments/django.py
  plugins/module_utils/django.py
  plugins/modules/django_command.py
  tests/unit/plugins/modules/helper.py
  tests/unit/plugins/modules/test_django_command.py
  tests/unit/plugins/modules/test_django_command.yaml
Labels: module, tests, unit, new_plugin, docs_fragments, module_utils, plugins

#8365 Add REUSE badge
  README.md
Labels: small_patch, docs, backport-6, backport-7, backport-8

#8308 feat: implement timestamp callback plugin to show simple timestamp for each header
  .github/BOTMETA.yml
  plugins/callback/timestamp.py
  tests/integration/targets/callback_timestamp/aliases
  tests/integration/targets/callback_timestamp/tasks/main.yml
  tests/sanity/ignore-2.13.txt
  tests/sanity/ignore-2.14.txt
Labels: callback, tests, integration, new_contributor, plugins, check-before-release

#8337 feat(gandi_livedns): support personal access tokens
  changelogs/fragments/8290-gandi-livedns-personal-access-token.yml
  plugins/module_utils/gandi_livedns_api.py
  plugins/modules/gandi_livedns.py
  tests/integration/targets/gandi_livedns/tasks/create_record.yml
  tests/integration/targets/gandi_livedns/tasks/update_record.yml
Labels: feature, module, tests, integration, new_contributor, module_utils, plugins

#8377 add clarifying notes to scope description
  plugins/modules/ldap_search.py
Labels: module, new_contributor, has_issue, small_patch, plugins, docs, docs_only, backport-6, backport-7, backport-8

#8383 gitlab modules: deprecate basic auth method
  changelogs/fragments/8383-deprecate-gitlab-basic-auth.yml
  plugins/module_utils/gitlab.py
Labels: tests, module_utils, plugins, gitlab

#8363 feat(opentelemetry): support flag to export spans in a given file
  changelogs/fragments/8363-opentelemetry-export-to-a-file.yml
  plugins/callback/opentelemetry.py
Labels: feature, callback, merge_commit, needs_rebase, plugins

#8373 fix(opentelemetry): avoid storing inmemory if logs are disabled
  changelogs/fragments/8373-honour-disable-logs.yaml
  plugins/callback/opentelemetry.py
Labels: bug, callback, merge_commit, needs_rebase, plugins, backport-7, backport-8

#8367 fix(opentelemetry): close span even if no logs are sent
  changelogs/fragments/8367-fix-close-span-if-no-logs.yaml
  plugins/callback/opentelemetry.py
Labels: bug, callback, plugins, backport-7, backport-8

#8381 lint and fix polkit examples
  plugins/become/machinectl.py
  plugins/become/run0.py
Labels: bug, become, plugins, docs_only, backport-8

#8390 [stabe-8] fix(opentelemetry): avoid storing inmemory if logs are disabled (#8373)
  changelogs/fragments/8373-honour-disable-logs.yaml
  plugins/callback/opentelemetry.py
Labels: bug, callback, plugins, backport

#8391 [stable-7] fix(opentelemetry): avoid storing inmemory if logs are disabled (#8373)
  changelogs/fragments/8373-honour-disable-logs.yaml
  plugins/callback/opentelemetry.py
Labels: bug, callback, plugins, backport

#8382 Add toggle for verbose logging to pkg5.py
  changelogs/fragments/8379-verbose-mode-pkg5.yml
  plugins/modules/pkg5.py
Labels: feature, module, new_contributor, plugins

#8199 added usb support to proxmox module
  changelogs/fragments/8199-added-usb-support-to-proxmox-module.yml
  plugins/modules/proxmox_kvm.py
Labels: feature, module, new_contributor, plugins, check-before-release

#8392 From now on automatically add period to new plugins in changelog, and use FQCNs
  changelogs/config.yaml
Labels: small_patch, docs, backport-7, backport-8

#8395 Move 'docker' homebrew tests into homebrew tests
  tests/integration/targets/docker/tasks/main.yml
  tests/integration/targets/homebrew/handlers/main.yml
  tests/integration/targets/homebrew/tasks/casks.yml
  tests/integration/targets/homebrew/tasks/docker.yml
  tests/integration/targets/homebrew/tasks/formulae.yml
  tests/integration/targets/homebrew/tasks/main.yml
Labels: tests, integration

#8396 docs: add seealso and notes for yaml callback plugin
  plugins/callback/yaml.py
  tests/sanity/ignore-2.13.txt
  tests/sanity/ignore-2.14.txt
Labels: callback, tests, plugins, docs, backport-7, backport-8, backport-9

#8398 [stable-8] docs: add seealso and notes for yaml callback plugin (#8396)
  plugins/callback/yaml.py
  tests/sanity/ignore-2.13.txt
  tests/sanity/ignore-2.14.txt
Labels: callback, tests, plugins, docs, backport

#8399 [stable-7] docs: add seealso and notes for yaml callback plugin (#8396)
  plugins/callback/yaml.py
  tests/sanity/ignore-2.13.txt
  tests/sanity/ignore-2.14.txt
Labels: callback, tests, plugins, docs, backport

#8387 fix test helper handling of rc
  tests/sanity/ignore-2.17.txt
  tests/sanity/ignore-2.18.txt
  tests/unit/plugins/modules/helper.py
  tests/unit/plugins/modules/test_django_command.yaml
Labels: tests, unit, backport-8, backport-9

#8411 multiple modules: use new vardict in module
  changelogs/fragments/8411-locale-gen-vardict.yml
  plugins/module_utils/django.py
  plugins/module_utils/vardict.py
  plugins/modules/cpanm.py
  plugins/modules/gconftool2_info.py
  plugins/modules/hponcfg.py
  plugins/modules/kernel_blacklist.py
  plugins/modules/locale_gen.py
  plugins/modules/mksysb.py
  plugins/modules/pipx_info.py
  plugins/modules/snap.py
  plugins/modules/snap_alias.py
Labels: bug, module, module_utils, plugins, check-before-release, backport-9

#8413 ansible_galaxy_install: minor refactor
  changelogs/fragments/8413-galaxy-refactor.yml
  plugins/modules/ansible_galaxy_install.py
Labels: module, plugins, check-before-release, backport-9

#8309 Update lxd_container.py documentation.
  plugins/modules/lxd_container.py
Labels: module, small_patch, plugins, docs, docs_only, backport-8, backport-9

#8406 Fix the homebrew module failing because of warnings
  changelogs/fragments/8406-fix-homebrew-cask-warning.yaml
  plugins/modules/homebrew.py
  tests/integration/targets/homebrew/tasks/docker.yml
Labels: bug, module, tests, integration, new_contributor, has_issue, plugins, backport-8, backport-9

#8403 keycloak_client: avoid TypeError if `result["attributes"]` is a list
  changelogs/fragments/8403-fix-typeerror-in-keycloak-client.yaml
  plugins/modules/keycloak_client.py
Labels: bug, module, new_contributor, traceback, plugins, backport-8, backport-9
