Repository ansible-collections/community.general, pull requests merged in 2024-01, with the labels that each got.

#7765 mail module/callback: allow to configure the Message-ID header's domain name
  changelogs/fragments/7765-mail-message-id.yml
  plugins/callback/mail.py
  plugins/modules/mail.py
Labels: feature, module, callback, plugins, check-before-release, backport-8

#7792 proxmox_kvm - state:template will check if template exists first (#7791)
  changelogs/fragments/7791-proxmox_kvm-state-template-will-check-status-first.yaml
  plugins/modules/proxmox_kvm.py
Labels: bug, module, new_contributor, plugins, check-before-release, backport-8

#7807 Fix failing sanity and integration tests
  tests/integration/targets/cmd_runner/tasks/test_cmd_echo.yml
  tests/integration/targets/pids/tasks/main.yml
  tests/integration/targets/pids/templates/obtainpid.sh.j2
  tests/utils/shippable/shippable.sh
Labels: tests, unit, integration, backport-6, backport-7, backport-8

#7811 CI: for some reason async-timeout doesn't seem to get installed on Python 3.11
  tests/unit/requirements.txt
Labels: tests, unit, small_patch, backport-7, backport-8

#7827 CI: fix xml tests on RHEL 8
  tests/integration/targets/xml/tasks/main.yml
Labels: tests, integration, backport-6, backport-7, backport-8

#7831 Disable timezone tests on Arch Linux
  tests/integration/targets/timezone/tasks/main.yml
Labels: tests, integration, has_issue, small_patch, backport-6, backport-7, backport-8

#7837 CI: remove ignore files for ansible-core 2.11 and 2.12
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.11.txt.license
  tests/sanity/ignore-2.12.txt
  tests/sanity/ignore-2.12.txt.license
Labels: tests, backport-8

#7782 cloudflare_dns: remove support for SPF records
  changelogs/fragments/7782-cloudflare_dns-spf.yml
  plugins/modules/cloudflare_dns.py
Labels: feature, module, stale_ci, plugins, breaking_change, check-before-release

#7839 Use import galaxy workflow from ansible-collections/community.docker#754
  .github/workflows/import-galaxy.yml
Labels: backport-6, backport-7, backport-8

#7795 ipa_otptoken: fix wrong return value string to bool
  changelogs/fragments/7797-ipa-fix-otp-idempotency.yml
  plugins/modules/ipa_otptoken.py
  tests/unit/plugins/modules/test_ipa_otptoken.py
Labels: bug, module, stale_ci, tests, unit, plugins, backport-7, backport-8

#7858 Make compatible with newer reuse versions
  tests/integration/targets/setup_tls/files/ca_certificate.pem
  tests/integration/targets/setup_tls/files/ca_certificate.pem.license
  tests/integration/targets/setup_tls/files/ca_key.pem
  tests/integration/targets/setup_tls/files/ca_key.pem.license
  tests/integration/targets/setup_tls/files/client_certificate.pem
  tests/integration/targets/setup_tls/files/client_certificate.pem.license
  tests/integration/targets/setup_tls/files/client_key.pem
  tests/integration/targets/setup_tls/files/client_key.pem.license
  tests/integration/targets/setup_tls/files/server_certificate.pem
  tests/integration/targets/setup_tls/files/server_certificate.pem.license
  tests/integration/targets/setup_tls/files/server_key.pem
  tests/integration/targets/setup_tls/files/server_key.pem.license
Labels: tests, integration, backport-6, backport-7, backport-8

#7857 Use shared workflow for Galaxy import test
  .github/workflows/import-galaxy.yml
  .github/workflows/reuse.yml
Labels: backport-6, backport-7, backport-8

#7821 mssql_script: make module Python 2 compatible
  changelogs/fragments/7821-mssql_script-py2.yml
  plugins/modules/mssql_script.py
Labels: bug, module, has_issue, plugins, backport-7, backport-8

#7855 Add missing `id` parameter into pacman_key documentation examples.
  plugins/modules/pacman_key.py
Labels: module, new_contributor, small_patch, plugins, docs, docs_only, backport-7, backport-8

#7826 Refactor of consul modules
  changelogs/fragments/7826-consul-modules-refactoring.yaml
  plugins/doc_fragments/consul.py
  plugins/module_utils/consul.py
  plugins/modules/consul_policy.py
  plugins/modules/consul_role.py
  plugins/modules/consul_session.py
  tests/integration/targets/consul/tasks/consul_general.yml
  tests/integration/targets/consul/tasks/consul_kv.yml
  tests/integration/targets/consul/tasks/consul_session.yml
  tests/integration/targets/consul/tasks/main.yml
Labels: module, tests, integration, docs_fragments, module_utils, plugins, check-before-release, backport-8

#7875 Fix: incus connection plugin treats inventory_hostname incorrectly in remote config
  changelogs/fragments/7874-incus_connection_treats_inventory_hostname_as_literal_in_remotes.yml
  plugins/connection/incus.py
Labels: bug, connection, new_contributor, plugins, check-before-release, backport-8

#7883 Add redfish_info command to get service identification
  changelogs/fragments/7882-add-redfish-get-service-identification.yml
  plugins/module_utils/redfish_utils.py
  plugins/modules/redfish_info.py
Labels: module, new_contributor, module_utils, plugins, check-before-release, backport-8

#7873 Refer to LXD containers/VMs as instances
  plugins/connection/lxd.py
  plugins/inventory/lxd.py
Labels: connection, inventory, plugins, docs, backport-7, backport-8

#7872 fix proxmox update when setting does not already exist
  changelogs/fragments/7872-proxmox_fix update if setting doesnt exist.yaml
  plugins/modules/proxmox.py
Labels: bug, module, plugins, backport-7, backport-8

#7824 New module: gitlab_milestone
  .github/BOTMETA.yml
  plugins/modules/gitlab_milestone.py
  tests/integration/targets/gitlab_milestone/README.md
  tests/integration/targets/gitlab_milestone/aliases
  tests/integration/targets/gitlab_milestone/defaults/main.yml
  tests/integration/targets/gitlab_milestone/tasks/main.yml
Labels: module, tests, integration, new_contributor, plugins, backport-8

#7657 New module: gitlab_label
  .github/BOTMETA.yml
  plugins/module_utils/gitlab.py
  plugins/modules/gitlab_label.py
  tests/integration/targets/gitlab_label/README.md
  tests/integration/targets/gitlab_label/aliases
  tests/integration/targets/gitlab_label/defaults/main.yml
  tests/integration/targets/gitlab_label/tasks/main.yml
Labels: module, tests, integration, new_contributor, module_utils, plugins, gitlab, backport-8

#7878 Add new consul modules and reuse code between them.
  .github/BOTMETA.yml
  changelogs/fragments/7826-consul-modules-refactoring.yaml
  plugins/doc_fragments/consul.py
  plugins/module_utils/consul.py
  plugins/modules/consul_acl_bootstrap.py
  plugins/modules/consul_auth_method.py
  plugins/modules/consul_binding_rule.py
  plugins/modules/consul_policy.py
  plugins/modules/consul_role.py
  plugins/modules/consul_session.py
  plugins/modules/consul_token.py
  tests/integration/targets/consul/tasks/consul_auth_method.yml
  tests/integration/targets/consul/tasks/consul_binding_rule.yml
  tests/integration/targets/consul/tasks/consul_policy.yml
  tests/integration/targets/consul/tasks/consul_role.yml
  tests/integration/targets/consul/tasks/consul_token.yml
  tests/integration/targets/consul/tasks/main.yml
Labels: module, needs_revision, tests, integration, docs_fragments, module_utils, plugins, backport-8

#7870 Detection of already installed homebrew cask
  changelogs/fragments/7870-homebrew-cask-installed-detection.yml
  plugins/modules/homebrew.py
  tests/integration/targets/homebrew/tasks/casks.yml
  tests/integration/targets/homebrew/tasks/formulae.yml
  tests/integration/targets/homebrew/tasks/main.yml
Labels: bug, module, tests, integration, new_contributor, plugins, backport-7, backport-8

#7897 Consul action group
  changelogs/fragments/7897-consul-action-group.yaml
  meta/runtime.yml
  plugins/doc_fragments/consul.py
  plugins/modules/consul_auth_method.py
  plugins/modules/consul_binding_rule.py
  plugins/modules/consul_policy.py
  plugins/modules/consul_role.py
  plugins/modules/consul_session.py
  plugins/modules/consul_token.py
  tests/integration/targets/consul/tasks/consul_auth_method.yml
  tests/integration/targets/consul/tasks/consul_binding_rule.yml
  tests/integration/targets/consul/tasks/consul_policy.yml
  tests/integration/targets/consul/tasks/consul_role.yml
  tests/integration/targets/consul/tasks/consul_session.yml
  tests/integration/targets/consul/tasks/consul_token.yml
  tests/integration/targets/consul/tasks/main.yml
Labels: module, tests, integration, docs_fragments, module_utils, plugins, check-before-release, backport-8

#7901 Consul acl deprecation
  changelogs/fragments/7901-consul-acl-deprecation.yaml
  meta/runtime.yml
  plugins/modules/consul_acl.py
Labels: feature, module, tests, integration, docs_fragments, module_utils, plugins, check-before-release, backport-8

#7907 Zuul third-party-check: disable ansible-doc part of galaxy-importer
  tests/galaxy-importer.cfg
Labels: tests, backport-6, backport-7, backport-8

#7695 Fixes #7389 - NMCLI issue with creating a wifi bridge-slave
  changelogs/fragments/7389-nmcli-issue-with-creating-a-wifi-bridge-slave.yml
  plugins/modules/nmcli.py
Labels: bug, module, new_contributor, plugins, backport-7, backport-8

#7896 terraform: support diff for resource_changes
  changelogs/fragments/7896-add-terraform-diff-mode.yml
  plugins/modules/terraform.py
Labels: feature, module, plugins, check-before-release, backport-8

#7697 Simplify regex for identifying order number in DN (#7646)
  changelogs/fragments/7646-fix-order-number-detection-in-dn.yml
  plugins/module_utils/ldap.py
Labels: bug, stale_ci, new_contributor, module_utils, plugins, check-before-release, backport-7, backport-8
