Repository ansible-collections/community.general, pull requests merged in 2024-02, with the labels that each got.

#7923 fix typo: it's own -> its own
  plugins/modules/apk.py
Labels: module, new_contributor, small_patch, plugins, docs, docs_only, backport-7, backport-8

#7935 filesize: use 2 TB instead of 4 TB in sparse file tests
  tests/integration/targets/filesize/tasks/sparse.yml
Labels: tests, integration, backport-6, backport-7, backport-8

#7843 proxmox_kvm - new param to support unsafe updates
  changelogs/fragments/7843-proxmox_kvm-update_unsafe.yml
  plugins/modules/proxmox_kvm.py
Labels: feature, module, plugins, backport-8

#7940 [stable-8] Add MarkDown changelog and use it by default
  CHANGELOG.md
  CHANGELOG.md.license
  README.md
  changelogs/config.yaml
Labels: bug, backport

#7942 [stable-7] Add MarkDown changelog and use it by default
  CHANGELOG.md
  CHANGELOG.md.license
  CHANGELOG.rst
  README.md
  changelogs/config.yaml
Labels: bug, backport

#7943 [stable-6] Add MarkDown changelog and use it by default
  CHANGELOG.md
  CHANGELOG.md.license
  CHANGELOG.rst
  README.md
  changelogs/config.yaml
Labels: bug, backport

#7941 Add MarkDown changelog and use it by default
  CHANGELOG.md
  CHANGELOG.md.license
  README.md
  changelogs/config.yaml
Labels: bug

#7965 Add krauthosting as proxmox maintainer
  .github/BOTMETA.yml
Labels: docs, backport-8

#7949 Add default_without_diff callback
  .github/BOTMETA.yml
  plugins/callback/default_without_diff.py
  tests/integration/targets/callback_default_without_diff/aliases
  tests/integration/targets/callback_default_without_diff/tasks/main.yml
Labels: stale_ci, callback, tests, integration, has_issue, plugins, backport-8

#7963 terraform: fix diff when state is absent
  changelogs/fragments/7963-fix-terraform-diff-absent.yml
  plugins/modules/terraform.py
Labels: bug, module, has_issue, plugins, check-before-release, backport-8

#7919 fixes #7918 - onepassword lookup fails if field name contains uppercase letters and section is specified
  changelogs/fragments/7919-onepassword-fieldname-casing.yaml
  plugins/lookup/onepassword.py
  tests/unit/plugins/lookup/onepassword_common.py
  tests/unit/plugins/lookup/onepassword_fixtures/v2_out_05.json
  tests/unit/plugins/lookup/onepassword_fixtures/v2_out_05.json.license
Labels: bug, lookup, tests, unit, new_contributor, new_plugin, plugins, check-before-release, backport-7, backport-8

#7847 gitlab_issue: use search instead of title
  changelogs/fragments/7847-gitlab-issue-title.yml
  plugins/modules/gitlab_issue.py
Labels: bug, module, plugins, backport-7, backport-8

#7881 Fixes #1226 - keycloak_client detects changes on check_mode but not in run mode
  changelogs/fragments/7881-fix-keycloak-client-ckeckmode.yml
  plugins/modules/keycloak_client.py
  tests/integration/targets/keycloak_client/README.md
  tests/integration/targets/keycloak_client/docker-compose.yml
  tests/integration/targets/keycloak_client/tasks/main.yml
  tests/integration/targets/keycloak_client/vars/main.yml
Labels: bug, module, stale_ci, tests, integration, plugins, backport-7, backport-8

#7956 Adding releases events option to gitlab_hook module
  changelogs/fragments/7956-adding-releases_events-option-to-gitlab_hook-module.yaml
  plugins/modules/gitlab_hook.py
Labels: feature, module, new_contributor, plugins, backport-8

#7992 Implement integration tests for apk
  tests/integration/targets/apk/aliases
  tests/integration/targets/apk/tasks/main.yml
Labels: tests, integration, new_contributor, has_issue, backport-7, backport-8

#8004 Redfish: Enhanced GetUpdateStatus to allow for empty responses to accomodate possible usage of 204 No Content
  changelogs/fragments/8003-redfish-get-update-status-empty-response.yml
  plugins/module_utils/redfish_utils.py
Labels: bug, has_issue, module_utils, plugins, check-before-release, backport-7, backport-8

#7983 Add noexec support to sudoers
  changelogs/fragments/7983-sudoers-add-support-noexec.yml
  plugins/modules/sudoers.py
  tests/integration/targets/sudoers/tasks/main.yml
Labels: feature, module, tests, integration, new_contributor, plugins, check-before-release, backport-8

#7971 Pkgin fixes
  changelogs/fragments/pkgin.yml
  plugins/modules/pkgin.py
Labels: bug, module, new_contributor, plugins, backport-7, backport-8

#7976 Added transactional(rollback/commit) support to mssql_script module
  changelogs/fragments/7976-add-mssql_script-transactional-support.yml
  plugins/modules/mssql_script.py
Labels: feature, module, new_contributor, plugins, check-before-release, backport-8

#7970 cargo: use the correct path when checking installation status fixing idempotency issue.
  changelogs/fragments/7970-fix-cargo-path-idempotency.yaml
  plugins/modules/cargo.py
Labels: bug, module, new_contributor, plugins, backport-7, backport-8

#7952 Fix errors in hpe specific get methods
  changelogs/fragments/7951-fix-redfish_info-exception.yml
  plugins/module_utils/redfish_utils.py
Labels: bug, new_contributor, module_utils, traceback, plugins, check-before-release, backport-7, backport-8

#8009 Correct apk docu to not include spaces in package name
  plugins/modules/apk.py
Labels: module, small_patch, plugins, docs, docs_only, backport-7, backport-8

#7996 Add templating support to Icinga2 Inventory
  changelogs/fragments/7996-Add templating support to Icinga2 Inventory.yml
  plugins/inventory/icinga2.py
Labels: feature, new_contributor, inventory, plugins, backport-8

#8005 modprobe: Avoid FileNotFoundError when directories don't exist.
  changelogs/fragments/7717-prevent-modprobe-error.yml
  plugins/modules/modprobe.py
Labels: bug, module, new_contributor, traceback, plugins, backport-7, backport-8

#7994 feat(lookup/bitwarden): add support for "session" arg
  changelogs/fragments/7994-bitwarden-session-arg.yaml
  plugins/lookup/bitwarden.py
  tests/unit/plugins/lookup/test_bitwarden.py
Labels: feature, lookup, tests, unit, new_contributor, plugins, backport-8

#7964 GitLab group and project access token modules
  .github/BOTMETA.yml
  plugins/modules/gitlab_group_access_token.py
  plugins/modules/gitlab_project_access_token.py
  tests/integration/targets/gitlab_group_access_token/aliases
  tests/integration/targets/gitlab_group_access_token/defaults/main.yml
  tests/integration/targets/gitlab_group_access_token/tasks/main.yml
  tests/integration/targets/gitlab_project_access_token/aliases
  tests/integration/targets/gitlab_project_access_token/defaults/main.yml
  tests/integration/targets/gitlab_project_access_token/tasks/main.yml
  tests/unit/plugins/modules/gitlab.py
  tests/unit/plugins/modules/test_gitlab_group_access_token.py
  tests/unit/plugins/modules/test_gitlab_project_access_token.py
Labels: module, tests, unit, integration, new_plugin, plugins, backport-8

#7790 fix(modules/gitlab_runner): Use correct argument to list all runners
  changelogs/fragments/7790-gitlab-runner-api-pagination.yml
  plugins/module_utils/gitlab.py
  plugins/modules/gitlab_deploy_key.py
  plugins/modules/gitlab_group_members.py
  plugins/modules/gitlab_group_variable.py
  plugins/modules/gitlab_hook.py
  plugins/modules/gitlab_instance_variable.py
  plugins/modules/gitlab_project_badge.py
  plugins/modules/gitlab_project_variable.py
  plugins/modules/gitlab_runner.py
  plugins/modules/gitlab_user.py
Labels: bug, module, stale_ci, new_contributor, has_issue, module_utils, plugins, gitlab, backport-7, backport-8

#8035 Fix missing apostrophes at proxmox.py examples
  plugins/modules/proxmox.py
Labels: module, new_contributor, plugins, docs, check-before-release, docs_only, backport-7, backport-8

#8037 Fix instruction for distro Ubuntu and Debian for htpasswd depends
  plugins/modules/htpasswd.py
Labels: module, new_contributor, small_patch, plugins, docs, check-before-release, docs_only, backport-7, backport-8

#7953 [FIX] proxmox_kvm: fetch vm status from node-specific API endpoint to ensure fresh state
  changelogs/fragments/7953-proxmox_kvm-fix_status_check.yml
  plugins/modules/proxmox_kvm.py
Labels: bug, module, plugins, check-before-release, backport-8

#7980 Updates `lxd_container` to support new LXD API
  changelogs/fragments/lxd-instances-api-endpoint-added.yml
  plugins/modules/lxd_container.py
Labels: bug, module, new_contributor, plugins, check-before-release, backport-7, backport-8
