Repository ansible-collections/community.general, pull requests merged in 2025-04, with the labels that each got.

#9963 proxmox_disk: fail gracefully if storage hasn't been provided by the user
  changelogs/fragments/9963-proxmox_disk-storage.yml
  plugins/modules/proxmox_disk.py
Labels: bug, module, has_issue, plugins, check-before-release, backport-9, backport-10

#9965 fix duplicate json conversion for rocketchat pre740
  changelogs/fragments/9965-fix-duplicate-jsonify-payload-for-rocketchat-pre740.yml
  plugins/modules/rocketchat.py
Labels: bug, module, new_contributor, plugins, backport-10

#9951 update PHP apache module workaround
  changelogs/fragments/9951-mod-php-identifier.yml
  plugins/modules/apache2_module.py
Labels: bug, module, plugins, backport-9, backport-10

#9953 allow gitlab-project-members module to handle user level "owner"
  changelogs/fragments/9953-gitlab-project-members-support-owner-level.yml
  plugins/modules/gitlab_project_members.py
  tests/integration/targets/gitlab_project_members/defaults/main.yml
  tests/integration/targets/gitlab_project_members/tasks/main.yml
Labels: feature, module, tests, integration, has_issue, plugins, backport-10

#9646 hpilo_boot: fix module failing when trying to power on an already powered-on server
  changelogs/fragments/9646-hpilo-fix-idempotency.yml
  plugins/modules/hpilo_boot.py
Labels: bug, module, new_contributor, has_issue, plugins, backport-10

#9964 Unify TLS/SSL config for Redfish modules with new common argument spec and docs fragment; add validate_certs and ca_path options
  changelogs/fragments/9964-redfish-tls.yml
  plugins/doc_fragments/redfish.py
  plugins/module_utils/redfish_utils.py
  plugins/modules/idrac_redfish_command.py
  plugins/modules/idrac_redfish_config.py
  plugins/modules/idrac_redfish_info.py
  plugins/modules/ilo_redfish_command.py
  plugins/modules/ilo_redfish_config.py
  plugins/modules/ilo_redfish_info.py
  plugins/modules/redfish_command.py
  plugins/modules/redfish_config.py
  plugins/modules/redfish_info.py
  plugins/modules/wdc_redfish_command.py
  plugins/modules/wdc_redfish_info.py
  plugins/modules/xcc_redfish_command.py
Labels: feature, module, has_issue, docs_fragments, module_utils, plugins, check-before-release, backport-10

#9992 Avoid deprecated AnsibleFilterTypeError
  changelogs/fragments/9992-filtertypeerror.yml
  plugins/filter/hashids.py
  plugins/filter/unicode_normalize.py
Labels: bug, filter, plugins, backport-9, backport-10

#9991 [stable-9] Make ready for data tagging
  changelogs/fragments/9833-data-tagging.yml
  plugins/callback/diy.py
  plugins/callback/yaml.py
  plugins/filter/reveal_ansible_type.py
  plugins/lookup/dependent.py
  plugins/plugin_utils/ansible_type.py
  plugins/test/ansible_type.py
  tests/integration/targets/callback_log_plays/runme.sh
  tests/integration/targets/cmd_runner/action_plugins/_unsafe_assert.py
  tests/integration/targets/filter_reveal_ansible_type/tasks/tasks.yml
  tests/integration/targets/module_helper/tasks/mdepfail.yml
  tests/integration/targets/module_helper/tasks/msimpleda.yml
  tests/integration/targets/test_ansible_type/tasks/tasks.yml
Labels: bug, needs_revision, lookup, callback, tests, integration, filter, plugins, backport

#9976 keycloak_client: fix idempotency regression
  changelogs/fragments/9976-keycloak_client-fix-idempotency-regression.yml
  plugins/modules/keycloak_client.py
Labels: bug, module, plugins, check-before-release, backport-9, backport-10

#9962 Feat: Add infiniband mac address support in nmcli module
  changelogs/fragments/9962-nmcli-add-infiniband-mac-support.yml
  plugins/modules/nmcli.py
  tests/unit/plugins/modules/test_nmcli.py
Labels: feature, module, tests, unit, has_issue, plugins, backport-10

#9999 Fix typo in rpm_ostree_pkg documentation example
  plugins/modules/rpm_ostree_pkg.py
Labels: module, new_contributor, small_patch, plugins, docs, docs_only, backport-8, backport-9, backport-10

#9970 param pkcs12_alias and cert_alias to be optional in java_cert module
  changelogs/fragments/9970-pkcs12_alias_cert_alias_optional.yml
  plugins/modules/java_cert.py
  tests/integration/targets/java_cert/tasks/main.yml
Labels: feature, module, tests, integration, new_contributor, plugins, check-before-release, backport-10

#9973 Add zypper skip post errors feature
  changelogs/fragments/9972-zypper-skip-post-errors.yml
  plugins/modules/zypper.py
  tests/integration/targets/zypper/files/post_error.spec
  tests/integration/targets/zypper/files/post_error.spec.license
  tests/integration/targets/zypper/tasks/zypper.yml
Labels: bug, module, tests, integration, new_contributor, plugins, check-before-release, backport-10

#9987 Fix Keycloak authentication flow configuration issues
  changelogs/fragments/9987-keycloak-auth-flow-fix-config.yaml
  plugins/module_utils/identity/keycloak/keycloak.py
  plugins/modules/keycloak_authentication.py
  tests/integration/targets/keycloak_authentication/README.md
  tests/integration/targets/keycloak_authentication/aliases
  tests/integration/targets/keycloak_authentication/tasks/access_token.yml
  tests/integration/targets/keycloak_authentication/tasks/main.yml
  tests/integration/targets/keycloak_authentication/vars/main.yml
Labels: bug, module, tests, integration, module_utils, plugins, identity, check-before-release, backport-9, backport-10

#9795 add the wsl connection plugin
  .github/BOTMETA.yml
  plugins/connection/wsl.py
  tests/integration/targets/connection_wsl/aliases
  tests/integration/targets/connection_wsl/dependencies.yml
  tests/integration/targets/connection_wsl/files/wsl.exe
  tests/integration/targets/connection_wsl/plugin-specific-tests.yml
  tests/integration/targets/connection_wsl/runme.sh
  tests/integration/targets/connection_wsl/test.sh
  tests/integration/targets/connection_wsl/test_connection.inventory
  tests/sanity/ignore-2.15.txt
  tests/sanity/ignore-2.16.txt
  tests/unit/plugins/connection/test_wsl.py
Labels: connection, tests, unit, integration, new_contributor, new_plugin, plugins, backport-10

#9959 Update one_vm.py
  changelogs/fragments/9959-update-opennebula-onevm-updateconf-params.yml
  plugins/modules/one_vm.py
Labels: bug, module, needs_revision, has_issue, plugins, check-before-release, backport-10

#10014 puppet: use better CmdRunner param formatting
  changelogs/fragments/10014-puppet-improve-param.yml
  plugins/module_utils/puppet.py
Labels: module_utils, plugins, check-before-release, backport-10

#10011 fix: github_deploy_key check key exists on 422
  changelogs/fragments/10011-github_deploy_key-check-key-present.yml
  plugins/modules/github_deploy_key.py
Labels: bug, module, new_contributor, plugins, check-before-release, backport-9, backport-10

#10026 deprecation: stackpath_compute
  changelogs/fragments/10026-stackpath-compute-deprecation.yml
  meta/runtime.yml
  plugins/inventory/stackpath_compute.py
Labels: bug, tests, unit, inventory, plugins, check-before-release, backport-10

#10028 deprecation: manifold
  changelogs/fragments/10028-manifold-deprecation.yml
  meta/runtime.yml
  plugins/lookup/manifold.py
Labels: bug, lookup, tests, unit, plugins, check-before-release, backport-10

#10024 Allowing uppercase tags in proxmox & proxmox_kvm
  changelogs/fragments/9895-proxmox_tags_with_uppercase_chars.yml
  plugins/modules/proxmox.py
  plugins/modules/proxmox_kvm.py
  tests/integration/targets/proxmox/tasks/main.yml
Labels: bug, module, tests, integration, new_contributor, plugins, check-before-release, backport-10

#10013 Homebrew: Emit a useful error message if brew info reports a package tap is null.
  changelogs/fragments/10012-improve-error-handling-homebrew-missing-tap.yml
  plugins/modules/homebrew.py
Labels: bug, module, plugins, backport-10

#10022 Use antsibull-nox instead of extra sanity test runner and extra workflows
  .azure-pipelines/azure-pipelines.yml
  .github/workflows/import-galaxy.yml
  .github/workflows/nox.yml
  .github/workflows/reuse.yml
  README.md
  antsibull-nox.toml
  noxfile.py
  tests/sanity/extra/action-group.json
  tests/sanity/extra/action-group.json.license
  tests/sanity/extra/action-group.py
  tests/sanity/extra/aliases.json
  tests/sanity/extra/aliases.json.license
  tests/sanity/extra/aliases.py
  tests/sanity/extra/botmeta.json
  tests/sanity/extra/botmeta.json.license
  tests/sanity/extra/botmeta.py
  tests/sanity/extra/extra-docs.json
  tests/sanity/extra/extra-docs.json.license
  tests/sanity/extra/extra-docs.py
  tests/sanity/extra/licenses.json
  tests/sanity/extra/licenses.json.license
  tests/sanity/extra/licenses.py
  tests/sanity/extra/licenses.py.license
  tests/sanity/extra/no-unwanted-files.json
  tests/sanity/extra/no-unwanted-files.json.license
  tests/sanity/extra/no-unwanted-files.py
  tests/utils/shippable/sanity.sh
  tests/utils/shippable/shippable.sh
Labels: tests, unit, check-before-release, backport-9, backport-10

#10042 [stable-10] Use antsibull-nox instead of extra sanity test runner and extra workfows
  .azure-pipelines/azure-pipelines.yml
  .github/workflows/import-galaxy.yml
  .github/workflows/nox.yml
  .github/workflows/reuse.yml
  README.md
  antsibull-nox.toml
  noxfile.py
  tests/sanity/extra/action-group.json
  tests/sanity/extra/action-group.json.license
  tests/sanity/extra/action-group.py
  tests/sanity/extra/aliases.json
  tests/sanity/extra/aliases.json.license
  tests/sanity/extra/aliases.py
  tests/sanity/extra/botmeta.json
  tests/sanity/extra/botmeta.json.license
  tests/sanity/extra/botmeta.py
  tests/sanity/extra/extra-docs.json
  tests/sanity/extra/extra-docs.json.license
  tests/sanity/extra/extra-docs.py
  tests/sanity/extra/licenses.json
  tests/sanity/extra/licenses.json.license
  tests/sanity/extra/licenses.py
  tests/sanity/extra/licenses.py.license
  tests/sanity/extra/no-unwanted-files.json
  tests/sanity/extra/no-unwanted-files.json.license
  tests/sanity/extra/no-unwanted-files.py
  tests/utils/shippable/sanity.sh
  tests/utils/shippable/shippable.sh
Labels: tests, unit, backport

#10041 [stable-9] Use antsibull-nox instead of extra sanity test runner and extra workfows
  .azure-pipelines/azure-pipelines.yml
  .github/workflows/import-galaxy.yml
  .github/workflows/nox.yml
  .github/workflows/reuse.yml
  README.md
  antsibull-nox.toml
  noxfile.py
  tests/sanity/extra/aliases.json
  tests/sanity/extra/aliases.json.license
  tests/sanity/extra/aliases.py
  tests/sanity/extra/botmeta.json
  tests/sanity/extra/botmeta.json.license
  tests/sanity/extra/botmeta.py
  tests/sanity/extra/extra-docs.json
  tests/sanity/extra/extra-docs.json.license
  tests/sanity/extra/extra-docs.py
  tests/sanity/extra/licenses.json
  tests/sanity/extra/licenses.json.license
  tests/sanity/extra/licenses.py
  tests/sanity/extra/licenses.py.license
  tests/sanity/extra/no-unwanted-files.json
  tests/sanity/extra/no-unwanted-files.json.license
  tests/sanity/extra/no-unwanted-files.py
  tests/utils/shippable/sanity.sh
  tests/utils/shippable/shippable.sh
Labels: tests, unit, backport

#10029 fixed hidden warnings from extra tests - batch 3
  plugins/modules/btrfs_subvolume.py
  plugins/modules/htpasswd.py
  plugins/modules/irc.py
  plugins/modules/lxd_container.py
  plugins/modules/nmcli.py
Labels: module, plugins, docs, check-before-release, docs_only, backport-9, backport-10

#10043 Remove blanket skips for Python 3 in CI
  tests/integration/targets/hg/aliases
  tests/integration/targets/hg/meta/main.yml
  tests/integration/targets/hg/tasks/install.yml
  tests/integration/targets/hg/tasks/uninstall.yml
  tests/integration/targets/supervisorctl/aliases
  tests/integration/targets/supervisorctl/tasks/install_pip.yml
  tests/integration/targets/supervisorctl/tasks/main.yml
  tests/integration/targets/supervisorctl/tasks/test.yml
  tests/integration/targets/supervisorctl/tasks/test_start.yml
  tests/integration/targets/supervisorctl/tasks/test_stop.yml
Labels: needs_revision, tests, integration, has_issue, backport-8, backport-9, backport-10

#9898 Add support for addressing subgroups by paths to the keycloak_user module
  changelogs/fragments/9898-keycloak_user-supports-subgroups.yaml
  plugins/module_utils/identity/keycloak/keycloak.py
  plugins/modules/keycloak_user.py
Labels: bug, module, new_contributor, module_utils, plugins, identity, check-before-release, backport-10

#10051 Remove FreeBSD 14.0 from CI
  .azure-pipelines/azure-pipelines.yml
Labels: small_patch, backport-8, backport-9, backport-10

#10057 Mark supervisorctl tests as unstable
  tests/integration/targets/supervisorctl/aliases
Labels: tests, integration, small_patch, backport-8, backport-9, backport-10

#10007 Add xdg_mime module
  .github/BOTMETA.yml
  plugins/module_utils/xdg_mime.py
  plugins/modules/xdg_mime.py
  tests/unit/plugins/modules/test_xdg_mime.py
  tests/unit/plugins/modules/test_xdg_mime.yaml
Labels: module, needs_revision, tests, unit, new_contributor, has_issue, needs_rebase, new_plugin, module_utils, plugins, check-before-release, backport-10

#10071 Improve MH doc
  docs/docsite/rst/guide_modulehelper.rst
Labels: docs, shipit, check-before-release, docs_only, backport-10

#10079 crypttab: removes jijna delimiters from example using when
  plugins/modules/crypttab.py
Labels: module, small_patch, plugins, docs, docs_only, backport-8, backport-9, backport-10

#10081 [stable-9] crypttab: removes jijna delimiters from example using when (#10079)
  plugins/modules/crypttab.py
Labels: module, small_patch, plugins, docs, docs_only, backport-8, backport

#10075 nmcli: fix misspelled option in example
  plugins/modules/nmcli.py
Labels: module, has_issue, small_patch, plugins, docs, check-before-release, docs_only, backport-8, backport-9, backport-10

#10085 [stable-9] nmcli: fix misspelled option in example (#10075)
  plugins/modules/nmcli.py
Labels: module, small_patch, plugins, docs, docs_only, backport-8, backport
