Repository ansible-collections/community.general, pull requests merged in 2025-02, with the labels that each got.

#9660 lvol: fix the force parameter's description
  plugins/modules/lvol.py
Labels: module, small_patch, plugins, docs, check-before-release, docs_only, backport-8, backport-9, backport-10

#9662 test helper: fix parameter passing in creation static method
  tests/unit/plugins/modules/helper.py
Labels: tests, unit, small_patch, backport-10

#9664 test helper unit tests: reformat YAML files
  tests/unit/plugins/modules/test_cpanm.yaml
  tests/unit/plugins/modules/test_django_check.yaml
  tests/unit/plugins/modules/test_django_command.yaml
  tests/unit/plugins/modules/test_django_createcachetable.yaml
  tests/unit/plugins/modules/test_facter_facts.yaml
  tests/unit/plugins/modules/test_gconftool2.yaml
  tests/unit/plugins/modules/test_gconftool2_info.yaml
  tests/unit/plugins/modules/test_gio_mime.yaml
  tests/unit/plugins/modules/test_krb_ticket.yaml
  tests/unit/plugins/modules/test_opkg.yaml
  tests/unit/plugins/modules/test_puppet.yaml
  tests/unit/plugins/modules/test_xfconf.yaml
  tests/unit/plugins/modules/test_xfconf_info.yaml
Labels: tests, unit

#9666 test helper: add support for check and diff modes
  tests/unit/plugins/modules/helper.py
  tests/unit/plugins/modules/test_gio_mime.yaml
Labels: tests, unit

#9644 Fb keycloak client improvement
  changelogs/fragments/9644-kc_client-test-improvement-and-fix.yaml
  plugins/modules/keycloak_client.py
  tests/integration/targets/keycloak_client/vars/main.yml
Labels: bug, module, tests, integration, new_contributor, plugins, backport-9, backport-10

#9672 test helper: improvements
  tests/unit/plugins/modules/helper.py
  tests/unit/plugins/modules/test_snap.py
Labels: needs_revision, tests, unit, check-before-release, backport-10

#9675 test helper: remove magically finding the testcasemock in the test module
  tests/unit/plugins/modules/helper.py
Labels: tests, unit

#9679 Disable snap tests on RHEL 8.8
  tests/integration/targets/snap/aliases
Labels: backport-8, backport-9, backport-10

#9686 Also disable snap_alias tests for RHEL 8.8
  tests/integration/targets/snap_alias/aliases
Labels: tests, integration, small_patch, backport-8, backport-9, backport-10

#9699 filesystem tests: reiserfsprogs is no longer available on Arch Linux
  tests/integration/targets/filesystem/tasks/main.yml
  tests/integration/targets/filesystem/tasks/setup.yml
Labels: tests, integration, small_patch, backport-8, backport-9, backport-10

#9691 keycloak module utils replace missing return in `get_role_composites`
  changelogs/fragments/9691-keycloak-module-utils-replace-missing-return-in-get_role_composites.yml
  plugins/module_utils/identity/keycloak/keycloak.py
Labels: bug, module_utils, plugins, identity, check-before-release, backport-10

#9705 Disable failing copr tests
  tests/integration/targets/copr/aliases
Labels: backport-8, backport-9, backport-10

#9695 xml: ensure the stream object is closed in main()
  changelogs/fragments/9695-xml-close-file.yml
  plugins/modules/xml.py
Labels: bug, module, plugins, check-before-release, backport-9, backport-10

#9658 Update nmcli.py to support VRF commands
  changelogs/fragments/9658-add-vrf-commands-to-nmcli-module.yml
  plugins/modules/nmcli.py
  tests/unit/plugins/modules/test_nmcli.py
Labels: feature, module, tests, unit, new_contributor, plugins, check-before-release, backport-10

#9698 lvg: Add parameter to disable removal of extra physical volumes
  changelogs/fragments/9698-lvg-remove-extra-pvs-parameter.yml
  plugins/modules/lvg.py
  tests/integration/targets/lvg/tasks/main.yml
  tests/integration/targets/lvg/tasks/test_remove_extra_pvs.yml
Labels: feature, module, tests, integration, new_contributor, plugins, check-before-release, backport-10

#6264 zfs: fix multi-line value in user-defined property
  changelogs/fragments/6264-zfs-multiline-property-value.yml
  plugins/modules/zfs.py
Labels: module, new_contributor, traceback, plugins, storage, check-before-release, backport-10

#9625 onepassword_doc: fix 1Password Connect support
  changelogs/fragments/9625-onepassword_doc.yml
  plugins/lookup/onepassword.py
  plugins/lookup/onepassword_doc.py
Labels: bug, stale_ci, lookup, plugins, check-before-release, backport-9, backport-10

#9694 ipa_host: Maintain the host certificates
  changelogs/fragments/9694-ipa-host-certificate-revoked.yml
  plugins/modules/ipa_host.py
Labels: bug, module, new_contributor, plugins, check-before-release, backport-9, backport-10

#9722 CI: Cleanup AZP config similarly to ansible-core did some years ago
  .azure-pipelines/azure-pipelines.yml
  .azure-pipelines/templates/coverage.yml
Labels: backport-8, backport-9, backport-10

#9729 Add `FullPowerCycle` to Power commands
  changelogs/fragments/9729-redfish-fullpowercycle-command.yml
  plugins/module_utils/redfish_utils.py
  plugins/modules/redfish_command.py
Labels: feature, module, module_utils, plugins, check-before-release, backport-10

#9651 Implement #9650 Add parameter hooks to inventory plugin iocage
  changelogs/fragments/9651-iocage-inventory-hooks.yml
  plugins/inventory/iocage.py
Labels: feature, inventory, plugins, check-before-release, backport-10

#9733 profitbricks: deprecation
  changelogs/fragments/9733-profitbrick-deprecation.yml
  meta/runtime.yml
  plugins/modules/profitbricks.py
  plugins/modules/profitbricks_datacenter.py
  plugins/modules/profitbricks_nic.py
  plugins/modules/profitbricks_volume.py
  plugins/modules/profitbricks_volume_attachments.py
Labels: feature, module, plugins, backport-10

#9736 rename test helper
  tests/sanity/ignore-2.17.txt
  tests/sanity/ignore-2.18.txt
  tests/sanity/ignore-2.19.txt
  tests/unit/plugins/modules/test_cpanm.py
  tests/unit/plugins/modules/test_django_check.py
  tests/unit/plugins/modules/test_django_command.py
  tests/unit/plugins/modules/test_django_createcachetable.py
  tests/unit/plugins/modules/test_facter_facts.py
  tests/unit/plugins/modules/test_gconftool2.py
  tests/unit/plugins/modules/test_gconftool2_info.py
  tests/unit/plugins/modules/test_gio_mime.py
  tests/unit/plugins/modules/test_krb_ticket.py
  tests/unit/plugins/modules/test_opkg.py
  tests/unit/plugins/modules/test_puppet.py
  tests/unit/plugins/modules/test_snap.py
  tests/unit/plugins/modules/test_xfconf.py
  tests/unit/plugins/modules/test_xfconf_info.py
  tests/unit/plugins/modules/uthelper.py
Labels: tests, unit, new_plugin, backport-10

#9727 keycloak: repair integration tests by removing jinja2 templating from conditionals (#9726)
  tests/integration/targets/keycloak_clientsecret_info/tasks/main.yml
  tests/integration/targets/keycloak_clientsecret_regenerate/tasks/main.yml
  tests/integration/targets/keycloak_role/tasks/main.yml
  tests/integration/targets/keycloak_user_federation/tasks/main.yml
  tests/integration/targets/keycloak_user_rolemapping/tasks/main.yml
Labels: bug, tests, integration, check-before-release, backport-8, backport-9, backport-10

#9676 Test helper guide
  .github/BOTMETA.yml
  docs/docsite/extra-docs.yml
  docs/docsite/rst/guide_uthelper.rst
Labels: docs, check-before-release, backport-10

#9659 lxd_connection: Allow non-root users to connect to an instance
  changelogs/fragments/9659-lxd_connection-nonroot-user.yml
  plugins/connection/lxd.py
Labels: feature, connection, new_contributor, plugins, check-before-release, backport-10

#9755 profitbricks: fix typo in deprecation text
  plugins/modules/profitbricks.py
  plugins/modules/profitbricks_datacenter.py
  plugins/modules/profitbricks_nic.py
  plugins/modules/profitbricks_volume.py
  plugins/modules/profitbricks_volume_attachments.py
Labels: module, plugins, docs, docs_only

#9728 bitwarden lookup: add options to filter by collection_name and validate number of results
  changelogs/fragments/9728-bitwarden-collection-name-filter.yml
  plugins/lookup/bitwarden.py
  tests/unit/plugins/lookup/test_bitwarden.py
Labels: feature, lookup, tests, unit, new_contributor, plugins, backport-10

#9739 keycloak_client: compare desired and before dicts directly in checkmode
  changelogs/fragments/9739-keycloak_client-compare-before-desired-directly.yml
  plugins/modules/keycloak_client.py
Labels: bug, module, plugins, backport-9, backport-10

#9754 clc_*: deprecation
  meta/runtime.yml
  plugins/modules/clc_alert_policy.py
  plugins/modules/clc_blueprint_package.py
  plugins/modules/clc_firewall_policy.py
  plugins/modules/clc_group.py
  plugins/modules/clc_loadbalancer.py
  plugins/modules/clc_modify_server.py
  plugins/modules/clc_publicip.py
  plugins/modules/clc_server.py
  plugins/modules/clc_server_snapshot.py
Labels: feature, module, plugins, check-before-release, backport-10

#9753 Jira: add SSL client certificate support for authentication
  changelogs/fragments/9753-jira-add-client-certificate-auth.yml
  plugins/modules/jira.py
Labels: module, new_contributor, merge_commit, needs_rebase, plugins, docs, check-before-release, backport-10

#9743 incus_connection: Allow non-root users to connect to an instance
  changelogs/fragments/9743-incus_connection-nonroot-user.yml
  plugins/connection/incus.py
Labels: feature, connection, plugins, check-before-release, backport-10

#9760 proxmox inventory: proposal for #9710 (caching)
  changelogs/fragments/9760-proxmox-inventory.yml
  plugins/inventory/proxmox.py
Labels: bug, new_contributor, has_issue, inventory, plugins, check-before-release, backport-9, backport-10

#9762 Make apache2_mod_proxy work with Python 3, half-way modern Apache 2 versions, and add basic tests
  changelogs/fragments/9762-apache2_mod_proxy.yml
  plugins/modules/apache2_mod_proxy.py
  tests/integration/targets/apache2_mod_proxy/aliases
  tests/integration/targets/apache2_mod_proxy/meta/main.yml
  tests/integration/targets/apache2_mod_proxy/tasks/main.yml
  tests/integration/targets/apache2_module/meta/main.yml
  tests/integration/targets/apache2_module/tasks/main.yml
  tests/integration/targets/setup_apache2/tasks/main.yml
Labels: bug, module, tests, integration, plugins, check-before-release, backport-9, backport-10

#9775 apache2_mod_proxy: follow-up for #9762, forgot one place with find_all/findAll
  plugins/modules/apache2_mod_proxy.py
Labels: bug, module, small_patch, plugins, backport-10

#9772 [stable-9] Make apache2_mod_proxy work with Python 3, half-way modern Apache 2 versions, and add basic tests
  changelogs/fragments/9762-apache2_mod_proxy.yml
  plugins/modules/apache2_mod_proxy.py
  tests/integration/targets/apache2_mod_proxy/aliases
  tests/integration/targets/apache2_mod_proxy/meta/main.yml
  tests/integration/targets/apache2_mod_proxy/tasks/main.yml
  tests/integration/targets/apache2_module/meta/main.yml
  tests/integration/targets/apache2_module/tasks/main.yml
  tests/integration/targets/setup_apache2/tasks/main.yml
Labels: bug, module, needs_revision, tests, integration, plugins, backport

#9106 bugfix - Prevent passwordstore lookup to create subkey when create == false
  changelogs/fragments/9106-passwordstore-fix-subkey-creation-even-when-create-==-false.yml
  plugins/lookup/passwordstore.py
Labels: bug, lookup, plugins, backport-9, backport-10

#9778 redhat_registration: use 'enable_content' D-Bus option when available
  changelogs/fragments/9778-redhat_subscription-ensure-to-enable-content.yml
  plugins/modules/redhat_subscription.py
Labels: bug, module, plugins, check-before-release, redhat_subscription, backport-9, backport-10

#9774 Fix proxy settings for elasticsearch_plugin.py
  changelogs/fragments/9774-fix-elasticsearch_plugin-proxy-settings.yml
  plugins/modules/elasticsearch_plugin.py
Labels: bug, module, new_contributor, plugins, check-before-release, backport-9, backport-10

#9788 json_query filter docs: fix typo cluster2 when cluster1 is mentioned
  docs/docsite/rst/filter_guide_selecting_json_data.rst
Labels: new_contributor, small_patch, docs, check-before-release, docs_only, backport-8, backport-9, backport-10

#9684 Ssh config other options
  changelogs/fragments/ssh_config_add_other_options.yml
  plugins/modules/ssh_config.py
  tests/integration/targets/ssh_config/tasks/options.yml
Labels: feature, module, tests, integration, new_contributor, plugins, check-before-release, backport-10

#9796 locale_gen: enable tests for Arch Linux, make sure they don't even try to run on RHEL and Fedora VMs
  tests/integration/targets/locale_gen/aliases
  tests/integration/targets/locale_gen/tasks/main.yml
Labels: tests, integration, small_patch, backport-9, backport-10

#9657 lldp: Handling attributes that are defined multiple times
  changelogs/fragments/9657-lldp-handling-attributes-defined-multiple-times.yml
  plugins/modules/lldp.py
Labels: bug, feature, module, new_contributor, traceback, plugins, check-before-release, needs_maintainer, backport-10

#9764 Add new systemd_info module
  .github/BOTMETA.yml
  plugins/modules/systemd_info.py
  tests/integration/targets/systemd_info/aliases
  tests/integration/targets/systemd_info/tasks/main.yml
  tests/integration/targets/systemd_info/tasks/tests.yml
Labels: module, tests, integration, new_contributor, docs_fragments, plugins, check-before-release, backport-10

#9787 Allow Xen Host and/or Xen VM names instead of their UUIDs
  changelogs/fragments/9787-xoa_allow_using_names_in_inventory.yml
  plugins/inventory/xen_orchestra.py
  tests/unit/plugins/inventory/test_xen_orchestra.py
Labels: feature, tests, unit, new_contributor, inventory, plugins, check-before-release, backport-10

#9457 apache2_mod_proxy: big revamp
  changelogs/fragments/9457-apache2-mod-proxy-revamp.yml
  plugins/modules/apache2_mod_proxy.py
Labels: module, plugins, check-before-release, backport-10

#9805 CI: Add macOS 15.3
  .azure-pipelines/azure-pipelines.yml
  tests/integration/targets/python_requirements_info/tasks/main.yml
Labels: tests, integration, backport-9, backport-10

#9768 keycloak_realm: remove realm id requirement
  changelogs/fragments/9768-keycloak_realm-remove-id-requirement.yaml
  plugins/module_utils/identity/keycloak/keycloak.py
  plugins/modules/keycloak_realm.py
Labels: bug, module, module_utils, plugins, identity, check-before-release, backport-10

#9812 misc typo fix
  plugins/filter/to_days.yml
  plugins/filter/to_hours.yml
  plugins/filter/to_milliseconds.yml
  plugins/filter/to_minutes.yml
  plugins/filter/to_months.yml
  plugins/filter/to_seconds.yml
  plugins/filter/to_time_unit.yml
  plugins/filter/to_weeks.yml
  plugins/filter/to_years.yml
Labels: filter, plugins, docs, backport-8, backport-9, backport-10
