Repository ansible-collections/community.general, pull requests merged in 2025-03, with the labels that each got.

#9818 cloudflare_dns: handle exhausted response stream in case of http error
  changelogs/fragments/9818-cloudflare-dns-exhausted-response.yml
  plugins/modules/cloudflare_dns.py
Labels: bug, module, has_issue, plugins, check-before-release, backport-9, backport-10

#9824 Redfish: implement obtaining PowerRestorePolicy (#9824)
  changelogs/fragments/9824-redfish-implement-obtaining-powerrestorepolicy.yml
  plugins/module_utils/redfish_utils.py
  plugins/modules/redfish_info.py
Labels: module, module_utils, plugins, backport-10

#9819 Example typo in homebrew_services.py
  plugins/modules/homebrew_services.py
Labels: module, needs_revision, new_contributor, small_patch, plugins, docs, check-before-release, docs_only, backport-9, backport-10

#9828 homebrew_services: skip tests on macOS 13.2 and 14.3
  tests/integration/targets/homebrew_services/aliases
Labels: tests, integration, small_patch, backport-8, backport-9, backport-10

#9803 homebrew: Do not crash when package names include tap prefix.
  changelogs/fragments/9777-homebrew-fix-crash-when-packages-include-tap.yml
  plugins/modules/homebrew.py
  tests/integration/targets/homebrew/tasks/casks.yml
Labels: bug, module, tests, integration, new_contributor, plugins, backport-10

#9531 add pacemaker_resource plugin
  .github/BOTMETA.yml
  plugins/module_utils/pacemaker.py
  plugins/modules/pacemaker_resource.py
  tests/unit/plugins/modules/test_pacemaker_resource.py
  tests/unit/plugins/modules/test_pacemaker_resource.yaml
Labels: module, tests, unit, new_contributor, new_plugin, module_utils, plugins, check-before-release, backport-10

#9850 Improve/fix unit tests
  tests/integration/targets/cargo/tasks/main.yml
  tests/unit/plugins/inventory/test_cobbler.py
  tests/unit/plugins/inventory/test_opennebula.py
Labels: tests, unit, integration, backport-9, backport-10

#9853 cmd_runner tests: fix reliance on unspecified behavior
  tests/integration/targets/cmd_runner/library/cmd_echo.py
Labels: tests, integration, backport-8, backport-9, backport-10

#9859 Fix/improve tests
  tests/integration/targets/callback/filter_plugins/helper.py
  tests/integration/targets/callback/tasks/main.yml
  tests/integration/targets/consul/tasks/consul_binding_rule.yml
  tests/integration/targets/consul/tasks/consul_token.yml
  tests/integration/targets/deploy_helper/tasks/main.yml
  tests/integration/targets/filter_accumulate/tasks/main.yml
  tests/integration/targets/filter_counter/tasks/main.yml
  tests/integration/targets/filter_from_csv/tasks/main.yml
  tests/integration/targets/filter_groupby_as_dict/tasks/main.yml
  tests/integration/targets/filter_hashids/tasks/main.yml
  tests/integration/targets/filter_keep_keys/tasks/tests.yml
  tests/integration/targets/filter_lists_mergeby/tasks/lists_mergeby_2-10.yml
  tests/integration/targets/filter_lists_mergeby/tasks/lists_mergeby_default.yml
  tests/integration/targets/filter_random_mac/tasks/main.yml
  tests/integration/targets/filter_remove_keys/tasks/tests.yml
  tests/integration/targets/filter_replace_keys/tasks/tests.yml
  tests/integration/targets/filter_reveal_ansible_type/tasks/tasks.yml
  tests/integration/targets/ini_file/tasks/tests/01-value.yml
  tests/integration/targets/iptables_state/tasks/tests/10-rollback.yml
  tests/integration/targets/java_keystore/tasks/tests.yml
  tests/integration/targets/kernel_blacklist/tasks/main.yml
  tests/integration/targets/keycloak_realm_key/tasks/main.yml
  tests/integration/targets/lookup_dependent/tasks/main.yml
  tests/integration/targets/pkgng/tasks/freebsd.yml
  tests/integration/targets/setup_cron/tasks/main.yml
  tests/integration/targets/systemd_creds_encrypt/tasks/main.yaml
  tests/integration/targets/test_ansible_type/tasks/tasks.yml
  tests/integration/targets/test_fqdn_valid/tasks/fqdn_valid_1.yml
Labels: tests, integration, backport-9, backport-10

#9861 [stable-9] Fix/improve tests
  tests/integration/targets/callback/filter_plugins/helper.py
  tests/integration/targets/callback/tasks/main.yml
  tests/integration/targets/consul/tasks/consul_binding_rule.yml
  tests/integration/targets/consul/tasks/consul_token.yml
  tests/integration/targets/deploy_helper/tasks/main.yml
  tests/integration/targets/filter_counter/tasks/main.yml
  tests/integration/targets/filter_from_csv/tasks/main.yml
  tests/integration/targets/filter_groupby_as_dict/tasks/main.yml
  tests/integration/targets/filter_hashids/tasks/main.yml
  tests/integration/targets/filter_keep_keys/tasks/tests.yml
  tests/integration/targets/filter_lists_mergeby/tasks/lists_mergeby_2-10.yml
  tests/integration/targets/filter_lists_mergeby/tasks/lists_mergeby_default.yml
  tests/integration/targets/filter_random_mac/tasks/main.yml
  tests/integration/targets/filter_remove_keys/tasks/tests.yml
  tests/integration/targets/filter_replace_keys/tasks/tests.yml
  tests/integration/targets/filter_reveal_ansible_type/tasks/tasks.yml
  tests/integration/targets/ini_file/tasks/tests/01-value.yml
  tests/integration/targets/iptables_state/tasks/tests/10-rollback.yml
  tests/integration/targets/java_keystore/tasks/tests.yml
  tests/integration/targets/kernel_blacklist/tasks/main.yml
  tests/integration/targets/keycloak_realm_key/tasks/main.yml
  tests/integration/targets/lookup_dependent/tasks/main.yml
  tests/integration/targets/pkgng/tasks/freebsd.yml
  tests/integration/targets/setup_cron/tasks/main.yml
  tests/integration/targets/test_ansible_type/tasks/tasks.yml
  tests/integration/targets/test_fqdn_valid/tasks/fqdn_valid_1.yml
Labels: tests, integration, backport

#9845 Fix roles/policies normalization in consul_token.
  changelogs/fragments/9845-consul_token_idempotency.yml
  plugins/modules/consul_token.py
  tests/integration/targets/consul/tasks/consul_token.yml
Labels: bug, module, tests, integration, has_issue, plugins, check-before-release, backport-9, backport-10

#9846 dnf_versionlock: add support for Fedora 41 and dnf5
  changelogs/fragments/dnf_versionlock.yml
  plugins/modules/dnf_versionlock.py
  tests/integration/targets/dnf_versionlock/tasks/main.yml
Labels: bug, module, tests, integration, plugins, backport-9, backport-10

#9836 Adds option for http agent for user in slack callback
  changelogs/fragments/9836-option-for-http-agent-for-user-to-callback-slack.yml
  plugins/callback/slack.py
Labels: feature, needs_revision, callback, new_contributor, plugins, check-before-release, backport-10

#9858 pacemaker unit test: passing null with UTHelper
  tests/unit/plugins/modules/test_pacemaker_resource.yaml
Labels: tests, unit, check-before-release, backport-9, backport-10

#9872 CI: Add FreeBSD 13.5
  .azure-pipelines/azure-pipelines.yml
  tests/integration/targets/iso_extract/aliases
  tests/integration/targets/pkgng/tasks/freebsd.yml
Labels: tests, integration, backport-9, backport-10

#9837 Redfish: implement setting PowerRestorePolicy
  changelogs/fragments/9837-redfish-implement-setting-powerrestorepolicy.yml
  plugins/module_utils/redfish_utils.py
  plugins/modules/redfish_config.py
Labels: module, needs_ci, module_utils, plugins, backport-10

#9821 systemd_info - add wildcards support
  .github/BOTMETA.yml
  changelogs/fragments/9821-systemd_info-add-wildcards.yml
  plugins/module_utils/systemd.py
  plugins/modules/systemd_info.py
  tests/integration/targets/systemd_info/tasks/tests.yml
Labels: feature, module, tests, integration, module_utils, plugins, backport-10

#9871 sudoers: display stderr raised while validation
  changelogs/fragments/sudoers.yml
  plugins/modules/sudoers.py
  tests/integration/targets/sudoers/tasks/main.yml
Labels: bug, module, tests, integration, plugins, backport-9, backport-10

#9849 NMAP Inventory Plugin: Added option for specifying DNS servers for name resolution
  changelogs/fragments/9849-nmap_dns_servers.yml
  plugins/inventory/nmap.py
Labels: new_contributor, inventory, plugins, backport-10

#9847 Adding Audio device support to proxmox_kvm
  changelogs/fragments/9847-Adding_audio_device-support_to_proxmox_kvm.yml
  plugins/modules/proxmox_kvm.py
Labels: feature, module, new_contributor, plugins, check-before-release, backport-10

#9881 homebrew_cask: Handle unusual brew version strings
  changelogs/fragments/homebrew_cask.yml
  plugins/modules/homebrew_cask.py
  tests/unit/plugins/modules/test_homebrew_cask.py
Labels: bug, module, tests, unit, plugins, check-before-release, backport-9, backport-10

#9891 systemd_info - extend support to timer unit
  changelogs/fragments/9891-systemd_info-add_timer.yml
  plugins/modules/systemd_info.py
  tests/integration/targets/systemd_info/tasks/tests.yml
Labels: feature, module, tests, integration, plugins, check-before-release, backport-10

#9900 sysrc: extend the list of FreeBSD releases where the jail test fails
  tests/integration/targets/sysrc/tasks/main.yml
Labels: tests, integration, small_patch, backport-8, backport-9, backport-10

#9880 nmcli: fix reordering of DNS nameservers and search suffixes
  changelogs/fragments/9880-nmcli-fix-reorder-same-dns-nameservers-search-suffixes.yml
  plugins/modules/nmcli.py
Labels: bug, module, new_contributor, plugins, backport-9, backport-10

#9892 vmadm - Add new options
  changelogs/fragments/9892-vmadm-add-new-options.yml
  plugins/modules/vmadm.py
Labels: feature, module, new_contributor, plugins, backport-10

#9904 Add caddy example to copr module
  plugins/modules/copr.py
Labels: module, new_contributor, plugins, docs, docs_only, backport-9, backport-10

#9893 cmd_runner_fmt.as_fixed() now accepts list of args
  changelogs/fragments/9893-cmdrunner-as-fixed-args.yml
  docs/docsite/rst/guide_cmdrunner.rst
  plugins/module_utils/cmd_runner_fmt.py
Labels: module_utils, plugins, docs, backport-10

#9926 The yarn module is Yarn Classic only at the moment
  plugins/modules/yarn.py
Labels: module, has_issue, small_patch, plugins, docs, needs_maintainer, docs_only, backport-8, backport-9, backport-10

#9867 tests: enable copr tests
  tests/integration/targets/copr/aliases
Labels: stale_ci, tests, integration, WIP, small_patch, backport-8, backport-9, backport-10

#9928 [stable-9] The yarn module is Yarn Classic only at the moment
  plugins/modules/yarn.py
Labels: module, small_patch, plugins, docs, needs_maintainer, docs_only, backport-8, backport

#9882 Fix payload to match Rocket Chat 7.4.1 API
  changelogs/fragments/9882-fix-payload-to-match-rocketchat-740-requirement.yml
  plugins/modules/rocketchat.py
Labels: bug, module, new_contributor, plugins, check-before-release, backport-10

#9910 proxmox_vm_info: don't expect key 'template' exists in dictionary
  changelogs/fragments/9875-proxmox-dont-expect-key-template-to-exist.yml
  plugins/modules/proxmox_vm_info.py
Labels: bug, module, new_contributor, plugins, backport-9, backport-10

#9945 Simplify YAML callback tests
  tests/integration/targets/callback_yaml/tasks/main.yml
Labels: tests, integration, small_patch, backport-8, backport-9, backport-10
