Repository ansible-collections/community.general, pull requests merged in 2025-08, with the labels that each got.

#10531 wsl connection: import paramiko directly
  changelogs/fragments/10531-wsl-paramiko.yml
  plugins/connection/wsl.py
  tests/unit/plugins/connection/test_wsl.py
Labels: bug, connection, tests, unit, has_issue, plugins, backport-10, backport-11

#10513 arg_spec adjustments: modules [t-z]*
  changelogs/fragments/10513-rfdn-5.yml
  plugins/modules/taiga_issue.py
  plugins/modules/twilio.py
  plugins/modules/utm_aaa_group.py
  plugins/modules/utm_ca_host_key_cert.py
  plugins/modules/utm_dns_host.py
  plugins/modules/utm_network_interface_address.py
  plugins/modules/utm_proxy_auth_profile.py
  plugins/modules/utm_proxy_exception.py
  plugins/modules/utm_proxy_frontend.py
  plugins/modules/utm_proxy_location.py
  plugins/modules/vertica_configuration.py
  plugins/modules/vertica_info.py
  plugins/modules/vertica_role.py
  plugins/modules/xbps.py
  plugins/modules/yarn.py
  plugins/modules/zypper.py
  plugins/modules/zypper_repository.py
Labels: module, plugins, check-before-release, needs_maintainer, backport-11

#10548 [stable-9] Fix no longer valid constructs in tests (#10543)
  tests/integration/targets/apache2_module/tasks/actualtest.yml
  tests/integration/targets/ldap_search/tasks/tests/schema.yml
Labels: tests, integration, backport

#10550 diy callback: add test for on_any_msg
  tests/integration/targets/callback_diy/tasks/main.yml
Labels: tests, integration, backport-9, backport-10, backport-11

#10532 apk: fix empty/whitespace-only package name check
  changelogs/fragments/10532-apk.yml
  plugins/modules/apk.py
  tests/integration/targets/apk/tasks/main.yml
Labels: bug, module, tests, integration, plugins, backport-10, backport-11

#10537 Disable pipelining for doas and machinectl on ansible-core 2.19+
  changelogs/fragments/become-pipelining.yml
  plugins/become/doas.py
  plugins/become/machinectl.py
Labels: bug, has_issue, become, plugins, backport-9, backport-10, backport-11

#10539 json_query: extend list of type aliases for compatibility with ansible-core 2.19
  changelogs/fragments/10539-json_query.yml
  plugins/filter/json_query.py
  tests/integration/targets/filter_json_query/tasks/main.yml
Labels: bug, tests, integration, has_issue, filter, plugins, check-before-release, backport-9, backport-10, backport-11

#10455 Improve capabilities module by detecting /sbin/getcap error message and stop early with a meaningful error message
  changelogs/fragments/10455-capabilities-improve-error-detection.yml
  plugins/modules/capabilities.py
Labels: bug, module, new_contributor, plugins, check-before-release, backport-10, backport-11

#10553 [stable-10] Backport fixes from community.proxmox
  changelogs/fragments/108--disable_lookups.yml
  changelogs/fragments/151-connection-paramiko.yml
  plugins/connection/proxmox_pct_remote.py
  plugins/inventory/proxmox.py
  tests/unit/plugins/connection/test_proxmox_pct_remote.py
Labels: bug, connection, tests, unit, inventory, plugins, backport, backport-9

#10554 [stable-9] diy callback: add test for on_any_msg (#10550)
  tests/integration/targets/callback_diy/tasks/main.yml
Labels: tests, integration, backport

#10566 merge_variables lookup: avoid deprecated Templar.set_temporary_context
  changelogs/fragments/10566-merge_variables.yml
  plugins/lookup/merge_variables.py
Labels: bug, lookup, has_issue, plugins, backport-9, backport-10, backport-11

#10570 CI: python-jenkins 1.8.3 fails to import on Python 2.7
  tests/unit/requirements.txt
Labels: needs_revision, tests, unit, small_patch, backport-9, backport-10, backport-11

#10422 tasks_only callback: add result_format_callback docs fragment
  changelogs/fragments/10422-tasks_only-result_format.yml
  plugins/callback/tasks_only.py
Labels: feature, stale_ci, callback, plugins, check-before-release, backport-11

#10493 nagios: make services param a list
  changelogs/fragments/10493-nagios-services.yml
  plugins/modules/nagios.py
Labels: feature, module, plugins, check-before-release, backport-11

#10514 bearychat: deprecation
  changelogs/fragments/10514-deprecate-bearychat.yml
  meta/runtime.yml
  plugins/modules/bearychat.py
Labels: feature, module, plugins, check-before-release, backport-11

#10424 scaleway: update zone list
  changelogs/fragments/10424-scaleway-update-zones.yml
  plugins/inventory/scaleway.py
  plugins/module_utils/scaleway.py
  plugins/modules/scaleway_compute.py
  plugins/modules/scaleway_compute_private_network.py
  plugins/modules/scaleway_image_info.py
  plugins/modules/scaleway_ip.py
  plugins/modules/scaleway_ip_info.py
  plugins/modules/scaleway_private_network.py
  plugins/modules/scaleway_security_group.py
  plugins/modules/scaleway_security_group_info.py
  plugins/modules/scaleway_security_group_rule.py
  plugins/modules/scaleway_server_info.py
  plugins/modules/scaleway_snapshot_info.py
  plugins/modules/scaleway_user_data.py
  plugins/modules/scaleway_volume.py
  plugins/modules/scaleway_volume_info.py
Labels: bug, module, tests, unit, new_contributor, inventory, module_utils, plugins, cloud, check-before-release, backport-11

#10416 lvm_pv_move_data: new module
  .github/BOTMETA.yml
  .gitignore
  plugins/modules/lvm_pv_move_data.py
  tests/integration/targets/lvm_pv_move_data/aliases
  tests/integration/targets/lvm_pv_move_data/meta/main.yml
  tests/integration/targets/lvm_pv_move_data/tasks/cleanup.yml
  tests/integration/targets/lvm_pv_move_data/tasks/creation.yml
  tests/integration/targets/lvm_pv_move_data/tasks/main.yml
  tests/integration/targets/lvm_pv_move_data/tasks/moving.yml
  tests/integration/targets/lvm_pv_move_data/tasks/prepare.yml
Labels: module, tests, integration, plugins, check-before-release, backport-11

#10520 apk: command args as list rather than string
  changelogs/fragments/10520-arg-runcommand-list.yml
  plugins/modules/apk.py
  tests/unit/plugins/modules/test_apk.py
Labels: feature, module, tests, unit, plugins, check-before-release, backport-11

#10523 bzr: command args as list rather than string
  changelogs/fragments/10523-bzr-cmd-list.yml
  plugins/modules/bzr.py
Labels: feature, module, plugins, check-before-release, backport-11

#10525 composer: command args as list rather than string
  changelogs/fragments/10525-composer-cmd-list.yml
  plugins/modules/composer.py
Labels: feature, module, plugins, check-before-release, backport-11

#10538 Keycloak realm add support for some missing options
  changelogs/fragments/10538-keycloak-realm-add-support-client-options.yml
  plugins/modules/keycloak_realm.py
  tests/integration/targets/keycloak_realm/README.md
  tests/integration/targets/keycloak_realm/aliases
  tests/integration/targets/keycloak_realm/tasks/main.yml
  tests/integration/targets/keycloak_realm/vars/main.yml
Labels: feature, module, tests, integration, plugins, check-before-release, backport-11

#10435 github_repo: deprecate force_defaults=true
  changelogs/fragments/10435-github-repo-deprecate-force-defaults.yml
  plugins/modules/github_repo.py
Labels: feature, module, plugins, check-before-release, backport-11

#10616 Add binary_file lookup
  .github/BOTMETA.yml
  plugins/lookup/binary_file.py
  tests/integration/targets/lookup_binary_file/aliases
  tests/integration/targets/lookup_binary_file/files/file_1
  tests/integration/targets/lookup_binary_file/files/file_1.license
  tests/integration/targets/lookup_binary_file/files/file_2
  tests/integration/targets/lookup_binary_file/files/file_2.license
  tests/integration/targets/lookup_binary_file/tasks/main.yml
  tests/sanity/ignore-2.16.txt
Labels: lookup, tests, integration, plugins, check-before-release, backport-11

#10606 urpmi: command args as list rather than string
  changelogs/fragments/10606-urpmi-cmd-list.yml
  plugins/modules/urpmi.py
Labels: feature, module, plugins, backport-11

#10605 swupd: command args as list rather than string
  changelogs/fragments/10605-swupd-cmd-list.yml
  plugins/modules/swupd.py
Labels: feature, module, plugins, backport-11

#10604 solaris_zone: command args as list rather than string
  changelogs/fragments/10604-solaris-zone-cmd-list.yml
  plugins/modules/solaris_zone.py
Labels: feature, module, plugins, backport-11

#10603 riak: command args as list rather than string
  changelogs/fragments/10603-riak-cmd-list.yml
  plugins/modules/riak.py
Labels: feature, module, plugins, backport-11

#10599 open_iscsi: command args as list rather than string
  changelogs/fragments/10599-open-iscsi-cmd-list.yml
  plugins/modules/open_iscsi.py
Labels: feature, module, plugins, backport-11

#10601 pear: command args as list rather than string
  changelogs/fragments/10601-pear-cmd-list.yml
  plugins/modules/pear.py
Labels: feature, module, plugins, needs_maintainer, backport-11

#10608 xbps: command args as list rather than string
  changelogs/fragments/10608-xbps-cmd-list.yml
  plugins/modules/xbps.py
Labels: feature, module, has_issue, plugins, shipit, check-before-release, backport-11

#8647 Docs. Remove helpers.
  docs/docsite/helper/keep_keys/README.md
  docs/docsite/helper/keep_keys/filter_guide-abstract_informations-lists_of_dictionaries-keep_keys.rst.j2
  docs/docsite/helper/keep_keys/keep_keys.rst.sha1
  docs/docsite/helper/keep_keys/keep_keys.rst.sha1.license
  docs/docsite/helper/keep_keys/playbook.yml
  docs/docsite/helper/keep_keys/tests.yml.sha1
  docs/docsite/helper/keep_keys/tests.yml.sha1.license
  docs/docsite/helper/lists_mergeby/default-common.yml
  docs/docsite/helper/lists_mergeby/default-recursive-true.yml
  docs/docsite/helper/lists_mergeby/example-001.yml
  docs/docsite/helper/lists_mergeby/example-001_vars/default-common.yml
  docs/docsite/helper/lists_mergeby/example-001_vars/list3.yml
  docs/docsite/helper/lists_mergeby/example-002.yml
  docs/docsite/helper/lists_mergeby/example-002_vars/default-common.yml
  docs/docsite/helper/lists_mergeby/example-002_vars/list3.yml
  docs/docsite/helper/lists_mergeby/example-003.yml
  docs/docsite/helper/lists_mergeby/example-003_vars/default-recursive-true.yml
  docs/docsite/helper/lists_mergeby/example-003_vars/list3.yml
  docs/docsite/helper/lists_mergeby/example-004.yml
  docs/docsite/helper/lists_mergeby/example-004_vars/default-recursive-true.yml
  docs/docsite/helper/lists_mergeby/example-004_vars/list3.yml
  docs/docsite/helper/lists_mergeby/example-005.yml
  docs/docsite/helper/lists_mergeby/example-005_vars/default-recursive-true.yml
  docs/docsite/helper/lists_mergeby/example-005_vars/list3.yml
  docs/docsite/helper/lists_mergeby/example-006.yml
  docs/docsite/helper/lists_mergeby/example-006_vars/default-recursive-true.yml
  docs/docsite/helper/lists_mergeby/example-006_vars/list3.yml
  docs/docsite/helper/lists_mergeby/example-007.yml
  docs/docsite/helper/lists_mergeby/example-007_vars/default-recursive-true.yml
  docs/docsite/helper/lists_mergeby/example-007_vars/list3.yml
  docs/docsite/helper/lists_mergeby/example-008.yml
  docs/docsite/helper/lists_mergeby/example-008_vars/default-recursive-true.yml
  docs/docsite/helper/lists_mergeby/example-008_vars/list3.yml
  docs/docsite/helper/lists_mergeby/example-009.yml
  docs/docsite/helper/lists_mergeby/example-009_vars/default-common.yml
  docs/docsite/helper/lists_mergeby/example-009_vars/list3.yml
  docs/docsite/helper/lists_mergeby/examples.yml
  docs/docsite/helper/lists_mergeby/examples_all.rst.j2
  docs/docsite/helper/lists_mergeby/extra-vars.yml
  docs/docsite/helper/lists_mergeby/filter_guide_abstract_informations_merging_lists_of_dictionaries.rst.j2
  docs/docsite/helper/lists_mergeby/list3.out.j2
  docs/docsite/helper/lists_mergeby/playbook.yml
  docs/docsite/helper/remove_keys/README.md
  docs/docsite/helper/remove_keys/filter_guide-abstract_informations-lists_of_dictionaries-remove_keys.rst.j2
  docs/docsite/helper/remove_keys/playbook.yml
  docs/docsite/helper/remove_keys/remove_keys.rst.sha1
  docs/docsite/helper/remove_keys/remove_keys.rst.sha1.license
  docs/docsite/helper/remove_keys/tests.yml.sha1
  docs/docsite/helper/remove_keys/tests.yml.sha1.license
  docs/docsite/helper/replace_keys/README.md
  docs/docsite/helper/replace_keys/filter_guide-abstract_informations-lists_of_dictionaries-replace_keys.rst.j2
  docs/docsite/helper/replace_keys/playbook.yml
  docs/docsite/helper/replace_keys/replace_keys.rst.sha1
  docs/docsite/helper/replace_keys/replace_keys.rst.sha1.license
  docs/docsite/helper/replace_keys/tests.yml.sha1
  docs/docsite/helper/replace_keys/tests.yml.sha1.license
Labels: needs_revision, needs_rebase, docs, docs_only, backport-11

#10596 lvm_pv - Fixes #10444 - Partition device not found
  changelogs/fragments/lvm_pv.yml
  plugins/modules/lvm_pv.py
Labels: bug, module, plugins, check-before-release, backport-10, backport-11

#10643 jc filter: remove redundant noqa comment
  plugins/filter/jc.py
Labels: filter, small_patch, plugins, docs

#10649 pipx examples and tests: fix terminology
  plugins/modules/pipx.py
  tests/integration/targets/pipx/tasks/main.yml
Labels: module, tests, integration, small_patch, plugins, docs, backport-10, backport-11

#10653 CI: Make sure to install Java in Debian Bullseye
  tests/integration/targets/setup_java_keytool/vars/Debian.yml
Labels: tests, integration, small_patch, backport-9, backport-10, backport-11

#10674 pacman: temporary disable yay test
  tests/integration/targets/pacman/tasks/main.yml
Labels: tests, integration, small_patch, backport-9, backport-10, backport-11

#10423 apache2_module: updated cgi action conditions
  changelogs/fragments/10423-apache_module-condition.yml
  plugins/modules/apache2_module.py
Labels: bug, module, new_contributor, plugins, check-before-release, backport-10, backport-11

#10701 update requirements for Python versions currently used
  tests/unit/requirements.txt
Labels: tests, unit, backport-10, backport-11

#10728 pacman: re-enable yay test
  tests/integration/targets/pacman/tasks/main.yml
  tests/integration/targets/pacman/tasks/yay-become.yml
Labels: tests, integration, small_patch, backport-9, backport-10, backport-11

#10732 ssh_config tests: remove paramiko version restriction
  tests/integration/targets/ssh_config/tasks/main.yml
Labels: tests, integration, small_patch, backport-9, backport-10, backport-11

#10684 django module, module_utils: adjustments
  changelogs/fragments/10684-django-improvements.yml
  plugins/module_utils/django.py
  plugins/modules/django_check.py
  plugins/modules/django_createcachetable.py
Labels: module, module_utils, plugins, shipit, backport-11

#10710 random_string: Specify seed while generating random string
  changelogs/fragments/random_string_seed.yml
  plugins/lookup/random_string.py
  tests/integration/targets/lookup_random_string/test.yml
Labels: bug, lookup, tests, integration, plugins, check-before-release, backport-11

#10707 pacemaker: Add regex checking for maintenance-mode
  changelogs/fragments/10707-pacemaker-maintenance-mode-regex.yml
  plugins/module_utils/pacemaker.py
  tests/unit/plugins/modules/test_pacemaker_cluster.yaml
  tests/unit/plugins/modules/test_pacemaker_resource.yaml
Labels: bug, tests, unit, module_utils, plugins, check-before-release, backport-10, backport-11

#10741 pacemaker_cluster: deprecate cleanup state
  changelogs/fragments/10741-pacemaker-cluster-cleanup-deprecate.yml
  plugins/modules/pacemaker_cluster.py
Labels: module, WIP, plugins, check-before-release

#10768 zpool: fix broken example
  plugins/modules/zpool.py
Labels: module, small_patch, plugins, docs, backport-9, backport-10, backport-11

#10642 parted: command args as list rather than string
  changelogs/fragments/10642-parted-cmd-list.yml
  plugins/modules/parted.py
  tests/unit/plugins/modules/test_parted.py
Labels: feature, module, tests, unit, plugins, backport-11

#10769 xenserver: remove required=false from arg spec
  changelogs/fragments/10769-xenserver-rf.yml
  plugins/module_utils/xenserver.py
Labels: module_utils, plugins, backport-11
