Repository ansible-collections/community.general, pull requests merged in 2025-07, with the labels that each got.

#10319 CI: Add stable-2.19
  .azure-pipelines/azure-pipelines.yml
  tests/sanity/ignore-2.20.txt
  tests/sanity/ignore-2.20.txt.license
Labels: tests, backport-10, backport-11

#10327 remove unnecessary checks for unsupported python versions
  tests/unit/plugins/inventory/test_linode.py
  tests/unit/plugins/modules/test_github_repo.py
  tests/unit/plugins/modules/test_linode_v4.py
  tests/unit/plugins/modules/test_modprobe.py
Labels: tests, unit

#10328 remove unnecessary brackets in conditions
  changelogs/fragments/10328-redundant-brackets.yml
  plugins/callback/logstash.py
  plugins/module_utils/identity/keycloak/keycloak.py
  plugins/module_utils/python_runner.py
  plugins/modules/cloudflare_dns.py
  plugins/modules/crypttab.py
  plugins/modules/datadog_monitor.py
  plugins/modules/gitlab_deploy_key.py
  plugins/modules/gitlab_group_access_token.py
  plugins/modules/gitlab_hook.py
  plugins/modules/gitlab_project_access_token.py
  plugins/modules/gitlab_runner.py
  plugins/modules/ipa_group.py
  plugins/modules/jenkins_build.py
  plugins/modules/jenkins_build_info.py
  plugins/modules/nmcli.py
  plugins/modules/oneandone_firewall_policy.py
  plugins/modules/oneandone_load_balancer.py
  plugins/modules/oneandone_monitoring_policy.py
  plugins/modules/onepassword_info.py
  plugins/modules/osx_defaults.py
  plugins/modules/ovh_ip_loadbalancing_backend.py
  plugins/modules/packet_device.py
  plugins/modules/pagerduty.py
  plugins/modules/pingdom.py
  plugins/modules/rhevm.py
  plugins/modules/rocketchat.py
  plugins/modules/sensu_silence.py
  plugins/modules/sl_vm.py
  plugins/modules/urpmi.py
  plugins/modules/xattr.py
  plugins/modules/xml.py
Labels: module, callback, module_utils, plugins, identity, check-before-release, needs_maintainer, backport-11

#10329 catapult: deprecation
  changelogs/fragments/10329-catapult-deprecation.yml
  meta/runtime.yml
  plugins/modules/catapult.py
Labels: feature, module, plugins, check-before-release, backport-11

#10334 flatpak: add docs example for install using custom executable path
  plugins/modules/flatpak.py
Labels: module, small_patch, plugins, docs, docs_only

#10336 lvg: add docs example for preserving existing PVs in a volume group using `remove_extra_pvs: false`
  plugins/modules/lvg.py
Labels: module, plugins, docs, docs_only

#10323 nmcli: improvements
  changelogs/fragments/10323-nmcli-improvements.yml
  plugins/modules/nmcli.py
Labels: module, plugins, check-before-release, backport-11

#10349 incus_connection: Improve error handling
  changelogs/fragments/10349-incus_connection-error-handling.yml
  plugins/connection/incus.py
Labels: bug, connection, plugins, check-before-release, backport-10, backport-11

#10359 dependent lookup: avoid deprecated ansible-core 2.19 functionality
  changelogs/fragments/10359-dependent.yml
  plugins/lookup/dependent.py
  tests/unit/plugins/lookup/test_dependent.py
Labels: bug, lookup, tests, unit, plugins, check-before-release, backport-9, backport-10, backport-11

#10345 logstash: Remove reference to Python 2 library
  changelogs/fragments/logstash.yml
  plugins/callback/logstash.py
Labels: callback, plugins, docs, check-before-release, backport-11

#10363 lvg examples: use YAML lists
  plugins/modules/lvg.py
Labels: module, plugins, docs, docs_only, backport-10, backport-11

#10380 community.general.easy_install : use of the virtualenv_command parameter
  plugins/modules/easy_install.py
Labels: module, small_patch, plugins, docs, check-before-release, docs_only, backport-10, backport-11

#10385 Enable hg integration test
  tests/integration/targets/hg/tasks/install.yml
  tests/integration/targets/hg/tasks/main.yml
  tests/integration/targets/hg/tasks/run-tests.yml
  tests/integration/targets/hg/tasks/uninstall.yml
Labels: tests, integration, backport-9, backport-10, backport-11

#10239 Added docs Inventory Guide.
  .github/BOTMETA.yml
  docs/docsite/extra-docs.yml
  docs/docsite/rst/guide_iocage.rst
  docs/docsite/rst/iocage_inventory_guide.rst
  docs/docsite/rst/iocage_inventory_guide_aliases.rst
  docs/docsite/rst/iocage_inventory_guide_basics.rst
  docs/docsite/rst/iocage_inventory_guide_dhcp.rst
  docs/docsite/rst/iocage_inventory_guide_hooks.rst
  docs/docsite/rst/iocage_inventory_guide_properties.rst
  docs/docsite/rst/iocage_inventory_guide_tags.rst
Labels: needs_revision, has_issue, needs_rebase, docs, check-before-release, backport-11

#10398 doc style adjustments: modules [efgh]*
  plugins/modules/easy_install.py
  plugins/modules/elasticsearch_plugin.py
  plugins/modules/emc_vnx_sg_member.py
  plugins/modules/filesystem.py
  plugins/modules/flatpak.py
  plugins/modules/flatpak_remote.py
  plugins/modules/gem.py
  plugins/modules/gio_mime.py
  plugins/modules/git_config_info.py
  plugins/modules/github_deploy_key.py
  plugins/modules/github_key.py
  plugins/modules/github_repo.py
  plugins/modules/github_webhook.py
  plugins/modules/gitlab_deploy_key.py
  plugins/modules/gitlab_group.py
  plugins/modules/gitlab_group_access_token.py
  plugins/modules/gitlab_group_variable.py
  plugins/modules/gitlab_hook.py
  plugins/modules/gitlab_instance_variable.py
  plugins/modules/gitlab_issue.py
  plugins/modules/gitlab_label.py
  plugins/modules/gitlab_merge_request.py
  plugins/modules/gitlab_milestone.py
  plugins/modules/gitlab_project.py
  plugins/modules/gitlab_project_access_token.py
  plugins/modules/gitlab_project_variable.py
  plugins/modules/gitlab_runner.py
  plugins/modules/gitlab_user.py
  plugins/modules/grove.py
  plugins/modules/gunicorn.py
  plugins/modules/haproxy.py
  plugins/modules/hg.py
  plugins/modules/homebrew.py
  plugins/modules/homectl.py
  plugins/modules/honeybadger_deployment.py
  plugins/modules/hpilo_boot.py
  plugins/modules/hpilo_info.py
  plugins/modules/hwc_ecs_instance.py
  plugins/modules/hwc_evs_disk.py
  plugins/modules/hwc_network_vpc.py
  plugins/modules/hwc_vpc_eip.py
  plugins/modules/hwc_vpc_private_ip.py
  plugins/modules/hwc_vpc_route.py
  plugins/modules/hwc_vpc_security_group.py
  plugins/modules/hwc_vpc_security_group_rule.py
  plugins/modules/hwc_vpc_subnet.py
Labels: module, plugins, docs, check-before-release, backport-11

#10397 doc style adjustments: modules [cd]*
  plugins/modules/campfire.py
  plugins/modules/capabilities.py
  plugins/modules/cargo.py
  plugins/modules/cloud_init_data_facts.py
  plugins/modules/cloudflare_dns.py
  plugins/modules/cobbler_sync.py
  plugins/modules/cobbler_system.py
  plugins/modules/composer.py
  plugins/modules/consul.py
  plugins/modules/consul_acl_bootstrap.py
  plugins/modules/consul_agent_check.py
  plugins/modules/consul_agent_service.py
  plugins/modules/consul_auth_method.py
  plugins/modules/consul_binding_rule.py
  plugins/modules/consul_kv.py
  plugins/modules/consul_policy.py
  plugins/modules/consul_role.py
  plugins/modules/consul_session.py
  plugins/modules/consul_token.py
  plugins/modules/cpanm.py
  plugins/modules/cronvar.py
  plugins/modules/crypttab.py
  plugins/modules/datadog_event.py
  plugins/modules/datadog_monitor.py
  plugins/modules/dconf.py
  plugins/modules/decompress.py
  plugins/modules/deploy_helper.py
  plugins/modules/dimensiondata_vlan.py
  plugins/modules/django_check.py
  plugins/modules/django_manage.py
  plugins/modules/dnf_config_manager.py
  plugins/modules/dnf_versionlock.py
  plugins/modules/dnsimple.py
  plugins/modules/dnsimple_info.py
  plugins/modules/dnsmadeeasy.py
  plugins/modules/dpkg_divert.py
Labels: module, plugins, docs, check-before-release, needs_maintainer, backport-10, backport-11

#10399 manageiq_provider: fix docs markup
  plugins/modules/manageiq_provider.py
Labels: module, plugins, docs, check-before-release, docs_only, backport-10, backport-11

#10409 doc style adjustments: modules i*
  plugins/modules/ibm_sa_host.py
  plugins/modules/icinga2_host.py
  plugins/modules/imc_rest.py
  plugins/modules/imgadm.py
  plugins/modules/influxdb_user.py
  plugins/modules/ini_file.py
  plugins/modules/installp.py
  plugins/modules/interfaces_file.py
  plugins/modules/ipa_dnsrecord.py
  plugins/modules/ipa_getkeytab.py
  plugins/modules/ipa_group.py
  plugins/modules/ipa_hbacrule.py
  plugins/modules/ipa_host.py
  plugins/modules/ipa_hostgroup.py
  plugins/modules/ipa_otptoken.py
  plugins/modules/ipa_role.py
  plugins/modules/ipa_sudocmdgroup.py
  plugins/modules/ipa_sudorule.py
  plugins/modules/ipa_user.py
  plugins/modules/ipbase_info.py
  plugins/modules/ipify_facts.py
  plugins/modules/ipmi_boot.py
  plugins/modules/iptables_state.py
  plugins/modules/ipwcli_dns.py
  plugins/modules/irc.py
  plugins/modules/iso_create.py
  plugins/modules/iso_customize.py
  plugins/modules/iso_extract.py
Labels: module, plugins, docs, check-before-release, backport-10, backport-11

#10433 doc style adjustments: modules [lm]*
  plugins/modules/launchd.py
  plugins/modules/layman.py
  plugins/modules/ldap_attrs.py
  plugins/modules/ldap_inc.py
  plugins/modules/ldap_search.py
  plugins/modules/librato_annotation.py
  plugins/modules/linode.py
  plugins/modules/linode_v4.py
  plugins/modules/listen_ports_facts.py
  plugins/modules/locale_gen.py
  plugins/modules/logstash_plugin.py
  plugins/modules/lvg.py
  plugins/modules/lxc_container.py
  plugins/modules/lxd_container.py
  plugins/modules/lxd_profile.py
  plugins/modules/lxd_project.py
  plugins/modules/mail.py
  plugins/modules/make.py
  plugins/modules/manageiq_group.py
  plugins/modules/manageiq_provider.py
  plugins/modules/manageiq_tags.py
  plugins/modules/manageiq_tags_info.py
  plugins/modules/manageiq_user.py
  plugins/modules/matrix.py
  plugins/modules/mattermost.py
  plugins/modules/maven_artifact.py
  plugins/modules/memset_dns_reload.py
  plugins/modules/memset_server_info.py
  plugins/modules/mksysb.py
  plugins/modules/modprobe.py
  plugins/modules/monit.py
  plugins/modules/mqtt.py
  plugins/modules/mssql_script.py
Labels: module, needs_revision, plugins, docs, check-before-release, backport-10, backport-11

#10446 CI: Replace FreeBSD 13.3 with 13.5
  .azure-pipelines/azure-pipelines.yml
Labels: needs_revision, small_patch, backport-9, backport-10, backport-11

#10449 CI: Disable zpool tests on Alpine
  tests/integration/targets/zpool/aliases
Labels: tests, integration, small_patch, backport-11

#10443 doc style adjustments: modules [no]*
  plugins/modules/nagios.py
  plugins/modules/netcup_dns.py
  plugins/modules/newrelic_deployment.py
  plugins/modules/nexmo.py
  plugins/modules/nictagadm.py
  plugins/modules/nmcli.py
  plugins/modules/nosh.py
  plugins/modules/nsupdate.py
  plugins/modules/office_365_connector_card.py
  plugins/modules/one_host.py
  plugins/modules/one_image.py
  plugins/modules/one_image_info.py
  plugins/modules/one_service.py
  plugins/modules/one_template.py
  plugins/modules/one_vm.py
  plugins/modules/one_vnet.py
  plugins/modules/oneandone_firewall_policy.py
  plugins/modules/oneandone_load_balancer.py
  plugins/modules/oneandone_monitoring_policy.py
  plugins/modules/oneandone_private_network.py
  plugins/modules/oneandone_public_ip.py
  plugins/modules/oneandone_server.py
  plugins/modules/onepassword_info.py
  plugins/modules/oneview_ethernet_network.py
  plugins/modules/oneview_fc_network.py
  plugins/modules/oneview_fcoe_network.py
  plugins/modules/oneview_logical_interconnect_group.py
  plugins/modules/oneview_network_set.py
  plugins/modules/online_server_info.py
  plugins/modules/online_user_info.py
  plugins/modules/open_iscsi.py
  plugins/modules/openbsd_pkg.py
  plugins/modules/opendj_backendprop.py
  plugins/modules/openwrt_init.py
  plugins/modules/osx_defaults.py
  plugins/modules/ovh_ip_failover.py
Labels: module, plugins, docs, check-before-release, needs_maintainer, backport-10, backport-11

#10459 Fix ansible-core 2.19 deprecations
  changelogs/fragments/10459-deprecations.yml
  plugins/modules/apache2_module.py
  plugins/modules/htpasswd.py
  plugins/modules/syspatch.py
  plugins/modules/sysupgrade.py
  plugins/modules/zypper_repository.py
Labels: bug, module, plugins, backport-9, backport-10, backport-11

#10461 Fix cronvar crash when parent dir of cron_file is missing
  changelogs/fragments/10461-cronvar-non-existent-dir-crash-fix.yml
  plugins/modules/cronvar.py
  tests/integration/targets/cronvar/tasks/main.yml
Labels: bug, module, tests, integration, new_contributor, plugins, backport-10, backport-11

#10458 listen_ports_facts: Avoid crash when required commands are missing
  changelogs/fragments/10458-listen_port_facts-prevent-type-error.yml
  plugins/modules/listen_ports_facts.py
  tests/integration/targets/listen_ports_facts/tasks/main.yml
Labels: bug, module, tests, integration, new_contributor, plugins, backport-10, backport-11

#10442 Ensure apk handles empty name strings properly
  changelogs/fragments/10442-apk-fix-empty-names.yml
  plugins/modules/apk.py
  tests/integration/targets/apk/tasks/main.yml
Labels: bug, module, tests, integration, new_contributor, plugins, check-before-release, backport-10, backport-11

#10481 doc style adjustments: modules [yz]*
  plugins/modules/yum_versionlock.py
  plugins/modules/zpool.py
Labels: module, small_patch, plugins, docs, backport-10, backport-11

#10480 doc style adjustments: modules s*
  plugins/modules/say.py
  plugins/modules/scaleway_compute.py
  plugins/modules/scaleway_container.py
  plugins/modules/scaleway_container_namespace.py
  plugins/modules/scaleway_container_registry.py
  plugins/modules/scaleway_function.py
  plugins/modules/scaleway_function_namespace.py
  plugins/modules/scaleway_image_info.py
  plugins/modules/scaleway_ip_info.py
  plugins/modules/scaleway_organization_info.py
  plugins/modules/scaleway_security_group_info.py
  plugins/modules/scaleway_server_info.py
  plugins/modules/scaleway_snapshot_info.py
  plugins/modules/scaleway_volume_info.py
  plugins/modules/selinux_permissive.py
  plugins/modules/selogin.py
  plugins/modules/sendgrid.py
  plugins/modules/sensu_check.py
  plugins/modules/sensu_client.py
  plugins/modules/sensu_handler.py
  plugins/modules/sensu_silence.py
  plugins/modules/serverless.py
  plugins/modules/slack.py
  plugins/modules/smartos_image_info.py
  plugins/modules/snap.py
  plugins/modules/snmp_facts.py
  plugins/modules/solaris_zone.py
  plugins/modules/sorcery.py
  plugins/modules/spectrum_device.py
  plugins/modules/spectrum_model_attrs.py
  plugins/modules/spotinst_aws_elastigroup.py
  plugins/modules/ss_3par_cpg.py
  plugins/modules/ssh_config.py
  plugins/modules/stacki_host.py
  plugins/modules/statusio_maintenance.py
  plugins/modules/sudoers.py
  plugins/modules/supervisorctl.py
  plugins/modules/svc.py
  plugins/modules/svr4pkg.py
  plugins/modules/swdepot.py
  plugins/modules/systemd_info.py
  plugins/modules/sysupgrade.py
Labels: module, plugins, docs, check-before-release, needs_maintainer, backport-10, backport-11

#10494 arg_spec adjustments: modules [a-f]*
  changelogs/fragments/10494-rfdn-1.yml
  plugins/modules/aerospike_migrations.py
  plugins/modules/airbrake_deployment.py
  plugins/modules/bigpanda.py
  plugins/modules/bootc_manage.py
  plugins/modules/bower.py
  plugins/modules/btrfs_subvolume.py
  plugins/modules/bundler.py
  plugins/modules/campfire.py
  plugins/modules/cargo.py
  plugins/modules/catapult.py
  plugins/modules/cisco_webex.py
  plugins/modules/consul_kv.py
  plugins/modules/consul_policy.py
  plugins/modules/copr.py
  plugins/modules/datadog_downtime.py
  plugins/modules/datadog_monitor.py
  plugins/modules/dconf.py
  plugins/modules/dimensiondata_network.py
  plugins/modules/dimensiondata_vlan.py
  plugins/modules/dnf_config_manager.py
  plugins/modules/dnsmadeeasy.py
  plugins/modules/dpkg_divert.py
  plugins/modules/easy_install.py
  plugins/modules/elasticsearch_plugin.py
  plugins/modules/facter.py
  plugins/modules/filesystem.py
Labels: module, plugins, needs_maintainer, backport-11

#10417 sysrc: refactor
  changelogs/fragments/10417-sysrc-refactor.yml
  plugins/modules/sysrc.py
  tests/integration/targets/sysrc/files/10394.conf
  tests/integration/targets/sysrc/tasks/main.yml
Labels: module, tests, integration, plugins, check-before-release, backport-11

#10508 Update Python versions for CI
  .azure-pipelines/azure-pipelines.yml
Labels: backport-10, backport-11

#10511 CI: Add Python 3.14 unit tests
  .azure-pipelines/azure-pipelines.yml
  tests/unit/plugins/connection/test_wsl.py
  tests/unit/plugins/modules/test_github_repo.py
Labels: tests, unit, backport-10, backport-11

#10517 [stable-10] CI: Add Python 3.14 unit tests (#10511)
  .azure-pipelines/azure-pipelines.yml
  tests/unit/plugins/connection/test_proxmox_pct_remote.py
  tests/unit/plugins/connection/test_wsl.py
  tests/unit/plugins/modules/test_github_repo.py
Labels: tests, unit, backport

#10507 arg_spec adjustments: modules [k-n]*
  changelogs/fragments/10507-rfdn-3.yml
  plugins/modules/keycloak_authz_authorization_scope.py
  plugins/modules/keycloak_authz_permission.py
  plugins/modules/keycloak_role.py
  plugins/modules/keycloak_userprofile.py
  plugins/modules/keyring.py
  plugins/modules/kibana_plugin.py
  plugins/modules/layman.py
  plugins/modules/ldap_attrs.py
  plugins/modules/ldap_inc.py
  plugins/modules/librato_annotation.py
  plugins/modules/lldp.py
  plugins/modules/logentries.py
  plugins/modules/lxca_cmms.py
  plugins/modules/lxca_nodes.py
  plugins/modules/macports.py
  plugins/modules/mail.py
  plugins/modules/manageiq_alerts.py
  plugins/modules/manageiq_group.py
  plugins/modules/manageiq_policies.py
  plugins/modules/manageiq_policies_info.py
  plugins/modules/manageiq_tags.py
  plugins/modules/manageiq_tenant.py
  plugins/modules/matrix.py
  plugins/modules/mattermost.py
  plugins/modules/maven_artifact.py
  plugins/modules/memset_dns_reload.py
  plugins/modules/memset_zone.py
  plugins/modules/memset_zone_record.py
  plugins/modules/mqtt.py
  plugins/modules/mssql_db.py
  plugins/modules/mssql_script.py
  plugins/modules/netcup_dns.py
  plugins/modules/newrelic_deployment.py
  plugins/modules/nsupdate.py
  tests/unit/plugins/modules/test_lxca_cmms.py
  tests/unit/plugins/modules/test_lxca_nodes.py
Labels: module, tests, unit, plugins, needs_maintainer, backport-11
