Repository ansible-collections/community.general, pull requests merged in 2025-05, with the labels that each got.

#10086 CI: Use community.crypto 2.x.y for ansible-core 2.16 and before
  .github/workflows/ansible-test.yml
  tests/utils/shippable/shippable.sh
Labels: needs_revision, tests, unit, backport-9, backport-10

#10090 [stable-8] CI: Use community.crypto 2.x.y for ansible-core 2.16 and before (#10086)
  .github/workflows/ansible-test.yml
  tests/utils/shippable/shippable.sh
Labels: needs_revision, tests, unit, backport

#10076 keycloak_user_rolemapping: fix diff mode
  changelogs/fragments/10075-keycloak_user_rolemapping-diff.yml
  plugins/modules/keycloak_user_rolemapping.py
Labels: bug, module, has_issue, plugins, check-before-release, backport-9, backport-10

#9954 Add new filter plugin: 'to_prettytable'
  .github/BOTMETA.yml
  plugins/filter/to_prettytable.py
  tests/integration/targets/filter_to_prettytable/aliases
  tests/integration/targets/filter_to_prettytable/tasks/main.yml
Labels: tests, integration, new_contributor, plugins, action, check-before-release, backport-10

#10063 Add connection_timeout option to cobbler inventory
  changelogs/fragments/10063-cobbler-add-connection-timeout.yml
  plugins/inventory/cobbler.py
Labels: feature, inventory, plugins, check-before-release, backport-10

#10096 pipx/pipx_info: fix scheduled tests
  tests/integration/targets/pipx_info/tasks/main.yml
Labels: bug, tests, integration, WIP, plugins

#10027 fixed hidden warnings from extra tests - batch 2
  plugins/inventory/proxmox.py
  plugins/inventory/xen_orchestra.py
  plugins/lookup/bitwarden.py
  plugins/lookup/bitwarden_secrets_manager.py
  plugins/lookup/cartesian.py
  plugins/lookup/chef_databag.py
  plugins/lookup/collection_version.py
  plugins/lookup/consul_kv.py
  plugins/lookup/credstash.py
  plugins/lookup/cyberarkpassword.py
  plugins/lookup/dependent.py
  plugins/lookup/dig.py
  plugins/lookup/dnstxt.py
  plugins/lookup/dsv.py
  plugins/lookup/etcd.py
  plugins/lookup/etcd3.py
  plugins/lookup/filetree.py
  plugins/lookup/flattened.py
  plugins/lookup/github_app_access_token.py
  plugins/lookup/hiera.py
  plugins/lookup/keyring.py
  plugins/lookup/lastpass.py
  plugins/lookup/lmdb_kv.py
  plugins/lookup/merge_variables.py
  plugins/lookup/onepassword.py
  plugins/lookup/onepassword_doc.py
  plugins/lookup/onepassword_raw.py
  plugins/lookup/onepassword_ssh_key.py
  plugins/lookup/passwordstore.py
  plugins/lookup/random_pet.py
  plugins/lookup/random_string.py
  plugins/lookup/random_words.py
  plugins/lookup/redis.py
  plugins/lookup/revbitspss.py
  plugins/lookup/shelvefile.py
  plugins/lookup/tss.py
Labels: lookup, inventory, plugins, docs, backport-10

#10106 antsibull-nox: use community.crypto 2.x.y for ansible-core < 2.17
  antsibull-nox.toml
Labels: backport-9, backport-10

#10111 Fix deprecation test
  tests/integration/targets/module_helper/tasks/msimpleda.yml
Labels: tests, integration, backport-9, backport-10

#10102 ini_file: fix unmatched whitespace before comment
  changelogs/fragments/10102-ini_file-fix-unmatched-whitespace-before-comment.yml
  plugins/modules/ini_file.py
  tests/integration/targets/ini_file/tasks/tests/06-modify_inactive_option.yml
Labels: feature, module, tests, integration, new_contributor, plugins, check-before-release, backport-10

#10115 lxc: fix unit tests
  tests/unit/plugins/connection/test_lxc.py
Labels: tests, unit, small_patch, backport-9, backport-10

#10121 Fix #10120. Split key=value where value may comprise =
  changelogs/fragments/10121-sysrc-fix-split-first-separator.yml
  plugins/modules/sysrc.py
Labels: bug, module, plugins, backport-9, backport-10

#10129 redis_info: adjust tests for Arch Linux
  tests/integration/targets/setup_redis_replication/defaults/main.yml
Labels: tests, integration, small_patch, backport-8, backport-9, backport-10

#10132 [stable-8] redis_info: adjust tests for Arch Linux
  tests/integration/targets/setup_redis_replication/defaults/main.yml
  tests/integration/targets/setup_redis_replication/tasks/setup_redis_cluster.yml
Labels: needs_revision, tests, integration, backport

#10136 pickle cache plugin, avoid extra steps in DT
  changelogs/fragments/10136-cache-pickle-json.yml
  plugins/cache/pickle.py
Labels: bug, cache, plugins, check-before-release, backport-9, backport-10

#10128 kdeconfig: mark end of options before sending value
  changelogs/fragments/10128-mark-end-of-options.yml
  plugins/modules/kdeconfig.py
Labels: bug, module, new_contributor, plugins, backport-9, backport-10

#10031 pipx: accept python version specs in parameter `name`
  .github/BOTMETA.yml
  changelogs/fragments/10031-pipx-python-version.yml
  plugins/module_utils/pipx.py
  plugins/module_utils/pkg_req.py
  plugins/modules/pipx.py
  plugins/modules/pipx_info.py
  tests/integration/targets/pipx/tasks/main.yml
  tests/integration/targets/pipx/tasks/testcase-10031-version-specs.yml
Labels: feature, module, tests, integration, has_issue, module_utils, plugins, backport-10

#10097 rundeck_acl_policy: fix project acls are put/posted to the wrong endpoint
  changelogs/fragments/10097-fix-rundeck_acl_policy-project-endpoint.yml
  plugins/modules/rundeck_acl_policy.py
  tests/integration/targets/rundeck/defaults/main.yml
  tests/integration/targets/rundeck/tasks/main.yml
  tests/integration/targets/setup_rundeck/defaults/main.yml
  tests/integration/targets/setup_rundeck/vars/RedHat.yml
  tests/unit/plugins/modules/test_rundeck_acl_policy.py
Labels: bug, module, stale_ci, tests, unit, integration, new_contributor, new_plugin, plugins, backport-9, backport-10

#10104 Allow running sanity and unit tests with antsibull-nox; impove testing documentation
  CONTRIBUTING.md
  antsibull-nox.toml
Labels: stale_ci, docs, backport-9, backport-10

#10109 [stable-10] Announce deprecation of proxmox content
  changelogs/fragments/proxmox-deprecation.yml
Labels: feature, has_issue, owner_pr, WIP, backport

#10155 proxmox: fix: cannot access local variable 'identifier' where it is not associated with a value
  changelogs/fragments/10155-proxmox-bugfix.yml
  plugins/modules/proxmox.py
Labels: bug, module, plugins, backport-9, backport-10

#10145 Fix TypeError caused by giving more than 2 positional arguments to CobblerXMLRPCInterface.get_system_handle()
  changelogs/fragments/10145-fix-typeerror-cobbler-xmlrpc.yml
  plugins/modules/cobbler_system.py
Labels: bug, module, new_contributor, plugins, backport-9, backport-10

#10087 Feat: Add callback plugin print_task
  .github/BOTMETA.yml
  plugins/callback/print_task.py
  tests/integration/targets/callback_print_task/aliases
  tests/integration/targets/callback_print_task/tasks/main.yml
Labels: feature, callback, tests, integration, new_contributor, plugins, backport-10

#10167 [stable-9] Replace devel with stable-2.19 in CI
  .azure-pipelines/azure-pipelines.yml
  README.md
  antsibull-nox.toml
Labels: feature, backport

#10154 Feat/terraform no color parameter
  changelogs/fragments/10154-terraform_no_color_paramater.yml
  plugins/modules/terraform.py
Labels: feature, module, new_contributor, plugins, check-before-release

#10172 apache2_mod_proxy: adjust docs
  plugins/modules/apache2_mod_proxy.py
Labels: module, plugins, docs

#10174 apache2_mod_proxy: adjust docs (fix)
  plugins/modules/apache2_mod_proxy.py
Labels: module, small_patch, plugins, docs

#10137 Prepare for version 11: pipx/pipx_info
  changelogs/fragments/10137-pipx-cg11.yml
  plugins/doc_fragments/pipx.py
  plugins/modules/pipx.py
  plugins/modules/pipx_info.py
  tests/integration/targets/pipx/tasks/main.yml
  tests/integration/targets/pipx_info/tasks/main.yml
Labels: feature, module, tests, integration, docs_fragments, plugins, breaking_change

#8437 add special word '+value' to add_children/set_children in xml module
  changelogs/fragments/8437-xml-children-value.yml
  plugins/modules/xml.py
  tests/integration/targets/xml/results/test-set-children-elements-value.xml
  tests/integration/targets/xml/results/test-set-children-elements-value.xml.license
  tests/integration/targets/xml/tasks/main.yml
  tests/integration/targets/xml/tasks/test-set-children-elements-value.yml
Labels: feature, module, tests, integration, new_contributor, plugins, check-before-release
