Repository ansible-collections/community.general, pull requests merged in 2025-09, with the labels that each got.

#10783 dnf_versionlock: minor refactor
  plugins/modules/dnf_versionlock.py
Labels: module, plugins, docs, check-before-release, backport-11

#10726 django_dumpdata, django_loaddata: new modules
  .github/BOTMETA.yml
  plugins/doc_fragments/django.py
  plugins/module_utils/django.py
  plugins/modules/django_dumpdata.py
  plugins/modules/django_loaddata.py
  tests/unit/plugins/modules/test_django_dumpdata.py
  tests/unit/plugins/modules/test_django_dumpdata.yaml
  tests/unit/plugins/modules/test_django_loaddata.py
  tests/unit/plugins/modules/test_django_loaddata.yaml
Labels: module, tests, unit, new_plugin, docs_fragments, module_utils, plugins, check-before-release, backport-11

#10665 pacemaker_resource: Add cloning support for resources and groups
  changelogs/fragments/10665-pacemaker-resource-clone.yml
  plugins/module_utils/pacemaker.py
  plugins/modules/pacemaker_resource.py
  tests/unit/plugins/modules/test_pacemaker_resource.yaml
Labels: feature, module, tests, unit, module_utils, plugins, check-before-release, backport-11

#10822 pipx: review tests
  tests/integration/targets/pipx/tasks/main.yml
  tests/integration/targets/pipx/tasks/testcase-7497.yml
  tests/integration/targets/pipx/tasks/testcase-8809-pin.yml
  tests/integration/targets/pipx/tasks/testcase-8809-uninjectpkg.yml
  tests/integration/targets/pipx/tasks/testcase-9009-fixglobal.yml
  tests/integration/targets/pipx/tasks/testcase-9103-upgrade-global.yml
  tests/integration/targets/pipx/tasks/testcase-9619-latest-global.yml
Labels: tests, integration

#10810 github_app_access_token: fix compatibility import of jwt
  changelogs/fragments/10810-github_app_access_token-jwt.yml
  plugins/lookup/github_app_access_token.py
Labels: bug, lookup, has_issue, plugins, check-before-release, backport-11

#10812 gitlab_*_variable: add `description` option
  changelogs/fragments/10812-gitlab-variable-add-description.yml
  plugins/module_utils/gitlab.py
  plugins/modules/gitlab_group_variable.py
  plugins/modules/gitlab_instance_variable.py
  plugins/modules/gitlab_project_variable.py
Labels: feature, module, module_utils, plugins, gitlab, check-before-release, backport-11

#10830 timezone: mention that Debian 13 also needs util-linux-extra
  plugins/modules/timezone.py
Labels: module, small_patch, plugins, docs, docs_only, backport-9, backport-10, backport-11

#10829 Keycloak role fix changed status
  changelogs/fragments/10829-fix-keycloak-role-changed-status.yml
  plugins/modules/keycloak_role.py
  tests/integration/targets/keycloak_role/README.md
  tests/integration/targets/keycloak_role/tasks/main.yml
  tests/integration/targets/keycloak_role/vars/main.yml
Labels: bug, module, tests, integration, plugins, check-before-release, backport-10, backport-11

#10852 yaml cache plugin: make compatible with ansible-core 2.19
  changelogs/fragments/10852-yaml.yml
  plugins/cache/yaml.py
Labels: bug, has_issue, cache, plugins, backport-9, backport-10, backport-11

#10864 docs: fix sphinx warnings in uthelper guide
  docs/docsite/rst/guide_uthelper.rst
Labels: docs, docs_only

#10869 [stable-10] Fix typos: s/the the/the/ (#10867)
  meta/runtime.yml
  plugins/callback/opentelemetry.py
  plugins/doc_fragments/django.py
  plugins/modules/jira.py
  plugins/modules/krb_ticket.py
  plugins/modules/redfish_command.py
  plugins/modules/redhat_subscription.py
Labels: module, callback, docs_fragments, plugins, docs, redhat_subscription, backport, backport-9
