Repository ansible-collections/community.general, pull requests merged in 2025-06, with the labels that each got.

#10160 Drop support for ansible-core 2.15; update CI to move ansible-core 2.16 to EOL CI; remove compat code for ansible-core < 2.14
  .azure-pipelines/azure-pipelines.yml
  .github/workflows/ansible-test.yml
  README.md
  antsibull-nox.toml
  changelogs/fragments/ansible-core-support.yml
  meta/runtime.yml
  plugins/lookup/cartesian.py
  plugins/lookup/dependent.py
  plugins/lookup/flattened.py
  plugins/module_utils/redfish_utils.py
  plugins/modules/simpleinit_msb.py
Labels: feature, module, lookup, module_utils, plugins, breaking_change

#10191 Add api_url in github_key module
  changelogs/fragments/10191-github_key-add-api_url-parameter.yml
  plugins/modules/github_key.py
  tests/integration/targets/github_key/aliases
  tests/integration/targets/github_key/tasks/main.yml
  tests/integration/targets/github_key/vars/main.yml
Labels: feature, module, tests, integration, new_contributor, plugins, check-before-release

#10209 Tests: adjust to ansible-core devel changes
  tests/integration/targets/alternatives/tasks/subcommands.yml
  tests/integration/targets/cmd_runner/vars/main.yml
Labels: tests, integration, backport-9, backport-10

#10212 Fix YAML callback
  changelogs/fragments/10212-yaml.yml
  plugins/callback/yaml.py
Labels: bug, needs_revision, callback, plugins, backport-9, backport-10

#10213 YAML callback: remove 12.0.0 already
  changelogs/fragments/10213-yaml-deprecation.yml
  meta/runtime.yml
  plugins/callback/yaml.py
Labels: feature, callback, plugins, backport-10

#10199 Remove and prevent trailing whitespace
  antsibull-nox.toml
  docs/docsite/helper/keep_keys/filter_guide-abstract_informations-lists_of_dictionaries-keep_keys.rst.j2
  docs/docsite/helper/remove_keys/filter_guide-abstract_informations-lists_of_dictionaries-remove_keys.rst.j2
  docs/docsite/helper/replace_keys/filter_guide-abstract_informations-lists_of_dictionaries-replace_keys.rst.j2
  docs/docsite/rst/filter_guide-abstract_informations-lists_of_dictionaries-keep_keys.rst
  docs/docsite/rst/filter_guide-abstract_informations-lists_of_dictionaries-remove_keys.rst
  docs/docsite/rst/filter_guide-abstract_informations-lists_of_dictionaries-replace_keys.rst
  docs/docsite/rst/filter_guide-abstract_informations-lists_of_dictionaries.rst
  tests/integration/targets/cargo/tasks/test_directory.yml
  tests/integration/targets/consul/tasks/consul_binding_rule.yml
  tests/integration/targets/filter_remove_keys/vars/main/tests.yml
  tests/integration/targets/filter_to_prettytable/tasks/main.yml
  tests/integration/targets/filter_version_sort/tasks/main.yml
  tests/integration/targets/github_key/vars/main.yml
  tests/integration/targets/gitlab_branch/tasks/main.yml
  tests/integration/targets/gitlab_group_access_token/defaults/main.yml
  tests/integration/targets/gitlab_group_variable/tasks/main.yml
  tests/integration/targets/gitlab_label/README.md
  tests/integration/targets/gitlab_milestone/README.md
  tests/integration/targets/gitlab_project_access_token/defaults/main.yml
  tests/integration/targets/gitlab_project_variable/tasks/main.yml
  tests/integration/targets/homebrew/tasks/casks.yml
  tests/integration/targets/ini_file/tasks/tests/01-value.yml
  tests/integration/targets/ini_file/tasks/tests/02-values.yml
  tests/integration/targets/ini_file/tasks/tests/06-modify_inactive_option.yml
  tests/integration/targets/iso_customize/tasks/iso_customize.yml
  tests/integration/targets/iso_customize/tasks/iso_mount.yml
  tests/integration/targets/iso_customize/tasks/main.yml
  tests/integration/targets/jboss/tasks/jboss.yml
  tests/integration/targets/kernel_blacklist/handlers/main.yml
  tests/integration/targets/keycloak_authentication/tasks/main.yml
  tests/integration/targets/keycloak_authz_custom_policy/tasks/main.yml
  tests/integration/targets/keycloak_client_rolescope/tasks/main.yml
  tests/integration/targets/keycloak_component_info/tasks/main.yml
  tests/integration/targets/keycloak_role/vars/main.yml
  tests/integration/targets/keycloak_userprofile/tasks/main.yml
  tests/integration/targets/lvg/tasks/test_pvresize.yml
  tests/integration/targets/mail/tasks/main.yml
  tests/integration/targets/mqtt/tasks/main.yml
  tests/integration/targets/nomad/files/job.hcl
  tests/integration/targets/odbc/defaults/main.yml
  tests/integration/targets/one_image_info/tasks/main.yml
  tests/integration/targets/one_vnet/tasks/main.yml
  tests/integration/targets/setup_redis_replication/tasks/setup_redis_cluster.yml
  tests/integration/targets/setup_rundeck/defaults/main.yml
  tests/integration/targets/shutdown/tasks/main.yml
  tests/integration/targets/systemd_info/tasks/main.yml
  tests/integration/targets/terraform/vars/main.yml
  tests/integration/targets/timezone/tasks/test.yml
  tests/integration/targets/zypper/tasks/zypper.yml
Labels: tests, integration, docs

#10146 New module zpool
  .github/BOTMETA.yml
  plugins/modules/zpool.py
  tests/integration/targets/zpool/aliases
  tests/integration/targets/zpool/defaults/main.yml
  tests/integration/targets/zpool/meta/main.yml
  tests/integration/targets/zpool/tasks/add_remove_vdevs.yml
  tests/integration/targets/zpool/tasks/create_destroy.yml
  tests/integration/targets/zpool/tasks/install_requirements_alpine.yml
  tests/integration/targets/zpool/tasks/install_requirements_ubuntu.yml
  tests/integration/targets/zpool/tasks/main.yml
  tests/integration/targets/zpool/tasks/properties.yml
Labels: module, tests, integration, new_contributor, plugins

#10194 pacemaker: add cluster maintenance mode checks
  changelogs/fragments/10194-add-pcs-resource-maintenace-mode.yml
  plugins/module_utils/pacemaker.py
  plugins/modules/pacemaker_resource.py
  tests/unit/plugins/modules/test_pacemaker_resource.yaml
Labels: feature, module, tests, unit, module_utils, plugins

#10070 lvm_pv: new module for LVM Physical Volumes
  .github/BOTMETA.yml
  plugins/modules/lvm_pv.py
  tests/integration/targets/lvm_pv/aliases
  tests/integration/targets/lvm_pv/meta/main.yml
  tests/integration/targets/lvm_pv/tasks/cleanup.yml
  tests/integration/targets/lvm_pv/tasks/creation.yml
  tests/integration/targets/lvm_pv/tasks/main.yml
  tests/integration/targets/lvm_pv/tasks/removal.yml
  tests/integration/targets/lvm_pv/tasks/resizing.yml
Labels: module, tests, integration, new_contributor, new_plugin, plugins, check-before-release

#10228 Update auto-generated .gitignore parts
  .gitignore
Labels: backport-9, backport-10

#10207 Inventory iocage - get inventory alias from iocage tags.
  changelogs/fragments/10207-iocage-inventory-alias.yml
  plugins/inventory/iocage.py
Labels: feature, inventory, plugins, shipit, check-before-release

#10242 yaml callback: use new util introduced in ansible-core 2.19.0b2
  changelogs/fragments/10242-yaml.yml
  plugins/callback/yaml.py
  tests/integration/targets/callback/tasks/main.yml
  tests/integration/targets/callback_yaml/meta/main.yml
  tests/integration/targets/callback_yaml/tasks/main.yml
Labels: bug, callback, tests, integration, plugins, backport-9, backport-10

#10246 [stable-9] yaml callback: use new util introduced in ansible-core 2.19.0b2 (#10242)
  changelogs/fragments/10242-yaml.yml
  plugins/callback/yaml.py
  tests/integration/targets/callback/tasks/main.yml
  tests/integration/targets/callback_yaml/meta/main.yml
  tests/integration/targets/callback_yaml/tasks/main.yml
Labels: bug, callback, tests, integration, plugins, backport

#10238 docs: add notes that dnf_* modules do not work with dnf5
  plugins/modules/dnf_config_manager.py
  plugins/modules/dnf_versionlock.py
Labels: module, plugins, docs, docs_only, backport-8, backport-9, backport-10

#10198 cargo: add support for --features flag
  changelogs/fragments/10198-cargo-features-parameter.yml
  plugins/modules/cargo.py
Labels: feature, module, new_contributor, plugins

#9692 fix(keycloak): update more than 10 sub-groups (#9690)
  changelogs/fragments/9692-update-more-than-10-keycloak-sub-groups.yml
  plugins/module_utils/identity/keycloak/keycloak.py
Labels: bug, new_contributor, module_utils, plugins, identity, check-before-release, backport-10

#10261 Extra docs: normalize code block language
  docs/docsite/rst/guide_vardict.rst
Labels: small_patch, docs, docs_only, backport-10, backport-11

#10231 keycloak: add support for client_credentials authentication
  changelogs/fragments/10231-keycloak-add-client-credentials-authentication.yml
  plugins/module_utils/identity/keycloak/keycloak.py
  plugins/modules/keycloak_authentication.py
  plugins/modules/keycloak_authentication_required_actions.py
  plugins/modules/keycloak_authz_authorization_scope.py
  plugins/modules/keycloak_authz_custom_policy.py
  plugins/modules/keycloak_authz_permission.py
  plugins/modules/keycloak_authz_permission_info.py
  plugins/modules/keycloak_client.py
  plugins/modules/keycloak_client_rolemapping.py
  plugins/modules/keycloak_clientscope.py
  plugins/modules/keycloak_clientscope_type.py
  plugins/modules/keycloak_clienttemplate.py
  plugins/modules/keycloak_component.py
  plugins/modules/keycloak_group.py
  plugins/modules/keycloak_identity_provider.py
  plugins/modules/keycloak_realm.py
  plugins/modules/keycloak_realm_key.py
  plugins/modules/keycloak_realm_keys_metadata_info.py
  plugins/modules/keycloak_realm_rolemapping.py
  plugins/modules/keycloak_role.py
  plugins/modules/keycloak_user.py
  plugins/modules/keycloak_user_federation.py
  plugins/modules/keycloak_user_rolemapping.py
  plugins/modules/keycloak_userprofile.py
  tests/integration/targets/keycloak_modules_authentication/tasks/main.yml
  tests/integration/targets/keycloak_modules_authentication/vars/main.yml
Labels: feature, module, tests, integration, new_contributor, module_utils, plugins, identity, backport-11

#10272 sysrc jail tests: FreeBSD 14.1 stopped working
  tests/integration/targets/sysrc/tasks/main.yml
Labels: tests, integration, small_patch, backport-9, backport-10, backport-11

#10271 Inventory plugins: remove deprecated disable_lookups parameter (which was set to its default anyway)
  changelogs/fragments/10271--disable_lookups.yml
  plugins/inventory/icinga2.py
  plugins/inventory/linode.py
Labels: bug, inventory, plugins, cloud, backport-9, backport-10, backport-11

#10267 cloudflare_dns: Add PTR record support
  changelogs/fragments/10267-add-cloudflare-ptr-record-support.yml
  plugins/modules/cloudflare_dns.py
Labels: feature, module, new_contributor, plugins, check-before-release, backport-11

#10282 sl_vm: update docs about requirements
  plugins/modules/sl_vm.py
Labels: module, plugins, docs, docs_only, backport-10, backport-11

#10286 fix YAML docs in multiple plugins
  plugins/become/pfexec.py
  plugins/callback/context_demo.py
  plugins/callback/counter_enabled.py
  plugins/callback/dense.py
  plugins/callback/diy.py
  plugins/callback/jabber.py
  plugins/callback/log_plays.py
  plugins/callback/null.py
  plugins/callback/print_task.py
  plugins/callback/say.py
  plugins/callback/selective.py
  plugins/callback/syslog_json.py
  plugins/callback/unixy.py
  plugins/connection/wsl.py
  plugins/filter/to_prettytable.py
  plugins/inventory/cobbler.py
  plugins/inventory/gitlab_runners.py
  plugins/inventory/icinga2.py
  plugins/inventory/iocage.py
  plugins/inventory/linode.py
  plugins/inventory/nmap.py
  plugins/inventory/online.py
  plugins/inventory/opennebula.py
  plugins/inventory/scaleway.py
  plugins/inventory/virtualbox.py
Labels: callback, connection, become, filter, inventory, plugins, cloud, docs, check-before-release, docs_only, backport-11

#10269 cloudflare_dns: some refactoring
  changelogs/fragments/10269-cloudflare-dns-refactor.yml
  plugins/modules/cloudflare_dns.py
Labels: bug, module, plugins, check-before-release, backport-11

#10270 slack: support slack-gov.com
  plugins/modules/slack.py
  tests/unit/plugins/modules/test_slack.py
Labels: feature, module, tests, unit, new_contributor, plugins, check-before-release, backport-11

#10297 Docs: use :anscollection:
  docs/docsite/rst/filter_guide.rst
  docs/docsite/rst/test_guide.rst
Labels: small_patch, docs, docs_only, backport-10, backport-11

#10304 fix typo in ipa_dnsrecord module examples
  plugins/modules/ipa_dnsrecord.py
Labels: module, new_contributor, small_patch, plugins, docs, docs_only, backport-10, backport-11

#10311 xfconf: small refactor
  changelogs/fragments/10311-xfconf-refactor.yml
  plugins/modules/xfconf.py
Labels: module, plugins, check-before-release, backport-11

#10313 htpasswd: doc adjustment
  plugins/modules/htpasswd.py
Labels: module, plugins, docs, docs_only

#10280 CI: add checks for code block types in extra docs
  antsibull-nox.toml
Labels: docs, check-before-release, backport-11
