Repository ansible-collections/community.general, pull requests merged in 2025-01, with the labels that each got.

#9497 clc_*: create doc fragment
  .github/BOTMETA.yml
  plugins/doc_fragments/clc.py
  plugins/modules/clc_aa_policy.py
  plugins/modules/clc_alert_policy.py
  plugins/modules/clc_blueprint_package.py
  plugins/modules/clc_firewall_policy.py
  plugins/modules/clc_group.py
  plugins/modules/clc_loadbalancer.py
  plugins/modules/clc_modify_server.py
  plugins/modules/clc_publicip.py
  plugins/modules/clc_server.py
  plugins/modules/clc_server_snapshot.py
Labels: module, needs_revision, docs_fragments, plugins, docs, check-before-release, backport-10

#9506 meta/runtime.yml: sort keys for modules
  meta/runtime.yml
Labels: check-before-release, backport-10

#9403 Redfish: implement obtaining AccountService config
  changelogs/fragments/9403-redfish-add-get-accountservice.yml
  plugins/module_utils/redfish_utils.py
  plugins/modules/redfish_info.py
Labels: feature, module, new_contributor, module_utils, plugins, backport-10

#9512 runtime/modules ordering: missed two modules before
  meta/runtime.yml
Labels: backport-10

#9518 remove stearz as maintainer
  .github/BOTMETA.yml
Labels: bug, new_contributor, small_patch, check-before-release, backport-8, backport-9, backport-10

#9516 st*: style adjustments
  plugins/modules/shutdown.py
  plugins/modules/simpleinit_msb.py
  plugins/modules/sl_vm.py
  plugins/modules/slack.py
  plugins/modules/smartos_image_info.py
  plugins/modules/snap.py
  plugins/modules/snmp_facts.py
  plugins/modules/solaris_zone.py
  plugins/modules/sorcery.py
  plugins/modules/spectrum_device.py
  plugins/modules/spectrum_model_attrs.py
  plugins/modules/spotinst_aws_elastigroup.py
  plugins/modules/ssh_config.py
  plugins/modules/stacki_host.py
  plugins/modules/statusio_maintenance.py
  plugins/modules/supervisorctl.py
  plugins/modules/svc.py
  plugins/modules/svr4pkg.py
  plugins/modules/swupd.py
  plugins/modules/syslogger.py
  plugins/modules/systemd_creds_decrypt.py
  plugins/modules/systemd_creds_encrypt.py
  plugins/modules/sysupgrade.py
  plugins/modules/taiga_issue.py
  plugins/modules/terraform.py
  plugins/modules/timezone.py
  plugins/modules/twilio.py
  plugins/modules/typetalk.py
Labels: module, plugins, docs, check-before-release, backport-9, backport-10

#9517 s*: style adjustments
  plugins/modules/scaleway_container.py
  plugins/modules/scaleway_container_info.py
  plugins/modules/scaleway_function.py
  plugins/modules/scaleway_ip.py
  plugins/modules/scaleway_ip_info.py
  plugins/modules/scaleway_lb.py
  plugins/modules/sefcontext.py
  plugins/modules/sendgrid.py
  plugins/modules/sensu_check.py
  plugins/modules/sensu_client.py
  plugins/modules/sensu_handler.py
  plugins/modules/sensu_silence.py
  plugins/modules/sensu_subscription.py
Labels: module, plugins, docs, check-before-release, backport-9, backport-10

#9513 xyz*: style adjustments
  plugins/modules/xattr.py
  plugins/modules/xbps.py
  plugins/modules/xcc_redfish_command.py
  plugins/modules/xenserver_guest.py
  plugins/modules/xenserver_guest_info.py
  plugins/modules/xenserver_guest_powerstate.py
  plugins/modules/xfconf.py
  plugins/modules/xfconf_info.py
  plugins/modules/xml.py
  plugins/modules/yarn.py
  plugins/modules/yum_versionlock.py
  plugins/modules/zfs.py
  plugins/modules/zfs_delegate_admin.py
  plugins/modules/zfs_facts.py
  plugins/modules/znode.py
  plugins/modules/zpool_facts.py
  plugins/modules/zypper.py
  plugins/modules/zypper_repository.py
  plugins/modules/zypper_repository_info.py
Labels: module, plugins, docs, check-before-release, needs_maintainer, backport-9, backport-10

#9515 uvw*: style adjustments
  plugins/modules/udm_dns_record.py
  plugins/modules/udm_dns_zone.py
  plugins/modules/udm_group.py
  plugins/modules/udm_share.py
  plugins/modules/udm_user.py
  plugins/modules/ufw.py
  plugins/modules/uptimerobot.py
  plugins/modules/urpmi.py
  plugins/modules/utm_aaa_group_info.py
  plugins/modules/utm_dns_host.py
  plugins/modules/utm_proxy_frontend.py
  plugins/modules/utm_proxy_frontend_info.py
  plugins/modules/utm_proxy_location.py
  plugins/modules/utm_proxy_location_info.py
  plugins/modules/vdo.py
  plugins/modules/vertica_configuration.py
  plugins/modules/vertica_info.py
  plugins/modules/vertica_role.py
  plugins/modules/vertica_schema.py
  plugins/modules/vertica_user.py
  plugins/modules/vexata_eg.py
  plugins/modules/vmadm.py
Labels: module, plugins, docs, check-before-release, backport-9, backport-10

#9534 (abc*, doc frags): style adjustments
  plugins/doc_fragments/clc.py
  plugins/doc_fragments/ldap.py
  plugins/doc_fragments/oracle.py
  plugins/doc_fragments/oracle_creatable_resource.py
  plugins/doc_fragments/utm.py
  plugins/modules/aerospike_migrations.py
  plugins/modules/airbrake_deployment.py
  plugins/modules/ali_instance.py
  plugins/modules/ali_instance_info.py
  plugins/modules/android_sdk.py
  plugins/modules/bigpanda.py
  plugins/modules/btrfs_info.py
  plugins/modules/cargo.py
  plugins/modules/catapult.py
  plugins/modules/clc_alert_policy.py
  plugins/modules/clc_blueprint_package.py
  plugins/modules/clc_firewall_policy.py
  plugins/modules/clc_modify_server.py
  plugins/modules/clc_publicip.py
  plugins/modules/clc_server.py
  plugins/modules/clc_server_snapshot.py
  plugins/modules/composer.py
  plugins/modules/consul.py
  plugins/modules/consul_agent_service.py
  plugins/modules/consul_binding_rule.py
  plugins/modules/consul_kv.py
  plugins/modules/consul_role.py
  plugins/modules/consul_session.py
Labels: module, docs_fragments, plugins, docs, check-before-release, backport-9, backport-10

#9528 lmn*: style adjustments
  plugins/modules/launchd.py
  plugins/modules/layman.py
  plugins/modules/ldap_attrs.py
  plugins/modules/ldap_entry.py
  plugins/modules/ldap_inc.py
  plugins/modules/ldap_passwd.py
  plugins/modules/ldap_search.py
  plugins/modules/librato_annotation.py
  plugins/modules/linode.py
  plugins/modules/linode_v4.py
  plugins/modules/locale_gen.py
  plugins/modules/lvg.py
  plugins/modules/lvol.py
  plugins/modules/lxc_container.py
  plugins/modules/lxd_container.py
  plugins/modules/lxd_profile.py
  plugins/modules/lxd_project.py
  plugins/modules/mail.py
  plugins/modules/manageiq_group.py
  plugins/modules/manageiq_policies.py
  plugins/modules/manageiq_policies_info.py
  plugins/modules/manageiq_tags.py
  plugins/modules/manageiq_tags_info.py
  plugins/modules/manageiq_tenant.py
  plugins/modules/matrix.py
  plugins/modules/mattermost.py
  plugins/modules/maven_artifact.py
  plugins/modules/memset_dns_reload.py
  plugins/modules/memset_zone.py
  plugins/modules/memset_zone_domain.py
  plugins/modules/memset_zone_record.py
  plugins/modules/modprobe.py
  plugins/modules/monit.py
  plugins/modules/mqtt.py
  plugins/modules/mssql_db.py
  plugins/modules/mssql_script.py
  plugins/modules/nagios.py
  plugins/modules/netcup_dns.py
  plugins/modules/newrelic_deployment.py
  plugins/modules/nexmo.py
  plugins/modules/nginx_status_info.py
  plugins/modules/nmcli.py
  plugins/modules/nosh.py
Labels: module, plugins, docs, check-before-release, needs_maintainer, backport-9, backport-10

#9535 plugins (become, callback, filter): style adjustments
  plugins/become/pfexec.py
  plugins/callback/default_without_diff.py
  plugins/callback/yaml.py
  plugins/filter/accumulate.py
  plugins/filter/counter.py
  plugins/filter/crc32.py
  plugins/filter/dict.py
  plugins/filter/dict_kv.py
  plugins/filter/from_csv.py
  plugins/filter/from_ini.py
  plugins/filter/groupby_as_dict.py
  plugins/filter/jc.py
  plugins/filter/json_query.py
  plugins/filter/keep_keys.py
  plugins/filter/lists_mergeby.py
  plugins/filter/random_mac.py
  plugins/filter/remove_keys.py
  plugins/filter/replace_keys.py
  plugins/filter/reveal_ansible_type.py
  plugins/filter/to_ini.py
  plugins/filter/unicode_normalize.py
  plugins/filter/version_sort.py
Labels: callback, become, filter, inventory, plugins, cloud, docs, backport-9, backport-10

#9542 Add hkariti to notifications ignore list
  .github/BOTMETA.yml
Labels: bug, new_contributor, small_patch, check-before-release, backport-8, backport-9, backport-10

#9551 Use multiple YAML documents for inventory plugin examples
  plugins/inventory/gitlab_runners.py
  plugins/inventory/iocage.py
  plugins/inventory/linode.py
  plugins/inventory/lxd.py
  plugins/inventory/nmap.py
  plugins/inventory/proxmox.py
  plugins/inventory/scaleway.py
  plugins/inventory/virtualbox.py
  tests/sanity/ignore-2.13.txt
  tests/sanity/ignore-2.13.txt.license
  tests/sanity/ignore-2.14.txt
  tests/sanity/ignore-2.14.txt.license
  tests/sanity/ignore-2.15.txt
  tests/sanity/ignore-2.16.txt
Labels: tests, inventory, plugins, cloud, docs, backport-10

#9563 test helper: adjusted unit tests using new features
  tests/unit/plugins/modules/test_cpanm.py
  tests/unit/plugins/modules/test_cpanm.yaml
  tests/unit/plugins/modules/test_django_check.py
  tests/unit/plugins/modules/test_django_check.yaml
  tests/unit/plugins/modules/test_django_command.py
  tests/unit/plugins/modules/test_django_command.yaml
  tests/unit/plugins/modules/test_django_createcachetable.py
  tests/unit/plugins/modules/test_django_createcachetable.yaml
  tests/unit/plugins/modules/test_facter_facts.py
  tests/unit/plugins/modules/test_facter_facts.yaml
  tests/unit/plugins/modules/test_gconftool2.py
  tests/unit/plugins/modules/test_gconftool2.yaml
  tests/unit/plugins/modules/test_gconftool2_info.py
  tests/unit/plugins/modules/test_gconftool2_info.yaml
  tests/unit/plugins/modules/test_gio_mime.py
  tests/unit/plugins/modules/test_gio_mime.yaml
  tests/unit/plugins/modules/test_krb_ticket.py
  tests/unit/plugins/modules/test_krb_ticket.yaml
  tests/unit/plugins/modules/test_opkg.py
  tests/unit/plugins/modules/test_opkg.yaml
  tests/unit/plugins/modules/test_puppet.py
  tests/unit/plugins/modules/test_puppet.yaml
  tests/unit/plugins/modules/test_snap.py
  tests/unit/plugins/modules/test_xfconf.py
  tests/unit/plugins/modules/test_xfconf.yaml
Labels: tests, unit

#9526 o*: style adjustments
  plugins/modules/ocapi_command.py
  plugins/modules/ocapi_info.py
  plugins/modules/oci_vcn.py
  plugins/modules/office_365_connector_card.py
  plugins/modules/ohai.py
  plugins/modules/one_host.py
  plugins/modules/one_image.py
  plugins/modules/one_image_info.py
  plugins/modules/one_service.py
  plugins/modules/one_template.py
  plugins/modules/one_vm.py
  plugins/modules/one_vnet.py
  plugins/modules/oneandone_firewall_policy.py
  plugins/modules/oneandone_load_balancer.py
  plugins/modules/oneandone_monitoring_policy.py
  plugins/modules/oneandone_server.py
  plugins/modules/onepassword_info.py
  plugins/modules/oneview_datacenter_info.py
  plugins/modules/oneview_enclosure_info.py
  plugins/modules/oneview_ethernet_network_info.py
  plugins/modules/oneview_logical_interconnect_group.py
  plugins/modules/oneview_network_set_info.py
  plugins/modules/oneview_san_manager.py
  plugins/modules/open_iscsi.py
  plugins/modules/openbsd_pkg.py
  plugins/modules/opendj_backendprop.py
  plugins/modules/openwrt_init.py
  plugins/modules/opkg.py
  plugins/modules/osx_defaults.py
  plugins/modules/ovh_ip_failover.py
  plugins/modules/ovh_ip_loadbalancing_backend.py
Labels: module, plugins, docs, check-before-release, backport-9, backport-10

#9539 Fix #9538 Inventory iocage fails when DHCP is enabled
  changelogs/fragments/9539-iocage-inventory-dhcp.yml
  plugins/inventory/iocage.py
  tests/unit/plugins/inventory/fixtures/iocage/iocage_inventory.yml
  tests/unit/plugins/inventory/fixtures/iocage/iocage_inventory.yml.license
  tests/unit/plugins/inventory/fixtures/iocage/iocage_jails.txt
  tests/unit/plugins/inventory/fixtures/iocage/iocage_jails.txt.license
  tests/unit/plugins/inventory/fixtures/iocage/iocage_jails.yml
  tests/unit/plugins/inventory/fixtures/iocage/iocage_jails.yml.license
  tests/unit/plugins/inventory/fixtures/iocage/iocage_jails_dhcp.txt
  tests/unit/plugins/inventory/fixtures/iocage/iocage_jails_dhcp.txt.license
  tests/unit/plugins/inventory/fixtures/iocage/iocage_jails_dhcp.yml
  tests/unit/plugins/inventory/fixtures/iocage/iocage_jails_dhcp.yml.license
  tests/unit/plugins/inventory/fixtures/iocage/iocage_jails_dhcp_not_running.txt
  tests/unit/plugins/inventory/fixtures/iocage/iocage_jails_dhcp_not_running.txt.license
  tests/unit/plugins/inventory/fixtures/iocage/iocage_jails_dhcp_not_running.yml
  tests/unit/plugins/inventory/fixtures/iocage/iocage_jails_dhcp_not_running.yml.license
  tests/unit/plugins/inventory/fixtures/iocage/iocage_properties.txt
  tests/unit/plugins/inventory/fixtures/iocage/iocage_properties.txt.license
  tests/unit/plugins/inventory/fixtures/iocage/iocage_properties.yml
  tests/unit/plugins/inventory/fixtures/iocage/iocage_properties.yml.license
  tests/unit/plugins/inventory/fixtures/iocage/iocage_properties_test_101.txt
  tests/unit/plugins/inventory/fixtures/iocage/iocage_properties_test_101.txt.license
  tests/unit/plugins/inventory/fixtures/iocage/iocage_properties_test_102.txt
  tests/unit/plugins/inventory/fixtures/iocage/iocage_properties_test_102.txt.license
  tests/unit/plugins/inventory/fixtures/iocage/iocage_properties_test_103.txt
  tests/unit/plugins/inventory/fixtures/iocage/iocage_properties_test_103.txt.license
  tests/unit/plugins/inventory/fixtures/iocage_jails.txt
  tests/unit/plugins/inventory/test_iocage.py
Labels: bug, tests, unit, new_plugin, inventory, plugins, check-before-release, backport-9, backport-10

#9546 Fix homebrew tap name handling
  changelogs/fragments/9546-fix-handling-of-tap-homebrew-packages.yml
  plugins/modules/homebrew.py
  tests/integration/targets/homebrew/tasks/formulae.yml
Labels: bug, module, tests, integration, plugins, backport-9, backport-10

#9555 Add cpanm option --with-recommends
  changelogs/fragments/9554-add-cpanm-option_with-recommends-and-suggests.yml
  plugins/modules/cpanm.py
  tests/unit/plugins/modules/test_cpanm.yaml
Labels: feature, module, tests, unit, new_contributor, plugins, check-before-release, backport-10

#9547 add filter support for one_template module
  changelogs/fragments/9547-one_template-filter.yml
  plugins/modules/one_template.py
Labels: feature, module, new_contributor, plugins, backport-10

#8424 Proxmox remote pct connection
  .github/BOTMETA.yml
  plugins/connection/proxmox_pct_remote.py
  tests/integration/targets/connection_proxmox_pct_remote/aliases
  tests/integration/targets/connection_proxmox_pct_remote/dependencies.yml
  tests/integration/targets/connection_proxmox_pct_remote/files/pct
  tests/integration/targets/connection_proxmox_pct_remote/plugin-specific-tests.yml
  tests/integration/targets/connection_proxmox_pct_remote/runme.sh
  tests/integration/targets/connection_proxmox_pct_remote/test.sh
  tests/integration/targets/connection_proxmox_pct_remote/test_connection.inventory
  tests/unit/plugins/connection/test_proxmox_pct_remote.py
  tests/unit/requirements.txt
Labels: connection, tests, unit, integration, new_contributor, has_issue, new_plugin, plugins, backport-10

#9583 action/become/cache/callback: adjust import __future__ for Python3
  changelogs/fragments/9583-py3-imports-actionbecomecachecallback.yml
  plugins/action/iptables_state.py
  plugins/action/shutdown.py
  plugins/become/doas.py
  plugins/become/dzdo.py
  plugins/become/ksu.py
  plugins/become/machinectl.py
  plugins/become/pbrun.py
  plugins/become/pfexec.py
  plugins/become/pmrun.py
  plugins/become/run0.py
  plugins/become/sesu.py
  plugins/become/sudosu.py
  plugins/cache/memcached.py
  plugins/cache/pickle.py
  plugins/cache/redis.py
  plugins/cache/yaml.py
  plugins/callback/cgroup_memory_recap.py
  plugins/callback/context_demo.py
  plugins/callback/counter_enabled.py
  plugins/callback/default_without_diff.py
  plugins/callback/dense.py
  plugins/callback/diy.py
  plugins/callback/elastic.py
  plugins/callback/jabber.py
  plugins/callback/log_plays.py
  plugins/callback/loganalytics.py
  plugins/callback/logdna.py
  plugins/callback/logentries.py
  plugins/callback/logstash.py
  plugins/callback/mail.py
  plugins/callback/nrdp.py
  plugins/callback/null.py
  plugins/callback/opentelemetry.py
  plugins/callback/say.py
  plugins/callback/selective.py
  plugins/callback/slack.py
  plugins/callback/splunk.py
  plugins/callback/sumologic.py
  plugins/callback/syslog_json.py
  plugins/callback/timestamp.py
  plugins/callback/unixy.py
  plugins/callback/yaml.py
Labels: feature, callback, become, cache, plugins, action, check-before-release, backport-10

#9584 connection/inventory: adjust import __future__ for Python3
  changelogs/fragments/9584-py3-imports-connectioninventory.yml
  plugins/connection/chroot.py
  plugins/connection/funcd.py
  plugins/connection/incus.py
  plugins/connection/iocage.py
  plugins/connection/jail.py
  plugins/connection/lxc.py
  plugins/connection/lxd.py
  plugins/connection/proxmox_pct_remote.py
  plugins/connection/qubes.py
  plugins/connection/saltstack.py
  plugins/connection/zone.py
  plugins/inventory/cobbler.py
  plugins/inventory/gitlab_runners.py
  plugins/inventory/icinga2.py
  plugins/inventory/iocage.py
  plugins/inventory/linode.py
  plugins/inventory/lxd.py
  plugins/inventory/nmap.py
  plugins/inventory/online.py
  plugins/inventory/opennebula.py
  plugins/inventory/proxmox.py
  plugins/inventory/scaleway.py
  plugins/inventory/stackpath_compute.py
  plugins/inventory/virtualbox.py
  plugins/inventory/xen_orchestra.py
Labels: feature, connection, inventory, plugins, cloud, check-before-release, backport-10

#9585 filter plugins: adjust import __future__ for Python3, remove __metaclass__
  changelogs/fragments/9585-py3-imports-filter.yml
  plugins/filter/counter.py
  plugins/filter/crc32.py
  plugins/filter/dict.py
  plugins/filter/dict_kv.py
  plugins/filter/from_csv.py
  plugins/filter/from_ini.py
  plugins/filter/groupby_as_dict.py
  plugins/filter/hashids.py
  plugins/filter/jc.py
  plugins/filter/json_query.py
  plugins/filter/keep_keys.py
  plugins/filter/lists.py
  plugins/filter/lists_mergeby.py
  plugins/filter/random_mac.py
  plugins/filter/remove_keys.py
  plugins/filter/replace_keys.py
  plugins/filter/reveal_ansible_type.py
  plugins/filter/time.py
  plugins/filter/to_ini.py
  plugins/filter/unicode_normalize.py
  plugins/filter/version_sort.py
Labels: feature, filter, plugins, check-before-release, backport-10

#9578 redhat_subscription: stop manual unsubscribing on unregistration
  changelogs/fragments/9578-redhat_subscription-no-remove-on-unregister.yml
  plugins/modules/redhat_subscription.py
  tests/unit/plugins/modules/test_redhat_subscription.py
Labels: bug, module, tests, unit, plugins, redhat_subscription, backport-9, backport-10

#9571 feat(nmcli): support the fail_over_mac parameter
  changelogs/fragments/9570-feat-nmcli-add-fail-over-mac-parameter.yml
  plugins/modules/nmcli.py
  tests/unit/plugins/modules/test_nmcli.py
Labels: feature, module, tests, unit, new_contributor, has_issue, plugins, check-before-release, backport-10

#9582 ufw: added support for vrrp protocol
  changelogs/fragments/9582-add-support-for-vrrp.yml
  plugins/modules/ufw.py
Labels: feature, module, new_contributor, plugins, backport-10

#9565 add json_patch, json_patch_recipe and json_diff filters
  .github/BOTMETA.yml
  plugins/filter/json_diff.yml
  plugins/filter/json_patch.py
  plugins/filter/json_patch.yml
  plugins/filter/json_patch_recipe.yml
  tests/integration/targets/filter_json_patch/runme.sh
  tests/integration/targets/filter_json_patch/runme.yml
  tests/integration/targets/filter_json_patch/tasks/main.yml
  tests/unit/plugins/filter/test_json_patch.py
  tests/unit/requirements.txt
Labels: tests, unit, integration, new_contributor, new_plugin, plugins, backport-10

#9573 Implement #9572 Add parameter sudo to inventory plugin iocage
  changelogs/fragments/9573-iocage-inventory-sudo.yml
  plugins/inventory/iocage.py
Labels: feature, inventory, plugins, backport-10

#9598 snap: add RV version
  changelogs/fragments/9598-snap-version.yml
  plugins/module_utils/snap.py
  plugins/modules/snap.py
  plugins/modules/snap_alias.py
  tests/unit/plugins/modules/test_snap.py
Labels: feature, module, tests, unit, module_utils, plugins, backport-10

#9599 apache2-mod-proxy: refactor BalancerMember serialization
  changelogs/fragments/9599-apache2-mod-proxy-revamp1.yml
  plugins/modules/apache2_mod_proxy.py
Labels: module, plugins, backport-10

#9608 apache2-mod-proxy: receive results from fetch_url as tuple of vars
  changelogs/fragments/9608-apache2-mod-proxy-revamp3.yml
  plugins/modules/apache2_mod_proxy.py
Labels: module, plugins, check-before-release, backport-10

#9600 apache2-mod-proxy: make state option a list
  changelogs/fragments/9600-apache2-mod-proxy-revamp2.yml
  plugins/modules/apache2_mod_proxy.py
Labels: module, plugins, check-before-release, backport-10

#9613 apache2-mod-proxy: reformatted YAML blocks
  plugins/modules/apache2_mod_proxy.py
Labels: module, plugins, docs

#9612 apache2-mod-proxy: use deps to handle dependencies
  changelogs/fragments/9612-apache2-mod-proxy-revamp5.yml
  plugins/modules/apache2_mod_proxy.py
Labels: module, plugins, check-before-release, backport-10

#9618 pagerduty_alert: remove redundant required=false
  plugins/modules/pagerduty_alert.py
Labels: module, plugins, docs, check-before-release, backport-10

#9601 proxmox_template: Add optional checksum validation
  changelogs/fragments/9601-proxmox-template-support-for-checksums.yml
  plugins/module_utils/proxmox.py
  plugins/modules/proxmox_template.py
Labels: feature, module, module_utils, plugins, backport-10

#9602 allow jira transition with target id
  changelogs/fragments/9586-allow-transition-id-jira.yml
  plugins/modules/jira.py
Labels: feature, module, new_contributor, plugins, backport-10

#9614 apache2-mod-proxy: simplified/improved string manipulation
  changelogs/fragments/9614-apache2-mod-proxy-revamp7.yml
  plugins/modules/apache2_mod_proxy.py
Labels: module, plugins, check-before-release, backport-10

#9621 keycloak_client: sanitize `saml.encryption.private.key`
  changelogs/fragments/9621-keycloak_client-sanitize-saml-encryption-key.yml
  plugins/modules/keycloak_client.py
Labels: bug, module, plugins, check-before-release, backport-8, backport-9, backport-10

#9494 Keycloak modules retry request on authentication error, support refresh token parameter
  changelogs/fragments/9494-keycloak-modules-retry-request-on-authentication-error.yaml
  plugins/doc_fragments/keycloak.py
  plugins/module_utils/identity/keycloak/keycloak.py
  plugins/modules/keycloak_authentication.py
  plugins/modules/keycloak_authentication_required_actions.py
  plugins/modules/keycloak_authz_authorization_scope.py
  plugins/modules/keycloak_authz_custom_policy.py
  plugins/modules/keycloak_authz_permission.py
  plugins/modules/keycloak_authz_permission_info.py
  plugins/modules/keycloak_client.py
  plugins/modules/keycloak_client_rolemapping.py
  plugins/modules/keycloak_clientscope.py
  plugins/modules/keycloak_clientscope_type.py
  plugins/modules/keycloak_clienttemplate.py
  plugins/modules/keycloak_component.py
  plugins/modules/keycloak_group.py
  plugins/modules/keycloak_identity_provider.py
  plugins/modules/keycloak_realm.py
  plugins/modules/keycloak_realm_key.py
  plugins/modules/keycloak_realm_keys_metadata_info.py
  plugins/modules/keycloak_realm_rolemapping.py
  plugins/modules/keycloak_role.py
  plugins/modules/keycloak_user.py
  plugins/modules/keycloak_user_federation.py
  plugins/modules/keycloak_user_rolemapping.py
  plugins/modules/keycloak_userprofile.py
  tests/integration/targets/keycloak_modules_authentication/README.md
  tests/integration/targets/keycloak_modules_authentication/aliases
  tests/integration/targets/keycloak_modules_authentication/tasks/main.yml
  tests/integration/targets/keycloak_modules_authentication/vars/main.yml
  tests/unit/plugins/module_utils/identity/keycloak/test_keycloak_connect.py
Labels: check-before-release, backport-10

#9225 Proxmox module refactoring
  changelogs/fragments/9225-proxmox-module-refactoring.yml
  plugins/module_utils/proxmox.py
  plugins/modules/proxmox.py
Labels: bug, module, module_utils, plugins, check-before-release, backport-10

#9437 Add module proxmox_backup_info
  .github/BOTMETA.yml
  meta/runtime.yml
  plugins/modules/proxmox_backup_info.py
  tests/unit/plugins/modules/test_proxmox_backup_info.py
Labels: module, tests, unit, new_contributor, new_plugin, plugins, check-before-release, backport-10

#9623 pipx: use global in state=latest
  changelogs/fragments/9623-pipx-global-latest.yml
  plugins/modules/pipx.py
  tests/integration/targets/pipx/tasks/main.yml
  tests/integration/targets/pipx/tasks/testcase-9619-latest-global.yml
Labels: bug, module, tests, integration, plugins, backport-9, backport-10

#9633 onepassword_ssh_key: avoid inheriting from OnePassCLIv2
  changelogs/fragments/9633-onepassword_ssh_key.yml
  plugins/lookup/onepassword_ssh_key.py
Labels: lookup, plugins, check-before-release, backport-10

#9645 proxmox: fix pubkey translation and usage in update
  changelogs/fragments/9645-proxmox-fix-pubkey.yml
  plugins/modules/proxmox.py
Labels: bug, module, plugins, check-before-release, backport-10

#9649 cloudflare_dns: fix crash when deleting a DNS record or when updating a record with solo=true
  changelogs/fragments/9649-cloudflare_dns-fix-crash-when-deleting-record.yml
  plugins/modules/cloudflare_dns.py
Labels: bug, module, new_contributor, has_issue, traceback, plugins, backport-9, backport-10
